[2021-03-16 04:10] InRaysee opened #3576 "Multiple Videos Synchronization"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I use dash.js to build my 360 video player. For some reasons I need to transcode and play the 360 video in faces with CMP mode, which means the method mentioned in Wiki might not work. Instead, recently I try to build 6 mediaplayers by dash.js and each player loads one of the faces (totally 6 faces in a c

[2021-03-16 07:06] dsilhavy commented on #3576
Did you check this demo? http://reference.dashif.org/dash.js/nightly/samples/live-streaming/synchronized-live-playback.html

[2021-03-16 07:08] dsilhavy commented on #3572
@malthejorgensen That sounds like a very nice addition. Regarding #3573 : Is this ready for review or are you still changing some parts?

[2021-03-16 07:10] dsilhavy commented on #3571
Thanks @Serhii-the-Dev for the answer, closing this. Please create another issue if you still encounter problems.

[2021-03-16 07:10] #3571 closed

[2021-03-16 07:37] InRaysee commented on #3576
Hi! Thanks for your quick response. Yes I've checked this demo and learn about the catchup mode. However, when I try to replace the source in the demo as a recorded video and stop one of them for a while, it just cannot catch up like the situation when playing a live stream. Is there any codes I need to change for playing a recorded video with catchup mode?

Btw sorry for bothering and thanks for

[2021-03-16 07:55] dsilhavy commented on #3575
Imlemented in #3577

[2021-03-16 07:55] #3575 closed

[2021-03-16 07:57] dsilhavy commented on #3565
Can you please check if #3578 solves your issue

[2021-03-16 08:51] ToshB commented on #3565
I can confirm that #3578 solves my issue 👍
Thanks!

[2021-03-16 10:08] malthejorgensen commented on #3572
Hi @dsilhavy. The PR is now in a reviewable state, but not finalized since I'd like someone more experienced with this codebase to consider these:
- It duplicates code from `TextSourceBuffer.createTextTrackFromMediaInfo`
- I'm unclear about how to handle errors in various cases
- It adds `TextTracks.getNumberOfTextTracks()` since we need the total number of text tracks to call `TextTracks.addTextT

[2021-03-16 11:09] InRaysee commented on #3576
Hi! Just want to update that I have solved this issue by a optimized catchup mechanism.
I've noticed that the current version of catchup mechanism only supports live streams, so I customize some related functions in PlaybackController.js to make it compatible with recorded video streaming.

[code]
Thanks for your help again. Look forward to a better way to optimize this feature. XD

[2021-03-16 11:09] #3576 closed

[2021-03-17 06:58] dsilhavy commented on #3565
Added in #3578

[2021-03-17 06:58] #3565 closed

[2021-03-17 07:26] #3568 closed

[2021-03-17 07:40] dsilhavy commented on #3555
Please check #3563 . It adds the possibility for custom filters. Working example: http://reference.dashif.org/dash.js/nightly/samples/advanced/custom-capabilities-filters.html

[2021-03-17 07:40] #3555 closed

[2021-03-17 07:41] dsilhavy commented on #3542
Fixed in #3561

[2021-03-17 07:41] #3542 closed

[2021-03-18 16:38] grabofus opened #3582 "Player fails to make DRM license requests"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-03-18 17:24] mlasak commented on #3259
We stumbled upon this behavior during analysis of #3538

The segments referenced by the MPD above ("link to playable MPD") are not available anymore. However, managed to reproduce the problem with the [live-sim content](http://mediapm.edgesuite.net/will/dash/lowlatency/low-latency-public-variable.html?latency=3&url=https://livesim.dashif.org/livesim/chunkdur_1/ato_7/testpic4_8s/Manifest.mpd). Star

[2021-03-23 01:41] orange4glace opened #3585 "Aborting pending fragment requests while quality change breaks the video"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-03-23 06:53] dsilhavy commented on #3585
This should be fixed as part of the major rewrite in 4.0. Can you try in this alpha version please: https://github.com/Dash-Industry-Forum/dash.js/pull/3413

[2021-03-23 15:54] ProIcons opened #3586 "There are no streamsnostreamscomposed on a dynamic manifest while they clearly are there."
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-03-23 17:36] ProIcons commented on #3586
After adding Period@Start for the first period the error became:
"Data update failed"

[2021-03-23 18:49] TheJohnBowers opened #3587 "Live stream that starts playback with 3.1.3 fails to start on 3.2.0 and 3.2.1"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-03-23 19:04] TheJohnBowers opened #3588 "Playback buffer drains unnecessarily moving from encrypted - to unencrypted back to encrypted content (using same keys)"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-03-24 07:13] dsilhavy commented on #3587
Can you please check if your problem is fixed in the alpha version of 4.0 : https://reference.dashif.org/dash.js/v4.0.0-alpha/samples/dash-if-reference-player/index.html

[2021-03-24 07:13] dsilhavy commented on #3588
Can you please check if your problem is fixed in the alpha version of 4.0 : https://reference.dashif.org/dash.js/v4.0.0-alpha/samples/dash-if-reference-player/index.html

[2021-03-24 07:13] dsilhavy commented on #3585
Hosted alpha version of 4.0 https://reference.dashif.org/dash.js/v4.0.0-alpha/samples/dash-if-reference-player/index.html

[2021-03-24 13:49] bbert opened #3589 "Track switch fails if SegmentBase"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-03-24 14:23] ProIcons commented on #3586
Turns out some fields were missing from the manifest which google's shaka-player completely ignored and recovered.

[2021-03-24 14:23] #3586 closed

[2021-03-25 12:52] orange4glace commented on #3585
Thanks @dsilhavy ! Although we are currently not in a such situation that we can change the major version of dash.js :(
Is there any option that we can hot-fix this?

[2021-03-25 18:58] gkatsev commented on #3588
Is the v4 alpha reflected anywhere in GitHub? Is it just what's in the development branch?

[2021-03-25 19:10] TheJohnBowers commented on #3588
Ok... I guess I am not seeing this at: https://reference.dashif.org/dash.js/v4.0.0-alpha/samples/dash-if-reference-player/index.html
So that is great!  The only problem is that it is listed as an alpha.  Is there any place to submit test streams to assist in providing a robust set of tests for the 4.0 release?

[2021-03-26 03:59] orange4glace opened #3591 "Aborting delayed HTTPRequest stops ScheduleController"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-03-26 07:02] dsilhavy commented on #3591
@orange4glace Can you please check if this is still happening in 4.0 alpha https://reference.dashif.org/dash.js/v4.0.0-alpha/samples/dash-if-reference-player/index.html

[2021-03-26 07:08] dsilhavy commented on #3588
- v4 will be based on the changes here which are currently not merged in development yet: https://github.com/Dash-Industry-Forum/dash.js/pull/3413 .
- I started a new discussion thread here: https://github.com/Dash-Industry-Forum/dash.js/discussions/3592 . Please paste your reference streams there with a short description and the required information for playback.

[2021-03-26 07:18] dsilhavy commented on #3470
@kr3l Could you please check if you can reproduce this problem in 4.0 alpha: https://reference.dashif.org/dash.js/v4.0.0-alpha/samples/dash-if-reference-player/index.html

[2021-03-26 07:27] dsilhavy commented on #3461
@chanyk-joseph Can you please check if your problem is fixed in 4.0 alpha: https://reference.dashif.org/dash.js/v4.0.0-alpha/samples/dash-if-reference-player/index.html

[2021-03-26 07:40] kr3l commented on #3470
Thanks for your answer. I'm sorry, but we switched to another solution by now and I can't spend any time on this now.

[2021-03-29 13:43] #3558 closed

[2021-03-29 14:04] dsilhavy commented on #3408
Should be fixed in 4.0-alpha. @fabienvallee Can you do a check here? : https://reference.dashif.org/dash.js/v4.0.0-alpha/samples/dash-if-reference-player/index.html

[2021-03-29 19:55] Suges opened #3593 "Captions appearing too far to the left on first instantiation, corrects after browser resize"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-03-30 01:44] aYutaSekiguchi opened #3594 "Dash.js fails multiperiod switching when seamless period switch is not allowed"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-03-30 06:35] dsilhavy commented on #3594
@aYutaSekiguchi What would be the reason to turn off gap jumping? The problem is that playback will stall as soon as there is a small gap in one of the SourceBuffers (for instance if periods are not aligned or segment durations are slightly too small). The player can only overcome such situations by jumping over the gap. If gap jumping is turned off, playback will stall and the player does not rec

[2021-03-30 06:38] dsilhavy commented on #3589
Should be fixed in 4.0 : https://reference.dashif.org/dash.js/v4.0.0-alpha/samples/dash-if-reference-player/index.html

[2021-03-30 10:53] dsilhavy commented on #3537
- Header mode has been implemented here: #3554 . It can be tested in the reference client by selecting transmission mode "header" in the CMCD options.
- I leave this ticket open until the following enhancements have been made:
  - Introduce mode "dynamic" to make dash.js select the best mode depending on the segment format (for instance prefer header mode in SegmentBase Range Request case)
  - Err

[2021-03-30 11:27] dsilhavy commented on #3593
Can you provide sample content to reproduce?

[2021-03-30 15:06] chanyk-joseph commented on #3461
Hi @dsilhavy , the playback is smooth on the 4.0 alpha build

[2021-03-30 18:42] redd29 opened #3595 "Stream quality not changing immediately"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-03-31 05:38] dsilhavy commented on #3595
Try enabling fastSwitch:

[code]

 * @property {boolean} [fastSwitchEnabled=false]
   * When enabled, after an ABR up-switch in quality, instead of requesting and appending the next fragment at the end of the current buffer range it is requested and appended closer to the current time.
   * When enabled, The maximum time to render a higher quality is current time + (1.5 * fragment duration).
   *

[2021-03-31 06:19] redd29 commented on #3595
Ok now im seeing that the quality doesnt set to what i set, it automatically bumps it

[2021-03-31 06:27] aYutaSekiguchi commented on #3594
Thank you for your comment!

I had been looking into the problem that the player with `reuseExistingSourceBuffers` = false on my page fails multiperiod switch and found that the same issue occurs in the reference client when `jumpGaps` setted to false.
So I thought it may be the Dash.js 's issue.

I will investigate this issue further, so I close this issue for now.
Once the issue becomes clearer,

[2021-03-31 06:27] #3594 closed

[2021-03-31 07:12] dsilhavy commented on #3595
Try to disable ABR if you dont want to automatically adjust the quality after a change:

[code]

[2021-03-31 14:15] #3595 closed

[2021-04-01 07:45] dsilhavy commented on #2934
Unstale

[2021-04-05 18:35] nicoweilelemental opened #3597 "Live thumbnails with Time+SegmentTimeline return 404s"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [ ] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x]x The issue occurs

[2021-04-06 15:34] dsilhavy commented on #3597
- 404s should be fixed in 4.0 alpha: https://reference.dashif.org/dash.js/v4.0.0-alpha/samples/dash-if-reference-player/index.html?mpd=https://d24rwxnt7vw9qb.cloudfront.net/out/v1/91d37b0389de47e0b5266736d3633077/index.mpd
- Thumbnails are currently limited to periods which have been activated (meaning the period is playing or has been played). Caused by ThumbnailController being initialized once

[2021-04-06 18:03] nicoweilelemental commented on #3597
Thanks, I see it working now. The current activation behavior is probably acceptable when playing streams with a very limited DVR window, but it's true that it's hard to understand from an end-user perspective. We'll soon have thumbnails on the ad periods too, so it will be a good occasion to take another look at it.

[2021-04-07 06:19] dsilhavy opened #3598 "Use Media Capabilities API to check decoding support"
**Is your feature request related to a problem? Please describe.**
The `decodingInfo` method of the MediaCapabilities API provides detailed information on the decoding capabilities of a device. We should prefer this method over `MediaSource.isTypeSupported` if available.

**Describe the solution you'd like**
Implement a dynamic switch: If MediaCapabilities API and `decodingInfo` is available use t

[2021-04-07 13:01] dsilhavy commented on #3598
First version implemented here: https://github.com/Dash-Industry-Forum/dash.js/pull/3413/commits/331566258fd023b3cfea1457371fa2b4abb540df

[2021-04-09 11:44] dmitryrodnikov opened #3600 ""Uncaught TypeError: Cannot read property 'waitForUpdateEnd' of null" in multiperiod stream example"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-04-09 12:29] dsilhavy commented on #3600
Can you please check if this is fixed in the nightly build: http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

[2021-04-09 12:48] dmitryrodnikov commented on #3600
Yes, seems like it fixed in nightly build

[2021-04-10 14:32] ashutoshsingh0223 opened #3601 "Clear key serverURL getting [object Object]` in POST request body instead of key ids"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-04-11 22:22] ashutoshsingh0223 commented on #3601
Any help would be greatly appreciated. We are not getting proper body on server side in the POST request send to serverURL

[2021-04-11 22:23] ashutoshsingh0223 commented on #3601
Our server is written in Django

[2021-04-11 22:26] ashutoshsingh0223 commented on #3601
The license url I am putting in gets [object Object] in its request body. It should receive an array of key ids. My decryption works fine for now because I am returning a harcoded response of proper keys no matter the request data

[2021-04-11 22:36] ashutoshsingh0223 commented on #3601
[https://private-ott.ams3.cdn.digitaloceanspaces.com/WhatsApp%20Image%202021-04-12%20at%2000.35.08.jpeg](url)

[2021-04-11 22:37] ashutoshsingh0223 commented on #3601
![WhatsApp Image 2021-04-12 at 00 35 08](https://user-images.githubusercontent.com/40604544/114323793-3af38600-9b27-11eb-91bd-b65f86666081.jpeg)
![WhatsApp Image 2021-04-12 at 00 34 59](https://user-images.githubusercontent.com/40604544/114323798-3d55e000-9b27-11eb-9a9e-a36bcad239fc.jpeg)
![WhatsApp Image 2021-04-12 at 00 23 39](https://user-images.githubusercontent.com/40604544/114323801-3dee7680

[2021-04-11 22:39] ashutoshsingh0223 commented on #3601
Please refer to the images above:
We are getting data right till here but after request is completed. Request Payload is `object [Object]`. And license server also receives the same non-json serializable data i.e `object [Object]`

[2021-04-12 00:27] jimmymic commented on #2968
We have replicated this issue in 3.2.1 have applied a patch with PR #3603 which appears to resolve the issue

[2021-04-12 06:13] #3585 closed

[2021-04-13 07:59] mlasak opened #3605 "Code style: fix linter config"
We are in the [process](https://github.com/Dash-Industry-Forum/dash.js/pull/3596) of [transitioning](https://github.com/Dash-Industry-Forum/dash.js/pull/3253) the project to use more state of the art tooling. Previously, jshint was used but at many places rules were selectively turned off. To improve overall code quality best practice linting rules should be enabled and used/enforced throughout th

[2021-04-15 07:41] maral21 opened #3607 "Problems with Akamai ControlBar.js"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [] There are no network errors such as 404s in the browser console when trying to play the stream
- [] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs in t

[2021-04-15 19:10] mlasak opened #3609 "CircleCI: Add Windows executor"
To make sure that building this project works on all common dev platforms we should add Windows executor to the ci script if possible.
https://circleci.com/docs/2.0/hello-world-windows/

[2021-04-16 03:58] orange4glace opened #3610 "Necessity of minBufferToKeep setting"
Currently, `bufferToKeep` can be set by user, but this is also changing by internally when `QUOTA_EXCEED_ERROR` occurs.
Let's say `bufferToKeep` is set to `3` by internally (by `QUOTA_EXCEEDED_ERROR`) and each data fragment has 5 seconds long.
Now, assuming that currentTime is `2313.827`, current buffered range is `2304.969 - 2329.994` and `QUOTA_EXCEED_ERROR` occured.
It will clear buffers from `

[2021-04-18 16:37] Douina commented on #2115
please can any one explain to me the SwitchHistoryRule ,please i didn't undrestrand it and i need  it

[2021-04-19 02:48] spiterikevin commented on #2115
SwitchRequestHistory stores switch history for the last SWITCH_REQUEST_HISTORY_DEPTH=8 switchRequests. If a switchRequest changes the quality from oldValue to newValue such that newValue is a lower quality than oldValue, then it counts as a drop. Otherwise it counts as a noDrop.

switchRequests[i] contains a sum of the drop and noDrop counts for each swithRequest in the last 8 for which oldValue w

[2021-04-19 11:31] #3447 closed

[2021-04-20 17:07] ashutoshsingh0223 commented on #3601
@dsilhavy @DASHAdmin Any ideas?

[2021-04-21 08:22] dsilhavy commented on #3601
Try `JSON.stringify` :

[code]

[2021-04-21 09:37] ashutoshsingh0223 commented on #3601
I was doing this
[code]

[2021-04-21 09:38] ashutoshsingh0223 commented on #3601
Thanks a lot. Everything works now @dsilhavy

[2021-04-21 09:38] #3601 closed

[2021-04-21 09:52] dsilhavy commented on #3537
@wilaw We are currently working on the dynamic mode. For that purpose, we want to check if the CDN supports the CMCD headers. If thats the case we can switch between query parameter mode and header mode.

In order to be able to access this information the following additional header field needs to be set:
`Access-Control-Expose-Headers`: allows a server to indicate which response headers should be

[2021-04-21 13:27] Douina commented on #2115
SWITCH_REQUEST_HISTORY_DEPTH=8
and what about 8 segments ,8 segs that we are already readed it , or  of the buffer ?

[2021-04-21 14:15] blicky opened #3613 "Buffer sync error when switching audio across different adaptation sets"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-04-21 15:52] dsilhavy commented on #3613
Please check if this is fixed in:

- Nightly: https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html
- 4.0 alpha: https://reference.dashif.org/dash.js/v4.0.0-alpha/samples/dash-if-reference-player/index.html

[2021-04-22 14:53] dsilhavy commented on #3600
Fixed in 3.2.2

[2021-04-22 14:53] #3600 closed

[2021-04-23 19:53] dsilhavy commented on #1499
`playbackController.updateCurrentTime` performs a seek once the client is out of the DVR window.

[2021-04-23 19:53] #1499 closed

[2021-04-23 19:55] dsilhavy commented on #1629
Was added some time ago https://reference.dashif.org/dash.js/latest/samples/offline/index.html

[2021-04-23 19:55] #1629 closed

[2021-04-23 19:57] dsilhavy commented on #1803
@sergiyshutov Can you please check if this bug still occurs in the nightly (v4.0): http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

[2021-04-23 20:04] dsilhavy opened #3615 "Version 4.0 - Open bugs/missing features - Container ticket"
Ticket to keep track of open bugs and missing features for target release 4.0

### Bugs
- Fix Typescript definition
- ~~Fix display of wrong values in reference UI~~
- ~~Fix functional tests for texttracks~~
- ~~Add missing JSDoc~~
- ~~Repair offline demo~~
- ~~Longterm playback of multiperiod streams causes segment download error~~

### Missing features
- If required, add preload functionality ag

[2021-04-23 20:06] dsilhavy commented on #1937
Implemented for startup logic in 4.0 as new setting:

`streaming.buffer.initialBufferLevel`

[2021-04-23 20:09] dsilhavy commented on #1968
@wilaw I wonder if this is still relevant and should be supported in dash.js. Would also need to check if MSE supports playback of muxed content.

[2021-04-23 20:13] dsilhavy commented on #2055
We expose `dashjs.supportsMediaSource` to check for MSE support

[2021-04-23 20:13] #2055 closed

[2021-04-23 20:25] dsilhavy commented on #2293
We added support for switching between Representations of different AdaptationSets in 4.0, nigthly version is available here: https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

@BucherTomas Can you do some tests on your side? When switching between content with different keys I sometimes run into a decode error. Have to investigate further what causes this

[2021-04-23 20:28] dsilhavy commented on #2421
Added support for this in 4.0, nightly build available here: https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

We rely on `changeType`, audio switch between mp4 and opus successfully tested with https://storage.googleapis.com/shaka-demo-assets/angel-one-widevine/dash.mpd

[2021-04-23 20:30] dsilhavy commented on #2507
Added, example available here: https://reference.dashif.org/dash.js/nightly/samples/drm/license-wrapping.html

[2021-04-23 20:30] #2507 closed

[2021-04-23 20:52] shoys89 commented on #2421
That seems to work, thanks @dsilhavy

[2021-04-24 04:46] superashraf commented on #1915
![82584669.jpeg](https://user-images.githubusercontent.com/82584669/115947526-0bab2480-- a4ea-11eb-8b0c-3ce28dee571f.jpeg)
# jjjkkk
~[dghh](tyu)~~

[2021-04-24 04:51] superashraf commented on #1915
# fghhh ghhh hhjj

[2021-04-24 13:17] dsilhavy commented on #2682
license request and response modification is implemented and an example is available here:
https://reference.dashif.org/dash.js/nightly/samples/drm/license-wrapping.html

[2021-04-24 13:17] #2682 closed

[2021-04-24 13:21] dsilhavy commented on #2861
@Lastique In 4.0 we use `changeType` to switch between AdaptationSets with different codecs. We also filter unsupported codecs prior to playback start. Please check if your problem is solved in the nightly build:

http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

[2021-04-24 14:33] dsilhavy commented on #2934
Anyone in this thread still facing this problem and can check if it is solved in 4.0:

https://reference.dashif.org/dash.js/nightly/samples/

[2021-04-24 14:37] dsilhavy commented on #3022
We should add the possibility to define a initial track selection algorithm in the app. It should be called in `MediaController.selectInitialTrack`

[2021-04-24 14:39] dsilhavy commented on #3305
Added setting to define an initial buffer level when playback is started:
[code]

[2021-04-24 14:39] #3305 closed

[2021-04-24 15:27] dsilhavy commented on #3461
Fixed in 4.0:
http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

[2021-04-24 15:27] #3461 closed

[2021-04-24 15:29] dsilhavy commented on #3470
Works for me in 4.0:
http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

[2021-04-24 15:29] #3470 closed

[2021-04-25 06:23] dsilhavy commented on #3589
Fixed in 4.0

[2021-04-25 06:23] #3589 closed

[2021-04-25 06:29] dsilhavy commented on #3607
The caption button only appears if there are texttracks available

[2021-04-25 06:43] dsilhavy commented on #3587
Stream starts for me in 4.0 https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html , please reopen if you encounter any problems

[2021-04-25 06:43] #3587 closed

[2021-04-25 10:32] zzzzzc commented on #1066
this issue  still exists,still has warning.

[2021-04-25 12:57] dsilhavy commented on #1066
@zzzzzc which url did you use? you might have to open with https

[2021-04-25 16:29] ashutoshsingh0223 opened #3617 "CBCS encryption not working on firefox"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-04-25 19:27] francoism90 commented on #2934
@dsilhavy How can I install this with npm? :)

[2021-04-26 05:54] ethan-chong opened #3618 "ABR stuck with ONE bitrate (low) after seeking"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-04-26 06:08] dsilhavy commented on #2934
The current dev version is not available on npm. You need to clone this repo, checkout the development branch and follow the instructions to build the project.

[2021-04-26 07:22] dsilhavy commented on #3617
If this is working in Chrome and other browsers I dont think it is a dash.js issue.

[2021-04-26 07:23] dsilhavy commented on #3618
- Does the problem occur in the nightly version: http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html
- Try different ABR algorithms dynamic, BOLA, Throughput
- Is your server responding fast enough? Do you see a stable buffer and still no switchup?

[2021-04-26 09:04] davemevans opened #3619 "v4: IE11 fails to play throwing 'Promise' is undefined"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-04-26 11:07] dsilhavy commented on #3619
@bbert @mlasak We discussed this briefly before:

We should definitely support older devices which do not have native Promise support (including IE11), so we need to polyfill.

Is it sufficient to add something like this, or do we need further optimizations:

`options: { presets: [['@babel/preset-env', { targets: { 'ie': '11' } }]] }`

[2021-04-26 12:07] bbert commented on #3619
Or simply using https://www.npmjs.com/package/es6-promise-promise

[2021-04-26 14:45] #3598 closed

[2021-04-26 16:42] wilaw commented on #1968
MSE does support playback of muxed content, so that is not an issue. I think a use-case of interest is low latency streaming, in which the request rate can be cut in half by switching to muxed content.

The main argument against supporting this is that it is not CMAF compliant. That is a pretty major one. I would say you have higher priority feature requests to implement. Maybe we leave this open

[2021-04-26 16:55] dsilhavy commented on #1968
Sounds good, thanks. Anyone who is interested in this feature please leave a comment.

[2021-04-26 18:34] derwaldgeist commented on #1968
My main argument would be that AWS MediaConvert sets this as default, and as this is a commonly used service, it affects quite a number of potential users / many users may fall into this trap as I did. There is a manual workaround, though.

[2021-04-26 19:05] mlasak commented on #3538
Hi @sandersaares, with out new throughput measurement method the low latency streaming looks like this
![image](https://user-images.githubusercontent.com/1204653/116136734-fb09d280-a6d2-11eb-939c-fcef3c7076c7.png)
Will raise a PR for review.

[2021-04-27 00:58] ethan-chong commented on #3618
Thanks for the response @dsilhavy!

    Yes.

 Both of them are experiencing the issue when set separately.

Yes to both question.

[2021-04-27 03:20] archinal commented on #3618
Just adding to this, I'm able to reproduce this issue on all sample players since [3.1.1](https://reference.dashif.org/dash.js/v3.1.1/samples/dash-if-reference-player/index.html) (i.e. it worked on 3.1.1, and broke on [3.1.2](https://reference.dashif.org/dash.js/v3.1.2/samples/dash-if-reference-player/index.html)+), suggesting [this bug may have been introduced here](https://github.com/Dash-Indust

[2021-04-27 07:00] dsilhavy commented on #3618
Thanks, can you check if #3620 solves your problem. I think what happened here is:

1. User performs seek, buffer is empty, `BUFFER_EMPTY` is thrown
2. As long as the current buffer state is equal to `BUFFER_EMPTY` the `InsuffucientBufferLevelRule` always returns 0 as quality
3. Instead of the `stableBufferTime` the `manifest@minBufferTime` was used as threshold to trigger the `BUFFER_LOADED` even

[2021-04-28 00:53] ethan-chong commented on #3618
Thanks @dsilhavy! The issue seems to be fixed on the nightly build.

When is the next scheduled release that includes the fix?

[2021-04-28 07:17] dsilhavy opened #3622 "MSS live streams do not start in 4.0"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [] There are no network errors such as 404s in the browser console when trying to play the stream
- [] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs in t

[2021-04-28 12:14] bbert opened #3623 "Seek to DVR window range start fails"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-04-28 13:15] dsilhavy commented on #3618
Next release will be a major release (4.0). We aim for end of May, but this date might be slightly adjusted depending on whether we identify major issues with the current code base.

[2021-04-28 13:45] bbert commented on #3623
The issue is due to the check if current playback time is in current DVR window range.
When seeked to DVR window start, afterwhile DVR window is upated and current playback time (seek time) is priori to new DVR window start (elapsed time to achieve seeking, or first segment of DVR window being removed after manifest updated).

Shouldn't we check and update current time only if playback is stalled?

[2021-04-28 14:30] dsilhavy commented on #3623
@bbert Agreed, this is caused by `playbackController.updateCurrentTime`.

I think it makes sense to only check this if playback is stalled.

Regarding seeking to DVR window start, I agree that this should work in case we only check once playback is stalled. without the playback stalled check we might end up in a loop, seeking to DVR.windowStart and immediately falling out of the window again.

Can

[2021-04-28 15:04] dsilhavy commented on #3618
Fixed in 4.0

[2021-04-28 15:04] #3618 closed

[2021-04-28 15:14] #3623 closed

[2021-04-28 23:44] ethan-chong commented on #3618
thanks!

[2021-04-29 09:26] BucherTomas commented on #2293
@dsilhavy Thank you for working on this. I did test with a couple of streams on Nightly build, but cannot see any difference. The player still picks video tracks from a single adaptation set.

As an example, this is reproducible also with dash.js's own test vector "DRM (Modern]/[Axinom] 1080p with PlayReady and Widevine DRM, multiple keys" even though the player does request multiple licenses sinc

[2021-04-29 10:23] ashutoshsingh0223 commented on #3617
Firefox is supposed to support to CBCS according to them

[2021-04-29 11:47] dsilhavy commented on #2293
@BucherTomas My description wasnt precise enough. dash.js will **not** switch between different AdaptationSets when doing ABR. However, you can switch AdaptationSets in the application which should not cause a reset of the MSE anymore. Once the new AdaptationSet is played ABR will performed with the "new" Representations.

[2021-04-29 14:41] #3622 closed

[2021-04-29 20:26] sergiyshutov commented on #1803
@dsilhavy yes.

[2021-04-30 18:52] jbree opened #3628 "Out-of-date fragmented track cues not cleared on video buffer cleanup during playback"
I have noticed that player teardown can take a long time (5+ seconds) after long-playing videos with a high volume of cues. It appears that dash.js does not clear cues from a `fragmentedTrack` until the player is torn down completely.

I believe fragmented track cues should be handled similarly to embedded track cues in the `onVideoBufferCleared(e)` function, but would like to be disabused of this

[2021-05-04 07:52] bbert opened #3629 "v4: dynamic to static broken"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-05-04 16:05] dsilhavy commented on #3629
@bbert Thanks for reporting, there was a bug in the calculation of the segment availability end time for streams with end time set to "Infinite".

Can you confirm that this https://github.com/Dash-Industry-Forum/dash.js/commit/49e4f5c0400af6988b42dd017e9b01b7407f72ee fixes the issue.

[2021-05-05 09:15] bbert commented on #3629
The commit fixes the issue for starting playback.
However, at dynamic to static transition, there is a regression since buffering is signaled to be completed, and if we seek back before reaching end of stream, then no more new segments are requested.
In previous version we were checking if there was no more segment in list before triggering buffering to be completed.

[2021-05-07 11:13] hypersonic64 opened #3632 "Trouble when seeking in video"
Hi there,
we use dash.js 3.2.2 for a player in standard config with ABR. The video chunks were rendered using ffmpeg, segment duration is 4 seconds, the video is 1080p with 5000kps.
As long as I start and play the video without seeking, the player uses the max. bitrate (5000kps) and all is fine.
When I seek to a near the end of the video the bitrate drops to 400 or 1000kps and does not come back t

[2021-05-07 12:37] hypersonic64 commented on #3632
Uhm, not so easy, cause the nightly seems to be rel. 4.0.0, we use dash 3.2.2.
When I use the http://reference.dashif.org/dash.js/nightly/dist/dash.all.debug.js in my setting I get an error "Uncaught Error: event type cannot be null or undefined" in dash.all.debug.js:16570:13 in function EventBus().
Obviously I need to change my javascript code or load some more libs?

[2021-05-07 12:54] hypersonic64 commented on #3632
I tried the mpd file in the reference player you linked to and there the problem seems to be fixed. The player now always loads the 5000kps video stream after every seek.
As this bug fix is essential to us: How stable is the 4.0.0 release, can I use in productive environment?

[2021-05-07 13:09] hypersonic64 commented on #3632
I now downgraded my player to rel. 3.1.1 as mentioned in the bug report 3618 and with that release also everything works fine.
So, this seems to be the best solution for now and I can upgrade to 4.0 when it's officially released.
Thanks
Hyper

[2021-05-10 15:15] s-cros opened #3634 "Dash.js player does not go to the live edge when the maximum segment duration is greater than the segment duration."
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-05-13 17:32] wilaw commented on #3537
I could add this value, however the player is always going to encounter situations where the header is not present and it needs to be robust over those. The same is true if it tries to add a custom hearer to send the data. So I suggest the dynamic mode be built such that it tries to write the custom headers and reacts to the error if it can't.

[2021-05-13 21:31] wilaw opened #3636 "Make player robust over MEDIA_ERR_DECODE errors"
The 3.2.2 player simply stops playback if it encounters a Media decode error as shown below.

![image](https://user-images.githubusercontent.com/2762250/118167154-3ac30080-b3db-11eb-9369-da68574e2582.png)

The preferred behavior would be that it clears the affected sourcebuffer of the offending data and resumes playback, perhaps skipping to the next segment boundary. Live players should attempt to

[2021-05-14 06:01] dsilhavy commented on #3588
Fixed in 4.0, available in nightly: https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

[2021-05-14 06:01] #3588 closed

[2021-05-14 06:03] dsilhavy commented on #2868
@TobbeEdgeware Any chances this can be fixed?

[2021-05-14 06:05] dsilhavy commented on #3408
Fixed in 4.0, available in the nightly build: https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

[2021-05-14 06:05] #3408 closed

[2021-05-14 06:07] #1937 closed

[2021-05-14 06:10] dsilhavy commented on #3613
@blicky This should be fixed in nightly, I suppose you were testing with a livestream? There was a bug causing the player to choose the wrong AS after an MPD reload. Can you please confirm?

[2021-05-14 06:40] Murmur opened #3637 "Manifest(out-of-band) mdp refresh not working, event written to a console log but mpd not reloaded"
We are compiling a dynamic(live) multiperiod, see this very simple test. I try to refresh manifest using an out-of-band `<Event>` but manifest is not reloaded, I can see an event triggered in a browser's console log.

I believe this used to work a little over year ago in dashjs v3.1.0 release even in a static vod, althought refreshing a vod manifest makes no sense.

https://reference.dashif.org/da

[2021-05-14 17:35] gschian0 opened #3638 "Npm install not working on macbook m1 pro"
##### Environment
Macbook pro m1 using vscode terminal

##### Steps to reproduce
type npm install into terminal to install packages

##### Observed behavior
quits and doesn't install the node modules

##### Console output
[code]

##### Expected behavior
install the modules.

[2021-05-15 06:16] dsilhavy commented on #3637
Should be fixed here: https://github.com/Dash-Industry-Forum/dash.js/commit/dff245ff70c00191a174678b4c19df168dbc7c31 We applied a strong comparison including the type which lead to "1" !== 1.

You can check in nightly: http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

[2021-05-15 06:37] Murmur commented on #3637
Thanks, it works in a nightly build. Player do get a short 1s freeze at the end of last mpd period before continuing to a new manifest. I have to study if this is something to do with manifest syntax.
test: https://refapp.hbbtv.org/videos/multiperiod_v3.php

Initial manifest has a `<Location>` redirect field to maintain a simple playback session. The following 2..n manifests have a connectivity `l

[2021-05-17 07:00] #3473 closed

[2021-05-17 09:36] davemevans commented on #3638
`iron-node` uses an ancient version of Electron for which there is no build available for `darwin-arm64`, and the iron-node project looks to be abandoned (no activity for ages).

dash.js would need to find an alternative, up to date, tool that provides the same functionality (not sure if one exists anymore though), or maybe just force people to use node's built-in features alongside Chrome to debu

[2021-05-18 07:03] Murmur opened #3639 "Player freezes for 2 seconds on starting to playback next manifest after the mpd refresh event reload"
Nightly build and a test script.
https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html
https://refapp.hbbtv.org/videos/multiperiod_test.php

This is a simplified live script, uses the vod segments, Period@start, SegmentTemplate@startNumber, SegmentTemplate@presentationTimeOffset values to control the global timeline.

**Player freezes for 2 seconds on starting to

[2021-05-18 07:11] dsilhavy commented on #3638
I think we can remove:

[code]

It looks like this was used to debug the mocha tests but there are other ways to debug.

[2021-05-18 07:54] dsilhavy commented on #3638
@gschian0 I removed the iron-mocha and iron-node dependencies: https://github.com/Dash-Industry-Forum/dash.js/commit/f6c76faa823ba978bedad28c05ac10ea110ff312 . Can you please check again.

[2021-05-18 20:23] gschian0 commented on #3638
Hey!  Now npm install is working and I have the web app running.  Thanks, I needed to dig into your source to figure out how to grab a texture from a dash stream separate from the audio and convert it into a webgl texture, then deal with the audio from the stream separately.  Is there a discord channel or board that I can ask specific questions about decoding streams?  I'm attempting to use dash p

[2021-05-18 21:09] tuantranthai opened #3640 "Player not ask again media segment after receiving some packets and then nothing"
##### Environment
- [X] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs i

[2021-05-19 07:08] dsilhavy commented on #3638
I recommend to join the DASH-IF Slack channel: https://join.slack.com/t/dashif/shared_invite/zt-egme869x-JH~UPUuLoKJB26fw7wj3Gg

The #video-dev Slack channel: video-dev.slack.com also has a lot of useful sub-channels and very helpful people.

Gonna close this issue, @davemevans thanks for your input.

[2021-05-19 07:08] #3638 closed

[2021-05-19 07:15] dsilhavy commented on #3637
Fixed, see comment above. There is a separate issue for the freeze: https://github.com/Dash-Industry-Forum/dash.js/issues/3639

[2021-05-19 07:15] #3637 closed

[2021-05-19 07:28] dsilhavy commented on #3640
Can you please check if this is still a problem in nightly: https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html . The scheduling logic was rewritten and improved in 4.0

[2021-05-19 14:09] tuantranthai commented on #3640
I'll check it out and give a feedback.

[2021-05-21 07:25] tuantranthai commented on #3640
The problem is still there with nightly version.

[2021-05-25 11:19] dsilhavy commented on #3395
This should be fixed in 4.0

[2021-05-25 11:19] #3395 closed

[2021-05-28 11:53] giorgos-epitropou-obs opened #3648 "MPD Anchor doesn't set player end time"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-05-28 13:19] piersoh opened #3649 "ServiceDescription settings performed too late in startup to be useful"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-05-28 14:43] dsilhavy commented on #3649
We might need to divide this into multiple steps. The live delay is calculated before we know which MediaInfo object to use. In case of multiperiod streams we need to calculate the live delay and then find the corresponding period. What I dont understand :

_A ServiceDescription element containing zero or one Latency elements and zero or one PlaybackRate elements should be used to describe low lat

[2021-05-28 14:44] dsilhavy commented on #3648
We do not support endtimes via MPD anchors yet

[2021-05-28 15:17] dsilhavy commented on #3613
Fixed in nightly

[2021-05-28 15:17] #3613 closed

[2021-05-28 15:19] #3634 closed

[2021-05-28 15:20] #3607 closed

[2021-05-29 04:50] TianbinTobin opened #3650 "The behavior of the updateSetting [abr: initialRepresentationRatio] parameter is not as expected."
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-05-29 08:24] dsilhavy commented on #3650
You are right, the value needs to be specified in kbps. Fixed this here: https://github.com/Dash-Industry-Forum/dash.js/commit/552c318f6e230b344daccabee5a488604c28a221

[2021-05-29 08:30] #3650 closed

[2021-05-30 22:26] #3438 closed

[2021-05-31 09:47] TianbinTobin opened #3651 "I can not get request.bytesLoaded and request.bytesTotal in event FRAGMENT_LOADING_PROGRESS"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-06-01 11:34] dsilhavy commented on #3629
@bbert I tried to reproduce this but it worked for me so far with:

- echo "https://live.unified-streaming.com/scte35/scte35.isml/.mpd?vbegin=$(($(date -u +%s)-240))&vend=$(($(date -u +%s)+20))"
- Seeking back before transition to VoD
- Playing behind the live edge and waiting for transition to VoD

Note that with the current nightly version we have a problem with the Unified teststream. dash.js u

[2021-06-04 09:07] mitxp opened #3657 "enabling textTrack with setting its mode to 'showing' not working"
##### Environment
- [ ] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-06-04 09:13] #3649 closed

[2021-06-04 09:13] dsilhavy commented on #3649
@piersoh can you confirm that #3656 solves your issue?

[2021-06-07 11:13] dsilhavy commented on #3619
Fixed in #3658

[2021-06-07 11:13] #3619 closed

[2021-06-08 14:59] dsilhavy commented on #3639
@Murmur I get an error on the MPD reload attempt:

XHRLoader.js:90 GET https://refapp.hbbtv.org/videos/multiperiod_v3.php?firstperiod=67631822 500 (Internal Server Error)

[2021-06-09 09:57] Murmur commented on #3639
Please use this test manifest, three periods on each reload (3*24s, same clip from the start). Last period has an ´<EventStream schemeIdUri="urn:mpeg:dash:event:2012" value="1" timescale="1000">`  reload scheduling. Players freezes for few seconds when switching from the current(old) to the new manifest.

https://refapp.hbbtv.org/videos/multiperiod_test.php

[2021-06-09 12:22] dsilhavy commented on #3639
Thanks, can you please check if https://github.com/Dash-Industry-Forum/dash.js/commit/a762316d6e372aece03169f7adbf6d9a7916c246 fixed your problem.

Change is available in nightly.

[2021-06-09 14:58] Murmur commented on #3639
thx, latest nightly build does not freeze anymore on a manifest switch-over period. I am compiling a better and more complex test so can have more test data later.

[2021-06-09 17:02] dsilhavy commented on #3639
ok thx, will close this issue then. feel free to open another one if encounter any problems.

[2021-06-09 17:02] #3639 closed

[2021-06-10 13:12] piersoh commented on #3649
Thanks - It solves the main issue - playback does now initiate low latency with critical SupplementalProperty. Though it seems that it would be better to set all the parameters from the Service Description in one place (`_applyLiveDelayFromServiceDescription()`) and keep the low latency activation seperate - in that way if low latency is enabled by config it would use all the ServiceDescription se

[2021-06-10 23:27] jlivak opened #3664 "A "getAllBufferRanges exception" is encounter when streaming videos with a width larger than 3840px on Android"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-06-11 07:55] akouSDN commented on #3538
Thanks for reporting this issue in LoL+ bandwidth measurements. [PR 3663 ](https://github.com/Dash-Industry-Forum/dash.js/pull/3663) addresses this issue

[2021-06-14 08:28] tomraut opened #3668 "TTML captions rendering displays also empty <video> text track element"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-06-14 08:28] tomraut commented on #3668
<img width="1072" alt="Screenshot 2021-06-14 at 11 17 06" src="https://user-images.githubusercontent.com/1769689/121862624-a9a9b700-cd03-11eb-9eec-5c5d819a503f.png">

[2021-06-14 08:37] dsilhavy commented on #3668
We are using the native cue events like onenter to trigger the rendering. You can disable the empty native container with css:

[code]

[2021-06-14 19:52] MarventusWP opened #3670 "Unable to call MediaPlayer.extend when using MediaPlayerFactory"
First of all, thanks a lot for this awesome library and all the work that goes into it!

I'm using Dash.js 3.2.2 with WebPack 5.21.0.

I'm trying to extend the RequestModifier like in this [example](http://reference.dashif.org/dash.js/nightly/samples/advanced/extend.html) from the dashif reference docs.

Although this example works perfectly fine when importing the MediaPlayer module directly, it

[2021-06-15 03:14] tomraut commented on #3668
Fair enough, closing.

[2021-06-15 03:14] #3668 closed

[2021-06-16 13:00] l1bbcsg opened #3673 "Certain classes cannot be extended"
* Dash.js version: 3.2.2

`extend` is an instance method of `MediaPlayer`, before it can be used, a MediaPlayer must be created.

In its [`setup` method](https://github.com/Dash-Industry-Forum/dash.js/blob/master/src/streaming/MediaPlayer.js#L173-L191) that is called automatically MediaPlayer creates three classes: `MediaPlayerModel`, `VideoModel` and `URIFragmentModel` through the factory which a

[2021-06-17 02:16] fish-debug opened #3674 "The question about bitrate switching"
##### Environment
* Link to playable MPD file:https://dash.akamaized.net/akamai/bbb_30fps/bbb_30fps.mpd
* Dash.js version: v3.1.2
* Browser name/version:Chroumuim
* OS name/version: Linux 16.04

##### Steps to reproduce
We try to switch the video bitrate, switch the bitrate from 5M(Quality 4) to 15M(Quality 7)
We switch the bitrate from 4 to 7 , by setting newQuality  in AbrController.js, that rep

[2021-06-17 05:55] dsilhavy commented on #3674
ABR algorithm might cancel this switch. You can disable ABR if you want to stay on the new quality:

[code]

[2021-06-18 10:27] l1bbcsg opened #3676 "Time sync is not attempted after it fails once"
* Dash.js version: 3.2.2

I'm not sure this is the intended behaviour, but once time sync fails for whatever reason, TimeSyncController will not attempt another sync until it is reset (by reattaching source to MediaPlayer).
This is happening because the internal `isSynchronizing` state flag is set to `true` before sync starts and reset to `false` [only if it succeeded](https://github.com/Dash-Indu

[2021-06-18 10:42] dsilhavy commented on #3676
Thanks for reporting this. Can you please check if https://github.com/Dash-Industry-Forum/dash.js/commit/377428d8f098655d5cfbe3efef5ab95b325394fe solves this problem.

It should be available on nightly:
https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

[2021-06-18 11:22] l1bbcsg commented on #3676
This seems to be exactly the fix, but I can't quite verify it on 4.0 in my project.

Is it going to be backported to version 3 or can we expect 4.0 to release in foreseeable future?

[2021-06-18 11:58] dsilhavy commented on #3676
Next release will be 4.0, we will not apply any changes to 3.x anymore. 4.0 will be released end of June

[2021-06-18 12:34] piersoh opened #3677 "Automatically enable Low Latency on SegmentTemplate@availabilityTimeComplete == false"
As I mentioned in this (closed) issue #3649 it would be good to have dash.js automatically enable Low Latency playback as specified in the DVB DASH spec:

* The AdaptationSet has the `SegmentTemplate@availabilityTimeComplete` attribute set to "false".

A good place to do this would be in the [`PlaybackController:_checkEnableLowLatency()` ](https://github.com/Dash-Industry-Forum/dash.js/blob/377428

[2021-06-21 16:11] #3676 closed

[2021-06-22 15:14] grabofus opened #3679 "CEA-608 parsing can't handle emulation prevention bytes"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs i

[2021-06-22 15:18] grabofus commented on #3679
I have a patch for the issue in a fork of DASH.js, happy to raise a PR if this issue is being worked on by anyone else.

https://github.com/DiceTechnology/dash.js/tree/fix/cea608-emulation-prevention-byte

[2021-06-22 15:22] dsilhavy commented on #3679
yes please do a pr against the latest status of the development branch. would also be great if you can provide a sample stream to verify.

[2021-06-23 15:14] dsilhavy commented on #3544
No activity, closing this.

[2021-06-23 15:14] #3544 closed

[2021-06-23 15:20] dsilhavy commented on #3593
@Suges Is this still a problem in 4.0: https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html ?

[2021-06-23 15:25] dsilhavy commented on #3657
We are handling some internal variables in dash.js. What are the reasons to not use the dash.js API to enable the tracks?

[2021-06-23 15:52] Suges commented on #3593
@dsilhavy Thanks for following up! We just built and dropped it in to our site and sadly looks like the issue is still there. Some other guys from my team might drop in here later to try to flesh out the specifics...

[2021-06-24 14:46] mitxp commented on #3657
We're using dash.js as a drop-in replacement for running HbbTV applications in non-HbbTV environments.
HbbTV is a standard for interactive TV (running web apps provided by a browadcaster on a browser on your Smart TV), which is quite common in the EU, see https://www.hbbtv.org/
This standard defines that the HTML5 video element should support DASH content out of the box, and of course, to enable s

[2021-06-25 13:18] lukomwro opened #3681 "Cannot install dashjs@4.0.0 - ELIFECYCLE error"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [] There are no network errors such as 404s in the browser console when trying to play the stream
- [] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs in t

[2021-06-25 13:44] dsilhavy commented on #3681
Thanks for reporting, we are aware of the problem, we missed a file in the configuration for npm.

We have reached out to npm support and asked them to remove version 4.0.0 from the registry as unpublishing or updating the package is not possible. If that is not possible we will publish a new version to npm next week.

For now please use the bundled files from the CDN for your tests:
- https://cdn

[2021-06-25 14:10] dsilhavy commented on #3681
Issue is solved for now, we pushed a new version : https://www.npmjs.com/package/dashjs . Can you please confirm that installation works for you.

[2021-06-25 14:27] dsilhavy commented on #3681
One more important note:
Please be aware that you need to use this tag, as we could not publish with version 4.0.0 again:

`"dashjs": "^4.0.0-npm"`

[2021-06-25 19:10] lukomwro commented on #3681
Yep, it works fine. Thanks!

[2021-06-25 19:10] #3681 closed

[2021-06-25 22:46] #3615 closed

[2021-06-26 09:33] phloxic opened #3685 "fragmented wvtt text not recognized as fragmentedText"
##### Environment

- [ ] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
  These are the errors for the text track:
[code]
I don't know about the 1st error, but the 2nd error message does not make sense to me.
Also note that dashjs < 4 deals with the stream just fine, when I can set `fragmentedText` explicitly
- [x] The stream has correct Access-Control-Allow-Origin

[2021-06-26 15:23] #3247 closed

[2021-06-27 08:26] dsilhavy opened #3686 "npm.js - missing file"
A missing file in the configuration for the npm package lead to a build problem. Add the missing `githook.js` to the list of files in package.json

[2021-06-27 08:26] dsilhavy commented on #3686
Addressed here: https://github.com/Dash-Industry-Forum/dash.js/commit/a571523d06306c161090d22e7d6c8cde9d6157d7

[2021-06-27 08:26] #3686 closed

[2021-06-27 08:28] dsilhavy opened #3687 "mediaplayer.js misses KEY_SESSION_UPDATED event"
Description from Kevin LaFlamme (Slack)

I got an error using the CDN version of the new release when importing the media player only, https://cdn.dashjs.org/v4.0.0/dash.mediaplayer.min.js

It works with v3.2.2, but on v4.0.0 I get an error on this line: https://github.com/Dash-Industry-Forum/dash.js/blob/development/src/streaming/controllers/StreamController.js#L174

Seems that Events.KEY_SESSION

[2021-06-27 08:29] dsilhavy commented on #3687
Addressed here: https://github.com/Dash-Industry-Forum/dash.js/pull/3683

[2021-06-27 08:29] #3687 closed

[2021-06-27 20:39] phloxic commented on #3685
FWIW, using the `full` profile:
- v3.2.2 works without _visible_ problems in spite of issuing this error
[code]
and giving this warning:
[code]
- v4.x shows subtitles, issues the above errors with slightly different wordings, and another error:
[code]
manifest: https://d12zt1n3pd4xhr.cloudfront.net/dev/lshtrailer-d1.mpd passes conformance test, including DASH-IF validation.

[2021-06-28 07:02] dsilhavy commented on #3685
This should be fixed in nightly:
[code]

I could not reproduce this, when do you see this error:
[code]

Also checking your first issue with
[code]

[2021-06-28 09:32] phloxic commented on #3685
I may have caused confusiong by offering a sample stream with a different profile. I'll try to clarify:

1. https://d12zt1n3pd4xhr.cloudfront.net/dev/lshtrailer-od.mpd
`urn:mpeg:dash:profile:isoff-on-demand:2011,http://dashif.org/guidelines/dash264`
No errors, no visible subtitles.
`player.getCurrentTrackFor('text').isFragmented` on my [minimal sample page](https://phloxic.productions/test/dashjs/

[2021-06-28 14:37] lamflam commented on #3474
This is actually somewhat critical for my use case where lowest possible latency is the goal. The issue isn't necessarily the performance of dash.js itself, but that playback is subject to the performance of all other javascript running on the same page.

I'm able to consistently get a smooth stream with ~700ms latency (audio only) however as soon as an update comes in and I need to re-render a po

[2021-06-28 15:05] dsilhavy commented on #3685
@phloxic Can you please check if the fix by @bbert #3689 solves your issue.

[2021-06-29 00:02] phloxic commented on #3685
- https://d12zt1n3pd4xhr.cloudfront.net/dev/lshtrailer-od.mpd isoff-on-demand profile: works, no errors
- https://d12zt1n3pd4xhr.cloudfront.net/dev/lshtrailer-d1.mpd full profile: works, different error(s) depending on browser:

Chrome:
[code]
Firefox:
[code]
Safari:
[code]
All browsers Mac OS, if that matters.

[2021-06-29 05:00] lifegpc commented on #2934
I have same problems when I try to play very large video. (~30000kbps)

[2021-06-29 06:27] dsilhavy commented on #2934
@lifegpc can you share your stream? try to adjust the following values to reduce data in the buffer:
[code]

[2021-06-29 07:23] lifegpc commented on #2934
[Here](https://1drv.ms/u/s!Aoq8mAMlVv8UrxcTbtkHc5UdRMaO?e=KdyRhW) is the video.
I create it by using ffmpeg.
command line: `ffmpeg -i 00001_x264.mkv -i 00001_opus320.ogg -map 0:0 -map 1:0  -c copy -adaptation_sets "id=0,streams=v id=1,streams=a" -single_file 1 -f dash 00001.mpd`
Test it on Firefox Nightly (`91.0a1 (2021-06-27) (64-bit)`)

[2021-06-29 09:21] phloxic commented on #3685
@dsilhavy - https://github.com/Dash-Industry-Forum/dash.js/pull/3690/commits/27e3a78e528e07fec36d3a54d9733c693bcdcb7f makes sense and looks promising

[2021-06-29 10:46] dsilhavy commented on #3474
@lamflam That is interesting. We did some optimizations in dash.js 4.0.0 to reduce the load and the memory consumption. Just to be precise here:

The idea described by @wilaw is to move the mediasource handling in webworkers. This is a new feature of Chrome and still being improved and worked on (as far as I know). I would be surprised if hls.js is already using this. However, I think hls.js is do

[2021-06-29 11:03] phloxic commented on #3685
@dsilhavy just testing fresh nightly https://github.com/Dash-Industry-Forum/dash.js/commit/dd7eb88140d761d5653223e87d6f945872546bbb with full profile:
Almost there, I think. The error is now (in all browsers I quickly checked so far):
[code]
I presume that's when an `isNaN` is hit.

[2021-06-29 11:06] dsilhavy commented on #3685
Yes I think this is fine as the error is catched now and we should inform the app about an invalid cue.

[2021-06-29 11:43] dsilhavy commented on #2934
@lifegpc can you please check if #3691 solved your issue. it is available in nightly: https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

[2021-06-29 12:14] phloxic commented on #3685
So the [conformance tool](https://conformance.dashif.org/) should bark at this stream then?
It doesn't. Although the test is quicker, and less extensive by the looks of it. Not sure it actually segment validation in spite of the input summary reporting it:
[code]
Also weird: dash.js now handles the isoff-on-demand profile fine and without error, in spite of the conformance tool complaining about t

[2021-06-29 13:32] lifegpc commented on #2934
Seems works fine.

[2021-06-29 13:35] lamflam commented on #3474
@dsilhavy I plan to upgrade to v4 later this week and can report back if it makes any noticeable difference. However I don't expect it to mainly because at the root it's not a performance problem with dash.js, just the fact that dash.js and application rendering are happening on the same thread in combination with our latency/buffering requirements. We are using segment templates so the manifest X

[2021-06-30 14:26] l1bbcsg commented on #3681
`4.0.0-npm` is not compatible with "4.0.0" and `npm i dashjs@4` does not work.

I think the best course of action is to release `4.0.1` even if it's a simple placeholder version to work around unpublishing issue.

[2021-07-01 06:59] dsilhavy commented on #3685
It looks like the first caption is defined in multiple ranges:

- https://d12zt1n3pd4xhr.cloudfront.net/dev/lshtrailer-d1/dash/lshtrailer-d1-vtt_dashinit.mp4 bytes 665-899/9053
[code]

- bytes 900-1318/9053
[code]

[2021-07-01 16:10] phloxic commented on #3685
Looks like the 3rd caption contains the first 3 captions.
Thanks for taking the time to diagnose this.
I'll probably take it up with the gpac folks. If I find time that is.

Any ideas why the conformance tool doesn't do the segment validation for the full profile?

[2021-07-02 00:05] wilaw opened #3695 "Catch rate in LL sample does not match label"
The new test harness for LL https://reference.dashif.org/dash.js/nightly/samples/low-latency/testplayer/testplayer.html  is awesome. One problem is that the "Catch-up playback rate (%)" has a value of 0.5. This should either be increased to 50 to match the label, or else the lable adjusted to remove the '%".

![image](https://user-images.githubusercontent.com/2762250/124201889-0b04b080-da8e-11eb-8

[2021-07-02 07:40] dsilhavy commented on #3695
Thx, adjusted the sample page accordingly and set default to 10%

[2021-07-02 07:40] #3695 closed

[2021-07-02 07:44] dsilhavy commented on #3685
Unfortunately I dont have insights in the conformance tool. I know that they are actively working on it though so it might be good input for them if something is wrong with the full profile. I am closing this issue for now as everything looks fine in dash.js. Thanks for reporting.

[2021-07-02 07:44] #3685 closed

[2021-07-02 07:44] dsilhavy commented on #3685
Additional question: Will those two subtitle MPDs stay online? Then we can consider adding them to the list of reference vectors as we are missing the combination of SegmentBase and VTT

[2021-07-02 16:51] phloxic commented on #3685
@dsilhavy - ok, I'll leave them there, and try to remember if I change anything.

Don't know how useful the full profile is, as it's broken. Btw, I was also too hasty in claiming that works from the viewer's point of view; watching more closely the first 3 cues display sequentially, but too late and in too short sucession.
FWI, I tried the simple and main profiles as well, and they exhibit the sam

[2021-07-14 09:55] dsilhavy commented on #2934
Fixed in #3691

[2021-07-14 09:55] #2934 closed

[2021-07-14 14:38] timfuhrmann opened #3701 "EISGIT error when trying to deploy to Vercel: Appears to be a git repo or submodule."
##### Environment
* Next.js
* Dash.js version: 4.0.0-npm

##### Steps to reproduce
1. Install the latest version of dash.js using npm
2. Try to deploy to Vercel

##### Observed behavior
Build fails throwing the `EISGIT` error.

Regenerating `package-lock.json` or ignoring build cache resolves the issue for the initial deployment, the second one will fail again.

##### Console output
[code]

No pro

[2021-07-15 07:04] maral21 opened #3702 "Autoplay does not work when switching quality of video"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [] There are no network errors such as 404s in the browser console when trying to play the stream
- [] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs in t

[2021-07-15 10:54] lkinasiewicz opened #3703 "Playback stalls at the end of period in a multi-period stream"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-07-15 11:03] dsilhavy commented on #3703
@lkinasiewicz Thanks for reporting. Can you share the stream privately with me? I did not see this behavior with the teststreams I have.

If you can do a PR that would be much appreciated.

[2021-07-15 11:05] dsilhavy commented on #3702
Without a stream to reproduce this is hard to answer. Do you see audio and video segments both being loaded? Playback might stall because one of the buffers (audio or video) is empty.

[2021-07-15 11:37] maral21 commented on #3702
A lot of thanks for your answer, I will ask if I can share the video somehow.

But in the meantime, I see that the buffer loads but does not reproduce or play.

The video does not have audio, but in the FFmpeg dash command, I do include the audio adaptation set as recommended.

The adaptation set for audio is:

<AdaptationSet id="1" contentType="audio" startWithSAP="1" segmentAlignment="true" bits

[2021-07-15 11:55] dsilhavy commented on #3702
Yes this probably causes the stalling behavior. Try to remove the audio AdaptationSet from the MPD. If you signal audio without specifying any segments the player will create a SourceBuffer for audio which remains empty.

[2021-07-15 12:07] lkinasiewicz opened #3705 "Seek to 0 removes entire buffer"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-07-15 13:21] maral21 commented on #3702
Yes, when removing audio from manifest It worked better, It does not happened rigth now.
Is there any option for not creating the SourceBuffer when the adaptation set of audio is empty?
A lot of thanks.

[2021-07-15 13:33] cnblackxp opened #3707 "Live Streams freeze after some seconds on WebOS 3 [LG]"
##### Environment

- [X] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occurs

[2021-07-15 14:31] YazeedAsaad commented on #3707
+1

[2021-07-15 14:48] owaiskreifeh commented on #3707
+1

[2021-07-15 15:14] dsilhavy commented on #3707
Is the player still updating the MPD when it stalls? Looking at your log line it looks like it cant find any segment to load. Can you paste all logs from the console

[2021-07-16 11:10] dsilhavy commented on #3702
I dont think this is an option as the AdaptationSet might initially be empty and be filled with upcoming MPD updates. I dont see a reason to signal an empty AdaptationSet if no segments will be added to this AS.

[2021-07-18 08:54] cnblackxp commented on #3707
the issue right now keeps appearing only on WebOS 3 and not other platforms [WebOS 4+ and Chrome] dashjs works fine after I removed the autoplay and started the stream paused.

[2021-07-18 11:30] cnblackxp commented on #3707
`[63247][BufferController][audio] Buffered range: 4945554.164376 - 4945575.457073, currentTime =  4945574.158  bundle.js:38
[63249][BufferController][audio] Buffered range: 5382939.263424 - 5383019.813445, currentTime =  4945574.158  bundle.js:38
[63251][ScheduleController][audio] Appended bytes for audio and stream id 1  bundle.js:38
[63254][ProtectionController] DRM: onNeedKey  bundle.js:38
[632

[2021-07-18 11:31] cnblackxp commented on #3707
[code]

[2021-07-19 09:02] dsilhavy commented on #3707
The problem is that for some reason there are two ranges for audio. This results in a large gap:

[code]

The question is where the second range comes from. Maybe a segment is positioned at the wrong place in the buffer. I dont have a webOS 3 test device available so I can not reproduce. Please check what happens before the second range is set.

[2021-07-19 09:02] dsilhavy commented on #3705
Fixed in #3706

[2021-07-19 09:02] #3705 closed

[2021-07-19 09:03] dsilhavy commented on #3703
Fixed in #3704

[2021-07-19 09:03] #3703 closed

[2021-07-19 09:03] dsilhavy commented on #3702
Closing this for now, please let me know in case there are other issues

[2021-07-19 09:03] #3702 closed

[2021-07-19 09:04] dsilhavy commented on #3679
@grabofus Can you provide a PR for this?

[2021-07-19 10:18] grabofus commented on #3679
.orry, I've been busy with other stuff lately, I'll try to PR it this week.
I haven't been able to get a stream I can share where this issue is reproducible though

[2021-07-19 13:09] zbauman3 commented on #3701
+1

[2021-07-20 11:59] cnblackxp commented on #3707
@dsilhavy thanks man I'll check once the device is available and report back to you.

[2021-07-20 12:28] davemevans commented on #3701
Seems the npm `postinstall` step defined in package.json always installs the precommit hook into the local `.git/hooks/pre-commit` folder. This causes a `.git` folder to exist, which in turn causes the OP's error where dashjs is a dependency.

This postinstall step should probably only be done if being installed "locally" ie for development, rather than as a dependency, since library users wouldn'

[2021-07-21 22:07] nicoweilelemental opened #3711 "Playback doesn't start on DRMized streams"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-07-22 07:04] dsilhavy commented on #3711
@nicoweilelemental I checked this and it does not work for me in dash.js 3.2.2 and 4.0.0. Also not working in Shaka. Both, dash.js and Shaka fail with:

[code]

when calling `session.update(message)` after the successful license request.

One thing I need to check is why dash.js does not dispatch that error to the reference UI.

[2021-07-22 07:36] dsilhavy commented on #3711
It looks like DRMToday returns the Widevine license in a JSON object rather than in arraybuffer format. We do have an implementation for that which can be called the following way:

[code]
By adding `"drmtoday": true` we will use the CastLabs DRMToday License Server implementation and treat the payload of the DRM server different than we usually do. Setting this flag the playback works for me.

I

[2021-07-22 09:40] dsilhavy commented on #3711
There is a new checkbox in the options section: "DRM Today". If this is checked we will handle the license response accordingly. With that, playback works fine for me.

[2021-07-22 17:10] nicoweilelemental commented on #3711
So cool, thanks Daniel !

[2021-07-22 19:48] lkinasiewicz commented on #3629
I think that the problem may be here: https://github.com/Dash-Industry-Forum/dash.js/blob/b5f408b4c72c4dc91bd7e5bf8785617b19d6f25c/src/dash/DashHandler.js#L212-L213
Just like @bbert mentioned - when the manifest changes from dynamic to static, `dynamicStreamCompleted` is set to `true`, `dashHandler.isMediaFinished` returns `true` and `StreamProcessor` stops buffering: https://github.com/Dash-Indus

[2021-07-22 21:12] YannickFuereder commented on #1471
I want to put the range in my url instead of the header but i have no clue how to achieve this
the request should look like this: (`https://mywebsite.com/video.mp4?range=12345-12370`)
Any solutions?

[2021-07-23 06:00] dsilhavy commented on #3711
@nicoweilelemental I agree, that might be worth adding in the future. For now I would like to keep it as it is since the DRMToday implementation we have in place handles Playready and Widevine responses differently. So it is not just the response type but also how the license message is parsed.

[2021-07-23 06:13] dsilhavy commented on #1471
@YannickFuereder Would this work for you:

[code]

[2021-07-23 08:30] YannickFuereder commented on #1471
I had to add **modifyRequestHeader** method else it would work.
But it still sends the pre-flight options request. Is there any way how i could get rid of it?

I tried setting the range header to null but it still sends the request

[code]

[2021-07-23 12:26] dsilhavy commented on #1471
The pre-flight request is triggered by the browser itself. Since you change the query parameters on each request by adding the range, the browser treats each request as a new url. Consequently, you will see a pre-flight request for each of your requests. I don't think you can avoid this expect not sending the range as a query param.

[2021-07-23 12:53] lkinasiewicz opened #3713 "Playback stalls when seeking near the end of a period with a gap"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-07-23 12:55] lkinasiewicz commented on #3713
@dsilhavy, do you remember the reason for changing these lines?
https://github.com/Dash-Industry-Forum/dash.js/commit/a66913f2877c28b07a38ea7aac7d2b249c6ba683#diff-f749d53584e1f92eb9e80d75635551a1b76d6e94d1bf7690b739e6bef8446ac3L252-L256

[2021-07-23 13:39] dsilhavy commented on #3713
I don't remember the exact reasons, I think there were some problems with track switches and/or invalid values fror `availableSegmentsNumber` . However, I also wanted to optimize this part of the code. We need a better logic to determine if there is a gap or if there are still segments to be downloaded. Can you share your stream with me in private so I can check this? Also, did the GapController j

[2021-07-23 14:04] lkinasiewicz commented on #3713
Thanks for quick response! Sure. From my debugging I can see that the previously used value - `availableSegmentsNumber` is updated according to the number of downloaded segments - this is not a static value taken from the manifest. Maybe that caused some issues? I have already done some simple changes in DashHandler to simplify logic, I will share it soon.
I am trying to fix this ticket, but I am

[2021-07-23 15:43] YannickFuereder commented on #1471
I fixed it by doing this

[code]

This works perfect when requesting the video fragments
Thx for the quick response

[2021-07-23 16:26] nicoweilelemental commented on #3711
@dsilhavy no worries, I see the streams playing now, so it's all good. Thanks!

[2021-07-23 16:27] #3711 closed

[2021-07-23 16:34] dsilhavy commented on #3713
@lkinasiewicz Thank you, happy to review your PR once it is done. As this is a critical part of the code we should carefully validate all changes. I think a PR from your side is a good start

[2021-07-24 08:32] l1bbcsg opened #3716 "Ability to upgrade buffers"
Suppose the following scenario:
We're watching a 30s video.
First 15 seconds were downloaded in a poor quality for whatever reasons, then we switched to a good quality for the remainder of the video.

Now we jump back to the beginning either by seeking or by looping.
Dash.js plays existing poor quality buffer even though network allows for better quality and either ABR or user chose it. On subsequ

[2021-07-24 18:51] bgunner opened #3717 "Serverless live streaming - Problem with mpd file"
Hi everyone!
I'm new to mpeg dash and I'm trying to build a serverless live stream. I know there are many excelent platforms provinding this service but if I could do it serverless it'd cost a lot cheaper for me.

This is my flow:

`webcam browser >> s3 bucket >> lambda/ffmpeg encoding >> s3 output bucket (with init, chunk and mpd files) >> dash player`

The browser will send the webcam stream eac

[2021-07-26 07:15] #3701 closed

[2021-07-26 10:32] slasktrat commented on #3511
Still relevant

[2021-07-26 17:28] wilaw commented on #3717
There are quite a few issues I can see with the manifest you post below

1.	Dash.js does not support the SegmentList addressing mode, since it is not an approved addressing mode for the DASH Industry Forum, which considers it too verbose. For live (dynamic) DASH streams, everyone uses either the SegmentTemplate/$Number@Duration addressing, or SegmentTimeline/$Time.
2.	Your implementation of Segmen

[2021-07-26 20:22] bgunner commented on #3717
Hi Will, thank you for answering.

So, I modified my .mpd file but the player does not play anything anymore. Not even the first chunks.
I was adding so many periods because at first I thought each new segment would be a period. I just deleted them all.

My doubt now is:

each time a new webcam data arrives at the server should I replace all the content inside the <Period tag? If so, should I also

[2021-07-27 06:36] dsilhavy commented on #3371
unstall

[2021-07-27 17:59] wilaw commented on #3717
The player is doing the right thing. The startNumber is the segment that was produced at the availabailityStartTime, which in your case is set to Jan 1st 1970. So the player takes the time between now and AST, divides it by the segment duration, calculates what the segment number should be, substitutes that in to the template and generates the URL for the segment. Your manifest should contain

<Se

[2021-07-27 18:06] bgunner commented on #3717
Thank you again, Will.

So, one update:
I tried with hls and it seems to be behaving just like mpeg dash. It plays the first segment and then it stops.
Let's understand the current flow:

1 - Webcam data is streaming each 2 seconds to remote.
2 - A lambda function encodes the data with ffmpeg
3 - The files are stored on s3 to be delivered to clients.

I believe the problem with my approach resides

[2021-07-27 19:47] bgunner commented on #3717
So, the thoughts I shared above seems to be true. I could get it work with hls by using the ffmpeg -output_ts_offset {value} option. Basically I'm telling ffmpeg to set the chunk pts = the {value}. And for each new chunk arriving on server I calculate the pts using CHUNK_NUMBER * 2 (seconds). This worked for hls. The problem with hls is that I'm having a 12 seconds latency.

Is there a similar way

[2021-07-27 22:59] wilaw commented on #3717
You need to adjust your serverless synthesis of the media segments so that the media time is continuous across the segments. To do this, you could pass the last timestamp of the prior segment as input when you create the next segment

[2021-07-28 21:17] bgunner commented on #3717
Hi Will. I guess we can close this issue. I decided to go with Hls because it was a lot easier to integrate with my stack today. The 12 seconds latency is something I'll try to improve but I can live with this latency for now. Thank you very much for all your time.

[2021-07-28 21:52] wilaw commented on #3717
You are welcome. Good luck.

[2021-07-28 21:52] #3717 closed

[2021-07-29 14:40] grabofus commented on #3716
@l1bbcsg I think you're looking for [`fastSwitchEnabled`](http://cdn.dashjs.org/latest/jsdoc/module-Settings.html#:~:text=Description-,fastSwitchEnabled,-boolean), it will replace segments in the buffer to higher quality ones if the network conditions allow.

[2021-07-30 09:14] l1bbcsg commented on #3716
My understanding is `fastSwitchEnabled` affects forward buffer, whereas I'm talking about past buffer.

So, in my example on 15 second mark fast switch will cause the actual switch to happen faster, but the existing 0-15 buffer will not be affected and be kept at bad quality.

This is consistent with what I'm observing, I always have fastSwitchEnabled set to `true`, but that does not relieve the i

[2021-07-30 11:48] slhck commented on #3681
Please release a new 4.0.1 dummy version as soon as possible. As described above, this type of versioning is rather unituitive and also breaks existing functionality in package managers.

[2021-07-30 12:57] dsilhavy commented on #3681
We released 4.0.1 today, the issue should be fixed now.

[2021-07-30 13:03] slhck commented on #3681
Thank you!

[2021-07-30 16:12] piersoh opened #3721 "Incorrect identification and reporting of HTTP Redirection"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-08-03 06:50] tomraut opened #3723 "Buffer levels too low & too many stalls with live playback using dash.js v4"
##### Environment

- [X] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occurs

[2021-08-03 07:30] dsilhavy commented on #3723
The reason for that is the difference in the initial seek. With 4.x we start the stream at the target live delay, while with 3.x the target live delay was always adjusted to match the start of a segment.

In your case, for both versions (3.x and 4.x), dash.js calculates a live delay of 16seconds (4*segmentDuration). With 4.x we start at the target live delay while with 3.x the live delay was 20-23

[2021-08-03 08:21] tomraut commented on #3723
@dsilhavy can you please be more specific on "The question here is why the MPD does not contain segments that allow playing the stream with less than 20 seconds delay", how can you validate this? For instance I see from MPD following publishTime:
publishTime="2021-08-03T08:05:47.793704Z" and latest available segment supposed to be at "2021-08-03T08:05:37.280000Z" so here's only 10 seconds differen

[2021-08-03 08:48] dsilhavy commented on #3723
I am comparing the buffer level against the live latency. dash.js will start downloading a segment as soon as possible if the target buffer level is not reached. For your stream I see different values, for instance:

* Live Delay 22 seconds, buffer level 9 seconds -> 13 seconds diff
* Live Delay 22 seconds, buffer level 3-4 seconds -> 18 seconds diff

This is what causes the problems when playing

[2021-08-03 10:08] tomraut commented on #3723
Thanks you @dsilhavy for explaining. We're look into this at our end then.

[2021-08-03 10:08] #3723 closed

[2021-08-04 13:20] l1bbcsg opened #3724 "Player cannot be re-initialized after reset()"
After calling `reset` it is not possible to reuse the same player object because it's stuck in semi-initialized state and cannot be recovered with `initialize`.

They only way forwards is to destroy player, but if `reset` is not meant to be recoverable method, what's the point of having it in the first place? Just `destroy` would suffice.

One particular thing that's blocking player from recoverin

[2021-08-04 20:50] zbauman3 opened #3726 "The reference player is showing download as Mbps when the calculation is actually for download time."
##### Environment
- [X] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occurs

[2021-08-06 13:46] #3311 closed

[2021-08-06 22:24] JeanCarlosChavarriaHughes opened #3728 "[StreamController] Video Element Error: MEDIA_ERR_DECODE (PIPELINE_ERROR_DECODE on Android"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-08-06 22:25] JeanCarlosChavarriaHughes commented on #3728
Please evaluate if this is the same as in https://github.com/Dash-Industry-Forum/dash.js/issues/3664

[2021-08-09 09:12] #3529 closed

[2021-08-13 08:29] aYutaSekiguchi opened #3730 "`onPlaybackCanPlay` is never released by player reset (memory leak)"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-08-16 11:38] YannickFuereder opened #3731 "Subtitles"
Hi,
I am currently trying to add subtitles to my video player

The subtitles work perfectly in the reference player

I have tried adding

[code]

after the player initialization but the subtitles wont show

are there any guides on how to add subtitles

[2021-08-16 13:23] dsilhavy commented on #3731
Hi,
you can find multiple subtitle examples here: https://reference.dashif.org/dash.js/nightly/samples/index.html

I saw there is also a typo in your variable name `TTMLRedneringDiv` . Maybe you provided an undefined reference.

The init order should look like this:

[code]

If you want to set an initial texttrack you can use this:

[code]

[2021-08-16 13:42] YannickFuereder commented on #3731
This is my code

[code]

it doesn't display any subtitles

i tried setting the subtitle with ```player.setTextTrack(0);```

[2021-08-16 13:47] dsilhavy commented on #3731
This should work. Does it work with this stream: https://livesim.dashif.org/dash/vod/testpic_2s/multi_subs.mpd

Might be a CSS issue maybe your rendering div is not visible or the subtitles are positioned at a wrong position. Did you check in the developer console if subtitles are added to your div?

[2021-08-16 13:48] YannickFuereder commented on #3731
i checked the text stream with ```player.getCurrentTrackFor('text');```

in the reference player it says ```isFragmented: true```

in my player its false

[2021-08-16 13:51] dsilhavy commented on #3731
can you share your stream?

[2021-08-16 14:09] YannickFuereder commented on #3731
[sure]( https://cdn.netdb.ga/test/manifestsubs.mpd)

[2021-08-16 15:09] dsilhavy commented on #3731
Works for me like this:

[code]

[2021-08-16 15:18] YannickFuereder commented on #3731
thank you so much

i was using verson 4.0.0 instead of 4.0.1

keep up the grate work

[2021-08-16 15:18] #3731 closed

[2021-08-16 17:20] tony commented on #396
@luca-lamberti I am converting from CloudFront signed URLs to CloudFront cookies, I find that I can get subsequent files from a manifest to forward cookies, but can't yet find out how to get the initial request (`.mpd`, `.m3u8`) to use `withCredentials`.   Perhaps the `MediaSegment` does that but it didn't work for me.

[2021-08-16 17:24] tony commented on #396
Is there a way to do this without DRM?  This case of using `withCredentials` happens with [CloudFront cookie signing](https://aws.amazon.com/blogs/aws/new-amazon-cloudfront-signed-cookies-for-private-content/).  I'm not sure if the DRM case fits the cloudfront scenario are not.  `"serverURL": "https://drm-widevine-licensing.axtest.net/AcquireLicense",` and `com.widevine.alpha` sounds like it was d

[2021-08-17 11:03] dsilhavy commented on #3730
@aYutaSekiguchi Can you please check if #3733 fixes this

[2021-08-17 11:49] #3726 closed

[2021-08-17 11:50] dsilhavy commented on #3726
Thanks, should be fixed in #3734

[2021-08-17 14:33] dsilhavy commented on #3728
Can you please add the logs for loglevel set to 5. You can enable it in the reference client by setting to "Debug" instead of "Info"

[2021-08-17 18:05] JeanCarlosChavarriaHughes commented on #3728
Hello @dsilhavy
Please find the logs with loglevel set to Debug in [this file](https://gist.githubusercontent.com/JeanCarlosChavarriaHughes/2831f7e5767383e9c44392e8c1b1731d/raw/d845adca9925e0b5a75e4e7082341c94266636a1/dashjs-issue3728-gist2.txt)

Finally it fails with this error:
[code]

[2021-08-18 01:32] aYutaSekiguchi commented on #3730
@dsilhavy
Thanks!
It fixes the issue.

[2021-08-18 01:32] #3730 closed

[2021-08-18 08:36] dsilhavy commented on #3724
Thanks @l1bbcsg . Can you confirm that #3735 fixes these issues

[2021-08-19 16:19] okidokios opened #3736 "Play Clearkey dash manifest without license url"
Hello It is possible to play dash with clearkey kid and key without a license server url? with shaka I can play all mpd with the kid and key but everytime I try dashjs it won't play the content always return it need server license same in the reference player page I set the mpd and the kid and key in b64 format but always get this error.

Error Dash.js :111
DRM: No license server URL specified!

S

[2021-08-19 16:54] dsilhavy commented on #3736
Yes that is possible, an example is available here: https://reference.dashif.org/dash.js/nightly/samples/drm/clearkey.html
Does this work for you?

[2021-08-19 17:03] okidokios commented on #3736
Tried too but same error

I got this on console.
[1091][Stream] DRM: No license server URL specified! dash.js:17687:19

[2021-08-19 19:21] dsilhavy commented on #3736
The sample above should work out of the box in browsers like Chrome. In which browser are you testing? Can you share your stream?

[2021-08-19 19:26] dsilhavy commented on #3736
Also make sure that dash.js is actually using clearkey and not Widevine or Playready in case you are offering multiple DRM systems. You can assign a priority to the key systems as shown here: http://reference.dashif.org/dash.js/nightly/samples/drm/system-priority.html

[2021-08-20 02:29] okidokios commented on #3736
I tried with this sample and others, and I got the same error on console need license url, I tried in chrome, firefox and chrome edge.

<script>
    function init() {
        const protData = {
            "org.w3.clearkey": {
                "clearkeys": {
                    "pzY0lmDYvh0iiEFlzUXdcw":  "jeNnLiZsKWQ4dsMrWZQyJQ"
                }
            }
        };
        var video,

[2021-08-20 07:12] dsilhavy commented on #3736
I dont see Clearkey in your manifest, looks like only Widevine and Playready are defined. Thats why dash.js tries to play using Widevine or Playready and fails because of the missing license server url.

[2021-08-20 09:41] dsilhavy commented on #3366
unstale

[2021-08-20 11:20] okidokios commented on #3736
Oh and it's not possible to play it having the kid and key?

[2021-08-20 13:05] dsilhavy commented on #3636
@wilaw Short update on this

- I can reproduce this error by appending invalid segments to the MSE.
- I implemented a workaround that catches the decode error, reinitializes the MSE and the SourceBuffers, appends the segment after the problematic segment and then seeks to this position.

My main concern is that the error occurs as soon as the invalid segment is appended to the buffer. Playback wil

[2021-08-20 13:35] dsilhavy commented on #3736
Add Clearkey to your manifest like this:

[code]

Then set the DRM priorities

[code]

[2021-08-20 13:36] dsilhavy commented on #3724
Fixed in #3735

[2021-08-20 13:36] #3724 closed

[2021-08-20 15:41] wilaw commented on #3636
Good point about the failure occurring at the forward end of the buffer . For highest level VOD bitrate, this could be 60s ahead of the playhead. Does dash.js have an existing capability of describing gaps in a timeline that you could leverage, or will you need to create this? The ideal solution as you state would be to cut out just the offending segment from the timeline and jump that gap when yo

[2021-08-20 15:45] okidokios commented on #3736
Thank you dsilhavy! And what about the manifests we already build, is there a way to play them without changing the manifest and add the Clearkey value? I ask because shaka can play them without the Clearkey line.

[2021-08-23 12:14] eowino opened #3737 "MediaPlayer.enableForcedTextStreaming: incorrect arguments"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-08-23 15:58] dsilhavy commented on #3736
Right now this is not possible, we are relying on the available DRM systems to be signaled either via MPD or pssh box in the segments. You will need to add the line I mentioned above for it to work.

[2021-08-24 15:01] #3737 closed

[2021-08-25 05:29] mgreve-akamai opened #3738 "CMCD requests via query-string end with a superfluous comma"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-08-25 05:36] mgreve-akamai opened #3739 "CMCD token fields should not be quoted"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-08-25 05:44] mgreve-akamai opened #3740 "CMCD mtp field is not sent as an aggregated throughput value"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-08-25 05:53] mgreve-akamai opened #3741 "CMCD nor field should be "more" relative to the current request"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-08-26 05:04] mgreve-akamai opened #3742 "CMCD reporting sample players shows the CMCD version field even though it's not sent (CMCD_DATA_GENERATED event is misleading)"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-08-27 11:23] #3742 closed, assigned to nobody

[2021-08-28 03:46] JeanCarlosChavarriaHughes commented on #3728
Thanks @dsilhavy . I'll test it on Monday EOD.

[2021-08-29 11:09] #3674 closed

[2021-08-29 18:08] #3582 closed

[2021-08-30 15:00] wilaw commented on #3741
Actually there are two problems here which should be fixed immediately as they are not spec compliant.

1. The spec says that the field value MUST be relative to the current requested object, not relative to the host as they currently are. So in the case shown in this issue, for a  GET /akamai/bbb_30fps/bbb_a64k/bbb_a64k_14.m4a, the 'nor' field must hold a value of 'bbb_a64k_15.m4a'.
2. The spec a

[2021-08-30 17:16] JeanCarlosChavarriaHughes commented on #3728
@dsilhavy  can you provide the correct reference.dashif.org that points to the <nightly-version>?
`https://reference.dashif.org/dash.js/<nighly-version>/samples/dash-if-reference-player/index.html`

[2021-08-30 17:34] wilaw commented on #3728
All the versions, including nightly, are available here: https://reference.dashif.org/dash.js/index.html

The nightly version is accessible at https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

[2021-08-30 18:04] JeanCarlosChavarriaHughes commented on #3728
Hi @dsilhavy @wilaw
The issue seems fixed in nightly version. I executed a confirmation test and it worked in the same device without issues.
[Full Logs](https://gist.github.com/JeanCarlosChavarriaHughes/1efbb6efb4c1cf02b9877e0bff24b4fe)

Any idea about which version it will become published. 4.0.2 ?

[2021-09-01 08:31] dsilhavy commented on #3741
@mgreve-akamai @wilaw Can I please ask you to have a look at the following unit tests and confirm that this is the expected path. `a` is the current url while `b` is the absolute url of the next segment. For me everything seems clear except the last two test.

[code]

[2021-09-01 13:05] mgreve-akamai commented on #3741
I looked over the examples, and I think a number of them are incorrect. I'll list them below:

I think this test is incorrect.

[code]

It should be '/d/e/f.mp4' (with 'd/e/f.mp4' as in the test, the new url would be https://localhost:3000/a/b/d/e/f.mp4).

This one is also incorrect.

[code]

It should be '../c/f.mp4' or '/a/c/f.mp4'

This one is also incorrect:

[code]

It should be '../../ab/b/f

[2021-09-02 08:35] dsilhavy commented on #3741
Thanks @mgreve-akamai that was very helpful. I used parts of your sample code for the implementation but moved to the path module:

[code]

You can find the corresponding pull request here: https://github.com/Dash-Industry-Forum/dash.js/pull/3747 . Please let me know if you encounter any issues. One specific thing to mention is that I treat origins with different protocols as if they have the same

[2021-09-02 08:44] dsilhavy commented on #3728
Thanks for testing I can see in the logs that the failover mechanism we implemented worked:

[code]

What I don't understand is how the stream plays without errors in v3.2.2. I would assume that a segment of a certain representation is broken and it depends on the quality that is played whether the error occurs or not.

We are aiming to release dash.js 4.1.0 end of September. We will do the code f

[2021-09-02 16:41] dsilhavy commented on #3629
Thanks for your analysis and suggestion @lkinasiewicz . Together with @bbert we solved this a little differently in #3748 ,  moving the check of the `DashHandler` after trying to generate a request.

[2021-09-02 16:41] #3629 closed

[2021-09-03 11:11] dsilhavy commented on #3022
With #3672 it is now possible to define a custom function that selects the initial track. An example can be found here: https://reference.dashif.org/dash.js/nightly/samples/advanced/custom-initial-track-selection.html .

[2021-09-03 11:11] #3022 closed

[2021-09-03 13:35] dsilhavy commented on #3740
I checked this and the low values for audio are related to the throughput estimation. We define a certain threshold (for audio it is 5ms) for which we assume that the segments are coming from the cache:
[code]

With the sample stream I saw a lot of download time values below this threshold which is why they are not used for the throughput estimation.
On the other hands there are outliers, for inst

[2021-09-03 16:23] lkinasiewicz opened #3750 "[WebOS] Live stream does not start"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
* Dash.js version: 4.0.

[2021-09-03 17:53] dsilhavy commented on #3750
I think what happens here is that the `BufferController` is adjusting the seek target after the segments have been appended.

See `BufferController.adjustSeekTarget`:
[code]

The reason for that is that the `currentTime` is 0 until both audio and video segments have been appended. Therefore it is smaller than `range.start` and the seek is triggered. I have seen a similar behavior on older Samsung

[2021-09-06 07:39] bbert commented on #3354
Hi @iamart, pointing to index.js in package.json would require to add all source files into npm package, wouldn't it?

[2021-09-06 08:56] lkinasiewicz commented on #3750
Thanks, it helps! What kind of side effects should I expect?

[2021-09-06 09:30] dsilhavy commented on #3750
I am not quite sure anymore about the side effects as I removed this code snippet as part of the major rewrite of the scheduling and timing logic. I will check on my end and add this again if it doesn't cause any issues.

Another question: I have never done any development on LG devices myself. Is there a testapplication you can share that integrates dash.js? That would be very helpful in case I n

[2021-09-06 09:39] grabofus opened #3752 "Player not syncing server with client clock resulting in live stream failures"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-09-06 10:08] Robloche opened #3753 "Why is the debug version the main entry point and not the minified one?"
https://github.com/Dash-Industry-Forum/dash.js/blob/5e31f9fb4cf711da9c5b12c4fa1fa50687b3bfd9/package.json#L7

Because of this, any app importing `dashjs` embeds the debug version of the player in production.

[2021-09-06 10:19] lkinasiewicz commented on #3750
I have an app but using it without our other tools (which I cannot share) would be hard. If you need a test app, I will try to find some time to prepare a pull request with npm scripts for webos development similar to `npm start`.

[2021-09-06 10:29] #3591 closed

[2021-09-06 12:05] lkinasiewicz commented on #3750
I tried some static, dynamic, single and multi-period streams with the commit mentioned above and haven't found any issues so far.

[2021-09-06 15:33] s524797336 opened #3758 "How about make RequestModifier async?"
**Is your feature request related to a problem? Please describe.**
I have an authentication server, it give the token per file. other file related to ```mpd``` need token to access, but the process of obtaining token is asynchronous. I hope to get token on demand instead of maintaining a list of all files and refreshing it regularly.

**Describe the solution you'd like**
Make RequestModifier async

[2021-09-06 16:06] dsilhavy commented on #3752
Thanks for pointing this out, I deployed a fix for that in #3759. It should be available in nightly soon. Can you please confirm that it fixes the issue.

[2021-09-06 16:44] dsilhavy commented on #3752
I refactored this again in https://github.com/Dash-Industry-Forum/dash.js/commit/6a0d37cb879776fe57fcb7101df75f09b4f35237 but it should result in the same behavior and this problem should still be fixed.

[2021-09-07 03:14] wilaw opened #3760 "Fully customizable media player controls using web components"
dash.js has a single UI component, provided by Akamai many years ago. While suffucient for many, it would be good to have an alternate choice for player UI. This project https://github.com/muxinc/media-chrome by Steve Heffernan looks very interesting in this regard. It provides fully customizable media player controls using web components (native custom elements). License is MIT. Might it be somet

[2021-09-07 03:19] iamart commented on #3354
Hi @bbert, I can see that the latest packages no longer ship source files and even index.js to npm anymore.
So the best way I see is to include minimized es6 file in the dist folder.

[2021-09-07 06:11] dsilhavy opened #3761 "CMCD - Support for whitelist and custom key/value pairs"
As an extension to the existing CMCD implementation it would be nice to support:

- Whitelist - Be able to apply a separate filter list to explicitly enable certain keys. Only keys whitelisted by the filter would be sent. The whitelist can be part of the settings object
- Custom keys - accepting both a key and value arguments: For this we should add the option to define a callback function. The ca

[2021-09-07 15:47] lkinasiewicz opened #3762 "Test app for WebOS"
WebOS is a platform used by LG TVs. Apps for WebOS run in Chromium so dashjs can be and is used there. Sometimes new bugs, specific to this platform, appear. Testing them is not trivial because it is necessary to install WebOS SDK, build an app, install it, the app should support RCU, etc.

**Describe the solution you'd like**
1. `npm run build:webos` script that builds a simple "shell" WebOS appl

[2021-09-07 16:25] heff commented on #3760
Thanks Will, excited to see interest on this front. Happy to help where I can. @cjpillsbury is just finishing up a pretty solid accessibility pass.

[2021-09-07 16:34] grabofus commented on #3752
I've tested on the reference player, and the issue seems resolved in the nightly build. Thanks for the quick fix!

[2021-09-07 16:34] #3752 closed

[2021-09-08 06:44] dsilhavy commented on #3750
Fixed in #3754

[2021-09-08 06:44] #3750 closed

[2021-09-08 06:44] dsilhavy commented on #3728
Closing this as #3743 fixes the issue

[2021-09-08 06:44] #3728 closed

[2021-09-08 06:46] dsilhavy commented on #3753
That is because we expect developers who are importing dash.js as a module to run a code minification on their project in the end. That way dash.js will get minified as part of this step.

[2021-09-08 06:47] dsilhavy commented on #3707
#3754 might be related to this issue and is available in the nightly build now

[2021-09-08 07:10] Robloche commented on #3753
I guess that makes sense.
Thanks for the explanation!

[2021-09-08 07:10] #3753 closed

[2021-09-08 12:37] dsilhavy commented on #3741
Closing this, please comment if you encounter any problems

[2021-09-08 12:37] #3741 closed

[2021-09-09 11:59] muffpy commented on #609
This is still an issue! player.setAutoSwitchQuality(false) does not turn off ABR

[2021-09-09 12:19] dsilhavy commented on #609
You have to use the settings, see http://reference.dashif.org/dash.js/nightly/samples/abr/disable-abr.html

[2021-09-09 13:08] muffpy commented on #609
Unfortunately, I am tightly coupled with dashjs 2.9.0 due to some legacy code which is used to decrypt DRM-protected files. Is there any way that I can turn off ABR in that version?

[2021-09-09 13:14] dsilhavy commented on #609
Did you specify a type? `player.setAutoSwitchQuality('video',false)`

[2021-09-09 13:16] muffpy commented on #609
Yes

[2021-09-09 13:21] muffpy commented on #609
I don't think `autoSwitchBitrate` was a method in 2.9.0
All the available methods include:
[
    "initialize",
    "setConfig",
    "on",
    "off",
    "extend",
    "attachView",
    "attachSource",
    "isReady",
    "preload",
    "play",
    "isPaused",
    "pause",
    "isSeeking",
    "isDynamic",
    "seek",
    "setPlaybackRate",
    "getPlaybackRate",
    "setMute",
    "isMuted",
    "s

[2021-09-09 13:23] lkinasiewicz opened #3766 "Seek to position 0 between periods stalls playback"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-09-09 13:36] dsilhavy commented on #609
`setAutoSwitchQualityFor`

[2021-09-09 13:38] muffpy commented on #609
Yes, my bad, that was what I referring to previously. It doesn't work when I use `setAutoSwitchQualityFor('video',false)`

[2021-09-09 14:15] dsilhavy commented on #609
You have to call it after the `AbrController` has been declared. For instance

[code]

Works for me with this snippet

[2021-09-09 14:24] muffpy commented on #609
Yup I'm doing it after player is initialised with a live stream. I've also tried to set that property in the console during playback as well but the ABR controller still takes over.

[2021-09-09 15:37] dsilhavy commented on #3740
@wilaw added the `Timing-Allow-Origin: *` which allows for checking the Resource Timing API

[2021-09-09 18:22] dsilhavy commented on #3766
@lkinasiewicz I have merged a potential fix for this, can you confirm this solves the problem : https://github.com/Dash-Industry-Forum/dash.js/pull/3767 . It will be available in nightly soon

[2021-09-10 07:36] lkinasiewicz commented on #3766
I confirm - in nightly I cannot reproduce it anymore. Thanks.

[2021-09-10 07:36] #3766 closed

[2021-09-10 09:16] muffpy commented on #609
Ah, never mind. Turns out I missed an event handler which is triggered on the STREAM_INITIALIZED event of the dashjs player which for some reason always set the lowest bitrate smh

[2021-09-10 13:08] Pavelas opened #3769 "License request is failing on 2XX HTTP codes"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-09-10 16:57] #3769 closed

[2021-09-14 21:25] cchanley2003 opened #3771 "Potential bug with codem-isoboxer. How to handle?"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-09-15 06:19] dsilhavy commented on #3771
@cchanley2003 Thanks for reporting. Some people involved in dash.js development were also involved in the development of codem-isoboxer. Please describe the problem here and we see what we can do.

[2021-09-15 11:26] dsilhavy commented on #3636
Closing this, tests with multiple streams looked good. Feature will be part of 4.1.0

[2021-09-15 11:26] #3636 closed

[2021-09-15 15:25] cchanley2003 commented on #3771
Thanks for the engagement!

Initial file: created via ffmpeg with inputs of a webvtt file and mp4 to create a dash video.

This problem appears with the parsing of the metadata/subtitle info from the a m4s chunk.

What we are seeing:

The problem appears her: https://github.com/madebyhiro/codem-isoboxer/blob/master/src/iso_box.js#L276

What I see happening is the following:
1. We have a moof box (

[2021-09-17 11:21] Robloche opened #3773 "Some live streams takes a long time to start with v4.x"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-09-20 08:49] dsilhavy commented on #3773
Can you please enable the debug log level (5) and paste the content here. What might happen here is that the player is not finding a valid segment for the specified live delay. It will wait then until a segment is found.

[2021-09-20 09:26] Robloche commented on #3773
Here's the ouput with log level 5. Thanks for your help!
[code]

[2021-09-20 09:33] dsilhavy commented on #3773
It looks like the player waits for some time after the init has been fetched. Although I would expects logs like this
`[DashHandler][video] video No segment found at index: 2. Wait for next loop `

Can you check if the problem is the same in nightly: https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html . Can you please also check if the problem remains when you

[2021-09-20 10:21] dsilhavy commented on #3773
Yes I think changing the live delay would be the best way to solve this on the client side. The question is why there are no segments available for the default live delay but that is outside of the player. So what you can do is:

- Change the live delay in the settings. By default we use 4 time the segmentDuration or 4 time the minBufferTime. Please also check if your MPD contains the attribute @s

[2021-09-20 10:25] Robloche commented on #3773
Thank you for this very detailed answer. I'll try what you wrote and come back with some feedback.

[2021-09-20 12:00] dsilhavy commented on #3771
@cchanley2003 Thanks for this detailed report. I reached out to the developer who created codem-isoboxer and asked him if it possible to move the code to the DASH-IF Github.

I will need to check the ISOBMFF spec to give you useful feedback, will try to allocate some time for this.

[2021-09-20 12:01] Robloche commented on #3773
So... No `@suggestedPresentationDelay` attribute in the MPDs we use.
Increasing `liveDelay` to 30 works, and using `calcFromSegmentTimeline: true` also works.
I guess the `calcFromSegmentTimeline` solution is better.
What do you think?

[2021-09-20 12:02] dsilhavy commented on #3762
I think this would be a nice addition. Can you provide a PR for this @lkinasiewicz for us to check? Thank you!

[2021-09-20 12:06] dsilhavy commented on #3713
The seeking problem should be fixed in #3772. Note that it needs to be enabled in the settings:
[code]

@lkinasiewicz Can you please confirm that #3772 solves your issue.

[2021-09-20 12:07] dsilhavy commented on #3707
@cnblackxp Can you check the nightly if your problem is solved. Please note that you need to enable the fix in #3754 in the settings:

`enableSeekDecorrelationFix: true`

[2021-09-20 12:18] dsilhavy commented on #3773
`calcFromSegmentTimeline: true`: Yes, I think its the saver approach if you don't know exactly which segments are signaled in the MPD. But note that we use the last segment in `<SegmentTimeline` as the `now` anchor time. This means that if you specify a live delay of 10 seconds these 10 seconds are subtracted from the `t` of the last segment in <SegmentTimeline>`. This will lead to different live

[2021-09-20 14:18] lkinasiewicz commented on #3713
Unfortunately, this does not fix the problem. Probably because the segment request can be generated, but playback cannot start because seek position is too close to the gap. GapController does not detect the gap when player is in seeking state. Please notice that the bug occurs when seeking near the gap, not to the gap.

Logs from reproduction after changes from #3772:
[code]

[2021-09-20 20:22] arunkumartdr opened #3774 "Dash.js quality selector"
**How to implement Video Quality selctor for dash.js?**

Html Code:
[code]
**NOTE : THE MPEG DASH FILE HAS MULTIPLE BITRATES [1080P , 720P , etc....]**

like this need implement for dash.js:
[![enter image description here][1]][1]

***Please anyone with knowledge in dash.js help me to solve this***

  [1]: https://i.stack.imgur.com/C8QYN.png

[2021-09-21 08:40] dsilhavy commented on #3713
@lkinasiewicz Thanks for checking this. You are right, the previous PR solved the issue when seeking into a gap but no the case in which the user seeks very close to a gap. I tried solving this in #3775. Can you please check the PR. Please note that you have to enable the fix via settings:

[code]

Based on your feedback also in the upcoming weeks we can consider enabling this by default.

[2021-09-21 13:04] Robloche commented on #3773
So, I ended up using `calcFromSegmentTimeline: true` and it works as expected.
Thanks for your time and the great work.

[2021-09-21 14:17] lkinasiewicz commented on #3762
Sure, I think I will be able to work on this next week.

[2021-09-21 16:02] dsilhavy commented on #2861
I am closing this, as support for switching between AdaptationSets with different codecs was added in 4.0.

[2021-09-21 16:02] #2861 closed

[2021-09-26 20:09] l1bbcsg opened #3778 "Why does dashjs download all Representation Initialization Segments before starting playback?"
I noticed some weird behaviour which I can't quite call a bug, but it seems like a misoptiomisation.

Upon initialization, `RepresentationController` fetches Initialization Segments for all available representations.

This results in several parallel XHRs, one for each representation.
Browsers severely limit the number of concurrent requests per domain (typically around 8 it seems) and even before

[2021-09-26 20:20] l1bbcsg commented on #3778
I figured duplicate requests, those are `segmentsController.updateInitData` and `segmentsController.updateSegmentData` which result in (`loadInitialization` and `loadSegments` of `SegmentBaseLoader`) calls made simultaneously.

It seems they often result in identical 0-1500 bytes request, so that's definitely something that can be optimized.

[2021-09-29 13:20] dsilhavy commented on #3713
This was fixed in version 4.1.0. Please comment if you encounter any issues.

[2021-10-04 06:23] chanh1964 opened #3784 "scheduleWhilePaused is not working on dash.js 4.x.x"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-10-04 09:36] giacomotontini commented on #3640
I'm facing the same issue.
Also, this has an impact of ABR (even with fast switch enabled). If the network connectivity recover itself, the player won't ask better segments even if it's possible to.

[2021-10-04 09:57] chrisn commented on #3474
MSE in Workers is a feature that we're interested in using. I note that there's now an [Origin Trial](https://developer.chrome.com/origintrials/#/view_trial/3847199981681246209) open in Chrome 95 to 99.

[2021-10-04 11:00] krackjack234 commented on #3610
hi @orange4glace any idea when this feature will be available?

We are also seeing problem on Tizen devices where we see Quota_Exceeded error and then the player never recovers.
The logs are same as you posted above

[2021-10-04 11:11] lkinasiewicz commented on #3713
@dsilhavy please reopen. On development branch, with changes from #3775, when `enableSeekFix` is `true`, exceptions are being thrown during playback and the problem still occurs.
[code]

[2021-10-04 11:27] dsilhavy commented on #3713
@lkinasiewicz Thanks for testing, there was a mess up with the parenthesis in the function, sorry for that. It should be fixed with https://github.com/Dash-Industry-Forum/dash.js/commit/a2b96237861154434dcb8bb572d8563c1437a1f4

[2021-10-05 12:13] krackjack234 opened #3786 "Player not recovering aftet stalled even on Tizen tv model 2021"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-10-05 14:16] krackjack234 commented on #3786
**Update**

We can reproduce same issue if we change dash buffer config to below values and try a 3-hour long form content

`bufferPruningInterval: 1,
 bufferToKeep: 2,
 bufferTimeAtTopQuality: 2,
 bufferTimeAtTopQualityLongForm: 2,
 stableBufferTime: 2,
 useAppendWindow: false,
`

With above experimental buffer configs, same issue happens on chrome browser and thereafter the player does not recov

[2021-10-05 14:46] dsilhavy commented on #3786
@krackjack234 Did you check with dash.js 3.2.2 and 4.1.0? Version 3.2.0 is outdated so there is a good chance this has been fixed in the meantime

[2021-10-05 15:18] krackjack234 commented on #3786
@dsilhavy we just checked with v3.2.2 with the experimental buffer configs on chrome browser but still the problem is there.

Here are the logs.

`
[80777][ScheduleController][video] Next fragment request url is https://example.com/content/entry/wvdata/76/3/2a77451018cb11ecb733e74fce777a17_696_v.mp4
videoplayerlib.js:80100 [80805][BufferController][audio] Removing buffer from: 0 to 10.005333333333

[2021-10-05 16:06] krackjack234 commented on #3786
Same issue is seen with v4.1.0 also.

[2021-10-05 16:19] dsilhavy commented on #3786
Looking at the logs I don't see an issue in the player. It looks like the player is requesting video data correctly:

[code]

However the buffered range remains the same:
[code]

The audio buffer looks ok:
[code]

There might be something wrong with the video segments after 20.12 seconds

[2021-10-05 16:20] dsilhavy commented on #3786
You can use one of the DASH-IF SegmentBase reference vectors for reference and check if you can reproduce the same problem: https://dash.akamaized.net/dash264/TestCases/1a/sony/SNE_DASH_SD_CASE1A_REVISED.mpd

[2021-10-06 05:31] krackjack234 commented on #3786
@dsilhavy  issue is reproducible even with the above reference vector with below configs in chrome browser with dash library v4.1.0

[code]

Once the player goes to buffer stalled state, it does not recover

[code]

[2021-10-06 12:31] lkinasiewicz commented on #3713
This fixed the issue. Thanks! 🎉 We can close this ticket.

[2021-10-06 12:31] #3713 closed

[2021-10-10 22:19] #1803 closed

[2021-10-12 23:47] cchanley2003 commented on #3771
Yes, I'll look at getting one submitted this week.

[2021-10-13 20:35] lamflam opened #3787 "Console error due to reading field from `null`"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [] There are no network errors such as 404s in the browser console when trying to play the stream
- [] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs in t

[2021-10-13 21:46] l1bbcsg opened #3788 "TypeError: cue.scaleCue is not a function"
##### Environment
* Dash.js version: 4.1.0

##### Steps to reproduce
Any vtt text track that starts at 0 timestamp (or probably close to it) causes Dash.js to throw an uncaught exception. Playback is not affected, however.

Example of such track:
[code]

It could be embedded into any manifest as follows:

[code]

It seems `scaleCue` is monkey patched only for TTML tracks, but is invoked for VTT tr

[2021-10-14 14:23] lamflam commented on #3787
Awesome, thanks @dsilhavy!

Yes I am using low latency mode, here are my settings:
[code]

It actually only seemed to happen when I switch from the one stream to another, never on the first attempt to play a stream. When switching streams, I call `reset()` on the `MediaPlayer` and then call `initialize()` again with the new stream details to start playback. Everything works very well, I just happe

[2021-10-14 14:29] lamflam commented on #3787
Also, should I close this or do you generally keep it open until it makes it into a public release?

[2021-10-14 14:46] #3787 closed

[2021-10-14 16:47] andygr opened #3790 "VideoJS 7.15.4 - intermittent 403s when using RequestModifier for MpegDash"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occurs

[2021-10-17 07:01] dsilhavy commented on #3790
We are not maintaining the video.js library, an example on how to use the requestModifier with plain dash.js can be found here: https://reference.dashif.org/dash.js/nightly/samples/advanced/extend.html Please check if you can reproduce the problem using only dash.js.

[2021-10-17 17:46] synologic commented on #3707
In 4.1.0 as well as the nightly build (as of 17th nov 2021) does not experience this problem on clear streams.
With Widevine, it freezes, manifest is not being refreshed.

Here's what i get:

`[566][DashParser] Parsing complete: ( xml2json: 88.3ms, objectiron: 3.24ms, total: 0.0915s)  Debug.js:169
[599][StreamController] Manifest updated... updating data system wide.  Debug.js:169
[633][ManifestUp

[2021-10-18 00:36] AUGxhub commented on #3786
can show the tizen device detail s/w version ?
and which mpd url are u trying to play ?

[2021-10-18 09:08] bbert commented on #3788
@l1bbcsg I managed to reproduce.
Indeed the patch was applied not only for TTML tracks on `loadedmetadata` event handler

[2021-10-19 06:23] dsilhavy commented on #3788
@l1bbcsg Can you please confirm that #3791 did fix your issue

[2021-10-19 06:29] dsilhavy commented on #3423
Easiest workaround would certainly be to add a settings flag like `ignorePsshFromSegments` or something similar.

I think ignoring it in general is dangerous. I saw streams that did not update the pssh in the manifest after a key rotation but only the one in the segments.

[2021-10-19 06:39] bbert commented on #3423
Yes, we should keep backward compatibility with those streams.
Settings flag is a good option.

[2021-10-19 11:37] #3788 closed, assigned to nobody

[2021-10-20 05:45] chanh1964 opened #3792 "Player re-requested the latest segment when changing bitrate"
I'm not sure if it is a bug or not, but I guess it's worth noticing.

##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://

[2021-10-20 06:26] chanh1964 commented on #3792
It turns out that the segment is replaced when the player changes the bitrate.
Assume that the latest downloaded segment is S(i), if the player decides a bitrate change, it downloads S(i) again with the newly decided bitrate.

So I guess this definitely is a bug. It happens with dash.js 4.x.x.

[2021-10-21 16:47] krackjack234 opened #3794 "Dashjs throws error while playing IMA ads in Chrome in iPhone simulation mode or on Tizen browser"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-10-23 00:07] nicoweil opened #3795 "Live Thumbnails in multi-period not displayed as expected"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-10-24 16:28] wojtkamil opened #3796 "Player not recovering after restoring the internet connection"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-10-26 16:09] MariusSp opened #3798 "CurrentDVRInfo() does not contain time"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-10-29 12:05] Murmur opened #3800 "Live multiperiod with advert, crashes after 15min loop on "cannot read properties of null""
Player https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html  `4.1.1 (development, commit: 83c9f6d3)`
Manifest(broken timeline) https://refapp.hbbtv.org/videos/multiperiod_test6.php
New manifest without adverts https://refapp.hbbtv.org/videos/multiperiod_test6c.php

- vod segments as a continuous live type="dynamic" manifest loop
- main periods, advert(12s) perio

[2021-11-01 12:53] dsilhavy opened #3801 "License server via MPD tags"
**Is your feature request related to a problem? Please describe.**
Content providers should be able to define the license server via MPD using the `dashif:laurl` tag. From the IOP v5 spec:

DRM systems generally use the concept of license requests as the mechanism for obtaining content keys and associated usage constraints. For DRM systems that use this concept, one or more `dashif:Laurl` elements

[2021-11-01 15:30] dsilhavy commented on #3801
Implemented as part of #3793 . An example is available here: https://reference.dashif.org/dash.js/nightly/samples/drm/dashif-laurl.html

[2021-11-01 15:30] #3801 closed

[2021-11-01 15:35] dsilhavy commented on #3423
Implemented as part of #3793 . In order to use this feature, adjust the settings as described here: https://github.com/Dash-Industry-Forum/dash.js/wiki/Digital-Rights-Management-(DRM)-and-license-acquisition#ignoring-init-data-from-the-pssh

[2021-11-01 15:35] #3423 closed

[2021-11-02 07:37] dsilhavy commented on #3798
I checked this and I don't think we should change anything here. For live content the time is updated once the DVR window is updated. For VoD content the DVR window does not change, thats why we only set it once before playback starts.

In order to get the current time please use `player.time()`

[2021-11-02 07:42] dsilhavy commented on #3796
How are you cutting the connection, I don't see a message like this in your logs:

[code]

By default dash.js tries to fetch a segment three times with a one second timeout in between. After that no more attempts are made for the same segment. You will need to seek a bit in order to trigger download of the next or a previous segment

[2021-11-02 07:45] dsilhavy commented on #3795
Thanks for reporting, this requires a redesign of the Thumbnail logic in dash.js. Instead of having an individual ThumbnailController per period we need a global ThumbnailController for the complete stream.

Right now the ThumbnailControllers are initialized once a period is started. This is why thumbnails are only shown for periods that have been played at least once.

[2021-11-02 07:48] dsilhavy commented on #3794
Can I ask why you are emulating playback for iPhone? There is no MSE available on iPhone devices. If playback works fine in standard Chrome there is probably something wrong with the emulator.

Regarding Tizen: On what kind of device does the error occur?

[2021-11-02 09:41] dsilhavy commented on #3792
I think the problem here is related to small differences in the segment duration. As an example:

- Segment duration according to MPD is 4 seconds
- When checking the buffer, the segments are not exactly 4 seconds. As an example, the buffered range after 19 segments is 0 - 79.999
- When switching quality we check the buffer and then choose the appropriate segment to download. In this example we re

[2021-11-02 16:13] nicoweilelemental commented on #3795
There is an additional level of problem here, on top of the single ThumbnailController question: in the last period, only one thumbnail is displayed despite moving the cursor above the seekbar, while in the single period steams we can see a discrete thumbnail every 4s, as expected.

[2021-11-03 08:23] krackjack234 commented on #3794
@dsilhavy the actual playback problem is happening on Tizen tv across all tizen os versions. We could replicate the exact behavior when we simulate chrome browser to iphone mode even with clear dash streams.

What it looks like is on both tizen and iphone simulation mode, there can be only one video element at a time which is causing ads + content playback to fail. When IMA is initialised and ad i

[2021-11-04 09:55] Murmur opened #3804 "Video resolution resets back to a default track after the multi-period switch (main, advert, main)"
Player https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html 4.1.1 (development, commit: c7608756)
Manifest https://refapp.hbbtv.org/videos/multiperiod_test6b.php

Live manifest has three video resolutions(360p,720p,1080p) and two audio languages(eng,fin) on main content period, advert period just one video+audio track. Adverts every 1min interval.

Choosing a re

[2021-11-05 07:08] dsilhavy commented on #3798
Closing this, nevertheless thank you for pointing this out @MariusSp

[2021-11-05 07:08] #3798 closed

[2021-11-05 12:34] ZERO-cong commented on #3792
Hi, thank you for your suggestions on this issue! I have the same problem which is when I use my own custom ABR rule and the bitrate of video chunk is often changed, the player will download the chunk has been download before. For example, the last chunk's index downloaded by the player is 6 and the player will not download 7 next time but repeatedly download 6 many times and even download 2/3/4..

[2021-11-05 13:20] dsilhavy commented on #3792
@ZERO-cong This sounds like a configuration issue in your case. Please check `fastSwitchEnabled` in your settings. If you set `fastSwitchEnabled` to true then:

`When enabled, after an ABR up-switch in quality, instead of requesting and appending the next fragment at the end of the current buffer range it is requested and appended closer to the current time.`

[2021-11-05 14:09] dsilhavy commented on #3792
Added an example to nightly: https://reference.dashif.org/dash.js/nightly/samples/abr/fastswitch.html

[2021-11-06 07:49] dsilhavy commented on #3792
@chanh1964 Two things we might try here to improve the current behavior:

- Instead of using the buffered range of the MSE we can use the buffered range according to the MPD. That should avoid rounding errors as described before
- Do not use `setExplicitBufferingTime` in case the segments of the new Representation have the same duration as the one from the previous Representation. This is harder t

[2021-11-06 08:39] dsilhavy commented on #3800
I think there are two problems here:

- Content problem: The `timeShiftBufferDepth` is set to `PT1H` but there is not enough content in the MPD to fulfill this DVR window
- Player problem: dash.js periodically compares the `currenttime` against the DVR window. If the `currenttime` is outside of the DVR window we do a seek. There seems to be a late update of the MPD containing the new periods. dash

[2021-11-06 09:31] dsilhavy commented on #3800
Please also add a `minimumUpdatePeriod`. From 23009-1:

`@minimumUpdatePeriod: If this attribute is not present, it indicates that the MPD does not change.`

[2021-11-06 10:40] ZERO-cong commented on #3792
Thank you for your advice. I implement my ABR rule in dash-if-reference-player and no matter if I set fastSwitchEnabled to false in src\core\Settings.js or uncheck the fast switching ABR option in samples/dash-if-reference-player/index.html, the player still download chunks repeatedly. I have tried many times, but it dosen't seem to work. Only when the bit rate is constant，the player will download

[2021-11-06 15:01] krackjack234 commented on #3794
@dsilhavy looks like Tizen platform supports only 1 video tag at a time which is used by Google IMA sdk when ad is about to load. The IMA sdk attaches the ad content url to the video element without informing the dash framework because of which dash framework keeps on throwing buffer errors. The same behavior is seen with iPhone simulation mode on Chrome browser.

It looks like only way to play ad

[2021-11-06 18:50] Murmur commented on #3800
Thanks, will double check a manifest run a new test. Yes after a while manifest loses a maincontent period or maincontent+advert periods between the previous and fresh manifest snapshot.

It's simply using a hardcoded `timeShiftBufferDepth` value as we are testing a live stream. Segments are from a static manifest repeating an infinite loop so they are always infinitely available backward and also

[2021-11-07 03:46] littlespex opened #3806 "CMCD data processing doesn't not escape double quotes or backslashes"
The following line is used to escape double quotes in CMCD data, but its missing a `\`:
https://github.com/Dash-Industry-Forum/dash.js/blob/2b3976b23a08f868368907f3a28ec4e24d0d8d80/src/streaming/models/CmcdModel.js#L515

Should be:
[code]

Also, there is no escape code for backslashes. One solution for both issues could be:
[code]

[2021-11-07 09:26] dsilhavy commented on #3794
@krackjack234 Thanks for checking. There is currently no way in dash.js v4.x to buffer segments without the use of the MSE. In 3.x we had support for preloading: https://reference.dashif.org/dash.js/v3.2.2/samples/getting-started/pre-load-video.html

Please check if the preloading functionality solves your issue. If that is the case please open an issue including a description of the feature reque

[2021-11-08 15:21] dsilhavy commented on #3800
- The problem with `timeShiftBufferDepth` is that it is not reflected in the periods of this MPD. Players like dash.js will compensate for that by adjusting the DVR window based on the period boundaries. However, at some point periods are removed that are still in the `timeShiftBufferDepth` which might lead to inconsistencies in some players.
- I think the missing `@minimumUpdatePeriod` is the rea

[2021-11-08 15:22] dsilhavy commented on #3792
@ZERO-cong Does this happen with the default ABR algorithm as well or only with the custom one? Also do you see this behavior with different content?

[2021-11-08 15:45] dsilhavy commented on #3800
This might help debugging the stream. Two consecutive MPDs:

[code]

In my opinion there is a gap between the two MPDs. This is indicated by:

- The `Period@id` values, `p68182703` and `adp68182703` are missing
- The difference between the endtime of the last period in MPD 1 and the starttime of the first period in MPD2:
`1636385028 - 1636385004 = 24`

In addition: When the error happens the curre

[2021-11-08 16:12] #2868 closed

[2021-11-09 04:07] java-lang-goutam opened #3807 "[SourceBufferSink][video] getAllBufferRanges exception: Failed to read the 'buffered' property from 'SourceBuffer'"
Hi Team,

I am unable to play CMAF conformant encoded video in chrome browser with dash js. The same works just fine with mozilla and safari.
It keeps crashing with below error :

[code]

I am not able to find exact issue however with reference to other issues it seems chrome struggles to play muxed video and audio. When I encode same video with m4s its playing perfectly fine. However when I use f

[2021-11-09 04:57] ZERO-cong commented on #3792
I think it happen only with my custom ABR rule because I checked the "Use Custom ABR Rules" option in in samples/dash-if-reference-player/index.html and I checked the output of the browser console（google chrome） and found that the player did call my ABR before downloading each chunk. I tried two different contents which is [https://dash.akamaized.net/envivio/EnvivioDash3/manifest-video-only.mpd](u

[2021-11-09 07:48] dsilhavy commented on #3807
I assume Chrome complains about the missing audio mimeType. Try adding it to the manifest as part of the codecs string:

[code]

Please note that dash.js is not designed for playback of a/v muxed content although playback might work in this case.

[2021-11-09 17:00] Zahoq opened #3808 "When seeking to position where's a gap - stream freezes"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-11-09 18:13] dsilhavy commented on #3808
@Zahoq We do have a workaround for that in place. This workaround was added shortly before the release of 4.1.0 which is why we disabled it by default. The basic idea is to adjust the seek target by seeking close to the target time. This is only supported for static content as of today. Please try by enabling it as follows:

[code]

It would be great if you can share your results here. If this pro

[2021-11-10 09:58] Zahoq commented on #3808
@dsilhavy we're already using `enableSeekFix` workaround. Issue reproduces with `enableSeekFix` set to `true`.

[2021-11-10 10:26] dsilhavy commented on #3808
Can you please share a playable version/link to the stream then we can check.

Also please check if this still occurs with the latest development branch, specifically after this fix: https://github.com/Dash-Industry-Forum/dash.js/commit/5965ab666b9c67e26cb8808f4247ad5158b34f9b

[2021-11-10 15:03] dsilhavy commented on #3792
If you can share your code we might be able to take a look

[2021-11-11 02:49] ZERO-cong commented on #3792
I have sent the code to your email, please check it.

[2021-11-11 12:37] #3651 closed

[2021-11-12 07:54] Murmur commented on #3800
I made a better stream for now without an advert breaks. All periods are from the main content. My naive bug in `timeShiftBufferDepth` fixed, a full backlog time window is now visible in all manifest reloads. No more NULL error.

I don't use `minimumUpdatePeriod` because testing a MpdRefresh events. I have no answer how should minUpdatePeriod really be set as idea is not to use an even interval fo

[2021-11-12 09:11] dsilhavy commented on #3800
Thanks for sharing, stream seems to run fine.

[2021-11-14 08:13] dsilhavy commented on #3673
Unstale

[2021-11-15 12:48] bbert opened #3810 "Switch audio track at startup while loading stream with start time"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-11-15 18:08] dsilhavy commented on #3354
Hi guys is there any concrete action required here? The dist files are part of the npm package.

[2021-11-16 00:12] iamart commented on #3354
@dsilhavy as mentioned in the first post, a line needs to be added to package.json that would point to index.js file.

[2021-11-16 16:22] Zahoq commented on #3808
@dsilhavy my apologies for long delay between responses. Sadly I am unable to provide link to stream, it requires established session with our content provider servers. I'll try to prepare something, however it will take some time.

I've verified fix https://github.com/Dash-Industry-Forum/dash.js/commit/5965ab666b9c67e26cb8808f4247ad5158b34f9b , it didn't solve the issue. Let me investigate it fur

[2021-11-17 08:59] LegendCai2017 opened #3812 "How to estimate current available throughput correctly with dash.js API?"
I am trying to estimate the current throughput in my code. Here is my code snippet:
`const throughput = player.getAverageThroughput(mediaType);`

However, the throughput value seems to make no sense, and they stay the same. And I try another version:
[code]

However, this throughput value is also meaningless. What is the correct way to estimate the throughput?

[2021-11-17 10:06] krackjack234 commented on #3794
hi @dsilhavy we wanted to check how we can tune the buffer levels in dashJS for faster startup of playback

1. How to configure the minimum amount of data that player should wait for before starting playback? Wanted to check is this same as **stableBuffer** time?
2. How to configure the minimum amount of data that player should wait for before **after a user seek**?
3.  How to configure the minimu

[2021-11-17 11:56] tomraut opened #3813 "#t=0 anchor link no longer starts playback of live stream automatically if "calcFromSegmentTimeline" set to true"
##### Environment

- [X] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occurs

[2021-11-17 12:47] dsilhavy commented on #3812
What do you mean by "makes no sense"? Which stream are you using for testing? What are the values you are seeing compared to the ones you are expecting?

`const throughput = player.getAverageThroughput(mediaType);` is the right call.

One thing you might want to modify are the thresholds for caching, see Settings.js

[code]

[code]

[2021-11-17 13:43] dsilhavy commented on #3794
1. dash.js starts playback as soon as there is data in the buffer. In order to set a specific buffer level before playback should start please check `initialBufferLevel` : http://reference.dashif.org/dash.js/nightly/samples/buffer/initial-buffer.html . `stableBufferTime` is the buffer level we try to maintain while not playing at the top quality
2. Playback should resume as soon as there is data i

[2021-11-17 13:48] krackjack234 commented on #3794
HI @dsilhavy  thanks for the links and quick revert, we will go through them.

One quick question. When you say that "dash.js starts playback as soon as there is data in the buffer", is there any minimum number of segments that it wait for to be downloaded before it starts playing the content? I see that default value of initialBufferLevel is NAN, hence asking the question.

[2021-11-17 13:50] dsilhavy commented on #3813
@tomraut can you please check if your problem is fixed here: https://github.com/Dash-Industry-Forum/dash.js/pull/3815 . The changes should be available in the nightly build soon: http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

[2021-11-17 13:51] dsilhavy commented on #3794
No minimum number per default. Only if you adjust `initialBufferLevel` we use this value as a minimum.

[2021-11-17 14:06] dsilhavy commented on #3800
@Murmur Can I close this issue since the problems seem to be stream related?

[2021-11-17 14:06] dsilhavy commented on #3807
@java-lang-goutam Did this fix your issue? Can we close this ticket?

[2021-11-17 14:20] LegendCai2017 commented on #3812
Thank you for your timely reply, @dsilhavy! I wonder if `player.getAverageThroughput(mediaType)` is the correct way to estimate bandwidth in a customized ABR algorithm. I am implementing my own `BitrateRuleClass` function. What is the unit used by the function `getAverageThroughput`, kbits/sec or bits/sec? And what do 50 mean as a video caching thresholds?

[2021-11-17 15:10] java-lang-goutam commented on #3807
Yes sure thanks, that helped!

[2021-11-17 15:10] #3807 closed

[2021-11-18 04:16] tomraut commented on #3813
@dsilhavy yep, seems to be fixed! Awesome!

[2021-11-18 06:50] tomraut commented on #3813
@dsilhavy I may have been too fast to give you test result. When testing with another stream, it is still not fixed. Not sure if ?t= parameter has something to do with this.

Following kind of stream still requires user to tickle timeline:
https://mtv-live-simulcast.cdn.katsomo.fi/live/E6USP/E6USP.isml/E6USP.mpd?t=2021-11-18T06%3A07%3A00.000Z-2021-11-18T07%3A24%3A47.000Z#t=0

[2021-11-18 08:25] dsilhavy commented on #3813
I cant check this stream seems to be DRM protected. Does it start when you omit the t parameter?

[2021-11-18 09:36] Murmur commented on #3800
@dsilhavy Yes please, I have a new test stream coming up soon in few days, will create new tickets if something else arise.
- this content is vod-to-live scripting so need very finetuned timeline handling to make things work (with main content and adverts).

[2021-11-18 09:37] #3800 closed

[2021-11-18 10:11] tomraut commented on #3813
@dsilhavy I've done some debugging and I think reason for this not working in our player is this code: https://github.com/Dash-Industry-Forum/dash.js/blob/3786007701c880ee3fcd7daa45f5d2c29afadc69/src/streaming/controllers/PlaybackController.js#L465-L471

When testing same stream (https://mtv-live-simulcast.cdn.katsomo.fi/live/E39USP/E39USP.isml/E39USP.mpd?t=2021-11-18T09%3A00%3A00.000Z-2021-11-18T

[2021-11-18 10:45] dsilhavy commented on #3812
- `getAverageThroughput` returns the throughput in kbit/s
- 50 is a threshold. For download times below 50ms we assume that the segment was coming from the cache. In that case we are not adding the corresponding calculated throughput to the list of throughputs. "For a given media type, the threshold which defines if the response to a fragment request is coming from browser cache or not"

[2021-11-18 13:02] Zahoq commented on #3808
@dsilhavy investigation led me to conclusion that issue occurs because of the missing range that contains our seekTarget. I've noticed that BufferController has a function called `_adjustSeekTarget`, which sounds like a good place for further expansion. Please check fix proposal:
https://github.com/Zahoq/dash.js/commit/23c3782b70bcba1313b9239d5a2217346034eec4
Could you please verify if my approach

[2021-11-18 18:57] dsilhavy commented on #3808
Thanks, please issue a pull request with your changes against development. You can add the label "Work in Progress - Don't Merge" to indicate that this is still ongoing. That makes it easier for me to check.

Thank you

[2021-11-19 02:51] ZERO-cong opened #3817 "What do the two options "Reuse SourceBuffer" and "Allow Local Storage" in DASH Reference Client mean?"
I want to loop the video many times, while ensuring that each video chunk is downloaded from the video server during each playback, not from the browser cache or local storage. What should I do? Currently I have disabled browser caching, but found three are two options "Reuse SourceBuffer" and "Allow Local Storage" in DASH Reference Client. I don’t know if dash.js has its own local storage for cac

[2021-11-19 06:17] tomraut commented on #3813
@dsilhavy If I test our player with stream without ?t parameter (https://mtv-live-simulcast.cdn.katsomo.fi/live/E39USP/E39USP.isml/E39USP.mpd#t=0), I see that updateCurrentTime is called several times before eventually DVRWindow.start changes and it proceeds to if clause applying seek and stream starts:
[code]

So it seems to me that when there is a ?t parameter in the manifest URL, DVRWindow.star

[2021-11-19 08:05] dsilhavy commented on #3813
- If you omit #t there should be no seek coming from `updateCurrentTime`. However, startup might take a while if you don't adjust the live delay or enable `calcFromSegmentTimeline`
- In my tests on nightly https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html the stream starts every time event if I limit the available bandwidth in the network panel (in case there

[2021-11-19 10:05] tomraut commented on #3813
@dsilhavy if I toggle "Calculate segment availability from timeline" ON when using reference player, then stream `https://mtv-live-simulcast.cdn.katsomo.fi/live/E39USP/E39USP.isml/E39USP.mpd?t=2021-11-19T09%3A00%3A00.000Z-2021-11-19T10%3A34%3A58.000Z#t=0` does not start and I have to tickle timeline also with reference player in order to start playback.

Should this be considered a bug or a featur

[2021-11-19 10:11] dsilhavy commented on #3813
Looks like a timing issue, would need to check this in detail. It starts after some time though even without manually seeking.

[2021-11-19 10:26] dsilhavy commented on #3817
dash.js does not cache media segments itself. `Reuse SourceBuffer` is important for multiperiod streams or codec changes. If enabled the MSE is not reset and the existing SourceBuffer is reused using the `SourceBuffer.changeType` method.

"Allow local storage" is used to saved the last selected bitrate. This is useful when a new MPD is loaded to select the best starting quality. See "lastBitrateCa

[2021-11-19 10:48] Zahoq commented on #3808
@dsilhavy please check https://github.com/Dash-Industry-Forum/dash.js/pull/3818

[2021-11-20 09:05] dsilhavy commented on #3808
@Zahoq Thanks. I checked your logs and the manifest. For video there is clearly a gap in the manifest as `S@t` for the first segment is larger than `presentationTimeOffset`. Consequently what dash.js is doing is also wrong:
`2.e02ea1c3.chunk.js:2 [1167531][DashHandler][video] Index for time 0 is 0 ` is wrong as there is no segment signaled for time 0.

This is exactly what `_noMediaRequestGenerate

[2021-11-20 19:02] andygr commented on #3790
@dsilhavy , can I stream HLS with the same library?

[2021-11-20 19:59] dsilhavy commented on #3790
dash.js does not support HLS. video.js supports HLS afaik

[2021-11-20 20:07] andygr commented on #3790
do you know if I can use requestModifier with HLS?

[2021-11-22 01:15] #3664 closed

[2021-11-22 04:05] hnguyen48206 opened #3819 "The DashJS show No stream to play but the same url works on VLC."
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs

[2021-11-22 09:12] dsilhavy commented on #3819
It looks like your stream is encoded with HEVC which is probably not supported by the platform

[2021-11-23 13:44] DanyMo20 opened #3820 "Help with disable autoplay"
Hello,
I need help with disable autoplay of your videoplayer. I tried to set third parameter to False in section "player.initialize(videoElement, url, true)", but autoplay is still turned on.
Here is the sample of code:

[code]

Help greatly appreciated !

Thanks

Dany

[2021-11-23 16:51] wilaw commented on #3820
Have you tried removing the `autoplay `tag from `<video preload="auto" autoplay></video>` ?

[2021-11-23 17:07] DanyMo20 commented on #3820
I have only tried to delete parameter `autoplay` or set third parameter to false in section `player.initialize(videoElement, url, false),` not together. Now together it works. Thanks for help.

[2021-11-23 17:07] #3820 closed

[2021-11-24 04:33] hnguyen48206 commented on #3819
Thank you sir for your quick reply. That's the part that I do not quite understand, cause if I use the regular html video tag with a local file input then my app can definitely read h265 encoded video (for ex, this one: https://drive.vnpt.vn/index.php/s/WPKs6zhIHpOlsd4). It is the same case when i put the video src as a full url to a full remote file to the video tag. So I do not think it is the p

[2021-11-24 10:45] Zahoq commented on #3808
@dsilhavy Sadly asset with gap at the beginning went down. I'm waiting for our 3rd party team to bring it back. I should be able to test it tomorrow.

[2021-11-26 10:09] Zahoq commented on #3808
@dsilhavy asset with gap at the beginning has been removed from our BO, it will take some time to bring it back to retest this issue:( My team will update this issue once it's retested.

[2021-11-27 16:22] JasonHans opened #3821 "display resolution"
Player https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html shows the resolution of the examples provided by default .mpd file.

How can it show the resolution of my own generated .mpd file?

[2021-11-27 17:26] dsilhavy commented on #3821
The resolution in the sample MPD (https://dash.akamaized.net/akamai/bbb_30fps/bbb_30fps.mpd) is burned into the video and not rendered by dash.js itself.

You can either add this information during encoding or put a `div` element on top of the video element. dash.js exposes metrics that will give you information about the current `Index Downloading` and `Index playing`. You can map that to the cor

[2021-11-29 10:18] dsilhavy commented on #3821
An example is now available here: http://reference.dashif.org/dash.js/nightly/samples/advanced/monitoring.html

Closing this issue

[2021-11-29 10:18] #3821 closed

[2021-11-29 13:46] dsilhavy commented on #3808
@Zahoq Thanks for the update, I have merged #3818 to development. We can keep this issue open for now.

[2021-11-30 11:04] dsilhavy opened #3826 "Autoplay via URL parameter leads to playback stall in the Reference UI"
##### Environment
* Link to playable MPD file:
* Dash.js version: 4.2.0
* Browser name/version: http://localhost:3000/samples/dash-if-reference-player/index.html?source=https://dash.akamaized.net/dash264/TestCases/1a/sony/SNE_DASH_SD_CASE1A_REVISED.mpd&autoplay=true
* OS name/version:

##### Steps to reproduce
1. Call reference UI with MPD url and autoplay set to true
2. Playback will stall after

[2021-11-30 11:24] #3826 closed

[2021-11-30 12:18] #3817 closed

[2021-11-30 12:20] dsilhavy commented on #3819
Please check the log outputs for messages such as:

- `AdaptationSet has been removed because of no supported Representation`
- `[Stream] Codec ${configurations[i].codec} not supported ` --> `configurations[i].codec` will be replaced with the filtered codec

[2021-11-30 12:20] #3812 closed

[2021-11-30 12:21] dsilhavy commented on #3796
@wojtkamil Any updates here?

[2021-12-02 05:46] ckf104 opened #3828 "playback error : audio object type 0x40 does not match what is specified in the mimetype"
When I use [reference player](https://reference.dashif.org/dash.js/latest/samples/dash-if-reference-player/index.html) to play my dash-video, I see the following error in the console. I have tried in the latest edge browser and google chrome browser in Windows 10 system.
[code]
here is my mpd file
[code]
[dump.txt](https://github.com/Dash-Industry-Forum/dash.js/files/7639514/dump.txt) of `fragment

[2021-12-05 00:22] #3670 closed

[2021-12-05 00:22] #3593 closed

[2021-12-05 08:38] dsilhavy commented on #3828
`<SegmentList>` is excluded from the IOP guidelines. However, dash.js still supports it. What looks wrong to me is the init range. For both `video` and `audio` this is set to `range="32-1167` Probably the range for audio is wrong leading to an error in the SourceBuffer

[2021-12-06 11:47] ckf104 commented on #3828
Thanks for kind help! I tried another dash tool `mp4box` to generate dash video. Specifically, I used the following commands(for any other people with the same problem).
[code]
generate mpd file of using segmentBase method with `-single-segment` parameter, otherwise using segmentList method, which all work well with dash.js player.
Thanks, I will close the issue.

[2021-12-06 11:48] #3828 closed

[2021-12-16 17:29] grabofus commented on #3679
Issue still exists

[2021-12-17 10:22] dsilhavy commented on #3808
I will close this for now as the issue is solved in my tests and `enableSeekFix` is enabled by default with #3832

[2021-12-17 14:31] dsilhavy commented on #3813
@tomraut Can you confirm that #3833 fixes the issue? I applied a minor offset to not interfere with MSE seekable range. It looked good in my tests.

[2021-12-20 08:05] dsilhavy commented on #3334
Small update:
1 and 2 are solved because the `lowLatencyTimeout` for scheduling is set to 0 by default. 3 is still open so I leave this ticket open

[2021-12-20 08:23] dsilhavy commented on #3813
Fixed in #3833

[2021-12-20 08:23] #3813 closed

[2021-12-20 09:16] tomraut commented on #3813
@dsilhavy I see you already closed this one, but just to confirm: I've tested your fix and it works for me as well in our setup. Thank you very much!

[2021-12-20 09:17] dsilhavy commented on #3813
@tomraut Thank you for verifying

[2021-12-20 09:31] dsilhavy commented on #3721
@piersoh Thanks for reporting this. Is this something you can look into further? I would prefer the second approach you described above. Adding the `actualurl` in case there was a redirect.

[2021-12-22 11:02] alexg-axis opened #3834 "TypeScript typings incorrect"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2021-12-22 12:05] alexg-axis commented on #3834
Well, this issue is far from isolated to the `LogLevel`, `FactoryMaker` is missing completely, so are `ProtectionConstants`, to name a few.

[2021-12-22 13:29] alexg-axis commented on #3834
Another issue is the `getInitData` function of `KeySystem`. Implementations in the package happily returns `null`, which the typing does not allow. Furthermore, there seems to be a second parameter `cencContentProtection` passed to the function that is not in the typing.

[2021-12-22 14:27] alexg-axis commented on #3834
Furthermore, the `LicenseRequest` is incorrect, or at the very least too vague.

[code]

The `header` section should most likely be `{[key: string]: string}` or the like. Now, any value would be allowed.

[2021-12-22 15:57] dsilhavy commented on #3834
@alexg-axis Thanks for pointing this out. We are aware that the `index.d.ts` is not completely in sync with the main code base. Can you provide the required changes for the issues you found as a pull request?

[2021-12-22 16:10] alexg-axis commented on #3834
Yes, I'll try to get it done in the near future.

[2021-12-23 10:36] lollita opened #3835 "Mediaset Live Stream"
How play new [MediaSet](https://www.mediasetplay.mediaset.it/diretta/italia1_cI1) dash live stream?

[2021-12-23 11:49] dsilhavy commented on #3835
That is not enough information to create an issue. Please follow the issue template and provide us with information about the MPD and your problem.

[2021-12-23 11:49] #3835 closed

[2021-12-23 14:06] slasktrat commented on #3511
Still relevant

[2021-12-23 16:55] l1bbcsg opened #3836 "Quality change is not possible once fully buffered"
* Dash.js version: nightly, 4.2.1 as of writing.

Once Dash.js completely buffers any stream quality it will not allow any further quality switches.
This is likely caused by calling `MediaSource`'s `endOfStream` once last segment is downloaded, rather than once it's reached in playback.

Below is a demo to reproduce this issue. It starts playback of a reference stream in a worst possible quality a

[2021-12-30 16:14] enricovittorini opened #3838 "[Question] Hot to set default settings for reference player options"
Hello all,
i would like to set the "Low latency" parameters checked by default in the reference player option. How to do it?

I tried to add the
$scope.lowLatencyEnabledByManifest = true in the main.js file, staring options section but does not work
thanks,

[2022-01-03 14:29] bbert opened #3840 "Improve abandon request rule"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2022-01-03 14:36] bbert commented on #3840
Additional comment:
AbandonRequestRule is considering and counting the download progress steps only if buffer level is lower than stable buffer size (12sec by default).
It may be better to count all the progress steps whatever the buffer size, and then considering abandon request only if buffer is lower than stable buffer size.
If a request download is started just before the buffer goes below sta

[2022-01-03 17:26] wilaw commented on #3838
Check out the low latency examples at https://reference.dashif.org/dash.js/latest/samples/ - those should answer your questions.

[2022-01-03 18:52] enricovittorini commented on #3838
@wilaw i had a loot at it, but were not really useful. finally found a way to do it, by modifying in dash.all.debug.js the   var defaultSettings  the value delay.livedelay = true.

some documentation on the reference player would be great by the way...

[2022-01-03 20:11] dsilhavy commented on #3838
@enricovittorini

What exactly are you trying to achieve? `livedelay` is a number and not a boolean, see http://cdn.dashjs.org/latest/jsdoc/module-Settings.html#~LiveDelay__anchor

There are samples available on how to use the livedelay parameter: https://reference.dashif.org/dash.js/latest/samples/live-streaming/live-delay-comparison-custom-manifest.html

If you want to enable low latency mode ch

[2022-01-03 20:41] enricovittorini commented on #3838
thanks @dsilhavy

my mistake, i meant I set the to "true" the following value in the dash.all.debug.js.

[code]

I was looking for a way to load the reference dashif player with the "Low latency mode" flagged by default. once changed, the checkbox if flagged by default on the web page and it is correctly set in the player.

Maybe i missed something, but not being a developer, i found it difficult

[2022-01-04 10:05] gts2015 opened #3841 "dash.js v4.0.0"
Hi, I was trying to make a page that plays a DASH streaming stream. Everything works regularly except for the fact that I cannot implement an error management that if, for example, during Playback there should be problems, for example connection failure or any other event that can immediately intercept it with a message.

This is the code and use

[code]

Thanks to those who can help me

[2022-01-04 14:51] dsilhavy commented on #3841
Your code looks correct, do you see errors in your callback function? The code in the reference UI is structured similar:
[code]

[2022-01-04 14:52] dsilhavy commented on #3836
Good finding thanks. Will try to look into this as part of one of the next sprints

[2022-01-05 09:28] alexg-axis commented on #3834
The `LOG_LEVEL_DEBUG` not working is due to `esbuild` not always inlining `const enum`, not an issue with the typings.

[2022-01-05 12:27] dsilhavy commented on #3838
@enricovittorini The current Reference UI only offers very few options to be set via URL query parameters, e.g `url` to specify the MPD. We are working on extending this functionality to provide all settings via query parameters.

That being said, people usually build their own UI on top of dash.js. The Reference UI is mainly used for demonstration purposes and can be configured using the textfiel

[2022-01-05 17:00] travisfimmel743 opened #3845 "some Manifests are not supported????????"
Some Manifests are not supported, please fix the problem

https://tchikou22.com/d/sample.mdp

[2022-01-05 17:43] dsilhavy commented on #3845
That is not the right way to open an issue.

First of all saying "Some Manifests are not supported, please fix the problem" is like saying "I am sick, heal me". Provide a clear description of your problem.

Second, don't put eight "?" in the title of the issue.

Third: Check your manifest file against an XML validator. There is a parsing problem, probably caused by the unescaped "&" character in y

[2022-01-05 17:43] #3845 closed

[2022-01-05 19:00] gts2015 commented on #3841
Thank you. I get the error only on startup. For example, if something happens during video playback such as bad connection or other factors, I no longer receive any errors and the video remains stationary. What should I do to catch any errors while playing?

[2022-01-06 15:34] grabofus opened #3846 "Cannot seek to end of video"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2022-01-06 17:39] dsilhavy commented on #3846
Thanks, can you please check if #3847 solves your issue

[2022-01-06 17:48] grabofus commented on #3846
Issue seems to be resolved there. Thanks for the quick fix! 🙂

[2022-01-06 21:36] riksagar opened #3850 "PlaybackController.getBufferLevel() continually returns 0 due to inactive text track."
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs

[2022-01-06 22:34] riksagar commented on #3850
Can be reproduced with:
 - https://reference.dashif.org/dash.js/v4.2.1/samples/captioning/caption_vtt.html

Add the following to `caption_vtt.html` before the call to `player.initialize(...)` - can be done by setting breakpoint and executing via debug console:

[code]

Using a breakpoint on line 42912 of `dash.all.debug.js` you can observe that `playbackController.play()` is not called when text t

[2022-01-07 12:13] dsilhavy commented on #3846
Thanks for testing, #3847 is merged

[2022-01-07 12:13] #3846 closed

[2022-01-07 16:21] bbert commented on #3808
I have a concern with the modification that has been made in the TimelineSegmentGetter.
Consider the following use case:
- play a live stream, with SegmentTimeline and manifest updates
- due to network congestion, playback falls behind dvr window
- then PlaybackController tries to catch up dvr window (see updateCurrentTime())
- if in the meantime, while seeking and then first removing current buff

[2022-01-12 09:11] markriley9999 opened #3852 "PlayReady SL3000 support requires com.microsoft.playready.recommendation key system"
Hi All

I wonder if you can help me.

I want to enable PlayReady SL3000 support.  I currently have this working (using the Edge browser), which is a start!

To do this, I am working on the assumption the following 2 steps are carried out by the client.

#1: explicitly set the security level to 3000, either by the setRobustnessLevel("3000") api call or setting videoRobustness (or audio) to "3000" i

[2022-01-13 17:13] wilaw opened #3853 "Stability at high bitrate playback"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2022-01-13 23:58] kjerbi commented on #3429
Hi @nicoweilelemental
Thanks for the details above.
As the link of the mpd returns a 403 can you share any updated link to an mpd or even a sample of a cmaf chunk with emsgs containing klv?
Thank you in advance

[2022-01-14 10:25] Murmur commented on #3852
We have done this simple test page to try out few scenarios with Playready security level. Use MSEdge for playready testing, you need quite recent PC hardware to have a valid trusted environment blocks.
I'll create a new test content with 4K resolution in few days.

https://refapp.hbbtv.org/dash/test_dashjs_sl3000.html
[code]

[2022-01-16 07:58] lollita opened #3855 "Error 451 Unavailable For Legal Reasons"
ignore

[2022-01-16 08:21] #3855 closed

[2022-01-16 08:49] lollita opened #3856 "Download without Play"
This:
https://live3.msf.cdn.mediaset.net/content/dash_d1_gwv_vos/live/channel(lb)/manifest.mpd
download data but not play, also in VLC.
But work in site:
https://www.mediasetplay.mediaset.it/diretta/20mediaset_cLB

[2022-01-16 13:11] dsilhavy commented on #3856
The content is DRM protected, you need to specify a license server and potentially some authorization headers as well. Check this for an example: https://reference.dashif.org/dash.js/nightly/samples/drm/widevine.html

[2022-01-16 17:19] MariusSp commented on #3792
I had the same problem and fixed it with merging https://github.com/Dash-Industry-Forum/dash.js/pull/3797.

[2022-01-17 17:26] dsilhavy commented on #3841
You should still see errors during playback if there are any. A bad connection though is not an error. You will run into an empty buffer and receive a `BUFFER_EMTPY` event. The list of all events can be found here: http://cdn.dashjs.org/latest/jsdoc/MediaPlayerEvents.html#toc1__anchor . Please check if you need to register for the event you are looking for.

[2022-01-17 19:06] #3838 closed

[2022-01-18 07:31] dsilhavy commented on #3852
@markriley9999 @Murmur Thank you for the detailed description. We will check this and make a proposal how to move on. As far as I understand `com.microsoft.playready.recommendation` should be used as the default. We could fallback to `com.microsoft.playready` if `com.microsoft.playready.recommendation`  is not supported. To my best knowledge there is also  `com.microsoft.playready.hardware` to enf

[2022-01-18 12:43] dsilhavy commented on #3850
Thanks for reporting. #3857 excludes the text StreamProcessor when comparing the `initialBufferLevel` against the current buffer level. @riksagar Can you confirm that #3857 solves your issue?

[2022-01-18 17:49] bittu opened #3858 "Could not play PlayReady protected stream on latest Edge"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2022-01-18 18:21] dsilhavy commented on #3858
I cannot reproduce this on my Windows machine, playback works fine for me. Windows 10 with Edge version 97.0.107.62.
* Does it work in an incognito tab?
* Does your Playready content work in Shaka Player?

[2022-01-18 18:29] bittu commented on #3858
- It does not work on incognito mode as well
- Our streams are MSS so only DashJS supports.

Not sure something is wrong with my machine that requesting PlayReady is throwing error. BTW Windows10 is up-to-date and video drivers from Intel and nVidia too.

Shaka player support page shows playready is available https://shaka-player-demo.appspot.com/support.html

[code]

Do you have any idea on what

[2022-01-18 20:57] dsilhavy commented on #3852
I added a first draft for a solution in #3859. The idea is described in the PR. Basically, it allows us to define multiple system strings to be applied by priority for the different DRM systems. This is work in progress I did not carefully test this yet, further adjustments might be required. However, any feedback is welcome.

@bbert fyi, maybe you also want to comment

[2022-01-19 07:30] dsilhavy commented on #3366
unstale

[2022-01-19 07:49] Murmur commented on #3858
What happens if you disable Widevine in Edge?
`edge://flags/` and `Widevine DRM = disabled`

Also try this simple test where `protData{}` has a priority ordering on Playready and Widevine systems. Use SL2000 link in the header row as SL3000 works only on more recent trusted-platform-module machines only.
https://refapp.hbbtv.org/dash/test_dashjs_sl3000.html?video=sl2000

[2022-01-19 10:24] bittu commented on #3858
@Murmur I have tried with all the possible `edge://flags` on drm but no change.

I have tested with the given url throws same error as well. Here's the log and no errors in network calls

[code]

[2022-01-19 14:55] dsilhavy commented on #3858
I don't really have an idea here. I asked some colleagues to test and the dash.js sample page ( https://reference.dashif.org/dash.js/latest/samples/drm/playready.html) worked for all of them. Are there any outstanding windows updates for your machine? Not sure if this is possible, but can you reinstall the Edge browser?

[2022-01-19 15:21] #3856 closed

[2022-01-20 13:38] bittu commented on #3858
Reinstalled Edge, Canary and Beta versions as well.

It turns out to be the proxy server(local with self-signed cert that is added to trusted stores and all on https) that is not making it play. If i launch first time without proxy and play then from next time it plays even with the proxy on.

This is not dashjs issue sorry about this ticket.
But any ideas or enlightenment on the issue with the pr

[2022-01-21 05:35] riksagar commented on #3850
HI Daniel,

Thanks for looking at this.  I'll give it a try in the next few days.  It looks similar to the change I applied locally, so I think it'll be good.

What I concluded was it required both a text track in the MPD and `initialBufferLevel `to be non-zero to trigger this issue.  Which is probably why it hadn't been seen before.

Regards,
Rik.

[2022-01-21 09:04] dsilhavy commented on #3850
Thanks, I will merge this for now and close this ticket. Please comment if you encounter any problems.

[2022-01-21 22:07] pedrosilvabos opened #3860 "PNG subtitles"
**Is your feature request related to a problem? Please describe.**
Currently I am working with a set of live channels. Some have manifest links to subtitles, and these subtitles are PNG images.
I am working with other VOD mps that also have manifest links to subtitles but these are generaly .VTT and they work just great.

Its just these PNG that are making my life so hard, Any help would be very a

[2022-01-22 08:05] dsilhavy commented on #3860
Maybe it helps to compare your stream against the reference stream with image subtitles:
* https://livesim.dashif.org/dash/vod/testpic_2s/img_subs.mpd
* https://livesim.dashif.org/dash/vod/testpic_2s/imsc1_img.mpd

[2022-01-23 18:17] shivamsingh-07 opened #3861 "Using parsed manifest object in attachSource() function"
Hey, I'm trying to figure out a solution to remove the manifest request from the network tab of the dev tools. For that I tried to pass the parsed JSON manifest to the `attachSource()` function instead of the manifest URL as per the documentation. I modified the `src/dash/parser/DashParser.js` file to print the parsed JSON Object.

![image](https://user-images.githubusercontent.com/61000207/150691

[2022-01-23 18:53] dsilhavy commented on #3861
Please check the end of this sample: https://reference.dashif.org/dash.js/nightly/samples/advanced/load_with_manifest.html

Try adding:
[code]

[2022-01-24 13:46] markriley9999 commented on #3852
i must admit that it's not clear to me as to whether the requirement to use the 'com.microsoft.playready.recommendation' keysystem applies _only_ to the Edge browser or whether it should be applied across _all_ browsers (i assumed the latter...).

does anyone know?  is this documented anywhere?

i'm wondering if @swenkeratmicrosoft can clarify.  thanks!

[2022-01-24 15:55] arianaa30 opened #3862 "Pros/Cons of DASH for short videos"
Had a general question about DASH that I thought would benefit experts' thoughts:

In the standard adaptive streaming approach, like MPEG DASH, a video is available at multiple bitrates/quality levels called representations, with each representation video segmented into small chunks, like 2s durations. And the video quality switches throughout the video timeline.

Due to the maintenance and comple

[2022-01-24 16:43] swenkeratmicrosoft commented on #3852
com.microsoft.playready.recommendation is specific to _Windows_.

On Windows, I am unaware of any browser that supports PlayReady except Edge.  If they do, it's up to them what key systems they support and how they support them, e.g. they could decide to implement com.microsoft.playready such that it remaps to com.microsoft.playready.recommendation before it calls into the OS.  Microsoft has no co

[2022-01-24 18:26] shivamsingh-07 commented on #3861
Thanks that worked!

I was also trying to use the same `X2JS (externals/xml2json.js)` parser in nodejs. But I don't think its possible. Can you suggest me some compatible alternative?

[2022-01-24 18:36] Murmur commented on #3852
Mixing in HbbTV and SmartTV platforms. Everything was clear until `.recommendation | SL3000` came into play :)

DashJs on MSE-EME SmartTVs, how do should Playready be initialized for SL3000 mode in SmartTVs, is `videoRobustness | persistentState` flags necessary etc..

[2022-01-24 19:08] swenkeratmicrosoft commented on #3852
My apologies - I had some incorrect information in my previous post.

I've updated it with a lot of details which should hopefully answer your questions.

-Sam Wenker with the Microsoft PlayReady team

[2022-01-24 19:18] swenkeratmicrosoft commented on #3852
Here's some additional background and context on this.

The reason for having two key system strings for PlayReady is because Microsoft had major customers requesting EME support long before the EME spec _became_ a recommendation - it was still in draft.  As a result, Microsoft implemented com.microsoft.playready based on that draft spec.  The EME spec changed _substantially_ after that implementa

[2022-01-24 19:34] dsilhavy commented on #3861
xml2json probably uses some APIs that are only available in browsers. I think I used this one in node.js before, but it will probably give you a different structure in the end: https://github.com/Leonidas-from-XIV/node-xml2js . I am not aware of a node.js module that outputs the same format as xml2json.

[2022-01-25 10:40] dsilhavy commented on #3852
@swenkeratmicrosoft Thank you for the detailed description.

@bbert @markriley9999 @Murmur I think #3859 offers the required flexibility. We can use different systems strings with that PR, `persistentState` and `distinctiveIdentifier` can be set via API as well. What do you think? Also, should we add the logic of #3859 to the older EME versions (2014, 0.1b) as well if possible?

[2022-01-25 11:01] Murmur commented on #3852
@dsilhavy @swenkeratmicrosoft  I think so #3859 could provide a flexibility without a need to do an obscure `configName = MSEdgeVersion < X THEN .playready ELSE .playready.recommendation` application level code.

If content owners require a Playready SL3000 then ` "videoRobustness" : "3000" ` flag is mandatory in a dashjs protData{} configuration object. This need a modern intel cpu Win10 machine

[2022-01-25 16:09] swenkeratmicrosoft commented on #3852
@Murmur - Correction: It's the graphics card that needs to support SL3000, and modern graphics cards from several vendors (Intel, Amd, NVidia, Arm) support it.  An intel CPU is not required (although Intel graphics cards in particular might require an Intel CPU - I'm not sure there).

-Sam Wenker with the Microsoft PlayReady team

[2022-01-25 16:58] shivamsingh-07 commented on #3861
No problem. I figured a way for that. Thanks for helping.

[2022-01-25 16:58] #3861 closed

[2022-01-26 07:46] eductech opened #3864 "Live stream freeze after several minutes of playback (WebOS 4, LG model)"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs

[2022-01-26 16:51] dsilhavy commented on #3864
Do you see the problem with your content on other devices as well, for instance any Desktop browser? Or only LG2019.

[2022-01-27 07:18] eductech commented on #3864
@dsilhavy LG2019 and LG2020 facing the issue. For LG2021 works fine, for desktop too

[2022-01-30 09:40] synologic commented on #2293
+1

The multi key samples are just using separate keys for audio tracks, but all video tracks use the same key.

[2022-01-30 11:42] synologic commented on #3707
@dsilhavy the latest version has the same problem with Widevine enabled. It plays the first 2 segments and then stalls.
I have tried the fix in #3754 but doesn't help:

dash.all.debug.js:18001
[15166][ScheduleController][audio] Media segment needed for audio and stream id 0  dash.all.debug.js:18001
[15185][ScheduleController][video] Quality has changed, get init request for representationid = 1  d

[2022-01-31 10:05] #3806 closed

[2022-01-31 16:47] dsilhavy commented on #3852
#3859 is merged, thank you all for the feedback. I am converting this to a discussion thread.

[2022-02-02 14:56] DerouineauNicolas opened #3871 "import ControlBar not working with npm"
Hi,
I'm having a hard time using the ControlBar  provided in the contrib folder.

I installed dashjs with npm, everything works fine when importing the main module with:

`import * as dashjs from 'dashjs';`

But I want to use the ControlBar. I tried importing it this way:

`import {ControlBar} from 'dashjs/contrib/akamai/controlbar/ControlBar'`

Webpack doesn't complain at compile time, but unfort

[2022-02-02 15:15] dsilhavy commented on #3871
The Controlbar is not exported as a module. If possibe include it via `<script>` tag. Otherwise it might work if you add `export default ControlBar;` at the end of `Controlbar.js`

[2022-02-04 09:07] dsilhavy commented on #2484
We added support for custom system strings here: https://github.com/Dash-Industry-Forum/dash.js/pull/3859 . A demo is available here: https://reference.dashif.org/dash.js/nightly/samples/drm/system-string-priority.html

[2022-02-04 09:09] #2484 closed

[2022-02-07 04:03] sreeharisan opened #3873 "Captions not rendering on screen for subsequent videos, Dash.js not setting height/width for captions container"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
* Dash.js version: 4.1

[2022-02-08 07:57] dsilhavy commented on #3858
Closing this since there were no further comments and the issue was not caused by dash.js. Personally, I have no idea why the proxy prevents the browser from generating a key request. Probably internal DRM security logic

[2022-02-08 07:57] #3858 closed

[2022-02-10 11:48] Murmur commented on #3601
@dsilhavy follow-up, is this ClearKey LaUrl paylaod "[Object object]" to be fixed or is `player.registerLicenseRequestFilter(fLicenseRequest)` a client-side fix requirement for now?

Third fix is a server-side clearkeyLaUrl by using `&kid=xxx` url parameter, this is how I made my test content working without listener hooks. Script failsafes to a kid param if payload was invalid and returns a corre

[2022-02-10 13:50] maral21 opened #3877 "Missing ControlBar.js in DASH 4.2.0"
##### Environment

* Link to playable MPD file: N/A
* Dash.js version: 4.2.0
* Browser name/version: latest Chrome
* OS name/version: Windows 10

##### Steps to reproduce
1.npm install npm install dashjs@4.2.0

##### Observed behavior
We are installing dashjs with Node version 14.15.4 and we are having issues because we used the ControlBar.js reference from akamai
When installing the version 4.2.0

[2022-02-11 09:48] dsilhavy commented on #3877
You are right, as defined in the `package.json` we do include the following files in the npm package:

[code]

We can add the ControlBar to the package again.

[2022-02-11 10:20] maral21 commented on #3877
When this would be added, by 4.3.0? or before?

I am not familiar with the frequency of releasing process

[2022-02-11 10:36] dsilhavy commented on #3877
With the next release, not quite sure about the version number yet (either 4.2.2 or 4.3.0). Release will be before end of February

[2022-02-11 10:43] maral21 commented on #3877
A lot of thanks

[2022-02-14 10:18] dsilhavy commented on #3597
unstall

[2022-02-14 10:30] dsilhavy commented on #3877
Added Akamai Controlbar to the package here: https://github.com/Dash-Industry-Forum/dash.js/commit/c70fe9f3a078cd1907091c4d0cef9fe11011c215

[2022-02-14 10:30] #3877 closed

[2022-02-14 11:12] #3609 closed

[2022-02-22 14:17] s3bubble commented on #3858
We cant get this to play https://reference.dashif.org/dash.js/latest/samples/drm/playready.html on Edge Mac or Windows.

Both give us the error.
[code]

![Screenshot 2022-02-22 at 14 14 17](https://user-images.githubusercontent.com/17534854/155149911-9b1b98da-24d5-4c1c-8dc3-23dcce42a865.png)

We are also trying to get this to work locally and having the same issue as your test url.

![Screenshot 2