[2017-10-05 08:57] nicosang commented on #2209
Hi @siropeich ,

a stream equals a period in dash.js. So, when a new period is loaded, a STREAM_INITIALIZED occurs.....

Nico

[2017-10-05 13:43] epiclabsDASH commented on #1977
Closing this one. Already checked with @vfiodor cause of the issue and its solution.

[2017-10-05 13:43] #1977 closed

[2017-10-05 14:40] epiclabsDASH commented on #2209
We need to better explain this in the documentation. It is not enough clear. Reading the documentation as a user of dash.js library I would expect it to be triggered before playback starts but, as @nicosang pointed out, it is raised once per track whenever a new period is loaded (including period/manifest updates).

[2017-10-05 15:10] Gontran-Molotov opened #2213 "BASE64 module needed by DRMToday"
Following this PR https://github.com/Dash-Industry-Forum/dash.js/pull/2154, the `DRMToday` module can no longer be initialized due to `BASE64` instance not passed to the `config` object.

Fix is in the `src/streaming/protection/controllers/ProtectionKeyController.js` file, line 263:
[code]

[2017-10-05 15:21] epiclabsDASH commented on #2202
Still don't know the reason (Edge logs are all but verbose) but when trying to load your stream from a third party hostname (for example, from the hosted dashjs reference player) makes Edge crash.

@palemieux, would it be possible for you sharing your stream with me (mpd + chunks)? I would like to do some local testing here. If yes, you can send a link with the files to my email address (dashjs@ep

[2017-10-05 15:47] nicosang commented on #2213
many thanks @Gontran-Molotov . Sorry for this mistake.... :-(

[2017-10-05 16:06] #2213 closed

[2017-10-05 16:19] Gontran-Molotov commented on #2213
You're welcome. Thank you for your quick answer ;-)

[2017-10-05 17:51] palemieux commented on #2202
@epiclabsDASH Links sent.

[2017-10-05 19:29] TobbeEdgeware commented on #1928
Yes, I agree. Sorry for the slow response.

[2017-10-05 19:30] #1928 closed

[2017-10-05 22:21] epiclabsDASH commented on #2202
Many thanks. Could you please confirm you see everything ok in the following link? http://eight-playground.surge.sh/samples/edge/

[2017-10-05 22:23] palemieux commented on #2202
Confirmed.

[2017-10-05 22:38] #2202 closed

[2017-10-05 22:39] epiclabsDASH commented on #2204
Hi @matthew-mahony, could you check what I mention regarding generation of first chunk?

[2017-10-06 08:00] epiclabsDASH commented on #2034
@AxelDelmas, if you have some time for checking it, there is a PR that fixes this issue (#2210).

[2017-10-06 10:00] epiclabsDASH commented on #2202
After doing some research with @siropeich related with the issue I had with Edge, we discovered a problem with Edge and Access-Control-Allow-Headers. If your HTTP server responses contain an Access-Control-Allow-Headers header bigger than 1024 bytes, latest version of Edge crashes. That's the case of your server (it responds with a very long Access-Control-Allow-Headers header) and the reason beca

[2017-10-06 12:56] bbcrddave opened #2216 "Live audio-only streams don't start in 2.6.1"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2017-10-06 14:04] dfillion commented on #2184
+1, I keep getting the same error. Just tell me if you need more any additional informations !

[2017-10-06 14:08] nicosang commented on #2216
Hi @bbcrddave ,

sorry for this mistake. Could you, please, take a look on my PR ?

Thanks,
Nico

[2017-10-06 14:32] nicosang commented on #2209
You can register on the STREAM_INITIALIZED event just before the load. When you receive the first event, you just have to unregister. When you load a new video stream, register again....
It's just a workaround, it should be better indeed to have a single event triggered by the dash.js.

[2017-10-06 15:03] epiclabsDASH commented on #2216
Closed as @bbcrddave confirmed it works after the new fix applied by @nicosang.

Thanks both!

[2017-10-06 15:03] #2216 closed

[2017-10-08 06:31] arkadash commented on #2187
I'm not sure about the second case. I was able to reproduce this issue with many videos that has audio data at the described time.
Is it somehow possible to fix this issue with configuration without making performance issues? How do I continue from this point?
Thank you,
Moshe.

[2017-10-08 14:11] #1666 closed

[2017-10-08 14:13] epiclabsDASH commented on #1620
Closing this issue because lack of information. @chinlungli-tutk, please, feel free to reopen it in case you find the way of providing the required information.

[2017-10-08 14:13] #1620 closed

[2017-10-08 14:15] epiclabsDASH commented on #1598
Closing this issue as I think it is outdated. Latency factor is included in latest versions of ABR algorithm.

[2017-10-08 14:15] #1598 closed

[2017-10-08 14:35] epiclabsDASH commented on #1210
Closing this one as it seems to be done since dash.js 2.3

[2017-10-08 14:35] #1210 closed

[2017-10-09 09:20] nicosang commented on #2187
Hi @arkadash ,

both use cases can occur with all video streams according to me. I don't think that you can fix the issue with configuration. We have to fix it in the dash.js code. It sould be top priority issue to fix in the next release.

Nico

[2017-10-09 12:34] #2204 closed

[2017-10-09 13:03] epiclabsDASH commented on #2097
Hi @jbboehr,

Alternatively, as you suggested, you can use a data uri for the manifest. It will work fine. You just need to take into account the mpd should reference chunks using absolute urls. Otherwise, mpd will be parsed but chunk url's will be wrong.

As an example, I have create the following data URI that is working fine in dash.js:

`data:application/dash+xml;charset=utf-8;base64,PE1QRCBtZ

[2017-10-09 13:06] epiclabsDASH commented on #2097
Right checked previous data URI with videojs-contrib-dash (https://videojs.github.io/videojs-contrib-dash/) and it worked fine.

[2017-10-09 14:17] taryodor commented on #577
I have very simmilar issue both using 2.5.0 and 2.6.0

If I access my pages via https and give player relative path to manifest, it attempts to do timecheck via http.
If I access very same page over https and player have absolute address starting with https, it uses http for the timecheck.

So for me this bug is still there.

code where I observe that bug:

<html>
<head>
    <script src="https://c

[2017-10-09 14:24] bbcrddave commented on #577
@taryodor this is probably caused by the same as #1884?

[2017-10-09 14:40] bbcrddave commented on #1884
Turns out the issue is probably because `URIQueryAndFragmentModel.parseURI` is passed the relative manifest URL and parses it incorrectly because it doesn't resolve it to the document base URI first. The HTTPS regex test therefore returns false regardless of whether the manifest was served via HTTPS.

[2017-10-09 14:45] taryodor commented on #577
@bbcrddave Yep, it looks like it can have same mother.

[2017-10-09 17:36] jbboehr commented on #2097
Sorry, to be clear, we have already used data URIs in the past with dash.js and videojs-contrib-dash, however there were issues in Safari, example: https://github.com/github/fetch/issues/487

[2017-10-09 17:36] #2097 closed

[2017-10-10 09:15] nicosang commented on #2129
Hi,

I think that I have found the issue. According to me, it's not a browser issue. It's due to an initialize segment that is pushed after the call to endOfStream on the sourceBuffer. So, the browser doesn't send ended event because it's like when a seek command occurs : new media segments are awaited.

I will submit a PR about it...

Nico

[2017-10-10 10:50] epiclabsDASH commented on #2145
Hi @matthew-mahony,

No, unfortunately we don't have a mechanism right now for detecting when a live stream has finished.

This is not just logic in the client side, this highly depends on the way the encoder/packager is generating the mpd and how it manages the end of a live stream.  I took a look to some media servers and none of them signaled the end of the stream in a way it could be clearly i

[2017-10-10 11:58] spiterikevin commented on #2129
@nicosang One of the solutions I had tried was to only append init segments when there was at least one media segment, but that didn't solve the issue.

[2017-10-10 12:34] nicosang commented on #2129
@spiterikevin could you, please, take a look at my PR?
Thanks,

[2017-10-10 13:56] mhosman opened #2222 "Not able to set a custom Certificate Server"
I'm trying to play a Dash Content with Widevine in Chrome. I set the license server but the certificate is in other URL. How can I set this URL or load the base64 of the certificate manually, and avoid the automatic first POST call of the player to the license server in order to get the certificate?

[2017-10-11 09:46] bbcrddave commented on #2222
Does https://github.com/Dash-Industry-Forum/dash.js/issues/1924#issuecomment-302034800 solve your issue?

[2017-10-11 09:56] bbcrddave opened #2223 "Instructions for developers in README.md are incorrect"
The instructions for developers (https://github.com/Dash-Industry-Forum/dash.js/tree/development#reference-player) are a bit misleading as they imply that you can try out the reference player on the development branch without building the code, which isn't true.

The README.md should be updated to say that either you need to checkout the master branch (which includes the dist folder), or make it c

[2017-10-11 09:57] bbert commented on #2222
You have to download yourself the certificate at application layer, convert it to base64 (`btoa(String.fromCharCode.apply(null, cert_bin)`), and then provide it as input parameter.

[2017-10-11 12:59] mhosman commented on #2222
Not working. If you set the certificate manually as described here in #1924

mediaPlayer.setProtectionData({
    "com.widevine.alpha": {
        "serverURL": "<licenser_server_url>",
        "serverCertificate": "<server_certificate_in_ base64>",
        ...
    }
});

The player is still making the request to the license server in order to get the certificate.

[2017-10-11 14:17] EurekaWoo commented on #2184
+1, sometimes the video freeze for live, I think it's related with the NextFragmentRequestRule for getting the next fragment.

[2017-10-11 19:41] forbesjo opened #2225 "babel build is missing a file"
Right now browserify/webpack builds are broken because https://github.com/Dash-Industry-Forum/dash.js/blob/development/Gruntfile.js#L167 should include `index_mediaplayerOnly.js`.

[2017-10-11 22:43] ryanrogalski commented on #2225
If you try to `npm link` the `dashjs` package you get this error:

[code]

[2017-10-11 23:12] ryanrogalski commented on #2225
created a PR here, https://github.com/Dash-Industry-Forum/dash.js/pull/2226

[2017-10-12 12:33] epiclabsDASH commented on #2225
Thanks for raising this and for the PR. I will manage this to make the update available as soon as possible.

[2017-10-13 00:28] ReubenM commented on #2184
I ran into the same issue. I was starting the stream by calling play(). (Autoplay was turned off) If after if stopped, I would pause() wait a few sec, and then play() and from then on it would be fine.

If I turned on autoplay, it would play without any such issue. (or at least I was then unable to re-produce the problem)

Seems to get stuck waiting for non-existent fragment to become available. E

[2017-10-13 07:56] bbert commented on #2222
I have tried on my side and that works.
If you successfully set the certificate you should have the following log message in the console:

`[DRM]: License server certificate successfully updated`

[2017-10-13 08:29] dsilhavy opened #2229 "MSS: High number of dropped frames in Chrome"
Hi all,
I want to share some observations we made when testing the Smooth Streaming playback of dash.js in different browsers.

#### What did we test
We tested the playback of DRM protected SmoothStreaming content in Chrome and Firefox. We used two different manifests, one with HD content (9MBit) and one with SD content (2.2Mbit). Moreover, we run each test with 1 parallel stream, and 2 parallel s

[2017-10-13 11:05] epiclabsDASH commented on #2225
Closing this one. PR already merged and new version with the change released.

[2017-10-13 11:05] #2225 closed

[2017-10-13 11:16] #1884 closed

[2017-10-13 11:23] chrisb-bbcrd opened #2230 "Presence of audio representation can disproportionately increase rebuffering"
I've been running a series of on-demand tests using a rig that can throttle network throughput according to throughput profiles derived from real life streaming sessions. All the tests use the same set of video representations, but they differ in whether there are audio and/or subtitle representations also present in the MPD.

The test results appear to show that having audio representations in ad

[2017-10-13 13:01] bbert opened #2231 "MSS package on CDN"
Hi,
Would it be possible to host on CDN the build files of MSS package:

http://cdn.dashjs.org/latest/dash.mss.min.js
http://cdn.dashjs.org/latest/dash.mss.debug.js

Thanks!

[2017-10-13 15:47] nicosang commented on #2231
it works, thanks!

[2017-10-13 15:47] #2231 closed

[2017-10-13 19:51] jesse10581 commented on #1540
According to ISO 23009-2014, A.2:

The following example client behaviour may provide a continuous streaming experience to the user
...
4) The client buffers media of for at least value of @minBufferTime attribute duration before starting the presentation.

I would read this to mean that the player should wait until that much video is buffered before allowing playback.  If you don't enforce a minB

[2017-10-16 09:10] bbcrddave opened #2232 "MPD Anchors (#t) broken in 2.6 for live streams"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2017-10-16 09:40] RobertSmithDev opened #2233 "Getting event with schemeIdUri='urn:mpeg:dash:event:2012'"
Hello,

I am trying to get a callback from an event with the `schemeIdUri='urn:mpeg:dash:event:2012'` (https://github.com/Dash-Industry-Forum/dash.js/blob/development/samples/ad-insertion/inband.html). I have been trying to follow the example of the SCTE events (https://github.com/Dash-Industry-Forum/dash.js/blob/development/samples/ad-insertion/js/scte.js)

This is the code I tried:

[code]

But

[2017-10-16 11:05] bbcrddave commented on #2233
In the general case, DASH-specific events such as those with schemeIdUri `urn:mpeg:dash:event:2012` are typically of relevance only to the DASH client rather than any application and so aren't necessarily surfaced.

In dash.js specifically, this appears also to be the case since there is special handling for this scheme internally which opts not to surface the event to the application.

You should

[2017-10-16 13:03] nicosang commented on #2232
Hi @bbcrddave ,

it's indeed a regression. could you, please, tell me what is the number 1262304000 in PlaybackController in getStreamStartTimeOffset?

Thanks,
Nico

[2017-10-16 13:13] bbcrddave commented on #2232
It's Unix time for 00:00 01/01/2010. I have no idea why it's there!

[2017-10-16 13:50] dsilhavy commented on #2233
As Dave mentioned those types of events are handled by the player itself. If you still need to make it available to your application you can change the EventController. Adding the trigger function of the eventBus should be sufficient:

[code]

[2017-10-16 14:58] epiclabsDASH commented on #2232
Seems it is assuming that for live streams t and s should always contain an absolute time.

Looking at spec (http://www.w3.org/TR/media-frags/) I don't see any reference indicating that should be the right behavior. The only thing I founs in the spec that could be related to this is the following:

In some way it indicates t parameter should be provided as time relative to the start and end (durat

[2017-10-16 15:45] bbcrddave commented on #2232
See https://github.com/Dash-Industry-Forum/dash.js/issues/1361 for discussion when this was implemented.

[2017-10-16 16:36] abale commented on #2187
Getting the exact same issue here.

Seeking backwards leads to an eternal pinwheel.. even when seeking to a spot that previously worked.

All segments are there, and the video plays perfectly when left to play organically on it's own, also seeking forwards works (even when seeking to the exact same unbuffered section as when trying to "seek backwards").

No network requests are made while this err

[2017-10-16 16:49] abale commented on #2187
Just an update, it doesn't happen with 2.4.1 - https://cdnjs.cloudflare.com/ajax/libs/dashjs/2.4.1/dash.all.min.js

This works fine and doesn't exhibit the same bug.  additionally, it has far less debug "spam" in the console.

[2017-10-16 17:00] hebedombiu opened #2235 "Firefox xml syntax error"
##### Environment

- [x ] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue oc

[2017-10-16 17:24] AkamaiDASH commented on #2232
I think was magic number value was a marker in time to check UTC time validity for live streaming thinking it would not be older than X years.  It can be removed...

[2017-10-16 18:23] bbcrddave commented on #2235
Duplicate of https://github.com/Dash-Industry-Forum/dash.js/issues/1665.

[2017-10-17 07:44] RobertSmithDev commented on #2233
Thanks for your answers. I tried your solution and it worked fine. I just had to swap the order because the manifest was not correctly updated when the event was already triggered.

[2017-10-17 07:44] #2233 closed

[2017-10-17 07:50] RobertSmithDev opened #2236 "ID3 tag equivalent EMSG"
Hi,

I am trying to understand if EMSG has an associated message as ID3 tag does on HLS. Is this the case?
I tested this link: http://se-mashup.fokus.fraunhofer.de:8080/dash/assets/adinsertion-samples/events/inband/dash.mpd
And I only see the playlist being updated with a new period, but I am not able to see if the EMSG event has an associated customizable text (http://lists.w3.org/Archives/Public

[2017-10-17 07:52] epiclabsDASH commented on #2235
Thanks. Closing this one because it is duplicated. Let's follow this issue in #1665.

[2017-10-17 07:52] #2235 closed

[2017-10-17 09:34] nicosang commented on #2232
Hi @bbcrddave ,

could you, please, take a look to my PR?

Thanks,
Nico

[2017-10-17 12:10] matiosfree opened #2239 "It is impossible to change audioTrack immediately"
Hey all. I have a problem with this player.
I need to solve this task. I have a MPD file with video and several audioTracks in the different languages. I want to have an opportunity to change audio language immediately. The problem is that the player loads audiobuffers in advance, and I don't hear new language immediately after changing the audioTrack, only in a few secconds. It's not good for me.

[2017-10-17 13:52] dsilhavy commented on #2229
For those who are interested, an update:
- We measured the conversion/creation duration in dash.js 2.6.1 for init/audio/video segments. I omit the init and audio part as this seems to be irrelevant

**Results**

![mac_ff_video](https://user-images.githubusercontent.com/2427039/31668164-b6c5fe1e-b351-11e7-8bb4-0a90b9c52956.png)

![mac_chrome_video](https://user-images.githubusercontent.com/2427039/

[2017-10-17 18:40] spiterikevin commented on #2129
@nicosang Sorry for the delay, I'll look at it today. Cheers.

[2017-10-18 00:55] dpieri commented on #1845
@bbcrddave I'm using 2.6.1 and can reliably reproduce this. Here's what triggers it.

[code]

In my experience the video still plays, you're just guaranteed to get that error.

[2017-10-18 01:04] spiterikevin commented on #2129
Unfortunately it appears the alternative solution given in #2220 does not fully solve the problem, and also has a problem with multi-period.

I didn't have time to look deeper into whether there is a browser issue yet, but intend to work on this in November. In the meantime the workaround in #2130 and the older workaround that fixed multi-period seem to work.

[2017-10-18 01:46] spiterikevin commented on #2230
One reason this is happening might be that the throttled network throughput has to be shared by video and audio, so any audio effectively reduces the available throughput for video. But I suspect this is not the only issue at play here. ABR algorithms should still detect the throughput available for video and select an appropriate bitrate.

There is also an issue with the AbandonRequestsRule which

[2017-10-18 07:00] RobertSmithDev commented on #2236
Thanks for you answer. Now it is clear to me.

[2017-10-18 07:00] #2236 closed

[2017-10-18 07:18] bbcrddave commented on #1845
Great stuff! @epiclabsDASH ^^

[2017-10-18 08:00] epiclabsDASH commented on #1845
Hi @dpieri,

Do you need to use a specific browser to reproduce the issue with those lines? I right created a test following your instructions (https://codepen.io/jeoliva/pen/JrwpNP) and I don't see any error.

I will continue testing this and the solution proposed.

[2017-10-18 09:15] epiclabsDASH commented on #2129
I have found just one caveat for #2130 (related with #2162). If you have a stream with an adaptation having a presentationTimeOffset parameter defined in its MPD that doesn't match with the real one (timestamps in the stream) the stream could be detected as finished right when it starts.

Although is true that the root of the problem is having an mpd with errors, IMHO we have to make dash.js as mu

[2017-10-18 09:17] epiclabsDASH commented on #2222
Hi @mhosman, any update on this?

Thanks!

[2017-10-18 12:56] mhosman commented on #2222
Hi @epiclabsDASH, i just migrated to Shaka Player and worked like a charm. In Dash.js still not working. If I set the serverCertificate (in Base64), the player is still trying to get the license from the License Server.

[2017-10-18 13:15] bbert commented on #2222
Hi @mhosman, have you checked the log message in the console as I suggested?
If not can you please check?
Which version of dash.js did you tested?

[2017-10-18 13:26] Gontran-Molotov opened #2241 "Root DIV element used for captions has wrong size and location"
* Dash.js version: 2.6.2

Screenshots below show that the root div element used to display captions (highlighted in blue) has a wrong size and location.

![dashjs root captions 1](https://user-images.githubusercontent.com/25483887/31718394-1a39618e-b410-11e7-9c7d-ec1530cae83f.png)

This first screenshot shows that the root div element has an incorrect left position set to 0. So it is not horizonta

[2017-10-18 13:34] Gontran-Molotov commented on #2241
**Edit:**

Replace:
[code]
by
[code]

[2017-10-18 18:31] dfillion commented on #2184
Only problem is that the latest version of Safari on High Sierra blocks the `autoplay` 😢

[2017-10-18 19:45] epiclabsDASH commented on #2184
Thanks everyone for the feedback. I am looking for the root of this problem and am working on a fix. I will update you once I get it fixed.

Thanks!

[2017-10-18 19:56] epiclabsDASH commented on #2241
Hi @Gontran-Molotov,

First of all, thank you very much for the detailed feedback.

Quick question. Could you please share that stream/asset url with us for testing? Alternatively, are you able to reproduce that same issue in any of the sample streams that comes with the reference player? Having something that help us to reproduce the issue and to verify the fix is working as expected will be real

[2017-10-18 20:15] epiclabsDASH commented on #2229
Hi @dsilhavy. Really interesting research. Thanks for sharing.

I have seen other perf issues in Chrome related with video playback that caused frame drops so, after taking a look to your analysis and the processing times for segments, it wouldn't be a surprise if that causes frame drops. Definitively something we need to take a look.

@dsilhavy, just one question. Do you have information about se

[2017-10-18 20:34] dpieri commented on #1845
Hi @epiclabsDASH. Thanks for the quick response. I played around with that test you created and can't make it reproduce the issue. It must be something more specific to our usage that is causing it.

Does this console log help? (Notice the NaN)

[code]

[2017-10-18 20:50] epiclabsDASH commented on #2017
Closing this one as there is no response for a long time and issue seems to be related with the way the stream is encoded. @matthew-mahony, please, feel free to reopen it in case you have some information to add.

[2017-10-18 20:50] #2017 closed

[2017-10-19 08:18] Gontran-Molotov commented on #2241
Hi @epiclabsDASH,

Sure, here are screenshots showing the same issue using the sample stream https://vm2.dashif.org/dash/vod/testpic_2s/multi_subs.mpd. While these screenshots only show the problem using the first text track, actually I reproduce it with all available text tracks for this stream.

![dashjs root captions 3](https://user-images.githubusercontent.com/25483887/31759819-f1b82d8c-b4b2-1

[2017-10-19 13:16] #1665 closed

[2017-10-19 13:43] nicosang commented on #2129
Hi @spiterikevin ,

could you, please, give me more details on how reproduce the problem? Right now, I'm not able to reproduce the issue on PR #2220. Which browser do you use?
When the issue occurs, is there an initialize segment in buffers?

Thanks,
Nico

[2017-10-19 13:49] bbcrddave opened #2244 "Babel warning during build"
When building the code, the following warning is displayed:

`[BABEL] Note: The code generator has deoptimised the styling of "D:/nginx/html/dash.js-2.0/src/streaming/MediaPlayer.js" as it exceeds the max of "100KB".`

This seems to be related to the [`compact`](https://developit.github.io/babel-legacy-docs//docs/usage/options/) option which we don't set so defaults to `auto`, which causes this wa

[2017-10-19 13:52] bbcrddave commented on #2232
Closed via https://github.com/Dash-Industry-Forum/dash.js/commit/0dd45398bae88e6934a6baecefbc5359330e9252.

[2017-10-19 13:52] #2232 closed

[2017-10-19 14:16] epiclabsDASH commented on #2187
Unfortunately it even happens with 2.4.1 (and lower versions). That's just a matter of being "lucky" and do the seek at the right timing. I am currently working on a fix that will share with all of you for testing as soon as it is ready.

Thanks for all the detailed feedback

[2017-10-19 14:21] bbcrddave commented on #1949
Closing as no correspondence in a long time, and this is currently the expected behaviour. Feature request for support of multiplexed representations if required is being tracked in #1968.

[2017-10-19 14:21] #1949 closed

[2017-10-20 13:27] nicosang commented on #2244
Hi @bbcrddave ,

you're right. It should also be interesting to decrease the size of this file.

Nico

[2017-10-22 21:27] epiclabsDASH commented on #2239
Thanks for reporting. Not directly related with this issue but a fix for this will come in the next few days with the buffer management improvements I am working on for fixing #2187.

[2017-10-23 07:56] bbcrddave commented on #853
Fixed by #1974.

[2017-10-23 07:56] #853 closed

[2017-10-23 08:03] bbcrddave commented on #1092
Think this was fixed by #1996?

[2017-10-23 08:08] bbcrddave commented on #1384
Fixed by #1899.

[2017-10-23 08:08] #1384 closed

[2017-10-23 15:06] jeffcunat opened #2245 "Video get stalled when the available bandwidth drops suddenly"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2017-10-23 20:46] #1890 closed

[2017-10-23 21:04] epiclabsDASH commented on #2034
Fixed in #2210

[2017-10-23 21:04] #2034 closed

[2017-10-23 21:52] epiclabsDASH commented on #2245
Thanks @jeffcunat. I could reproduce it in 2.6.2 following your steps. Neither 2.5.0 nor 2.6.0 seems to be affected. In both seems to be AbandonRequestRule the one that takes the first decision of going to a lower bitrate. ThroughputRule needs more time to react (calculated with averages and new fragments takes too long to be downloaded and then on having some impact on the average number).

I am

[2017-10-23 22:27] epiclabsDASH commented on #2245
@jeffcunat, fixed in #2246. It would be nice if you have some time to test the fix.

Thanks!

[2017-10-23 23:03] #2245 closed

[2017-10-24 08:03] jeffcunat commented on #2245
@epiclabsDASH, I confirm this fixed the issue. Thank you ! But I still get an empty video buffer at some time but for sure the video is now not completely stalled as before. See the capture of our own tool to monitor representation switches and the buffer level. I also observe a strange switch back to the highest quality level.
![metrics](https://user-images.githubusercontent.com/29144811/31931062

[2017-10-24 08:35] epiclabsDASH commented on #2245
I need to do more research but I guess that switch to the highest quality level is related with ThroughputRule and average throughput values.

What I see is when throughput goes poor suddenly our Throughput average metrics could takes "long" time to reflect that drastic change in network conditions (ThroughputRule uses average throughput metric and pace of downloading segments is low because poor

[2017-10-24 10:01] Murmur opened #2249 "ClearKey drm not working in dashjs but shakaplayer ok"
I am testing ClearKey drm decryption and the following ShakaPlayer works in Firefox and Chrome. Dashjs player does not work and I have tried "everything". Does someone see a bug in my test page, I have tried org.w3.clearkey serverURL and clearkeys[] syntax to pass KID=KEY pair.

**ShakaPlayer** https://m.dtv.fi/dash/index_clearkey.html?video=1
**Dashjs** https://m.dtv.fi/dash/index_clearkey2.html?

[2017-10-24 12:16] dsilhavy commented on #2229
Hi,
I made some modifications. I need to do some further testing, but for now I moved whole segment conversion process to a webworker. So whenever a media segment is converted from MSS to DASH this is done in a seperate worker thread. I repeated the test from my first post (one parallel HD stream (9Mbit)) and I get 0 dropped frames on the windows machine now.
This is by far production ready but I

[2017-10-24 13:38] bbcrddave commented on #2249
The cenc pssh box in your initialisation segment is incorrect - it does not conform to https://www.w3.org/TR/eme-initdata-cenc/ (it appears to be using v0 pssh boxes). This causes the call to `MediaKeySession.generateRequest` to fail with `DOMException: No supported PSSH box found`.

The pssh in the manifest is not being used which is possibly a bug - it should maybe be appended to the segment ini

[2017-10-24 13:46] Murmur commented on #2249
@bbcrddave thanx you and I found the source of the problem about the same time. I edited my question and also added few more ?video=1..n test cases to be run. Reason ShakaPlayer works must be the fact it's using <cenc:pssh> field from the manifest so incorrent version number in an init/PSSH does not matter.

[2017-10-24 14:32] epiclabsDASH commented on #2035
Hi @jyotikadian. I don't think the "if" is there because a bad interpretation of the spec, but just to avoid removing buffers when player has already reaches the end, assuming it won't append any new buffer and then could make sense keeping everything (avoid pruning) to maximize efficiency.

This behavior is going to change a bit in a PR I am going to propose shortly that has some buffer managemen

[2017-10-24 14:51] epiclabsDASH commented on #2249
Interesting conversation. Let's keep this open until we investigate what @bbcrddave mentioned regarding the spec and what dash.js should do in these cases.

[2017-10-24 15:19] bbcrddave commented on #2249
Looks from some relevant specifiations that there might be an issue in dash.js here:

* DASH-IF IOP:

The DVB specification is also explicit (section 8.5.0):

[code]

[2017-10-25 09:41] bbcrddave commented on #2244
Sadly this isn't fixed as the compact option is specified on the wrong build target - it's the browserify target that needs compact set:

Replacing `transform: ['babelify']` with `transform: [['babelify', {compact: true}]]` should do the trick.

[2017-10-25 10:40] chrisb-bbcrd commented on #2230
The two throughput profiles were chosen because they're particularly "challenging": they both have periods during which throughput drops below the bitrate of the lowest video representation (see graphs of the profiles below - video representation bitrates are shown in green); profile 1 is a bit more challenging in this respect than profile 2.

![profile1](https://user-images.githubusercontent.com/

[2017-10-25 12:14] Murmur commented on #2249
Heads up, I compiled a fresh ffmpeg.exe+mp4box.exe tools, repackaged a test video and updated manifest+pssh use cases. Looking better now, I generated `1077efecc0b24d02ace33c1e52e2fb4b` version PSSHv1 to both init.mp4 and <cenc:pssh> manifest fields. Also something must have been fixed in mp4box segmentation tool.

**Shaka** https://m.dtv.fi/dash/index_clearkey.html?video=21
**Dashjs** https://m.d

[2017-10-25 12:35] epiclabsDASH commented on #2249
Many thanks!

@Murmur, is it possible that you share with me the content of the first streams you generated (PSSHV0 and PSSHV1) and that didn't work with Dash.js player? I would like to take a look and fix the issue in dash.js.

As pointed out by @bbcrddave, according to spec, although pssh box of initialization segment is wrong they should work if pssh of the manifest is correct.

[2017-10-25 13:14] Murmur commented on #2249
@epiclabsDASH Download zipped folders, you should find nodrm(free), encrypted segments in drm/* subfolder and manifest files. Use `dasherh264/drm/manifest_clearkey.mpd` where init=psshv0 and manifest=psshv1.

https://m.dtv.fi/dash/dasherh264.zip (3xh264, 1xaac)
https://m.dtv.fi/dash/dasherh264v2.zip (1xh264, 1xaac)

For reference this is an encryption KID+KEY pair and also Microsoft Playready laur

[2017-10-25 18:12] littlespex opened #2256 "There is no way to set the XHR's withCredentials property to false if the protection data contains a header name "authorization""
##### Environment

- [x ] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [ x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [ x] There are no network errors such as 404s in the browser console when trying to play the stream
- [ x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ

* Dash.js vers

[2017-10-25 20:32] AkamaiDASH commented on #2256
I agree with the purposed change.  I will author them and test with @littlespex internally here at Akamai - then post a PR for the group to review.

[2017-10-26 11:47] epiclabsDASH commented on #2222
Hi @mhosman. It would be nice if you can spend some minutes answering @bbert questions so we can take a look and fix any possible issue. Any contribution, not just code also providing information about issues like this one, is really, really appreciated.

Thanks!

[2017-10-26 13:04] epiclabsDASH commented on #1987
Closing this issue. Change applied in 9f94c6c66c199e8558ff983bc98e3623803a41e4

[2017-10-26 13:04] #1987 closed

[2017-10-26 13:05] epiclabsDASH commented on #2249
Many thanks, really appreciated.

[2017-10-26 20:36] willzhan commented on #2256
Glad to see this bug is approved. This will remove a blocking issue when using Azure Media Services license service with access control via JWT access token.

[2017-10-27 05:29] KhodyrevDS opened #2259 "Video Element Error: MEDIA_ERR_DECODE (CHUNK_DEMUXER_ERROR_APPEND_FAILED: Audio stream codec vorbis doesn't match SourceBuffer codecs.)"
I'm trying to play an mpd file generated by myself. Here the video https://dev2-portal.videonotion.com/web/guest/preview?v=29fe6c05-3bfe-4b47-b3a6-b0b3eaa9e78b

It start play well but then I have error

If I remove video adaptation set (audio only) - it's working well. If I remove audio adaptation set (video only) - it;s working well too.

Can't understand what is wrong. Can you help me?

[2017-10-27 07:41] bbcrddave commented on #2259
That error is generated by Chrome. chrome://media-internals often reveals something useful about what is going on when this sort of thing is happening.

[2017-10-27 11:49] EurekaWoo commented on #922
I met a similar problem, It seems that dash,js does not support dolby audio. In the above issues, I see there is dolby extension. Can it just work by adding profile attribute "http://dashif.org/guidelines/dashif#ec-3"  in mpd ?
@bbcrddave Can u help me, thanks!

[3258717] MediaSource is open!
[3258718] Duration successfully set to: 9007199254740991
[3258720] Added 0 inline events
[3258722] video c

[2017-10-27 11:56] bbcrddave commented on #922
The browser provides codec support, not dash.js. The "not supported" message is generated as a result of querying for browser support.

You can't just add an attribute to the manifest, you need to use a user agent which provides the audio codec.

[2017-10-27 12:49] epiclabsDASH commented on #2259
@KhodyrevDS, looking at the stream seems to be an encoding issue. There are timestamp gaps and chunks of different bitrates seems to be overlapped. In case you encoded it, how did you encode this stream?

[2017-10-27 14:20] BucherTomas commented on #1742
I don't want to create a new issue just to ask the same question. It seemed hopeful when @bbcrddave noted that DRM was supposed to be a priority for 2017, however, this particular feature of filtering unusable tracks declaring "output-restricted" is still missing.

Do core developers plan to implement it in some foreseeable future or is it still dependent on pull request from others? Thanks.

[2017-10-27 14:55] EurekaWoo commented on #922
OK, Thanks.  I'll ask if they change the audio codecs.

[2017-10-30 09:02] meshushi opened #2260 "[Question] Custom events in dash.js"
Hello,

I am working on the insertion and retrieving of custom events using dash.js.
I would like to use those events in order to pass messages which has to be handled by applications.
This can be achieved, according to the doc, with :

  - EventStream
  - InbandEventStream

After reading the documentation, I could not manage to understand how this can be done.

Is there any example on how to acco

[2017-10-30 16:40] nicosang commented on #2244
Hi @bbcrddave ,

after some tests, compact sould be set to false instead. Indeed, with true value, the source map seems not good. For instance, I put a break point in PlaybackController:onBytesAppended, when a seek command is called, the step into will not reached the seek code.

According to @jeffcunat , the new version (6.2) of babelify increases the limit from 100 KB to 500KB....maybe a better

[2017-10-30 19:45] bbcrddave commented on #2244
Yes, I wondered if that may the case - see my comment at https://github.com/Dash-Industry-Forum/dash.js/pull/2255#issuecomment-339289810.

Switching to babel 6 might be an option but I suspect it might be a big task.

[2017-10-30 20:00] jeoliva commented on #2244
Agree with @bbcrddave. As suggested by him in #2255 I think it is safer continue using current babel version and set compact to false.

[2017-10-31 09:15] bbcrddave commented on #2244
Should be closed via 30684b3

[2017-10-31 09:15] #2244 closed

[2017-10-31 09:39] epiclabsDASH commented on #2260
Hi @meshushi,

You can find some examples related with events management in dash.js examples (https://github.com/Dash-Industry-Forum/dash.js/tree/development/samples/ad-insertion). They are related with ads insertion (play an ad whenever an event is raised) but you should be able to use them in your own way.

In the case of the InbandEventStream sample, as you will see, custom events are handled i

[2017-10-31 09:47] epiclabsDASH commented on #2222
As pointed out by @bbert, issue seems to be fixed in latest versions of dash.js.

Closing because lack of feedback. @mhosman, please, feel free to reopen it in case you have some information to share.

[2017-10-31 09:47] #2222 closed

[2017-10-31 09:58] bbcrddave commented on #2223
Closed via https://github.com/Dash-Industry-Forum/dash.js/commit/79d098818efbe6261036da865be3c1b8c5d5f7e1.

[2017-10-31 09:58] #2223 closed

[2017-10-31 20:32] kenchanmc opened #2265 "MEDIA_ERR_DECODE (CHUNK_DEMUXER_ERROR_APPEND_FAILED: Failed to prepare video sample for decode (Only Chrome has this problem)"
* Dash.js version:  2.6.2
* Browser name/version: Chrome 61 , Chrome 62
* OS name/version: Mac / Windows

Just use the following codes to play the video, only chrome cannot play the video. Other browsers work very good.

[code]

##### Console output
[code]

[2017-11-01 09:30] epiclabsDASH commented on #2265
Hi @kenchanmc,

Could you please share your manifest? Seems to be an encoding issue but would like to check (if you prefer, you can share it privately to dashjs@epiclabs.io).

[2017-11-01 11:39] KhodyrevDS commented on #2265
You can found video here https://dev2-portal.videonotion.com/web/guest/player?v=b0c1698b-e2d2-46dd-8247-aad2672469cd

Here is saved mpd file https://drive.google.com/file/d/0B3MmTB0KEAaHSVFCckd5WE52YXM/view?usp=sharing

[2017-11-01 11:42] kenchanmc commented on #2265
Hi @epiclabsDASH ,I just shared the manifest to you by sending email to dashjs@epiclabs.io .Thanks so much ~

Hi @KhodyrevDS  , do you reply to a wrong thread ???

[2017-11-01 12:01] bbcrddave commented on #2259
This sounds similar to https://github.com/Dash-Industry-Forum/dash.js/issues/2049, where segments for one media type were appended to sourcebuffers of an alternative type due to a packaging error.

The video linked above plays for me.

[2017-11-01 12:42] epiclabsDASH commented on #2265
@KhodyrevDS, please, let's follow your case in the issue you opened (#2259). Thanks.

[2017-11-01 12:45] epiclabsDASH commented on #2259
For me it plays while there are no bitrate changes. As soon as there are bitrate changes playback is stalled (because timestamp misalignment).

@KhodyrevDS, as I said in my previous comment, problem seems to be an encoding issue. If you provide some information about the process and tools you are using for encoding this content we could try to provide some help.

[2017-11-01 15:10] KhodyrevDS commented on #2265
yes, sorry

[2017-11-01 23:11] epiclabsDASH commented on #2265
Running dash conformance tool against your stream I get many warnings/errors:

[code]

For some reason, still not sure about which one (Chrome is not very verbose when reporting the issue...),there is a problem in the stream that is causing issues in Chrome although same stream works fine in other browsers. It is not something related with dash.js, same issue happens in any other javascript based

[2017-11-02 01:35] KhodyrevDS commented on #2259
I'm using ffmpeg:
transcode video for each resolution
[code]
create mpd file
`ffmpeg -f webm_dash_manifest -i output.webm -c copy -map 0 -f webm_dash_manifest -adaptation_sets id=0,streams=0 output.mpd`

Transcode one audio:
`ffmpeg -i input_video -c:a libvorbis -b:a 98304 -vn -dash 1 output_audio.webm -y
`
create mpd for audio
`ffmpeg -f webm_dash_manifest -i output_audio.webm -c copy -map 0 -f w

[2017-11-02 04:05] kenchanmc commented on #2265
@epiclabsDASH

The video source is an IP camera. I first use ffmpeg to re-stream IP camera 's RTSP stream to RTMP without any transcoding using :

`  ffmpeg -rtsp_transport tcp -i rtsp://ip-camera-ip/live -c copy -f flv rmtp://wowza-server/app/stream1`

The RTMP stream will be published to Wowza and Wowza will stream the video to browsers using MPEG-DASH.

I use ffmpeg to check the IP camera  RTSP

[2017-11-02 17:18] epiclabsDASH commented on #2265
Hi @kenchanmc,

I have done some tests with regular mp4 files encoded using yuvj420p and yuv420p and both played well in Chrome. There was an issue related with that in the past but as far as I have seen it should be fixed.

Anyway, to discard an issue with that within EME, it would be nice if you can do a test with your content. Just modify the ffmpeg command to transcode it and ensure it is usin

[2017-11-02 19:16] TomMettam commented on #1988
@epiclabsDASH Hey there. Actually it turns out that this appears to be an issue with dash-if.  Shaka player doesn't exhibit the corruption: http://storage.googleapis.com/dalecurtis/shaka/shaka.html?src=https://login.plasticpictures.tv/stream/f554d2d6331d449be6e0fce5881d8e817b573a74/manifest.mpd

[2017-11-02 19:46] epiclabsDASH commented on #1988
Hi @TomMettam. Thanks for the note! Could I ask you to keep that stream available for some more time so I can take a look? There is no decoding at all in dash.js, neither in Shaka player, so it sounds weird. I am eager to take a look and find out what happens there.

[2017-11-02 20:10] TomMettam commented on #1988
@epiclabsDASH : Of course. Please let me know if you need any further info.

[2017-11-02 20:12] epiclabsDASH commented on #1988
Great. Many thanks. Tomorrow I will get a Window 10 machine to reproduce this issue and will let you know once I have more information.

[2017-11-02 22:09] bbcrddave commented on #2259
Is this a duplicate of https://github.com/Dash-Industry-Forum/dash.js/issues/1945?

[2017-11-03 02:44] KhodyrevDS commented on #2259
@bbcrddave Thanks! Glory to the holy borscht its working.

[2017-11-03 09:09] epiclabsDASH commented on #1988
@TomMettam, as expected, I could reproduce this issue also in Windows 10 + Chrome + Shaka player (I tested others and got same result).

As we are using a format that is directly compatible with the browser we are not doing any repackaging (like ts -> mp4, when working with HLS and EME) so we pass to the browser just what we get from the stream. In terms of video decoding there is not too much you

[2017-11-03 09:36] epiclabsDASH commented on #2259
Closing this issue as seems resolved. @KhodyrevDS, please feel free to reopen it in case you can still reproduce this issue.

[2017-11-03 09:36] #2259 closed

[2017-11-03 10:18] TomMettam commented on #1988
@epiclabsDASH : I see your point, but I do wonder why there is such a massive difference between dash.js and shaka during normal playback conditions. When not forcing a bitrate change, every stream corrupts with dashjs whereas with shaka it's much rarer. Could there be some logic involved when selecting which chunk to make the switch on?

[2017-11-03 10:38] nicosang commented on #2103
Hi @WeiRen1991,

could you, please, take a look at my PR #2220? does it solve your issue or not? Any feedback would be appreciate....

Thanks,
Nico

[2017-11-03 10:47] #1978 closed

[2017-11-03 13:49] epiclabsDASH commented on #1988
There is a logic but it is quite basic. Anyway, makes sense keeping this open and investigate this further. I will take care of this one.

[2017-11-03 16:22] nicosang commented on #1959
Hi @cnorthwood ,

could you, please, take a look at my PR #2269 ?

thanks,
Nico

[2017-11-03 16:26] morland96 opened #2270 "ThroughtputRule can't been execute in development branch"
The issue occurs in the latest reference client on http://reference.dashif.org/dash.js/ and not just on my page
Link to playable MPD file: https://dash.akamaized.net/akamai/bbb_30fps/bbb_30fps.mpd
Dash.js version: master
Browser name/version: chrome 62.0.3202.75
OS name/version: macos 10.13

Log can not works in getMaxIndex which is in  'ThroughputRule.js'
Actually I think ThroughputRule is not be

[2017-11-03 16:31] morland96 commented on #2270
Oh sorry.
In fact is development branch. Not the master branch.
I think is a bug which cause rule can not been used

[2017-11-06 09:39] nicosang commented on #2270
should be fix by PR #2271

[2017-11-06 09:39] #2270 closed

[2017-11-06 23:30] epiclabsDASH commented on #2260
Closing this issue. @meshushi, please feel free to reopen it in case you think your question was not answered.

[2017-11-06 23:30] #2260 closed

[2017-11-06 23:30] epiclabsDASH commented on #2265
@kenchanmc, do you have any update to share?

[2017-11-07 12:54] kenchanmc commented on #2265
@epiclabsDASH

I am rather busy this week , but I will have a try in this weekend , promise 😀

[2017-11-07 18:14] wilaw opened #2276 "Support new dynamic list of DASH IF test vectors in reference player"
The DASH IF maintains a repository of test vectors at http://testassets.dashif.org/.
Currently, the dash.js reference player contains a subset of these vectors that was manually copied over about two years ago and is a static part of sources.json. Many are stale and the UI in the reference player is poor.

The test assets DB now exports the test vectors in a JSON format https://testassets.dashif.o

[2017-11-08 09:45] sandersaares opened #2279 "Playback does not enter 3rd period of v8-MultiContent on Chrome and Edge"
##### Environment

- [ ] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2017-11-08 10:01] sandersaares opened #2280 "v7-MultiDRM-MultiKey playback does not start"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2017-11-08 10:13] epiclabsDASH commented on #2279
Thanks for catching this one. Issue could be related with latest changes related with multiperiod management and the algorithm for detecting the end of the stream. I have tested this stream with previous versions and it neither worked although the effect is different (not looping, just next stream doesn't load).

I am going to keep the release thought for today (v2.6.3) on hold until we clarify th

[2017-11-08 10:47] bbcrddave commented on #2280
Seems to be related to the encrypted audio - if you select an unencrypted audio stream (e.g. "et-ET"), everything works fine.

[2017-11-08 11:20] sandersaares commented on #2280
Aha, good catch. In fact, I notice the player only does a single license request. That's not right, given that audio and video use different keys.

[2017-11-08 13:29] nicosang commented on #2279
Hi @epiclabsDASH and @sandersaares ,

i found the origin of the issue : startTime of the third period is 764.2030000000001 instead of 764.203.
I fix it and add a PR.....

Nico

[2017-11-08 13:37] siropeich commented on #2276
@wilaw can you please enable CORS?

[2017-11-08 13:46] wilaw commented on #2276
Site is admin'd by Daniel at Fraunhofer Fokus. I have sent on the CORS request to him.

[2017-11-08 14:50] nicosang commented on #2279
@sandersaares  could you, please, take a look at PR #2281 ?

Thanks,
Nico

[2017-11-08 16:02] epiclabsDASH commented on #2279
It worked here, @nicosang.

Issue was there before this version and is not related with any of its changes so I will go ahead with the release scheduled for today without pushing PR #2281.

In the release notes of this version I will add a note describing this issue so anyone is aware.

[2017-11-08 20:40] wilaw commented on #2276
CORS is now enabled. Thanks Daniel for the quick response.

sfo-mphdc:Johannesburg Nov 2017 wilaw$ curl -v https://testassets.dashif.org/dashjs.json -o /dev/null
* Hostname was NOT found in DNS cache
*   Trying 52.51.236.57...
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0

[2017-11-08 20:41] wilaw commented on #2276
Reopening since only the CORS is resolved, not the integration in to the player.

[2017-11-09 06:20] sandersaares commented on #2279
The PR seems to have fixed it for me in Chrome but in Edge, I still see the issue. Actually, Edge now even fails to play from the 1st into the 2nd period for me.

[2017-11-09 08:43] nicosang commented on #2279
So, it means you have the infinite loop in Edge between 2nd and 3rd period or randomly the play between periods fails without infinite loop.

[2017-11-09 11:09] sandersaares commented on #2279
In my current tests with the code from the PR, I encountered a playback stop when entering 2nd period. If I manually seeked into 2nd period, I also encountered a playback stop when entering 3rd period. I did not notice any infinite loop playback in my today's testing.

[2017-11-09 14:56] nicosang commented on #2279
@sandersaares, according to me, this is another issue that you describe. It refers to issue #2129. Currently, in order to detect the end of a stream, onPlaybackTimeUpdated of StreamController test the time to end value. If the value is less than 0.5 second, PLAYBACK_ENDED is triggered with a little delay. It's quite dangerous because, like in your sample, the last timeUpdate event could be sent wh

[2017-11-10 00:10] gesinger opened #2282 "Microsoft Edge: [fastSwitchEnabled] video glitches when playhead within buffered region with overlapping video renditions"
This appears to be a browser bug, and a ticket has been filed with Microsoft: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/14600375/

Included in that ticket are reproduction steps with dash.js and Shaka, as well as a note from the dash.js source code related to IE11 and a similar issue.

This is only an issue when `setFastSwitchEnabled` is set to `true`.

I wanted to post

[2017-11-10 06:22] sandersaares commented on #2279
I tried it a couple of times on #2220 and did not notice any glitches when playing into the 2nd period.

[2017-11-10 08:36] nicosang commented on #2279
good news....So, after the merge of both PR, it should be ok for multiperiod streams....I hope! :-)
There is also an issue on subtitles with your stream : the default track is not shown...I look at it.

[2017-11-10 12:02] epiclabsDASH commented on #1959
Closing because it is fixed in #2269. @cnorthwood, please feel free reopen it in case you can reproduce the issue in your side.

[2017-11-10 12:02] #1959 closed

[2017-11-12 09:47] farhumaglass opened #2286 "Windows 10 IE 11 DVB profile is playing with NO video feed (black screen)"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occu

[2017-11-12 12:55] JibberJim commented on #2286
A manifest error comes out playing the stream with NO SUPPORTED CODEC, because IE11 correctly says it cannot play the video file, however dash.js does carry on playing the content even after that error, I actually think that is reasonable, particularly as Edge and Safari both emit the codec error with some HEVC that it can play back completely reasonably.   So it's something for the application la

[2017-11-12 13:10] farhumaglass commented on #2286
Hey,
When you say "IE11 says it cannot play the video file" - what do you mean? Did you mean the canPlayType() func or something else?

[2017-11-12 13:24] JibberJim commented on #2286
Yes - element.canPlayType returns "". rewrite the codec to say avc1 rather than avc3, it returns probably and plays.

[2017-11-12 14:09] farhumaglass commented on #2286
Correct me if I'm wrong, but Windows 10 partially supports DASH videos, meaning ```canPlayType('application/dash+xml')``` should return true for *all* DASH videos regardless of their profile.

From what I see the function returns "" even for playable DASH videos such as the one in [here](https://reference.dashif.org/dash.js/v2.6.3/samples/dash-if-reference-player/index.html).
Is there a way for me

[2017-11-13 05:03] sandersaares commented on #2279
Reposting comment from #2220 for better visibility here:

However, there seems to be some issue actually using this video for some people, as Nicolas mentioned he cannot get it to play in Firefox due to:

Note sure what that is about...

[2017-11-13 09:39] nicosang commented on #2279
FYI @sandersaares , the PR #2287 has been created to solve subtitles issues on this stream.

[2017-11-13 09:53] TaroKong opened #2288 "Please restore the availabilityUpperLimit parameters of the SegmentsGetter.getSegments method."
I see nicosang delete the availabilityUpperLimit parameters of the SegmentsGetter.getSegments method. The parameters is very useful allows developer to get a specific range of segments.So  i hope to restore that code.

file path:
https://github.com/Dash-Industry-Forum/dash.js/blob/development/src/dash/utils/SegmentsGetter.js

line: 52

[2017-11-13 10:05] epiclabsDASH commented on #2288
@TaroKong, that parameter was removed because it was not referenced/used by dash.js itself but we will be happy re-adding it if it is useful.

Do you have a specific use case in which that parameter is useful?

[2017-11-13 10:17] nicosang commented on #2288
Hello @TaroKong ,

could you, please, tell me how do you use this parameter? I don't see where in the code, this parameter is really defined and used.

I have, maybe, missed something....

Nico

[2017-11-13 10:39] TaroKong commented on #2288
@epiclabsDASH @nicosang dash.js‘s fragment is downloaded  one by one , download task will be started only when the last one completed. In some cases, I want to get segment range earlier so that I can download the required segments in advance. But now it only can get 10 * duration segment range at most by using SegmentsGetter.getSegments.Lost the ability to let developer customize segment range.

[2017-11-13 11:49] TaroKong commented on #2288
@nicosang I don't know if you understand my description?

[2017-11-13 13:39] nicosang commented on #2288
not at all, sorry. I can't see where in the pushed code on github this parameter is used. I can understand that it is used for development purpose, but, according to me, we can't keep code only used for development time. It's only my opinion.... ;-)

[2017-11-13 14:46] #2175 closed

[2017-11-13 15:28] epiclabsDASH commented on #2286
@farhumaglass, I don't think there is an issue in dash.js regarding this. Dash.js is checking for browser support, at container/codec level, for each of the representations within your mpd file. In case the browser doesn't support any representation, dash.js is excluding it to be selected for playback.

In your case I guess (I can't access your stream) all your video representations declare to use

[2017-11-13 16:01] matiosfree commented on #2239
Hi guys. I see that now in package.json you have v2.6.4. Does it mean that this bug was fixed?

[2017-11-13 16:05] epiclabsDASH commented on #2239
In the meantime, did you check the feature in PR #2187? It would be nice getting some feedback.

Thanks

[2017-11-13 21:30] epiclabsDASH commented on #2145
Closing because lack of response. @matthew-mahony, please feel free to reopen it in case you have feedback to share.

[2017-11-13 21:30] #2145 closed

[2017-11-13 21:32] epiclabsDASH commented on #2104
The only thing you can do in these situations is doing a seeking operation to a position in which both video/audio has some data.

Your own PR, #2102, will help to overpass this situations in an automatic way.

[2017-11-13 21:32] #2104 closed

[2017-11-14 02:20] TaroKong commented on #2288
@epiclabsDASH As you might guess, i'm calculating my own availabilityUpperLimit value and passing it to the segmentsSetter.

[2017-11-14 09:42] siropeich commented on #2241
@Gontran-Molotov what browser are you using? Any available site where I can see the problem? I can't seem to reproduce it in the reference player using the sample stream above (https://vm2.dashif.org/dash/vod/testpic_2s/multi_subs.mpd).

[2017-11-14 10:34] siropeich commented on #2045
@kathariyabiren you could try using viewpoints. For example:

[code]

[code]

[2017-11-14 10:43] Gontran-Molotov commented on #2241
@siropeich this is an app built with Electron.

By default, this bug is not visible in the reference player because the size of the `<video>` element is the same as the size of its parent `<div id="videoContainer" class="videoContainer">` element. You can  reproduce the problem by forcing the `<video>` element to have a different size from its parent element as follows:

- open http://reference.da

[2017-11-14 11:01] siropeich commented on #2044
Viewpoints could be a solution if you have access to the MPD
https://github.com/Dash-Industry-Forum/dash.js/issues/2045#issuecomment-344215794

[2017-11-14 11:13] Devendradass opened #2290 "Query regarding Multi period Live streaming."
Consider the following manifest:

<?xml version="1.0" encoding="utf-8"?>
<MPD availabilityStartTime="1970-01-01T00:00:00Z" id="Config part of url maybe?" maxSegmentDuration="PT2S" minBufferTime="PT2S" minimumUpdatePeriod="PT60S" profiles="urn:mpeg:dash:profile:isoff-live:2011,http://dashif.org/guidelines/dash-if-simple" publishTime="2017-11-14T09:57:42Z" timeShiftBufferDepth="PT5M" type="dynamic"

[2017-11-14 13:07] jeffcunat commented on #2241
@Gontran-Molotov I have also noticed the problem when we are in fullscreen mode and the video element vertically centered, the caption div element is misplaced (doesn't take into account the top position of the video element)
I am trying to find a solution and propose a PR for that

[2017-11-14 13:10] jeffcunat commented on #2241
@Gontran-Molotov I have also noticed the problem when we are in fullscreen mode and the video element vertically centered, the caption div element is misplaced (doesn't take into account the top position of the video element)
I am trying to find a solution and propose a PR for that

[2017-11-14 13:29] Gontran-Molotov commented on #2241
@jeffcunat please look at [my original post](https://github.com/Dash-Industry-Forum/dash.js/issues/2241#issue-266492189) for this issue. I offer a possible fix at the end of my message.

[2017-11-14 14:39] jeffcunat commented on #2241
It seems your fix is correct for your use case but not for ours. :( Do you set a video style to width:100% and height: 100% to center your video when in full screen (or full window in your 2 first screen captures) ?
We do center the video with
`top: 50%;
 transform: translateY(-50%);)`
And in this case your fix is not enough...

[2017-11-14 20:46] epiclabsDASH commented on #2288
After some research, seems availabilityUpperLimit is being used in some way. Not directly in dash.js project itself but by other projects that are implementing their own "transport" logic on top of dash.js. So it is more a helper for people extending dash.js capabilities. I guess that was the reason behind adding it 1 year ago.

@TaroKong, I am going to send a PR that restore availabilityUpperLimi

[2017-11-14 23:22] epiclabsDASH commented on #2035
Closing this issue. @jyotikadian, please, feel free to reopen it if you something wrong with readyState buffer management.

[2017-11-14 23:22] #2035 closed

[2017-11-14 23:37] epiclabsDASH commented on #1988
Provided an example to Chrome team that reproduces this issue easily and out of dash.js (just appending 4 segments with a bitrate switch). Let's follow up this issue in the ticket opened by @TomMettam (https://bugs.chromium.org/p/chromium/issues/detail?id=729600).

My impression is this issue is reproduced more frequently in dash.js because its ABR algorithm. Shaka player ABR algorithm seems to be

[2017-11-14 23:40] epiclabsDASH commented on #1876
Closing. Let's follow MPD chaining feature in #1770.

[2017-11-14 23:40] #1876 closed

[2017-11-14 23:47] epiclabsDASH commented on #1803
I can't reproduce this issue in latest versions of dash.js. @sergiyshutov, could you please confirm?

Thanks!

[2017-11-14 23:49] epiclabsDASH commented on #1800
@arnaud-soulard, sorry for the late response. Could you please check if you can reproduce this issue in latest version of dash.js?

[2017-11-14 23:52] epiclabsDASH commented on #1784
@adammlr, could you please check with PR #2272? It has some improvements regarding the way dash.js manages buffer and quota exceeded situations.

Thanks

[2017-11-14 23:54] epiclabsDASH commented on #1671
Some progress with regards to this here: #2268

[2017-11-15 02:06] TaroKong commented on #2288
@epiclabsDASH @nicosang It so glad to hear, thanks for you guys!

[2017-11-15 02:13] #2288 closed

[2017-11-15 09:43] BucherTomas opened #2293 "Playing representations from multiple adaptation sets"
We aim to start providing content encrypted with different content keys based on quality groups. I was trying to follow the DASH-IF-IOP documentation which stipulates in its "_7.7.8. Protection of Media Presentations that Include SD, HD and UHD Adaptation Sets_" paragraph that:

- "Per DASH IF interop points, Representations with separate keys, licenses, and license policy are contained in **diffe

[2017-11-15 11:19] edoudou opened #2294 "Use the same Manifest for 2 players and don't load twice the ressources"
### The Problem
I am trying to display the same stream in multiple players, I founded a way to sync them, but my browser load every segment multiple times even when it's the same quality.

How can I use the same player on multiple elements ? Or just load the segment without a player, then attach them to the players ?

Didn't find no one with my problem yet. Sorry if the issus as already been takin

[2017-11-15 11:45] sergiyshutov commented on #1803
Bug exists :) Dash.js v2.6.3

[2017-11-15 11:57] sergiyshutov commented on #1803
You can download dash file: https://yadi.sk/d/hXQ27pnq3Pie7X

[2017-11-15 12:46] epiclabsDASH commented on #1803
Oh, great, thanks for sharing. I will take a look.

[2017-11-16 06:47] Devendradass commented on #2290
Can anyone give me the answer?

[2017-11-16 10:07] tomraut commented on #2184
Hi @epiclabsDASH , do you have any news about this issue like when it's going to be fixed?

Thanks!

[2017-11-16 10:48] epiclabsDASH commented on #2290
Hi @Devendradass. This is a question more related with dashif spec than with dash.js itself.

At the same time I don't know if I understood well your question. What do you mean with "process the period"? play content within that period? No matter which number of periods you have or when they are updated, what is expected from the playback side is you provide a continuous and linear playback experi

[2017-11-16 11:39] epiclabsDASH commented on #2294
Out of dash.js scope, and assuming audio is shared between both, the simplest way would be using a canvas and just copy what is been rendered in the real video element to it. You won't have sync issues although in terms of performance probably won't be the most efficient solution.

[code]

Using dash.js, you can be more creative and extend FragmentLoader class (using player.extend method) to intro

[2017-11-16 12:18] Devendradass commented on #2290
"process the period" I mean here as take one period and using the information mentioned in that period to calculate the latest segment. Here my question is:
In the multi-period live case, which period I have to choose after an update?

[2017-11-16 12:57] edoudou commented on #2294
I have already tried it but as you said the performance needed is much higher.
It is not really what I am looking for but still thank you for the answer.

If anyone know how to load the buffer outside the player then attach it to it, that would be perfect.

[2017-11-16 14:37] bbcrddave commented on #2294
Isn't this sort of thing handled automatically by the browser cache? I would have thought the built-in cache should prevent multiple outgoing requests for the same resource.

If not, I would imagine you would need to implement some kind of cache layer yourself as suggested above.

[2017-11-16 15:41] edoudou commented on #2294
I don't think so. Tried on Chrome, with an HTML5 player and no dash, ressources only load once, but it does load multiple time with Dash JS.

[2017-11-16 16:22] epiclabsDASH commented on #2294
Please, note that a line in network tab (Chrome Developer Tools) doesn't mean there was a real HTTP request. If you take a look to each request details in the status code there is a special text for "responses" coming from disk cache.

![image](https://user-images.githubusercontent.com/31342005/32902443-b29381fa-caf2-11e7-8407-4869ca7b4f99.png)

[2017-11-16 16:32] edoudou commented on #2294
Okay I will look this up.

I still think that it is downloading multiple times as I had an issue where both my player had the same mpd and the buffer loaded wasn't the same.

Thanks for your help I will look it up.

[2017-11-16 16:39] epiclabsDASH commented on #2294
As both players are working at the same time that could be the case. If the second request is done before the first one finishes, then I guess the browser will repeat it. As suggested above you could implement your own cache layer logic to avoid this duplicated requests.

[2017-11-16 17:22] epiclabsDASH commented on #2184
Hi @tomraut. No yet, sorry. We have been focused on fixing issues related with buffer management. I will get back to you once I have more information regarding this (it will be soon! :) )

[2017-11-16 20:06] sandersaares commented on #2290
I am also confused by the question. What do you want to achieve?

[2017-11-16 23:12] epiclabsDASH commented on #2249
@Murmur, I am closing this issue as this problem seems to be fixed. There is pending work related with ClearKey (license server integration) but will be handle in a specific issue for it.

[2017-11-17 00:02] epiclabsDASH commented on #2276
Closing this one. Already implemented in #2283

[2017-11-17 00:02] #2276 closed

[2017-11-17 05:35] Devendradass commented on #2290
Hi ,
Actually I want to know how the dash.js calculates and access the latest segment (near to live edge) in the multi period live case. Since we are developing the player like tool which supports DASH. So far we have done with single period. We are planning to enhance our tool to support multi period too. For that we need an algorithm to derive the latest segment. Since after every update some pe

[2017-11-17 05:45] sandersaares commented on #2290
I would suggest looking at the [DASH-IF Interoperability Points](http://dashif.org/guidelines/) document for guidance on this topic. Specifically, chapter 4.3.4.3 seems to talk about how to find the latest period and 4.3.4.4.2 about finding the latest segment (the live edge). There is also a lot of very useful timing-related information elsewhere in the document.

[2017-11-17 08:19] bbcrddave commented on #2280
Is this a duplicate of https://github.com/Dash-Industry-Forum/dash.js/issues/1595?

[2017-11-17 08:36] Tairr opened #2296 "Playback & PlaybackRate features"
I follow dashjs somedays,and i can run 'Reference Client',but i don't know if it has some features:
1.When i play a live stream , can i playback 5s or 10s by using dashjs ?
2.I see muteBtn , bitrateListBtn and so on in the demo, but can‘t find a function or a button to change the playbackRate?

Could someone help me? thanks

[2017-11-17 08:40] Tairr commented on #2296
emm.. And my job is play  mpeg-dash stream on browser page , not care the server

[2017-11-17 19:04] ronikar commented on #2296
I don't konw the answer to your first question, but I can help you for your second question.
You can get and PlaybackRate and set PlaybackRate if you use mediaPlayer Instance.

you can read more about this at https://github.com/Dash-Industry-Forum/dash.js/pull/2114

[2017-11-17 20:42] epiclabsDASH commented on #2241
@Gontran-Molotov, please, feel free to test the fix put by @jeffcunat.

[2017-11-17 20:46] epiclabsDASH commented on #2296
@Tairr, there are no buttons or controls in the sample control bar for configuring playback rate although, as pointed by @ronikar, that feature is supported by dash.js. It would be a matter of using your own control bar, or modifying the one we are providing (PR will be welcomed), to connect the functionality with the UI.

Regarding your first point, there is not a specific feature in dash.js for

[2017-11-17 20:50] epiclabsDASH commented on #2286
@farhumaglass, closing this one as I don't understand it as a real dash.js issue. Please, feel free to re-open it in case you find an issue related with this.

[2017-11-17 20:50] #2286 closed

[2017-11-19 04:10] soadri opened #2297 "Question about parallel segment request in Dash.js"
I want to request a segment in Dash.js in parallel.

This means that the segment is divided into some byte ranges and requested in parallel by Dash.js player.

But according to my observation, Dash.js is designed for consecutive segment request.

So, To modify Dash.js player to request the segment in parallel, many modules also have to modified

Is it right? or Is there other alternatives?

Thank

[2017-11-20 02:15] Tairr commented on #2296
@ronikar @epiclabsDASH Thanks for your help

[2017-11-20 04:48] KhodyrevDS opened #2298 "Player load the whole mpeg dash webm file"
I'm trying to play mpeg dash webm file https://dev2-portal.videonotion.com/web/guest/preview?v=5757f876-c575-4969-a37d-450d7c65d015
After start playing the whole video downloading (For example, I see in the response Content-Range:bytes 433-9781613/9781614). It's too much (about 9 mb) so it's loading too long.

How I can affect to this?

Video encoded by ffmpeg with this instruction http://wiki.web

[2017-11-20 06:08] bkon opened #2299 "Typescript: MediaPlayer is not included in the export list in index.d.ts"
Sample code:
[code]

Expected outcome: code compiles

Current outcome: compilation error `...no exported member MediaPlayerFactory`

===

Sample code:
[code]

Expected outcome: code compiles

Current outcome: compilation error `MediaPlayer only refers to a type, but is being used as a value here`

[2017-11-20 06:09] bkon opened #2300 "Webpack sample references to MediaPlayer instead of MediaPlayerFactory"
samples/modules/webpack/src/entry.js contains

[code]

code; current export list in index.js is:
[code]

[2017-11-20 10:00] Gontran-Molotov commented on #2241
Hi @epiclabsDASH, the fix put by @jeffcunat works perfectly for my use cases. Nice work! 👍

[2017-11-20 10:01] #2241 closed

[2017-11-20 10:03] jeffcunat commented on #2241
thanks to you @Gontran-Molotov, you have provided most of the fix yourself !

[2017-11-20 10:31] nicosang commented on #2229
Hi @dsilhavy ,

could you, please, take a look at my PR [#34](https://github.com/madebyhiro/codem-isoboxer/pull/34) of codem-isoboxer? I hope that this new version decreases dropped frames.

Nico

[2017-11-20 16:34] epiclabsDASH commented on #2300
Hi @bkon. Thanks for raising this. Currently, MediaPlayer class definition is not exported but set as a property of window.dashjs object. Changing `import {MediaPlayer} from 'dashjs';` to `import 'dashjs';` will make it work.

I am going to take a look at this. We should also export MediaPlayer within dashjs module.

Thanks

[2017-11-20 16:37] epiclabsDASH commented on #2299
Related with #2300. Let's manage also this point there as they are sharing same root.

[2017-11-20 16:37] #2299 closed

[2017-11-20 20:38] epiclabsDASH commented on #2300
@bkon. A fix has been put in #2301. If everything goes fine it will be included in the next release for the convenience of every user trying to use webpack.

In the mean time you can just do:
[code]

I am going also to add this workaround, valid for versions 2.6.3 and below, to the project FAQ so it is available for everyone.

Thanks

[2017-11-20 21:31] epiclabsDASH commented on #2296
Closing this one. @Tairr, please feel free to open a new one in case you have any other question.

[2017-11-20 21:31] #2296 closed

[2017-11-21 06:18] sandersaares commented on #2280
Yes, I think you may be right there!

[2017-11-21 08:39] epiclabsDASH commented on #2294
@edoudou, closing this one. Please feel free to open a new issue in case you detect an issue.

Thanks

[2017-11-21 08:39] #2294 closed

[2017-11-21 09:22] Gontran-Molotov opened #2302 "Captions are not repositioned / resized when player is resized during a pause"
* Dash.js version: 2.6.3

##### Steps to reproduce
1. Open v2.6.3 of the Reference Client: http://reference.dashif.org/dash.js/v2.6.3/samples/dash-if-reference-player/index.html
2. Play a stream with captions like https://vm2.dashif.org/dash/vod/testpic_2s/multi_subs.mpd
3. Pause the player
4. Resize the web browser to resize the player

##### Observed behaviour
Captions are not repositioned / res

[2017-11-21 10:44] nicosang commented on #2302
Hi @Gontran-Molotov ,

may I have, please, your feedback on PR #2303 ?

Thanks,
Nico

[2017-11-21 14:44] Gontran-Molotov commented on #2302
Hi @nicosang ,

Your fix works perfectly for me, good work ! 👍
See my comment on your PR.

Best

[2017-11-21 14:59] epiclabsDASH commented on #2302
Fixed in #2303

[2017-11-21 14:59] #2302 closed

[2017-11-22 22:35] epiclabsDASH commented on #2290
Closing. @Devendradass, please, feel free to reopen it in case you need further help with regards to this.

[2017-11-22 22:35] #2290 closed

[2017-11-22 22:35] epiclabsDASH commented on #2300
Fixed in #2301

[2017-11-22 22:35] #2300 closed

[2017-11-22 22:37] epiclabsDASH commented on #2045
Closing this one. @kathariyabiren, please, feel free to reopen it in case you need further help with this.

[2017-11-22 22:37] #2045 closed

[2017-11-22 22:38] epiclabsDASH commented on #2044
Closing this one. @zshenker, please, feel free to reopen it in case the solution proposed by @siropeich is not valid for your use case.

[2017-11-22 22:38] #2044 closed

[2017-11-23 00:32] soadri commented on #2297
Any feedback for this question?

[2017-11-23 10:27] KhodyrevDS commented on #2298
Checked with shaka player, it is playing fine.

ffmpeg command
ffmpeg -i in.mp4 -c:v libvpx -threads 4 -vf setdar=dar=0,setsar=sar=0,scale=trunc(oh*a/2)*2:1080 -b:v 524288 -minrate, 524288 -maxrate 524288 -bufsize 1835k -an -pix_fmt, yuv420p
 -movflags faststart -keyint_min 96 -g 96 -frame-parallel 1 -f webm -dash 1 -strict -2 out.webm -y

[2017-11-23 11:46] epiclabsDASH commented on #2297
Hi @soadri. I think it would be enough if you extend FragmentLoader class (http://cdn.dashjs.org/latest/jsdoc/module-MediaPlayer.html#extend__anchor) and implement your own behavior. If you take a look at FragmentLoader code, in its `load ` method is where we are fetching the segments, in our case, using xhr requests.

You could implement you own `load` method to launch more than one request in pa

[2017-11-23 15:21] artywhite commented on #864
Hi, @AkamaiDASH. Seems like I'm facing with this issue on android FireFox mobile browser.
I'm also trying to use it with live stream, without autoplay attribute.

`<video .../>` element has attribute `poster`, it's showing, but after initializing dash.js it suddenly disappears.

Android Firefox 57.0, on Pixel phone, android version 8.0.0.

By the way, on the same phone on Chrome Mobile 62.0.3202.8

[2017-11-23 15:27] dsander commented on #2239
@epiclabsDASH I noticed the same behavior (in our use case the clip is very short and thus completely buffered).

Tried your pull request and noticed the player is doing something right after issuing the track switch, but it fails most of the time. Out of about 20 tried it succeeded one time and in that case switched the audio track immediately. Console output from the failure:
[code]

Is there a

[2017-11-24 02:30] soadri commented on #2297
@epiclabsDASH

Thank you for your kindly answer

I'll try it

[2017-11-24 02:32] #2297 closed

[2017-11-24 07:49] epiclabsDASH commented on #2239
@dsander, could you please share your stream with me so I can do some testing? You can send it to dashjs@epiclabs.io

In #2272 we are clearing audio buffer completely each time an audio track change happens, no matter if the stream was completely buffered or not.

[2017-11-24 09:04] bbcrddave commented on #2298
The problem is that the EBML parser in general, and - importantly here - the cue parser is very strict and not at all permissive.

FFMPEG is including CueRelativePosition elements in the CueTrackPosition elements, and the strict parser doesn't expect these so fails, returning a single cue which is deemed to cover the entire presentation.

Matroska marks CueRelativePosition as not valid in webm [1]

[2017-11-24 10:16] dsander commented on #2239
@epiclabsDASH Sure, you should have received the stream I used.

Sorry, I meant if one can manually clear the buffer in the currently released version of DASH.js

[2017-11-27 04:30] sandersaares opened #2306 "Playback stops at period change"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2017-11-27 08:17] KhodyrevDS commented on #2298
It's working greate

[2017-11-27 09:40] #2298 closed

[2017-11-27 11:46] Devendradass opened #2308 "Query regarding Live edge point Calculation at multi period dynamic MDP."
We are working on the dash.js player like tool which supports DASH.
I have few queries related to Live edge segment calculation in case of multi period dynamic case:

**Query 1:**
After fetching the MPD, I have picked the period which has live edge segment by using the following formula.
Period Selection: PeriodEndTime > PUBT(publish time)
                                     Taking this period, P

[2017-11-27 11:54] epiclabsDASH commented on #2229
Given it was a minor version change, change was also applied to latest built versions of dash.js. You can test the change here:
http://reference.dashif.org/dash.js/development/samples/dash-if-reference-player/index.html

[2017-11-27 13:53] nicosang commented on #2306
Hi @sandersaares ,

according to me, there is different issues. I did my test on the branch of PR #2220. First of all, the selected period is the last one in the Manifest, defined from the live edge search. The main problem is not the end detection, but the start of the new period. Sometimes, The end detection is done before a manifest update has been done. So no new period is available on the cli

[2017-11-27 21:07] epiclabsDASH commented on #2265
@kenchanmc, any news?

[2017-11-27 21:13] #2209 closed

[2017-11-27 21:26] dsilhavy commented on #2229
@nicosang @epiclabsDASH Thanks I will try

[2017-11-28 02:12] soadri opened #2310 "Question about Partial Byte Range Request Generation"
When player requests segment, request (object? or value) is generated by using representation information and other information

In #2297 , I try to request the segment in parallel

If it is available, partial byte range request generation is also available

The partial byte range request generation means below

Original byte range of segment request is a 22394-37665 for example

In this situation

[2017-11-28 09:56] MuhammadTaha opened #2311 "Dashjs 2.6.4 not found on npm install"
When I install dependencies in the sample modules it says dashjs 2.6.4 not found. Even with latest npm install dashjs@latest it gives me 2.6.3 version. How can i get the latest version.

##### Environment
* Link to playable MPD file: https://dash.akamaized.net/envivio/EnvivioDash3/manifest.mpd
* Dash.js version: 2.6.4
* Browser name/version: Chrome 62.0.3 64bit
* OS name/version:  Ubuntu 17.10

##

[2017-11-28 10:01] bbcrddave commented on #2311
2.6.3 is the latest version - see https://github.com/Dash-Industry-Forum/dash.js/releases.

If you want the nightly version as a dependency in your project you would need to provide it yourself.

[2017-11-28 15:37] sandersaares commented on #2306
I am finding it hard to understand the description, due to my lack of knowledge regarding dash.js internal logic no doubt.

Are you saying there is a situation where the presentation is detected as ended because this detection happens too early and the next manifest update would actually have more content? I suppose the player should avoid making such decisions too early then.

Or do you see timin

[2017-11-28 16:41] nicosang commented on #2306
What i wanted to explain is that sometimes the end of reading the period is detected and there is no other period available according to dash.js player. Automatic manifest update has to add a new period, but it happens latter...
I don't know very well manifest update process, but I think there is something wrong about it on your server (maybe timing process, or a same manifest sent many times).

[2017-11-29 08:03] KhodyrevDS opened #2312 "Move range header to get parameters"
Is any way exist to avoid OPTIONS request with ondemand profile for cross domain requests? For example move range header to get parameters?

[2017-11-29 08:31] bbcrddave commented on #2312
The OPTIONS request is made automatically by the browser, not dash.js, and only on cross-origin requests - presumably your media requires a cross-origin request to be made.

The Range header *is* on the GET request, but the Range header is not a CORS-safelisted request header and therefore the browser must send a pre-flight OPTIONS request to ensure the GET request is safe to send.

The only way y

[2017-11-29 08:46] KhodyrevDS commented on #2312
Does any solution for moving parameters from Range header to get parameters?

[2017-11-29 12:11] soadri commented on #2310
Any feedback for this question?

I confirmed that the assignment of partial request range is available, but the problem occurred in playback received data

[2017-11-29 14:01] epiclabsDASH commented on #2311
@MuhammadTaha, fyi, dash.js v2.6.4 is expected to be available on first week of December.

[2017-11-29 14:01] #2311 closed

[2017-11-29 17:27] epiclabsDASH commented on #2310
@soadri, I am sorry but I don't understand what is your issue. What is the problem you see regarding playback received data?

[2017-11-29 17:36] epiclabsDASH commented on #2312
That's possible but implies:
- Managing those "range request" based on query string parameters in the server side. Your server side needs to be able to understand those parameters and interpret them as byte range requests.
- Extending dash.js behavior to use those parameters when requesting chunks.

Honestly, don't know if there is too much benefit on doing this given you have to change the way th

[2017-11-29 22:34] sandersaares commented on #2306
I see. If you have more details about cases where it looks like broken content, I will be happy to investigate from the server side.

For comparison purposes, Shaka player master branch seems to play this video well.

[2017-11-29 22:41] sandersaares commented on #2308
I am unable to comment about the algorithms right now but I notice that nowhere in your description is `suggestedPresentationDelay` mentioned. That seems wrong - I think any algorithm used to detect live edge should consider this delay.

[2017-11-30 00:00] wilaw opened #2316 "Improve UI display of thumbnails"
The thumbnail support is a great new addition to the library, however the display using the default control bar can probably be improved.

Some suggestions
1. Lift the thumb vertically away from the scrub track
2. Add a drop shadow to the thumb to lift if from the background video
3. Overlay a seek-point timestamp over the thumb image.
4. Scale the thumbs to be a certain % of the video height (wit

[2017-11-30 01:01] soadri commented on #2310
@epiclabsDASH

First, the splitted request of segments continue from the beginning to the end of the media and the media is not played in player

Second, the media is played only the initial few segments about two or three segments and the media is not played in player after the initial few segments

I think that the cause of above problems is the alignments of the player's buffer or the wrong inf

[2017-11-30 02:03] KhodyrevDS commented on #2312
Server side is not a problem. About "physically", as I know webm supports only ondemand profile, at least I cant find another.

Thanks

[2017-11-30 03:38] aj-r opened #2317 "Minor improvements to typings"
There are a few issues in `index.d.ts` that go against Typescript's best practices:

- Never use the `Object` type. We should use `object` instead, or better yet, define a proper interface for those objects.
- Never use the `Function` type. Instead, define a more specific signature for that function.
  - e.g. instead of `listener: Function`, we should do something like `listener: (e: any) => void`

[2017-11-30 05:43] Devendradass commented on #2308
But in my case suggestedPresentationDelay  is not available in the MPD.

[2017-11-30 08:33] epiclabsDASH commented on #2317
Hi @aj-r,

Thanks for raising this point. Regarding feedback agreement, please, sent it just to me (dashjs@epiclabs.io) and I will manage the process.

Thanks!

[2017-11-30 09:11] epiclabsDASH commented on #2310
@soadri, I don't think it is a good idea pushing split segments to the SourceBuffer. That implies you put incomplete information and then any of the internal processes done by the browser could (will) crash (boxes parsing, demuxing, decoding, etc). If you want to split segments I would recommend you doing this at transport level: do several requests, wait for responses, merge them at transport lev

[2017-11-30 09:22] epiclabsDASH commented on #2265
Closing the issue as seems to be related with an encoding issue. @kenchanmc, please, feel free to reopen it in case you can reproduce the issue after re-encoding your stream.

[2017-11-30 09:22] #2265 closed

[2017-12-01 00:22] wilaw commented on #2317
@epiclabsDASH  - note that these issue threads are indexed by search engines and are therefore public. I wouldn't want your email address to get picked up by too many spam bots, so be wary of posting it here directly.

[2017-12-01 00:30] wilaw commented on #2308
@sandersaares  - on the issue of `suggestedPresentationDelay `support, some history. DASH IF provided some clarity that `suggestedPresentationDelay` should only be used to set the start point IF the application specifically wants to use it as a synchronization point between clients. Otherwise, it should not be used to set live delay. In order for the application to inform the code base that it sho

[2017-12-01 00:52] serv opened #2319 "public_licenseRequestComplete or LICENSE_REQUEST_COMPLETE event callback fired twice per playback"
##### Environment

DRM playback with token, so hard to provide repro condition.

- [ ] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://githu

[2017-12-01 03:01] soadri commented on #2310
@epiclabsDASH

Yes, I do like that now

do several requests by splitting request range and put each in one request

Referred to above, I think that the splitted request is available

but the problem is occurred when merging the received data in buffer and playback

[2017-12-01 14:47] nicosang commented on #2306
Hi @sandersaares,

could you, please, take a look at my PR #2320?

Thanks,
Nico

[2017-12-01 17:52] sandersaares commented on #2306
With #2320 I see the player stop for a second and then continue after a while. It is certainly an improvement.

I notice the following in the log very often:

`[59290] getNextFragment video- Playing at the bleeding live edge and frag is not available yet`

The presentation uses a `MPD@suggestedPresentationDelay` to instruct players not to play at the very live edge. I am wondering - does dash.js u

[2017-12-01 22:30] serv commented on #2319
Closing this as I don't see the issue anymore.

[2017-12-01 22:30] #2319 closed

[2017-12-04 10:28] nicosang commented on #2306
Hi @sandersaares ,

you have to call the function  useSuggestedPresentationDelay(true) of MediaPlayer in your main application in order to the dash.js takes into a count the suggestedPresentationDelay parameter. I don't know why we have to explicitly call this function... :-(

If it's ok for you, I will remove my PR that was nothing else than a bad workaround.

Nico

[2017-12-04 10:34] epiclabsDASH commented on #2256
@littlespex, @willzhan, fix to this issue (#2321) has been merged and will be included in next dash.js release (v2.6.4, scheduled for Dec 6th).

Thanks!

[2017-12-04 10:34] #2256 closed

[2017-12-04 11:59] Devendradass commented on #2308
Hi Guys,
Sorry still no one is commenting about the logic I have given in my all three queries.
Kindly give me the clarity.

[2017-12-04 14:33] nicosang commented on #2279
@sandersaares
I updated my firefox browser to 57.0.1 (64 bits) version. The error message has been updated : `Can't decode H.264 stream because its resolution is out of the maximum limitation`
It seems that the representation 7 of first period is the origin of the issue : `<Representation id="7" mimeType="video/mp4" codecs="avc1.640034" width="4860" height="2160" frameRate="24" sar="1:1" startWith

[2017-12-04 19:55] sandersaares commented on #2306
Thanks for the help! I think I will adjust the content so that it does not need SPD and see what happens then.

[2017-12-04 19:55] #2306 closed

[2017-12-05 03:32] willzhan commented on #2256
Thank you, epiclabsDASH! Excellent!

[2017-12-05 16:55] JulianPena commented on #2184
Hi guys, I have the same issue, but in my case only happens when the autoplay setting is active and I saw the same behavior with all the streams that I tried, I expect this can help to solve this soon.

Thanks

[2017-12-05 20:53] curioussavage commented on #864
I just encountered the same issue on the latest version of google chrome desktop.

[2017-12-05 20:53] curioussavage commented on #864
@AkamaiDASH can this issue be reopened?

[2017-12-05 20:55] epiclabsDASH commented on #864
Hi @curioussavage,

Issue reopened. I will take a look.

[2017-12-05 20:59] epiclabsDASH commented on #2312
Then, you can go ahead with the server side option. As I said in my previous message it will also require you to extend dash.js behavior. You can get an example of how to extend dash.js to modify outgoing requests (in this case to add custom headers) here: https://github.com/Dash-Industry-Forum/dash.js/issues/1471#issuecomment-229291235

Please, let me know if that helped.

[2017-12-05 21:06] epiclabsDASH commented on #2280
Ok, let's then follow this one on #1595. I think both are coming from the same origin, the lack of multiple keys support in dash.js.

[2017-12-05 21:06] #2280 closed

[2017-12-05 21:09] epiclabsDASH commented on #2184
Thanks @JulianPena. We are investigating from where this issue is coming from.

[2017-12-06 01:58] soadri commented on #2310
It seems to think more about this..

So, I close this issue and reopen after if there is any notable change

Thank you

[2017-12-06 01:58] #2310 closed

[2017-12-06 13:40] sandersaares opened #2323 "Failure to play high quality track should not prevent playback of lower quality tracks"
##### Environment

- [ ] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2017-12-06 14:04] sandersaares commented on #2279
Also writing here to confirm I see that with FF 57. Created https://github.com/Dash-Industry-Forum/dash.js/issues/2323 for tracking the Firefox error.

[2017-12-06 14:15] herrsiim opened #2324 "Stream with URL with CDN token and media chunk downloading"
Hello,

We are trying to play a stream that includes CDN tokens. If the token is not in the url, the file is forbidden for downloading. For security reasons, I am not able to share you the real url, but here is the example:

If I remove the token from url, the stream will not start, as the manifest is forbidden for downloading:

If I start the stream, then the manifest is downloaded correctly, but

[2017-12-06 14:55] bbcrddave commented on #2324
You will need to extend the `RequestModifier` module and add the token to the segment URLs using `modifyRequestURL`, as described in https://github.com/Dash-Industry-Forum/dash.js/issues/1471#issuecomment-229291235

[2017-12-07 06:42] sandersaares commented on #2306
I confirm that after adjusting timing so that SPD is not needed, the period changes succeed.

[2017-12-07 06:52] sandersaares opened #2325 "In live stream, sample player seek bar does not let me seek back into previous period"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2017-12-07 07:31] epiclabsDASH commented on #2324
@herrsiim, two alternative approaches commonly used that avoids you to extend the client:

- Include the token in the mpd when defining media (chunks) urls. This implies returning a different mpd to each user that is not always possible.
- Use a query string token for mpd request. Use a cookie based token for the next ones.

[2017-12-07 11:31] boris-petrov opened #2326 "[2.6.4] Regression: Uncaught TypeError: Failed to set the 'currentTime' property on 'HTMLMediaElement'"
Everything was working fine until `2.6.3`. With `2.6.4` I'm getting a:

[code]

This "non-finite" value is coming from [this line in StreamController](https://github.com/Dash-Industry-Forum/dash.js/blob/v2.6.4/src/streaming/controllers/StreamController.js#L464). I don't understand the code at all so I'm not sure whether this is a mistake on my side or really a regression.

Thanks for the hard work

[2017-12-07 11:59] luna2216 opened #2327 "Issue in Representation.hasInitialization"
https://github.com/Dash-Industry-Forum/dash.js/blob/f1c642610bdad8950ea4f607470a3b5b65ba7606/src/dash/vo/Representation.js#L66

The segmentInfoType can't be both BASE_URL and SEGMENT_BASE at same time, what's the point of this?

[2017-12-07 14:56] epiclabsDASH commented on #2326
Hi @boris-petrov. Could you please let me know which steps are you following to reproduce this issue? Logs from the browser will also help.

Thanks!

[2017-12-07 15:12] epiclabsDASH commented on #2327
Emmmm.... I don't think this is really an issue. That part of the condition is true when segmentInfoType is neither equal to DashConstants.BASE_URL nor equal to DashConstants.SEGMENT_BASE. It can't be both at the same time but can be something different than those two constants and, just in that case, that part of the condition is true. We could write it as below sentence but result would be the s

[2017-12-07 15:14] #1834 closed

[2017-12-07 15:15] epiclabsDASH commented on #1988
Seems Chrome team finds the root of the issue and put a fix. It is a matter of time they release it.

@TomMettam, many thanks for your help and support with this one.

[2017-12-07 15:15] #1988 closed

[2017-12-07 15:29] boris-petrov commented on #2326
@epiclabsDASH - thanks for the answer!

Well, we have an integration test that failed. :D We create a DRM version of a video, produce an MPD file, go to the webpage and expect to be able to play the video (using Clearkey encryption). Here's the logs:

[code]

I can see this `Requesting seek to time: NaN` but not sure why it gets there... I'm not sure how more I could help, please tell me if I can

[2017-12-07 15:39] luna2216 commented on #2327
@epiclabsDASH
That's different. Currently it's ALWAYS true.
`!(r.segmentInfoType !== DashConstants.BASE_URL && r.segmentInfoType !== DashConstants.SEGMENT_BASE )`
is equal to
`(r.segmentInfoType === DashConstants.BASE_URL || r.segmentInfoType === DashConstants.SEGMENT_BASE )`

[2017-12-07 16:32] jeoliva commented on #2327
Oh, yes, you are right. We need a fix for this.

Thanks for reporting

[2017-12-07 16:33] epiclabsDASH commented on #2327
Oh, yes, you are right. We need a fix for this.

Thanks for reporting

[2017-12-07 22:17] aj-r opened #2330 "MPD Anchor should be relative to the start of the first period"
Specifying `#t=0` for live clips has no effect - it starts playing them at the live edge instead of from the beginning. It seems that dash.js is treating `t` as epoch time. However, according to ISO/IEC 23009-1:2014(E) section C.4, `t` is:

Essentially, `t` should be relative to the start of the first period, NOT relative to January 1, 1970.

##### Background / use case

I need to be able to play

[2017-12-08 00:45] boris-petrov commented on #2326
We are generating the video with `FFmpeg 3.4` via this command: `ffmpeg -y -f lavfi -i testsrc=duration=5:size=640x480:rate=30 -f lavfi -i sine=frequency=1000:duration=5 path > /dev/null 2>&1` Then we're using the following commands to DRM the video (not sure if this even matters but for completeness sake):

[code]

[2017-12-08 01:02] epiclabsDASH commented on #2326
Great, thanks for the info. Could you also share information about how you are instantiating dashjs to open that resource?

[2017-12-08 06:15] boris-petrov commented on #2326
Of course - we use `video.js` (6.4.0) with `videojs-contrib-dash` (2.9.2). We do something like (nothing special I think):

[code]

The options are not exactly like that and the code is a bit more involved but I don't think we do anything funny. Please tell me if you need more information. Thanks!

[2017-12-08 08:47] #2323 closed

[2017-12-08 09:07] bbcrddave commented on #2279
Max horizontal resolution at Level 5.2 is 4096, no? Surely that makes the video invalid and the firefox behaviour correct?

[2017-12-08 13:56] sandersaares commented on #2279
Aha, good catch! I will attempt to track why it is marked with too low a level.

[2017-12-08 23:21] dpieri commented on #2192
I think this bug still exists for videos without an audio track. See my comment here for more detail:

https://github.com/Dash-Industry-Forum/dash.js/pull/2194#pullrequestreview-82296913

[2017-12-09 08:12] luna2216 opened #2332 "mss parse error when some track starts from 0"
I find the dash player is trying to access segments with negative start time when playing some mss stream.
I traced the code and find this:

https://github.com/Dash-Industry-Forum/dash.js/blob/bfc2748501e45279ac27d58c4cf92f6bd9499786/src/mss/parser/MssParser.js#L611

I believe the condition should be
`if (timestampOffset === void 0) { `
In case the timestampOffset is 0

[2017-12-11 09:27] sandersaares opened #2333 "UTCTiming (http-head) is treated as relative to page (instead of MPD)"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2017-12-11 09:33] nicosang commented on #2332
Hi @luna2216 ,

could you, please, provide us a mss sample stream to be able to test?

Thanks,
Nico

[2017-12-11 11:20] luna2216 commented on #2332
@nicosang
I can provide you the manifest. The stream file is in a private network.
[code]

[2017-12-11 13:21] luna2216 opened #2334 "Error when parsing widevine pssh"
https://github.com/Dash-Industry-Forum/dash.js/blob/bfc2748501e45279ac27d58c4cf92f6bd9499786/src/streaming/protection/drm/KeySystemWidevine.js#L69

The `pssh_array[i] === 0x12` stands for `bytes key_id = 2` in the WidevineCencHeader, that's ok.
While the `pssh_array[i + 1]` stands for the length of KID, and it's not necessarily to be 16 (0x10).

For example:
In the [test vector of shaka](https://s

[2017-12-11 13:36] sandersaares commented on #2334
Common Encryption (ISO/IEC 23001-7:2016) defines KID as 16 bytes long, so I would consider any other length to be bad content.

Beyond that, though, I am surprised that dash.js is doing something with the PSSH contents at all, given that this is private data belonging to the DRM system. I see the "KID replacement" logic in the referenced file but I do not see any explanation for why the code doing

[2017-12-11 13:40] nicosang commented on #2332
you're right, it's a bug. Thanks @luna2216 ! I will provide a PR to fix it.

[2017-12-11 13:44] bbert commented on #2334
We were not aware of KID as 32 bytes long also.
The KID replacement logic is useful for Smooth/PR to CENC/Widevine transformation.
This is the only way to support Smooth/PR content with a widevine CDM.
Widevine pssh is provided as an input in the protection data, and the KID in the Widevine pssh is then set/replaced according to the KID provided in the ProtectionHeader of the Smooth manifest.

[2017-12-11 13:48] sandersaares commented on #2334
What is the advantage of providing some sort of "PSSH template" (if I understand it right what happens here)? I mean, as opposed to just synthesizing a Widevine PSSH from scratch when needed? I think the latter might be a good generalization of this feature (also for other DRM systems - after all, for most cases the PSSH just echoes the KID and does little else that is useful). Just thinking out l

[2017-12-11 13:52] bbert commented on #2334
Not sure we are authorized to provide source code to generate Widevine pssh from scratch.

[2017-12-11 13:58] sandersaares commented on #2334
Google has themselves published the PSSH structure on GitHub, so I would think it is no big deal: https://github.com/google/shaka-packager/blob/472fae24f298f357fb77a7bc969578a4845a95b5/packager/media/base/widevine_pssh_data.proto

[2017-12-11 14:29] #2332 closed

[2017-12-11 14:52] bbert commented on #2334
Another point is that we may not know all the fields values to insert in the pssh, such as policy, issuer, content type...

[2017-12-11 15:06] epiclabsDASH commented on #2324
Closing this one. @herrsiim, please feel free to reopen this one in case something is not clear.

[2017-12-11 15:06] #2324 closed

[2017-12-11 15:17] epiclabsDASH commented on #2312
@KhodyrevDS, closing this one. Please, feel free to reopen it in case there is something not enough clear.

[2017-12-11 15:17] #2312 closed

[2017-12-11 15:22] #2317 closed

[2017-12-11 15:59] sandersaares commented on #2334
They have to go into the "template PSSH" from somewhere, right? The same source of information could be used.

[2017-12-11 16:03] bbcrddave commented on #2333
Fix at https://github.com/bbcrddave/dash.js/commit/5d37900c58988b6dce1ff8c5d796d6adfe8b06fa - please test and I will provide a PR.

[2017-12-12 07:33] sandersaares commented on #2334
Comment from Axinom DRM team that might explain the reason for this strange KID. /CC @TheJohnBowers

[2017-12-12 21:31] dpieri opened #2338 "Playback starts at segment boundary instead of whatever you set as currentTime"
##### Environment

- [X] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html (Big Buck Bunny example)
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wik

[2017-12-13 17:38] matthew-mahony opened #2339 "Video is corrupted after switching back to Chrome and seeking"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [ ] The issue occ

[2017-12-14 14:03] epiclabsDASH commented on #2339
Seems like a browser issue. @matthew-mahony, could you please do the same test, with the same stream in a different version of dash.js and/or in a different player?

[2017-12-14 14:04] epiclabsDASH commented on #2333
@sandersaares, did you have the time for testing @bbcrddave proposed changed?

[2017-12-14 14:05] #2327 closed

[2017-12-14 17:59] wilaw commented on #1770
Deprioitizing this feature request pending additions to DASH IF IOP and MPEG DASH specs to improve useability for mid-roll ads.

[2017-12-14 19:50] matthew-mahony commented on #2339
I am able to reproduce on most of the recent dash.js versions.

More importantly, I rolled back to chrome version 62, and I was not able to reproduce.

When you say do the same test in a different player, what other player can I test?

I want to enter a bug against chrome, but I'm not sure where to do so.  Is this the right place https://crbug.com/wizard?

[2017-12-14 20:03] matthew-mahony commented on #2339
I entered a bug against chromium:
https://bugs.chromium.org/p/chromium/issues/detail?id=795059

[2017-12-14 22:00] epiclabsDASH commented on #2339
Great, many thanks. I will follow up the progress there.

With other players I meant other MSE based players that supports dash, like Shaka player, for example. I could reproduce the issue there so seems like an issue in the browser side or in the codification itself.

@matthew-mahony, right notice you are using lossless H.264 profile. That's not pretty common. I am going to take a deeper look to

[2017-12-14 22:26] epiclabsDASH commented on #2339
@matthew-mahony, just curious, what is the ffmpeg command you are using to push your webcam to nginx (or ffmpeg command defined in nginx-rtmp in case you have one)?

[2017-12-14 22:42] epiclabsDASH commented on #2334
@luna2216, closing this issue as seems to be an issue in the license server side. As @sandersaares, pointed out, KID must be 16 bytes long. I take note of pssh generation point and will open a discussion about it.

[2017-12-14 22:42] #2334 closed

[2017-12-14 22:52] epiclabsDASH commented on #2308
@Devendradass, as @sandersaares pointed out in a very similar question, I redirect you to the part of the spec that talks about this:

From @sandersaares:

Additionally you can take a look at dash.js source code and see how that part of the spec is implemented. Just look for `liveEdgeFinder` word there and you will get some pointers.

[2017-12-15 08:39] epiclabsDASH commented on #2339
Closing issue. It was not related with dash.js but with a mix of encoding and Chrome issues.

[2017-12-15 08:39] #2339 closed

[2017-12-15 09:48] sandersaares commented on #2333
I confirm the linked change fixes the issue.

It still does not bring dash.js into sync with Shaka, interestingly enough, but I think that is a separate issue. https://shaka-player-demo.appspot.com/demo/#asset=https://live.axtest.net/Channels/Test1/Manifest.mpd;lang=en-US seems to be around 15 seconds ahead of dash.js.

I have `timeShiftBufferDepth="PT15M" minimumUpdatePeriod="PT15S" ` in the mani

[2017-12-15 10:00] #2333 closed

[2017-12-15 15:32] wilaw commented on #1708
Re-prioritizing this old feature request and making it the top priority from the DASH IF. Some more background here:

Currently the Media Source and its Source Buffers are torn down and then re-established at period boundaries. This results is a noticeable visual and audio gap between periods. This is done out of conservatism, as the transition between dissimilar codecs has lead to unrecoverable R

[2017-12-15 15:52] matthew-mahony commented on #2339
I wasn't specifying the "pix_fmt" in the ffmpeg command line, and it was defaulting to yuv444p, causing the video to have the rare "avc1.f4001f" codec.  I added the "-pix_fmt yuv420p" argument to the ffmpeg command line, and now the codec is "avc1.64001f", and I don't have this issue any more.

[2017-12-15 16:39] wilaw commented on #1474
Prioritizing this request from the DASH IOP group.

The live stream simulator now has available test vectors which expose low latency chunking. This stream has 8s segments with 1s chunks:

https://vm2.dashif.org/livesim-chunked/chunkdur_1/ato_7/testpic4_8s/Manifest300.mpd

It is possible to set the ato and chunkdur to floating point numbers like chunkdur_0.5/ato_7.5/ in the URL. The original conte

[2017-12-18 19:50] dpieri commented on #2338
Using my Codepen example from above I think this issue was introduced in 2.6.0. I haven't been able to reproduce it in 2.5.0.

[2017-12-18 21:28] AleitaT commented on #864
I'm also experiencing this issue on desktop Chrome v 63.

html
`figure(data-namespace='trifoia' data-type='video' data-video='videos/09_trifoia/HealthyUAnimation.v1' thumbnail='/images/healthy-screen.png' style='margin: 0px;')`

js
`loadFigure = function(figureElm) { `
`    var videoId = figureElm.getAttribute("data-video");`
`    var posterImg = figureElm.getAttribute("thumbnail");`
`    var vide

[2017-12-18 21:52] epiclabsDASH commented on #2338
@dpieri, could you please confirm PR #2341 fix this issue for you?

[2017-12-18 22:22] epiclabsDASH commented on #2326
@boris-petrov, unfortunately I can't reproduce the issue here. Could you please send me your sample stream (mpd + video/audio segments)?

[2017-12-19 02:36] dpieri commented on #2338
Yes, it appears to be fixed! Thanks @epiclabsDASH!

[2017-12-19 17:20] #2338 closed

[2017-12-19 20:38] epiclabsDASH commented on #2330
There was a discussion regarding this in #2232 and #1361.

@dsparacio, do you remind why t parameter was decided to be used as an absolute time?

Thanks

[2017-12-19 21:55] mhosman opened #2343 "Not able to change audio language."
Hi! I'm trying to play this live streaming content:

When I try to change the audio language, if I change it very fast, it changes ok. If I try to change the language, for example, after 10 seconds doing this:

[code]

I get a loop with this messages:

[code]

[2017-12-19 23:19] spiterikevin opened #2344 "Multiperiod not working in Chrome"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2017-12-19 23:45] spiterikevin commented on #2344
Oops, I guess this is a duplicate of #2103.

[2017-12-19 23:47] spiterikevin commented on #2344
This could be related to #2103.

[2017-12-20 08:37] oldmtn opened #2345 "time is wrong when show ttml in this link"
Hi All:

Here is a test link:
http://vm2.dashif.org/livesim/testpic_2s/cea608_and_segs.mpd

When you play this link with dash.js, and choose to show ttml subtitle.
The time is wrong and have 2s offset from correct time.

Could you help to fix this issue?

[2017-12-20 08:45] epiclabsDASH commented on #2129
Fixed in #2220

[2017-12-20 08:45] #2129 closed

[2017-12-20 08:58] epiclabsDASH commented on #2345
Regression introduced in v2.6.1

[2017-12-20 10:59] nicosang commented on #2344
Hi @spiterikevin ,

it's a regression due to PR #2341...We have to investigate:-(

Nico

[2017-12-20 13:45] boris-petrov commented on #2326
@epiclabsDASH - sure, give me a few days (as I can't do it right now) and I'll attach them here.

[2017-12-20 15:53] boris-petrov commented on #2326
@epiclabsDASH - OK, actually I did it now. :)

[test.zip](https://github.com/Dash-Industry-Forum/dash.js/files/1576162/test.zip)

This ZIP file contains 3 files:

- `test-audioStream.mp4` - the audio stream;
- `test-videoStream.mp4` - the video stream;
- `test-dashDrmContent.mpd` - the MPD for the DRM content. Only the video stream is encrypted, the audio is not. Here are the options used for encr

[2017-12-20 17:07] #2343 closed

[2017-12-21 08:56] #2344 closed

[2017-12-21 12:54] epiclabsDASH commented on #2326
@boris-petrov, could you please check if using below version of dash.js fix your issue?

Dash.js: http://sedate-join.surge.sh/dist/dash.all.debug.js

One question. Are you using ClearKey with a license server or are you directly passing the key and its value in config parameters?

[2017-12-21 13:30] nicosang commented on #2345
Hi @oldmtn and @epiclabsDASH ,

according to me, it's not a regression. I tested with version like 2.1.1 : the bug is already there. You just have to select 'en' subtitle track and wait for 5 or 6 seconds and the offset time appears.

in TextSourceBuffer file, we can see that subtitles mp4 sample, 'cts' has an offset of 2 seconds compared to chunk start time. It's the origin of the issue. I 'm not

[2017-12-21 15:11] boris-petrov commented on #2326
Thanks for the support! On the question - we are directly passing the parameters, not using a license server.

This version got a bit further - there is no "non-finite" stuff but still an error:

[code]

[2017-12-21 21:37] palemieux commented on #2345
@oldmtn Can you attach the source IMSC1 to the ticket?

[2017-12-22 12:08] BucherTomas commented on #2293
Some feedback would be appreciated. At the very least please respond with something akin to:

1. makes sense, we have it on backlog and plan to add it soonish
2. makes sense, but we do not have the resources now
3. the whole approach is not finalized yet and until it is clarified, we do not wish to spend any time on it

Thank you

[2017-12-22 12:44] epiclabsDASH commented on #2293
@BucherTomas, sorry for the late response.

Your request makes sense but this is not something we are prioritizing right now. We are stabilizing some base stuff before starting with more complex scenarios like this one. For example, we are reviewing DRM support to be able to have different keys/schemas across different adaptations or representations that is currently not supported.

@BucherTomas,

[2017-12-22 13:11] BucherTomas commented on #2293
Thanks for the update.

We are on the same page then, we also want to have different keys across different adaptation sets, the ability to group everything from these different adaptation sets and play as single adaptive stream is just a logical outcome, it is not any additional complex scenario.

[2017-12-23 02:41] shinichikudo987 opened #2347 "Error when build the dash.js!"
Hi all,

I follow the instruction from the website of dash to build the dash. However, I run until the step 3:"Install dependencies" of "Quick Start for Developers". I got some errors:

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! intern@3.4.6 install: `node support/fixdeps.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the intern@3.4.6 install script.
npm ERR! This is probably not a

[2017-12-26 05:39] oldmtn commented on #2345
@palemieux

[2017-12-26 07:22] palemieux commented on #2345
I do not see anything in the IMSC1 document that would cause a 2-second offset.

[2017-12-26 08:52] epiclabsDASH commented on #2347
Hi @shinichikudo987,

I right did a fresh installation and everything worked fine. Could you please let me know which version of node and npm are you using (`node --version`,` npm --version`) and in which environment/operating system?

Regarding dash.js capabilities for playing streams, please takes into account dash.js is a reference client for MPEG DASH protocol. If your streams are packaged as

[2017-12-26 09:08] shinichikudo987 commented on #2347
Thank you for your responding.
I use Ubuntu 16.04, Node v9.2.1 and Npm 5.6.0.
Is there any different between the dash.all.min.js from the link http://cdn.dashjs.org/latest/dash.all.min.js and the dash.all.min.js when I build?

[2017-12-27 01:49] oldmtn commented on #2345
You can see TextSourceBuffer.js in dashjs.
As @nicosang says,

[2017-12-27 11:10] epiclabsDASH commented on #2347
Having differences or not depends on the branch you are building and if there were modifications after the latest release. For your information, what you find in in the link http://cdn.dashjs.org/latest/dash.all.min.js is equal to the result you get after building master branch. This is, the latest stable version.

However, if you follow the "Quick Start for Developers" guide then, you won't be wo

[2017-12-27 21:58] palemieux commented on #2345
@oldmtn Oh. By _IMSC1 document_, I meant the TTML essence, not the ISOBMFF container.

[2018-01-02 15:38] epiclabsDASH commented on #2347
Closing issue. @shinichikudo987, please reopen it if you have extra feedback to share. Thanks.

[2018-01-02 15:38] #2347 closed

[2018-01-02 15:41] epiclabsDASH commented on #2229
Closing this issue. After latest change I couldn't reproduce it anymore.

@dsilhavy, please, feel free to reopen it in case you reproduce it in your tests. Many thanks.

[2018-01-02 15:41] #2229 closed

[2018-01-02 15:42] #2308 closed

[2018-01-02 16:37] mhosman commented on #2239
Hey! Any date for this fix in 2.6.5????

[2018-01-02 16:38] mhosman commented on #2184
Any news??? Thank you!

[2018-01-03 02:30] fujunustc opened #2348 "dashjs class"
Hey，I‘m a green hand. I have trouble in using class of namespace dashjs.
var stream = dashjs.FactoryMaker.getClassFactoryByName(Stream);
But this doesn't work.

[2018-01-03 02:31] fujunustc commented on #2348
<!DOCTYPE html>
<html>
    <head>
        <title>Ustc mpeg dash client</title>
        <script src="./dash.all.min.js"></script>
        <script>
            function p() {
                var element = document.getElementById("demo");
                console.log(element);
                var player = dashjs.MediaPlayer().create();
                var stream = dashjs.FactoryMaker.getClassFactoryBy

[2018-01-03 08:29] bbcrddave commented on #2348
It isn't clear from the description what you mean by "doesn't work". Can you elaborate?

The following works great for me:
[code]

[2018-01-03 14:27] bbcrddave commented on #2345
Pretty certain this is a copy and paste error that occurred when the MPD was constructed - I think startNumber for the TTML representation should be 0, not 1.

This would certainly explain the offset between the requested time and the baseMediaDecodeTime (which subsequently causes the CTS offset), and changing it to 0 locally solved the issue for me.

[2018-01-04 11:42] epiclabsDASH commented on #2184
Not yet. I will keep you updated once we fix this. Thanks for the patience.

[2018-01-04 11:50] epiclabsDASH commented on #2345
@wilaw, do you know who we should contact with to ask for changes in above test link (http://vm2.dashif.org/livesim/testpic_2s/cea608_and_segs.mpd)?

It is not critical but, if possible, it would be nice fixing that mpd according to @bbcrddave suggestion.

[2018-01-04 14:23] epiclabsDASH commented on #1973
@mansch, I am closing this one because I can't reproduce it anymore. Your stream seems to be down but I have tested with other single bitrate streams and couldn't reproduce the issue.

Please, feel free to reopen this issue in case you find a new stream where it can be reproduced.

Thanks

[2018-01-04 14:23] #1973 closed

[2018-01-04 14:31] epiclabsDASH commented on #1992
@AxelDelmas, after doing some empirical tests I couldn't find default values that works better than the current ones. At least not in a generic way. Lowering values I could reduce the number of false positives in some computers but I also increases the number of false negatives in some others (mainly in lower end devices).

So, instead of modifying the default values I just added a new method to t

[2018-01-04 22:26] wilaw commented on #2345
@epiclabsDASH  - contact @TobbeEdgeware for all things livesim.

[2018-01-05 08:00] fujunustc commented on #2348
Thanks a lot. I have this mistakes fixed.

[2018-01-05 08:04] #2348 closed

[2018-01-05 14:32] aj-r commented on #2330
@epiclabsDASH @dsparacio any update as to why `#t` is in absolute time?

I think it would make sense to have `#t` in relative time (relative to the beginning of the clip) and `#s` in absolute time. That way, the people who need absolute time can still use `#s`.

Alternatively, if you really don't want to use relative time (e.g. to avoid breaking things for people who are already using `#t` in live

[2018-01-05 14:37] aj-r commented on #2330
I've also noticed that I can never start at the very beginning of a live clip - at best, I can start 1 second into the clip, then seek back to the beginning after the player loads. For example, if the availabilityStartTime is `2018-01-04T21:46:46Z`, and I use `#t=1515102407`, the player fails to load. But if I use `#t=1515102408`, the player will load 1 second into the clip, and I need to manually

[2018-01-06 03:17] fujunustc opened #2352 "DashParser"
##### Enviroment
* Link to playable MPD file: https://dash.akamaized.net/envivio/EnvivioDash3/manifest.mpd
* Dash.js version: 2.6.5
* Browser name/version: Chrome
* OS name/version: windows10

##### Steps to reproduce
code:
[code]
##### Console output
[code]

[2018-01-06 08:36] TobbeEdgeware commented on #2345
@bbcrddave Good that you spotted the mismatch in startNumber. This is dynamically inserted so it is a bug in the code rather than a copy and paste in the starting VoD manifest, but it's a good lead.

[2018-01-06 08:48] fujunustc opened #2353 "H265 problem"
I notice that dashjs supports h264. How can I expand libde265.js into dash

[2018-01-06 09:25] bbcrddave commented on #2353
Related: https://github.com/Dash-Industry-Forum/dash.js/issues/1572

[2018-01-06 09:54] fujunustc commented on #2353
Thanks.

[2018-01-06 10:27] TobbeEdgeware commented on #2345
The source has now been fixed.

[2018-01-06 10:27] #2345 closed

[2018-01-07 22:12] epiclabsDASH commented on #2353
@fujunustc, there is not an easy way of using libde265.js within dash.js. Dash.js is not implementing any video/audio decoders, it is leveraging the ones implemented by the browser through the use of [Media Source Extensions API](https://www.w3.org/TR/media-source/), and so, its architecture is not designed for that.

By the way, as pointed out in #1572, it is not that dash.js doesn't support H.26

[2018-01-07 22:12] #2353 closed

[2018-01-08 08:44] bbcrddave commented on #2352
As discussed in your other issue (#2348), if you want to get the factory using the class name as a string you need to use `dashjs.FactoryMaker.getClassFactoryByName`.

Once that is fixed, the `parse` method can be accessed, but you'll get an `Error` thrown because you need to provide some configuration to DashParser in the `create` method. See https://github.com/Dash-Industry-Forum/dash.js/blob/de

[2018-01-08 09:56] oldmtn commented on #2345
Thank you.

[2018-01-08 13:45] nicosang commented on #2103
Closing issue. @WeiRen1991, please reopen it if you have extra feedback to share. Thanks.

[2018-01-08 13:45] #2103 closed

[2018-01-08 13:57] fujunustc commented on #2352
Are there some examples?

[2018-01-08 14:22] bbcrddave commented on #2352
https://github.com/Dash-Industry-Forum/dash.js/blob/development/src/streaming/ManifestLoader.js#L105

[2018-01-08 14:27] epiclabsDASH commented on #2352
@fujunustc, could you please share more information about the use case you are trying to implement? Why do you need to instantiate DashParser in your own code?

[2018-01-08 14:29] fujunustc opened #2354 "Mpeg dash server deployment"
Issue:
I use nodejs to deploy a simple server based on mpeg dash protocol, but there some wrong things with dashjs. I input the url "http://192.168.107.97:8080/Manifest.mpd" in my chrome straightly. It works well,but I change samples src in dashjs, it doesn't work. Is it CORS problem? Because I don't handle CORS in server.
nodejs code:
[code]
player.html
[code]

[2018-01-08 14:37] fujunustc commented on #2352
Tile-player with adaptive bitrate control in virtual reality video(4k or more higher resolution).

[2018-01-08 14:37] fujunustc commented on #2352
I see, Thanks.

[2018-01-08 14:44] fujunustc commented on #2352
Because I dont familiar with dashjs. Consequencely, I want to acquire more information of dashjs.However, there is not much guidebook.

[2018-01-08 16:46] epiclabsDASH commented on #2352
I don't think you need to instantiate DashParser yourself for achieving that. In fact, I don't see any reason in which parsing the mpd out of dash.js media player will help you to implement a tile based player.

@fujunustc, did you take a look to the user guide?
In http://cdn.dashjs.org/latest/jsdoc/index.html#toc7__anchor you will find documentation about how to instantiate dash.js in your own we

[2018-01-08 16:57] epiclabsDASH commented on #2354
Your question is not enough clear for me, but you could be right, it could be a CORS issue. Things to check:

- From where are you serving your html sample page? Because browser security restrictions, it won't work if you load it from disk. So, ensure you are hosting your sample html in a local web server.
- Assuming you are serving your html and your dash stream using different web servers, you w

[2018-01-08 19:36] bbcrddave opened #2355 "DashParser no longer throws manifestError on invalid MPD, player throws Uncaught TypeError"
Since 2.6.3, DashParser no longer throws a `manifestError` and instead always returns a valid XML document containing only a parsererror node. Instead of failing gracefully and informing the top-level application, the player simply fails with an Uncaught TypeError the first time some assumption about the manifest isn't met (i.e almost immediately)

The following MPD will cause this issue:
`<MPD></

[2018-01-09 01:27] fujunustc commented on #2354
I just use my chrome to open html sample page. I'll have a try. Thanks.

[2018-01-09 01:36] fujunustc commented on #2352
I have read the user guide and some samples.  i understand the basic usage of dashjs. Maybe, i need some time to get the hang of it. Thanks a lot!

[2018-01-09 02:11] fujunustc commented on #2354
I have it fixed, thanks.

[2018-01-09 07:58] fujunustc commented on #2352
Is there some approaches to achieve tile aggregation in dashjs？

[2018-01-09 08:49] #2354 closed

[2018-01-09 09:19] epiclabsDASH commented on #2352
There are some support for "tiled videos" (see #2045 and the way the mpd is built using different Adaptations and ViewPoints to define video tiles), although that, by itself, is not enough if you want to build a VR application. Using that your app would need to instantiate several players, each one playing a different tile, do the stitching and keep playback synchronized across all of them.

[2018-01-09 09:32] nicosang commented on #2279
Hi @sandersaares,

could we close this issue?

Nico

[2018-01-09 11:04] sandersaares commented on #2279
I think so, yes. I will open a new issue if I notice any problems remaining.

[2018-01-09 11:04] #2279 closed

[2018-01-09 11:14] epiclabsDASH commented on #2330
@aj-r, sorry for the late response. Let me bring this topic to today coordination call. I prefer to don't change the meaning of #t parameter (there are users that presumably are using it as it is defined today) but are totally open to changes. I will get back to you as soon as possible regarding this.

Regarding this, yes, please, create a separate issue for tracking this issue.

Many thanks!

[2018-01-09 12:56] aj-r opened #2357 "Cannot start at the beginning of a live clip"
My use case is the same as #2330: I have a video that is meant to be played as VOD, but I need to start playing it before all of the segments are written. As such, while segments are still being written, I set `type="dynamic"` in the manifest file. Then, after all segments have been written, I change the manifest to `type="static"`. However, nearly all users will want to start playing the video fr

[2018-01-09 13:53] xgw opened #2358 "May I ask how to involve the Spatial Relationship Description(SRD) in the MPD file in dash.js"
Spatial Relationship Description(SRD) is an approach for streaming only spatial sub-parts of a video to display on devices. I have made some MPDs with SRD and I have no idea how to play the parts I want using dash.js.
        Can anyone show me how to make a use of SRD with dash.js, or simply how to play the given representation label dynamically?

[2018-01-09 16:37] TobbeEdgeware opened #2359 "Thumbnails do not work for live source"
I just made a live source with thumbnails in the live-source simulator.
It is based on a VoD asset http://vm2.dashif.org/dash/vod/testpic_2s/Manifest_thumbs.mpd where the thumbnails appear nicely on top of the scrub bar.

However, the requested thumbnails for the live source, http://vm2.dashif.org/livesim-dev/testpic_2s/Manifest_thumbs.mpd, are not the ones corresponding to the live interval (rela

[2018-01-09 20:54] sergiyshutov commented on #1803
epiclabsDASH this bug will be fixed?

[2018-01-09 21:24] epiclabsDASH commented on #1803
Yes, it will be fixed. It is just a matter of time and priorities.

By the way, this issue seems to be related with requests management. We fixed issues related with this in PR #2342 so once merged (expected for end of this week) I will get back to this one.

[2018-01-10 03:05] NyuuuuOrz opened #2361 "Failed to play the MSS video by the Dash JavaScript Player"
Hello,
    As I researched from the forum that the dash.js player can support the Mircosoft Smooth Streaming playback now. But I failed to play the MSS video by using the Dash JavaScript Player. The message from the console is "**manifestError : manifest type unsupported**".

 **Test Page**:
http://reference.dashif.org/dash.js/development/samples/dash-if-reference-player/index.html

**Test Url**:

[2018-01-10 08:40] nicosang commented on #2361
Hi @NyuuuuOrz ,

by default, the reference test page doesn't include the mss package. In order to include it, you have to change index.html :

[code]
After that, you will be able to play mss streams.

Nico

[2018-01-10 09:01] nicosang commented on #2361
If you prefer, you can just keep <script src="../../dist/dash.all.debug.js"></script> and add <script src="../../dist/dash.mss.debug.js"></script>

[2018-01-10 16:48] fvalleeHbbTV opened #2363 "xlink : Period transition is broken in nightly build"
##### Environment

- [ ] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [X ] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue oc

[2018-01-10 16:54] epiclabsDASH commented on #2363
Thanks for reporting the issue @fvalleeHbbTV, I could reproduce it here and am taking a look.

[2018-01-11 12:38] fujunustc commented on #2352
I see,thanks!

[2018-01-11 12:40] fujunustc opened #2364 "ABR rules"
Is there any basic steps to inject code into dashjs, if I want to add new abr rules in dashjs？

[2018-01-11 13:05] epiclabsDASH commented on #2352
Closing this issue as. Thanks

[2018-01-11 13:05] #2352 closed

[2018-01-11 13:14] epiclabsDASH commented on #2364
@fujunustc, you can use [addABRCustomRule](http://cdn.dashjs.org/latest/jsdoc/module-MediaPlayer.html#addABRCustomRule__anchor) method of MediaPlayer to add your custom ABR rules.

If you want to define your own ABR algorithm from scratch then you also need to "deactivate" default rules defined by dash.js. For doing that use the method [useDefaultABRRules](http://cdn.dashjs.org/latest/jsdoc/module

[2018-01-11 13:23] epiclabsDASH commented on #2361
Closing issue.

[2018-01-11 13:23] #2361 closed

[2018-01-11 13:51] nicosang commented on #2363
Hi @fvalleeHbbTV ,

could you, please, take a look at PR #2365 ? Does it solve your issue?

Thanks,
Nico

[2018-01-11 14:05] fvalleeHbbTV commented on #2363
Hi @nicosang , @epiclabsDASH

Patches from PR #2365 are fixing the issue.
Thanks a lot!

Fabien

[2018-01-11 14:05] #2363 closed

[2018-01-11 16:46] #2355 closed

[2018-01-11 22:01] chanof opened #2368 "dash.js does not display the MP4Box mpd"
Hi there, I'm trying to get a pseudo live with mp4box and visualise it with dash.js inside apache or mamp, my os is sierra.
For my test i use a video already encoded of Simpsons http://www.h264info.com/clips.html,
Cause i understand that the encode by ffmpeg is necessary only for multi bitrate purpose and for the moment i don't need it.
TEST: A local web server host an html doc with dash.js and a

[2018-01-12 01:46] fujunustc commented on #2364
thanks！

[2018-01-12 07:41] #2364 closed

[2018-01-12 08:19] bbcrddave commented on #2368
This is almost certainly a duplicate of https://github.com/Dash-Industry-Forum/dash.js/issues/1949.

[2018-01-12 13:05] chanof commented on #2368
Thanks bbcrddave! now i m able to play the video,
to separate audio from video i tryed:
ffmpeg -i simp.mp4 -c copy audio.m4a # AAC
then i tryed:
sudo MP4Box -dash-live 1000 -frag 1000 -profile live -subdur 1000 -mpd-refresh 1000 -time-shift 4 -bs-switching merge -segment-name output-seg -out manifest.mpd  simp.mp4 audio.m4a
But without result, i'm already searching why, could you help me?
Thanks
G

[2018-01-12 15:37] #2368 closed

[2018-01-12 15:40] #1992 closed

[2018-01-12 18:30] wilaw commented on #2368
@Gianmaria – you do not need to separate the audio before your package, MP4BOX has a handy method of doing this for you during the packaging process.

Assume your source file simp.mp4 contains multiplexed audio and video, then you can use

MP4Box -dash 5000 -rap -bs-switching no -profile dashavc264:live simp.mp4#video simp.mp4#audio

Cheers
Will

From: chanof <notifications@github.com>
Reply-To: "

[2018-01-12 19:16] chanof opened #2371 "dash.js not displayed by smartphone (android and ios) and ps4"
Hi there, After a great satisfaction with the computers I realized I'm having problems visualizing a pseudo live generated by MP4Box on devices such android, iOS and ps4.
the streming work fine with windows explorer, osx firefox chome and safari and on Ubuntu

For my test i use a video already encoded of Simpsons http://www.h264info.com/clips.html,

The MP4Box command line that generate the manife

[2018-01-12 19:49] chanof commented on #2368
Thanks mate!

[2018-01-12 20:26] mikedo opened #2372 "IMSC1 Smooth Scrolling - feature request"
imscJS has added support for smooth scrolling at [1], as specified at [2]. This may require the client code to maintain state and explicitly enable it. Could support be added in a future version of dash.js?

[1] https://github.com/sandflow/imscJS/commit/c4009d53069cd65fe16588d2253c6faec40ff224
[2] http://www.w3.org/TR/ttaf1-dfxp/#semantics-region-layout-step-1

[2018-01-13 06:00] palemieux commented on #2372
Demo is available at http://sandflow.com/imsc1proc/index.html using the sample below.

[code]

[2018-01-13 09:25] #2371 closed

[2018-01-13 13:48] epiclabsDASH commented on #2368
@chanof, that option is to ensure the output produced by MP4Box meets [DASHIF IOP requirements](http://dashif.org/guidelines/).

[2018-01-13 17:28] chanof commented on #2368
thanks epiclasbDash i tried the command line that willow suggest to me, for live purpose i modify it:
sudo MP4Box -dash-live 5000 -rap -bs-switching no -profile dashavc264:live simp.mp4#video simp.mp4#audio

it give me
[code]
Full of errors, i can't figure out if there are other specifications for video that i don't know,
for example:
The same mp4box command line do not work with two different vid

[2018-01-13 17:33] chanof commented on #2368
im a legend:
[code]

Simpson movie

[code]

[2018-01-14 10:15] chanof opened #2373 "Encoding for dash"
Hi everyone, I'm learning how to work with mpeg-dash. Most of my gaps are in the encoding,
May i ask if my process and encoding is correct? I have some question about GOP

- First i use check the frame rate with "ffmpeg -i leg.mp4", in this case 23.98 fps
[code]
- Second i use ffmpeg as streemroot teach with a gop of 24 like below:
`ffmpeg -y -i leg.mp4 -c:a aac -ac 6 -ab 320k -c:v libx264 -x264op

[2018-01-15 00:11] chanof opened #2374 "Dash.js does not work on Chrome"
Hello everyone I hope someone helps me to understand why, if I add the audio to the video I can no longer dislpay video with dash.js on chrome.

EXAMPLE VIDEO:
[code]
ENCODING
`ffmpeg -y -i gravity.mp4 -c:a aac -ac 2 -ab 128k -c:v libx264 -x264opts 'keyint=24:min-keyint=24:no-scenecut' -b:v 1500k -maxrate 1500k -bufsize 1000k -vf "scale=-1:858” out.mp4`

EXTRACT AUDIO
`ffmpeg -i out.mp4 -c copy au

[2018-01-15 02:18] NyuuuuOrz commented on #2361
Sorry for late response. I have tried the dash.mss.debug.js and played the MSS sample video successfully ! Including two playready encrypted video.  I will try the livestream later. Thank you very much for you help!

[2018-01-15 08:42] epiclabsDASH commented on #2374
@chanof, repeating the same question again and again is not going to make the answer to come sooner.  Let's follow this same topic in the other issue you opened (#2373). Please, be patient, the answer will come as soon as someone has time for it.

[2018-01-15 08:42] #2374 closed

[2018-01-15 08:57] chanof commented on #2374
My apologise!
Gianmaria

[2018-01-15 09:19] epiclabsDASH commented on #2373
There is no need to reencode the audio track if you want to preserve how it was encoded. You can instruct ffmpeg to keep the audio track as it was:
`ffmpeg -y -i leg.mp4 -c:a copy -c:v libx264 -x264opts 'keyint=24:min-keyint=24:no-scenecut' -b:v 1500k -maxrate 1500k -bufsize 1000k -vf "scale=-1:720" leggop.mp4`

I would also recommend you to set frames per second at the output. Just to be sure a G

[2018-01-15 12:13] chanof commented on #2373
Thanks for your help! I tried the command line and I would like to ask you some clarifications:

If the video like this use 816p it better to use "scale = -1: 816" for the most accurate representation? Also to avoid "width not divisible by 2" errors?

second and last question I would like to ask you, i need -dash-live to dash it over and over,
If i try your way it give me that "Next generation sch

[2018-01-15 12:19] epiclabsDASH commented on #2359
@TobbeEdgeware, thanks for providing the sample stream! I right sent a PR that fixes the issue with live streams that use thumbnails.  Any feedback will be welcomed.

[2018-01-15 12:20] epiclabsDASH commented on #2373
Why do you want to use dash-live? Are you generating a live stream?

[2018-01-15 12:21] chanof commented on #2373
Yes, is my thesis

[2018-01-15 13:46] nicosang commented on #2372
Hi @mikedo and @palemieux ,

in order to support this new feature, we just have to update package.json with the line "imsc": "^1.0.1-rc.1". Then, I see that the API has been updated for, more preciselly, the function render.

could you please, @palemieux , give more details about parameters displayForcedOnlyMode and enableRollUp? For instance, can we always enable roll up functionnality without an

[2018-01-15 15:20] mhosman commented on #2184
Sorry but this is still happening and we can't playback live stramings. This is a big issue. After about 7 seconds the player starts to log something like this:

[code]
The only way to start playback again is to pause and play video again. Is really annoying.

[2018-01-15 20:24] epiclabsDASH commented on #2184
@mhosman, I can play our sample live streams successfully so, could you please share the url of stream you are using for reproducing this issue? As soon as I have it I will take a look.

Additionally, which version of dash.js are you using?

[2018-01-16 10:13] AxelDelmas commented on #1992
Ok seems good to me. Thanks!

[2018-01-16 10:36] akouSDN opened #2376 "Sudden fall in buffer level due to out of arrival of segments"
Hi guys,
we are testing multipath dash.js. Currently, I am facing a problem with the buffer when the segments come in out of order due to the fact of good links and bad links.  So, let see that in  t  = 20s the buffer level has 15s, after milliseconds the buffer drops dramatically let say 1s. When we analyzed the logs, we found that many time the old segment arrives that is already played earlier.

[2018-01-16 11:12] chanof commented on #2184
Hi! i think to have the same issue with Chrome:

Debug.js:127 [6724] AbrController (audio) stay on 0/0 (buffer: 0)
Debug.js:127 [6725] ScheduleController - audio - getNextFragment
Debug.js:127 [6726] isMediaFinished - no segment found
Debug.js:127 [6726] getNextFragment - audio - Playing at the bleeding live edge and frag is not available yet

Im using:
https://cdn.dashjs.org/latest/dash.all.min.j

[2018-01-16 13:13] epiclabsDASH commented on #2184
@chanof, I don't understand your point. When it fails, do you need to reinstall chrome to make dashjs work?

[2018-01-16 14:38] #2359 closed

[2018-01-16 14:54] epiclabsDASH commented on #2376
@akouSDN, please fix me if I misunderstood something, but sounds like something related with your custom implementation on top of dash.js, isn't it?

We don't have anything in dash.js related with multipath and so, there is no check that verifies if a fragment that we right received is already in the media buffer. I am not sure I fully understand your problem but seems like something you will need

[2018-01-16 15:13] epiclabsDASH commented on #2358
Sorry, in dash.js there is no support for SRD. We manage MPDs with SRD as regular MPDs with multiple adaptations, and we are not taking into account SRD information.

If you want to switch from one adaptation to other you can do it explicitly, using the method `setCurrentTrack` of MediaPlayer. Please, take into account adaptation switches will take some time (we are not pruning buffers after a swi

[2018-01-16 15:25] palemieux commented on #2372
This should be 'false' unless forced subtitles are supported by the player, and the content includes them.

When 'false' the code should behave as before.

When 'true', roll-ups are enabled.

When 'false', the code should behave as before.

This is required to support roll-ups. The function `render()` returns state information which should be passed back to it in the next call through the `previou

[2018-01-16 16:15] akouSDN commented on #2376
Thanks, @epiclabsDASH for the guidance. We did a custom implementation on top of dash.js to allow multipath capability.
I saw that you are working on issue #2342, is it going to affect if we try to implement your suggestion ?.

[2018-01-16 16:26] epiclabsDASH commented on #2376
No, I don't think you will need to add extra logic once #2342 is merged. That PR is related with media buffer management and I don't think this affects to you.

PR #2342 also changes the way requests and media buffer are synced (which requests are already part of the media buffer) but the sync is done before the requests are launched (what is the next request given current status of the buffer?).

[2018-01-16 16:36] akouSDN commented on #2376
Thanks a lot for the prompt response. Can you please tell us the tentative date for the release of v2.6.6 that fixes #2342. We would like to adapt our changes on the top of this fix to be sure that we don't run into other issues.

[2018-01-16 16:49] akouSDN commented on #2376
Ok great, Thanks a lot, @epiclabsDASH.

[2018-01-16 16:50] #2376 closed

[2018-01-16 17:32] mikedo commented on #2372
Rollup behavior is in the IT1 test content contributed by CTA recently to DASH-IF.

[2018-01-16 18:05] wilaw opened #2379 "Reference player should surface fatal playback errors via a UI element"
As of v2.6.5, the reference player will fail silently for certain types of content. This can be due to simple issues such as CORS problems requesting the manifest, or more complex issues such as media decode errors. The javascript console output will provide information as to the problem, however casual users of the reference player typically do not have the console output open and hence they fals

[2018-01-17 01:20] wilaw commented on #2372
Which is referenced here http://testassets.dashif.org/#feature/details/5a2e5cfca5eeda55aa662bcc and the explicit mpd is http://dash.akamaized.net/dash264/CTA/imsc1/IT1-20171027_dash.mpd

[2018-01-17 11:56] DanielMartine opened #2383 "Subtract UTC with availabilityStartTime to archive a "fake live""
Hello, I use mpeg-dash to distribute live streaming, most of the time it is video dashed over and over, and sometime real live using DashCast, always with Dash.js has player.
I would like to know if instead of dashing over and over the same video inside ftp, can i subtract UTC with availabilityStartTime on the client side and show to all users the video at the same time point?
For example a video

[2018-01-17 16:10] #2372 closed

[2018-01-18 15:58] rayfoss commented on #1786
Heads up to anyone who runs into this... Safari 11.0.2 / metal seems to have broken bitstream switching after the spectre patches causing green shrunken video.

[2018-01-20 10:51] xgw opened #2385 "Does Dash.js support any codecs of H.265?"
I used the command line tool FFMPEG with libx265 or kvazaar or any other hevc encoder to encode a raw video. But I found that the console tells that Dash.js does not support hvt1. So I wanna ask that if Dash.js support any kind of HEVC?
Thanks a lot!

[2018-01-20 11:05] fujunustc opened #2386 "ABR"
If I have two set of video and each is encode at several different bitrates, and then I wonder that how to switch between two video and among different bitrates. I have read `samples/dash-if-reference-player` and noticed that adaptive bitrate algorithm is to change quality level depended on throughput and playback occupancy.

[2018-01-20 11:10] fujunustc commented on #2385
I think Dash.js doesn't support any kind of HEVC. This maybe be confined to MediaSource, which doesn't support HEVC at present.

[2018-01-20 11:12] xgw commented on #2385
@fujunustc
thanks

[2018-01-20 11:17] LloydW93 commented on #2385
Codec support is browser/platform dependent. In some situations Edge/Safari support it.

[2018-01-20 11:18] xgw commented on #2385
@LloydW93
Thank you. I'll try some other browsers.

[2018-01-20 11:19] #2358 closed

[2018-01-20 15:41] DanielMartine opened #2387 "Dash.js live config"
Hello, I've been investigating for days how to get dash.js with special controls for live,with a live skin, I'm studying these examples:

https://github.com/Dash-Industry-Forum/dash.js/tree/development/samples/live-streaming

I would ask if it is possible? Also in these example there is not a live control bar, without play stop or seekbar for example, or with a seek bar with right seekrange.
I thi

[2018-01-20 18:28] hughesmatias opened #2388 "mpd format to react native"
Hi community, I was searching for a library where I can play http://rdmedia.bbc.co.uk/dash/ondemand/testcard/1/client_manifest-events.mpd (* .mpd) format. I see this, and i think that it's perfect but, now i'm working to implement this in react native. Someone was implement a video player to react native? I saw some libraries, but nothing work within .mpd format.

If someone know, send me your sol

[2018-01-20 20:10] wilaw commented on #2387
Those samples just use the native controls, which have no live support. You need to write your own. There is one included in the project - check it out at https://github.com/Dash-Industry-Forum/dash.js/tree/development/contrib/akamai/controlbar

This is used in the reference player and you can see the live controls in action here:

http://reference.dashif.org/dash.js/v2.6.5/samples/dash-if-referen

[2018-01-20 20:18] DanielMartine commented on #2387
Hi @wilaw how may time i need for time shift buffer?

[2018-01-20 20:24] epiclabsDASH commented on #2386
@fujunustc, I am sorry but I don't understand your question. What exactly you would like to do/know?

If you are looking for information about the ABR algorithm, you can take a look at this wiki page: https://github.com/Dash-Industry-Forum/dash.js/wiki/ABR-Logic

[2018-01-20 20:36] epiclabsDASH commented on #2385
@xgw, as others pointed out, supporting or not HEVC it is up to the browser in which you are running dash.js. Dash.js uses [Media Source Extensions](https://www.w3.org/TR/media-source/) API to build the media stream and is totally agnostic regarding the video/audio codecs used. In other words, Dash.js passes the "responsibility" of decoding video/audio buffers to the browser.

I am closing this is

[2018-01-20 20:36] #2385 closed

[2018-01-20 20:57] epiclabsDASH commented on #2388
@hughesmatias, I am sorry but, as you have already experienced yourself, dash.js is a video player for the browser. What you need is totally different, you need a video player for React Native and then, probably, this is not the best place to find what you are looking for (these issues are focused on issues related with dash.js).

Just to give you something. At least for Android there are some rea

[2018-01-20 20:57] #2388 closed

[2018-01-20 21:14] epiclabsDASH commented on #2387
@DanielMartine, sorry, I don't think I understood your question. Time shift buffer value is something that is defined in the stream itself (curl the stream and look for the attribute `timeShiftBufferDepth`), it is not a config parameter of dash.js.

The example controlbar included in the project is just using the value defined in the stream to generate the right timing information, so the seeking

[2018-01-21 03:37] #2386 closed

[2018-01-21 03:55] fujunustc commented on #2386
Thanks for your help！

[2018-01-21 12:06] DanielMartine commented on #2387
Thanks guys for support, i actually investigate every direction to get a properly control for live use that can try to read where the buffer is exhausted.
I read about #2175, but i can't understand where to put that code to upgrade the playhead correctly after pause (at the start of the buffer and not at the and, where the live currently be)
Do you have any suggestion?
Thanks,
Dan

[2018-01-22 08:59] epiclabsDASH commented on #2387
@DanielMartine, once #2175 was merged there is no need to add any code to take into account live position updates when paused. Dash.js takes care of that. When playing a live stream no matter if playback is paused, dash.js continues raising update position events. ControlBar will see those events and will update time position accordingly.

If you are talking about situations in which a resume afte

[2018-01-22 09:50] epiclabsDASH commented on #2383
Honestly, I don't think that's a good approach. You could try to modify the MPD before pushing them to the player but sounds too complex for what you are trying to achieve. If you want to do it in the client side, I guess is far easier doing the calculation in the player side, doing a seek to the right position when playback starts, taking into account:

- Time/Date at what video "started"
- Durat

[2018-01-22 10:44] luna2216 opened #2389 "Player can't be re-initialized after reset."
https://github.com/Dash-Industry-Forum/dash.js/blob/c19fb958796f78aea5543db3e17f68a6ff3fc2f8/src/streaming/MediaPlayer.js#L271

Why is `mediaPlayerInitialized = false;` removed in https://github.com/Dash-Industry-Forum/dash.js/commit/e5d256e0d6bc551cbcfa4d1c6a05c133a97d8d2e#diff-5456063602a0f315ddaf7b06419fd6e7L265

Looks like an wrong merge to me, this makes the player can't be initialized again

[2018-01-22 12:56] epiclabsDASH commented on #2389
Related with #2016. Not a wrong merge but something design in that way. Makes sense revisiting this taking into account @nicosang comments in #2016.

[2018-01-22 14:49] #2387 closed

[2018-01-22 14:51] DanielMartine commented on #2387
Thanks a lot, all clear
Dan

[2018-01-22 14:55] epiclabsDASH commented on #2373
It is better to use -1:816 just to keep the aspect ratio of the input video.

[2018-01-22 14:58] epiclabsDASH commented on #2373
@chanof, I recommend you to take a look at Dashcast if you want to stream a vod as it were a live.
https://gpac.wp.imt.fr/dashcast/

[2018-01-23 01:46] #2389 closed, assigned to nobody

[2018-01-23 16:24] aj-r opened #2390 "Subtitles do not appear when re-selecting a text track"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-01-23 22:42] kqyang opened #2391 "Stall at period boundary in mult-period content"
##### Environment

- [ ] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [ x ] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [ x ] There are no network errors such as 404s in the browser console when trying to play the stream
- [ x ] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [ x ] The i

[2018-01-24 06:25] NyuuuuOrz opened #2392 "[MSS] 412 Response from the server after a few fragments were successfully downloaded while playing MSS living stream"
Thanks for your help last time so I can use Dash.js to test the playback of MSS video these days. It works well with the MSS static video, but I have some problems during the playback of living stream.

The phenomena is that after a few fragments were successfully downloaded, the following fragments request failed with a response of **412 (Precondition Failed)**. Also, there is **no manifest updat

[2018-01-24 08:41] bbcrddave commented on #2390
Should be fixable by doing something like the following when the track is reselected:
[code]

[2018-01-24 09:03] nicosang commented on #2391
Hi @kqyang,

sorry but I'm not able to reproduce this issue. :-( Your explaination is quite weird when you say that we need to clear the cache in order to reproduce it....isn't it a network issue?

Nico

[2018-01-24 10:57] nicosang commented on #2390
Hi @aj-r ,

could you, please, take a look at PR #2393 ?

Thanks,
Nico

[2018-01-24 13:22] nicosang commented on #2392
Hi @NyuuuuOrz ,

1-There is no manifest update for smooth content (except when the user changes an audio or subtitle language). Timestamps of next segments are defined by analizing tfrf boxes.

2-the buffer lenght is different between hasplayer and dash, it could indeed explain what you see.

Do you use function setLiveDelay in dash.js? I think you are too close to the live....

Nico

[2018-01-24 16:13] gwevans opened #2394 "MediaPlayer.events.ERROR or PLAYBACK_ERROR not triggering."
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-01-24 16:52] nicosang commented on #2394
Hi @gwevans ,

I did a test with the reference page [here](http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html) with a break point in the main.js file at line 232 : the error is well triggered....

Could you, please, reproduce, on your side, this test? do you agree with me on the result?

Maybe something is wrong with your showVideoError function....

Nico

[2018-01-24 17:26] gwevans commented on #2394
Hi @nicosang,

Thanks for the quick reply. I recreated your test and agree with you that it is working. My issue must be scope or something else then.

I have tried doing the following but still nothing is written to the console:
[code]
I am importing ```{ MediaPlayer } from 'dashjs'```, so I don't need to have ```dashjs.MediaPlayer.events.ERROR``` do I?

[2018-01-24 18:58] kqyang commented on #2391
@nicosang Thanks for looking into it. The behavior is indeed a little bit weird. Let me re-summarize my observations. Hopefully it is clearer this time:

1. The stream plays fine if I don't do any seek, i.e. if I play the streams from the beginning. There is a jitter at around ~30s. I assume that is expected and related to this issue: https://github.com/Dash-Industry-Forum/dash.js/issues/1708.

2.

[2018-01-24 19:54] gwevans commented on #2394
@nicosang Yeah I understand. Now that I know it's an issue with my code and not the player, I'll close the issue.

[2018-01-24 19:54] #2394 closed

[2018-01-24 20:51] gwevans commented on #2394
@nicosang. I messed around with it a bit more and I'm still not having any luck. I've created identical eventListeners that work, just the error event listener doesn't work. I know it's tough to diagnose without seeing the code, but do you have any tips? This is for work and I'm unable to share larger portions of code, but here are the relevant lines.

[code]

When I use a good video source, i get

[2018-01-24 20:54] epiclabsDASH commented on #2394
@gwevans, could you please create a sample in which this issue can be reproduced and share it with us? Just a simple one extracting what you are doing, related with dash.js, in your big app.

[2018-01-24 21:09] gwevans commented on #2394
Hi @epiclabsDASH, see sample code below. However, I think I have found the issue. While testing I have been using local files instead of urls. To test the errors I have been changing the filename to something that does not exist. This isn't registering the ERROR event. However, when I load a bad url instead of a non-existent file, the ERROR listener event triggers.

VideoSrc and autoplay are getti

[2018-01-24 21:26] epiclabsDASH commented on #2394
Just to clarify. Do you mean event is not raised when, in your sample, this.props.videoSrc is pointing to a non existent local file (file://...)?

[2018-01-24 21:47] gwevans commented on #2394
@epiclabsDASH That is correct, yes.

[2018-01-24 22:15] epiclabsDASH commented on #2394
Weird, I get a download error when trying to do the same. Anyway, that's not a valid use case. Due to CORS restrictions, and for security reasons, browsers don't allow to use XHR requests with file schema.

[2018-01-24 22:19] gwevans commented on #2394
Yeah I agree it is a non-issue. Thanks for the attention and feeback.

[2018-01-25 03:50] NyuuuuOrz commented on #2392
Hi Nico:
Thanks a lot for your help. After I set the same value for the LiveDelay and BufferTime(the four functions as you mentioned)，the Dash.js works well with our MSS living stream.

 I notice that it seems to be more important to set the same value for these four functions. The phenomena is that although I set a bigger value for setLiveDelay(), if I do not set the same value for the three Buff

[2018-01-25 08:58] #2392 closed

[2018-01-25 09:00] epiclabsDASH commented on #2373
Closing issue.

[2018-01-25 09:00] #2373 closed

[2018-01-25 09:01] epiclabsDASH commented on #2383
Closing issue

[2018-01-25 09:01] #2383 closed

[2018-01-25 09:20] epiclabsDASH commented on #1963
Closing this one. @dsparacio, please, feel free to reopen it in case you can still reproduce it in your side.

[2018-01-25 09:20] #1963 closed

[2018-01-25 14:40] nicosang commented on #2391
could you, please, test again on the development branch? A PR has been merged on this topic....

[2018-01-25 18:23] kqyang commented on #2391
Great. It seems to be fixed. I can no longer re-produce the issue. Thanks.

Out of curiosity, is it fixed in this PR: https://github.com/Dash-Industry-Forum/dash.js/pull/2369?

[2018-01-25 19:57] epiclabsDASH commented on #2391
Yep, it was fixed in #2369

[2018-01-25 19:57] #2391 closed

[2018-01-26 14:35] #2390 closed

[2018-01-30 14:56] #2379 closed

[2018-01-30 14:58] epiclabsDASH commented on #2316
Fixed last point in #2399

[2018-01-30 14:58] #2316 closed

[2018-02-01 13:16] haozhenxiao opened #2401 "multi period dash stops at the first period."
##### Environment

- [ x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [ x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [ x] There are no network errors such as 404s in the browser console when trying to play the stream
- [ x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [ x] The issu

[2018-02-01 13:22] epiclabsDASH commented on #2401
@haozhenxiao, could you please also share console logs?

Thanks

[2018-02-01 13:34] haozhenxiao commented on #2401
@epiclabsDASH
Here is the console log, It's same as the network log.

![console_log](https://user-images.githubusercontent.com/5941914/35681193-ee93d97e-075c-11e8-9fcd-1b698b3bebae.png)

[2018-02-01 13:58] epiclabsDASH commented on #2401
Doesn't look like dash.js logs, those are just network logs. Which version of Firefox/Chrome are you using?

[2018-02-01 14:08] haozhenxiao commented on #2401
Firefox 52.02. There are no Errors or Warnings in the log.

[2018-02-01 14:31] sandersaares commented on #2401
There appear to be gaps at the start of periods.

Take the last period, starting at 8767634400000.

First video segment is at 8767634523680 which is 123 680 units or 1.37 seconds *after* the period start.

First audio segment is at 8767634523060 which is 123 060 units or 1.37 seconds *after* the period start.

In general, without speaking of spec-conformance, content with gaps is unlikely to play

[2018-02-01 14:38] bbcrddave opened #2402 "Default time server SSL cert will be distrusted in M70"
dash.js uses https://time.akamai.com as the default UTC time source when no other source is specified.

If the certificate is not updated by the time Chrome 70 comes round ([~October 2018](https://www.chromium.org/developers/calendar)), we would need to remove the default source, or find an alternative.

Raising this as this is the first time I have seen this message in the dev console.

CC @wilaw

[2018-02-01 14:48] haozhenxiao commented on #2401
@sandersaares The period start time is earlier than the first segment start, but there's **presentationTimeOffset** which equals to the period start time.

[2018-02-01 15:50] sandersaares commented on #2401
`presentationTimeOffset` simply says what media timeline timestamp starts the period. There is still a gap between the start of a period and the first segment. The use of `presentationTimeOffset` here appears correct but it does not affect the presence or absence of the gap.

[2018-02-01 16:58] Alihodroj commented on #2155
Dear akouSDN ,
can we discuss some points as i am working on same topic , please contact me on my mail: alim.hodroj@gmail.com or give me your email address ?

[2018-02-01 17:12] Alihodroj commented on #2402
Dear Dave,
how can we contact you ?
can you please contact me on mail: .a.hodroj@smartsystems-lb.com
Best regards

[2018-02-01 17:14] Alihodroj commented on #2376
Dear akouSDN,
how can we contact you ?
can you please contact me on this mail: a.hodroj@smartsystems-lb.com

[2018-02-02 00:36] wilaw commented on #2402
@bbcrddave  - I had noticed this myself. I fully expect us to rotate our certs by then, but let me confirm that internally.

On a related note, having only one timing source is a little risky. The intent was always to have several and to be able to faildown if the source is slow||!200, but no one at the time contributed one besides Akamai.  Since a few years have passed, do you know of anyone who

[2018-02-02 08:12] haozhenxiao commented on #2401
@sandersaares The use of **presentationTimeOffset** here is mainly to deal with removing segments from the top of the first period, if segments on the top of the first period is being removed, the first segment start time is always changing, if the period start time always matches the first segments start time, then the period start time is always changing as well, can we have a period start time

[2018-02-02 09:03] Alihodroj commented on #2402
Dear Will,
Nice to hear from you.
How are you ,
Can i call you through skype or phone to discuss our requirements ? We are interested to work with you to meet our requirement in any kind of business or scientific relation ?!
Looking to hearing from you asap.
Best regards

Sent from my iPhone

[2018-02-02 09:20] sandersaares commented on #2401
I agree with you that this content does not necessarily violate any specification. I am just saying that players tend not to play content like this. You will experience greater success if your segments cover the entire period (at least within the time shift buffer).

[2018-02-02 09:30] haozhenxiao commented on #2401
Any ideas how to let the player start playing from the last period? My current implementation works fine with Shaka player.

[2018-02-02 16:17] epiclabsDASH commented on #2402
@Alihodroj, could you please stop "spamming" every user? I could understand you are in a hurry with your requirements but definitively, get dash.js tracking issues tool full of your messages is not a good practice.

I have also seen more and more messages from you in other Github issue and in our Google Group. Please, take some time to think what would happen if every dash.js user started asking q

[2018-02-05 08:05] haozhenxiao commented on #2401
@sandersaares You are right, all periods have the "gap", but except the first(oldest) period, the "gap" for other periods are tiny, the newest period has about 1.3 seconds of "gap". Is this the reason why the player only plays the first period and not continue across to the next period?

[2018-02-05 10:28] mmarciel commented on #2330
@aj-r, we added a PR (#2403) that adds parameter 'r' to be a relative time. Could you take a look and tell us if it works for you?

Thanks

[2018-02-05 13:38] mmarciel commented on #2184
I am not able to reproduce with the sample streams we have in v2.6.6, could you share a stream in which this problem happens?

Thanks!

[2018-02-05 14:11] pujari28081984 opened #2404 "Issue in playing content from https://github.com/Axinom/dash-test-vectors"
https://github.com/Axinom/dash-test-vectors
We have downloaded https://media.axprod.net/TestVectors/v7-MultiDRM-SingleKey-Update1.7z  from v7-MultiDRM-SingleKey section and put them into a HTTPS server.

Trying to play the locally hosted Manifest_AudioOnly_ClearKey.mpd using locally hosted dash js player https://reference.dashif.org/dash.js/v2.6.4/samples/dash-if-reference-player/index.html.

But

[2018-02-05 14:53] bbcrddave commented on #2404
I suspect you are just copying and pasting the MPD URL for the audio only stream into the URL field? This isn't enough - you need to provide protection data (for clearkey this is a keyid and corresponding key) like so:
[code]
In the reference player, options from the stream menu have this functionality performed automatically.

It is probably working after the 1080p ClearKey stream because they ha

[2018-02-05 15:31] sandersaares commented on #2404
The above theory makes sense to me.

As an aside, I note that this content does have a clear key license server URL in the manifest. If dash.js were to ask for the keys from that URL, it would get them. But I believe asking for clear key licenses is not a feature currently implemented in dash.js.

[2018-02-05 19:28] aj-r commented on #2330
Great! I won't be able to look at it today, but maybe Tuesday or Wednesday.

[2018-02-06 08:37] epiclabsDASH commented on #2404
In fact, it is. ClearKey with license server is currently supported by dash.js, at least when providing the license server through dash.js config. I am going to take a look and check why we are not using the license server url of the manifest, when there is one, as we should do.

[2018-02-06 17:48] tony1377 opened #2406 "detecting interupted live stream"
Hi

I think this might be similar to where you mention that it's not possible to detect when a live stream is ended

#2145

If that's the case, in that ticket you mentioned that seeing the manifest after the stream has stopped might provide a way to reliably detect it, so I've added the manifest after interruption manifest at the bottom.

Any ideas what might be the best way to detect stream inter

[2018-02-06 23:10] nweber opened #2407 ""Fast Switching" no longer works when switching tracks"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-02-06 23:26] epiclabsDASH commented on #2407
Duplicated #2239. Stay tuned, fix is coming soon.

[2018-02-06 23:26] #2407 closed

[2018-02-07 06:18] pujari28081984 opened #2408 "Issue with playback of ClearKey content on AOSP 7.1.2 with chrome browser v64.0.3282.2"
While we are trying to play the ClearKey content[https://media.axprod.net/TestVectors/v7-MultiDRM-SingleKey/Manifest_1080p_ClearKey.mpd, https://media.axprod.net/TestVectors/v7-MultiDRM-SingleKey/Manifest_AudioOnly_ClearKey.mpd ] using dash js 2.6.4 player on Android 7.1.1, two sessions are created. On second session it is assigning the key and using the first session it is trying to decrypt the c

[2018-02-07 09:21] MagicJuly opened #2409 "Quality switch when video paused"
Hello. I need a little help with switching quality. The normal way to switch quality is good when video playing

[code]

but when the player is in pause state, it will never finished until oldQuality buffer is consumed or seek to other buffer area.
what I want to do:

[code]

Does it has a correct or better way to see newQuality video immediately?

[2018-02-07 09:56] epiclabsDASH commented on #2409
@MagicJuly, there is no way in dash.js to do immediate quality changes, neither while playing nor in pause state. Dash.js is not clearing its playback buffers when there is a quality change.

The most you can do is reduce buffer levels to reduce the time quality changes take but that could compromise the playback experience (as lower buffer, as much possibilities of suffering rebuffering events)

[2018-02-07 10:55] MagicJuly commented on #2409
Thanks, but buffer clean is a common scene, we always want to change quality as fast as player can, a little buffer in video pausing is acceptable, so I think it's necessary to provide a clean buffer API, hope you can consider that.
I will try to flush MediaSource buffer range to resolve the problem

[2018-02-07 10:55] #2409 closed

[2018-02-07 13:09] epiclabsDASH commented on #2187
Fixed in #2272

[2018-02-07 13:09] #2187 closed

[2018-02-07 16:22] #2239 closed

[2018-02-07 22:30] epiclabsDASH commented on #1952
@tmtoan, it is not enough with removing the segments you won't to be played, you also have to update presentationTimeOffset property accordingly, so it points to the new start time position.

[2018-02-07 22:30] #1952 closed

[2018-02-07 22:36] epiclabsDASH commented on #1798
@hariszukanovic, I don't think that is a requirement although, in general, that's a practice not compatible with most of players. If you want to keep your streams compatible with most of devices/players I recommend you to try to avoid gaps.

Talking specifically about dash.js, it is quite sensitive to audio/video gaps although with the new buffer management procedure we recently put it in place, w

[2018-02-08 05:33] pujari28081984 commented on #2404
Thanks for the information.
Modified the samples\dash-if-reference-player\app\sources.json file and it is working fine.

[2018-02-08 05:33] #2404 closed

[2018-02-08 21:21] aj-r commented on #2330
Works great :)

[2018-02-08 21:21] #2330 closed

[2018-02-09 18:41] epiclabsDASH commented on #2401
I think so, @haozhenxiao. As @sandersaares pointed out, players tend to not play content with gaps so my first recommendation, independently of what dash.js supports, is you to try to fix this gap issue.

Talking specifically about dash.js, we are currently not supporting gaps in the stream (playback gets stalled when there is a gap). Supporting gaps was incompatible with our previous buffer manag

[2018-02-10 00:38] aj-r opened #2415 "Cannot change audio tracks during the first segment"
This is a continuation of the discussion in #2411 - I'm creating a separate issue to make it easier to track, and avoid polluting the comments in a closed PR. @epiclabsDASH

When track switch mode is ALWAYS_REPLACE, and you switch audio tracks during the first segment, no switch occurs. The same issue happens in 2.6.6 and 2.6.5.

I can reproduce this with one of my customer's clips, but unfortunat

[2018-02-12 12:35] epiclabsDASH commented on #2415
@aj-r, could you please try with this version? http://parallel-knife.surge.sh/samples/dash-if-reference-player/index.html

It has some changes in the way requests and buffer are synchronized. I have tested your stream and it worked fine but it would be nice having your feedback.

[2018-02-12 13:30] rabi2017 commented on #2408
Any update please.....

[2018-02-12 14:02] aj-r commented on #2415
@epiclabsDASH unfortunately it still doesn't work. With my original clip, the audio track doesn't change until the second segment starts playing.

The Sintel clip (with broken first segment) works better - the audio track switches, but it becomes out-of-sync with the video.

[2018-02-12 14:03] epiclabsDASH commented on #2415
could you please send me the logs? Thanks!

[2018-02-12 14:28] aj-r commented on #2415
[code]

[2018-02-12 21:03] epiclabsDASH commented on #2415
Weird, looking at the logs seems remove buffer operation didn't have any effect. Just a few part of the buffer was removed. @aj-r, if you have some time I will be in Slack for the next couple of hours.  With a more interactive conversation I am sure we will speed up the resolution of this issue :).

Otherwise, I have prepared a new demo with some extra logs. If you can send to me the results after

[2018-02-12 21:03] aj-r commented on #2415
@epiclabsDASH I was able to fix the first segment of my Sintel clip (I'll give you a link shortly) - switching tracks for the first segment *does work* with that clip (even on http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html). So this could possibly be an issue with the first segment of my other clip, and not with dash.js itself.

[2018-02-12 21:05] epiclabsDASH commented on #2415
Ok, that's inline with my tests here. Anyway, if you can generate the logs with the clip that is not working I will take a look. I am eager to know what could be happening there.

[2018-02-12 21:12] aj-r commented on #2415
Here are the logs from http://skinny-wilderness.surge.sh/samples/dash-if-reference-player/index.html:

[code]

[2018-02-12 21:19] epiclabsDASH commented on #2415
Thanks! It was very useful. The buffer is not removed because, for some reason, MediaSource state is 'ended'. In fact, right before you changing the track there was a wrong detection of the end of the stream. I will try to get an stream in which I can reproduce this issue.

Thanks for all the information

[2018-02-12 21:25] epiclabsDASH commented on #2415
I think I know where is the issue (at least what is related with audio switching). Switching is not working when buffer is completed and the stream sets as ended. I am going to put a fix.

[2018-02-12 21:33] aj-r commented on #2415
Ah, so maybe this is an issue with short clips? The clip I used was only about 30 seconds long.

[2018-02-12 22:13] epiclabsDASH commented on #2415
Yep, I think so.

[2018-02-12 23:03] epiclabsDASH commented on #2408
@rabi2017, could you please provide dash.js logs?

[2018-02-12 23:21] epiclabsDASH commented on #2406
@sandersaares, one question, would it be appropriate to use availabilityEndTime as a way to detect the end of a live stream? Looking at spec it says

I am not sure about the "scope" of this parameter. I mean, if it means Segment Availability end time for the segments referenced in the current mpd (and then we could assume it will be modified as soon as the player update the mpd) or if that paramet

[2018-02-12 23:28] #2177 closed

[2018-02-12 23:39] epiclabsDASH commented on #1971
Closing this issue. We are not more relying on fd / 2 as the threshold for getting right segment idx for a given time. We are using a configurable threshold that you can set using MediaPlayer API.

[2018-02-12 23:39] #1971 closed

[2018-02-13 10:22] bbcrddave commented on #2406
As you have pretty much surmised, the problems with using availabilityEndTime are that a) it is optional and b) it is allowed to change in a dynamic presentation.

It is impossible to know whether the presentation described above had actually ended - it may simply be experiencing a discontinuity at the point it was captured. Even if we decided it had ended by waiting some period of time, the same

[2018-02-13 13:26] sandersaares commented on #2406
I agree with @bbcrddave. Overall, we as a community could do a lot to educate content packagers about how to properly format content. I think a lot of the lack in this area is simply a lack of awareness on how to do it right.

I would view the end of a live stream as the moment in time when no more segments are added to the MPD. This would not necessarily be the same as the availability end time (

[2018-02-13 18:15] epiclabsDASH commented on #1955
Closing this issue. After @robertbryer analysis, I agree with him, there is no reason to change the default behavior.

[2018-02-13 18:15] #1955 closed

[2018-02-13 18:23] epiclabsDASH commented on #1926
@bbert, closing this issue. With the new track switching mechanism we put in place (#2411) I think this issue doesn't make sense anymore.

[2018-02-13 18:23] #1926 closed

[2018-02-13 18:32] epiclabsDASH commented on #1935
@mannou440, the only way of reducing the waiting time for all the requests would be setting a very long buffer size in the player. Anyway, that's not a good practice and will cause memory consumption issues in the browser side (you can not expect, and in fact it isn't, the media buffer of the browser to be size unlimited).

Regarding your questions, startScheduleTimer schedule a call to the functi

[2018-02-13 18:32] #1935 closed

[2018-02-13 18:35] #1925 closed

[2018-02-13 19:00] #1824 closed

[2018-02-14 10:48] hariszukanovic commented on #1757
Anyone, is this interesting case to debug any further?

[2018-02-14 13:00] epiclabsDASH commented on #1757
Seems the issue was already fixed. @halibegic, could you please confirm?

[2018-02-14 14:50] jeffcunat opened #2421 "Error when switching from a webm audio representation in to a mp4 one"
##### Environment

- [x ] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x ] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x ] There are no network errors such as 404s in the browser console when trying to play the stream
- [x ] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x ] The issu

[2018-02-14 15:43] #2415 closed

[2018-02-14 16:31] epiclabsDASH commented on #1474
@TobbeEdgeware, would it be possible adding a new test vector for low latency chunking that has more than one video rendition?

[2018-02-15 00:03] #1469 closed

[2018-02-15 13:42] Gontran-Molotov opened #2424 "Remove useless update*Factory() methods from FactoryMaker"
The FactoryMaker class gives the updateClassFactory() and updateSingletonFactory() methods to update factories in the FactoryMaker registry after they have been enhanced (extra properties added) by some modules (for example, look at the end of  MediaPlayer.js or EventBus.js files).

Calling those methods is useless as the enhanced factories already are the factories referenced in the FactoryMaker

[2018-02-15 14:45] tomraut commented on #2184
@epiclabsDASH have you managed to fix original issue? If so, is there some version of dash.js which I can test fix with using our live streams?

[2018-02-15 16:45] tomraut commented on #2184
@epiclabsDASH I've tested our live streams using dashjs 2.6.6 and it works slightly better now but buffer seems to run empty within 10-15 seconds and playback jams.

[2018-02-15 16:47] boris-petrov commented on #2326
Just a bit more information with `dash.js` `2.6.6`. Still getting an error. I noticed in the logs from the message `Error creating key session! Cannot convert undefined or null to object`. Now, with `2.6.6`, instead of that error, I'm getting a `Error generating key request -- TypeError`. Putting a breakpoint [here](https://github.com/Dash-Industry-Forum/dash.js/blob/v2.6.6/src/streaming/protectio

[2018-02-15 18:18] epiclabsDASH commented on #2184
@tomraut, could you please share here the mpd of your stream and chrome logs after reproducing the issue? I have been working with @mmarciel on this but we couldn't reproduce any issue using any of our test live streams. Given we can't access your stream directly, the much info you can share, the better we will understand what's happening there.

[2018-02-15 18:24] epiclabsDASH commented on #2326
That's weird, we didn't change anything related with DRM in v2.6.6. @boris-petrov, what are the values of dataType and initData before when calling session.generateRequest?

Any possibility you can share an url that we could use for reproducing and debugging this issue?

[2018-02-16 06:16] tomraut commented on #2184
@epiclabsDASH sure thing, here's our mpd:

`<?xml version="1.0" encoding="utf-8"?>

<MPD
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="urn:mpeg:dash:schema:mpd:2011"
  xsi:schemaLocation="urn:mpeg:dash:schema:mpd:2011 http://standards.iso.org/ittf/PubliclyAvailableStandards/MPEG-DASH_schema_files/DASH-MPD.xsd"
  xmlns:cenc="urn:mpeg:cenc:2013"
  xmlns:mas="urn:marlin:mas:1-0:ser

[2018-02-16 11:53] boris-petrov commented on #2326
@epiclabsDASH - thanks for the answer! `dataType` has the value `keyids` and `initData` is an `ArrayBuffer(52)`. Does that help in any way?

About a URL for debugging - that would be hard I guess. I'll think what I can do but please don't count on it. I'm still using the same files from my previous comments (which are generated with the commands I've given).

[2018-02-16 13:03] Josniii commented on #1839
Hi Maxi,
The <challenge> is contained in the body of the POST request that Dash.js makes to your license server by default - but it is not Base64 encoded. So, knowing your license provider, you'll have to modify dash so you can base64 encode the <challenge> and submit as a query param. I worked around this in a different way, where i set up middleware between the actual license server and the play

[2018-02-16 13:16] epiclabsDASH commented on #2184
@tomraut, could you please reproduce the issue here http://mixed-gun.surge.sh/samples/dash-if-reference-player/index.html and share the logs with me?

Thanks

[2018-02-16 13:42] tomraut commented on #2184
@epiclabsDASH how can I set DRM options on that page? When I select correct KeySystem (Widevine) and paste valid license url and click LOAD it still says that Error capability: encryptedmedia.

[2018-02-16 13:44] epiclabsDASH commented on #2184
That would be enough. You should use https version of the url (https://mixed-gun.surge.sh/samples/dash-if-reference-player/index.html)

Otherwise just modify your app to point to this dash version: https://mixed-gun.surge.sh/dist/dash.all.debug.js

[2018-02-16 13:50] tomraut commented on #2184
@epiclabsDASH I've tested now our live with DRM free asset and it works correctly. Here's the log:
[dash-reference-player-debug-log.txt](https://github.com/Dash-Industry-Forum/dash.js/files/1731532/dash-reference-player-debug-log.txt)

Does this differ somehow from dash.js 2.6.6?

[2018-02-16 13:57] tomraut commented on #2184
@epiclabsDASH I also tested locally using DRM protected live asset and loading dash.all.debug.js from the URL you provided me with but there I see that same problem exists still. It won't load MPD file after initial attempt so the buffer runs out. Here's logs:
[dash.js-2.6.7-debug.log.txt](https://github.com/Dash-Industry-Forum/dash.js/files/1731555/dash.js-2.6.7-debug.log.txt)

[2018-02-16 14:04] tomraut commented on #2184
@epiclabsDASH please note that in the logs I've added here, I can see many entries for `Debug.js:127 [8305] Refresh manifest in 1.998 seconds.` in the first run where I used live asset without DRM protection, but none in the last one where I used live asset with DRM.

[2018-02-16 14:07] epiclabsDASH commented on #2184
Thanks for the info, @tomraut. I will get back to you as soon as I have some feedback. Thanks!

[2018-02-16 14:26] tomraut commented on #2184
@epiclabsDASH if you need more testing assistance, just give me new debug version of dash.js and I can run it locally against our DRM protected streams.

[2018-02-16 14:28] epiclabsDASH commented on #2184
@tomraut, I am curious about this part of the log:

`[dashJsOverrides] Manifest modifier in action: Replaced matches for /<UTCTiming[\s\S]*?\/>/gm with   for following user-agents: /.*/.`

Looking at the message seems like there is some code that is removing UTCTiming element of the mpd?

[2018-02-16 14:38] tomraut commented on #2184
@epiclabsDASH yes, that is something we added when we updated our USP servers from 1.7.25 into 1.7.31 and this element started to appear in the manifest files. We couldn't make our streams work correctly using dash.js 2.5.0 at that time because of UTCTiming element. Are you saying that we should try to disable this filter with dash.js 2.6.6 ?

[2018-02-16 14:40] epiclabsDASH commented on #2184
Yes, exactly. Given segment index calculations in dash are timing based we need to have an accurate time reference. I am pretty sure playback will work as soon as you remove that filter.

[2018-02-16 14:56] tomraut commented on #2184
@epiclabsDASH I've disabled removing of UTCTiming element but unfortunately it did not help, at least not with released dash.js 2.6.6. Should I try with 2.6.7 or is there any significant changes included?

[2018-02-16 14:57] epiclabsDASH commented on #2184
No, there are no changes that could affect your tests. Could you please attach the logs after disabled removing UTCTiming element?

[2018-02-16 15:06] #2406 closed

[2018-02-16 15:07] tomraut commented on #2184
@epiclabsDASH sure thing, here's logs with using dashjs 2.6.6 and NOT removing UTCTiming element:
[dashjs-2.6.6-without-removing-UTCTiming.txt](https://github.com/Dash-Industry-Forum/dash.js/files/1731752/dashjs-2.6.6-without-removing-UTCTiming.txt)

[2018-02-16 15:17] epiclabsDASH commented on #2184
Oh, sorry, please, do the same but with this version of dash.js https://mixed-gun.surge.sh/dist/dash.all.debug.js.

By the way, I am in Slack now. If you have time we could speed up the resolution with a more fluent communication channel :)

[2018-02-16 15:19] tomraut commented on #2184
@epiclabsDASH one more thing I noticed while debugging this: if I pause playback right after startup of the stream and then resume it again, mpds starting to load just like with dashjs 2.5.0. So somehow pausing stream and resuming it starts to updating manifest in 2.6.6.

What Slack are you on?

[2018-02-16 15:21] epiclabsDASH commented on #2184
https://dashif-slack.azurewebsites.net/

[2018-02-16 15:39] grukx commented on #2401
We have created a test stream which works well with shaka player (2.3.2) and the bitmovin test player. This is a simulated live stream which in dash-if stops playing as described in the issue description.

[https://abr.appeartv.net/1837/1/dash/smptebars_24hours/manifest.mpd?debugdashtime&debugdashplayerlive](url)

We have made sure there is no gaps/overlaps so that is clearly not the issue here. T

[2018-02-16 17:46] wilaw commented on #2401
Not sure if this is causal, but If that mpd is run through the conformance tool at http://dashif.org/conformance.html it indicates that the UTCTiming element is not in the expected location.

Start MPD validation
====================

Line:Col[15:87]:cvc-complex-type.2.4.a: Invalid content was found starting with element 'UTCTiming'. One of '{"urn:mpeg:dash:schema:mpd:2011":ProgramInformation, "ur

[2018-02-16 21:11] grukx commented on #2401
Re-reading the xsd I see that it uses <xs:sequence> and not <xs:all> so you are quite right, according to the schema the order was wrong. I fixed the placement so that it passes the validation (and fixed the non-functional link in the post).

Re-testing in player shows no difference in observed behaviour.

[2018-02-16 21:37] yogevNisim commented on #1474
What will be the expected latency of this new version?

[2018-02-16 23:19] dpieri opened #2425 "2.6.5 Broke playback for some videos"
This doesn't happen for all videos. It happens for all videos generated by my transcoding process, but not for the [Big Buck Bunny](https://dash.akamaized.net/akamai/bbb_30fps/bbb_30fps.mpd) example.

##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no n

[2018-02-17 09:54] epiclabsDASH commented on #2425
@dpieri, thanks for reporting this. I will send the PR that fix for this soon.

[2018-02-19 12:04] #2425 closed

[2018-02-19 13:59] epiclabsDASH commented on #1474
@yogevNisim, in our tests we got latencies around 2-4 seconds using 8 second segments and 1 second chunks. Our buffer is around 1.5-2 seconds so latency could be reduced a bit more although not too much because it could impact playback experience (rebuffering events).

We are going to send the PR we are working on, which is based on @TobbeEdgeware team one, shortly so anyone can start testing this

[2018-02-19 15:42] loguntsov opened #2428 "Different behaviour for internal or remote mpd file."
I have nginx server with static video files.

this is link to mpd file: http://172.104.249.51/video/Spring_4Ktest.mpd
[code]

This is example of html:
[code]

When i gets this html from same server everything is works.
But when i placed this html file to another server (localhost) and gets it again, Dash.js makes wrong requests for video files:

![1](https://user-images.githubusercontent.com/68741

[2018-02-20 10:06] epiclabsDASH commented on #2428
Right tested and verified there is a CORS issue. You should configure CORS headers in your http server if you plan to consume the streams it serves from other hostnames.

[2018-02-20 10:36] rabi2017 commented on #2408
Hi @epiclabsDASH

We are not able inspect element on Chrome to get the console logs of DASH js.

We are running Chrome on AOSP environment with ClearKey plugin inside AOSP media drm framewok to get the content decrypted from the ClearKey plugin inside AOSP media drm framework.

When we were running the same test on Ubuntu + Chrome with Chrome's internal ClearKey plugin, that time the issue was not

[2018-02-20 10:43] bbcrddave commented on #2408
Does the standard Chrome remote debug not work on AOSP? https://developers.google.com/web/tools/chrome-devtools/remote-debugging/

[2018-02-20 10:50] rabi2017 commented on #2408
@bbcrddave  I will try that out and let you know.

[2018-02-20 15:45] note89 opened #2429 "Typings are not up to date"
## Not implemented but in types
*setXHRWithCredentials*
https://github.com/Dash-Industry-Forum/dash.js/blob/development/index.d.ts#L174

https://github.com/Dash-Industry-Forum/dash.js/search?utf8=%E2%9C%93&q=setXHRWithCredentials&type=

## implemented but missing in types.
http://cdn.dashjs.org/latest/jsdoc/module-MediaPlayer.html#enableText__anchor
      player.enableText(boolean);

http://cdn.da

[2018-02-20 23:31] wilaw commented on #2402
The Symantec cert attached to time.akamai.com has now been updated by Akamai to one that is compliant with Chrome M70. Please verify from your end (I just tested here and cert was deployed worldwide 3 hrs ago) and then we can close this issue as resolved.

[2018-02-21 08:11] #2402 closed

[2018-02-21 09:06] nicosang commented on #2429
Hi @note89 ,

I agree with you about setXHRWithCredentials and enableText, but according to me setTextDefaultLanguage and setTextDefaultEnabled are defined in index.d.ts.....

Nico

[2018-02-21 14:01] #2429 closed

[2018-02-21 14:02] epiclabsDASH commented on #2428
Closing issue. @loguntsov, please feel free to re-open this in case you still find issues after fixing CORS problem.

[2018-02-21 14:02] #2428 closed

[2018-02-21 14:59] epiclabsDASH commented on #2326
@boris-petrov, could you please at least share the mpd of the stream with me? I am in [Slack](https://dashif-slack.azurewebsites.net/) if you prefer to share it privately.

[2018-02-21 15:03] boris-petrov commented on #2326
@epiclabsDASH - I'm not sure I understand. I uploaded the MPD and the audio/video streams in a previous comment of mine (the one that starts with `@epiclabsDASH - OK, actually I did it now. :)`). Did you miss that or am I misunderstanding something?

[2018-02-21 15:06] epiclabsDASH commented on #2326
Oh, sorry, my fault

[2018-02-21 15:19] note89 commented on #2429
Ok, i must have some old version then. cool tnx!

[2018-02-21 15:20] epiclabsDASH commented on #2429
@note89, sorry for my lack of verbosity. I am closing this issue not because you were not right, just because what you reported has been fixed in PR #2430 (merged today)

[2018-02-21 17:37] gibbsonn opened #2431 "ERROR and PLAYBACK_ERROR scenarios question"
Hi, quick q, when using the ERROR and PLAYBACK_ERROR events is there ever a scenario where both events are fired for the same error or for diff errors but shortly after each other?

[2018-02-21 18:09] gwevans opened #2432 "Question: Is it possible to have a live stream with each chunk as a different URL?"
This is more of a general question as opposed to a dashjs question, but I've been tasked with investigating this issue.

Is it possible to have a live stream where each 'chunk' of the video is a different URL? Instead of one HTTP request in a stream of chunks, it is essentially a bunch of different short videos fused together.

It doesn't seem possible to me without unmounting and remounting the v

[2018-02-21 18:34] wilaw commented on #2432
It is conceivably possible. Segmented media playback is nothing but a succession of URLS pointing at media segments. These could all point at different hosts if you like. The only issues you would need to overcome would be

- connection re-use - it is usually more efficient to reuse the same TCP connection and switching hosts for each segment would force a new connection to be established. You cou