[2019-07-04 07:14] bbert commented on #3016
I tested your stream on Edge with dash.js v3.0.0 (https://reference.dashif.org/dash.js/v3.0.0/samples/dash-if-reference-player/index.html) and it works.

[2019-07-04 07:24] Sungjoong-Bae commented on #3016
Thanks for reply. I didn't know there is way to compare for Playready DRM.
I checked it works on Edge too.

[2019-07-04 07:25] #3016 closed

[2019-07-04 11:51] epiclabsDASH commented on #2940
Not really, it is related with the index of the current level as it is retrieved by the reference player, when playing multiperiod streams.

[2019-07-04 13:08] epiclabsDASH commented on #2940
I am sending a PR in the next few hours fixing this + extra improvements.

[2019-07-04 13:13] epiclabsDASH commented on #1803
Hi @sergiyshutov, sorry for the late response. I am taking a look to this, as part of the fix for requests module I am working on. I plan to release a minor version by mid this month with these fixes.

[2019-07-04 13:16] epiclabsDASH commented on #3017
@pushkardk, I don't see any reference to TextDecoder in dash.js. I am taking care of the TextEncoder one so that part works with both IE and Edge.

[2019-07-04 18:41] pushkardk commented on #3017
Thank you @epiclabsDASH

[2019-07-05 11:52] bharath-exads opened #3018 "debug().setLogToBrowserConsole(false) is not working"
##### Steps to reproduce
var dashPlayer = dashjs.MediaPlayer().create();
dashPlayer.getDebug().setLogToBrowserConsole(false);

##### Observed behaviour
In players built using latest dash js 'https://cdn.dashjs.org/latest/dash.mediaplayer.min.js'

##### Console output
Uncaught TypeError: t.getDebug(...).setLogToBrowserConsole is not a function
    at Object.initialiseDash (fluidplayer.min.js:1)

Li

[2019-07-05 12:15] epiclabsDASH commented on #3018
@bharath-exads, we deprecated setLogToBrowserConsole in dash.js v2.9.1 and has been finally removed in dash.js v3.0.0.

To do the same you should do:
[code]

[2019-07-05 12:15] #3018 closed

[2019-07-05 14:50] #3013 closed

[2019-07-05 14:51] epiclabsDASH commented on #3012
Fixed in v3.01. I will shortly send the PR that fix this + other stuff.

[2019-07-05 14:53] epiclabsDASH commented on #2940
@PolynomialDivision, already fixed in the PR I am preparing for v3.0.1. Still not published because I am including on it other fixes related with timing. I will let you know once finished.

No later than early next week so it is ready for the code freeze for v3.0.1.

[2019-07-05 23:08] jimmymic commented on #3012
Awesome thank you. Will do some testing of it.

[2019-07-08 13:22] epiclabsDASH commented on #3012
@jimmymic, while we finish the PR with the modifications, you can start testing it with your asset here: http://dashjs-test.surge.sh/samples/dash-if-reference-player/index.html

[2019-07-08 15:22] galileogalilei opened #3019 "Dash.js v3.0 player freezes when trying to seek to the last available timecode positions"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-07-08 16:04] epiclabsDASH commented on #3019
@galileogalilei, one question before start taking a look. Did you get to reproduce this issue with any of our test streams? Thanks!

[2019-07-09 07:55] galileogalilei commented on #3019
Thank you for your prompt reply!

Yes, managed to reproduce it also with the default test stream: https://dash.akamaized.net/akamai/bbb_30fps/bbb_30fps.mpd

The steps to reproduce were pretty much the same:
- load manifest with default settings, video start paying, pause the video then seek at different positions, to the end and then back to the beginning of the video and then seek(programatically

[2019-07-09 09:19] TobbeEdgeware opened #3020 "dash.js 3.0.0 cannot play livesim subtitles after language change"
When switching subtitle language in the stream

https://livesim.dashif.org/livesim/testpic_2s/multi_subs.mpd

(included among the subtitle sources in the reference player) the reference player
3.0.0 starts fetching segment `0.m4s` instead of the live segment `781331269.m4s`.

The error is reported in an alert box

    https://livesim.dashif.org/livesim/testpic_2s/sub_ttml_swe/0.m4s is not availabl

[2019-07-09 09:25] nicosang commented on #3020
Hi @TobbeEdgeware ,

did you test with the development branch?

Nico

[2019-07-09 11:08] sinjuice opened #3021 "Update video duration on manifest update"
I have a question about updating the duration of the video if possible.

What I'm trying to do is to create a "dynamic" VOD playlist that will contain 1 period at first and after a manifest update a second period will be added at the end. It works fine and the player plays both periods, but it does not update the video duration until it gets to the second period. Is there any way to manually updat

[2019-07-09 11:50] epiclabsDASH commented on #3019
Thanks for the detailed feedback. I am going to test it in the new version I am preparing, dash.js v3.0.1. It has some timing related improvements and includes a new mechanism to auto-recover from playback stall situations. Plan is to freeze this new version this week so it will be released by Wednesday next week. I will let you know once I have a version that you can start testing with.

[2019-07-09 15:25] budziq commented on #3010
Hi @epiclabsDASH

I have tested today with http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html (commit https://github.com/Dash-Industry-Forum/dash.js/commit/fd2c359d14e0a3c9fd74d70ddff2669b62e016c8) on https://dash.akamaized.net/akamai/bbb_30fps/bbb_30fps.mpd and it seams harder to reproduce (probably 2x as many seek events required) than the previous nightly bu

[2019-07-09 23:58] japettyjohn opened #3022 "Define order of AdaptationSet preference"
I am working with three rendition sets in my MPD to maximize platform support. They are h.264, h.265 and VP9. The logic assumes the highest bitrate amongst the AdaptationSets is the best option, but due to h.264 being less efficient than the others it is chosen erroneously. Pretty much as described by [BitMovin](https://bitmovin.com/higher-quality-lower-bandwidth-multi-codec-streaming/).

I've als

[2019-07-10 07:04] japettyjohn commented on #3022
So this issue appears to be addressed different ways depending on the project. [Shaka](https://github.com/google/shaka-player/issues/476) for example took some basic logic choices to go with the lower average bitrate for the same set of resolutions - which from my testing is a better method than the current mode.

If the current behavior is depended on then another option is implementing the [sele

[2019-07-10 13:07] o-hreshchuk opened #3023 "Uncaught TypeError: p.setIndexHandlerTime is not a function"
Hi guys,
I'm trying to switch to the latest version of dash.js (3.0.0) and I get
`Uncaught TypeError: p.setIndexHandlerTime is not a function`.
I spent some time on solving this and figured out that it throws here:

[code]

this line -  `adapter.setIndexHandlerTime(p, startTime);`
I try to find all `setIndexHandlerTime(` with 2 parameters but only found in the previous version (2.9.1).

if I conso

[2019-07-10 15:08] o-hreshchuk commented on #3023
Closes as https://github.com/Dash-Industry-Forum/dash.js/pull/3024 solves the issue. Thanks to @nicosang for the help 👍

[2019-07-10 15:08] #3023 closed

[2019-07-10 16:45] michaelszutu opened #3025 "Playready missing checksum"
I'm currently using the latest version of dash js and, passing the token to the cdmData but, I'm getting a 500 error on the license server and, we notice that the checksum isn't being pass along in the SOAP.

[2019-07-11 13:17] JorisHerbots opened #3026 "SAND (ISO 23009-5) support?"
Hi all

I'm currently working on a project which involves SAND and I'm looking to implement a proof of concept DANE which acts as a supporting element in the streaming process of VOD content. I've looked around and found "some" proof that at one point there was active development/research into SAND (https://github.com/Dash-Industry-Forum/dash.js/issues/1707) but have not found anything else so far

[2019-07-11 15:27] epiclabsDASH commented on #3022
Hi @japettyjohn. Thanks for the feedback.

There are different ways in dash.js to affect somehow to the initial adaptationset (track, as it called internally in dash.js source code). Let me explain a bit of all of then:

- You can use Viewpoints to force dash.js to go for a specific adaptationSet. You can get some details about how to do this here #2045. The inconvenient is you need to previously

[2019-07-11 15:42] Bp3289 opened #3027 "getAutoSwitchQualityFor is not a function"
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs in the latest refer

[2019-07-11 16:16] nicosang commented on #3027
Hi @Bp3289 ,

this function has been removed in the v3.0.0. You have to use instead `player.getSettings();`

with a returned object as this one :

`... streaming: { abandonLoadTimeout: 10000 abr: { ABRStrategy: "abrDynamic" autoSwitchBitrate: { audio: true video: true } ....`
then, if you want to change the value, please, for video for instance, use those lines :

`player.updateSettings({

[2019-07-11 16:16] #3027 closed

[2019-07-11 16:41] Bp3289 commented on #3027
Thank you @nicosang! It works like a charm!

[2019-07-11 17:14] japettyjohn commented on #3022
Thanks @epiclabsDASH for the data on that.

I'm providing webm/VP9 and fMP4/h.265 for any clients which can support it, then an h.264 fallback. But h.264 is taken as the default as it has a higher bitrate due to the lower quality of encoding. Each adaptation set has the same number of of renditions (6 in my case), so one doesn't have a wider range over the other. In this scenario a lowest bitrate

[2019-07-15 06:31] vladimir-kazakov commented on #3025
Are you talking about the `CHECKSUM` XML-element or attribute in the PlayReady header (`WRMHEADER`)? Why do you think that its absence is the reason of the error? I'm asking, because according to the [specification](https://docs.microsoft.com/en-us/playready/specifications/playready-header-specification), this element or attribute is optional since a long time ago.

You mentioned that your license

[2019-07-15 07:57] BucherTomas commented on #3022
We have similar scenario where we also use HEVC and VP9, but have another issue that might be worth looking into.

We provide streams with both these codecs in their own AdaptationSets to a TV set that claims support for both of these codecs. Both HEVC and VP9 have the same bitrate so selection according to that won't help. If both codecs are supported, dash.js then picks the first AdaptationSet u

[2019-07-15 08:11] Robloche opened #3029 "[Dash.js 3.0.0] Error creating source buffer of type : audio"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-07-15 09:20] sandersaares commented on #3022
A general principle of "default order from MPD + override by app callback" might be useful here. Plus some logic to handle "when to fallback VS when to fail". If a good and universal workflow is worked out on this topic for dash.js, I imagine this would also be a valuable contribution to DASH-IF interoperability guidelines, to promote other players to follow suit.

[2019-07-15 12:29] bbert commented on #3025
I guess you are using Edge browser?
In dash.js unprefixed EME API version is used on Edge (see issue #2478).
Therefore custom data can't be passed to the CDM and then inserted in the challenge.
The recommendation now is to provided custom data to the licenser as a query string parameter of the license request URL.

[2019-07-16 11:58] squapp commented on #3026
check this: https://www.fokus.fraunhofer.de/go/sand
There is a SANDLibrary for download, which is compatible with dash.js - haven't checked if it's compatible with the latest version

[2019-07-16 18:13] Sorqan commented on #3022
@BucherTomas This is what I was thinking, something like choosing the default codec and then obviously what it optimum for bandwidth within that codec, if that codec isn't supported, switch to the next priority and of course we don't want inter-codec switching to occur between segments.

My use is an MPD that has H264, H265 and VP9, I would want H265 to play on iOS, VP9 to play on Android, and old

[2019-07-17 07:46] JorisHerbots commented on #3026
Very interesting find! Thank you. Their use case seems to support only a small subset of the specification aimed specifically towards resource allocation. Their license agreement also states that the software is for "internal evaluation purposes only".

[2019-07-17 13:21] zoran1996 opened #3031 "How to spcify initial biterate of ABR?"
I've designed an ABR algorithm and I found the initial bitrate was lamost random.There was an option in dash-if-reference-player called ‘initial bitrate video’ and I entered some values(in kbps) but it seems like it did not work ,maybe I entered the wrong form ,how should I do then?

[2019-07-17 18:06] japettyjohn opened #3032 "Audio AdaptationSet preference based on AudioChannelConfiguration"
When playing file with multiple audio AdaptatioSets with different AudioChannelConfiguration to support stereo and surround dashjs appears to choose surround on computers with two speakers as long as the surround codec is support. As it's AAC stereo and E-AC-3 surround this only happens on browsers that support E-AC-3 (e.g. Safari). I'm using dash.js 3.0 using videojs 7.5.5.

This is similar to wh

[2019-07-18 02:27] japettyjohn commented on #3032
I made a [sample](https://stackoverflow.blog/2019/07/16/google-looker-salesforce-tableau-bi-open-source-alternatives/?cb=1) which shows this happening using a short clip from Tears of Steel.

[2019-07-18 02:29] japettyjohn commented on #3022
This is a [sample](http://pub-vid-test-342592.s3-website-us-east-1.amazonaws.com/tears-of-steel-sample/) of what I'm talking about, it takes the h264 in preference of h265 or VP9.

[2019-07-19 05:38] zoran1996 opened #3033 "How to record thoes metrics during the video session？"
I have add some log in my own abr algorithm but it seems like not always accurately，are there any
methed I can use to record thoes datas （bitrate etc）

[2019-07-22 17:53] tdaines commented on #2293
Any update on this issue?  Is it planned for a future release?

[2019-07-23 13:59] robertbryer opened #3034 "Should #t MPD Anchors on dynamic manifests not be modified by the availabilityStartTime?"
##### Steps to reproduce
Get a unix epoch from within the last 5 minutes and use it as the #t= anchor in this link:
http://reference.dashif.org/dash.js/v2.9.3/samples/dash-if-reference-player/index.html?url=http://smp-scratch.tools.bbc.co.uk/bob/samples/livesim-1-minute-availability.mpd#t=1563886800s

And then load the stream.

This is a modified version of the livesim MPD to change the availabili

[2019-07-24 02:40] timur-gilauri opened #3035 "Additional events"
It would be great to add several events that will give more controll for own implementation. Here are events that I think better to be in:

- INITIALIZED
- SOURCE_SET / SOURCE_ATTACHED
- VIEW_ATTACHED

In my project some actions need to be done after each of these events happend. It would be goog to just add listener for them.

[2019-07-24 08:25] maelboutin commented on #2946
Hi there,

@epiclabsDASH Thanks for working on this, that is really appreciated.

We will test it in our lab and come back to you.

[2019-07-25 07:40] Maciejszuchta opened #3036 "Why my player is behind life stream"
##### Environment

- [link doesn't work] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] T

[2019-07-26 01:57] timur-gilauri opened #3037 "Make reset method fully deinitialize player."
**Reset** method do not fully reset player. It only detach view and source and reset, destroy Protection and Metrics controllers and reset settings.

And here's comes out a problem: we need to update settings and attach source and view again next time. Another words we have to do almost everything again. But it can't be done by calling **initialize** method, because player already initialized and

[2019-07-29 12:26] VasylS opened #3038 "Failed to play multi-bitrate low-latency stream if liveDelay isn't specified in config"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-07-29 12:29] VasylS commented on #3038
The issue is caused by incorrect calculation of stable buffer if liveDelay isn't specified in the config.
https://github.com/Dash-Industry-Forum/dash.js/blob/development/src/streaming/models/MediaPlayerModel.js#L121
Works if the stream is selected with UI because liveDelay is set explicitly in that case
https://github.com/Dash-Industry-Forum/dash.js/blob/fb5e90fe566a2da544a65ceb8f5ce3ff528da2b0/sa

[2019-07-29 12:36] VasylS commented on #3038
Fixed with https://github.com/Dash-Industry-Forum/dash.js/pull/3039

[2019-07-29 14:38] fvalleeHbbTV commented on #3036
@Maciejszuchta That may be a stupid question, but are you sure the time (clock) of your server is correct ?  IMHO that could explain the behavior.

[2019-07-29 14:38] ChrisMash commented on #2589
@uafgin any update on a fix or more details on the workaround you were trying?

[2019-07-29 18:11] uafgin commented on #2589
@ChrisMash yeah i think i'm almost fully understand the issue.
the problem is not the clock sync, the clock sync is used to update the segment time line by the manifest so its not the problem,
the main problem is in the dynamic manifests(live streams), the stream uses BLOB of MediaStream object that gets duration and sourcebuffer, once you flush it and remove all the buffer(seeking does that) the

[2019-07-30 08:56] ChrisMash commented on #2589
@uafgin thanks for the quick response! Very helpful information. Are you able to share any of your code changes you've made? A 1 minute black screen doesn't sound particularly useable.. but maybe your work will help me find a suitable workaround.

[2019-07-30 09:28] jakubfrydrych opened #3040 "Missing value audioChannelConfiguration"
Hi, I am solving a problem where some sources that have multiple audio tracks do not contain the number of audio channels in MediaInfo.audioChannelConfiguration[]. The difference is probably the immersion of an element containing information about the number of channels in the manifest. Alternatively, is there any other place to obtain this information?

The behavior can be reproduced in the dashj

[2019-07-31 14:32] jedi4ever commented on #2995
wonder if the code/fork itself is somewhere available ?

[2019-08-01 06:22] #3035 closed

[2019-08-01 06:27] timur-gilauri commented on #1820
As I see from chrome dev tools, fragments downloading is definitely slowing down on inactive tab.

[2019-08-02 13:23] sandersaares commented on #3034
MPD anchors of the form `t=1234s` are an offset from the start of the first period.

[2019-08-03 04:55] thislooksfun opened #3041 "Setting source type causes "The object is in an invalid state" in Safari 12"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [ ] The issue occurs

[2019-08-05 12:40] tomraut opened #3042 "Playback freezes to first frame if user seeks to the very beginning of the timeline"
##### Environment

- [X] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occurs

[2019-08-06 15:14] nicosang commented on #3031
Hi @zoran1996 ,

for instance, if I select the default stream in the sample page and I set 800 for the initial video bitrate, dash.js will select the third video bitrate with value is 759798 in the array below :

0: BitrateInfo {mediaType: "video", bitrate: 254320, width: 320, height: 180, scanType: "progressive", …}
1: BitrateInfo {mediaType: "video", bitrate: 507246, width: 320, height: 180, sca

[2019-08-06 15:36] nicosang commented on #3029
Hi @Robloche ,

can you, please, provide a not protected content in order to test easier?

Thanks,
Nico

[2019-08-06 15:46] nicosang commented on #3033
Hi @zoran1996 ,

can you, please, explain what you expect to do?

Nico

[2019-08-06 15:51] zoran1996 commented on #3031
Hi Nico
  Yes , I have the same behavior when I set value to 800.However,when I set to 300,it should select the first one,but it select a much higher bitrate (No.9).
 Zoran

[2019-08-06 15:54] zoran1996 commented on #3033
Hi Nico
 For example , I want to record every segment's bitrate and the number of switch events.
Zoran

[2019-08-06 16:00] nicosang commented on #3031
sorry, but if I set 300, I can see in RepresentationController::updateData that the quality is equal to 0 after the call to
`bitrate = averageThroughput || abrController.getInitialBitrateFor(type, streamInfo);
quality = abrController.getQualityForBitrate(streamProcessor.getMediaInfo(), bitrate);`

It's not the case on your side?

Nico

[2019-08-06 16:33] zoran1996 commented on #3031
I used to check the bitrate that dash.js selected by viewing the borry, but if I set 300, I can see in RepresentationController::updateData that the quality is equal to 0 after the call to

I used to check the bitrate that dash.js selected by viewing the browser‘s console log and there are tags like [AbrController] [video] switch from 0 to 9/9 (buffer: 4) ，and I would record thoes logs as the perf

[2019-08-06 18:06] lkhgvsuren opened #3043 "SegmentURLs with query parameters gives an invalid mpd file"
I want to upload segments to firebase storage which adds query parameters on downloadUrl (e.g. "https://firebasestorage.googleapis.com/v0/b/angar-fashion.appspot.com/o/mpeg-dash%2Finit-stream0.m4s?alt=media&token=c933794a-1240-4275-8fa0-9db6aa27b93c"). And I just put these urls into SegmentURL. But this gives me an invalid mpd file. Could you tell me why and how to resolve, please?
[code]

[2019-08-07 12:41] nicosang commented on #3031
when I set 300 to initial value, dash.js starts at quality 0 for the first video segment and then for the next segments, according to different parameters (ex : bandwidth) dash.js can request quality 9....

[2019-08-07 13:35] davemevans commented on #3043
The XML is invalid. The problem is that XML requires control characters such as the `&` in your URLs to be escaped.

Replacing the `&` with either `%26` or `&amp;` will do the trick.

[2019-08-07 13:36] nicosang commented on #3037
Hi @timur-gilauri ,

why don't you use resetSettings instead of reset function? Settings that you have to update are those returned by getSettings function, aren't they?

Nico

[2019-08-08 01:25] zoran1996 commented on #3031
OK,I got it.Thank you very much

[2019-08-08 07:53] #3031 closed

[2019-08-08 13:25] nicosang commented on #3042
The problem is that there is no Audio data from 0 to 2.005333. At the beginning, dash.js detects that the common time for both Audio and Video is 2.005333. The user interface can't disabled the seek between 0 and 2.005333 seconds...

[2019-08-09 14:49] nicosang commented on #3041
Hi @thislooksfun,

you don't need to set the source attribute of the video element. Put, directly, url in the initialize function....

Nico

[2019-08-09 14:56] thislooksfun commented on #3041
@nicosang yes I'm aware of several ways around this issue, however it is still unexpected behavior and thus deserves a bug report.

[2019-08-09 15:10] nicosang commented on #3041
maybe, but is it a dash.js issue? I'm not sure....

[2019-08-09 15:18] thislooksfun commented on #3041
All I know is that when setting the type to `application/dash+xml`, Dash.js starts emitting errors. I don't know enough about the inner workings of Dash.js to debug it further, so I opened an issue here. It's certainly possible that this is not a Dash.js issue, but I would not be the one to tell that.

[2019-08-09 21:57] Shiroh1ge opened #3046 "'required tag not found' on 30+min videos"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-08-09 22:53] #3038 closed

[2019-08-12 15:15] jeffcunat opened #3048 "Wrong capping of live delay for Live streaming"
It seems that the capping calculation for the live delay can be far less than expected.

Let's say you set `player.updateSettings({ 'streaming': { 'liveDelay': 16 }})`

Let's say you have a 30s DVR Window size, it is divided by 2 in
https://github.com/Dash-Industry-Forum/dash.js/blob/9291d30ca8a85bfa7ce934dc9e6cc905c46bafea/src/streaming/controllers/ScheduleController.js#L410

passed to computeLiv

[2019-08-13 02:37] zoran1996 opened #3049 "How to change the logic of the segment request"
What should I do if I want to set a different logic of segment request？For example,on usual ,next segment will always be requested at the end of  transmission of last segment. Now I want to change that logic for example request next segment at anytime I want . Looking forward to reply，thanks.

[2019-08-14 07:58] danielkhan91 commented on #3019
Are there going to be any fix for this in dash.js v3.0.1? I have tested all released versions and saw that this is not reproducible in dash.js v2.5.0, but somehow broke in dash.js v2.6.0 and every version after.

[2019-08-14 08:57] epiclabsDASH commented on #3019
Yes, it will. I am closing the branch with the latest changes of 3.0.1. Stay tuned

[2019-08-14 11:55] danielkhan91 commented on #3019
Note: This is still not working for the nightly build either. Tested with /*! v3.0.0-9291d30, 2019-08-09T22:54:48Z */

[2019-08-16 07:48] #3040 closed

[2019-08-16 07:49] #3048 closed

[2019-08-16 09:05] #3043 closed

[2019-08-18 22:55] #1717 closed

[2019-08-19 09:35] nicosang commented on #3042
@epiclabsDASH, I think we can close this issue....

[2019-08-20 10:15] mraavi commented on #2802
We have seen similar issue

We are observing a performence / memory issues with Dash.
1. We are trying to use Dashif player 3.0.0 in a Hosted web app targetted for xbox (with uses Edge 18.x).
2. Playback is working fine, have not seen any issues.
3. But while plauback, we have observed that, gradully application slows down, at one point (after 4 to 5 hrs) it is barly usable (Navigation in side the

[2019-08-20 14:44] slingninza commented on #2802
This is more related to Xbox firmware issue. They keep caching media segments which is causing memory increase. GC is not performant in Xbox1.

XBOX allocates only 1 GB for video streaming.
Setting buffer level and buffer purge interval can little  help to reduce memory.
Other option is to  restart app which can run GC forcefully .

[2019-08-20 16:16] robertbryer opened #3054 "Memory leak with dynamic manifests on Dash v3.0.0"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-08-21 01:52] timur-gilauri opened #3055 "Player stop download segments if MediaPresentationDuration attribute is presented."
##### Environment

- [ ] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-08-21 10:02] sinjuice opened #3056 "Browser tab freezes, cpu at 100% on Dash v3.0.0"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-08-22 03:42] mraavi commented on #3054
Hi Rob,
I would like to share you some more observations from our side.

After 2hr of using the dash player
- Application Memory usage almost maxed out.
- Device CPU usage reached 100%.
- Application CPU usage still under 80%.
- GC takes considerable amount of CPU processing. It looks like because of Memory raise, GC is more aggressive in trying to free up memory and consuming considerable amount

[2019-08-22 08:45] nicosang commented on #3046
Hi @Shiroh1ge ,

I did some tests. Indeed, I see that some requests from the cache of the browser have in their response an array buffer of the expected size but the content is empty.....
_The videos play properly on players that don't use this dash.js plugin_ => you're right, in the shaka player demo page, we can play the stream but an EBML_OVERFLOW error is returned.
So, I think that the dash.js

[2019-08-23 02:00] timur-gilauri commented on #3037
Yes, thank you, the problem can be solved by right integration architecture.

[2019-08-23 02:00] #3037 closed

[2019-08-23 07:46] nicosang commented on #3055
Hi @timur-gilauri ,

First of all, your issue can be, according to me, reproduced  with the stream [https://livesim.dashif.org/livesim/modulo_10/testpic_2s/Manifest.mpd](https://livesim.dashif.org/livesim/modulo_10/testpic_2s/Manifest.mpd) in the reference page.

It's a regression : this stream can be played in 2.9.3.

I think the problem is in the DashHandler file, more precisely in the getNextSe

[2019-08-23 15:39] nicosang commented on #3046
Hi,

After other tests, sometime, shaka player is also not able to play the stream with the same error explained above. So, rejecting adaptation is not the solution because we are not sure that at least one adaptation will be available. :-(

It's probably an issue about cache in Chrome browser when file size is quite big (beyond 30 min in your case).

Nico

[2019-08-23 23:40] Shiroh1ge commented on #3046
Thank you for taking the time to test our peculiar problem. I feel like every time I start testing, I get different results than the last time :D .
You are correct, I can't replicate the issue on Firefox and I also get the  EBML_OVERFLOW error in shaka, even though the video seems to be playing fine. I didn't notice the EBML_OVERFLOW before, it seems to only show on the first and longest 30m36s vi

[2019-08-26 01:58] michaelszutu commented on #3025
Issue was related to STB would convert the payload into a arraybuffer instead of raw XML output to the playready server. Found a workaround to fix this.

[2019-08-26 01:58] #3025 closed

[2019-08-26 02:02] michaelszutu opened #3059 "Dash JS + MSS + CEA608?"
- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occurs in the latest refer

[2019-08-26 09:56] nicosang commented on #3059
Hi @michaelszutu ,

could you, please, provide a sample stream in order to do some tests?
For dash sample streams, cea608 captions are signaled in Accessibility tag....

Nico

[2019-08-27 14:45] nicosang commented on #3021
Hi @sinjuice ,

could you, please, provide a stream in order to do some tests?
In the demo page, static streams with multi period have a mediaPresentationDuration that contains the duration of all the periods. Do you change this value when you update the manifest?

Nico

[2019-08-27 15:20] nicosang commented on #3012
Hi @epiclabsDASH and @jimmymic ,

I close this issue because it's the same than #3056. I provided the PR #3057 in order to fix it.

[2019-08-27 15:20] #3012 closed

[2019-08-27 15:31] #3056 closed

[2019-08-28 08:27] Robloche commented on #3029
Thanks for your answer.
We currently have no unprotected content but I'll try to get one...

[2019-08-28 09:25] #2966 closed

[2019-08-29 07:58] nicosang commented on #3059
@michaelszutu , first of all, in order to answer your question, there is no function to inform the player that cea608 subtitles are present.
Then, I'm not sure to well understand your second message. You try to replace your smooth manifest by the same in dash and you have an issue to read the stream until the end : am I right? In this use case are you able to read cea608 subtitles? Could you pleas

[2019-08-29 21:39] #3059 closed

[2019-08-29 21:44] michaelszutu opened #3061 "DVR + LIVE seeking to current time"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occurs

[2019-09-02 08:17] Robloche commented on #3061
From what I understand, in order to go back to live point, you just need to seek to `now`.

[2019-09-02 10:07] fabienvallee opened #3062 "Exception when parsing Event with scte35:Binary content"
##### Environment

- [X] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occurs

[2019-09-03 13:05] jeffcunat commented on #3062
It should be OK with PR #3064

[2019-09-03 14:08] fabienvallee commented on #3062
I confirm it's working (no exception, playback OK) with PR #3064 . Thanks!

[2019-09-03 14:53] jeffcunat commented on #3062
Glad to hear that it is OK for you

[2019-09-03 15:24] #3062 closed

[2019-09-03 16:30] robertbryer commented on #3054
Resolved in #3060

[2019-09-03 16:30] #3054 closed

[2019-09-08 12:04] #3061 closed

[2019-09-08 12:06] michaelszutu opened #3066 "Latest changes in MSS plugin causing DRM to fail"
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs in the latest reference client on http://reference.dashif.org/dash.js/ and not just on my page
* Link t

[2019-09-09 07:20] bbert commented on #3066
I tried SuperSpeedway sample on current dev branch with Edge browser, and I do see the license request, and playback is OK.

[2019-09-09 13:45] michaelszutu commented on #3066
What i'm currently doing is passing a token via requestheader
"Authorization": "bearer "+ opts.token and seems to never tigger the license request.

[2019-09-10 07:18] bbert commented on #3066
Sorry but it is required you give more details on test conditions and steps to reproduce.
Which browser? Which version? Does it works with a previous version ? ...

[2019-09-10 09:00] dimitry-unified-streaming opened #3067 "Feature request: SegmentTimeline support for tiled thumbnails"
Currently, the tiled thumbnails implementation in dash.js supports the following XML elements for specifying the segments (i.e. tiled thumbnail pictures) to be retrieved:
* `SegmentBase`, where it reads the necessary information from an MP4 initialization segment. (This was added by @tecteun in pull request #2784, some time ago.)
* `SegmentTemplate`, with a `media` attribute having `$Number$` iden

[2019-09-10 15:40] gzlock opened #3068 "dashjs@3.0.0/build/typings/index.d.ts have 3 errors about "which lacks return-type annotation, implicitly has an 'any' return type""
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-09-11 14:42] dimitry-unified-streaming commented on #3067
Here is a sample stream, with dynamically generated MPD:
https://live.unified-streaming.com/tiled-thumbnails/tears-of-steel-tiled-thumbnails.ism/.mpd

[2019-09-11 22:05] #3068 closed

[2019-09-12 11:16] munnie opened #3071 "Chromecast receiver example code update"
The example code for Chromecast receiver app doesn't work anymore because it' using old receiver API 1.0
Does anyone have updated code using the lastest API (CAF Receiver API)? Thanks!

[2019-09-12 12:45] ggnull35 opened #3072 "DRM Mixed Segment with Encrypted and Unencrypted Chunks Example"
Hi Everyone,

I am looking for a mpd archieve with has encrypted and unencrypted chunks on same stream, such like in below issues:

https://github.com/google/shaka-player/issues/775
https://github.com/Dash-Industry-Forum/dash.js/issues/1615

In other saying:
A content having first few segments encrypted followed by few unencrypted segments followed by encrypted segments.

Can anyone help ?

Thank

[2019-09-12 21:59] tm-design opened #3073 "HLS multi audio files VOD"
##### Environment

- X The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- X The stream has correct Access-Control-Allow-Origin headers (CORS)
- X There are no network errors such as 404s in the browser console when trying to play the stream
- X The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs in the l

[2019-09-13 09:49] nicosang commented on #3073
Hi @tm-design ,

I'm not sure to well understand your issue. the dash.js player doesn't support hls streams, only dash one and mss (if you add the specific package)....

If you want to play hls stream on safari/iOs, you have to use directly the api of html5 video element....

Nico

[2019-09-13 15:39] forumrulez opened #3075 "Jerks on Dash Live"
Hello, I will immediately describe the essence of the question:
There is an application for Android on Cordova (in short WebView) and there is a link to Instagram Live (dash) of this type:

And there is HTML + JS code

[code]

The problem arises that when playing the broadcast there are jerks in the video and there is a pause for a split second, tell me maybe dash.js is not configured correctly?

[2019-09-13 16:16] difosfor commented on #2897
It looks like this issue is back in v3.0.0:

I think this line:
https://github.com/Dash-Industry-Forum/dash.js/blob/1cc9d8074bab824f3b3846ad2a543eb42908057f/src/streaming/controllers/PlaybackController.js#L597

Should not contain:
`settings.get().streaming.lowLatencyEnabled > 0`

But:
`settings.get().streaming.liveCatchUpPlaybackRate > 0`

[2019-09-13 20:10] TheGr33k opened #3076 "[SourceBufferSink] Failed to remove source buffer from media source."
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-09-13 20:26] epiclabsDASH commented on #3076
Emm??? This question does not make too much sense... Dash.js is a client that you can use to play MPEG-DASH streams, that does not include youtube hosted videos.

[2019-09-13 20:26] #3076 closed

[2019-09-13 20:26] #3073 closed

[2019-09-13 20:31] TheGr33k commented on #3076
I extract the direct urls , the fact thats its youtube is irrelevant

On Sat, Sep 14, 2019, 12:26 AM Jesús Oliva <notifications@github.com> wrote:

[2019-09-13 20:31] epiclabsDASH commented on #3072
@ggnull35, I don't think anyone here can help to generate what you are looking for. Anyway, why don't do it yourself? You can just generate two versions using the same source video file (keeping same segment lengths), encrypted and non encrypted version, and build a third stream with the sequence you build like to get: n segments of the encrypted stream, m segments of the non encrypted stream, etc

[2019-09-13 20:31] #3072 closed

[2019-09-13 20:33] epiclabsDASH commented on #3071
No, I don't think so. But it would be nice to have some contributor taking care of that part. Any volunteer?

[2019-09-13 20:35] epiclabsDASH commented on #3076
So, could you please paste here the direct url? Just for being able of reproducing the issue and then to take a look.

[2019-09-13 20:36] epiclabsDASH commented on #3067
@dimitry-unified-streaming , thanks for providing a sample stream!

Added as a feature request.

[2019-09-13 20:38] TheGr33k commented on #3076
The direct url will expire.You will be able to see real link through the
headers.Also there is no issue with proxying the video as such since you
can open the direct link you see in the console and video will play

On Sat, Sep 14, 2019, 12:35 AM Jesús Oliva <notifications@github.com> wrote:

[2019-09-13 20:40] epiclabsDASH commented on #3075
@forumrulez, is it possible for you to share the url of the stream so we can take a deeper look?

What I see is lot of seek operations, but don't see any reason behind dash.js doing that automatically (it uses seeks to jump gaps when they are detected but I don't see any log related with that).

[2019-09-13 20:51] epiclabsDASH commented on #3049
@zoran1996, you would need to [extend](http://cdn.dashjs.org/latest/jsdoc/module-MediaPlayer.html#extend__anchor) the logic implemented in ScheduleController class. As you will see in the code of that class, dash.js next request are triggered after the previous fragment has been downloaded. You will need to change that approach so schedule() method is called whenever makes sense for your logic.

T

[2019-09-13 20:51] #3049 closed

[2019-09-14 10:22] forumrulez commented on #3075
@epiclabsDASH I can attach the contents of the **mpd** file. Unfortunately, I can’t provide the URL of the stream, since this is a live broadcast, and I can’t keep it in 24/7 mode, maybe if I agreed on the time or contacted via the messenger, I could provide the URL live broadcast

mdp file
[code]

[2019-09-16 07:42] nicosang commented on #3075
H @forumrulez ,

could you please check the conformance of your manifest with the online tool?
=> https://conformance.dashif.org/

Thanks,
Nico

[2019-09-17 09:26] forumrulez commented on #3075
@nicosang hi, check result: https://conformance.dashif.org/conformance/current/Conformance-Frontend/temp/id8914795224/mpdreport.html

[2019-09-17 13:06] forumrulez commented on #3075
Unfortunately the link died, yes mpd is not valid, can I do something in this case?

[2019-09-17 14:23] Achibana opened #3078 "Support for customer license request"
Hello, currently Dashjs integrates the license request inside the ProtectionController(in onKeyMessage(e)) and provides the capability to let integrator set server url or customer header or further more use customer format by overwriting the methods in Servers, like https://github.com/Dash-Industry-Forum/dash.js/blob/development/src/streaming/protection/servers/DRMToday.js.
Just want to ask if das

[2019-09-20 14:35] dimitry-unified-streaming commented on #3067
We moved the sample stream here, where it will hopefully remain permanently available:
https://demo.unified-streaming.com/video/tears-of-steel/tears-of-steel-tiled-thumbnails-timeline.ism/.mpd

The `AdaptationSet` has been updated from the previous example too.  We can now directly serve JPEGs from the `SegmentTemplate` URLs:

[code]

E.g., the `mimeType` is now simply `image/jpeg`, the `initializ

[2019-09-23 18:33] iamprem commented on #2968
Any update on this issue?

[2019-09-25 08:09] #2401 closed

[2019-10-02 01:13] kevleyski opened #3083 "Regressions in 3.0.0 from 2.9.3 with live stream playback"
Stream:

(HTTP) http://streams.switchmedia.asia/streama/DL004/.mpd
(HTTPS) https://streams.switchmedia.asia/streama/DL004_S/.mpd

Ok on 2.9.3 but fails on 3.0.0 release and latest nightly
Chrome Browser

- [X] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such

[2019-10-02 13:17] zgzong commented on #2589
@mlprs:
Does your live stream contain UTCTiming tag in mpd? If there is no UTCTiming tag in mpd, dash.js is rely on the system (LG smart tv) to have an accurate wall-clock. But LG smartTv doesn't show the tv time in second level, and the stream only has 10 seconds DVR windows. The device time may fail in both edge of the DVR window.

[2019-10-03 02:02] kevleyski commented on #3083
I think Jesus might have broken this ;-)

Things seem to go wrong around 486974a2b50437692920083f5e28d11990082b24

This version before the merge worked...
db8dee1d Jesús Oliva <dashjs@epiclabs.io> on 19/6/19 at 6:34 pm

[2019-10-03 14:05] difosfor opened #3084 "Fix disabling of catchup (leave playback rate alone)"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-10-03 15:06] difosfor commented on #3084
Created pull request: #3085

[2019-10-07 04:14] Brainiarc7 commented on #3084
This explains inexplicable stutters observed even with standard DASH manifests containing multiple adaptation sets, where the same variants packaged for HLS play smoothly with no issues.

Another related issue: https://github.com/Dash-Industry-Forum/dash.js/issues/698

[2019-10-07 04:52] DuYongLee opened #3087 "Remove circular dependencies"
Current Dashjs has circular dependencies.

![image](https://user-images.githubusercontent.com/19799263/66284314-20bd6400-e902-11e9-8bed-fe2f4468c29e.png)

this circular dependencies is almost refer enum.

it caused problems for bundling.

when i bundle it with rollup, it doesn't look for some module.
![image](https://user-images.githubusercontent.com/19799263/66285820-72b5b800-e909-11e9-8510-a07ed

[2019-10-07 12:15] fredrik-telia opened #3088 "Problems with progress bar when pausing ongoing recording from Elemental Delta"
* Dash.js version: 2.9.2
* Browser name/version: Chrome Version 77.0.3865.90
* OS name/version: macOS 10.14.6

##### Steps to reproduce
Unfortunately I do not have an easy way to share a playable asset for you to test.

1. Playing the attached MPD (an ongoing recording from a live channel, with growing duration)
2. Pausing the video

##### Observed behaviour
Progress timer is ticking backwards

I

[2019-10-08 09:28] nicosang commented on #3087
Hi @DuYongLee ,

I did some modifications in the last merged PR. Could you take a look at it on the development branch?

Thanks,
Nico

[2019-10-08 15:35] epiclabsDASH commented on #3084
@Brainiarc7, I don't think those are related at all. Issue reported by @difosfor is about low latency management, not about streams with multiple adaptation sets or about smooth transitions across periods.

@difosfor, thanks for the fix!

[2019-10-08 15:35] #3084 closed

[2019-10-08 15:37] epiclabsDASH commented on #3083
Yep, issue came with the big refactor. You will have good news from me in the next couple of days :)

[2019-10-09 07:24] joakDA opened #3090 "var controlbar = new ControlBar(player); return message "ControlBar is not defined"."
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs

[2019-10-10 02:48] Th0ru5 opened #3091 "Player freezes when connecting to KVS (Kinesis Video Stream from AWS)"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-10-10 13:32] #3091 closed

[2019-10-11 10:27] DuYongLee commented on #3087
Hi @nicosang ,

I took a look at it on the development branch.

Circular dependencies almost resolved but two circular dependency stay.

![image](https://user-images.githubusercontent.com/19799263/66644198-48daf900-ec5b-11e9-923d-e5c154f311be.png)

`ThroughputRule.js` import `AbrController` and refer constant value `ABANDON_LOAD`.

could you solve it?

I think it's better to be solved with your la

[2019-10-11 14:51] epiclabsDASH commented on #3087
Done. Many thanks @DuYongLee  and @nicosang

[2019-10-11 14:51] #3087 closed

[2019-10-15 04:34] kevleyski commented on #3083
I noticed also this multi-period live test also fails (but was ok with 2.9.3)
https://livesim.dashif.org/livesim/periods_60/continuous_1/testpic_2s/Manifest.mpd

[2019-10-15 10:20] sinjuice opened #3093 "Events are not firing"
##### Environment

- [ ] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-10-15 11:02] sinjuice commented on #3021
Hey Nico,

Sorry for the late response.

I do, I change the number of the periods and I change de mediaPresentationDuration, but with no success, at least with the current code. Finally I managed to do it by making public the setMediaDuration function inside the code and setting it manually when I the manifest is reloaded(it does not update the duration automatically).

I didn't update the issue b

[2019-10-15 14:46] zgzong commented on #2559
@epiclabsDASH
This issue is reproducible on browser as well. you can
use the https://reference.dashif.org/dash.js/v2.9.2/samples/dash-if-reference-player/index.html with https://livesim.dashif.org/livesim/mup_30/testpic_2s/Manifest.mpd.

Steps:
1. load live stream
2. pause live stream after it has start to play.
3. wait > 5 minutes (timeShiftBufferDepth)
5. resume the live stream.

Expect:
Live st

[2019-10-16 15:22] #3021 closed

[2019-10-17 10:32] jzhoubupt opened #3096 "Optimize DASH Live MPD refresh"
According to DASH IF IOP4.3 chapter 4.5.3.3 "Extended Segment Information" (https://dashif.org/docs/DASH-IF-IOP-v4.3.pdf)  the advanced client should parse the segment to calculate the next segment URL based on the "ept" and "dur" information from the segment boxes and avoid client fetches the MPD. Client only fetch MPD at startup, or when new Adaptation Set is selected, or if Segments or lost, or

[2019-10-21 16:01] zgzong opened #3098 "The player does not fire 'ended' event after seek(end_of_VOD) when replaying the same video"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-10-24 15:11] nicosang commented on #3098
Hi @zgzong ,

could you, please, take a look at my PR?

Thanks,
Nico

[2019-10-25 10:02] zgzong commented on #3098
@nicosang Thanks for the PR, it make sense and works.

Waiting for merge your PR.

[2019-10-31 12:10] #3098 closed

[2019-10-31 16:31] makisp commented on #2934
Hello, is there any news on this? We're having this issue on the latest release...

[2019-11-03 04:02] iamprem commented on #2968
Another user having this problem which i believe related to this race condition: https://stackoverflow.com/questions/52035242/init-dash-js-with-certain-quality

[2019-11-04 10:48] #3042 closed

[2019-11-04 10:53] nicosang commented on #3020
Hi @TobbeEdgeware ,

could you, please, give us a feedback about this issue, is it fixed according to you?

Thanks,
Nico

[2019-11-05 20:40] mattlohkamp opened #3104 "Reference Client v3.0.0 page broken in Internet Explorer 11"
##### Environment
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs in the latest reference client on http://reference.dashif.org/dash.js/ and not just on my page
* Dash.js version: 3.0.0
* Browser name/version: Internet Explorer 11 (v11.418.18362.0)
* OS name/version: Windows 10 (v10.0.18362)

##### Steps to reproduce
Navig

[2019-11-06 09:59] davemevans commented on #3104
There are two issues here:
1) ControlBar is never transpiled and contains an `await`, which is not supported in IE11. Historically, this module has only included IE11-compatible code.
2) An untranspiled DownloadRatioRule is imported for some reason. This contains an `=>`, which is not supported in IE11. This could possibly be pulled in from the dahsjs object?

[2019-11-06 10:08] nicosang commented on #3104
3. find function of Array in PlaybackController is not supported in IE 11

[2019-11-06 10:51] nicosang commented on #3104
@mattlohkamp could you, please, take a look at my PR #3106 ?
@davemevans , I didn't modify DownloadRatioRule, it seems to work without modifications => yes, I'm a bit lazy! ;-)

Nico

[2019-11-06 18:43] mattlohkamp commented on #3104
yep looks that should fix the issue. thanks for jumping on this!

[2019-11-07 10:04] nicosang commented on #3067
@dimitry-unified-streaming , could you, please, take a look at my latest PR?
Could you also, please, restore SegmentBase sample?

Thanks,
Nico

[2019-11-07 10:09] nicosang commented on #3090
Hi @joakDA ,

does the PR #3106 solve your issue with ControlBar?

Nico

[2019-11-07 10:29] nicosang commented on #3029
Hi @Robloche ,

I don't know if your issue is still there but your stream (protected one) is no longer available. I close this issue, but do not hesitate to create a new one with a sample stream (not protected would be better ;-))

Nico

[2019-11-07 10:29] #3029 closed

[2019-11-07 10:45] Robloche commented on #3029
I'm indeed into something else at the moment but I'll come back to this at some point, for sure.
I'll open a new issue if it's still relevant.

[2019-11-07 10:50] o-hreshchuk commented on #3029
isn't it because of
`Failed to execute 'addSourceBuffer' on 'MediaSource': The type provided ('audio/mp4;codecs="ec-3"') is unsupported.`
the first error from your logs

[2019-11-07 11:01] nicosang commented on #2877
a PR has been merged to fix this issue, I close it.

[2019-11-07 11:01] #2877 closed

[2019-11-07 12:19] dimitry-unified-streaming commented on #3067
@nicosang thanks, I will take a look.

Meanwhile, all the tiled thumbnail demos can be found on https://demo.unified-streaming.com/features/#!/mpd

Here is an overview of the use cases that we intend to support:

Segment information element | DASH Profile | Demo URL
--------------------------- | ------------ | --------
SegmentBase | `isoff-on-demand` | https://demo.unified-streaming.com/video/tear

[2019-11-07 19:03] mattlohkamp commented on #3068
quick clarification - was this fix rolled into 3.0.0, or will it be in 3.0.1?

[2019-11-11 16:10] #3067 closed

[2019-11-11 16:11] #3104 closed

[2019-11-12 11:23] janev94 commented on #2096
I've seen an issue where headless chrome would not request video frames after the initial buffer on video load. Has anyone else seen that and is there some way around it?

[2019-11-13 13:28] adamtal3 opened #3113 "Infinite loop of segment requesting causing the tab to crash"
##### Environment

- [ ] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [ ] The issue occurs

[2019-11-13 16:19] adamtal3 commented on #3113
This are the events in the log leading to this issue:
[code]

[2019-11-13 16:26] adamtal3 commented on #3113
Testing the MPD with the "DASH-IF Conformance Tool" I get the following results:
![image](https://user-images.githubusercontent.com/3287937/68783012-f9655f80-0642-11ea-8aea-95745f548fe7.png)
![image](https://user-images.githubusercontent.com/3287937/68783058-126e1080-0643-11ea-9378-e5a727749874.png)

Could this be related?

[2019-11-14 06:19] adamtal3 commented on #2964
@epiclabsDASH - Why was this closed considering @enzious was only able to fix the issue by creating a fork and changing the value of `MAX_ALLOWED_DISCONTINUITY` to `990` msecs?

I'm experiencing the same issue (#3113).

[2019-11-14 12:38] #3088 closed

[2019-11-15 10:14] jarek-vewd opened #3114 "Clearkey --Error generating key request -- TypeError"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs i

[2019-11-18 15:48] jzhoubupt opened #3115 "Playback sometimes not start when play a DASH LIVE Stream"
Issue Description:
When play a DASH LIVE stream with any browser, sometimes the playback can't start but show black screen.
- The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- The stream has correct Access-Control-Allow-Origin headers (CORS)
- There are no network errors such as 404s in the browser console when trying to play the stream
- The issue observed is not me

[2019-11-25 16:01] BucherTomas commented on #2293
Have you managed to make any progress in the DRM review please or is still in the pipeline?

It is a bit confusing to have reference content such as the modern Axinom assets with multiple keys for so long and yet still being unable to play them properly since dash.js picks Representations from single Adaptation Set only.

The streaming industry and content licensors have been leaning towards using

[2019-12-03 09:55] Robloche opened #3123 "clearInterval instead of clearTimeout in ManifestUpdater.js"
I know most browsers seem to handle `clearInterval` and `clearTimeout` the same way but for the sake of clarity, and since the timer is initialized with:
```refreshTimer = setTimeout(onRefreshTimer, delay);```
I think it should be cleared through `clearTimeout`.

Actual code:
[code]

Source: https://github.com/Dash-Industry-Forum/dash.js/blob/13745c6812da3130638ac90abea577511b960f32/src/streaming/

[2019-12-03 13:05] pinkahd commented on #3066
I've encountered the same issue after updating to Dash.js 3.0

This is the error that I'm getting:

[code]

I'm using Drmtoday as the DRM provider.

[2019-12-03 13:21] mishazawa opened #3124 "Question. Is it possible to ignore DRM information from manifest data?"
Hello. I have a manifest file with included various DRM-system data (Playready and Widevine). Dash.js check manifest and enable Playready as main, meanwhile I explicitly tell to use Widevine in `setProtectionData` method. Is it possible to tell Dash.js to ignore DRM info from manifest. F.e. how it configured in shaka-player [DashManifestConfiguration](https://shaka-player-demo.appspot.com/docs/api

[2019-12-03 13:31] budziq commented on #3010
Hi @epiclabsDASH

I've seen that you are preparing the v3.0.1 release https://github.com/Dash-Industry-Forum/dash.js/commit/13745c6812da3130638ac90abea577511b960f32 and done another round of testing
Unfortunately the reference player for this commit still exhibits the posted problem

[code]

The video just stalls indefinitely with full buffers.

[2019-12-03 13:51] bbert commented on #3124
Hello
With v3.0.0 you can reorder the key systems priority in dash.js at application level, see PR #2953.
With next version 3.1.0 that will be simpler, see PR #3107

[2019-12-03 14:34] mishazawa commented on #3124
Thanks for response. I'll use this example with `filter` function/

[2019-12-03 14:34] #3124 closed

[2019-12-05 14:18] tomraut opened #3126 "Too large gap between BUFFER_EMPTY and BUFFER_LOADED events when seeking to live moment"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-12-09 10:23] Witos commented on #2934
+1

[2019-12-09 11:28] mraavi opened #3127 "Two License calls to play Widevine proteched content"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-12-09 12:51] bbert commented on #3127
Same parameter in `Player.setProtectionData()` :

[code]

But you're right documentation requires to be completed

[2019-12-09 21:28] Th0ru5 opened #3128 "Playback is freezing and falling in buffering loop."
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
This page is not working. After passing the url and Click "GO" nothing happens
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on

[2019-12-10 08:09] mraavi commented on #3127
Thanks. It worked

[2019-12-10 08:15] #3127 closed

[2019-12-10 08:49] nicosang commented on #3128
Hi @Th0ru5 ,

could you, please, provide a log file with a debug level rather info level? I can't, for the time being, reproduce your issue on my side...

Nico

[2019-12-10 09:16] Th0ru5 commented on #3128
Hi @nicosang

[dashJSConsole2.log](https://github.com/Dash-Industry-Forum/dash.js/files/3943934/dashJSConsole2.log)

In this file are only debug logs filtered by browser. (Of course I set the debug level for logging in my scripts)

[2019-12-10 15:31] nicosang commented on #3128
Thanks @Th0ru5, I've been able to reproduce the issue on my side. Your stream has very long segments (20 seconds for some of them). The origin of the problem seems to be that dash.js is pruning buffer after the current time during normal play since PR #2342. It seems that, after the pruneBuffer call, there is a desynchronization between real buffer ranges and fragment loaded request array that thi

[2019-12-10 16:04] Deathamns opened #3130 "MSS build file missing from /dist"
Hi,

May I ask you to consider including build files for the [MSS package](https://cdn.dashjs.org/v3.0.1/dash.mss.min.js) as well in [`/dist`](https://github.com/Dash-Industry-Forum/dash.js/tree/v3.0.1/dist) on the GitHub repo for future releases?
I want to use it in a Firefox extension as a third party library, however [AMO](https://addons.mozilla.org/) has a specific [policy about including exte

[2019-12-10 19:16] Th0ru5 commented on #3128
Thanks @nicosang for your time.

So i will try to change the segments length to 5s and see if this helps
What is the best segments lenght for dash.js?

Did i understand correctly that the change in segments length will help?

[2019-12-11 08:01] nicosang commented on #3128
the best segments length is.......Really difficult to say. ;-) Generally, the length is between 2 and 6 seconds.
According to my comprehension, yes it will help because the automatic pruning process will not delete segments in the future, only in the past....but, I could be wrong.
Whatever you do, in the long term, I think that there is optimizations to do in dash.js source code.

Nico

[2019-12-11 08:55] bbert commented on #3130
Hello,
Why don't you use NPM to get dash.js package into your project.
In practice, we should not commit/push bundle files (dist folder) into the repo.

[2019-12-11 12:52] Th0ru5 commented on #3128
I found the problem.
There is something wrong with ffmpeg.
I decided to switch to MP4Box and problem is solved.

Thank You for help.

[2019-12-11 12:52] #3128 closed

[2019-12-11 15:18] Deathamns commented on #3130
But you already have a [dist](https://github.com/Dash-Industry-Forum/dash.js/tree/v3.0.1/dist) folder with bundle files (for releases at least, which is OK for AMO). Only the `dash.mss.min.js` is missing.

Anyway, a quote from the mentioned [policy](https://extensionworkshop.com/documentation/publish/third-party-library-usage/):

[2019-12-12 03:07] alphonsetai opened #3132 "when refresh mpd file in live, often occur stream seek"
server: **nginx-rtmp**
network: **lan**
origin stream protocol: **rtmp**
origin stream audio: **disable(none)**
origin stream video: **h264 main, 25fps, gop 50 frames**
origin stream publish software: ffmpeg 4.2

broswer : chrome 79

nginx conf:
[code]

when refresh mpd file, often occur stream seek, and attach broswer log, and have a lot of **BUFFERING_HAVE_NOTHING** and **kSeeking** :

[2019-12-12 03:09] alphonsetai commented on #3132
maybe this problem's reason is same as #3096

[2019-12-12 08:39] nicosang commented on #3132
Hi @alphonsetai ,

could you, please, provide dash.js log (with debug level) ?

Nico

[2019-12-12 09:05] PolynomialDivision commented on #2940
Actually, is this now fixed?

[2019-12-12 13:36] akeco opened #3133 "AbrController.js - Uncaught TypeError: Cannot read property 'type' of null"
##### Environment
- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs i

[2019-12-12 14:08] nicosang commented on #3133
Hi @akeco ,

it appears that your manifest is not conforme. The result of conformance tool is :

***Legend: Errors, Warnings, Information ***

Start XLink resolving

=====================

XLink resolving successful

Start MPD validation

====================

Line:Col[36:89]:cvc-complex-type.4: Attribute 'bandwidth' must appear on element 'Representation'.

Line:Col[62:60]:cvc-complex-type.4: Att

[2019-12-13 01:59] alphonsetai commented on #3132
oh, sorry, i am a c++ developer for realtime media , i don't have knowlege about web developer .
but i load **http://cdn.dashjs.org/latest/dash.all.debug.js**, and **set loglevel = 5**. And console log is:

[2019-12-13 02:07] alphonsetai commented on #3132
@nicosang
i test again, i found my nginx http response very fast. i guess this problem may indeed that spent up buffer, or timestamp have some problem

![image](https://user-images.githubusercontent.com/3118845/70763596-970d9500-1d8f-11ea-9278-158075e63333.png)

[2019-12-13 14:13] robertbryer opened #3136 "#r Relative MPD Anchor doesn't set player start time"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-12-16 01:31] vgarleanu commented on #2934
Hi, Im experiencing the same bug except with the video buffer, with the same message, causing dash.js to go in a deadlock and request the same chunks indefinitely.

[2019-12-19 15:05] mihaiav opened #3141 "player is not playing before the whole stream is downloaded."
##### Environment

- [X] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occurs

[2019-12-19 16:09] nicosang commented on #3141
Hi,

your stream has only one audio and video segment according to dash.js. So, when dash.js has finished to download the video segment (biggest one), the streams is correctly played.

The line `[19671][Stream] onBufferingCompleted - One streamProcessor has finished but video one is not buffering completed` only indicates that end of stream can't be detected until all video datas are correctly dow

[2019-12-19 17:21] budziq commented on #3010
The issue reproduces on firefox 70.0.1 and newly released dashjs 3.0.1

[2019-12-19 18:04] mihaiav commented on #3141
Hi Nico,

The manifest file provides the `Initialization` ``range``. Shouldn't that be enough for the player to get started? Youtube is using one audio and video segment as well along with only one index range so I assume the meta data required to provide a smooth playback should be in the `Initialisation` index range.

Mihai.

[2019-12-20 08:17] davemevans commented on #3141
Your manifest is incorrect. Change it to the below and it will play as you expect.

[code]

Note the SegmentBase rather than a SegmentList containing a single 30 minute segment.

[2019-12-20 08:51] nicosang commented on #3141
thanks @davemevans .
@mihaiav , as you can see in your log, initialization segments are correctly downloaded with appropriate byte range.
the missing part, as David explained, is the downloading of index range to get segment lists and then download each segment separately...

Nico

[2019-12-20 14:13] mihaiav commented on #3141
@davemevans thanks a lot for your help! With the updated manifest the player works great!

[2019-12-20 14:13] #3141 closed

[2019-12-20 15:28] huseyinunified opened #3144 "Reference Player with LL Mode is not playing on the live edge"
- [X] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
No, result is below;
 Start MPD validation

====================

Line:Col[14:31]:cvc-complex-type.2.4.a: Invalid content was found starting with element 'ServiceDescription'. One of '{"urn:mpeg:dash:schema:mpd:2011":ProgramInformation, "urn:mpeg:dash:schema:mpd:2011":BaseURL, "urn:mpeg:dash:schema:mpd:2011":Locat

[2019-12-23 07:50] harishnigam commented on #2265
Hi
I am getting "CHUNK_DEMUXER_ERROR_APPEND_FAILED: Failed to prepare video sample for decode" error while playing DASH Stream in Chrome Browser Native Player, and I am playing Clear Stream so it should not be related to DRM. However Same stream is playing fine with STB.
Can you please suggest where is the issue.

THEOplayer.js:39 VIDEOJS: ERROR: (CODE:3 MEDIA_ERR_DECODE) CHUNK_DEMUXER_ERROR_APPEN

[2019-12-26 14:28] GreenLv opened #3145 "Why not add recent throughput samples as a metric in DashMetrics.js?"
Hi,

I am new to dash.js. Some ABR approaches (e.g. RL-based Pensieve) need to use recent throughput samples as input. But I could not find any functions related to it in DashMetrics.js. I tried to search similar issues, but most related solutions were out of date. Did I miss something? Or there is no such functions in dash.js?
I think up a way to achieve it by write a function in ThroughputHistro

[2019-12-30 12:01] GreenLv commented on #3145
I found a related implementation in DownloadRatioRule.js (in the reference player). And I think this may be the answer to my question: information in HttpRequests is enough to calculate throughput, download time, latency and so on, so there is no need to provide specific APIs for them. Am I right? But I still believe things will be better if there are more methods in DashMetrics.js.

Besides, I ha

[2020-01-06 13:51] #3020 closed

[2020-01-06 13:55] #3090 closed

[2020-01-06 14:15] #2551 closed

[2020-01-06 14:25] #1746 closed

[2020-01-07 09:50] tomraut opened #3146 "Playback freezes when seeked to very beginning"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-01-07 14:51] dsilhavy commented on #429
@wilaw : Since you initially opened that issue: I suggest we add a new item "How to create DASH content" to the Background Info section. In this page we can provide a list of useful links/resources/how tos for the different packagers. I don't think we should write own guidelines as the APIs of the underlying tools might change frequently which requires changes from our side then.

[2020-01-07 14:53] dsilhavy commented on #129
@wilaw Is this still a requirement? I suppose the document is out of date now.

[2020-01-07 14:58] wilaw commented on #429
Agreed. Own guidelines are not necessary. Just point to existing sites.

[2020-01-07 15:00] wilaw commented on #129
original document out of date. There will be a new requirement for the Common Media Client Data header that is being developed by the CTA, but I will create a new issue for that in the future. Closing this issue.

[2020-01-07 15:00] #129 closed

[2020-01-07 15:03] dsilhavy commented on #445
I think if a browser reports wrong capabilities we should not add a workaround for that in dash.js. Since this issue is outdated I will close it for now, feel free to reopen it if this is still a problem.

[2020-01-07 15:03] #445 closed

[2020-01-07 15:16] dsilhavy commented on #651
@amitmiz @timur-gilauri : Do you still have problems with your streams in the latest version of the player:
http://reference.dashif.org/dash.js/v3.0.1/samples/dash-if-reference-player/index.html

Please also validate that your streams are correct:
https://conformance.dashif.org/

I will leave this issue open for 3 days and close it if there is no feedback by then

[2020-01-07 16:01] dsilhavy opened #3147 "Restructure Wiki"
- Remove invalid and non required links from the Wiki page to make it easier to use and clearly arranged

[2020-01-07 16:09] nicosang commented on #3146
Hi @tomraut ,

according to my comprehension, it's another issue....we have the same behavior but origin is different. In this one, audio buffer is not fully cleared when the user seeks to 0. Nevertheless, in playbackController, commonEarliestTime is reseted....without no new audio data to push, so the internal seek command to 1.782s is not done..... :-(

The question is why the audio buffer is no

[2020-01-07 16:13] dsilhavy commented on #429
A new page was added here: https://github.com/Dash-Industry-Forum/dash.js/wiki/How-to-create-DASH-manifests . We will try to collect additional resources if available.

[2020-01-07 16:13] #429 closed

[2020-01-08 08:36] dsilhavy commented on #1050
I will close this due to inactivity, please feel free to reopen if you still encounter problems. Please also consider that there might be proprietary versions of the MSE and EME on the device which are not compatible with dash.js.

[2020-01-08 08:36] #1050 closed

[2020-01-08 08:48] dsilhavy commented on #864
Poster attribute works for me in Chrome 79.0 and Firefox 72.0. Poster disappears when the stream starts playing. I will close this issue, please reopen if you still encounter the problem.

[2020-01-08 08:48] #864 closed

[2020-01-08 08:51] dsilhavy commented on #1152
Both test stream urls are not available anymore. If you still encounter an issue with your streams please file a new ticket.

[2020-01-08 08:51] #1152 closed

[2020-01-08 10:20] dsilhavy commented on #1206
@KarishmaBagga Unfortunately the segments of the test stream are not available anymore (404 error). Would it be possible for you to provide us with a new test vector or check against the current version of the player:
http://reference.dashif.org/dash.js/v3.0.1/samples/dash-if-reference-player/index.html

[2020-01-08 10:53] tomraut opened #3148 "Cannot force Chromium Edge to use Widevine with dash.js v3"
##### Steps to reproduce
1. Try to set only one licenseSystem in action:
[code]
2. Start some DRM protected stream with Chromium Edge & Windows 10. Manifest file should include both Widevine and PlayReady ContentProtection elements.

##### Observed behaviour
dash.js logs that it selects PlayReady as key system and won't start playback

There is a workaround for this issue and it is including "prio

[2020-01-08 10:53] tomraut commented on #3148
@dsilhavy here you go :)

[2020-01-08 13:26] dsilhavy commented on #1213
I keep that issue open as we might be able to run the Selenium based Browserstack tests on "real" devices in our lab. Currently we see the Browerstack tests fail regularly due to timeouts.

[2020-01-08 13:36] dsilhavy commented on #1209
This is handled in v3.0.1 which throws an error. As an example:

"http://dash.akamaized.net/akamai/bbb_30fps/bbb_30fps.mpd is not available"

In addition we can see an error message in the console:
Mixed Content: The page at '<URL>' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint '<URL>'. This request has been blocked; the content must be served over HTTPS.

In my opinion

[2020-01-08 13:36] #1209 closed

[2020-01-08 14:11] dsilhavy commented on #1262
This is already possible in version 3.0.1. The license headers are updated when the keyMessage from the CDM was received:

`
if (protData) {
            updateHeaders(protData.httpRequestHeaders);
        }
`

This is not coupled to the license server url anymore.

[2020-01-08 14:11] #1262 closed

[2020-01-08 14:57] dsilhavy commented on #3148
Hi @tomraut ,
I have not had the chance to test it in Chromium Edge but in my opinion the behavior of dash.js is correct. The protection data you hand over from the application to the player is used to extend or replace attributes like DRM request headers and license servers. However, the main source of information is still the data coming from the MPD or the PSSH.

As an example: Since the server

[2020-01-08 16:06] nicosang commented on #1757
no feedback, I think we can close it....reopen if needed.

[2020-01-08 16:06] #1757 closed

[2020-01-08 17:31] charlie-ht opened #3150 "Unable to play dash.js stream from local disk file"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-01-09 06:26] tomraut commented on #2851
This problem no longer exists when using dash.js 2.9.3 or 3.0.1 so we can close this one.

[2020-01-09 06:26] #2851 closed

[2020-01-09 09:01] nicosang commented on #3083
Hi @kevleyski ,

your stream seems to be unavailable now, does it mean this issue has been resolved?

[2020-01-09 09:10] nicosang commented on #3055
According to me, this issue has been resolved by PR #3105 and can be closed.

[2020-01-09 09:10] #3055 closed

[2020-01-09 09:37] dsilhavy commented on #1380
I just checked the latest DASH spec and it allows us to set the xlink:href url as an absolute url or a relative url using the BaseURL element:

_"If a URI reference is relative then reference resolution as defined in subclause  shall apply"_

I could not find a testvector in the testvector database covering that scenario so I will check with @eceozturk .

[2020-01-09 09:58] dsilhavy commented on #1412
I will close this due to inactivity, feel free to reopen if you still encounter problems.

[2020-01-09 09:58] #1412 closed

[2020-01-09 10:16] nicosang commented on #1481
I think this issue can be closed because the stream http://dash.edgesuite.net/dash264/TestCases/5a/nomor/4.mpd can be correctly played in chrome 79 and the chrome issue is closed status.

[2020-01-09 10:16] #1481 closed

[2020-01-09 10:34] dsilhavy commented on #1413
@wilaw : I just checked against version 3.0.1 and the behavior is still the same. Are you fine with option 1 or should I leave this issue open? I did not stumble on similar issues so far so people seem to be ok with the current behavior. Only question I had while looking into the code is where the "magic" 60 and 600 seconds for _bufferTimeAtTopQualityLongForm_  and _longFormContentDurationThreshol

[2020-01-09 12:28] dsilhavy commented on #1460
Closing this, the error message has been optimized:
"Uncaught You must first call initialize() and set a valid source and view before calling this method"

Correct call to attach a new file is:
`currentPlayer.attachSource(currentURL);`

[2020-01-09 12:28] #1460 closed

[2020-01-09 13:54] eceozturk commented on #1380
As @dsilhavy pointed out, there are no test vectors that could check the second part. However, I quickly created one for the testing purposes (and therefore not yet on the database web page):

- http://dash.akamaized.net/dash264/TestCases/5c/nomor/5_1g.mpd

This has a MPD@BaseURL element (with HTTP URL) and the Period@xlink:href value is relative. Let me know if this is satisfactory.

As a general

[2020-01-09 17:25] wilaw commented on #1413
I am fine with option (1) - making no change. The original request may have come from an audio only streaming company who could incur higher delivery costs due to non-resumption of aggressively buffered streams. But in this case they could use the bufferTimeAtTopQualityLongForm API to constrain that behavior, so I think we are fine with default behavior. I will close this issue.

[2020-01-09 17:25] #1413 closed

[2020-01-10 08:20] tomraut commented on #3126
@dsilhavy I'm wondering if you had a chance to look at this one yet?

[2020-01-10 08:49] jeremco commented on #3078
Hi

In MediaPlayer, there is the API `attachProtectionController`. Using this API, you can use your own protection mechanism, provided the fact you're respecting `ProtectionController` API and then, you will be able to handle your request correctly.

You can get inspired from Dash.js `ProtectionController` source files to write yours.

Jérémie

[2020-01-10 13:27] jeremco commented on #3041
Hi

By adding "application/dash+xml" type in source, a dash.js player is automatically instanciated by MediaPlayerFactory on document load, is attached to video element and playback is automatically started (in Safari, playback is in paused because of autoplay policy of Apple)

With your code, you are trying to instanciate a new dash.js player and attach it to video element => it leads to invalid

[2020-01-10 13:33] #3041 closed

[2020-01-10 15:46] dimitry-unified-streaming opened #3152 "mediaPresentationDuration not fully respected (plays until end of segment)"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-01-10 15:50] dimitry-unified-streaming commented on #3152
Also note that Shaka Player seems to behave more correctly:
https://shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;uilang=en-US;asset=https://test.unified-streaming.com/dashif/tears-of-steel-0600-0932/tos.mpd;panel=HOME;build=uncompiled

E.g, it shows the media duration as 03:32 from the beginning to the end, and plays exactly until frame 13727, which is at 09:31.958 (the next

[2020-01-10 17:19] nicosang commented on #3152
Hi @dimitry-unified-streaming ,

currently dash.js doesn't use [appendWindowEnd](https://developer.mozilla.org/en-US/docs/Web/API/SourceBuffer/appendWindowEnd) property of Sourcebuffer. So when a media segment is pushed, duration of video element is updated. In your sample stream, when the last audio segment is pushed, audio buffered range equals `191.957333  -  215.957333`. Video duration is upda

[2020-01-12 22:40] matvp91 commented on #3071
@epiclabsDASH With CAF, cast takes a bit of a different direction than before. You can boot CAF with your own video element, but it'll wrap shaka-player in the back. As far as I know, there is no way (yet?) to mix CAF (and it's sender / receiver logic) with a custom player.

[2020-01-13 08:17] dimitry-unified-streaming commented on #3152
Aha, indeed Shaka player seems to use `appendWindowEnd` in quite a lot of places.  But in general, do you agree that players should only play to the specifie duration, and not the end of the segment or timeline?

E.g., if I would compose an MPD with the complete Tears of Steel clip (which is 12:14 long) in its timeline, but specified a `Period@duration` of, say, 5 minutes, it should *only* play th

[2020-01-13 08:31] bbert commented on #3071
You can still use the custom receiver API v2 (https://developers.google.com/cast/docs/reference/receiver), instead of CAF,  and then use you own player.
We have started development of such receiver based on dash.js for a customer. As soon as we have a working version (in the next months), we will try to setup a version for dash.js reference sample.

[2020-01-13 08:51] matvp91 commented on #3071
@bbert You can still use cast receiver v2, but it has been deprecated in favor of CAF. The v2 documentation hints you towards CAF.

[2020-01-13 08:56] bbert commented on #3071
Yes it has been deprecated but still available. This seems to be the only way not using shaka player.

[2020-01-13 16:05] dsilhavy commented on #3150
dash.js expects you to hand over a url or a parsed master manifest for initialization. Moreover, the media segments are requested via xhr or the fetch API. If your segments are hosted on a server you can try passing the parsed MPD as an object. See http://cdn.dashjs.org/latest/jsdoc/module-MediaPlayer.html#attachSource__anchor

[2020-01-13 16:12] francoism90 commented on #2934
I'm having the same issue it seems:
`[133][BufferController][video] Detected unintended removal from: 9.041666 to 10.375 setting index handler time to 9.041666`
It keeps buffering like crazy and makes Firefox crash.

Did anyone solves this? Thanks.

[2020-01-13 16:26] francoism90 commented on #3113
I'm having the same issue, did anyone find a solution?

[2020-01-13 16:28] jeremco commented on #3083
Hi @kevleyski

I have proposed a PR (#3154) to fix this bug
Can you confirm that this is ok for you ?

Jérémie

[2020-01-13 16:41] jeremco commented on #3113
Hi @francoism90

Can you send me a public stream to reproduce this issue ?

Thanks

[2020-01-13 16:44] francoism90 commented on #3113
@jeremco Sorry, I don't have a public stream, all testing is done locally. Is there something I can do to provide useful (debug) information?

[2020-01-13 16:46] jeremco commented on #3113
Ok, maybe you can send the manifest file. But, i think it is difficult to investigate this kind of bug if we can't reproduce it

[2020-01-13 18:40] kevleyski commented on #3083
(will test today - get back to you all shortly)

[2020-01-13 19:26] ProLoser opened #3155 "Remove `grunt-githooks` and use `precommit` script in `package.json`"
I noticed this project uses [`grunt-githooks`](https://github.com/wecodemore/grunt-githooks) in order to [enforce calling `grunt lint` as a `pre-commit` hook](https://github.com/Dash-Industry-Forum/dash.js/blob/3973a50d71d2f18117990db21d72107f9a47b91a/Gruntfile.js#L343-L347). It's unnecessary to use `grunt-githooks` for this purpose.

This code will accomplish the same task and would allow this pr

[2020-01-13 23:41] kevleyski commented on #3083
Yep looking good!

Thanks very much for your help with all this
(Unified Streaming will be pleased too)

[2020-01-14 08:31] jeremco commented on #3115
Hi @jzhoubupt ,
Can you give me a link to your stream, to investigate this problem. It is difficult to understand what is happening just with a mpd file

Thanks

[2020-01-14 08:51] mcereijo opened #3156 "[Typings] Initializers are not allowed in ambient contexts (priority variable)"
I am building an Angular 8 application with the version 3.0.1 of the dash.js library.

When use the `npm start` command, it throws the following error:

##### Console output
[code]
The version 3.0.0 doesn't have this error.

[2020-01-14 10:06] francoism90 commented on #3113
@jeremco Thanks for trying to solve this issue. I can understand it will be difficult without actually seeing it live.

Yesterday I've done further testing and also tried alternatives using the [following file](http://vod.leasewebcdn.com/bbb.mp4) as example:
- SMPlayer plays the `manifest.mpd` file without any issues (see debug later)
- Using dash.js causes the video to hang and infinite loop in g

[2020-01-14 10:25] jeremco commented on #3126
Hi.

I took a llok on your issue, but I do not reproduce your problem.
Between the events, I have only 2 or 3 seconds

I follow your steps to reproduce it.
Can you check it again please.

[code]

Jérémie

[2020-01-14 10:35] tomraut commented on #3126
![Screenshot 2020-01-14 at 12 33 29](https://user-images.githubusercontent.com/1769689/72336826-3218c800-36ca-11ea-8048-24c6364452e7.png)
@jeremco it happens for me randomly, not every time. While testing this today using reference player I've managed to get it reproduced two times and tried more than ten. See attached screenshot, it clearly indicates, how long video buffer level stays under 8-10s

[2020-01-14 11:34] curt6815463 commented on #2560
After testing and look your sample, should be `sessionId` put in ProtectionData but not `persistentSessionId `

[2020-01-14 13:09] tomraut commented on #2993
@dsilhavy like recently discussed, I think there has been some logical error while implementing this fix as if value used for threshold is very large (1 year or 10 years for instance), fix no longer works. I think better way of making sure that incorrectly reported currentTime should never be bigger than set threshold would be this:
`else if (currentTime + 0.250 < DVRWindow.start && Math.abs(curre

[2020-01-14 13:10] tomraut commented on #2993
If values are following:

[2020-01-14 14:09] jeremco commented on #3126
I am sorry, but the only way I have succeeded to reproduce, is using a low bandwith for my connection (for example Regular4G_4Mb).

In this case I think this is normal you have a gap with BUFFER_EMPTY, because loading fragments is slow, and buffer take time to be loaded correctly

Can you check your connection and tell me if there is some relationship between your connection and the issue ?

[2020-01-14 14:20] jeremco commented on #3113
I am sorry, but how can you play a mp4 file directly in dash.js ?
Have you got the manifest for your file please

[2020-01-14 14:45] dsilhavy commented on #2993
@tomraut Agreed, I prepared a pull request here: https://github.com/Dash-Industry-Forum/dash.js/pull/3159

[2020-01-14 14:55] tomraut commented on #3148
Fair enough, let's keep current behaviour as it is. I'll fix our integration by adding priority attribute.

[2020-01-14 14:55] #3148 closed

[2020-01-14 14:58] dsilhavy commented on #3123
Fixed in https://github.com/Dash-Industry-Forum/dash.js/pull/3160

[2020-01-14 14:58] #3123 closed

[2020-01-14 15:13] tomraut commented on #3126
@jeremco unfortunately there are no issues with my connection, it's been pretty stable peaking at 200Mbps. If this would be connected to slow bandwidth somehow, I think video's quality would drop significantly too, wouldn't it? It would also affect playback of video somehow, but I don't see neither of these symptoms. Instead, video keeps playing normally without any issues and buffer size increase

[2020-01-14 19:44] francoism90 commented on #3113
@jeremco I don't mean directly playing in dash.js, just simple using DASH with that mp4 file.
Will try to provide manifest file tomorrow.

[2020-01-15 03:26] learnyst opened #3161 "Persistent licenses on windows edge"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-01-15 08:37] jeffcunat commented on #3161
In fact, it is just a problem of Mixed-Content security issue in the sample. If you test the reference player page in https and the licenser url is in http, then Edge complains there is a security issue.

If you test it from http://reference.dashif.org/dash.js/v3.0.1/samples/dash-if-reference-player/index.html it should work.

We are going to provide a PR to make the licenser url in protocol-relat

[2020-01-15 08:53] jeffcunat commented on #3161
see #3163 (https for serverURL is fine for both http and https test page, so no need to use protocol-relative //)

[2020-01-15 10:05] #2993 closed

[2020-01-15 10:46] nicosang commented on #3006
Hi @NyuuuuOrz ,

as always, without sample stream, it's difficult to investigate.... :-(

Nico

[2020-01-15 10:55] dsilhavy commented on #3010
Fixed here https://github.com/Dash-Industry-Forum/dash.js/pull/3143

[2020-01-15 10:55] #3010 closed

[2020-01-15 14:25] nicosang commented on #2947
I close this issue because the stream seems to be played correctly now....

[2020-01-15 14:25] #2947 closed

[2020-01-15 14:30] #3161 closed

[2020-01-15 14:33] nicosang commented on #2925
sample streams seem to not be available anymore. Can we close this issue?

[2020-01-15 14:50] Canta opened #3165 "Possible regression in 3.x.x: Playback never starts in some live streams."
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-01-16 02:32] bknill opened #3168 "Create is not a function"
Using     "dashjs": "^3.0.1",

Do I have to do something else to get MediaPlayer to run in a Create React App?

[code]

**__WEBPACK_IMPORTED_MODULE_6_dashjs__.MediaPlayer.create is not a function**

[2020-01-16 06:04] learnyst commented on #3161
Hi,

I have tested by changing the protocol.

Step-1: Open dash reference player from https://reference.dashif.org/dash.js/v3.0.1/samples/dash-if-reference-player/index.html
Step-2: Change stream to https://profficialsite.origin.mediaservices.windows.net/c51358ea-9a5e-4322-8951-897d640fdfd7/tearsofsteel_4k.ism/manifest(format=mpd-time-csf)
Step-3: Click 'ShowOptions'. Change DRM key system to play

[2020-01-16 06:07] learnyst opened #3169 "Persistent Licenses on Windows Edge"
This issue is continuation of #3161 . The issue is related to persistent licenses on windows edge browser. There was some problem with protocol which is fixed but still the content is not using persistent licenses. Since #3161 is closed I am raising new ticket.

Below are the steps I used to test persistent licenses on windows edge:

Step-1: Open dash reference player from https://reference.dashif

[2020-01-16 06:10] learnyst commented on #3169
@jeffcunat I have tested in microsoft-edge-chromium-beta also. Persistent licenses are not working

[2020-01-16 08:58] jeremco commented on #3168
Hi,

In another project, we have imported dash.js in typescript using this syntax :

[code]

Can you try this piece of code please ?

Jérémie

[2020-01-16 09:01] jeremco commented on #3165
Hi

As I said in #3115, it s difficult to investigate the problem without having a way to reproduce it.
Is it possible to give an access to your stream ?

Jérémie

[2020-01-16 13:12] jeffcunat commented on #3169
@learnyst I have tested it on Edge 41 (based on EdgeHTML) and it works for me (only one POST request to licenser)

But on the last released Edge (based on Chromium) I confirm it does not work for PlayReady persistent license, but works with Widevine persistent license.

On what kind of Edge are you testing (EdgeHTML or Chroimum based) ?

[2020-01-16 13:45] jeremco commented on #3126
Hi,

The BUFFER_LOADER event is sent when buffer size reaches manifest minBufferTime value, defined in MPD. In your case, it is set to 10s, that's the reason why dash.js wait the buffer to be filled with 10s of data before sending BUFFER_LOADED event.

Now, i don't know why buffer is not filled faster with your connection.

[2020-01-16 17:14] learnyst commented on #3169
@jeffcunat I have tested on both

a. Windows 10 Microsoft Edge 44.18362.449.0: Persistent licenses not working
b. Windows 10 Edge (Based on chromium) :  Persistent licenses not working

[2020-01-16 19:37] Canta commented on #3165
@jeremco ,

I'm sorry. I know it's inconvenient, but that stream has some production DRM configurations, and I can't give DRM keys to third parties. And I could set up another dedicated stream for you to test, but the problem is, precisely, other streams work just fine: if I restart this one, it will be most likely fixed.

I brough this issue, and keep my private stream "broken", because I want to

[2020-01-17 08:08] jeremco commented on #3165
Hi @Canta

I understand your constraint
I made a fix for another problem with live stream in PR #3154. Maybe you can try your stream with this PR

Jérémie

[2020-01-17 08:18] jeffcunat commented on #3169
Could you please send logs for both cases. On my side, I confirm only Edge based on Chromium is not working ?

[2020-01-17 13:08] Canta commented on #3165
Your PR was merged minutes ago, and is already available on `Reference Client 3.0.1 (development, commit: e6c6c3c0)`. Sadly, it doesn't fix this issue.

Yet, your commit gives me a pointer to where to look at in the code, and I've been thinking about how to set up a testing "broken" stream for this. I'm working on another issue right now, but will be back on this shortly, and will keep you informe

[2020-01-17 13:15] dsilhavy commented on #3156
Fixed in https://github.com/Dash-Industry-Forum/dash.js/pull/3162

[2020-01-17 13:15] #3156 closed

[2020-01-20 07:30] tomraut opened #3171 "When network speed changes after startup, player won't start playback"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-01-20 07:35] tomraut commented on #3171
Please note that forcing player to go to LIVE by pressing "LIVE" button in reference player, fixes playback issue.

[2020-01-20 08:55] jeremco commented on #2893
Hi

I have added some logs to investigate the problem
When I play the stream after the pause, I have this logs :

[code]

What we can see in logs, is that when user clicks on play, currentTime value is before video buffer range.
That's why stream doesn't restart

CurrentTime is updated in playbackController using updateCurrentTime. The method detects that current video time is not in DVR anymore a

[2020-01-20 10:10] dsilhavy commented on #2997
Fixed in https://github.com/Dash-Industry-Forum/dash.js/pull/3164

[2020-01-20 10:10] #2997 closed

[2020-01-20 13:17] dsilhavy commented on #3150
@charlie-ht : Does this answer your question?

[2020-01-20 15:16] el-gringo commented on #2682
Hi, I have been able to wrap my license request, but I did not find a way to unwrap the response from the server.
Here is the way I did it:
`const player = dashjs.MediaPlayer().create();
player.initialize(video, null, true);
player.setProtectionData({
    "com.widevine.alpha": {
        serverURL: WIDEVINE_LICENSE_URL,
        httpRequestHeaders: {
            "Authorization": "Bearer " + authenti

[2020-01-21 07:13] tomraut commented on #3126
@jeremco fair enough, let's close this one and assume it's due some random network connection issues. It is strange still though that with 2.9.3 I didn't see same issue.

[2020-01-21 08:01] jeremco commented on #3126
Ok, thanks for your feedback.

[2020-01-21 08:01] #3126 closed

[2020-01-21 08:55] tomraut opened #3172 "Live streams start from beginning & playing minutes behind live edge on Windows 7"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-01-22 09:52] #651 closed

[2020-01-23 11:43] jzhoubupt commented on #3115
Hi @jeremco,
I understand your concern unfortunately this stream is on CDN and the access is under limitation.
My understanding is the implementation of [#3003](https://github.com/Dash-Industry-Forum/dash.js/pull/3003) is not robust enough. When a segment download takes longer the player starts to decide which segment to download based on time, in stead of in segment sequence and this also cause p

[2020-01-24 13:52] nicosang commented on #2893
in my last PR #3173, I think that the problem of outdated window dvr is fixed : after a long pause, a play command will restart at the dvr window start value.
Nevertheless, indeed, a better solution can be to reload the stream....maybe, it depends of service type....

[2020-01-24 13:56] nicosang commented on #3115
@jzhoubupt , could you please, test your stream on PR #3173 ?

Thanks,
Nico

[2020-01-24 14:18] nicosang commented on #2924
I close this issue because the sample stream is no longer available. Feel free to open it again....

[2020-01-24 14:18] #2924 closed

[2020-01-24 14:54] nicosang commented on #2559
I close this issue because, with latest dash.js version 3.0.1 (development, commit: be72f165), I can't reproduce it. I did a pause longer than 5 minutes and the stream restarted with a live latency about 300 seconds.

[2020-01-24 14:54] #2559 closed

[2020-01-24 15:45] nicosang commented on #2036
I close this issue, due to lack of feedback....

[2020-01-24 15:45] #2036 closed

[2020-01-27 10:34] nicosang commented on #2896
Hi @parth2094 ,

I try to understand what you expected with this sample stream. Your stream is a live segment timeline. So, dash.js try to play it at the live edge, so near the end of segments timeline list. Then, in "normal" use case, manifest is updated to renew this segments timeline list to inform dash.js with time stamp of new segments. According to me, it's a normal behavior that player fall

[2020-01-27 10:40] dsilhavy commented on #1858
WIth the current version of the dash.js player we jump over small gaps. Please reopen if any of the test streams referenced in this thread to not work as expected

[2020-01-27 10:40] #1858 closed

[2020-01-27 10:45] dsilhavy commented on #1895
Please check the articles [here](https://github.com/Dash-Industry-Forum/dash.js/wiki/How-to-create-DASH-manifests) and reopen if you still have problems creating the content.

[2020-01-27 10:45] #1895 closed

[2020-01-27 10:53] dsilhavy commented on #2502
@luna2216 Can you please check if this problem still occurs in version 3.0.1: http://reference.dashif.org/dash.js/v3.0.1/samples/dash-if-reference-player/index.html

[2020-01-27 12:06] dsilhavy commented on #2925
@grukx : Can you please reupload the stream and reopen the issue if your problem is still occuring in version 3.0.1: http://reference.dashif.org/dash.js/v3.0.1/samples/dash-if-reference-player/index.html

[2020-01-27 12:06] #2925 closed

[2020-01-27 12:16] vladimir-kazakov commented on #3169
I think there may be a misunderstanding of how persistent licenses must work.

A persistent license is a license that is stored by a CDM, and can be used even after restarting a web browser.

When a license request is generated using EME, the [EME session](https://www.w3.org/TR/encrypted-media/#mediakeysession-interface) gets a unique ID ([session ID](https://www.w3.org/TR/encrypted-media/#session

[2020-01-27 13:19] bbert commented on #3169
Persistent licences are working in dash.js, but not indeed as you expect in the sample application.
In this sample application, this is a simple example that is provided without preserving the sessions IDs (in local storage for example).
But the persistence principle is demonstrated and it is up to your application that integrates dash.js to preserve the sessions IDs.

[2020-01-27 13:40] vladimir-kazakov commented on #3169
@bbert,
1. Why the sample app doesn't store session IDs? Is there a good reason, or it's simply because nobody needed it before?
2. Is there an example or documentation about how session storage could be implemented? I mean some guidance for integrators.

[2020-01-27 14:12] bbert commented on #3169
@vladimir-kazakov
Because we did not take enough time to do it and it was not so obvious to implement. This is quite service specific. How do you link the contents and the corresponding MediaKey session IDs in this sample? Which data do you consider to be stored in local storage to map the session IDs?

Please refer to https://w3c.github.io/encrypted-media/#example-stored-license for a an explicit

[2020-01-27 14:23] vladimir-kazakov commented on #3169
Could it be done by using the URL of an asset?

[2020-01-27 14:54] bbert commented on #3169
Why not.
I don't have time to do it right now, I'll see later. But you can if you'd like.

[2020-01-27 19:14] swenkeratmicrosoft commented on #3169
@vladimir-kazakov

Unfortunately, persistent license sessions are not yet implemented in Chromium-based Edge, and I don't have a specific ETA at this time.  Once they are implemented, however, you can expect that the behavior will match legacy Edge.

[2020-01-28 09:11] dsilhavy commented on #3136
This has been fixed in https://github.com/Dash-Industry-Forum/dash.js/pull/3137

[2020-01-28 09:11] #3136 closed

[2020-02-03 15:30] dsilhavy commented on #2840
Fixed in #3158

[2020-02-03 15:30] #2840 closed

[2020-02-04 15:06] craigkhan opened #3175 "Multiple Subtitle types not being indicated"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-02-04 15:52] davemevans commented on #3175
This appears to work as expected (ie both variants selectable) using https://media.axprod.net/TestVectors/v7-Clear/Manifest_1080p.mpd from the list of samples in the reference player that contains eg:

[code]

[2020-02-04 23:35] wilaw opened #3176 "Implement Common-Media-Client-Data specification"
The CTA is about to complete the Common-Media-Client-Data specification. This specification details a common query arg (or request header) which is used my media players to convey useful information to CDNs. The draft spec is accessible here: https://docs.google.com/document/d/1S_Dj_aHVnbWnjeJYMfLU1D6tZoqYdgHT1stfznBvxig

I chair the work group at CTA which is developing this spec. I was hoping to

[2020-02-05 08:56] dsilhavy commented on #3175
@craigkhan Can you provide a sample manifest for which it does not work as expected?

[2020-02-06 02:04] kevleyski opened #3177 "3.0.2 not playing live edge (last working version 2.9.3)"
https://streams.switchmedia.asia/streama/live_dvr/live_dvr.isml/.mpd

(Chrome/macOS Catalina)

##### Steps to reproduce
Play the example stream in 2.9.3 vs latest (3.0.2) - observer the time which should be close to current time (in Sydney Australia)

Also it seems that 3.0.2 playback will stop (buffer empties where as 2.9.3 does not)

3.0.2 : https://streams.switchmedia.asia/streama/players/dash.

[2020-02-06 10:45] #3083 closed

[2020-02-07 13:11] dsilhavy commented on #3177
I looked into the stream and in my opinion the timeline is not correct:

Date.now() = 1581080779490

Your stream has one period and:
availabilityStartTime="1970-01-01T00:00:00Z"
Period@start = PT0S
Timestamp of last video segment in ms =  119208080 + 8999*1000 = 128208080

In my opinion the timeline you specify is way behind the live edge. Stream should look similar to this one in which you have t

[2020-02-07 13:55] dsilhavy commented on #3168
@bknill Did the suggestion by Jérémie work for you?

[2020-02-07 13:57] dsilhavy commented on #3165
@Canta Did you do some further testing or are you able to provide a hosted unprotected sample stream?

[2020-02-07 13:58] dsilhavy commented on #3172
@tomraut Can you please check if the problem still occurs in version 3.0.2 : http://reference.dashif.org/dash.js/v3.0.2/samples/dash-if-reference-player/index.html

[2020-02-07 14:03] dsilhavy commented on #2946
I did some further testing with the streams provided by @nicoweilelemental . I setup a small proxy server to filter audio and all video representations except one. Problem still occurs:
1. Player crashes quite frequently before transitioning between the periods
2. Sometimes (not always) there are gaps in the video buffer which lead to multiple TimeRange objects in video.buffered
3. I observed some

[2020-02-07 19:17] nicoweilelemental commented on #2946
Hey Daniel,

Do you mean that these problems are caused by our streams, or just that the player has erratic behavior?

New test streams (replacing previously provided URLs):
•	Multi-period, compact manifest, number with timeline:https://d24rwxnt7vw9qb.cloudfront.net/v1/dash/e6d234965645b411ad572802b6c9d5a10799c9c1/All_Reference_Streams/4577dca5f8a44756875ab5cc913cd1f1/index.mpd
•	Multi-period, com

[2020-02-09 21:24] bknill commented on #3168
@jeremco @dsilhavy thanks. No in the end I ended up importing MediaPlayerClass

    import {  MediaPlayerClass} from 'dashjs';
    const dash:MediaPlayerClass = MediaPlayer().create();

only then was Typescript happy.

[2020-02-09 21:24] #3168 closed

[2020-02-10 07:16] tomraut commented on #3172
@dsilhavy unfortunately issue is still there with 3.0.2 version too.

[2020-02-10 08:38] dsilhavy commented on #2946
Right now my guess is that dash.js has a bug since the streams play stable in Shaka. I will do some further investigation and let you know what I find out

[2020-02-10 10:19] dsilhavy commented on #2946
@nicoweilelemental Regarding the jumps I described in my previous post. Is there a version of the stream without ads? I would like to check why the player jumps back in time.

[2020-02-10 15:22] dsilhavy commented on #2946
The jump in the livestream is caused by changes made in the previous release (https://github.com/Dash-Industry-Forum/dash.js/pull/3149) . After the buffer is cleared:
`earliestTime[streamInfo.id].started = false;`

This leads to a seek triggered by the onBytesAppend function and we end up at the initialStartTime again. We need to find a way to fix this and not break the scenario described https://

[2020-02-10 18:09] nicoweilelemental commented on #2946
@dsilhavy here are the origin streams, without ads:
1. DASH, multi-period, compact manifest, number with timeline: https://ccf3786b925ee51c.mediapackage.us-east-1.amazonaws.com/out/v1/4577dca5f8a44756875ab5cc913cd1f1/index.mpd
2. DASH, multi-period, compact manifest, time with timeline: https://ccf3786b925ee51c.mediapackage.us-east-1.amazonaws.com/out/v1/91d37b0389de47e0b5266736d3633077/index.mpd

[2020-02-10 18:22] richardbushell opened #3178 "Regression on end of streams in 3.0.2"
Hi
I am experiencing a possible regression on dash 3.0.2.
Here's an example of one of our test streams:
https://living.video/MPD/hphoverlay.mpd
To reproduce:-
Options > Turn OFF Jump Small
Options > Turn OFF Loop
Load the MPD file
Click the progress/seek bar to a few seconds before the end of the video, then let the video finish.
Press the PLAY button again to re-start playing the video.
Behaviour

[2020-02-11 08:25] dsilhavy commented on #3146
We have to reopen this as the fix applied in #3149 introduced some regression for live playback. We have to find a different solution for the problem described in this issue

[2020-02-11 08:39] dsilhavy commented on #3178
@richardbushell Can you please check if this is fixed in the nightly: http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

[2020-02-11 08:57] richardbushell commented on #3178
Yep, that seems to fix it. Will test with more of our sources a bit later too.

[2020-02-11 10:55] dsilhavy commented on #3146
@tomraut : To be sure. Do you seek back using the progressbar or do you seek using the the API oder the native video element (video.currentTime = 0)

[2020-02-11 11:03] tomraut commented on #3146
@dsilhavy we have implemented our custom progressbar so all the seeking happens through API.

[2020-02-11 12:07] richardbushell commented on #3178
Yes, seems fine with other sources tested too, so reverting seemed to fix it.

[2020-02-11 12:38] dsilhavy commented on #3146
I can only reproduce the problem when I manually set video.currentTime = 0:

`var vid = document.querySelector('video')
vid.currentTime = 0;
`

When I use the Mediaplayer.seek function (which is the correct way to seek) it works fine for me. Mediaplayer.seek triggers a reset of the earliest time. This on the other hand will trigger a recalculation of the commonEarliestTime using the onBytesAppende

[2020-02-11 14:25] tomraut commented on #3146
@dsilhavy are you testing with 3.0.2 version? If so, then I guess it is fixed and that is way MediaPlayer.seek(0) works correctly. With 3.0.1 version it didn't work. We are using MediaPlayer.seek() in our custom timeline implementation.

[2020-02-11 14:33] dsilhavy commented on #3152
@dimitry-unified-streaming Agreed, the MPD is the point of truth.

[2020-02-11 14:50] dsilhavy commented on #1845
@dpieri Can you reproduce this error in in the latest nightly build?
http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

[2020-02-11 14:51] dsilhavy commented on #3178
Thanks for testing will close this then. 3.1.0 will be released end of this month

[2020-02-11 14:51] #3178 closed

[2020-02-11 15:19] Deathamns commented on #3130
Thank you! [v3.0.2](https://github.com/Dash-Industry-Forum/dash.js/tree/v3.0.2/dist)

[2020-02-11 15:19] #3130 closed

[2020-02-11 15:47] dpieri commented on #1845
@dsilhavy unfortunately I don't have access to the codebase where I was using dash.js and encountered this issue anymore.

[2020-02-11 16:37] dsilhavy commented on #3146
Tested here in the nightly build: http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

There we had to remove the fix which was referenced in this issue as it introduced some regression as described above.

[2020-02-11 16:39] dsilhavy commented on #1845
Ok then I will close this for now please reopen if you encounter it again

[2020-02-11 16:39] #1845 closed

[2020-02-12 08:45] dsilhavy commented on #3152
This is now handed by using the appendWindowEnd of the Sourcebuffer, see https://github.com/Dash-Industry-Forum/dash.js/pull/3153

[2020-02-12 08:45] #3152 closed

[2020-02-13 07:03] tomraut commented on #3177
Hi @dsilhavy we may have similar issue with 3.0.2 (and 3.0.1) with some of our live streams. I just noticed this behaviour yesterday where player randomly didn't start playing from live edge but instead from very beginning of the stream. I've noticed following when debug log was enabled:

1. When stream started from live edge, following was logged:
[code]
2. When stream fails to start from live ed

[2020-02-13 09:14] dsilhavy commented on #3177
@tomraut Thanks for reporting, would it be possible to get a hosted version of your manifest, ideally unencrypted? Or did you see this behavior with a different available stream as well?

[2020-02-13 09:32] tomraut commented on #3177
@dsilhavy I can try and ask but most probably this won't be an option as issue was with Finnish Hockey League content which is strictly DRM protected and we don't produce it ourselves, we're just getting it through MediaConnect. I can however add some more logging to local version of dash.js and see if that gives any more clues about what might go wrong. At the moment best guess is that this is so

[2020-02-13 09:56] dsilhavy commented on #3177
@tomraut I will try to find a vector with a similar problem. If it is possible it would be great if you can check the behavior against this pull request https://github.com/Dash-Industry-Forum/dash.js/pull/3173 . It sounds similar to the problem you describe

[2020-02-13 10:15] tomraut commented on #3177
@dsilhavy I can definitely try that pull request. It seems to be based on 3.0.1 though, any chance to rebase is against 3.0.2, @nicosang ?

[2020-02-13 10:52] tomraut commented on #3177
@dsilhavy I will be able to test this probably with actual Finnish Hockey League content on Monday. Do you yet know if pull request #3173 will be part of 3.1.0 scheduled to be released by the end of February?

[2020-02-13 12:06] tomraut commented on #3177
@dsilhavy I had a chance to test this today and with pull request #3173 stream no longer started from the beginning. However, it was 35-40s behind live edge compared to dash.js 2.9.3 where it was only approx. 20s away from live edge. So definitely improvement but still something fishy happening with new approach. Below is the debug log I've saved in case it helps anything:
[code]

[2020-02-13 13:10] tomraut commented on #3177
<img width="1674" alt="Screenshot 2020-02-13 at 15 04 53" src="https://user-images.githubusercontent.com/1769689/74438325-93bb8600-4e72-11ea-800c-32c3090df0b2.png">
@dsilhavy @nicosang here's comparison between dash.js 2.9.3 based player and 3.0.1. As you can see, according to in-stream clock, difference is only 10s but according to player's time indicator, difference is 30s.

[2020-02-14 11:42] tomraut commented on #3177
We managed to resolve issue with our stream by removing timeshift from USP: https://docs.unified-streaming.com/documentation/live/streaming.html#time-shift

However, like discussed today with @dsilhavy on Slack, it would be nice to see original issue to be resolved so that using timeshift will be possible in the future.

[2020-02-14 16:11] nicosang commented on #3177
Hi,

I can confirm that this is the same issue as the one fixed in PR #3173. I think that the difference between 2.9.3 and 3.0.1 is around computeLiveDelay function....

Nico

[2020-02-14 20:54] Canta commented on #3165
I'm sorry, but I'm unable to find the time for this task right now. Please, feel free to close the issue if it's not ok to keep it open for so long, as I can reopen it later or even creating a second one when I have better data.

Thanks.

[2020-02-18 14:32] dsilhavy commented on #3176
@wilaw : As I am starting to look into this. Can you provide a sample MPD hosted on Akamai CDN that does not reject preflight requests with the new header? As an example:
Request header field common-media-client-data is not allowed by Access-Control-Allow-Headers in preflight response

[2020-02-22 10:02] el-gringo commented on #2589
@zgzong We have tested the UTCTiming tag with no luck
Here is what we added to our manifest:
`<UTCTiming schemeIdUri="urn:mpeg:dash:utc:http-iso:2014" value="https://time.akamai.com/?iso" />`

[2020-02-26 04:27] snowinszu opened #3181 "How to get total segment count?"
Hello, I need to get total segment count from dash.js, how can I do that?

[2020-02-26 09:44] jzhoubupt commented on #3115
Hi,
Tested with 3.0.2 and i could not reproduce the issue any more.
However i still don't understand why. My issue is caused by content server can't responde a certain video segment request from client and in 3.0.2 i didn't see any timeout handling for http-request.
jzhoubupt

[2020-02-26 09:44] #3115 closed

[2020-02-26 10:49] dsilhavy commented on #3181
@snowinszu Cam you please provide more information on what exactly you are looking for. Is it the number of segments in the MPD? Or the number of downloaded segments? The number of segments in the buffer?

[2020-02-26 10:55] snowinszu commented on #3181
Hi， I am looking for the number of segments in the MPD

[2020-02-26 11:01] dsilhavy commented on #3181
Please check the [MANIFEST_LOADED ](http://cdn.dashjs.org/latest/jsdoc/MediaPlayerEvents.html#event:MANIFEST_LOADED) event. It is triggered when the manifest has been loaded by the player and provides a parsed version of the manifest. From there you could check the number of entries in the Segment element.

[2020-02-26 11:04] ThAlKa commented on #3181
Hey guys, a similar question: Is there a way to obtain the data size of the _next_ segment in all bitrates?  Assume that at time-slot **t**, the player invokes the ABR rule and obtains a bitrate adaptation decision for segment **t** and then proceeds to request and download it; thus by _next_ segment, I am referring to the segment that would be downloaded in slot **t+1**. According to my understan

[2020-02-26 11:13] snowinszu commented on #3181
@dsilhavy  Which one do you mean? This is the url: https://dash.akamaized.net/akamai/bbb_30fps/bbb_30fps.mpd
![image](https://user-images.githubusercontent.com/14010277/75339722-09d8d780-58cc-11ea-907c-0c10c6ca4328.png)

[2020-02-26 11:55] dsilhavy commented on #3181
@snowinszu Your sample uses SegmentTemplate. What you could do to calculate the total number of segments is: MPD@mediaPresentationDuration / (SegmentTemplate@duration/SegmentTemplate@Timescale). So essentially you use the total duration of the asset and divide it by the length of a segment. That way you know how many segments are required to play the complete content.

@ThAlKa : I don't think ther

[2020-02-26 12:24] snowinszu commented on #3181
Thank you very much

[2020-02-27 00:45] wilaw commented on #3176
The spec allows two modes of operation - custom header (which requires preflight auth) and query args. The query arg mode is really intended for MSE-based usage due to the limitations you have pointed out with headers. Therefore, please only implement the query arg mode i.e attach a custom query argument to each object request. This should not require any special permissions from the server.

[2020-02-27 16:05] dsilhavy commented on #3176
Update: We have implemented some aspects of the specification. This includes:

* Added a CMCD option to the reference landing page. It includes the possibility to enable the CMCD reporting as well as setting sid,cid,did. Right now the sid is mandatory, no query parameters will be attached to the outgoing requests if the sid is not specified.
* The following parameters are implemented:
  * Session

[2020-02-27 16:06] dsilhavy commented on #3181
@ThAlKa : Is the described solution sufficient for your needs or do you have any thoughts on that?

[2020-02-27 18:02] wilaw commented on #3176
Great progress! Some additional comments:
1. If SID is not specified, can you autogenerate a UUID for the playback session? Some sample code shown below

[code]

2. If CID is not specified, can you autogenerate by doing a MD5 (or other) hash of the manifest URL?

3. if DID is not specified, can you insert something like "dash.js-v3.0.2"

4. For "bs" - buffer state, can you at least flag a buffer r

[2020-02-28 12:54] ThAlKa commented on #3181
@dsilhavy Thanks for your response. I agree with you on that _segment-duration_ **x** _bitrate_ can serve as an approximation of the average segment data-size, yet the deviation (due to scene-specific spatiotemporal correlation) can be up to 50%, which is statistically significant. Nonetheless, obtaining segment data-sizes through the MPD is a standardization-related issue, so, for now, a work-aro

[2020-02-28 13:57] dsilhavy commented on #3181
@ThAlKa That is an interesting discussion especially in the context of scene/chunk based encoding. If I understand your approach correctly shouldn't it be latest_bitrate/r_i? So for instance if the last segment has a bitrate (according to the MPD) of 300kbit/s but the actual download was 400kbit/s you get a factor of 1.3 for the next segment (400/300)? A possibility to further enhance your predict

[2020-02-28 22:55] wilaw commented on #3176
In last CMCD meeting this week, the [spec](https://docs.google.com/document/d/1S_Dj_aHVnbWnjeJYMfLU1D6tZoqYdgHT1stfznBvxig) had a change to make it compliant with an upcoming IETF standard https://httpwg.org/http-extensions/draft-ietf-httpbis-header-structure.html  for header structure. As a result, the payload is now constructed with the following changes

- Use = as key/value separator
- Use com

[2020-03-02 15:50] dbpaul commented on #3114
I have exactly the same problem. Would really appreciate it if this racing condition could be fixed.

[2020-03-03 13:26] dsilhavy commented on #3176
Update on the status:

- Added a sample to the samples page: samples > advanced > cmcd
- Added JSDoc to Settings.js
- Reset CMCD Model in MediaPlayer when new content is attached
- sid,cid and did are generated when not provided by the user
- bs is implemented providing all four values (1-4) as defined in the spec
- Use = as key/value separator
- Put string types in double quotes

An example reque

[2020-03-03 19:24] wilaw commented on #3176
Thanks for the great progress and the updates on the new encoding.

v=1,sid="b248658d-1d1a-4039-91d0-8c08ba597da5",cid="21cf726cfe3d937b5f974f72bb5bd06a",did="dash.js-cmcd-default-id",st="v",br=130,ot="a",d=1997,mtp=20170,dl=28011

Some minor corrections
1. The st and ot keys have values whose types are Tokens and not Strings, hence they must not be quoted. Correct usage would be st=v,ot=a,
2. For

[2020-03-06 14:54] eowino opened #3187 "Smooth Stream (MSS Parser): Multi-audio track selection bug"
##### Environment

- [ ] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/ - **No, as its a Smooth Stream Manifest**
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-For

[2020-03-06 14:58] eowino commented on #3187
Changing the following line: https://github.com/Dash-Industry-Forum/dash.js/blob/7981d20ab95d23b3df71aa970e55b0a42e3a76fe/src/mss/parser/MssParser.js#L120

To (for e.g.):

[code]

resolves the issue as playback continues.

[2020-03-06 15:17] eowino commented on #3187
The Smooth manifest in question (albeit sanitised and trimmed):

[code]

[2020-03-06 20:20] adamsas opened #3188 "SegmentBase, ondemand profile seek issue"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-03-06 23:49] buhlaze opened #3189 "CMAF manifest"
I am confused about cmaf. Is Cmaf just a mpeg-dash manifest with Availabilitytimeoffset added to it? I want to use it instead of mpeg-dash.
Also, how do you make a CMAF manifest with ffmpeg with or without shaka player? I have looked everywhere and can't find an example of how to MAKE a CMAF manifest.

[2020-03-07 01:00] wilaw commented on #3189
CMAF is not a streaming format. It is simply a ISOBMFF file container that can be used with either a HLS or DASH presentation. So there is no such thing as a cmaf manifest. There is a DASH manifest that references audio, video, caption and timed-text data encapsulated within CMAF file containers.

-Will

Sent via the Samsung Galaxy S10, an AT&T 5G Evolution capable smartphone

-------- Original me

[2020-03-07 14:48] #2849 closed

[2020-03-09 21:49] PolynomialDivision commented on #2551
Hmmm, I facing the same problem:

https://github.com/twitchtv/acm-mmsys-2020-grand-challenge/issues/8

[2020-03-10 13:04] southworkschaied commented on #1993
Any updates on this feature?
Thanks!

[2020-03-10 15:26] karlbrowns opened #3192 "Not playing at the live edge using Chrome and libavformat"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-03-10 17:09] wilaw commented on #3192
A few things seem incorrect here:
1. Do use the latest version of dash.js for low latency - in fact, use the nightly build which will get released this Thursday as 3.0.3
2. Ensure your player is configured to play low latency - see https://reference.dashif.org/dash.js/v3.0.2/samples/low-latency/index.html
3. Your manifest shows segment duration of 1.2s, not 0.5s.
4. Manifest does not list availabi

[2020-03-11 08:54] dsilhavy commented on #3189
@buhlaze Does this answer your questions? Feel free to close the issue if so. Thanks

[2020-03-11 08:54] #3181 closed

[2020-03-11 08:58] buhlaze commented on #3189
yes. Thank you

[2020-03-11 08:58] #3189 closed

[2020-03-11 08:59] dsilhavy commented on #3175
Closing this due to inactivity, feel free to reopen with a concrete testvector

[2020-03-11 08:59] #3175 closed

[2020-03-11 09:02] dsilhavy commented on #3187
@eowino Can you open a. pull request for your change/fix?

[2020-03-11 09:49] eowino commented on #3187
@dsilhavy Sure can!

[2020-03-11 12:17] dsilhavy commented on #3176
Can I close this issue for now and we open a new one once we continue working on rtp and nor paramters?

[2020-03-11 15:45] wilaw commented on #3176
Absolutely. Thanks for the work on this. There may be changes once the spec gets finalized (it went to community review this week with dash.js as the example player)  , but I'll open a new issue for those in the future.

[2020-03-11 16:34] mpegdash-user opened #3196 "Version 1 event messages appear late in media timeline"
When using version 1 event messages, their presentation time in the media timeline is bumped out (roughly) double the expected time from the start time.

When playing video with inband version 1 event messages (`emsg`),  the`DashAdapter.js`  code uses version 0 logic and adds the `presentation_time_delta` field of the `eventBox` object to  the presentation time of the current segment to create the

[2020-03-13 08:58] #3176 closed

[2020-03-13 18:03] mattlama opened #3197 "Player flushes buffer on MPD update for multi period MPD"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-03-16 16:08] dsilhavy commented on #3187
Fixed in #3195 thanks

[2020-03-16 16:08] #3187 closed

[2020-03-17 01:00] kenziD opened #3200 "player stalled when seek to near end of the seekbar"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [ ] The issue occurs

[2020-03-17 07:26] dsilhavy commented on #3200
@kenziD Just to be clear since you wrote "And I found in the 3.0.1 and up version of reference client ,this won't happen" . This does not happen in the nightly version?

http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html
Thanks

[2020-03-17 13:35] bbert commented on #3133
@akeco do you still have this issue?
If yes can you provide a valid test stream so that can test and merge the related PR (#3135)

[2020-03-17 13:49] Achibana commented on #2682
@el-gringo you can unwrap the response from the Server:
                const licenseMessage = licenseServerData.getLicenseMessage(xhr.response, keySystemString, messageType);
you can extent each server, like Widevine or PlayReady.

[2020-03-17 14:02] bbert commented on #3019
@galileogalilei can youcheck if the issue is still present with latest version?
appendWinwoend is now used in dash.js as explained in PR #3153, and it may resolve your original issue.
Let us know.

[2020-03-17 14:46] #3165 closed

[2020-03-17 14:51] dsilhavy commented on #1640
@fabirydel @djmaxisauce Is this still an issue or can we close this ticket?

[2020-03-17 14:52] dsilhavy commented on #1676
Closed due to inactivity

[2020-03-17 14:52] #1676 closed

[2020-03-18 02:56] kenziD commented on #3200
@dsilhavy just check,this won't happen in the link that you gave

[2020-03-18 09:20] Robloche opened #3202 "Playing some streams on Edge-Chromium fails with MEDIA_ERR_DECODE (PIPELINE_ERROR_DECODE)"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-03-19 10:19] el-gringo commented on #2682
@Achibana Thank you, but I did not find a way to access licenseServerData. It does not seem to be exported anywhere.

[2020-03-19 14:45] dsilhavy commented on #3200
We had a fix for a similar issue in 3.0.1 here : #3149
Why not use the latest version of the player (3.0.3) if this is fixed there?

[2020-03-20 01:59] kenziD commented on #3200
Because we want to use video.js as player in our project.

[2020-03-20 07:37] bbert commented on #3019
I do not manage to reproduce, even when disabling use of appendWindowEnd property.
Please reopen it if you manage to reproduce.

[2020-03-20 07:37] #3019 closed

[2020-03-20 11:31] Robloche opened #3203 "Widevine not used in Edge-Chromium"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-03-20 14:37] dsilhavy commented on #3200
You can try to apply the patch in #3149 to your version of the player. There will be no changes to existing releases though.

[2020-03-20 14:38] dsilhavy commented on #3192
@karlbrowns does this solve your issue?

[2020-03-20 14:45] dsilhavy commented on #3203
Currently there is no DRM priorization configurable via the reference UI. As you can see in your output logs the Edge-Chromium Browser uses a Playready DRM:
`DRM: KeySystem Access Granted (com.microsoft.playready)!  Selecting key system... `

This is possible because for Playready the license server url is part of the init data. For Widevine it needs to be provided manually. By default, dash.js wi

[2020-03-20 14:54] Robloche commented on #3203
Thanks! I'll try to use the priorization.

[2020-03-20 15:08] Robloche commented on #3203
Works like a charm!
Thank you so much.

[2020-03-20 15:08] #3203 closed

[2020-03-23 00:20] kenziD commented on #3200
yes,the patch dosn't work in my case.

[2020-03-24 00:58] kenziD commented on #3200
hi,dsilhavy,I finally work around about this issue.I use ffmpeg to generate accurate video segment and it's not stalled anymore.But I still hope this situation can be fixed though.Thanks.

[2020-03-24 12:30] dsilhavy commented on #3200
Since it is fixed in 3.0.3 we will not look into this issue in outdated versions of the player sorry.

[2020-03-24 12:30] #3200 closed

[2020-03-25 12:43] karlbrowns commented on #3192
Hi,
Sorry, been called away for various issues.  I will try this all again in a
week or two.  First step is to get an HTTP2 server running, and I'll let
you know if I run into any more issues.

Thanks,
Simon

On Fri, 20 Mar 2020 at 14:38, dsilhavy <notifications@github.com> wrote:

[2020-03-25 17:13] jafs commented on #3019
Hi,

with 3.0.3 versión I have the same problem when seek to random positions with a Live isml.

Environment
-  The stream has correct Access-Control-Allow-Origin headers (CORS)
- There are no network errors such as 404s in the browser console when trying to play the stream
- Dash.js version: v3.0.3
- Browser name/version: Google Chrome 80.0.3987.149 (Official Build) (64-bit)
- OS name/version: Wi

[2020-03-26 15:52] wilaw opened #3207 "Invalid path to dashif.ico"
Reference player HTML tries to load

https://dashif.org/wp-content/uploads/2014/12/dashif.ico

which is invalid after website migrated to github.

Correct URL is

http://dashif.org/img/favicon.ico

[2020-03-27 10:58] dsilhavy commented on #3207
Fixed

[2020-03-27 10:58] #3207 closed

[2020-03-27 14:11] dsilhavy commented on #2502
Could not reproduce anymore with:
Url: https://media.axprod.net/TestVectors/v7-MultiDRM-MultiKey-MultiPeriod/Manifest_1080p.mpd
Player: http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html
Edge Version: Microsoft Edge 44.18362.449.0

Please reopen if you still see probelms

[2020-03-27 14:11] #2502 closed

[2020-03-27 14:54] dsilhavy commented on #2763
Fixed in #3209 , thanks

[2020-03-27 14:54] #2763 closed

[2020-04-01 09:43] dsilhavy commented on #3177
Linked to #3173 . We fixed some issues with the computeLiveDelay here https://github.com/Dash-Industry-Forum/dash.js/commit/12fafca9d305833a0b5482bcd4c6e8d8fa8ecabc . Live delay calculation works fine in my opinion, problem is that the segments specified in the manifest are way behind the calculated live edge. dash.js does not find a suitable segment and starts playing at the beginning. As describ

[2020-04-01 10:10] dsilhavy commented on #3197
I did some investigation on that and identified similar problems in #2946. dash.js creates a Stream object for each period. On Period transition the Stream objects are switched. In some cases the Stream object is not switched and the player tries to find segments for an outdated Stream object /period. Consequently the playback stalls. We will investigate further in this direction.

[2020-04-02 15:33] mattlama commented on #3197
A common thing I notice with that thread is that there appears to be gaps between buffered ranges of the two periods. If the buffered range not being contiguous causes the player to have issues I am not sure how we have a gap in the first place. I do not see any gaps when just looking at the mpd. How does the buffered range get calculated?

[2020-04-03 11:26] dsilhavy commented on #2946
@nicoweilelemental : An issue that causes dash.js to crash frequently with _1)DASH, multi-period, compact manifest, number with timeline_ is that in some cases the MPD update removes periods and adds new periods without prior notification. As an example:

**Common case in asset 1) **
Period 1
-> MPD Update
Period 1
Period 2
-> MPD Update
Period 2

**Edge case which causes a crash**
Period 1
-> MPD

[2020-04-07 01:56] nicoweilelemental commented on #2946
@dsilhavy  I believe that the second manifest is compliant considering that there is 60 seconds of content in the <SegmentTimeline> and <MPD timeShiftBufferDepth="PT59.000S">.
Section 13.6.3 of https://dashif-documents.azurewebsites.net/Guidelines-TimingModel/master/Guidelines-TimingModel.html#timing-mpd-updates-remove-content
says that this is a valid case for removing the previous period:
"**Exp

[2020-04-07 07:32] dsilhavy commented on #3196
@mpegdash-user Can you provide a sample stream with version 1 emsg boxes?

[2020-04-07 08:21] dsilhavy commented on #1394
Fixed in #3170

[2020-04-07 08:21] #1394 closed

[2020-04-07 08:22] dsilhavy commented on #1294
Fixed in #3170

[2020-04-07 08:22] #1294 closed

[2020-04-07 17:18] r-novel opened #3214 "Playing VOD stream fails with error on create SourceBuffer"
##### Environment

- [ ] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-04-08 06:28] dsilhavy commented on #3214
Hi, can you please

- Paste the content of your MPD here so we can check the parameters
- Paste the log of the conformance tool validation as your MPD seems to fail the conformance check
- Try to call dash.js with the following setting:
[code]

[2020-04-15 13:51] Ballevill opened #3216 "We tested vp9 and opus support for device before playing"
We tested vp9 and opus support for device before playing (by canPlayType) but in some devices (TVs) there was support for vp9 and opus but in DASH streaming there was no sound. When we tried with Vorbis there was problem in other TV.

We are using VideoJs with Dash.js and videojs-contrib-dash.

[2020-04-15 15:15] thehusmin commented on #3144
Hi,

Could you please provide an update about the status and why it is unassigned?

Thanks!

[2020-04-15 17:15] dsilhavy commented on #3144
Hi @thehusmin ,
the developer who was looking into this is not longer working on dash.js. We will try to look into it in one of the next sprints.

[2020-04-15 17:18] dsilhavy commented on #3216
@Ballevill Sorry, but with this problem description it is impossible to give you any feedback except: dash.js uses the MSE implementation and the browser on the respective platform. If the platform does not support one of the codecs, playback will start with a black screen (in case the video codec is not supported) or with no audio(in case the audio codec is not supported).

[2020-04-15 20:57] Ballevill commented on #3216
Hi the problem is different. I have 4 tv that work with vp9 codec and opus and work properly on every tv. However, after converting to dash they stop working (no audio), so the problem appears only after converting to dash. There is an obvious problem with the audio codec because half of the tv works correctly with the opus codec and the second with vorbis (video does not start).
All my TVs suppor

[2020-04-15 21:01] Ballevill commented on #3216
My mpd file :)

<?xml version="1.0" encoding="UTF-8"?>
<MPD
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="urn:mpeg:DASH:schema:MPD:2011"
  xsi:schemaLocation="urn:mpeg:DASH:schema:MPD:2011"
  type="static"
  mediaPresentationDuration="PT241.631S"
  minBufferTime="PT1S"
  profiles="urn:webm:dash:profile:webm-on-demand:2012">
<Period id="0" start="PT0S" duration="PT241.631S" >
<Ad

[2020-04-16 13:04] dsilhavy commented on #3144
@thehusmin : In your MPD the @minBufferTime is set to 10seconds while the target latency is set to 2seconds and your minimum latency is 1second. I think @minBufferTime should be equal or less  than your minimum latency.

[2020-04-16 14:39] dsilhavy commented on #3144
@thehusmin I made some changes to the segment request logic, can you please check against the latest nightly build: https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

[2020-04-16 14:40] dsilhavy commented on #3177
@tomraut : I made some changes to the segment request logic, streams should not start from the beginning anymore if no segment was found for the initially calculated live edge. Can you please check if your problem is solved in https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

[2020-04-16 20:27] dsilhavy commented on #3147
- Restructure landing page, make samples section more prominent

[2020-04-16 20:31] dsilhavy commented on #3216
@Ballevill Maybe something goes wrong during DASH packaging. I will leave this open for a few days, maybe someone has experienced a similar problem. However, I don't see an option to help you here since it does not seem to be a problem with dash.js but with the content itself.

[2020-04-16 20:37] dsilhavy commented on #3169
Please open a new issue with a concrete feature request if changes to dash.js are required.

[2020-04-16 20:37] #3169 closed

[2020-04-16 20:41] dsilhavy commented on #3075
@forumrulez Can you please test against the latest player version and let me know if this problem still occurs: http://reference.dashif.org/dash.js/v3.1.0/samples/dash-if-reference-player/index.html Also please close the ticket if this issue has be solved in the meantime.

[2020-04-16 20:42] dsilhavy commented on #3078
@Achibana Did the suggestion of @jeremco solve your issue?

[2020-04-17 07:47] harishnb opened #3218 "Performance and code size info"
Where can find performance info about the player such as:
Download bit rate (min, max)
Time to start the video (video startup time)
No of stalls
etc
Also the code size. Kindly point to me if it is documented somewhere.

[2020-04-17 08:44] tomraut commented on #3177
@dsilhavy unfortunately we don't have any problematic timeshifted streams available at the moment as all of the sports events are on hold due the current situtation.

[2020-04-17 09:34] dsilhavy commented on #3218
Please check the Events section in our API documentation: http://cdn.dashjs.org/latest/jsdoc/module-MediaPlayer.html

In particular I recommend to register for the METRIC_ADDED event:
[code]
In addition check the MediaPlayer APIs
http://cdn.dashjs.org/latest/jsdoc/module-MediaPlayer.html

[2020-04-17 09:44] dsilhavy commented on #3147
See #3219

[2020-04-17 09:50] #3147 closed

[2020-04-17 10:21] harishnb commented on #3218
Thank you so much for a quick response. Is there any study or numbers published of the code size and performance numbers?

[2020-04-17 11:47] dsilhavy commented on #3202
@Robloche We checked the reference streams of Axinom in Chromium-Edge and they play fine with a Playready DRM. If you can provide a sample manifest we can check this as well, otherwise make sure that your content is conditioned properly,your license server returns a valid license and you use the latest version of Chromium Edge and dash.js.

[2020-04-17 12:58] Ballevill commented on #3216
@dsilhavy {ffmpeg} -i {input} -map 0:1 -c:a libopus -ac 2 -b:a 128k -vn -f webm -dash 1 {output}-audio.webm 2>&1

Is this command correct buddy?

[2020-04-17 19:14] jmar777 opened #3220 "Why are retryAttempts and retryIntervals modified in low latency mode?"
While testing error recovery, I noticed that the `retryAttempts` and `retryIntervals` seemed to be getting ignored. Upon further inspection of the source, I learned that, while these settings aren't outright disregarded, they do become modified when running in low latency mode.

[Source](https://github.com/Dash-Industry-Forum/dash.js/blob/9291d30ca8a85bfa7ce934dc9e6cc905c46bafea/src/streaming/mode

[2020-04-18 17:50] azeemmohd opened #3221 "Encryption in DASH"
Hi,

I had the following questions around Encryption in DASH protocol, and would be grateful for your help with them:

Does the DASH Protocol, allow for keeping raw keys themselves, instead of specifying a key acquisition url, for the encrypted content within the manifest?

What is the difference between Common Encryption, and Segment Encryption?

Specifically, I am looking to understand what woul

[2020-04-18 20:06] r-novel commented on #3214
Hello, @dsilhavy . Sorry for delay. I've tried to disable useAppendWindowEnd option and it helped me.

Thank you, for your help. 👍

[2020-04-18 20:06] #3214 closed

[2020-04-19 07:48] dsilhavy commented on #3218
I am not aware of a specific study in terms of code size etc. But I would expect you can run some analysis on the code with specific npm modules

[2020-04-20 07:20] dsilhavy commented on #3216
You have to ask that in the ffmpeg forum. From a player perspective please also check if you see a debug message :
[code]
We do a check with the MSE.isTypeSupported function prior to starting the playback

[2020-04-20 07:32] dsilhavy commented on #3220
Hi @jmar777 , I agree that values set by the user should take precedence over default values. Downside of the Settings.js is that we do not maintain information if a value was changed by the user.
In my opinion the cleanest way would be to have a single constants file with default values and a settings object with values coming from the user. Settings object would override default values.

For now

[2020-04-20 08:06] Ballevill commented on #3216
@dsilhavy Before playing, I have messages about the support of all codecs on all TVs, in addition, I have another LG TV with the same error that if the file is completely with the vp9 codec and opus plays correctly through the browser on tv, however, if it is added to dash, this is only an image without sound

video/webm; codecs="vp9": probably
audio/webm; codecs="opus": probably
audio/webm; codec

[2020-04-20 08:37] thehusmin commented on #3144
Hi @dsilhavy, I've checked the stream and start time looks correct.

But the stream does not play as expected that it's having glitches. I tested the same stream with version 3.0.3 and it plays without glitches.

[2020-04-20 08:58] dsilhavy commented on #3144
@thehusmin In my tests the glitches are caused by the target latency. The maximum latency is set to 6sec which seems to result in frequent buffer underruns. 3.0.3 plays 300seconds behind live edge, so the buffer is never empty.

[2020-04-21 12:19] beaconskartik commented on #1993
Any updates on supporting AES-128-CBC?

[2020-04-21 12:43] dsilhavy commented on #3221
Related to #1993

[2020-04-21 12:53] dsilhavy commented on #3177
Ok I will close this for now, as it was fixed in #3217 . Please reopen if required.

[2020-04-21 12:53] #3177 closed

[2020-04-22 04:23] azeemmohd commented on #1993
Hi,

When using AES ClearKey, does the DASH protocol mandate putting the key acquisition url in the manifest or make it optional, as I see that some players like Exoplayer allow keys to be configured with the keys direclty like so:

[code]

[2020-04-22 06:58] dsilhavy commented on #1993
@azeemmohd dash.js allows you to set the keys via the API as well:

[code]

[2020-04-22 07:46] kunalgoelgh commented on #3221
We are currently evaluating encryption with DASH protocol.

For the choice between CENC and segment encryption, is there a way we get information on the current support available for these protocols across players : AMP, Shaka, Exo, etc and across browsers : Chrome\Firefox\IE\Edge, etc.

Moreover, we wanted to understand the scenario in which CENC is used vs Segment encryption.

The documentation

[2020-04-22 07:46] kunalgoelgh commented on #1993
@dsilhavy
Can we use a custom license delivery url in dash.js instead of providing AES key directly?

Tried:
var laUrl       = 'https://protectionkey.free.beeceptor.com/my/api/path';
player.setProtectionData({
				"org.w3.clearkey": { "serverURL" : laUrl }
				//"org.w3.clearkey": { "clearkeys": { "QyFWeBI0EjQSNBI0EjQSNA":"EjQSNBI0EjQSNBI0EjQSNA" } } // KID=KEY
			});

Here, the dash.js player doe

[2020-04-22 15:43] Murmur opened #3222 "Manifest(type=static), multiperiod and MPD Update event does not playback all periods"
Player is able to playback a multiperiod manifest if all periods are returned in an initial reload and/or each mpd update event returns all periods.

If I split main content and advert periods over each mpd update event, reload event happening 45s before main content ends, player is unable to playback new periods after an initial reload.
* Initial reload have just one period `maincontent@p1` 60sec

[2020-04-22 15:59] Murmur opened #3223 "EventStream in multiperiod mpd and presentationTime on period's boundary seconds not always triggered"
This multiperiod manifest has timestamps exactly on 0s and 60s period boundary seconds, and next period has timestamps similar on first second(=which was last second of previous period). Player dashjs does not always submit those _on-boundary-seconds-events_ . This is a reason I also made _+1sec-from-period-start-event_ which is always triggered.

Reloading and playing a manifest many times player

[2020-04-22 16:49] Murmur commented on #1993
See this example for ClearkeyDRM(Firefox,Chrome) with LaUrl address, so this using the similar method Playready and Widevine systems would use.
`https://m.dtv.fi/dash/index_clearkey2.html?video=33`

Study this script how to handle clearkey license request, script has a hardcoded KID=KEY lookup list but you should get the idea. Also F12 debug firefox-chrome http requests to see http payloads.
https

[2020-04-23 08:00] tomraut opened #3224 "Seeking within DVRWindow takes a lot of time if suggestedPresentationDelay exists in MPD"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-04-23 09:03] spoeschel opened #3225 "Doc: fix useSuggestedPresentationDelay values"
The default value of the property `useSuggestedPresentationDelay` has been changed from `false` to `true` by #3201:

https://github.com/Dash-Industry-Forum/dash.js/blob/2cce63dfe2ac42019db018825e7ad91d665a224c/src/core/Settings.js#L393

But the value has not been changed in the example and in the property entry by mistake:

- https://github.com/Dash-Industry-Forum/dash.js/blob/2cce63dfe2ac42019db0

[2020-04-23 10:00] dsilhavy commented on #3225
Thanks, fixed here: https://github.com/Dash-Industry-Forum/dash.js/commit/a25c659f2e5d83f32ba763c5065a420f816fc713

[2020-04-23 10:00] #3225 closed

[2020-04-23 13:10] spoeschel opened #3226 "Live stream: live delay calculation based on fragment duration"
##### Environment
- [X] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occurs

[2020-04-23 13:45] dsilhavy commented on #3226
We should not cap the latency in dash.js the problem you are describing should also occur when suggestedPresentationDelay is greater than 12 or the user sets the live delay to a value greater than 12.

Ideally the controlbar queries the target latency from the player and then calculates the latency difference between target latency and current latency.

[2020-04-23 14:26] spoeschel opened #3227 "Live stream: live delay calculation with different fragment durations"
##### Environment
- [X] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occurs

[2020-04-23 16:39] dsilhavy commented on #3222
@Murmur
I don't think what you do is standard conform. You have a static MPD, this means:
_For static Media Presentations, the availability times of all Segments are identical._ This is not the case in your example, as you add new segments over time.

Moreover, I don't really understand the scenario behind your use case. Why not publish the MPD when all content has been encoded and packaged?
If we

[2020-04-23 17:24] jpiesing commented on #3222
@dsilhavy It's intended to be a live MPD - a test stream to simulate what a player might see after a server-side ad replacement has happened.

[2020-04-23 20:42] dsilhavy commented on #3222
@jpiesing, @Murmur  Thanks for the clarification, also saw your email :)

So this is pretty tricky but here is what happens:

1. You start the playback, only one period is included in the MPD.
2. Mediasource.duration is set to @mediaPresentationDuration.
3. dash.js fills its buffer with the segments from period 1.
4. In my tests the buffer was completely filled (60 seconds of period 1)  **before**

[2020-04-24 10:21] Murmur commented on #3222
@dsilhavy  ok thanks for the suggestion.

This manifest is a vod test `type=static` with a midroll server-side advert replacement. Adverts filenames may not be decided at the beginning of vod playback but advert selection may be deferred closer to the midroll timestamps (example 45s before the end of main content period 60s-45s=15s).

I made a modification `manifest_r1.mpd` to trigger MPDReload ev

[2020-04-24 12:15] spoeschel opened #3228 "DVR window param "r" only accesses older DVR window half"
##### Environment
- [X] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occurs

[2020-04-24 17:36] wilaw opened #3231 "Investigate Learn2Adapt-LowLatency algorithm for near-second latency adaptation."
Interesting development in low latency ABR algorithms from Unified Streaming, as they submit a solution to the Twitch MMSys challenge, along with a fork of dash.js implementing the algorithm.

https://github.com/unifiedstreaming/Learn2Adapt-LowLatency

Solution proposes a stable algorithm for near-second latency operations.

"ABSTRACT
Achieving low-latency is paramount for live streaming scenarios

[2020-04-26 06:15] kunalgoelgh commented on #3221
@dsilhavy \ @Murmur \ All

Any update on the same.
Basically an anawer to the following questions
1) What is the difference between CENC and SEA protocols - and its support in media players
2) And can Key:ID be embedded directly in MPD, to avoid using a LAUrl (and hence an additional call to license server).

[2020-04-26 06:25] kunalgoelgh commented on #1993
Thanks.

@Murmur \ All

Is it possible to
1) Read LaUrl from MPD file for ClearKey instead of Application\System specific settings to the player?
(And is this ability implemented as a choice by players?)

We wanted to explore if the manifest file can be the source of truth, so that any additional params are not required to passed to the player separately.

The DashIF and W3C documentation calls ou

[2020-04-26 09:07] natvaldev opened #3232 "Change the location of segments in the mpd"
I have 2 videos in different location which I want to combine in a single MPD.
Following [this](https://dashif-documents.azurewebsites.net/DASH-IF-IOP/master/DASH-IF-IOP.html#ads-examples) example, I tried combining the videos in 2 different periods.

    <?xml ...>
    <MPD ...>
      <Period ...>
        ...
      </Period>
      <Period ...>
        <BaseURL>another/</BaseURL>
        ...

[2020-04-26 09:13] #3232 closed

[2020-04-26 09:19] Murmur commented on #3221
2: ClearKeyDRM key without laurl request
You already saw this example in an another topic, ClearKeyDRM with LAURL option (player's custom option). `https://m.dtv.fi/dash/index_clearkey2.html?video=33`

See this example embedded clearkey KID:KEY in a player's custom javascript `https://m.dtv.fi/dash/index_clearkey2b.html?video=33`

If you wanted to use ClearKey LAURL and provide url in a manifest I

[2020-04-26 12:22] kunalgoelgh commented on #3221
Thanks.

For the embedding, i was referring to Key:KID pair embedded in manifest file, probably via a PSSH element or some other way.

For LaUrl being read from Manifest:- The confusion is from EME specification and DashIF protocol. Since both of these do callout that LaUrl can be provided in MPD file with SystemId: e2719d58-a985-b3c9-781a-b030af78d30e.

In https://dashif.org/docs/DASH-IF-IOP-v4.3

[2020-04-26 12:37] kunalgoelgh opened #3233 "MPEG-SEA vs MPEG-CENC encryption protocol"
W3C calls out two different methods for encryption of video streams.
However, there is no documentation on which should be chosen in what scenario.

There is no comparison available, and the MPEG-SEA doesn't seem to be supported by Shaka player.
(Dashjs player also doesn't support. This is already called out in #1993, #3221 )

Creating this separate thread to discuss merits of these 2 protocols, t

[2020-04-27 06:01] natvaldev opened #3234 "Building static mpd with parameters"
Assume I have multiple sources of static video and I want to dynamically create the MPD.
That MPD should be splitted into a few periods according to some parameters.
I have a route to create that MPD, but I got stuck on how to initialize the player.

For example, let's say I have a route `POST /generate { ... params ... }` that generate the mpd.
I want to download the segments from `media/<path-fr

[2020-04-29 09:46] kunalgoelgh commented on #3233
Linking to https://github.com/Dash-Industry-Forum/CPIX/issues/84.

[2020-04-29 09:46] #3233 closed

[2020-04-29 10:05] Murmur commented on #3222
@dsilhavy Modified dashjs `StreamController.js: mediaSourceController.signalEndOfStream(mediaSource)` line commented out is able to playback dynamic multiperiod manifest fine, each mpdreload event is triggered, new periods be added, transitions from the previous period to next one is smooth.

At the end of everything logger say `[toggleEndPeriodTimer] start-up of timer to notify PLAYBACK_ENDED eve

[2020-04-30 06:32] po-lan opened #3237 "Uncaught TypeError: player.setAutoSwitchQualityFor is not a function In v3.1.0"
When I tried to switch the quality in V3.10, I found that。

But v2.9.0 is ok

[2020-05-01 10:56] cmaf-ingest opened #3239 "New test content/vector available from Unified Streaming"
Two test vectors that are being continuously maintained and running are avaiable:

https://live.unified-streaming.com/scte35/scte35.isml/.mpd  (Live)
https://demo.unified-streaming.com/video/tears-of-steel/tears-of-steel.ism/.mpd (VoD)

We propose to adopt these as test vectors in dash.js and create a new pull down menu for unified streaming, and consider removing the previous ones that are not we

[2020-05-02 07:40] jz1242 opened #3240 "Getting rebuffering metric"
I was wondering what the best way is to get the duration of rebuffering events.

[2020-05-04 06:24] bbert commented on #3240
You can simply determine elpased time between 'waiting' events and 'playing' events
You can listen for those events either from video element or from MediaPlayer

[2020-05-04 06:37] dsilhavy commented on #3237
Please use the settings object instead, for example:

[code]
See also: https://github.com/Dash-Industry-Forum/dash.js/blob/486974a2b50437692920083f5e28d11990082b24/docs/migration/Migration-3.0.md

[2020-05-04 07:13] dsilhavy commented on #3234
dash.js always loads the MPD with the request type set to 'GET'. I recommend to change your endpoint to GET and submit required data as query parameters. If this is not an option you can change the HTTPLoader class accordingly. Start point should be here, MPD requests will have request.type set to 'MPD'.

[code]

[2020-05-04 12:26] michaelstorgaard opened #3241 "Parser error in xml_str2json"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-05-04 14:37] dsilhavy commented on #3218
Closing, please create a new issue if you have further questions

[2020-05-04 14:37] #3218 closed

[2020-05-04 14:38] dsilhavy commented on #3144
@thehusmin Do you confirm that the changes in the nightly player fix the problem? As described before, low latency playback results in small buffer and potential buffer underruns.

[2020-05-04 14:49] dsilhavy commented on #3078
Closed due to inactivity

[2020-05-04 14:49] #3078 closed

[2020-05-04 14:49] dsilhavy commented on #3075
Closed due to inactivity

[2020-05-04 14:49] #3075 closed

[2020-05-05 06:40] bbert commented on #3241
This issue is related to big integers (> 2^53) support.
This is not yet supported for DASH contents.
BigInt is now available for modern browsers but not for all.
The recommendation is to not use timestamp values > 2^53, you can change your timescale.

[2020-05-05 07:42] #3237 closed

[2020-05-05 09:25] dsilhavy commented on #3240
@jz1242 Please close this issue if the answer solved your problem.

[2020-05-05 09:43] dsilhavy commented on #3202
@Robloche Any updates on this or can we close it?

[2020-05-05 09:47] Robloche commented on #3202
You can close it, thanks.
(I've not reproduced this issue.)

[2020-05-05 10:07] #3202 closed

[2020-05-05 12:58] squapp commented on #3221
@kunalgoelgh since you are posting in dash.js issues, these are the relevant DRM specs for dash.js:

- https://www.w3.org/TR/encrypted-media/
- https://w3c.github.io/encrypted-media/format-registry/initdata/cenc.html
- https://github.com/w3c/encrypted-media/pull/392

dash.js can only support what the underlying EME supports, which is the 'cenc' scheme of the Common Encryption specification. Browse

[2020-05-05 14:05] dsilhavy commented on #3223
We made changes regarding the event handling as described here:
https://github.com/Dash-Industry-Forum/dash.js/pull/3242

Please keep in mind that the presentation time of inline events is relative to Period@start:

_specifies the presentation time of the event relative to the start of the Period taking into account the @presentationTimeOffset of the Event Stream, if present._

In your example the

[2020-05-05 15:21] mlasak opened #3244 "Dev dependencies outdated"
Some of the dev dependencies are outdated and should be updated to newer versions.

Example: package istanbul has been deprecated.

[2020-05-05 15:29] Murmur commented on #3223
@dsilhavy Thanks, will run a test and modify content. You say `presentationTime of inline events` do you mean `in-band EMSG <InbandEventStream>` events?

[2020-05-05 15:48] dsilhavy commented on #3223
@Murmur I was referring to the events included in the MPD not the inband events, for instance:

[code]

Calculated presentation time of event 20 is Period@start + Event@presentationTime = 120sec. This is out of period "p2" it has a duration of 30 seconds.

[2020-05-05 19:39] VictorM96 opened #3246 "HELP With dash cenc decryption with manifest.mpd"
I have a DRM + MPEG fragmented mp4 VIDEO file & AUDIO file with MPD-file but am really new to this and I can't use mpdash.EXE in Bento4 to do any stuff because the documentation is not deeply detailed. Someone should please put me through thanks. ❤❤

I used Bento4 MP4INFO.EXE TO OUTPUT THIS INFORMATION FROM THE FILE

VIDEO.MP4 FILE:
_C:\Users\Vector\Desktop\Bento4-SDK-1-6-0-633.x86_64-microsoft-wi

[2020-05-06 05:08] jz1242 commented on #3240
Gotcha, thanks!

[2020-05-06 05:08] #3240 closed

[2020-05-06 07:04] dsilhavy commented on #3246
Hi @VictorM96 . Your question seems to be related to Bento4 and not dash.js. dash.js is meant to be used for playback of DASH content and not creation of content. If you have a concrete question on dash.js we are happy to help.

[2020-05-06 07:04] #3246 closed

[2020-05-06 10:45] dsilhavy commented on #2946
@nicoweilelemental : Short update: We fixed issues regarding live and SegmentTimeline playback. I checked the origin stream 1 (DASH, multi-period, compact manifest, number with timeline) without ads in the nightly version of dash.js and it ran for over 30minutes without crashes.
I still see issues in the streams which includes ads, we will investigate further.

[2020-05-06 16:56] nicoweilelemental commented on #2946
Thanks for the update @dsilhavy, appreciated! I presume that the remaining issues with the streams with ads are related to the Period 1 > MPD Update > Period 2 edge case?

[2020-05-06 17:20] VictorM96 commented on #3246
Thanks for the quick response sir, and I know my question is related to bento4 but I really need someone to put me through with my problem solution since its personal and not related to Dash.js. One, I dont know how to run Dash Js on my windows 10 and even if someone put me through will Dash.js solve my problem for me here.

[2020-05-06 22:25] krychu90 opened #3247 "Request range is negative in large video"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-05-07 09:06] Ballevill commented on #3247
Confirm

[2020-05-07 09:23] mlasak commented on #3155
Thank you for mentioning this. It is true that the outdated grunt-githooks dependency should be replaced. However, your suggested precommit "script" does not appear to be supported by [npm](https://docs.npmjs.com/misc/scripts). Which module are you recommending for this?

The functionality (lint before commit) should not get lost.

[2020-05-07 12:37] dsilhavy commented on #2946
@nicoweilelemental Yes and potential gaps between the periods.

[2020-05-07 13:55] dsilhavy commented on #3241
I will close this, please reopen if you have additional questions.

[2020-05-07 13:55] #3241 closed

[2020-05-07 14:06] dsilhavy opened #3248 "XLink loader throws an error"
Xlink loader throws an error due to missing Error object when initializing the class

[2020-05-07 14:07] dsilhavy commented on #3248
Fixed in https://github.com/Dash-Industry-Forum/dash.js/commit/f9007d7ad341158ea6c2ab748a020596f5bb9cc4

[2020-05-07 14:07] #3248 closed

[2020-05-07 15:20] ProLoser commented on #3155
Oh man, you are right and I'm wrong. I completely forget my team uses https://github.com/typicode/husky which voids my argument for fewer dependencies 😅

Feel free to close this issue.

[2020-05-11 07:48] mlasak commented on #3155
We plan to remove the 'grunt-githooks' module. As you pointed out it is very out dated.
I am not decided yet if to include husky as new dep or got for a more lightweight approach.

Thanks again

[2020-05-11 07:55] ProLoser commented on #3155
I will say 1 thing: at work, I put lint checks behind `git push` instead of `git commit`. I feel it gives a better compromise between disrupting productivity and protecting the code quality. This way people can save there work locally without being nitpicked about potentially WIP code, but still prevents them from pushing the quality regressions to the server. I also felt it made more sense for th

[2020-05-11 07:55] #3155 closed

[2020-05-11 08:03] mlasak commented on #3155
This makes fully sense to me.

[2020-05-11 10:14] uyeong opened #3249 "getIndexBasedSegment() can return null but there is no prevent code"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-05-12 06:44] dsilhavy commented on #3234
@natvaldev Please close this issue if your problem was solved

[2020-05-12 06:44] dsilhavy commented on #3221
@azeemmohd Please close this issue if your question was answered

[2020-05-12 06:46] dsilhavy commented on #3144
Problem with starttime has been fixed in #3217

[2020-05-12 06:46] #3144 closed

[2020-05-12 07:21] azeemmohd commented on #3221
Thanks everyone for pitching in. I think I have my answer now :)

[2020-05-12 07:21] #3221 closed

[2020-05-12 17:35] krackjack234 opened #3251 "How to add custom header in every request made by dash player"
Hi,

We have a query on dashjs feature.

We want to add a custom header in every request that the player makes while playing a mpd file.

Is there anyway we can add/modify a header in every mpd/mp4/m4v/m4a request that we make from the player (like an interceptor)?

Any pointers will be really helpful.

[2020-05-12 18:00] wilaw commented on #3251
Check out this example: https://reference.dashif.org/dash.js/v3.1.0/samples/advanced/extend.html

Cheers
Will

From: krackjack234 <notifications@github.com>
Reply-To: "Dash-Industry-Forum/dash.js" <reply@reply.github.com>
Date: Tuesday, May 12, 2020 at 10:36 AM
To: "Dash-Industry-Forum/dash.js" <dash.js@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Dash-Industry-Foru

[2020-05-13 07:55] dsilhavy commented on #3223
@Murmur Can you confirm that the nightly version solves your problems?

[2020-05-13 07:57] dsilhavy commented on #3197
@mattlama Your MPD is not available anymore, can you fix this?

[2020-05-13 08:05] Ballevill commented on #3247
@dsilhavy :) ?

[2020-05-13 08:38] mattlama commented on #3197
@dsilhavy The version of our DASH mpd generation we were using when I opened this issue had a couple timing issues and the server was since updated. Here is a [New Link](https://dev-matt-dash-playlist-server.aws.syncbak.com/live-multi/playlist.mpd) for the multi period generation

[2020-05-13 08:42] dsilhavy commented on #3247
Hi, can you please provide an MPD for us to reproduce.

[2020-05-13 08:50] dsilhavy commented on #3224
@tomraut Would be good if you can provide a test stream. I tried this one and I could not reproduce the issue: https://wowzaec2demo.streamlock.net/live/bigbuckbunny/manifest_mvnumber.mpd

[2020-05-13 09:03] tomraut commented on #3224
@dsilhavy we don't have any streams where suggestedPresentationDelay would be in place at MPD but I've been using our 24/7 news stream (https://mtvdashliveusp2-a.akamaized.net/live/E39USP/E39USP.isml/E39USP.mpd) and placing suggestedPresentationDelay on the fly before passing manifest to dash.js. Do you think you could do the same?

[2020-05-13 09:07] dsilhavy commented on #3239
@cmaf-ingest : Thanks for the streams. Right now I see multiple streams coming from Unified. Are all of those outdated?

[code]

[2020-05-13 09:41] Ballevill commented on #3247
@dsilhavy

Hi on the test server has damaged our network card we are waiting for a new one as soon as I get it I will send you a link to test. greetings

[2020-05-13 09:51] dsilhavy commented on #3222
@Murmur Can we close this issue or did you encounter any other problems?

[2020-05-13 10:06] Ballevill commented on #3247
@dsilhavy

<?xml version="1.0" encoding="UTF-8"?>
<MPD
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="urn:mpeg:DASH:schema:MPD:2011"
  xsi:schemaLocation="urn:mpeg:DASH:schema:MPD:2011"
  type="static"
  mediaPresentationDuration="PT7439.43S"
  minBufferTime="PT5.5S"
  profiles="urn:mpeg:dash:profile:full:2011">
<Period id="0" start="PT0S" duration="PT7439.43S" >
<AdaptationSet i

[2020-05-13 10:14] Murmur commented on #3223
Yes thanks, I made changes to `Event.presentationTime (inline mpd)` values. Nightly build triggers all events including _on_period_boundary(on 1st+last second)_ times.

[2020-05-13 10:26] Murmur commented on #3222
I guess for now we can close this, changing a source code does playback from start to end `type=static + dynamic new periods on mpdreload`  manifest. Only small problem is this change never triggers the endofStream event once all periods are played.

I am not familiar enough how dashjs should be changed to understand all periods are really done. I would say it registers an internal EOF event too e

[2020-05-13 10:38] dsilhavy commented on #3223
Thanks for testing, I will close this issue then. Feel free to reopen if you still encounter problems.

[2020-05-13 10:38] #3223 closed

[2020-05-13 10:39] dsilhavy commented on #3222
Ok makes sense. We are also investigating how to solve this problem for dynamic MPDs.

[2020-05-13 14:25] krackjack234 commented on #3251
Thanks.

I see its working with dash.js but not when i user videojs-contrib-dash.

[2020-05-15 07:26] dsilhavy commented on #3249
Fixed in #3250

[2020-05-15 07:26] #3249 closed

[2020-05-15 07:30] dsilhavy commented on #2868
Problem still occurs in v 3.1.1 , might be related to multiple MPD reloads before playback of the Xlink period. After each MPD reload the period id of the resolved Xlink period changes. Needs further investigation.

[2020-05-15 07:32] dsilhavy commented on #3227
Work in progress: Idea is to use @maxSegmentDuration for calculation of live delay with fragment count. Moreover, live delay should not be recalculated in the RepresentationController but rather saved and accessed via getter function.

[2020-05-15 07:32] dsilhavy commented on #3234
I am closing this for now, please reopen if you have additional questions/problems.

[2020-05-15 07:32] #3234 closed

[2020-05-15 10:08] dan1kov opened #3254 "The player doesn't work while time difference between PC and Media Server"
The getLiveEdge() function is overwriting a variable which keeps a difference between PC’s time (that is where the player is working) and media server’s system so after that player doesn’t work well.

https://github.com/Dash-Industry-Forum/dash.js/blob/37e456c36b4677a44d77432933dc0ce81e358917/src/streaming/utils/LiveEdgeFinder.js#L58

https://github.com/Dash-Industry-Forum/dash.js/blob/37e456c36b4

[2020-05-18 04:50] cmaf-ingest commented on #3239
@dsilhavy only the a-team stream, the tos streams are maintained. I recommend keeping these other test streams as they show features like tiled thumbnails and widevine support and use
the same sources.

so the following streams can be considered outdated:
demo.unified-streaming.com/video/ateam/ateam.ism/ateam.mpd"

the rest is maintained and can be kept

[2020-05-19 10:14] eceozturk opened #3255 "@mimeType with optional parameter support in dash.js"
The dash.js playback fails when playing a content that has @mimeType appended with (as an example) "profiles='cmfc'".  In this case, the "codec not supported" error will appear on the web console.

I also added the information on test environment and web console log. Can support for this be added to dash.js?

##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on https://conformanc

[2020-05-19 16:07] harishnb opened #3257 "How to test only mpd parsing and download of segment without actual playback?"
I wanted to do some CPU performance analysis and hence wanted to know without actual playback of video, is there a way I can test:
1) Only mpd parser
2)MPD parser + download of segment as per the bit rate with no actual video playback

[2020-05-20 23:22] wilaw opened #3259 "The end of one segment is the beginning of the next: low latency instability due to suspected timing issues"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-05-21 23:57] elv-peter opened #3260 "Hang (infinite loop, CPU 100%) if the manifest's PSSH tag contains whitespace"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-05-22 12:20] jepiqueau opened #3261 "Dashjs3.0.1 OfflineStreamEvent missing in typings index.d.ts"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [] There are no network errors such as 404s in the browser console when trying to play the stream
- [] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs in t

[2020-05-22 14:20] dsilhavy commented on #3251
@krackjack234 Sorry we can only answer questions for plain dash.js here. This is an issue with the videojs library. Please open a ticket there.

[2020-05-22 14:20] #3251 closed

[2020-05-23 09:01] dsilhavy commented on #3260
Please check if #3262 solves your issue. See nightly build (version 3.1.2):
http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

[2020-05-26 11:18] mrp1977 opened #3263 "Catch-up player starts from beginning when manifest transitions from 'dynamic' to 'static'"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-05-26 15:17] spoeschel commented on #3227
Hmm, `@maxSegmentDuration` is only optional. So streams without this attribute wouldn't be covered (unless the value would be retrieved as described in the spec, of course).

[2020-05-27 05:17] elv-peter commented on #3260
Fixed! Thank you!

I found out that whitespace is significant in XML, so it was avoidable on my part. But sanitizing the XML is still good where possible.

[2020-05-27 05:17] #3260 closed

[2020-05-28 06:44] dsilhavy commented on #3255
Hi @eceozturk can you please give me some background on this. We use the mimeType to check whether a browser supports a certain codec or not. Why is the profile part of the mimeType?

[2020-05-28 06:48] dsilhavy commented on #3257
Hi, what about setting autoplay to false and increasing the maximum buffer. That way the video is not player but the segments are still downloaded. You can check the buffer specific values here:
http://cdn.dashjs.org/latest/jsdoc/module-Settings.html

[2020-05-28 06:53] dsilhavy opened #3267 "Clean and restructure reference stream list"
- Remove outdated test vectors from dropdown
- Add new available vectors
- Restructure and divide by function not by provider. Add [Provider] name to each item if available

[2020-05-28 06:54] dsilhavy opened #3268 "Define/update list of smoke vectors"
Update the list of smoke test vectors to have a small set of vectors which get tested after each commit.

[2020-05-28 11:51] harishnb commented on #3257
Thank you so much!! Let me try it out.

[2020-05-28 11:51] #3257 closed

[2020-05-28 12:09] bbert commented on #3257
You can also try using offline functionnality, with which you can download and parse the manifest, and then if you want download the segments

[2020-05-29 12:43] dsilhavy commented on #3247
@Ballevill Can you provide a hosted version of your content?

[2020-05-29 12:57] Ballevill commented on #3247
@dsilhavy Hi, I will add today, I have to look for a long movie and if you have an email I will send you a link to the email because I do not want to put here

[2020-05-30 16:23] mateors opened #3269 "Clear key DRM Protection not working/ Just Loading video but not playing"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2020-05-30 17:46] Rokuho opened #3270 "How to run the source codes in browsers (such as chrome console)? or other method for debugging?"
Since I am a really new comer with the dash.js and also junior to javascript coding,
this question might sound very naive to veteran developers.
I used some other Javascript codes for DASH which can be directly run and debugged in the chrome console.
When I started to try the newest dash.js codes, it seems that only the complied (bundled?) codes can be run by the browser. (I did try to load the co

[2020-05-31 09:16] dsilhavy commented on #3270
Yes the code is transpiled and bundled. However, there is an easy way to debug the code, by using sourcemaps. When you build the code, dash.js creates additional sourcemap files with a map ending in the filename. For instance: dash.all.debug.js.map
If you host the map files in the same folder as your bundled files (dash.all.debug.js) you can open all classes in your developer tools. For example us

[2020-05-31 09:26] dsilhavy commented on #3269
Based on your log this is not a problem with dash.js or clearkey. Chrome autoplay policy prevents you from calling the play method as the user has to interact with the tab first: https://goo.gl/xX8pDD . I guess your MEI is high enough on the Shaka testpage.

Does playback work if you trigger play manually? If not, please also compare against reference content like : https://media.axprod.net/TestVe

[2020-05-31 13:40] Ballevill commented on #3247
@dsilhavy  https://tube.pl/video/mkRaqMuj4vie

[2020-05-31 19:08] mateors commented on #3269
@dsilhavy  thank you very much for your time .
Yes playback working if i trigger manually.

i am also unable to open https://master-erp.com/dash/02/clearkey_manifest.mpd  this to my browser, it automatically start downloading...i think cors is not working properly (though i have added cors header to my nginx config)

i have also tested my manifesto file url (https://master-erp.com/dash/02/clearkey

[2020-05-31 21:25] dsilhavy commented on #3269
@mateors
- For the autostart problem there is not much you can do except mute audio or wait for the user to trigger the playback
- For the CORS problem: Not sure why the conformance tool can not download your manifest. I can see that you enabled access-control-allow-origin: * , download in dash.js works now. Maybe try adding Access-Control-Allow-Methods: GET,POST,OPTIONS as well.

[2020-05-31 21:29] dsilhavy commented on #3247
Can you please add CORS to the server:

Access to XMLHttpRequest at 'https://tube.pl/video/mkRaqMuj4vie' from origin 'https://reference.dashif.org' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2020-05-31 22:18] dsilhavy commented on #3228
@spoeschel I made a change regarding the r parameter. Can you please check if this is fixed in the nightly version: http://reference.dashif.org/dash.js/nightly/samples/

Where did you find the definition about what #r is supposed to do?

[2020-06-01 05:03] Rokuho commented on #3270
@dsilhavy Thank you so much for your kind assistance! Sourcemap works! I am now trying to learn the code by using sourcemap. Thank you again!

[2020-06-01 06:17] mateors commented on #3269
@dsilhavy Thank you again for your valuable time.
i have added as you suggessted,still not working:(
![image](https://user-images.githubusercontent.com/17635146/83381164-b6fa4900-a401-11ea-819f-383e2deda5c7.png)

i think the problem with this https://master-erp.com/dash/02/clearkey_manifest.mpd
its automatically get downloaded when i try to open it with browser. what do you?
how can i prevent this

[2020-06-01 06:31] Ballevill commented on #3247
@dsilhavy im add

The same mistake is on your player

http://s1.tube.pl/storage/files/videos/2020/05/31/mkRaqMuj4vie/webm/manifest-tBAVMLlbGzasL8gYpkk8ulORllD7PvvQqeatxFAl.mpd

[2020-06-01 07:55] #3270 closed

[2020-06-01 07:59] dsilhavy commented on #3269
Hi, I think it is fine that your manifest is downloaded when you open it in a browser tab, this is the same for other manifests. You can open a ticket on the DASH-IF validator Github, maybe they can give you more details why your manifest can not be downloaded:
https://github.com/Dash-Industry-Forum/DASH-IF-Conformance

Please close this issue if your dash.js related questions have been answered.

[2020-06-01 08:24] mateors commented on #3269
@dsilhavy  thank you for your prompt response.

i have already raised an issue there
https://github.com/Dash-Industry-Forum/DASH-IF-Conformance/issues/506

so what else i can do to resolve my issue? i am suffering from last 3 days...no solution yet :(

[2020-06-01 08:29] mateors commented on #3269
@dsilhavy  if you look at this manifest url
https://bitmovin-a.akamaihd.net/content/MI20192708/stream.mpd

this mpd can be read through browser as well as its loading properly with dash conformance validator tool

![image](https://user-images.githubusercontent.com/17635146/83390703-2da04200-a414-11ea-8e83-c99a4d195a74.png)

any idea why?

[2020-06-02 04:29] harishnb commented on #2958
Has this new feature been implemented in DashJS?

[2020-06-02 08:25] haudiobe commented on #3255
Profiles is allowed according to RFC 6381. But we understand that this is not supported by browsers. Hence it is proposed to check the mimeType string whether the profile parameter is present, and if so, remove it.

[2020-06-02 13:23] natvaldev opened #3272 "What is the max @presentationTimeOffset?"
We have a very long video (20+ hours).
We play it as a static mpd, but we build the mpd dynamically.

When we select a part from 0 to 3 hours, it does work fine,
but when we select a late range (15 hours or later) then the video doesnt play.

We have found out that something with the `presentationTimeOffset` is breaking,
probably a max value.

I have a guess that if we apply a `mod` to the `presen

[2020-06-02 14:50] dsilhavy commented on #3269
@mateors Please wait for feedback from the Conformance developers. Only thing you can check are the response headers and compare them the response headers from Bitmovin.

[2020-06-02 19:52] Ballevill commented on #3247
@dsilhavy

I gave you the wrong link because without https the one below is correct

https://s1.tube.pl/storage/files/videos/2020/05/31/mkRaqMuj4vie/webm/manifest-tBAVMLlbGzasL8gYpkk8ulORllD7PvvQqeatxFAl.mpd

[2020-06-02 22:48] fabiomagnoni opened #3273 "What is the minimum to play .mpd and .m3u8 files?"
I'm working inside a very limited environment, where we use LTE for Mikrotik so the user has only 700kb/s, the size of the video is already ~500kb, the same as the dash.js since I don't need all features to be able to play .mpd and .m3u8 extension, what would be the minimum to play?

Really appreciate it :)

[2020-06-02 23:45] fabiomagnoni commented on #3273
Just to add, I won't be switching from different bitrate, it's just to give a smooth experience to the user and not consume a lot from server side, so the user don't need to download the whole video

[2020-06-03 02:31] BentOnCoding commented on #3273
If the user can download 700kb/s then a 500kb video should be no problem.

Am I missing something?

[2020-06-03 06:02] dsilhavy commented on #3273
@fabiomagnoni The minified dash.js source files are ~600kbyte. You can reduce the size of the player by only including dash.mediaplayer.min.js in your code (529kbyte). This will exclude the DRM part.

For HLS/m3u8 playback you can rely on native playback on the Apple platforms. I suggest you do a check for MSE:

[code]

If no MSE is available you can use native HLS playback, otherwise DASH with da

[2020-06-04 07:09] bbert commented on #3263
Hi @mrp1977,
We will address this issue very soon

[2020-06-04 08:00] bbert commented on #3263
@mrp1977 please maintain the source stream available so that we can use it to fix and test

[2020-06-04 08:27] Rokuho commented on #3270
@dsilhavy May I ask another simple question? I have learned the code these days and found it works very well in Chrome by using the Sourcemap and associating the original JS files. But when I want to make some changes (for example, just add console.log("xxx")) or modify the codes, then evaluate the code to confirm the results of the modification, I found that the modification in the original JS fi

[2020-06-04 19:03] dsilhavy commented on #3270
@Rokuho I never tried to modify files on the fly, I think it is only possible in the developer tools if you have hosted the code locally.

In general you can use every editor for writing JavaScript code. I use Webstorm, a lot of my colleagues use Visual Studio Code.

For dash.js development I recommend to run ```` npm run dev ```` in the root folder of the project. This will start a local webserve

[2020-06-04 23:46] luca-lamberti commented on #396
Hi, it's possible to see an example how to set the property withcredentials? because i didn't understand the syntax.

[2020-06-05 01:35] Rokuho commented on #3270
@dsilhavy Thank you very much for your advice!! I will try to use Webstorm and VSC to code and test.

[2020-06-05 06:48] dsilhavy commented on #396
@luca-lamberti
An example how to add DRM data: https://reference.dashif.org/dash.js/v3.1.1/samples/drm/widevine.html

Add withcredentials like this :
[code]

[2020-06-05 08:00] luca-lamberti commented on #396
Hey thanks for your quick answer. In the end i needed just to enable the flag without the licencing (need to send just a cookie to the server for the chunks).
I've found out that there is an API for the variable player:
player.setXHRWithCredentialsForType("MediaSegment", true);
to enable the player to send the cookie to the server.
After enabling the CORS headers:
- access-control-allow-origin: <F

[2020-06-05 11:52] dsilhavy commented on #2744
No progress here, we have closed the corresponding PR. If this is really a key feature for DASH-IF let me know. As pointed out before it adds lots of complexity to the player which in my opinion outweighs the benefits we get from this.

[2020-06-05 11:52] #2744 closed

[2020-06-08 11:15] dsilhavy commented on #3220
@jmar777 Can you please check if this PR solves your issue: #3279
You can configure the low latency factors using the settings object.

[2020-06-08 13:15] bbert commented on #3261
@jepiqueau can you check with current development version?

[2020-06-08 13:50] jepiqueau commented on #3261
@bbert thanks, I will have a look

[2020-06-09 06:52] dsilhavy commented on #3220
Fixed in #3279

[2020-06-09 06:52] #3220 closed

[2020-06-09 09:16] spoeschel commented on #3228
This seems to fix the issue (based on the mentioned assumptions) - the last URL (step 4) now jumps to about -04:00:00, as expected. Thanks!

I found no real definition besides 4bb1da2c0f6c1f7f8ac6b4a636f906423440df59, but had a look at the involved range checks here:

https://github.com/Dash-Industry-Forum/dash.js/blob/f7d4d7cec2a707b39f10d8798c8d0f6c0c400a14/src/streaming/controllers/PlaybackCont

[2020-06-09 09:25] dsilhavy commented on #3228
@spoeschel Thanks for confirming, I close this issue for now. Feel free to reopen if you encounter anymore problems regarding this parameter.

[2020-06-09 09:25] #3228 closed

[2020-06-09 09:30] spoeschel opened #3281 "Improve privacy of reference client"
##### Steps to reproduce
1. Access DASH reference client

##### Observed behaviour
The reference client page requests externals ressources from dashif.org (the favicon) and from GitHub (the two buttons in the top right corner). To improve privacy at this point, the favicon could be added to the repo instead. The buttons could by some means only be added if the client is rolled out to the DASH IF w