[2018-08-03 22:39] xinxi531 commented on #429
this link: https://www.radiantmediaplayer.com/working-with-mp4box.html is dead

[2018-08-06 14:41] amansieboatengkofi opened #2725 "Adaptive Streaming not working"
##### Environment --- https://stackblitz.com/edit/dash-tester-log-3rhnpy?file=index.js

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https:

[2018-08-06 15:55] bbcrddave commented on #2725
The problem is that each of your Representations is in its own AdaptationSet. Assuming they are interchangeable encodings of the same content, all of the Representations which are interchangeable should be in the same AdaptationSet.

With your current setup, the client will select the most appropriate AdaptationSet at start up and correctly determines there is only one bitrate available so there c

[2018-08-06 20:57] epiclabsDASH commented on #2249
Taking a look. I will get back to you asap.

[2018-08-06 21:03] epiclabsDASH commented on #2725
Closing issue. @amansieboatengkofi, please, feel free to reopen it in case you detect an ABR issue after applying changes suggested by @bbcrddave.

[2018-08-06 21:03] #2725 closed

[2018-08-06 21:04] epiclabsDASH commented on #2724
@waqarz, thanks for documenting this so well. I am going to take care of this. Thanks!

[2018-08-06 21:06] epiclabsDASH commented on #2721
Taking care of this. Thanks everyone for the provided feedback.

[2018-08-09 03:03] htleeab opened #2727 "Switching audio language track cause buffer empty"
##### Environment
- [ ] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
3 mpd
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issu

[2018-08-09 03:36] subhranshudas opened #2728 "DASH JS MSS support on EDGE 38"
Hi Guys,

Does DASH JS supports playing MSS protected streams on EDGE 38. I am able to play on EDGE 41.

Regards,
Subhranshu

[2018-08-10 10:04] fvalleeHbbTV opened #2729 "seamless period transition issue with very short periods"
##### Environment

- [X] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occ

[2018-08-10 13:18] damienlevin opened #2730 "Support for DASHEventMessageBox Version 1"
The latest 2.9.0 version doesn't seems to support DASHEventMessageBox version 1 (version 0 is supported)

See:
https://github.com/Dash-Industry-Forum/dash.js/blob/36baa49b658bf385384f39e7e621cd596644f70b/src/streaming/vo/IsoBox.js#L66

Format is:
[code]

[2018-08-12 11:57] zhangtianxiao opened #2731 "why not use websocket"
I don't want to load media by HTTP.
Dash.js has not support.
xhr => websocket,  What shall I do?
Thanks.

[2018-08-12 21:54] epiclabsDASH commented on #2729
I think this issue is raising an issue in the prefetching mechanism we implemented as part for seamless period transition feature. I am taking a look to see how we can fix this.

Thanks for the detailed information.

[2018-08-12 22:10] epiclabsDASH commented on #2731
Hi @zhangtianxiao. Currently dash.js supports two different mechanisms for requesting segments:
- XHR
- Fetch (used when low latency mode is activated)

You will find the implementation of both below [src/streaming/net](https://github.com/Dash-Industry-Forum/dash.js/tree/development/src/streaming/net) folder. In case you would like to add a new one I recommend you to take a look at it.

Alternativ

[2018-08-12 22:14] epiclabsDASH commented on #2728
Hi @subhranshudas, I don't see any reason for not supporting MSS protected streams on Edge 38 although I can't confirm right now.

@bbert, @nicosang, I am pretty sure you know the answer of this much better than me. Are you aware of any issue in Edge 38 regarding MSS protected streams support? @subhranshudas, with MSS protected streams I assume you are talking about MSS streams using PlayReady.

[2018-08-12 22:59] epiclabsDASH commented on #2730
This change requires changes in codem-isoboxer (the lib used by dash.js to parse isobmff files) so it supports emsg version 1. Changes sent in PR https://github.com/madebyhiro/codem-isoboxer/pull/36

[2018-08-13 03:32] subhranshudas commented on #2728
@epiclabsDASH @bbert @nicosang
Yes i am talking about Microsoft Smooth Streaming using Playready on Microsoft EDGE 38.
Also would like to know is there any minimum Microsoft EDGE version that is required from DASH js.

Thank You.

[2018-08-13 17:16] AxelDelmas opened #2732 "IE11 support broken for some streams"
`Math.trunc` is not supported in IE11 so it breaks with some streams that use TimeSyncController: https://github.com/Dash-Industry-Forum/dash.js/blob/26fcf7e63f656e9cd02dc79723aec103076599f9/src/streaming/controllers/TimeSyncController.js#L334

[2018-08-13 22:13] epiclabsDASH commented on #2728
@subhranshudas, I didn't found any Edge version which is not compatible with dash.js because Edge supports Media Source Extensions (MSE) since its first versions. It will work much more stable in latest versions of Edge (in first ones we detected a few issues in the MSE implementation of Edge mostly related with buffer and decoder management that are already fixed), but there is no any incompatibi

[2018-08-13 22:13] #2731 closed

[2018-08-13 22:58] epiclabsDASH commented on #2732
@AxelDelmas, should be fixed in #2733. Could you please confirm?

[2018-08-13 23:14] #2702 closed

[2018-08-13 23:16] #2696 closed

[2018-08-13 23:19] #2671 closed

[2018-08-14 07:12] auriiolym opened #2734 "Where can I make alinear period progression possible?"
Hello!

I'm trying to make it possible to alinearly progress through the periods in an mpd. So instead of loading the sequentially next period, I have a custom function that decides the next one. This might, for example, skip a period, or replay the current period.

Now my question is: where in the code can this be handled best?

I've already found and succesfully worked with the `getNextStream()`

[2018-08-14 12:51] adripanico opened #2735 "Typings error"
Version 2.9.0 on npm have an error in the provided typings:

    ERROR in node_modules/dashjs/build/typings/index.d.ts(394,5): error TS1131: Property or signature expected.

It is actually a missing closing curly brace on that line.

I've forked the GitHub repo to fix it and do the PR, but I see that in the repo that problem is not present.

[2018-08-14 12:55] jeoliva commented on #2735
Yep, it was fixed in #2726. Thanks!

[2018-08-14 12:57] #2735 closed

[2018-08-16 05:31] epiclabsDASH commented on #2730
@damienlevin, do you have any sample dash stream that uses EMSG boxes version 1?

[2018-08-16 05:53] epiclabsDASH commented on #2734
Hi @auriiolym,

Don't know exactly the modifications you are doing but, if you are just modifying getNextStream, sounds like you don't need to do anything to buffer streams of the next period. That should be handle by dash.js as it is doing in the regular process for selecting the next period.

More specifically, dash.js has a mechanism that, a short time before a period finishes it starts "preloa

[2018-08-16 08:34] aqzwss opened #2737 "Invalid video decoder config"
Hi DASH experts,

I'm new to DASH, try a demo one but not success yet.
In desperate need of help, could someone pls help me?

##### Steps to reproduce
I generate a MPD and FMP4 file from a h264 file with dash.encrypt(https://github.com/castlabs/dashencrypt).
Then I put these 2 files into SpringMVC static resource folder and visit the dash html which included dash.js.
I saw the FMP4 file downloaded

[2018-08-16 13:31] teamshadow2 commented on #2626
we have this patch to handle playback not started for some of our code, after your line mentioned above

if (index < 0) {
            index = getIndexForSegments(time, representation, timeThreshold, true);
        }

then in that function gets a new parameter
function getIndexForSegments(time, representation, timeThreshold, verifystart = false) {

inside at the bottom of the for loop

if (verifyst

[2018-08-16 13:46] damienlevin commented on #2730
I'm having playback issues with this stream that might be unrelated but you can look at the following URL where you should have an emsg v1 in the first segment (with message_data = "hi").
https://storage.googleapis.com/dlevin/dash_id3/manifest_id3_v1.mpd

[2018-08-16 21:06] epiclabsDASH commented on #2730
@damienlevin, emsg box version 1 support has been added in #2739. I could also reproduce some playback issues although they are not related with emsg support. I am doing some research, seems to be related with some timing issues after switching to the second period but can't confirm yet.

I am closing this issue (related with emsg box support) and will keep you updated about any progress related w

[2018-08-16 21:06] #2730 closed

[2018-08-16 21:10] #2732 closed

[2018-08-16 21:10] #2615 closed

[2018-08-16 23:35] damienlevin commented on #2730
Awesome, thanks a lot.
Very curious about those playback issues, thanks for looking into it.

[2018-08-17 15:09] dimitry-unified-streaming opened #2740 "thumbnail_tile URI is different from DASH-IF guidelines"
I noticed that the schemeIdUri used for thumbnail tiles in [ThumbnailTracks.js](https://github.com/Dash-Industry-Forum/dash.js/blob/6619061912c3597ec30370d49f1970798217d8c2/src/streaming/thumbnail/ThumbnailTracks.js) is `http://dashif.org/thumbnail_tile`.

However, in the DASH-IF Interoperability Guidelines, in [section 6.2.6. Tiles of thumbnail images](https://dashif.org/wp-content/uploads/2018/0

[2018-08-17 18:46] niralipatelgoogle opened #2741 "Playback stalls while playing clear stream with live/ondemand profile"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-08-17 19:12] wilaw commented on #2737
@aqzw - the reason for failure is given in the console log - the source being appended to the media buffer is not supported. It gives hints about scaling issues (a visible rect of [0,0,0,0]) and also encryption. Also your manifest declares a bitrate of 42Mbps for the video, which can't be correct.

I suggest you take this one step at a time. First create an un-encrypted mpd and media asset from yo

[2018-08-17 21:00] epiclabsDASH commented on #2740
@dimitry-unified-streaming, thanks for reporting. I think the issue is coming from a change between what was defined in the CR that described thumbnails support (https://dashif.org/wp-content/uploads/2017/03/CR-image-thumbnails-v0.9.pdf) and what was included in IOP 4.1. Dash.js implementation for thumbnails was done using the CR as reference. The same happened for the thumbnails samples.

I am go

[2018-08-20 09:51] nicosang commented on #2728
Hi @subhranshudas ,

as @epiclabsDASH said, no reason that protected MSS streams don't play on Microsoft Edge 38....

[2018-08-20 09:51] #2728 closed

[2018-08-20 17:51] damienlevin commented on #2730
@epiclabsDASH any update on the playback issue ? Is this a reported issue ?

Thanks

[2018-08-20 17:53] jeoliva commented on #2730
It is something related with the new multi period management algorithm we put in place since v2.8.0. Almost isolated :). I will let you know when it is fixed.

Thanks

[2018-08-20 18:11] damienlevin commented on #2730
Awesome ! Thanks for the update.

[2018-08-20 19:03] niralipatelgoogle commented on #2741
Ondemand Logs

truman-vod-dash-alpha-test/r6/ondemand/wv-pr/135/audio_1.mp4 Debug.js:236:12
[1269887][ScheduleController][audio] OnFragmentLoadingCompleted - Url: https://storage.googleapis.com/truman-vod-dash-alpha-test/r6/ondemand/wv-pr/135/audio_1.mp4 Debug.js:236:12
[1269893][PlaybackController] Native video element event: playing Debug.js:236:12
[1272895][ScheduleController][audio] OnFragment

[2018-08-21 13:59] damienlevin commented on #2730
Out of curiosity, is this the same issue as #2681 or #2741 ?

[2018-08-21 14:32] niteeshbhat opened #2744 "Support for 'presentationDuration' in VoD content"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-08-22 22:36] wilaw commented on #2723
@epiclabsDASH - with this stream https://vm2.dashif.org/livesim-chunked/chunkdur_1/ato_7/testpic4_8s/Manifest300.mpd the audio segments are only 40kB yet we do not see the stalling. Why is that? Is it because the segment duration is 8s even though the bitrate is only 37kbps? Is the issue more sensitive to segment duration that bitrate? Any progress on either of the two workarounds?

[2018-08-23 11:32] auriiolym commented on #2734
Thanks @epiclabsDASH! Sorry for the late reply. I got it working by reordering the periods from the manifest, reloading the manifest and this way returning the desired next stream.

[2018-08-23 11:32] #2734 closed

[2018-08-27 08:19] epiclabsDASH commented on #2723
@wilaw, we are preparing a new version for this week, before the code freeze, so next week release will have the problem fixed. I will keep you updated.

[2018-08-27 17:47] re-jim opened #2745 "Typings out of date?"
As of commit 9ed862a6363ece7429cfb2912e7300fa88338d3c

Comparing the typings of ProtectionController:
https://github.com/Dash-Industry-Forum/dash.js/blob/development/build/typings/index.d.ts#L34

With the actual code:
https://github.com/Dash-Industry-Forum/dash.js/blob/development/src/streaming/protection/controllers/ProtectionController.js#L99

There seems to be some inconsistencies. Do the typin

[2018-08-27 18:29] haudiobe opened #2746 "Streaming Media Readers' Choice Awards 2018"
All,

DASH-IF is – as many other DASH-IF members – on the list of the 2018 Streaming Media Readers' Choice Awards. http://www.streamingmedia.com/ReadersChoice/2018/Vote.aspx

We are end-to-end work flow with our Guidelines and Reference Tools and in the Video Player with dash.js.

If you believe that we are doing a good job (or any other member in similar areas), please vote for DASH-IF.

Thanks

[2018-08-27 22:59] epiclabsDASH commented on #2745
You are right @re-jim. I am reviewing our typings. Seems the ones related with protection are quite out dated.

[2018-08-29 09:49] fvalleeHbbTV opened #2748 "$Bandwidth template not resolved in the init segment request"
##### Environment

- [X] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occ

[2018-08-29 23:27] ahfarmer opened #2749 "log events not sent when using setLogToBrowserConsole(false)"
I'm trying to capture log events so that I can report them to my own error reporting tool when an issue arises. I don't want to log to the browser console.

However, if I call `mediaPlayer.getDebug().setLogToBrowserConsole(false);`, then log events are not sent.

There is an [incorrect comment](https://github.com/Dash-Industry-Forum/dash.js/blob/5f0cb17824bc121123952b1a7bf86d3bc7926bf1/src/core/De

[2018-08-30 10:00] grukx commented on #2401
The simulated live stream was removed by accident, here is a new link to reproduce issue.

The link passes the conformance tests and the problem is still present in latest reference client. As noted above the link plays fine in shaka player and theoplayer, however the dashif client plays the last seconds of the first period as if it was live.

https://abr.appeartv.net/2248/0/dash/smptebars_24hours

[2018-08-30 22:42] epiclabsDASH commented on #2749
Hi @ahfarmer. You are right, we did that change intentionally because seemed there was no one using that feature (we agreed on removing LOG event in the last dash.js face to face meeting). However, after doing that I have seen many users requesting that feature to be recovered. There is nothing to check if something is really used like removing it :).

Please, feel free to send the PR. I will be h

[2018-08-30 22:43] epiclabsDASH commented on #2748
@fvalleeHbbTV, thanks for reporting the issue and thanks for fixing it :).

[2018-08-30 22:43] #2748 closed

[2018-08-31 10:40] #2745 closed

[2018-09-06 08:24] fvalleeHbbTV opened #2752 "ABR rules issue with static MPD when BUFFER_LOADED is not reached"
##### Environment

- [X] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occ

[2018-09-06 08:29] fvalleeHbbTV commented on #2752
Problem can be workarounded if the buffer state check is removed in the ThroughputRule before switching the quality.
`(bufferStateVO.state === BufferController.BUFFER_LOADED || isDynamic) `

Not sure if it's a valid fix but the check is not activated for dynamic mpd so I guess it's not that bad

[2018-09-06 16:58] qchroman commented on #2658
Good day all,

I was just wondering about the process on this case on the dash.js side. Are there any drafts of implementing persistency for PR?

Thank you very much in advance.

[2018-09-08 00:49] dovelive commented on #2249
Hi. @epiclabsDASH
Any update for this error?

[2018-09-10 18:58] wilaw opened #2757 "Modify default time source to take advantage of increased precision"
mediaplayerModel.js specifies the default time source as

const DEFAULT_UTC_TIMING_SOURCE = {
    scheme: 'urn:mpeg:dash:utc:http-xsdate:2014',
    value: 'http://time.akamai.com/?iso'

http://time.akamai.com/?iso returns an ISO timestamp looking like

2018-09-10T18:51:06Z

This iso time source is now available with millisecond precision, by appending the new query arg '&ms' to the request. So a r

[2018-09-11 15:58] damienlevin commented on #2730
@jeoliva,@epiclabsDASH  any updates on those issues ?

Thanks.

[2018-09-11 15:59] epiclabsDASH commented on #2730
Close to have it ready :). The fix should be released this week.

[2018-09-11 16:00] damienlevin commented on #2730
Awesome, thanks !

[2018-09-11 19:59] dsparacio opened #2759 "Caption regression in 2.9.0"
Noticed a major regression in text tracks. In 2.7.0 I added enableForcedTextStreaming and it is working as expected in 2.7.0. and 2.8.0

However in 2.9.0 it works upfront, but on a seek the text fragment is loaded over and over again rapidly and fills the text track with duplication of captions...

Reproducible with Dash IF reference player - using stream with inmanfiest vtt captions.  Working on

[2018-09-12 13:03] fvalleeHbbTV opened #2763 "StreamController composeStreams() should be smart when selecting initial period for dynamic multiperiod streams"
##### Environment

- [X] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occ

[2018-09-12 22:48] epiclabsDASH commented on #2757
Implemented in #2672

[2018-09-12 22:48] #2757 closed

[2018-09-12 22:50] epiclabsDASH commented on #2763
Thanks for reporting @fvalleeHbbTV. There is lot of work we still need to do regarding multi-period support for live streams. Let me check your change proposal and I will get back to you Thanks!

[2018-09-13 10:31] ShanePhelan commented on #2184
Hi,

I was going to open a new issue but found this.

We're still seeing this behaviour (No segment found at index: XXX. Wait for next loop) on Dash 2.9.0 with live streams.

Here's a copy of our manifest:
[live_streaming_manifest.mpd.txt](https://github.com/Dash-Industry-Forum/dash.js/files/2378880/live_streaming_manifest.mpd.txt)

And here is the log output:

[5][MediaPlayer] [dash.js 2.9.0] Med

[2018-09-13 12:02] jpacio89 opened #2765 "[Smooth Streams] Subs not displaying"
##### Environment
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs in the latest reference client on http://reference.dashif.org/dash.js/ and not just o

[2018-09-13 13:10] nicosang commented on #2765
Hi @jpacio89 ,

first of all, this specific fourCC value should be supported. Can you see subtitles request in the network panel of the debug tool? Is there a ttml error in the debug console? If you don't use the Dash-IF reference test page, have you called the attachTTMLRenderingDiv function?

If your stream is available on the internet, could you give me access to it in order to help you more ef

[2018-09-13 15:11] jpacio89 commented on #2765
Hi @nicosang,

Thanks for your help!
The stream needs a session token that is temporary so if I send it to you it might get invalidated by the time you try. No errors are reported on the console. However, I checked against another stream that is working and also have TTML subs (working on dash.js).

In this link you will find an example of working subs (test stream 1) and not working subs (test st

[2018-09-13 16:17] nicosang commented on #2765
the problem is the <p> in the smooth sample. If you replace it by <div>, ttml parsing is ok. @palemieux, could you, please, help @jpacio89 to tell him if subtitles are IMSC1 type?

Thanks,
Nico

[2018-09-13 16:46] palemieux commented on #2765
@jpacio89 `smpte:backgroundImage` is relevant only when applied to `div` elements, as specified in SMPTE ST 2052-1

[2018-09-13 16:51] palemieux commented on #2765
@jpacio89 Note also that embedded images are not supported by IMSC1, so YMMV

[2018-09-13 17:50] #2765 closed

[2018-09-13 17:50] nicosang commented on #2765
Many thanks, @palemieux.

[2018-09-13 21:55] jpacio89 commented on #2765
Thanks a lot! Will try it out with div instead.

[2018-09-17 08:06] Gontran-Molotov opened #2766 "No caption or wrong caption displayed when default text track is =/= from index 0"
##### Environment

- [X] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occ

[2018-09-17 15:09] JohnIball opened #2768 "Issue with live streams using dashjs 2.9.0 (issue 2184 again?)"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occu

[2018-09-18 09:34] JohnIball opened #2769 "ClearKey protection data object getting filtered out"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occu

[2018-09-18 12:19] bbert commented on #2769
Hi, indeed this code has been removed by mistake. Maybe a rebase issue, don't remember.
I will create a new PR to revert this change.
Thanks for pointed out.

[2018-09-18 12:29] #2749 closed

[2018-09-18 12:30] JohnIball commented on #2769
Thanks for looking at this so quickly!

[2018-09-18 12:55] #2766 closed

[2018-09-18 13:04] #2740 closed

[2018-09-18 13:11] epiclabsDASH commented on #2721
I think this could be related with #2769 and the PR #2770 proposed by @bbert. Apart from the base64 problem, whose solution was already suggested by @davemevans, there was a regression in ClearKey module.

[2018-09-18 13:13] epiclabsDASH commented on #2769
@JohnIball, please, whenever you have time for testing, may you confirm #PR2770 solves your problem?

Thanks!

[2018-09-18 13:26] epiclabsDASH commented on #2184
@ShanePhelan, I will follow this case in #2768. Thanks!

[2018-09-18 13:30] JohnIball commented on #2769
@epiclabsDASH yes, I tested the change and it's working fine now.

[2018-09-18 13:31] epiclabsDASH commented on #2769
Great, many thanks!

[2018-09-18 13:31] #2769 closed

[2018-09-18 13:34] epiclabsDASH commented on #2737
Closing this one because lack of feedback. @aqzwss, please, feel free to re-open it in case you apply @wilaw suggestions and you have some feedback to share.

Thanks!

[2018-09-18 13:34] #2737 closed

[2018-09-18 21:48] epiclabsDASH commented on #2684
@zhaozhaomumu1314, I have been playing with the BBA-0 rule source code as it is defined in the project you mention and didn't see any bitrate request change. I didn't dive into that code but after changing network conditions that rule continues reporting the right bitrate should be the max one.

From my point of view, doesn't seem to be an issue in dash.js but in the implementation of that custom

[2018-09-18 21:48] #2684 closed

[2018-09-20 01:05] zhaozhaomumu1314 commented on #2684
Thank you so much for your kind response @epiclabsDASH . I have the same condition with you that the bitrate stay on the max one! I think it maybe the BBA-0 rule not compatibal with the intrinsical integrated bitrate selection mechanism. Thanks again!

[2018-09-20 07:14] tecteun opened #2772 "DashJS 2.9.0 and up, ABR switching locks up Safari"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occu

[2018-09-20 19:56] wilaw opened #2774 "Utilize new MSE changeType() API where available"
Work is afoot in the W3C WICG to develop a new changeType method on SourceBuffer that allows the type (bytestream and codec(s)) of media bytes subsequently appended to the SourceBuffer to be changed. This should allow smooth adaption set and period transitions.

https://github.com/wicg/media-source/blob/codec-switching/codec-switching-explainer.md

As of Sept 20 2018, supported on Chrome M70 and F

[2018-09-20 20:02] epiclabsDASH commented on #2774
Looks great. I will incorporate this to the period transition logic.

[2018-09-20 21:18] mikecx opened #2775 "Dash.js webpack production file size"
Using [webpack-bundle-analyzer](https://www.npmjs.com/package/webpack-bundle-analyzer) and inspecting my vendor bundle, it looks like the dash.js reference player is the largest item inside the bundle when building out a production bundle. It's currently at 1.38MB while the next heaviest include is Quill at 427KB. This is on a multiple year old codebase with a lot of npm packages (130+) for compar

[2018-09-21 12:53] pz325 opened #2776 "ScheduleController.schedule() does not respect setScheduleWhilePaused(false) at runtime"
In ScheduleController.schedule(), it checks `scheduleWhilePaused` variable (set only at the time of initialization) instead of `mediaPlayerModel.getScheduleWhilePaused()`.

Is it by design?

[2018-09-22 06:56] epiclabsDASH commented on #2776
I don't see any good reason for checking up scheduleWhilePause just during initialization of ScheduleController. I am going to send a PR to fix this behavior. Thanks for reporting.

[2018-09-22 08:36] #2776 closed

[2018-09-24 10:53] BucherTomas commented on #2774
When incorporated also for adaptation, Is this going to require `urn:mpeg:dash:adaptation-set-switching:2016` supplemental mpd descriptor as per `3.8. Switching across Adaptation Sets` in https://dashif.org/docs/DASH-IF-IOP-v4.2-clean.pdf ?

And when do you think it might be even incorporated for adaptation? We have a use case for this with different codecs split into their own quality sets within

[2018-09-24 19:51] videojsAP opened #2781 "General Question Parsing License Key from the manifest (MPD file)"
**General Question**

I'm trying to play the DRM protected MPD Content. The content protection block in the MPD consists of CENC PSSH block for PlayReady and LA URL path for Widevine. I want the dash js player to detect appropriate DRM specified in the prodata without specifying the license server url path.

**For Example:**
If we specify com.microsoft.playready in the prodata. I want the player t

[2018-09-25 13:41] damienlevin commented on #2730
@epiclabsDASH  Great news, It looks fine from our initial round of testing, I'll keep you posted if we find more playback issues !

Cheers !

[2018-09-25 18:31] videojsAP commented on #2781
Yes. Thats correct.

[2018-09-25 19:37] epiclabsDASH commented on #2781
There is nothing in dash.js to support that although seems quite reasonably. The idea would be using what is the defined in protData and, in case it lacks some properties try to get them from ContentProtection element.

[2018-09-25 19:42] epiclabsDASH commented on #2744
@niteeshbhat, @waqarz, any feedback that could help to complete PR #2779 submitted by @nicosang?

Thanks

[2018-09-25 19:55] epiclabsDASH commented on #2744
One more question. @niteeshbhat, @waqarz, could it happen that representations of the same period have different presentationDuration values? I am trying to find DASH 3rd edition document to get the answer myself but with no success...

[2018-09-26 12:51] JohnIball commented on #2768
@epiclabsDASH, with the latest build we get repeated messages like this:

[8665341][ScheduleController][video] Playing at the bleeding live edge and frag is not available yet
[8665604][ScheduleController][audio] Playing at the bleeding live edge and frag is not available yet

However the stream does play. We get the same behaviour with v2.9.0.

With v2.6.2 (which we currently use in prod), the pat

[2018-09-26 14:04] rootkc opened #2786 "Start new new MSS stream after playing another"
I have issues implementing dash.js as our smooth streaming player. First time playing content it works perfect. Trying to start some other content doesn't work and playback never starts.
* Dash.js version: 2.9.0
* Browser name/version: Chrome 69.0.3497.100
* OS name/version: macOS High Sierra 10.13.6 (17G65)

##### Steps to reproduce
1. Start playback of some smooth streaming content
2. Wait for p

[2018-09-26 14:45] epiclabsDASH commented on #2768
Ok. If the problem is just we are close to the bleeding live edge but playback works, it could be a matter of configuring the right live latency in dash.js. As soon as I can put my hands on that stream I will be able to provide more accurate information. Thanks for getting in contact through Slack and to manage to get that stream url for me.

[2018-09-26 15:47] rootkc commented on #2786
Apparently you have to reset the player and then create it again like so:

[code]
Made it work

[2018-09-26 15:47] #2786 closed

[2018-09-26 20:50] epiclabsDASH commented on #2772
Thanks @tecteun. I could reproduce it here. I think behavior has improved since PR #2778 although I could still reproduce the issue from time to time. I am focused on fixing this. Thanks

[2018-09-28 12:52] nicosang opened #2789 "Subtitles are not displayed"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-10-01 07:40] nicosang commented on #2789
yes, of course...

[code]

[2018-10-01 14:28] palemieux commented on #2789
This document has two issues:

* it uses `px` units but does not specify `tts:extent` on `tt`, as required by IMSC
* `00:00:21:30` does not make sense if the fps is 29.97

[2018-10-01 14:56] nicosang commented on #2789
many thanks @palemieux . I've just added your validator page to my favorites. ;-)

@epiclabsDASH , do you know who can update this sample stream in order to be conform?

[2018-10-01 15:01] palemieux commented on #2789
@nicosang There is also https://subcheck.io/

[2018-10-01 17:40] palemieux commented on #2789
I would also either omit the `ttp:profile` attribute or change it to `http://www.w3.org/ns/ttml/profile/imsc1/text`

[2018-10-01 23:15] epiclabsDASH commented on #2775
@mikecx, looking at the image you pasted seems you are including all dash.js modules (`import {MediaPlayer} from 'dashjs'`). In case you are not using complex stuff, like DRM/Protection, you can take advantage of dash.js modules and import just dash.js MediaPlayer to reduce library size:

`import {MediaPlayer} from 'dashjs/build/es5/index_mediaplayerOnly';`

In my tests I could reduce dash.js libr

[2018-10-02 01:06] mikecx commented on #2775
@epiclabsDASH We aren't using DRM so that's a really good tip! Also good to know on webpack-bundle-analyzer. 350 KB feels much better for everything it's providing.

[2018-10-02 08:49] #2775 closed

[2018-10-02 08:50] epiclabsDASH commented on #2789
Thank you both! I will take care of the file update

[2018-10-02 10:05] epiclabsDASH commented on #2768
John, as you noted, there is a fix in v2.9.1 (officially released yesterday) that fixes the playback stall issue you mentioned. It was caused by a wrong buffer clean up process that happened under certain circumstances. You still will see the "Playing at the bleeding live edge" messages, but there won't be any problem associated with them.

The reason those messages are printed out is the buffer l

[2018-10-02 12:10] epiclabsDASH commented on #2789
@waqarz is taking care of this. Thanks!

[2018-10-02 15:06] epiclabsDASH commented on #2744
@niteeshbhat, @waqarz, any feedback?

[2018-10-02 16:35] palemieux commented on #2789
@waqarz Let me know if you need pointers re: validating TTML content used in the samples/tests

[2018-10-02 21:54] KameshDevarakonda opened #2795 "Chrome tab crash - 2.9.1"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occu

[2018-10-02 22:40] epiclabsDASH commented on #2795
Some extra info to help to scope this issue: I could reproduce this issue since dash.js v2.8.0. Previous versions neither work (tested from 2.9.1 to 2.6.0) although don't cause chrome tab to crash.

Seems to be an issue with EME (don't want to confirm yet), that mixed with the smooth transition logic for multiperiod added in v2.8.0 could be crashing chrome tab (!).

Tomorrow I will take a further

[2018-10-03 05:54] wilaw opened #2796 "Live low latency stream not playing correctly on Safari or Firefox"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-10-03 09:04] JohnIball commented on #2768
Thanks Jesús. I'll upgrade our player to use v2.9.1 sometime in the next few days and see how we go from there.

[2018-10-03 13:30] #2768 closed

[2018-10-03 22:54] epiclabsDASH commented on #2746
Voting period finished, thanks!

[2018-10-03 22:54] #2746 closed

[2018-10-03 22:55] epiclabsDASH commented on #2721
Closing issue. @dovelive, please, feel free to reopen it in case you can still reproduce the issue. Thanks.

[2018-10-03 22:55] #2721 closed

[2018-10-03 23:00] epiclabsDASH commented on #2658
@qchroman, the only effort I am aware regarding persistency is the one @bbert (thanks!) did in the past. Any help, collaboration related with this topic would be appreciated.

[2018-10-03 23:32] epiclabsDASH commented on #2681
@KameshDevarakonda, sorry for the long wait. I was trying to test the stream you provided (even generating my own one using your instructions) but the resulting stream didn't work. I think the PR #2778 should fix the issue experienced here although can't confirm. Could you please test your stream with v2.9.1 or nightly version and confirm it is working? Many thanks in advance!

[2018-10-03 23:41] epiclabsDASH commented on #2711
@hengshaochen, sorry for the long wait. Your stream seems to be not available anymore. I will be happy taking a look if you make it available again.

[2018-10-03 23:42] #2634 closed

[2018-10-03 23:43] epiclabsDASH commented on #2609
Closing because lack of feedback.

[2018-10-03 23:43] #2609 closed

[2018-10-03 23:46] epiclabsDASH commented on #2522
Closing. We couldn't find a way of reproducing this issue...

[2018-10-03 23:46] #2522 closed

[2018-10-03 23:47] epiclabsDASH commented on #2589
Not yet, sorry. I will keep you updated.

[2018-10-03 23:51] epiclabsDASH commented on #2559
@ChrisMash, do you have a stream url to test and reproduce this issue?

[2018-10-03 23:53] epiclabsDASH commented on #2542
Follow progress of MediaPresentationDuration implementation in #2744

[2018-10-03 23:53] #2542 closed

[2018-10-03 23:54] #2521 closed

[2018-10-04 07:41] Gontran-Molotov commented on #2521
FYI, upgrading Electron seems to solve the issue.

[2018-10-04 07:43] epiclabsDASH commented on #2521
Emmmm.... probably because the underlying version of the browser used to run the app?

[2018-10-04 07:49] Gontran-Molotov commented on #2521
yes, surely.

[2018-10-04 14:29] niralipatelgoogle commented on #2741
@epiclabsDASH - I am still able to reproduce the issue for Live/Clear content. As mentioned earlier, after playing for a while, the content stops completely without resuming back.

Tested on:
Dash - V  2.9.1
FF - 63.0b
Mac OS - 10.13.6

[2018-10-04 15:50] KameshDevarakonda commented on #2681
Thanks for following up.

Unfortunately, the problem is not resolved. It takes several seconds to resume the playback during period transition.

Latest MPD: https://dai.google.com/ondemand/dash/content/2480864/vid/r6-live-clear/manifest.mpd

[2018-10-05 08:33] ChrisMash commented on #2559
I’m afraid not, as mentioned above it’s not a publicly accessible stream

[2018-10-05 12:11] epiclabsDASH commented on #2796
Almost done. There are changes in the way the timing is reported by Chrome vs Safari/Firefox that require a fix. I am taking advantage of this PR to test and fine tuning other timing stuff related with low latency. More news to come today.

[2018-10-08 13:42] nicosang commented on #2727
Hi @htleeab ,

I try to investigate this issue. First of all, even before trying to change language, video requests take a very long time to be completed (up to 7.64s). Have you the same behavior on your side?

Nico

[2018-10-08 14:13] k-y0u opened #2801 "Inner Subtitles won't dislpay"
##### Environment

- [ ] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-10-09 10:00] pz325 opened #2802 "Memory leak while playing LIVE stream"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-10-09 12:36] k-y0u commented on #2801
Hi @nicosang ,

Thank you for your answer.

Could you give me more details about `captionContainer`?
Currently I'm not using any custom container for the subtitles, I'm only using `setTextTrack(idx)` to display them or not.

(By the way, It work with DashJs 2.5.0)

k-y0u

[2018-10-09 13:15] nicosang commented on #2801
Hi @k-y0u ,

currently, dash.js use [imscJS library](https://github.com/sandflow/imscJS) to render subtitles. The older version of dash.js that you refer should not use this library. You need to provide a div container by calling :

`mediaPlayer.attachTTMLRenderingDiv(reftoYourHTMLDiv)`

You can take a look at dash-if-reference-player sample page in order to help you.

Nico

[2018-10-10 12:57] waqarz commented on #2744
From what I understand, specially from this sentence of the 3rd ed draft:
"the sum of the value of the @presentationTimeOffset ....... and the value of this attribute is the last presentation time to be presented for this Representation"

this attribute can be used for "trimming" individual representations (e.g. not presenting some ending portion of a specific representation). Hence, it would seem

[2018-10-11 07:34] k-y0u commented on #2801
Hi @nicosang ,

Thanks for the explanation, it seems to work but unfortunately not for all our media.
We will investigate on the differences between working and not working media.

k-y0u

[2018-10-11 08:00] nicosang commented on #2801
Hi @k-y0u ,

if some subtitles appears, and other not, the origin of the issue can be the TTML syntax. As mentionned by @palemieux, you can use online validation tools : https://subcheck.io/#/ and http://apps.sandflow.com/imscV/.

I close this issue but if you have other troubles with subtitles, do not hesitate to open a new issue.

Nico

[2018-10-11 08:00] #2801 closed

[2018-10-11 14:17] metalgigio opened #2805 "Cannot call reset on Edge"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occu

[2018-10-11 16:17] niteeshbhat commented on #2789
The above mentioned issues are fixed in the content. The subtitle documents conform now.

[2018-10-12 06:18] #2789 closed

[2018-10-12 07:29] nicosang commented on #2744
So, it means that when a presentationDuration is detected in a representation, player should try to switch to another representation and not send directly the media finished event, isn't it?

If, like in your sample stream, all representations have the same presentationDuration value : should the player have to replace duration of period by the presentationDuration? If the player doesn't modify th

[2018-10-12 07:37] waqarz commented on #2744
This is more for use cases when, for example, the content provider would like to insert a VoD period in a main period, but would like to "mute" the few last seconds of the audio for this inserted period. This attribute hence will not effect the period duration, but only can trim the media in a period. Though I admit I don't understand what is the expected behavior for video corresponding to muted

[2018-10-12 08:31] waqarz commented on #2744
Based on a discussion, I see that muting audio before the period duration may be the good use case. @niteeshbhat will add one more test case with such content and provide it here.

[2018-10-12 09:48] niteeshbhat commented on #2744
The new vector is here : https://dash.akamaized.net/dash264/TestCasesHD/MultiPeriod_OnDemand/ThreePeriods/ThreePeriod_OnDemand_presentationDur_AudioTrim.mpd

The audio in the ondemand Ad period (period 2) is trimmed by 3 last subsegments of total duration of 4.3s using presentationDuration attribute. Hence audio is expected to be muted for this duration.

[2018-10-12 12:56] Murmur opened #2806 "ClearkeyDRM with embedded kid:value license key not working"
See this topic for more discussion https://github.com/Dash-Industry-Forum/dash.js/pull/2770

ClearkeyDRM does not work with an embedded key:value key in a javascript. Using licenseurl.php script call works with the same manifest content.

**Test manifest for ClearkeyDRM**
https://m.dtv.fi/dash/dasherh264v2/drm/manifest_clearkey.mpd
**Test manifest for NoDRM(free)**
https://m.dtv.fi/dash/dasherh264

[2018-10-12 16:21] howardpanton opened #2807 "Unnecessary ClearKeyKeySet import in `index.d.ts`"
There is a ClearKeyKeySet import at the top of the type file.
[https://github.com/Dash-Industry-Forum/dash.js/blob/development/index.d.ts#L1](url)
`
import ClearKeyKeySet from "./src/streaming/protection/vo/ClearKeyKeySet";

export = dashjs;
export as namespace dashjs;
`
This import is unused and causes a typescript build error when using dash.js with Angular.
`
[ts]
Could not find a declaration f

[2018-10-12 16:29] nicosang commented on #2807
Hi @howardpanton ,

thanks for pointing this out but this issue has been fixed in PR Remove import from typings file #2792.
It will be available in the next 2.9.2 release.

Nico

[2018-10-12 16:29] #2807 closed

[2018-10-15 01:44] htleeab commented on #2727
@nicosang
No, I do not have same behavior on my side. Most of requests finish within 100ms, only the first segment take request longer time. When the error occurs, dash.js player downloads all audio segment quickly.

[2018-10-15 09:09] epiclabsDASH commented on #2744
Thanks @waqarz and @niteeshbhat for all the feedback. Feature is clear to me right now.

[2018-10-15 11:02] albertcsm commented on #957
I am experiencing the same playback stuck described in this issue -- stuck in period transition with dynamic multiperiod segment-timeline-based manifest.

This issue was covered in #1033, but it appears that #1033 only fixed the VOD part.

I don't see any test stream in sources.json either. So I wonder if the live part still remains unsupported?

Would any developer help clarify? Thanks.

[2018-10-15 12:41] davemevans opened #2812 "Live streams will not play"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-10-15 12:54] nicosang commented on #2812
Hi @davemevans ,

I think that I know from who comes this mistake... :-( I forgot to push commits in my last refactoring PR, the fix is in the new PR #2810.

Nico

[2018-10-15 14:44] epiclabsDASH commented on #2812
PR #2810 merged and tested live can be run successfully.

[2018-10-15 14:44] #2812 closed

[2018-10-15 17:01] amohideen opened #2814 "Not able to play h.265 videos (x.264 is working fine)"
DASH: Reference Client 2.4.1
O/S: Ubuntu 16.04.3 LTS
Browser: Chromium Version 66.0.3359.181 (Official Build) Built on Ubuntu , running on Ubuntu 16.04 (64-bit)

I see the mpd file being requested and received from the client (from pcap) but it will not request anything after that.

MPD
<MPD minBufferTime="PT1.500S" type="static" mediaPresentationDuration="PT0H1M0.000S" maxSegmentDuration="PT0H0M2

[2018-10-15 20:59] epiclabsDASH commented on #2814
@amohideen, that's not a limitation of dash.js but of the browser itself. Dash.js doesn't implement video codecs, it leverages the ones supported by the browser (from a performance point of view implementing a codec in javascript doesn't make sense). If the browser supports H.265, then dash.js will support it, otherwise it won't.

Take a look at this link to check in which browsers H.265 is suppor

[2018-10-15 20:59] #2814 closed

[2018-10-15 21:16] damienlevin commented on #2795
@epiclabsDASH, any update on this issue ?
Thanks.

[2018-10-16 05:34] bansalvks opened #2815 "How to pass JSON body to license server call and parse the body of response?"
Hi Team,

Fist of all, Dash js is adorable :)

I have a situation now, where I need to pass headers and JSON to license server call and it will return a JSON response then I have to parse the license key from the response and convert it to ArrayBuffer and pass to the player.

I am trying to figure out how to JSON data and parse the response. Is there any way to do that like we can pass a function

[2018-10-16 20:44] epiclabsDASH commented on #2795
Not yet @damienlevin. I was working on other priority features (almost done) and will get back to this soon. I will keep you updated.

[2018-10-16 23:41] epiclabsDASH commented on #2795
Hey @damienlevin, could you please take a look at this version?
https://blue-eyed-power.surge.sh/samples/dash-if-reference-player/index.html

It has a preliminar fix that takes into account ContentProtection information in period transitions.

Thanks!

[2018-10-16 23:52] KameshDevarakonda commented on #2795
It no longer crashes. Thanks for working on this.

However I observed in this build as well as in the nightly build, that there is some visible picture change (during period transitions). Did you rollback seamless period transition logic or am I missing something here?

[2018-10-16 23:59] epiclabsDASH commented on #2795
Disabling seamless period transition just when there are ContentProtection changes (ad without drm -> content with drm), which was the root cause of previous issue. I am currently forcing a MediaSource reset in those scenarios to avoid browser to crash, but will take a look if there is an elegant way of keeping the seamless transition without killing the browser when a EME change is required. This

[2018-10-17 01:04] KameshDevarakonda commented on #2795
Okay that makes sense. Thank you.

Yes, it is a seamless transition at content period boundaries.

[2018-10-17 15:31] epiclabsDASH opened #2819 "Improve Low Latency sample"
Modify dash.js low latency sample so it allows to play with parameters related with it (targetDelay, minDrift, maxDrift, playbackRate). There is no better documentation than a working demo.

It would be nice using as reference the sample published by @wilaw: http://mediapm.edgesuite.net/will/dash/lowlatency/low-latency-public-example.html

[2018-10-17 16:02] epiclabsDASH commented on #2723
Fixed. There is a new catchup mechanism in place and calculation of available segments has been fixed to improve the behavior of low latency mode.

[2018-10-17 16:02] #2723 closed

[2018-10-17 16:03] #2693 closed

[2018-10-17 16:06] epiclabsDASH commented on #2795
@KameshDevarakonda, I merged the workaround in development branch so it is part of dash.js v2.9.2 (to be released Wednesday next week). In the meantime I will see if there is something we can do from dash.js to make the transition seamless when that requires a "DRM change" or if that's a limitation of the browser. I will keep you posted.
Thanks

[2018-10-17 16:08] epiclabsDASH commented on #2795
Closing this issue and will create a new one for the seamless transition when a DRM change is required.

[2018-10-17 16:08] #2795 closed

[2018-10-17 16:11] epiclabsDASH opened #2820 "Seamless period transition with periods with different DRM config"
Investigate if, in Chrome/Safari, it is possible to do a seamless transition across periods that have different DRM config. Currently if current period doesn't use any DRM system and the next one use any of the availables in the browser, a MediaSource restart is required. Otherwise browser crashes.

Investigate if this is a limitation of Chrome/Safari or if dash.js could do something to provide a

[2018-10-17 16:17] epiclabsDASH commented on #2774
@BucherTomas, we will start taking a look at this by the end of this week. I will keep you updated about progresses.

We are not currently requiring urn:mpeg:dash:adaptation-set-switching:2016 descriptor, we are doing our own check to see if next period codec is compatible with previous one. Anyway, makes sense to take into account that descriptor. We will do seamless transition if codec is compat

[2018-10-17 19:29] BucherTomas commented on #2774
Would just a sample stream with the same codec, but two different adaptation sets using the supplemental decriptor suffice for now?
I've already asked related question to switching between adaptation sets in https://github.com/Dash-Industry-Forum/dash.js/issues/2293 and posted sample stream https://utils.ssl.cdn.cra.cz/dash/1/manifest.mpd there.

Also, when you talk about compatible codecs, what d

[2018-10-18 09:29] Murmur commented on #2819
Is there any examples of FFMPEG + whatelse command lines to produce this live stream segments?

[2018-10-18 09:46] fvalleeHbbTV opened #2821 "regression after "use threshold in removeExecutedRequestsAfterTime" commit"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [] There are no network errors such as 404s in the browser console when trying to play the stream
- [] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs i

[2018-10-18 09:48] fvalleeHbbTV commented on #2821
![screenshot_20181018_114521](https://user-images.githubusercontent.com/9554953/47146107-a4cea400-d2cb-11e8-9960-b604491f8232.png)
(snapshot of logs in inspector - with custom logs in removeExecutedRequestsAfterTime)

[2018-10-18 11:33] epiclabsDASH commented on #2819
@Murmur, take a look at this: https://github.com/streamlinevideo/low-latency-preview

It is a project from @colleenkhenry that makes really easy the preparation and generation of low latency live streams.

[2018-10-19 13:48] adripanico commented on #2819
I've created a PR with some improvements making it similar to @wilaw sample.

Not sure what do you mean with the application of minDrift and maxDrift parameters. Maybe you can comment on the PR or here for my better understanding?

[2018-10-19 15:20] maxutility2011 opened #2824 "EMSG::message_data not honored and possibly mis-interpreted"
##### Environment

- [Y] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [Y] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [Y] There are no network errors such as 404s in the browser console when trying to play the stream
- [Y] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [Y] The issue occ

[2018-10-22 19:50] hancockks commented on #2500
Doesn't profile `urn:mpeg:dash:profile:isoff-live:2011` not support xlink?

[2018-10-22 21:09] jhennyssantos opened #2828 "Problems with videos playback dataset itec to Chrome"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs

[2018-10-23 07:53] nicosang commented on #2828
Hi @jhennyssantos ,

First of all, it seems that your mpd is not conforme : take a look to the conformance tool : https://conformance.dashif.org/

Then, could you, please, use a newer version of dash.js? Finally, could you, please, use an http server to deliver your stream instead of ftp?

Thanks,
Nico

[2018-10-24 20:37] gregdmay opened #2829 "video stream does not render properly in the player when using setInitialBitrateFor"
There is an issue with a video stream not playing correctly when a player is initialized to start playing at a specific bit rate using setInitialBitrateFor('video', ...).  The manifest for the video stream in question is https://transcoded-media.dev.video2know.com/OrgID-1/7MXhgTUISv5XbnVHsdFDdT7TDu6wqQTV/BZBCdBhFZY6aMxpiGM4c54DTReKTZZRh/BZBCdBhFZY6aMxpiGM4c54DTReKTZZRh_playlist.mpd.

When the init

[2018-10-25 13:56] sandersaares commented on #2806
This manifest does not signal the use of Clear Key. See DASH-IF IOP section 7.6.2.4 for the expected signaling.

I do not know if this has anything to do with the issue you are experiencing (maybe you use dash.js features to overwrite signaling in manifest) but I thought I should point out this in case you assumed the content is signaling Clear Key.

[2018-10-25 13:58] sandersaares commented on #2744
Potentially relevant: https://github.com/Dash-Industry-Forum/DASH-IF-IOP/issues/178

[2018-10-25 15:20] nicosang commented on #2744
According to me, it will be difficult to correctly use it in the dash.js. I mean if there is both audio and video in a specific period, and, for instance, audio adaptationSet has a presentationDuration value, dash.js will stop to provide audio segments to HTML5 video element. A stalled state will appear....
Maybe, I don't well understand this new feature. ;-)

[2018-10-25 17:56] Murmur commented on #2806
@sandersaares  Thanks. Manifest signals
`urn:mpeg:dash:mp4protection:2011` CENC and `urn:uuid:1077efec-c0b2-4d02-ace3-3c1e52e2fb4b` drm systems. Same manifest with embedded kid:key works fine but maybe you are correct, this is not how ClearKeyDRM is meant to be triggered. Think I have read some obscure old conflicting whatnot specs.

I read this guideline.
https://dashif.org/docs/DASH-IF-IOP-v4.2-

[2018-10-25 18:54] sandersaares commented on #2806
There are some working Clear Key samples in the [sources.json file](https://github.com/Dash-Industry-Forum/dash.js/blob/development/samples/dash-if-reference-player/app/sources.json).

For example, "1080p with W3C Clear Key, single key" embeds the keys in the protection info structure. Is this the sort of behavior you are looking for?

[2018-10-25 19:12] Murmur commented on #2806
This example works in dashjs reference player. Manifest has LAURL element inside a contentprotection but it was not invoked so I guess KID:KEY from json configuration was used.
http://reference.dashif.org/dash.js/v2.9.0/samples/dash-if-reference-player/index.html
https://media.axprod.net/TestVectors/v7-MultiDRM-SingleKey/Manifest_1080p_ClearKey.mpd

It's either my html javascript doing something b

[2018-10-26 04:36] sandersaares commented on #2806
Using Clear Key does not require any PSSH whatsoever - as far as I know, the PSSHs in the axprod video should not be used at all by dash.js (they are there only for PlayReady and Widevine).

[2018-10-26 08:13] epiclabsDASH commented on #2821
Underlying issue behind this is the way dash.js is calculating the next segment. It is quite related to timing and then, timing unalignments can cause request loop/timing gap issues. We are working on a new architecture for that part that will fix this kind of issues and that will come with dash.js v3.0.0 (end of this year). In the meantime I am working on a fix for 2.9.x.

[2018-10-26 08:46] epiclabsDASH commented on #2821
Your suggestion looks ok to me. Still guarantee we are tolerant to some time deviations but not to big ones. I am going to do some more testing and then will send the change.

Thanks!

[2018-10-26 10:46] epiclabsDASH commented on #2821
@fvalleeHbbTV, everything looks ok here. I am going to send the PR with your suggested change. Release 2.9.2 was postponed because this regression so my plan is giving some more time to the community to test and do the release by Monday next week.

Thanks!

[2018-10-26 11:05] epiclabsDASH commented on #2821
@fvalleeHbbTV, just one more thing that I forgot to mention. I finally used Math.min(req.duration / 8, 0.5) to be "backward-compatible" with streams packaging 4 seconds segment length (quite popular config). That still limit the threshold, and dash.js keeps behaving the same way than before for most of streams. Your stream works fine with this approach.

[2018-10-26 11:45] #2821 closed

[2018-10-26 12:03] fvalleeHbbTV commented on #2821
@epiclabsDASH Perfect, thanks a lot!

[2018-10-26 12:37] Ladonasc commented on #966
Hi,

We've recently found the same issue when developing a VOD/Live playback application on a SmartTv (WebOS).

The available KeySystem are PlayReady and Widevine and DashJS player automatically select the first one : PlayReady.

Jukurrpa suggestion sounds good, will it be possible to indicate which KeySystem to use first (or something like a priority order) ?

[2018-10-26 14:17] Murmur commented on #2806
I made a new test material and tried "everything". Only combination can get to work is `urn:mpeg:dash:mp4protection:2011` and `urn:uuid:1077efec-c0b2-4d02-ace3-3c1e52e2fb4b` in a manifest AND init.mp4/PSSH(1077ef*) must be present AND laurl from javascript code.

**Works ClearkeyDRM (Chrome,Firefox)** laurl in javascript, 1077ef* pssh in init.mp4.
https://m.dtv.fi/dash/index_clearkey2.html?video=3

[2018-10-26 15:20] sandersaares commented on #2806
How do you create your content? Can you zip it up, so I can download all the files, and give me the values for the keys? I will try to take a closer look Monday.

[2018-10-26 17:49] Murmur commented on #2806
Use this shell script to download files, it's easier no need to zip the same content.  See also kid:key and test license urls. Content is created using [referenceapp dasher java tool (+ffmpeg,mp4box)](https://github.com/HbbTV-Association/ReferenceApplication/tree/master/tools). Latest dasher code is in a staging server and soon pushed to github.

[code]

[code]

[2018-10-27 22:05] epiclabsDASH commented on #2820
Some findings:
- Use of SourceBuffer changeType method, whenever it is available, helps to avoid the crash although still are raised decoding errors in media pipeline.
- Apparently, the issue is license MediaKeys need to be ready before we start pushing encrypted segments for a buffer that previously processed some data. A process that "preloads" MediaKeys as we are doing right now with video/audi

[2018-10-29 05:16] sandersaares commented on #2806
[citation needed]

`../downloadfiles.sh: 10: ../downloadfiles.sh: Syntax error: "(" unexpected`

[2018-10-29 07:30] vksbansal commented on #2815
Just following up... Is there any milestone set for this?

[2018-10-29 09:54] JohnIball commented on #2821
Sorry to jump on a closed issue, but we're seeing something similar. We get it in v2.9.1 but we've also seen it in v2.9.0 (which we're using in production). Of course it could be a different problem which causes similar behaviour, but is there any chance that the defect was present in v2.9.0?

[2018-10-29 13:49] Murmur commented on #2806
@sandersaares  Download this file https://m.dtv.fi/dash/dasherh264v3.zip
Your ssh console is broken somehow or copypaste script had non-visible characters like windows newlines or something.

[2018-10-29 14:17] nicosang commented on #2805
Hi @metalgigio ,

could you, please, give more details about how to reproduce this issue? I can't on my side. Another weird thing is that there is no 'start' word in AbrController.js...

Nico

[2018-10-29 14:48] metalgigio commented on #2805
Hi,
i post a complete code that throw this error:

`    <button onclick="javascript:startSpot();">Mostra Spot</button>

    <div id="container">
    </div>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="http://cdn.dashjs.org/latest/dash.all.min.js"></script>
    <script>

    variabile = 0;

    $(document).ready(function(){

        var $d

[2018-10-29 16:22] nicosang commented on #2805
So, you want to play a dash content and then, play a mp4 one. am I right?
my first question is why, in dash use case, do you add the src attribute of html5 video element with mpd url?
second question : why do you call reset in the timeupdate callback rather than in the startSpot function?

[2018-10-29 16:37] metalgigio commented on #2805
Yes, ur right, i'm doing this because i want to start a spot video (not in streaming) during a live streaming and then back to live.
1) i add the src because in full script when sport start i save that url to restore it after spot end
2) i call reset inside timeupdate because in full script i do a lot of other things during spot playing (like disable control) so i can control everything in one pla

[2018-10-30 07:31] sandersaares commented on #2806
There seems to be something wrong with your base64 encoding. The last character is different from what I get.

When I take manifest_clearkey.mpd it plays fine in dash.js as follows:

[code]

[2018-10-30 11:13] sandersaares commented on #2806
The lack of a license request with video 31 seems like a dash.js defect. Maybe it is possible to get it fixed and this would let you stick with only 1 video.

@nicosang do you know why the two last links above might behave different in terms of license acquisition?

[2018-10-30 14:33] nicosang commented on #2806
no idea right now....

[2018-10-30 15:44] fvalleeHbbTV commented on #2729
The issue seems to be in the StreamController.
If onStreamBufferingCompleted() is called too early while playbackEndedTimerId is defined, the method is no-op.
onStreamBufferingCompleted()  will never be called again for the already buffered content so  toggleEndPeriodTimer() is never called.

As a workaround,  I've tested to handle this case in StreamController::onEnded()
After playbackEndedTimerI

[2018-10-30 19:40] sandersaares commented on #2806
My hypothesis:

* dash.js triggers license requests when EME raises the "I found a PSSH" event
* Video 31 has no PSSH, so the EME event never happens, so no license request is ever made
* Video 33 works because it was the W3C "Common" PSSH that, while not directly related to Clear Key, by coincidence triggers the license request code

Just guessing based on behavior, have not looked at code.

[2018-10-30 23:39] epiclabsDASH commented on #2744
Fully agree with @nicosang. Having one track (video or audio) shorter than the other is not well supported by MSE implementation and will cause playback stall situations: there is no way of "signaling" to the browser that a MediaSourceBuffer associated with one of the tracks is finished but the other one continues.

There is a workaround which is reinitializing the MediaSource completely when one

[2018-10-31 06:53] VasylS opened #2837 "Incorrect init segment caching in Low-Latency Mode"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-10-31 09:58] fvalleeHbbTV commented on #2821
@JohnIball  This ticket is about a change introduced in v2.9.1 to fix playback issues (https://github.com/Dash-Industry-Forum/dash.js/issues/2741 or https://github.com/Dash-Industry-Forum/dash.js/issues/2730) so I guess your problem is related to theses tickets if you reproduce using v2.9.0.
The fix (changed a bit in v2.9.2 due to this ticket) is doing the job as far as I can tell but maybe it's n

[2018-11-01 15:33] niralipatelgoogle opened #2840 "Playback stops at a specific interval for ondemand clear profile"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-11-01 15:41] ShanePhelan commented on #2821
@fvalleeHbbTV @epiclabsDASH We're still seeing this issue in v2.9.2 though the behaviour is slightly different.

Previously when this issue occurred, the player would make hundreds of requests for the same segment and eventually stall / run out of memory.  In v2.9.2, it still makes hundreds of requests for the same fragment but it manages to carry on playing albeit after dispatching a buffer empty

[2018-11-01 15:42] niralipatelgoogle commented on #2840
Debug.js:233 [24429][MediaPlayer] Streaming Initialized
Debug.js:233 [24435][MediaPlayer] Playback Initialized
Debug.js:233 [24649][DashParser] Parsing complete: ( xml2json: 27.9ms, objectiron: 0.600ms, total: 0.0285s)
Debug.js:233 [24662][ManifestUpdater] Manifest has been refreshed at Thu Nov 01 2018 11:38:31 GMT-0400 (Eastern Daylight Time)[1541086711.824]
2Debug.js:233 [24667][Stream] [Stream]

[2018-11-01 16:42] niralipatelgoogle opened #2841 "Playback stops at a specific interval for ondemand + DRM profile"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-11-01 16:53] niralipatelgoogle commented on #2841
Debug.js:233 [42929][MediaPlayer] Streaming Initialized
Debug.js:233 [42945][MediaPlayer] Playback Initialized
Debug.js:233 [43168][DashParser] Parsing complete: ( xml2json: 47.7ms, objectiron: 0.500ms, total: 0.0482s)
Debug.js:233 [43176][ManifestUpdater] Manifest has been refreshed at Thu Nov 01 2018 12:51:13 GMT-0400 (Eastern Daylight Time)[1541091073.509]
2Debug.js:233 [43182][Stream] [Stream]

[2018-11-01 19:03] re-jim commented on #2658
We just need streams/license servers that support persistence in order to validate the PR?

EZDRM have some publicly available:

asset: http://wvm.ezdrm.com/demo/stream.mpd
widevine license server: http://widevine-dash.ezdrm.com/proxy?pX=BF9CEB
playready license server: https://playready.ezdrm.com/cency/preauth.aspx?pX=3F3BB5

[2018-11-01 19:19] swenkeratmicrosoft commented on #2658
For PlayReady, we have a public test server for both content and licenses.  I recommend using it.  Here's a couple direct links to a variety of content including license acquisition URLs to use.

http://test.playready.microsoft.com/Content/Content2X
http://test.playready.microsoft.com/Content/Content3X

For license acquisition, simply changing the string "persist:false" to "persist:true" in the li

[2018-11-01 23:44] epiclabsDASH commented on #2837
Thanks @VasylS for the contribution! Your solution looks ok, I don't think we really need to download init segments in stream mode. I am going to review this, and check if makes more sense fixing init segments cache issue to avoid over-complicating network layer (different logic per type of request).

[2018-11-02 05:34] VasylS commented on #2837
Thank you @epiclabsDASH .  Do we need to support init segment update in cache? If not we can just append chunk to buffer [here](https://github.com/Dash-Industry-Forum/dash.js/blob/a6a267b34195e305f78bd474ee00c009db6b1c42/src/streaming/utils/InitCache.js#L47) instead of replacing it.

[2018-11-02 09:47] bbert commented on #2658
I have updated PR #2714 to provide sample test streams that support licence persistency on Edge.

Before merging, we need to clarify some point:
@swenkeratmicrosoft, do you know if there is any difference in the EME API between the default supported version on Edge by dash.js, i.e. the one supported by the ProtectionModel_21Jan2015, and the one that conforms to the W3C Recommendation of 18 Septemb

[2018-11-05 11:01] Yijx opened #2842 "[ProtectionController] DRM: Only 'cenc' initData is supported! Ignoring initData of type: webm"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occu

[2018-11-05 16:29] chevonc commented on #2772
I'm seeing a similar issue on chrome when the a live stream ends abruptly, index/segment fetching fails repeatedly and player + browser locks up

[2018-11-05 17:21] niralipatelgoogle opened #2843 "DRM stream plays with slate"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-11-05 19:17] swenkeratmicrosoft commented on #2658
The 'com.microsoft.playready.recommendation' conforms to the W3C Recommendation of 18 September 2017 and was never released without conforming to that spec.  Any other key system string related to PlayReady does _not_ conform to that spec (and, in fact, has significant, incompatible differences).  So, you can determine whether the ProtectionModel_21Jan2015 uses the spec-compliant EME implementatio

[2018-11-05 23:08] epiclabsDASH commented on #2840
@niralipatelgoogle, thanks for reporting. I found the root of the issue and have it already fixed. I am working on some extra improvements related with multiperiod stuff and will send the PR once is ready. I will keep you posted. Thanks!

[2018-11-05 23:15] epiclabsDASH commented on #2841
@niralipatelgoogle, root issue is the same reported in #2840, which is already fixed in my environment. I am closing this one and we will follow up the progress in #2840. Thanks!

[2018-11-05 23:15] #2841 closed

[2018-11-05 23:20] epiclabsDASH commented on #2821
@ShanePhelan, thanks for the feedback. I am going to take a look.

[2018-11-06 08:43] bbert commented on #2658
@swenkeratmicrosoft thanks for your response. I would agree to move to 'com.microsoft.playready.recommendation' for Edge, but the problem is that dash.js adapts to the available API but not to user agent. dash.js never checks user agent in source code.
Hence my question about a way to determine if 'com.microsoft.playready.recommendation' key system is available without checking for user agent.

A

[2018-11-06 09:14] BucherTomas commented on #2774
I've created dash content with mutliple codecs as per your original request. https://utils.ssl.cdn.cra.cz/dash/2/manifest.mpd includes one adaptation set with three bitrates encoded in H.264, another adaptation set with one bitrate encoded in VP9 and another adaptation set with similar bitrate encoded in HEVC.

[2018-11-06 13:03] fvalleeHbbTV opened #2845 "live w/ segmentTimeline : playback not starting"
##### Environment

- [X] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occ

[2018-11-06 13:14] fvalleeHbbTV commented on #2845
I actually started to check this stream because I had an issue with another live w/ segmentTimeline case, where the offset between the server time and the client time (as set in TimelineConverter::onTimeSyncComplete) is overridden (with wrong value) by:
 https://github.com/Dash-Industry-Forum/dash.js/blame/ae1232d72829edcd80e48e773c8499d73c0b4baa/src/streaming/utils/LiveEdgeFinder.js#L58
Note sure

[2018-11-06 14:33] bbert commented on #2658
@swenkeratmicrosoft actually, if "old PlayReady key system has known issues and bugs which will not be fixed, ...", then I would suggest that it is up to Edge browser to be updated so to that 'com.microsoft.playready' addresses the correct CDM that conforms to the spec.
If compatibility is critical for old websites, it is up to those websites to update to conform to spec.

Keeping compatibility fo

[2018-11-06 19:14] swenkeratmicrosoft commented on #2658
@bbert

Unfortunately, changing com.microsoft.playready to conform to the spec would break Netflix, Amazon Prime, and numerous other major websites for _weeks_.  The amount of code changes required to move key systems for those websites is _very_ significant.  It is simply an untenable solution.

I would suggest the following:
If the manifest and/or init data segment requests com.microsoft.playrea

[2018-11-06 23:43] epiclabsDASH commented on #2840
@niralipatelgoogle, please find here a new version I have been working on with some improvements in the period management logic. It also implements changeType method of SourceBuffer, supported from Chrome 70, that enables re-using SourceBuffers for different codecs. Feedback appreciated.

http://tightfisted-toys.surge.sh/samples/dash-if-reference-player/index.html

[2018-11-07 08:38] bbert commented on #2658
@swenkeratmicrosoft

_"Unfortunately, changing com.microsoft.playready to conform to the spec would break Netflix, Amazon Prime, and numerous other major websites for weeks."_
Have you communicated about the new CDM to these major companies so that they can prepare migration?

And this is the same for dash.js users. If we do propose using .recommendation key system we can not guarantee the proper

[2018-11-07 19:32] swenkeratmicrosoft commented on #2658
Yes, we've communicated the new CDM to the major companies so that they can migrate to it.  TBH, we'd love to completely remove support for the old key system string if it were at all possible.  Unfortunately, while we have excellent reasons for websites to migrate, those websites don't have real motivation - they say "our site works, why should we change?"  So, we're in a catch-22 - we can't remo

[2018-11-07 20:16] Murmur commented on #2806
@nicosang @sandersaares  Devop made a change in a web server and CORS were two times in a reply. Should be fixed now. But it is now laurl test pages stopped working. PR removal maybe did something for clearkey-laurl use case?

ClearkeyDRM(laurl): not working anymore in Chrome/Firefox:
https://m.dtv.fi/dash/index_clearkey2.html?video=21
https://m.dtv.fi/dash/index_clearkey2.html?video=33

ClearkeyD

[2018-11-08 09:00] nicosang commented on #2806
Sorry @Murmur but according to me, your three samples work now, don't they?

[2018-11-08 10:20] bbert commented on #2658
OK. I am surprised that Netflix, Amazon and co don't want to spend the money to move towards new key system.
Anyway, as you said, we can encourage using new key system by putting forward its new functionalities, such as license persistency.
So, for the time being, I would keep integration of new .recommendation key system as I did in PR #2714:
"I want to use license persistency for PlayReady (on E

[2018-11-08 15:13] niralipatelgoogle commented on #2840
Tested and verified the stream using above new version. The issue still persist where the Ondemand Clear stream stops playing and never resumes back.
Link to playable MPD file:

SSB stream - URL=$(curl -X GET --data '' 'https://dai.google.com/ondemand/dash/content/2485489/vid/r8-ondemand-clear/manifest.mpd?dai-excl=codec:ec-3'| grep -oe 'https:\/\/.*\.mpd');LICENSE='';echo https://reference.dashif

[2018-11-08 17:58] luki215 opened #2847 "Not loading UTF-8 MPD file correctly - audio language"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html **this URL gives me 404**
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wik

[2018-11-09 09:03] nicosang commented on #2847
Hi @luki215 ,

it seems that your manifest is not conforme. Please, take a look at the result of conformance tool : https://conformance.dashif.org/
For your manifest, the tool returns :
_Line:Col[39:50]:cvc-pattern-valid: Value '?e?tina' is not facet-valid with respect to pattern '([a-zA-Z]{1,8})(-[a-zA-Z0-9]{1,8})*' for type 'language'.
Line:Col[39:50]:cvc-attribute.3: The value '?e?tina' of attr

[2018-11-09 09:03] #2847 closed

[2018-11-11 09:48] ssavva05 opened #2849 "Modyfying dash.js to accept a single unify receptor"
Hello,
  I want to modify dash.js to accept only a single unify receptor instead of the standard manifest schema and sent the corresponding encoded dash file in run-time from server to client to match to the metrics that i measure previously with other protocol like Q4S.  Is this Possible? Is there any place to start to do this modification without mess up the entire system?

[2018-11-12 10:54] epiclabsDASH commented on #2849
Hi @ssavva05. Sorry, I didn't understand what is your requirement. What do you mean by a "single unify receptor"?

[2018-11-12 11:02] nise opened #2850 "Dead links and poor documentation"
Most of the links referring to https://dashif.org are broken. In consequence the documentation appears very bad. I was not able to run any of the examples. Is this reposity still actively maintained?

[2018-11-12 11:08] epiclabsDASH commented on #2850
Hi @nise. Yep, of course it is! Last commit was just 5 days ago... :)

Let me take a look and review those links. We recently changed the site behind https://dashif.org and it is true that there is work to do regarding update links. Thanks for reporting, I will take care of this.

[2018-11-12 14:38] tomraut opened #2851 "dash.js 2.9.0 freezes while getting audio packages"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-11-12 15:37] epiclabsDASH commented on #2828
Closing because lack of feedback. Please, @jhennyssantos, feel free to reopen in case you have some information to share.

Thanks!

[2018-11-12 15:37] #2828 closed

[2018-11-12 20:20] ssavva05 commented on #2849
Hello,
 Thanks for your response.  I want to make dash.js player to accept any income and play it. With term "single unify receptor", I want to have only one registry for video and only one registry for audio in manifest file and server will do something like URL redirect at each session and will sent to the client the corresponding dashint to get it and play it without any knowledge(bitrate aspec

[2018-11-13 11:09] sandersaares commented on #2851
Based on the URL, the segment being fetched is approximately 26.4 minutes into the presentation, which makes no sense for a 9 minute presentation. Sounds very strange!

I cannot help with the exact issue here but I did take a look at the timing parameters of the video and noticed some potential issues. Analysis of the manifest indicates some missing data, which may or may not contribute to difficu

[2018-11-13 13:32] tecteun commented on #2772
This seems to be related to addTextTrack and addCue, when adding subtitles ontimeupdate event it can create some sort of endless loop.
(haven't yet reproduced this, just encountered a similar issue in an other project)

[2018-11-14 06:57] sandersaares commented on #2847
@luki215 do you have this as a playable URL? Encoding issues can get distorted by conversions when you pass around files - the web server's encoding signaling often plays an important role and we cannot see the encoding signaling for this video if it is just provided as an MPD. A playable URL would be more practical to diagnose.

[2018-11-14 13:25] #2806 closed, assigned to nobody

[2018-11-15 17:05] re-jim commented on #2658
I agree (does my vote matter?)

[2018-11-16 14:01] nicosang opened #2856 "Streams Dash Industry Forum Tests Vectors / Multiple Period don't work in Chrome"
##### Environment

- [X] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occurs

[2018-11-16 14:36] #2805 closed

[2018-11-16 22:45] epiclabsDASH commented on #2856
@nicosang, I think this is a duplicated of #1481, isn't it?

[2018-11-19 08:34] nicosang commented on #2856
Yes, you're right, it seems to be a duplicate issue.

[2018-11-19 08:34] #2856 closed

[2018-11-19 14:38] nicosang commented on #1356
@davemevans , this issue can be closed, isn't it?

[2018-11-19 15:03] #1700 closed

[2018-11-19 15:07] adripanico commented on #2802
I think the problem is that you are skipping a very important step when comparing heap snapshots: to force a garbage collector (by clicking on the garbage bin icon on Memory tab of Chrome DevTool).

You must also take into account that you are testing on a debug view that is constantly printing into the browser console, and this also needs memory and therefore will impact in your results.

In my t

[2018-11-19 16:17] nicosang commented on #1790
I close this issue because  the sample stream is no longer available.

[2018-11-19 16:17] #1790 closed

[2018-11-19 16:46] davemevans commented on #1356
It's still an issue, but no modern tooling seems to care so I agree.

[2018-11-19 16:46] #1356 closed

[2018-11-20 05:38] bansalvks commented on #2815
Hi Team,

A reply means a lot. I am stuck from quite a long time due to this limitation. Please suggest a way/workaround

[2018-11-20 08:08] davemevans commented on #2815
Duplicate of https://github.com/Dash-Industry-Forum/dash.js/issues/1610?

[2018-11-20 09:36] nicosang commented on #2837
@VasylS , @epiclabsDASH, we can close this issue, can't we?

[2018-11-20 11:00] nicosang commented on #2697
Hi @fvalleeHbbTV ,

even if you register to the PERIOD_SWITCH_COMPLETED event, you will not be able to calculate this value?

Nico

[2018-11-20 15:05] Murmur commented on #2843
Have you tried a nightly build dashjs?
https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

I looked at the attached mp4.zip video, so you trick play by jumping back and fort in a timeline? Few times video canvas had a green artefacts before clear image was restored. Kind of like a keyframe decoding was broken few seconds. Timeline trick play goes from video(dr

[2018-11-20 16:32] Lastique opened #2859 "Playback does not start, buffering spins indefinitely"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs

[2018-11-21 07:59] timur-gilauri commented on #651
I am having this issue when stream video as VOD. So there is finite number of fragments to download, but the player know nothing about it and keep trying to download fragments that are beyond the boundaries, gets 404 and then crush.

As I know the duration of the video, I can count amount of downloaded fragments, depends on start time and if next fragment is not needed I reset request.  It is prev

[2018-11-21 08:01] uafgin commented on #2589
i'm having the same issue, i solved it in aweird way but it does work.
everytime i seek instead of changing currentTime i am loading the same source with dvr offset from live,
by doing it i realized that the main issue.
the difference between seeking and loading manifest with offset is the clock sync event
when manifest loaded for the first time Dash.js load event to sync clock (to iso clock), i d

[2018-11-21 08:58] fvalleeHbbTV commented on #2697
Hi @nicosang , thanks for answer. Not sure if PERIOD_SWITCH_COMPLETED could help - I should check -  but I found already a way to do it and it looks like nobody else need this feature so I'm closing the ticket.

Fabien

[2018-11-21 08:58] #2697 closed

[2018-11-21 13:51] nicosang commented on #2859
Hi @Lastique ,

if you use the function `player.setSegmentOverlapToleranceTime(0.3);` in your sample page, your stream will start correctly. The default value is 0.2 that is smaller than the difference between video and audio start time (0.3 second)

Nico

[2018-11-21 14:15] Lastique commented on #2859
Thanks, that seems to help with both Chrome and Firefox.

[2018-11-21 15:09] Lastique opened #2861 "Manifests with both mp4 and WebM representations don't load"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/

The conformance tool shows the following errors:

[code]

Other than that no errors are detected.

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observe

[2018-11-21 16:44] sandersaares commented on #651
Why not? The MPD should have information about the duration of the video. Is this not the case? Can you show an example of the video you use?

[2018-11-22 06:19] sandersaares commented on #651
From this description, it sounds to me like your manifest is not valid DASH then. When a dynamic MPD stops getting new data, the server must update the MPD to say so - by defining a `Period@duration` and `MPD@mediaPresentationDuration` that limits it to the data that really exists.

The MPD is the authority - if it says a segment is available, it must be available.

[2018-11-22 10:00] Yijx commented on #2842
[code]

[2018-11-23 02:49] htleeab opened #2862 "[low-latency] video and audio out of sync when low-latency mode enabled (after 30mins)"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2018-11-23 10:18] Murmur opened #2863 "Firefox + WidevineDRM + Livesim mpd not working"
Latest FirefoxBeta(win10) + Dashjs(night) + Livesim + drm playback not working `Next fragment seems to be at the bleeding live edge and is not available yet. Rescheduling` errors.

Chrome(widevine)+dashjs+livesim+drm is ok. IEEdge(playready)+dashjs+livesim+drm is ok. Firefox+dashjs+livesim+nodrm is ok. Firefox+dashjs+vod+drm is ok.

It is just Firefox+dashjs+livesim+drm content not working. I cann

[2018-11-23 11:35] dsander opened #2864 "Playback fails with CHUNK_DEMUXER_ERROR_APPEND_FAILED: Append: stream parsing failed"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2018-11-23 13:56] Murmur commented on #2864
Mediainfo `media-audio-abw-mp4a.mp4` tells it's 8-channel AAC audio? Manifest indicates a stereo channel. I was trying to playback this audio track in VLC3.x player and it choked on it. If you are fine with stereo sound suggest try downsampling with ffmpeg to 2-channel audio track.

`<AudioChannelConfiguration schemeIdUri="urn:mpeg:dash:23003:3:audio_channel_configuration:2011" value="2"/>`

[code

[2018-11-24 18:58] Murmur commented on #2864
Dashjs supports multichannel audio as long as a brower is compatible with a codec. My 2ch suggestion is just to try if media is played.

[2018-11-26 14:44] #2859 closed

[2018-11-26 16:21] #2829 closed

[2018-11-27 10:09] Murmur commented on #2845
What if you give `utc_head`  url argument?
https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html?url=https://livesim.dashif.org/livesim/segtimeline_1/utc_head/testpic_2s/Manifest.mpd

This will put UTCTiming field in the end of manifest.
` <UTCTiming schemeIdUri="urn:mpeg:dash:utc:http-head:2014" value="https://livesim.dashif.org/dash/time.txt" /> `

[2018-11-27 19:42] wilaw opened #2868 "Playback fails with dynamic multi-period mpd with xlink"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2018-11-28 09:27] PatrikCarlander opened #2869 "BufferController: toFixed returns a string, playback stop."
##### Environment
All Environment
* Link to playable MPD file: Any MPD
* Dash.js version: v2.9.2
* Browser name/version: All Browses
* OS name/version: All OS

##### Observed behaviour
src/streaming/controllers/BufferController.js
const bufferAhead = criticalBufferLevel - bufferToKeep;
 273                   mediaPlayerModel.setBufferToKeep(parseFloat(bufferToKeep).toFixed(5));
 274

[2018-11-28 09:35] fvalleeHbbTV commented on #2845
using Nightly ref player (development, commit: 3cce2d2a) + firefox 63.0.3 (Linux) :
I can't reproduce the issue using https://livesim.dashif.org/livesim/segtimeline_1/utc_head/testpic_2s/Manifest.mpd.

However, I still can reproduce playback issues using https://livesim.dashif.org/livesim/segtimeline_1/testpic_2s/Manifest.mpd (it's random and a bit hard to reproduce).

[2018-11-28 11:00] epiclabsDASH commented on #2869
Fixed in #2870. Thanks for reporting!

[2018-11-28 11:00] #2869 closed

[2018-11-28 16:38] mvirbicianskas commented on #2551
it could be reproducible if you load some static file and have `<video loop />` attribute in there

[2018-11-29 09:53] nicosang commented on #2868
Hi @wilaw ,

I made some tests with former versions of dash.js : the issue is already there. According to me, it happends before period transition on a 'xlink' period. Some segment requests are in 404 error with the error you described before....

Nico

[2018-11-29 13:40] chihebbn opened #2871 "Getting event with schemeIdUri='urn:mpeg:dash:event:callback:2015': no HTTP Get to messageData URL"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2018-11-29 13:58] nicosang commented on #2863
Hi @Murmur ,

are your sure that is a drm issue? I mean when the first video segment is pushed in SourceBuffer the time range of this sourceBuffer is still 0. It's as if no data was pushed or, more precisely, if there is a issue with mp4 pushed boxes.

Could you, please, test the same stream (the one with the issue) without DRM protection and see if video datas are really pushed in the sourceBuffe

[2018-11-29 14:35] Murmur commented on #2863
@nicosang Yes I have a drm and nondrm versions available.
1. video=DRM test. Firefox(widevine) fails. Chrome(widevine) is fine, Edge(Playready) is fine.
2. and 3. video=NoDrm test. FF+Chrome+Edge is fine.
4. video=DRM vod test(without live simulator). FF+Chrome+Edge is fine.

Maybe this is a corner case with LiveSimulator but it only breaks on Firefox browser. Same content and wv-laurl works fine

[2018-11-29 15:59] nicosang commented on #2863
Yes, sorry I didn't see that you provided a clear sample. Anyway, according to me, I think there is a problem in the protected video chunks. The thing that is really weird is that the video element doens't return an error...

[2018-11-30 10:02] nicosang commented on #2871
Hi @chihebbn,

I agree that dash.js doesn't correctly manage the events as described in issue #2824. In your issue, according to my comprehension of specifications, I think that messageData attribute shall be in a Event element instead of a EventStream element.

Nico

[2018-11-30 10:22] chihebbn commented on #2871
Hi @nicosang
Thank you for your comment.
I even made a local test with a modfied MPD that matched with  ISO/IEC 23009-1/A3:2016 (i.e, EventStream that contains an Event with messageData). I have the same result: Dash.js does not send HTTP GET request to url indicated by messageData.

Chiheb

[2018-11-30 13:43] nicosang commented on #2871
It's exactly what I said : "dash.js doesn't correctly manage the events" ;-) Could you please update your manifest with the modification about messageData in order to be used by contributors to update events management in dash.js.

Thanks,
Nico

[2018-11-30 14:21] nicosang commented on #2871
why don't you try to add those lines to your main app :

`    $scope.player.on('urn:mpeg:dash:event:callback:2015', function (e) { /* jshint ignore:line */
        const Http = new XMLHttpRequest();
        const url=e.event.messageData;
        Http.open("GET", url);
        Http.send();
        Http.onreadystatechange=(/*e*/)=>{
        };
    }, $scope);`

[2018-12-01 23:21] chevonc opened #2873 "When Chrome Browser Throws Auto Play Error, PLAYBACK_NOT_ALLOWED Event Isn't Raised"
* Dash.js version: 2.9.2
* Browser name/version: Chrome/ 70
* OS name/version: Mac OSX

##### Steps to reproduce
1. Open chrome in guest mode
2. Try to automatically play any video *with* sound/volume > 0 using the dash player. You can do this on page load, etc. (ensure there is **no user interaction** with the webpage during this).

##### Observed behaviour
1. Observe that browser prevents auto p

[2018-12-03 10:23] nicosang commented on #2873
Hi @chevonc ,

I did a test in the reference test page by adding those lines :

`    $scope.player.on(dashjs.MediaPlayer.events.PLAYBACK_NOT_ALLOWED, function (e) { /* jshint ignore:line */
        if (!$scope.video.muted) {
            $scope.video.muted = true;
            $scope.doLoad();
        }
    }, $scope);
....

$scope.doLoad(); //call doLoad to play the stream when the page is loaded..

[2018-12-03 22:48] chevonc commented on #2873
I think there's one key difference from what you pasted.

`if (!$scope.video.muted) { $scope.video.muted = true; $scope.doLoad(); ` You are muting the video before attempting to play.

In my repro steps note: `Try to automatically play any video with sound/volume > 0 `. This is what causes chrome to block autoplay. For reasons more than one, we need to be able to auto play a video with audio **on*

[2018-12-04 09:53] nicosang commented on #2873
I muted the video in the PLAYBACK_NOT_ALLOWED event callback. The first doLoad call is done (with audio volume enabled) when the html page is loaded.

Nico

[2018-12-04 21:04] chevonc commented on #2873
Hmm, interesting. How do you explain the error in the console from the player code then? Is it possible you're testing on the 'latest' master/development branch versus `v2.9.2`, which is what I am using? It could be possible that it was recently fixed

[2018-12-04 21:35] epiclabsDASH commented on #2873
Not really, that part of dash.js was not modified recently.

@chevonc, for your info, I right created a sample that shows how to deal with autoplay browser policies with dash.js. Included in "advanced" samples of #2875.

Both autoplay interruptions and playback recovery using muted worked fine here.

[2018-12-04 21:36] epiclabsDASH commented on #2871
Closing this. @nicosang, implemented this feature in #2872.

[2018-12-04 21:36] #2871 closed

[2018-12-04 23:37] chevonc commented on #2873
Thanks for that. I will take a look at that sample and see where I'm going wrong and report back.

[2018-12-07 15:24] JoeEylesBBC opened #2877 "Incorrect handling of emsg events when multiple events arrive simultaneously."
##### Environment

- [NA] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [NA] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [Untested, as the

[2018-12-07 21:11] epiclabsDASH commented on #2877
Hi @JoeEylesBBC. Thanks for reporting this issue.

Sure, a PR would be appreciated. Do you also have a sample stream that helps to reproduce this issue? Thanks!

[2018-12-07 23:38] wilaw opened #2878 "Multi-period DASH playback fails at period junctions"
[Filed on behalf of bruce Roberts at Ericsson]
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wik

[2018-12-11 13:31] tecteun commented on #2772
@epiclabsDASH I'm unable to reproduce the above issue in the 2.9.3 nightly using latest Safari ->
http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/?url=https://demo.unified-streaming.com/video/tears-of-steel/tears-of-steel.ism/.mpd

Closing.

[2018-12-11 13:31] #2772 closed

[2018-12-12 08:58] dsander commented on #2864
Thanks for your help, we decided to downmix those files to stereo and they play back fine.

[2018-12-12 08:58] #2864 closed

[2018-12-12 10:05] JoeEylesBBC commented on #2877
I have created a pull request. Sorry, there is a typo in the commit, it should read "different values" not "identical values".

I am afraid I am not able to share the stream I am using, however any stream with simultaneous events with different values will reproduce the issue.

[2018-12-17 23:17] chevonc commented on #2873
Hi all, I believe I've figured out the issue here, and it has to do with how the player internally checks against the `Promise` type.

When the dash.js source is bundled with webpack for example, it's possible that the calling app is using another promise library such as `bluebird`, etc. In this case, the check below for `(p instanceof Promise)` fails because the browser's returned native ES6 prom

[2018-12-17 23:36] epiclabsDASH commented on #2873
Thanks @chevonc. I will take a look at your suggestion. Thanks!

[2018-12-18 05:47] shariikhan opened #2882 "i want to start dashJS but i dont know from where i start?"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [] There are no network errors such as 404s in the browser console when trying to play the stream
- [] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs in t

[2018-12-18 05:48] shariikhan opened #2883 "which tool is used to modify the video encryption and how to work on ABR with Dash?"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [] There are no network errors such as 404s in the browser console when trying to play the stream
- [] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs in t

[2018-12-18 10:24] xpouyat opened #2884 "Memory leak with Live PlayReady DASH Stream on Edge Browser"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
Two minor issues with the Protection Headers - I informed the Azure Media Services Team
- [] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not menti

[2018-12-19 09:52] davemevans opened #2885 "Control bar broken in nightly"
In the nightly build the control bar in the reference player hosted at https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html is completely broken on at least Edge, FF and Chrome on Windows. It works great in v2.9.2.

Screenshot:

![screenshot_2018-12-19 dash javascript player](https://user-images.githubusercontent.com/5390145/50212685-89d3eb00-0373-11e9-9e52-8bc7

[2018-12-20 06:52] chevonc commented on #2873
Any update on this? Also, I've been wondering when `v2.9.3` will be releaased if you could share. Hoping to get all the new goodies soon :)

[2018-12-20 09:44] davemevans commented on #2885
Seems to be working again now ¯\_(ツ)_/¯

[2018-12-20 09:44] #2885 closed

[2018-12-20 12:47] epiclabsDASH commented on #2884
@adripanico, was taking a look at possible memory leaks a few days ago. @adripanico, any feedback to share?

[2018-12-20 12:48] epiclabsDASH commented on #2883
Sorry, I need you to be a bit more verbose with your question:

- What do you mean with modifying video encryption?
- What do you mean about "how to work on ABR"? What kind of operation related with ABR would you like to do?

[2018-12-20 12:51] epiclabsDASH commented on #2882
What about starting from the "Getting Started Guide"? :)

You can find it here: https://github.com/Dash-Industry-Forum/dash.js#getting-started

I also recommend you to take a look to dash.js samples. You will find very basic samples that show how to start using most of dash.js features: http://reference.dashif.org/dash.js/nightly/samples/

[2018-12-20 12:51] #2882 closed

[2018-12-20 13:00] adripanico commented on #2884
Hello, @xpouyat.

Is the browser also crashing if you don't open the debug mode? I ask it because [2802](https://github.com/Dash-Industry-Forum/dash.js/issues/2802).

Are you facing this issue in any other browser or it is only an Edge issue?

[2018-12-20 13:11] xpouyat commented on #2884
Hello @adripanico
The browser is also crashing without debug mode. We found the issue as it was reported by end users.
It only occur in Edge (we tested with Chrome successfully), and with DRM content.
It happens starting with DASH player version 2.6.7. No problem with 2.6.6.

[2018-12-22 16:31] iAmCorey opened #2888 "Uncaught TypeError when I used player.setQualityFor()"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs

[2018-12-24 09:20] davemevans commented on #2888
Whilst the documentation doesn't mention it, you can't call `setQualityFor` until the manifest has been loaded and the player has finished initialising. This happens asynchronously.

Wait for the `STREAM_INITIALIZED` event to be dispatched, and call `setQualityFor` at that point.

eg:

[code]

This question, and others like it, comes up quite often. Perhaps the documentation needs updating to expl

[2018-12-26 03:37] joshua-mbg commented on #429
Since none of this is really possible without a manifest, can we please hurry up on this task? kthxbye

[2018-12-28 09:05] ripplingzhang opened #2889 "The vod trick mode link provided by dashif has an issue"
In https://github.com/Dash-Industry-Forum/dash.js/issues/293,
There is an issue in https://vm2.dashif.org/dash/vod/testpic_2s/Manifest_trickmode.mpd,
the startNumber of trick mode representation is 0：

`<SegmentTemplate duration="2" initialization="$RepresentationID$/init.mp4" media="$RepresentationID$/$Number$.m4s" startNumber="0" />`

But actually it should be 1 as normal video representation be

[2018-12-29 03:08] iamprem commented on #1471
How can I modify a XHR request header based on the url. Looks like there is no way to get the url from the XHR object itself. I want to set credentials to true for certain urls (lets say my service url) and false for some other (signed s3 url).

[2018-12-29 09:37] iamprem commented on #1471
Thanks for responding quickly.

Just incase if someone else hit this use-case, I'm currently extending both XHRLoader (so the load method sets 'withCredential' based on the request url) and RequestModifier (for adding query params the url and headers that are not overridden by XHRLoader's 'load' method) to address my problem.

[2018-12-29 09:45] epiclabsDASH opened #2890 "API reference to include playback status requirements per method"
For methods that require a specific playback status (ex: stream initialized, playback started, etc) to be called, specify in the API reference documentation which playback status they require.

[2018-12-29 09:45] epiclabsDASH commented on #2888
Issue can be tracked here #2890

[2018-12-29 09:46] epiclabsDASH commented on #2883
Closed because lack of feedback

[2018-12-29 09:46] #2883 closed

[2018-12-31 19:50] aminyazdanpanah opened #2892 "create MPD files with multi-representation"
Hi there,
I'm trying to create multi Representation MPD with FFmpeg and I found https://github.com/Dash-Industry-Forum/dash.js/issues/2498#issuecomment-377498304 by @epiclabsDASH .

`ffmpeg -i input.mp4  -codec copy -f dash -min_seg_duration 30 -use_template 1 -use_timeline 1 -init_seg_name '$RepresentationID$-init.m4s' -media_seg_name '$RepresentationID$-$Time$.m4s' output.mpd
`

But this command

[2019-01-01 10:48] aminyazdanpanah commented on #2892
I have just found a solution here:
https://ffmpeg.org/ffmpeg-formats.html#dash-2

Thanks for the great library.

[2019-01-01 10:48] #2892 closed

[2019-01-02 08:20] waqarz commented on #2889
@ripplingzhang normally there is no requirement of the @startNumber to be aligned across adaptation sets _as long as the media is aligned_. So are you saying that there is a media alignment issue (e.g. trick-mode segment at a certain time is not the same content as the main video at the same time?

[2019-01-03 15:47] rhodh opened #2893 "Player stalls on pressing play after exhausting buffer when paused"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-01-04 03:09] ripplingzhang commented on #2889
@waqarz , the segment with startNumber 0(https://vm2.dashif.org/dash/vod/testpic_2s/V300_trick/0.m4s) is not available from server.  The segments of trick mode adaptaton on server is not aligned with the description of manifest.  Manifest indicates from 0~180, but it is 1~181 on the server.

[2019-01-08 08:59] oldmtn opened #2895 "Always buffering when switch period at 02:00."
https://download.tsi.telecom-paristech.fr/gpac/DASH_CONFORMANCE/TelecomParisTech/mp4-live-periods/mp4-live-periods-mpd.mpd

You can see when it playback at 02:00, and try to switch to next period.
The player will always buffering and won't try to download next fragment.

[2019-01-08 09:43] epiclabsDASH commented on #2895
Taking a look, @oldmtn. Thanks for the feedback

[2019-01-08 10:13] #2658 closed

[2019-01-08 12:42] parth2094 opened #2896 "Only last few dash chunks being played by dash player"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-01-08 13:01] difosfor opened #2897 "Fix disabling of catchup (leave playback rate alone)"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-01-08 13:51] epiclabsDASH commented on #2896
Need to take a look at this. I can't test the stream you generated because you didn't upload initialization segments, could you please upload them? I can generate my own ones but just to be sure we test under exactly same conditions.

Thanks

[2019-01-08 13:52] epiclabsDASH commented on #2889
Closing this. To be tracked on https://github.com/Dash-Industry-Forum/Test-Vectors/issues/116

[2019-01-08 13:52] #2889 closed

[2019-01-08 15:23] difosfor commented on #2897
Alright, I've sent the agreement over:
https://groups.google.com/forum/#!topic/dashjs/2uKAFnV38b4

And created a pull request:
https://github.com/Dash-Industry-Forum/dash.js/pull/2899

Looking forward to working together!

[2019-01-08 16:06] epiclabsDASH commented on #2897
Many thanks!

[2019-01-08 16:11] #2897 closed

[2019-01-08 16:13] turbidwater commented on #2658
Excellent! Thanks! We will check it out.

[2019-01-09 07:47] oldmtn commented on #2895
@epiclabsDASH

[2019-01-09 08:07] oldmtn commented on #2895
@epiclabsDASH I created an pull request at https://github.com/Dash-Industry-Forum/dash.js/pull/2902.
Please help to review it.
Many Thanks.

[2019-01-09 13:03] epiclabsDASH commented on #2873
Thanks for the suggestion! That totally makes sense. Change applied in #2904.

Regarding new version, I am working on fixing latest issues reported for v2.9.3. My plan is to release v3.0.0 this month together with the latest v2.9.x, so people have an stable version ready while they plan the update to v3.0.0 (this will come with API changes that will break backward compatibility).

Being more speci

[2019-01-09 13:03] #2873 closed

[2019-01-09 20:32] epiclabsDASH commented on #2884
Thanks for the detailed feedback @xpouyat. We are reviewing all the changes applied from 2.6.6 to 2.6.7 to catch the issue.

[2019-01-11 01:57] ambreenmoeen commented on #2159
There are many users who are utilizing Chrome or Netflix who face this issue where Widevine Content Decryption Module is stated. This is known as a plugin present in Google Chrome that is also present in it the first time you are about to install the software. You can’t install it on your own. By utilizing this plugin, you are capable to watch and stream DRM-protected HTML5 audio and video in Chro

[2019-01-14 06:44] parth2094 commented on #2896
@epiclabsDASH
Sorry for missing out. I have added the init.m4a file to the same folder containing the master.mpd.
[here](https://drive.google.com/drive/folders/1h8hpazrUNANvJo0ozE8aLSHAK7IT5zMK) it is.

[2019-01-14 06:45] parth2094 commented on #2896
The m4a chunks are also in the same folder

[2019-01-14 10:06] tomraut opened #2907 "Add support for SCTE-35 markers when payload is provided as Signal"
Issue is already talked through on Slack with @jeoliva

We have a sample stream https://mtvdashliveusptest1-a.akamaized.net/live/E39USP/E39USP.isml/E39USP.mpd with SCTE-35 markers. Unfortunately dash.js (tested with 2.9.0) is unable to parse actual payload content as it is defined as Signal:

<Event
        presentationTime="15474584898330555"
        duration="200000000"
        id="2262657930">

[2019-01-14 16:40] #2907 closed

[2019-01-15 22:41] casimero commented on #2478
Hi,
I tested protected smooth streaming  form microsoft playready player demo
It works perfectly on IE 11 and  Edge (windows 10)
But when I try to play  it  on  a web browser control in a winform  application written in c#, I have audio but no video in the player.  and there is no error on the console log

Anyone has an idea about this issue ?

[2019-01-16 10:32] oldmtn opened #2910 "video keeps buffering at the end and can not stop the playback"
There is a dash link whose content is as below:
[code]
The video will keep buffering at the end and can not stop the playback.
I upload the content to:
https://1drv.ms/u/s!AjkEEzHFjJIKgzMmZ4QgtNURkYyM

[2019-01-17 01:52] oldmtn commented on #2910
You can see there isn't a 'S' element(i.e. <S t="0" d="24576"  />,
so I want to know there the 'S' element whose 'S@t' is zero is a must element.

[2019-01-17 09:59] BucherTomas opened #2911 "Switching between audio tracks leads to player stalling"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-01-17 10:56] nicosang commented on #2911
Hi @BucherTomas ,

could you, please, provide the stream url in order to test?

Thanks,
Nico

[2019-01-17 12:01] BucherTomas commented on #2911
Hi @nicosang . Url sent to your Orange email.

[2019-01-17 13:19] nicosang commented on #2911
well received, thanks @BucherTomas .

First of all, it seems that your manifest has many issues according to the conformance tool : https://conformance.dashif.org/

I will take a look at it as soon as possible....

Nico

[2019-01-22 08:39] bbert commented on #2478
Personally, I did not know that we could exploit MSE and EME in a winform application.
So I have no idea about this issue.
BTW, this issue seems to be different from the one treated in this thread.
Please open another issue.

[2019-01-23 06:25] parth2094 opened #2914 "Reference to #2896"
Hi, Issue #2896 is labelled awaiting feedback though I replied. I can't change the label hence this issue is just a pointer to issue #2896

Thanks

[2019-01-23 08:15] #2914 closed

[2019-01-25 01:17] dsparacio opened #2918 "setMinAllowedBitrateFor Missing from Types definition."
setMinAllowedBitrateFor is missing from the typescript definition file from mediaplayer api.

[2019-01-25 01:18] dsparacio commented on #2918
I can update this and push if not an issue.  I want to see if anything else I expect to be there is missing so I will resolve this in a few days.

[2019-01-25 06:46] oldmtn opened #2919 "Is there something wrong with the default value of fastSwitchEnabled?"
getFastSwitchEnabled API comes from MediaPlayer.js:
[code]
It says

.
But in MediaPlayerModel.js, its default values is false:
[code]

Is there something wrong with the default value of fastSwitchEnabled?

[2019-01-25 06:50] oldmtn commented on #2878
@wilaw
The link https://d2fo4jxnkrjgbu.cloudfront.net/c4/vos-dash-subs/manifest.mpd can visit now.

[2019-01-25 08:13] bbert commented on #2918
Hi Dan,
This has already been done in PR #2839. So it should be there.

[2019-01-25 08:46] nicosang commented on #2919
Hi @oldmtn ,

I think it's better to change the comment from 'Enabled by default' to 'Disabled by default'. Indeed, when you look the comment of setFastSwitchEnabled you can see `@default {boolean} false` : it is conform with the value in MediaPlayerModel.....

I can modify it in the PR #2917 which has only comment modifications : do you agree?

Nico

[2019-01-25 10:00] #2878 closed

[2019-01-25 10:30] epiclabsDASH commented on #2918
And merged! Thanks both

[2019-01-25 10:30] #2918 closed

[2019-01-25 10:30] #2911 closed

[2019-01-25 14:46] grukx commented on #957
Looks like the same issue as we filed in #2401. Dynamic segment timeline manifests only play the last part of the first period. Ticket #2401 contains a live test stream which demonstrates the issue clearly.

[2019-01-26 04:14] oldmtn commented on #2919
ok,thanks

[2019-01-29 07:42] nicosang commented on #1629
Hi,

there is a new PR #2903 created by @jeremco. If some of you are interested....you are welcome! ;-)

A+
Nico

[2019-01-29 10:35] aranmohyeddin opened #2922 "Can't find documentation for ProtectionData data type."
I'm linked to [ProtectionData](https://cdn.dashjs.org/latest/jsdoc/ProtectionData.html) in [MediaPlayer docs](https://cdn.dashjs.org/latest/jsdoc/module-MediaPlayer.html#setProtectionData).

But that url gives me a `File not found."`

For now I just want to be able to play a video on my local browser. A video that I've created with bento4 with the following command:
[code]
I want to use clrearkey

[2019-01-29 18:16] dsparacio commented on #2918
Thank you guys!

[2019-01-30 09:33] #2919 closed

[2019-01-31 10:04] kevintsai0112 opened #2923 "pc (win 10) play dash ( 4k + h264 + 60fps ) streaming on chrome has high dropped frames"
* Dash.js version: 2.9.2
* Browser name/version: chrome  71.0.3578
* OS name/version:  win10

https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

streaming url==>https://videotest-hamivideo.cdn.hinet.net/live/pool/kingh264/dash-test/kingh264.mpd

i use the reference player(v2.9.2) to playback dash ( 4k + h264 + 60fps ) streaming, but it is difference result.
w

[2019-01-31 15:33] Bond246 opened #2924 "Problems with DVR longer than 30min"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
   - Error loading the MPD... Maybe because of geoblocking
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS) - i hope so. Its from Akamai
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
   - This is part of the problem
-

[2019-02-01 09:19] kevintsai0112 commented on #2923
sorry , i update OS name/version: win7

[2019-02-02 18:07] srstrong opened #2925 "Not playing second period of dynamic manifest when using segment timeline"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-02-03 06:03] kevintsai0112 commented on #2923
i try the same streaming url on firfox / ie with win7 platform, dash.js does not play back.

[
<img width="731" alt="2019-02-03 2 01 38" src="https://user-images.githubusercontent.com/33280910/52173284-72827d00-27bc-11e9-8821-56229440d40d.png">
](url)

[2019-02-03 21:53] aranmohyeddin opened #2926 "No video with supported format and MIME type found - expressjs"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-02-04 10:58] srstrong commented on #2925
Hi @nicosang - urls are now live:

[https://abc-demo.id3as.co.uk/dashtest/segmentduration/out.mpd]

and

[https://abc-demo.id3as.co.uk/dashtest/segmenttimeline/out.mpd]

[2019-02-04 16:53] epiclabsDASH commented on #2923
Thanks for providing a stream for testing. I am taking a look to this. As pointed out, dash.js does not decode the content, it relies on the browser for doing so. It could be a problem with the underlying component in charge of decoding video. @kevintsai0112, while I do my tests here, could you please try to reproduce the problem after deactivating video hardware acceleration? Playback will be pot

[2019-02-04 17:05] epiclabsDASH commented on #2926
Thanks for the detailed explanation, @aranmohyeddin.

I right tried to reproduce the problem following your instructions but everything worked fine here ([my version of express app](http://ludicrous-brick.surge.sh/express-dashjs.zip)). Anything else you are doing to reproduce the issue? Is it happening always in your side?

[2019-02-04 21:11] aranmohyeddin commented on #2926
@epiclabsDASH Thank you so much for your response. after spending four more hours I could pinpoint the issue...
The problem is that I have this in my script.js:
[code]
I removed that and now the code works fine. The script was not being loaded when I used python because I hadn't moved the script to the same directory because it was unimportant. I don't exactly know how this script ruins it but it'

[2019-02-04 22:16] epiclabsDASH commented on #2926
hey @aranmohyeddin. Good to know you get it working.

I recently published a wiki page explaining how to generate ClearKey encrypted content. It includes a guide about how to prepare the content and also information about how to play it with dash.js (use of setProtectionData). Please, find it here: https://github.com/Dash-Industry-Forum/dash.js/wiki/Generate-MPEG-DASH-content-encrypted-with-MPEG-C

[2019-02-04 22:17] epiclabsDASH commented on #2926
@aranmohyeddin, I am closing this issue as reported issue is "fixed". @aranmohyeddin, feel free to connect through Slack if you want to have a more interactive conversation :).

Dash.js slack channel: https://dashif-slack.azurewebsites.net/

[2019-02-04 22:17] #2926 closed

[2019-02-04 22:19] epiclabsDASH commented on #2922
@aranmohyeddin, as explained in #2926, there is a wiki page that explain how to generate ClearKey encrypted MPEG-DASH content and how to play it in dash.js: https://github.com/Dash-Industry-Forum/dash.js/wiki/Generate-MPEG-DASH-content-encrypted-with-MPEG-CENC-ClearKey

[2019-02-04 22:19] #2922 closed

[2019-02-05 08:44] aranmohyeddin commented on #2922
@epiclabsDASH I don't know how to thank you! I wish I had found you earlier. you really saved me... I had been busy with this for 4 days trying all kinds of different tools. and now I followed your fantastic guide and it all works perfectly fine:) Thank you so so so much!

[2019-02-05 09:08] aranmohyeddin commented on #2922
@epiclabsDASH I followed your guide and the video works just fine. however there is a very bad UX when seeking the video: Here is the content of my console when I seek:
[code]

Also There are some buttons in my page and when the user clicks on them the video should change to another video. like a playlist. what I did was that I gave an argument to your init function which is the video number to be

[2019-02-05 09:53] Murmur commented on #2922
What if you try this ClearKeyDRM test or mpd in your javascript app?

**ClearKeyDRM, embedded kid:key** (Firefox, Chrome)
https://m.dtv.fi/dash/index_clearkey2b.html?video=31
https://m.dtv.fi/dash/dasherh264v3/drm/manifest_clearkey.mpd

**ClearKeyDRM, laurl**  (Firefox, Chrome)
https://m.dtv.fi/dash/index_clearkey2.html?video=33
https://m.dtv.fi/dash/dasherh264v3/drm/manifest_clearkey1077ef.mpd

P

[2019-02-05 10:53] Murmur commented on #2922
Ohhh yes, you could insert BaseURL field before Period element, or download segments using a wget cmd line, its easy to see fullpath in console network log and loop index numbers.
`<BaseURL>https://m.dtv.fi/dash/dasherh264v3/drm/</BaseURL>`

[2019-02-05 15:45] epiclabsDASH commented on #2890
Yep. Many thanks!

[2019-02-05 15:45] #2890 closed

[2019-02-05 15:46] epiclabsDASH commented on #2896
Not yet. Sorry for the delay. I will send an update shortly.

[2019-02-06 02:42] kevintsai0112 commented on #2923
thank @epiclabsDASH , 2/2 ~ 2/10 is chainese new year, After holiday i will reopen the test url and show my graphic card . thank your reply.

this is my mac device Info[
<img width="580" alt="2019-02-06 10 40 58" src="https://user-images.githubusercontent.com/33280910/52317647-d1820500-29fb-11e9-951a-d8fe9bc6f352.png">
](url)

[2019-02-06 07:50] mohammadyacn314 commented on #957
how can download/store mpd manifest to mp4 file using dash.js or s.th else .
i download m4v and m4a from mpd manifest . but caant merge them or attach them  to each other to create full mp4 video :/.
can any one help ?!!

[2019-02-06 16:32] epiclabsDASH commented on #2925
Hi @srstrong! Thanks for sharing details. From my understanding I don't think that stream is correct. It is defined as a live stream but it isn't. I took the freedom of "converting" that mpd to a vod one, still pointing to your segments, and I can play the stream without any issue (take a look at this: https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html?url=htt

[2019-02-06 16:34] epiclabsDASH commented on #2925
By the way, I tested your stream in the latest version of dash.js, the nightly version.

[2019-02-06 17:03] epiclabsDASH commented on #2925
Hi! I don't get it validated against conformance tool (https://conformance.dashif.org/). I guess conformance tool is trying to get segments using indexes that are not valid. Not sure if conformance tool supports setting server time using an absolute date/time.

Sorry, there was a misunderstanding in my side. You are right, I tested the first stream but not the second one. I wrongly thought they we

[2019-02-06 17:15] srstrong commented on #2925
Perhaps I'm using the conformance tool incorrectly - I am just dragging on the MPD from my desktop, and it is saying that everything is fine - I also just tried by giving it the live URL rather than from a file upload and got the same behaviour.  Looking in the network tab on my browser and the web server logs on the server, I don't see it making any attempt to actually look at segments;  I always

[2019-02-06 17:59] wilaw commented on #2925
Note the conformance tool runs server-side, so you are not going to see any segment requests etc in your browser. The web page is just a UI on top of the server app to input the manifest and then display the results.

[2019-02-07 08:36] chevonc commented on #2873
Thanks, @epiclabsDASH. Eagerly awaiting the new releases!

[2019-02-07 16:32] nicosang commented on #2910
Hi @oldmtn ,

it seems that we should replace Math.ceil by Math.floor....I'm not really sure that it will be ok for all use cases... :-(

Nico

[2019-02-11 02:16] kevintsai0112 commented on #2923
i update the platform information
![2019-02-11 10 15 04](https://user-images.githubusercontent.com/33280910/52543607-0c15e400-2de6-11e9-802a-61cbb92f53c4.png)

[2019-02-11 11:21] loginov-rocks opened #2931 "TS7019: Rest parameter 'params' implicitly has an 'any[]' type"
Hey guys, player has type errors right from the code start. The fix is about five words, you've already got the fix https://github.com/Dash-Industry-Forum/dash.js/pull/2891 Please merge!

The form below not really applicable:

##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [] The stream has correct Access-Control-Allow-Origin headers (CORS)

[2019-02-12 11:34] epiclabsDASH commented on #2931
Taking a look @loginov-rocks

[2019-02-12 11:40] epiclabsDASH commented on #2931
There is a release planned for today and, given this change is not affecting at all to dash.js code, I will incorporate it. Thanks for the note.

[2019-02-12 22:57] epiclabsDASH commented on #2931
Fixed in dev and merged for v2.9.3

[2019-02-12 22:57] #2931 closed

[2019-02-13 03:28] albertcsm commented on #2401
I found that for number-based manifest, TemplateSegmentsGetter returns segments beyond the end of period, possibly due to some projection logic on the number-based timeline. However, for time-based manifest like the one provided by @grukx , TimelineSegmentsGetter returns only segments actually belong to the period.

The isMediaFinished function only return true when the current segment indexed by

[2019-02-13 13:59] loginov-rocks commented on #2931
@epiclabsDASH thank you!

[2019-02-14 08:14] thanawatkie opened #2934 "SourceBuffer append failed "QuotaExceededError: The quota has been exceeded."
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs

[2019-02-14 10:00] Achibana commented on #2682
You can overwrite the getLicenseRequestFromMessage of keySystem to wrapper the request and unwrapper the response in getLicenseMessage in Servers.

[2019-02-15 22:55] richardbushell opened #2936 "checkPortalSize function logic fix for setLimitBitrateByPortal"
Bug as described in my Pull Request:
https://github.com/Dash-Industry-Forum/dash.js/pull/2935
(Feedback Agreement has been emailed to Dash-IF Google Groups Email List)

When using setLimitBitrateByPortal, then currently the checkPortalSize function calculates and returns the wrong index due to a bug in its current logic, resulting in a lower quality representation being requested than appropriate.

[2019-02-16 11:29] richardbushell opened #2937 "Regression in 2.9.3 upon video re-play"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-02-17 18:50] grukx commented on #2925
This looks like the same type of issue as #2401? Dynamic manifests using multiple periods only play the segments at end of the first period.

[2019-02-19 08:24] fvalleeHbbTV commented on #2934
My 2cents: not sure if it's related (and the provided stream doesn't seems to start due to drm) but from my experience (not tested with latest release), I think the buffering is not actually reduced  when a QuotaExceededError error is detected.

In the BufferController, QUOTA_EXCEEDED_ERROR_CODE is detected in onAppended and setBufferToKeep/setBufferAheadToKeep are used to reduce buffering, but I

[2019-02-19 10:41] PolynomialDivision opened #2938 "BOLA expects Mb/s in MPD File?"
The BOLA engine calls the getQualityForBitrate of the abrController.
https://github.com/Dash-Industry-Forum/dash.js/blob/43ce52870cbda1686ce81e9cf2b32c47d9b0e4ee/src/streaming/rules/abr/BolaRule.js#L457
BOLA uses kb/s values.

The bitrate is multiplied with 1000 so it is Mb/s
https://github.com/Dash-Industry-Forum/dash.js/blob/4ee40ce616c37da9f8c17b873362cc50a52e525c/src/streaming/controllers/AbrC

[2019-02-19 10:58] PolynomialDivision commented on #2938
Sry for this issue.
The other way around. It is given in bps. ^^

[2019-02-19 10:58] #2938 closed

[2019-02-19 12:21] pushkar100 opened #2939 "DRM content is not playing on any Android 6.0 browsers"
#### DRM content does not play on any Android 6.0 phone

No DRM content plays on Android 6.0. Identified on multiple browsers (Chrome, Firefox, UC browser) and their multiple versions.

This issue seems to be specific to this platform; the DRM content playback works fine on android 7.0

##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] Th

[2019-02-19 14:30] PolynomialDivision opened #2940 "Segmenduration wrong"
The getQualityForBitrate function has this if statement:
https://github.com/Dash-Industry-Forum/dash.js/blob/4ee40ce616c37da9f8c17b873362cc50a52e525c/src/streaming/controllers/AbrController.js#L499

Here the Fragmentduartion is fetched:
https://github.com/Dash-Industry-Forum/dash.js/blob/4ee40ce616c37da9f8c17b873362cc50a52e525c/src/streaming/controllers/AbrController.js#L498

At this line:
https:/

[2019-02-20 05:24] hminkoo92 opened #2941 "Question about Parallel Segment Request in dash.js"
I want to develop **_multi-path based adaptive streaming player_**
for seamless playback with high video quality using dash.js.

**_multi-path based streaming player_** means that player requests multiple segments using multiple path in parallel.
for example, player requests segment 1, 2, 3, 4 to two servers using two path (or connections).
one server is requested with segment 1, 2, 3. the other i

[2019-02-22 07:18] parth2094 commented on #2896
Any updates?

[2019-02-22 12:26] david-hm-morgan opened #2944 "2.9.3 Regression on re-play: Green video artifacts"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-02-22 13:03] epiclabsDASH commented on #2944
I guess this is related with #2937. It was already fixed in #2943, could you please check it?

[2019-02-22 13:15] epiclabsDASH commented on #2940
@PolynomialDivision, thanks for reporting. The way we manage some of the objects you reference here (voRepresentation.segments, that keeps the next 10 segments to be played for a given representation) is going to suffer a big change in dash.js v3.0 (to be released shortly). So, the issue you mention that is affecting to ABR is going to be fixed "collaterally". I will double check to be sure of thi

[2019-02-22 13:19] epiclabsDASH commented on #2934
I need to take a look at this. Reducing all the other buffers sizes is a good idea but that shouldn't avoid the player to start after a quota exceeded situation (we are removing the buffer at that point so some time should happen before the buffer limits are reached).

@thanawatkie, could you please check if you can reproduce this problem in #2943? It has a fix for how we deal with parts of the bu

[2019-02-23 13:40] PolynomialDivision commented on #2940
Thanks for your answer.
Can I just checkout the development branch and test it myself? :)

[2019-02-25 12:11] epiclabsDASH commented on #2940
Not yet. Still is not published but it will shortly. I will keep you updated.

[2019-02-27 11:18] nicoweilelemental opened #2946 "Live MultiPeriod $Time$+SegmentTimeline stalls at period boundary"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-02-27 12:41] nicoweilelemental commented on #2946
I need to add that the same stream on the MediaPackage origin has got the same problems, which seems to remove the codec switch at period boundaries from the possible root causes : https://f7b399c8cf81ac81.mediapackage.eu-west-1.amazonaws.com/out/v1/4d80592a43274cefae94215b1c18545d/index.mpd

[2019-02-27 13:26] nicoweilelemental commented on #2946
And Waqar spotted that we have a similar problem with he Livesim stream in multiperiod mode : https://vm2.dashif.org/livesim-dev/periods_60/segtimeline_1/testpic_6s/Manifest.mpd

[2019-02-27 23:01] epiclabsDASH commented on #2946
@nicoweilelemental, I think those streams are raising different type of issues. In the case of @waqarz one, it is broken since dash.js 2.7.0 and I guess the reason is it has segmenttimeline items which are empty (is this allowed?).

Regarding your url I am analyzing its timing info. Seems there are some inconsistencies in the timing info reported in segmentTimeline elements. I will get back to you

[2019-02-28 07:28] waqarz commented on #2946
yes, https://vm2.dashif.org/livesim-dev/periods_60/segtimeline_1/testpic_6s/Manifest.mpd is not conforming according to validator. So the other one reported is more relevant.

[2019-02-28 07:57] david-hm-morgan commented on #2944
Just checked the nightly and definitely resolved after the inclusion of the fix you mentioned... thanks!

[2019-02-28 07:57] #2944 closed

[2019-03-01 15:28] bbert commented on #2249
Hi @epiclabsDASH and @Murmur,
I reopen this issue since we have an issue with the way it has been resolved in #PR2318.
Can someone explain me what is the logic in the code of this ProtectionKeyController's function?:

    function getSupportedKeySystemsFromContentProtection(cps) {
        let cp, ks, ksIdx, cpIdx;
        let supportedKS = [];

        if (cps) {
            for (ksIdx = 0; ksIdx

[2019-03-01 16:14] bbert commented on #2249
BTW @Murmur, I tested some test streams that you provided but I always manage to playback them, whatever the implementation of the
getSupportedKeySystemsFromContentProtection() method.
Can you provide me one sample that were not working before PR #2318?

[2019-03-01 16:23] bbert commented on #2249
@JohnIball or @Murmur can you provide the link to stream mentionned in issue #2769 ?

[2019-03-02 21:35] z411 commented on #2946
I'm also experiencing the exact same behavior with this (conforming) MPD:
http://iceb.omaera.org/dash/bai.mpd

It is generated by nginx-rtmp. I'm not sure if it's caused by the same issue but the behavior is the same.

[2019-03-04 15:10] eceozturk commented on #2946
Hi,

The conformance software consists of two validation parts:
1. MPD validation, which checks if the MPD is valid according to the XML schema, if the MPD is formed according to DASH specification
2. Segment validation, where the media pointed to by the MPD is downloaded (without mdat boxes's contents) and validated.

Currently, the conformance software (https://conformance.dashif.org/) does not

[2019-03-05 09:02] bbert commented on #2249
Thanks to @Johnlball I managed to do some tests.
The content I tested is configured this way:

- MPD contains ContentProtections for especially both Widevine and ClearKey key systems but without pssh
- initialization segments contain pssh for both Widevine and ClearKey key systems

Then in its initial version, dash.js was selecting Widevine key system but then failed to get the license since the W

[2019-03-05 09:22] EcemIren opened #2947 "Unable to play MPD file with multiple periods in Dash.js Player"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-03-05 09:37] epiclabsDASH commented on #2947
@EcemIren, while I am taking a deeper look, could you please try the same but generating your stream using SegmentTemplate or SegmentTimeline elements instead of SegmentList? SegmentList support in dash.js is still under revision.

[2019-03-05 09:38] epiclabsDASH commented on #2941
Duplicated of #2297

[2019-03-05 09:38] #2941 closed

[2019-03-05 09:39] #2937 closed

[2019-03-05 09:48] #2850 closed

[2019-03-05 10:04] epiclabsDASH commented on #2861
Hi @Lastique. The problem with this is there is not a possible way of switching Representations that uses different codecs without having a small playback stall during the transition. I guess Shaka-player is applying some filtering at Representation level, and its ABR algorithm is not really switching representations that uses different codecs.

This is is something we could take a look at, althou

[2019-03-06 07:38] sandersaares commented on #2249
I lay out my brief thoughts on DRM system activation. I completely ignore what dash.js does today in this comment (and I do not even know what it does today).

First, what is required to activate a DRM system?

* You need the browser to support it, obviously.
* For some, you also need initialization data (e.g. PlayReady and Widevine).
* For others, you need no data besides the default_KID because

[2019-03-06 08:10] bbert commented on #2249
Hello @sandersaares, thanks a lot for your feedback.
It confirms that the way we have implemented key system selection has not been done the right way, and that we have modified/patched the source code to map the specific stream configuration described in this thread.
The initial issue was: "it works with shaka but not with dash.js". But maybe in shaka the default key system selection order is dif

[2019-03-06 11:23] raskri commented on #2918
setMinAllowedBitrateFor is missing the return type.
should be:
         setMinAllowedBitrateFor(type: 'video' | 'audio', value: number): void;

[2019-03-06 13:21] EcemIren commented on #2947
Dear, I generate the same MPD content with SegmentTimeline and try to play on Dash player and again at the end of first period, the video stops. The Output Console is the same as with the one I put in the previous message. How should I arrange my periods for playing the contents consecutively? Many thanks again.

Link to playable MPD file: MPD File as Text
[mpd file.txt](https://github.com/Dash-In

[2019-03-06 16:29] hyunsang123 opened #2950 "Black flicker at period boundary for DRM stream"
##### Observed behaviour
(Using 2.9.3)
I have a clear and DRM-protected version of a stream. Other than the DRM encryption, the manifests are identical.

When I play the clear stream, I see a seamless transition from one period to the next. However, when I play the DRM stream, I see a black flicker at the period boundaries.

From what I can see, for clear streams, "[39861][StreamController] [onStr

[2019-03-08 11:56] murtaz53 opened #2951 "Uncaught You must first call initialize() and set a source before calling this method"
I am using this plugin with video-js. I have created quality switcher for dash with this. I apply this plugin to videojs player object. I can successfully switch qualities. but when I reload player after then when I am trying to switch quality it throws **Uncaught You must first call initialize() and set a source before calling this method**. can anyone help me?

I am initialize plugin like this
[

[2019-03-08 12:10] murtaz53 opened #2952 "How to change quality of video immediately?"
I am using this plugin to change video quality. But when I change quality It takes time depend on loaded buffer/stream. I have find **setFastSwitchEnabled** method but Is not working as expected. Is there any way to change quality immediately?

[2019-03-08 15:07] psykropack commented on #2946
Hello There,

Not sure this is the same issue but we are facing the same type of issue here with the latest version of the reference player. I have tried with versions 2.6 to 2.7 and i have the same behaviour: the player fetches the segments from the first period, plays them and stops. It then reloads indefinitely the manifest and from time to time get some segments from the origin.

Here is the m

[2019-03-11 16:21] epiclabsDASH commented on #2952
I am sorry but there is not a way in dash.js to do such a thing. fastSwitchEnabled allows to abort a fragment that is being downloaded but in no case we are cleaning the buffer when switching.

[2019-03-11 16:23] epiclabsDASH commented on #2951
@murtaz53, do you have a basic sample code that could help me to reproduce this issue? I will take a look and see the interaction between video-js and dash.js

[2019-03-11 16:25] epiclabsDASH commented on #2950
Yep, you got the point. There is a small difference in multi-period manifest when working with DRM streams. Basically, when DRM configuration changes across different periods we need to reset the underlying media buffer, what causes that flicker at period boundary. There is not a clear way to fix that issue (it is not just related with dash.js but with the browser).

Let me revisit this point once

[2019-03-11 16:25] #2952 closed

[2019-03-12 04:53] murtaz53 commented on #2951
[code]

[2019-03-12 04:55] murtaz53 commented on #2951
@epiclabsDASH : I have added sample code.

[2019-03-12 05:00] murtaz53 commented on #2952
thanks @epiclabsDASH.

[2019-03-12 10:22] #2936 closed

[2019-03-15 11:24] PolynomialDivision opened #2955 "Simulate Dash.js Client Streaming Behavior?"
Is it possible to simulate Dash.js streaming behavior without a browser?
Can I somehow execute the player in node? (I'm not familiar with javascript...)

[2019-03-18 20:35] davemevans commented on #2946
I am seeing the same problem as above - the player fetches and plays segments from the first period. Usually it stalls at the end of the period, but sometimes it loop those segments until they are no longer available.

Again, it may be that the content isn't quite right, but the stream plays fine in ShakaPlayer 😢

I can't provide a stream since our platform is event based and the streams expire ve

[2019-03-18 20:40] epiclabsDASH commented on #2946
Thanks @davemevans. I am with my hands (and head) fully put on segments request management so it can't better timing for taking a look at this. I will check this and your DM out later today.

We are hardly working on increasing resilience of dash.js when working with not totally right content. It is being hard given the amount of changes it is requiring but are almost done...... Thank you everyone

[2019-03-18 20:42] epiclabsDASH commented on #2951
Many thanks @murtaz53. I will take a look and get back to you shortly,

[2019-03-18 22:35] nicoweilelemental commented on #2946
@epiclabsDASH I think that our origin stream, which URL I mentioned previously in this thread, is a good sample to look at, not only ok from a DASH validator perspective, but also using the same init segments for all periods (which removes integrity risks possibly generated by SSAI) : https://f7b399c8cf81ac81.mediapackage.eu-west-1.amazonaws.com/out/v1/4d80592a43274cefae94215b1c18545d/index.mpd

I

[2019-03-19 05:18] EhabGhab opened #2957 "Decoding chunk"
Hi,

I want to know which part of dash is responsible of decoding the video chunk which "module or controller" ?

[2019-03-19 09:05] sandersaares commented on #2946
I took a look at https://f7b399c8cf81ac81.mediapackage.eu-west-1.amazonaws.com/out/v1/4d80592a43274cefae94215b1c18545d/index.mpd retrieved at 19 Mar 2019 08:19:40 with the following contents: [index.mpd](https://github.com/Dash-Industry-Forum/dash.js/files/2982338/index.txt)

I analyze it from the question of DASH and DASH-IF IOP conformance, not from a standpoint of "what players do" since player

[2019-03-19 10:28] nicosang commented on #2957
Hi @EhabGhab ,

decoding proccess is not achieved by dash.js but by the html5 video element.

Nico

[2019-03-19 14:01] ESPNMichaelKidd opened #2958 "Support Trick Mode"
Add the ability to make use of trick mode adaptation/representations to better support fast forward, seek, and rewind.  Example media can be found in #293

Relevant text from DASH-IF IOP v4.3

[2019-03-19 20:42] EhabGhab commented on #2957
Then when the video element start decoding the received fragment after which bus event ?

[2019-03-20 01:53] nicoweilelemental commented on #2946
Thanks for your feedback, @sandersaares I updated the MPD@minBufferTime to reflect the segments length but it doesn't change anything, the player behavior is still erratic at period boundaries. I can't add a <UTCTiming> node right now, it needs a new service build.

We have read in this thread that we can observe the same player problematic behavior with streams coming from several providers, and

[2019-03-20 17:31] epiclabsDASH commented on #2957
@EhabGhab, it is supposed to start decoding as soon as buffers are pushed to the MediaSourceBuffer associated with the video element. You can find some details of this implementation in SourceBufferSink.js file.

For your information, there is a callback event that is raised just when the buffer append is confirmed (take a look at BufferController.js, onAppended method).

[2019-03-20 17:36] epiclabsDASH commented on #2955
I don't think that possible. At least with dash.js code as it is today. Most of dash.js code is logic implemented in Javascript and that is compatible with any component which is able to run javascript. However, there are small portions that are browser dependant. The most important one, the part related with Media Source Extension and Encrypted Media Extensions which are used to decode/render vid

[2019-03-20 17:51] #2955 closed

[2019-03-20 17:57] epiclabsDASH commented on #2947
It should be ok as you are doing it. From MPD point of view, the only possible problem that I see (can't confirm because don't have access to your content) is, if the content of your second period doesn't start at time position 0, then you should declare it using presentationTimeOffset property in SegmentTemplate element.

If you share with me a zip with your content packaged I will take a deeper

[2019-03-21 08:07] EhabGhab commented on #2957
I can see that loading a video chunk follows this sequence:
loadingProgress
loadingCompleted
fragmentLoadingCompleted
mediaFragmentLoaded -
sourceBufferAppendCompleted
bufferLevelUpdated
bytesAppended

And, I presume that the decoding occurs after the bytesAppended event, but how to tell when it finishes the decoding ?!

[2019-03-22 05:19] murtaz53 commented on #2951
@epiclabsDASH : can you reply fast plz?

[2019-03-22 09:53] epiclabsDASH commented on #2951
@murtaz53, did you try to remove the call to initialize dash.js? That part is managed by videojs-contrib-dash and you don't have to take care of it.

[2019-03-22 09:56] epiclabsDASH commented on #2951
Other than that, and after looking at videojs-contrib-dash source code, I don't see any problem. If you are receiving loadedmetadata event then stream is loaded, and then initialized, so you shouldn't have any problem.

[2019-03-22 10:29] murtaz53 commented on #2951
Yes, I have try without initialize. still not working.

[2019-03-22 14:52] z411 commented on #2946
I'm still having erratic behavior with SegmentTimeline. I'm not sure if it's related to others here, but sometimes the stream will play fine but sometimes it'll start playing with huge live delay (around 150s or more) and since the playlist is only half a minute long, the segments it's trying to seek to in the past don't exist anymore so it won't play.

When live, it'll happen sometimes and someti

[2019-03-22 14:56] epiclabsDASH commented on #2946
Hi @z411, I am preparing some changes that fix that erratic issue. I have been working on some issues related with multiperiod and segmenttimeline. Let me push that branch so you can have the opportunity of testing it. Thanks

[2019-03-22 14:57] z411 commented on #2946
@epiclabsDASH Got it. Thank you for response and your hard work, it's greatly appreciated.

[2019-03-24 20:54] epiclabsDASH commented on #2951
@murtaz53, I created an example using your code and couldn't reproduce the described issue. Please, take a look at it (available on http://superficial-digestion.surge.sh/) and feel free to modify it and send to me a version in which your error can be reproduced.

[2019-03-25 16:24] rnmhdn opened #2959 "Some help, advice, best practice, trade-offs?"
I want to convert some h264 mp4 videos to clearkey encrypted dash. For now I want to serve them on localhost. So I don't have bandwidth limitations. There are a few things I'm confused about. I'm assuming I should use dashavc264:onDemand profile with static mpd since my videos are not live and they are offline.

1. How should I decide what segment duration I should use? does it depend on how often

[2019-03-25 23:29] epiclabsDASH commented on #2957
I am sorry but that info is not available. The most you can do is trace timing in segments with buffer ranges available in the MediaBuffer. That will allow you to know with some accuracy if a segment was decoded and is available to be played. Anyway, that's out of the scope of dash.js. I don't think that requirement is a common use case.

[2019-03-27 13:07] ShanePhelan commented on #2925
Is there any update on this issue? We're seeing the same behaviour. here's an example:

https://gist.github.com/ShanePhelan/cbab12a74c422b4013b3904cd0918322

[2019-03-27 13:31] EcemIren commented on #2947
Thank you so much for your response and suggestion. I searched for presentationTimeOffset working scheme for days but I could not understand and apply it in my MPD. I provided you the content.
[content.zip](https://github.com/Dash-Industry-Forum/dash.js/files/3013375/content.zip)
Thank you very much again for your help.

[2019-03-27 20:53] EcemIren commented on #2947
I also tried with adding presentationTimeOffset attribute to the segmentTemplate of second period in the MPD but I observed again same output. Could you please help me about how to set the presentationTimeOffset ? Thanks in advance.
[mpd file.txt](https://github.com/Dash-Industry-Forum/dash.js/files/3015246/mpd.file.txt)

[2019-03-27 22:47] epiclabsDASH commented on #2925
Yep. @ShanePhelan, as discussed in slack I have been working on a fix for this that is included in v3.

@ShanePhelan, @srstrong, could you please check your stream runs well here?
http://dashjsv3.surge.sh/samples/dash-if-reference-player/index.html

[2019-03-28 09:13] ShanePhelan commented on #2925
@epiclabsDASH Thanks for the link.

The player does now transition into the second period but it doesn't transition into the third.

I'll send you the stream details over slack.

[2019-03-28 10:25] epiclabsDASH commented on #2947
Yep, taking a look.

[2019-03-28 17:50] #1632 closed

[2019-03-28 20:09] grukx commented on #2925
@epiclabsDASH I tested our livesim multiperiod stream against the test build you provided. (https://abr.appeartv.net/2248/0/dash/smptebars_24hours/manifest.mpd?debugdashtime&debugdashplayerlive)
* Loads the last part of the first period as before, but immediately jumps back to the beginning of what remains of the first period. Continues to play until the end of the first period. Never transitions

[2019-04-01 06:08] pencil240 opened #2961 "dashjs do not support to parse Title in ProgramInformation"
Does the dashjs support to parse the Title item in ProgramInformation in mpd file?

<ProgramInformation moreInformationURL="http://gpac.sourceforge.net">\
				<Title>mp4-live-mpd-AV-BS.mpd generated by GPAC</Title>\
				<Copyright>TelecomParisTech(c)2012</Copyright>\
				</ProgramInformation>

[2019-04-01 06:12] pencil240 commented on #2961
https://github.com/Dash-Industry-Forum/dash.js/blob/5f0cb17824bc121123952b1a7bf86d3bc7926bf1/test/unit/helpers/MPDfiles.js

<ProgramInformation moreInformationURL="http://gpac.sourceforge.net">
	<Title>mp4-live-mpd-AV-BS.mpd generated by GPAC</Title>
	<Copyright>TelecomParisTech(c)2012</Copyright>
</ProgramInformation>

[2019-04-01 08:10] davemevans commented on #2961
dash.js absolutely does support parsing all fields of `ProgramInformation` - http://rdmedia.bbc.co.uk/dash/ondemand/testcard/1/client_manifest-events.mpd for example from sample streams contains all these fields and is parsed successfully.

What issue are you seeing?

[2019-04-02 04:49] murtaz53 commented on #2951
In original, I am changing the quality through dropdown selection. will modify it and send you.

[2019-04-02 06:12] murtaz53 commented on #2951
Got the error. its due to dropdown change issue. but your example very much help me to reach to this. thank you very much @epiclabsDASH . don't know why it was throwing this error.
[code]
now element will be unique after reload
[code]

[2019-04-02 06:13] #2951 closed

[2019-04-02 06:30] pencil240 commented on #2961
Thanks.
But , I can not find the interface to get the title by dash.js , and can not find the key word “ProgramInformation” . I want to get the title.

[2019-04-02 07:44] epiclabsDASH commented on #2961
@pencil240, you can use MANIFEST_LOADED to get that information. As part of the information brought by this event (event.data) you will find a parsed version of the manifest. It includes the full ProgramInformation object, as it is defined in your mpd.

You can play a bit with this using the following sample: http://reference.dashif.org/dash.js/nightly/samples/getting-started/listening-to-events.h

[2019-04-02 08:58] pencil240 commented on #2961
Thanks a lot .

[2019-04-02 08:58] #2961 closed

[2019-04-03 06:49] aranmohyeddin opened #2963 "playing mpd made with keyrolling and selectiveType using gpac."
How to play a file that I encrypted and dashed with these commands:
**drm.xml:**
[code]
**Commands:**
[code]

[2019-04-03 06:54] genie88 opened #2964 "play stalled and download the same fragment repeatedly"
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs in the latest refe

[2019-04-03 22:28] mlrsmith opened #2965 "Initialization segments specifying both sourceURL and range attributes ignore range"
If I specify an initialization segment like:
[code]
the range is ignored.
If instead I specify a BaseURL, then provide only the range on the initialization segment, like so:
[code]

it works as desired.

I think this is because the 'else if' here should be just an if (and corresponding cleanup to the comments): supplying both of these is valid in DASH.

https://github.com/Dash-Industry-Forum/dash.

[2019-04-04 01:40] willzhan commented on #1619
Most player frameworks suffer from this limitation (javascript number type is limited by Number.MAX_SAFE_INTEGER, or bounded by -2^53 + 1 and 2^53 - 1). It includes:
- DASH IF reference player
- Shaka player
- video.js
- Bitmovin
- JWPlayer

While polyfill is an option to overcome this, the only player which overcomes this limitation today is Azure Media Player as I'm aware.

I see the long term s

[2019-04-05 07:09] iamprem commented on #1569
@abuisine Did you find a solution for this issue. I have the same problem with DashJS v2.9.2 where i get green artifacts when I seek to different timestamp while player attempts to switch quality (also happens when i switch quality manually and seek to different position immediately). I tried this with both enabling and disabling the "fast switching", resulting same issue.

[2019-04-05 08:05] sgadrat-anevia opened #2966 "Playout fails with two audio adaptation sets in the same group"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-04-05 08:13] epiclabsDASH commented on #2963
@aranmohyeddin, take a look at the following wiki page: https://github.com/Dash-Industry-Forum/dash.js/wiki/Generate-MPEG-DASH-content-encrypted-with-MPEG-CENC-ClearKey. It has basic information about how to start dealing with ClearKey encryption and how to play the generated content with dash.js.

That guide describe the use of Bento4 tool for content preparation but the playback side would be co

[2019-04-05 08:13] #2963 closed

[2019-04-05 08:15] epiclabsDASH commented on #2965
You are right @mirsmith. I am going to send a PR that fix this issue. Thanks for reporting

[2019-04-05 08:25] #2965 closed

[2019-04-06 01:01] iamprem commented on #1569
After looking at the logs produced, it looks like the onPlaybackSeeking method in ScheduleController is aborting the `Init Fragment` request made by the quality switch request when the two events happen very quickly in order to support faster seek response.

You can see on line `36857` it is loading `video_5` and later on line `36862` the quality change is triggered to load `video_4` fragment url.

[2019-04-08 21:34] iamprem opened #2968 "Switching quality/bitrate of video and seeking to different position immediately causing green artifacts"
##### Environment
- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs in

[2019-04-09 08:51] davemevans opened #2969 "TypeErrors sometimes thrown on seek, representation switch with live ABR stream"
With some live multi-bitrate streams, in nightly I am seeing occasional TypeErrors thrown on both seeking and bitrate changes. See below.

Will provide Jesus with a stream.

[code]

[code]

[2019-04-09 10:09] comrat commented on #2934
Hello everyone!
I've the same issue. I've tried [#2943](https://github.com/Dash-Industry-Forum/dash.js/pull/2943) too but it's still reproduced

[2019-04-09 10:33] davemevans opened #2970 "Live SegmentTimeline playback seeks on every manifest reload"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-04-10 16:01] smithpayel commented on #2968
I also had similar issue on the latest version. @epiclabsDASH can you please have a look and update?

[2019-04-11 11:48] zoran1996 opened #2972 "About toggleUseCustomABRRules()"
Now I want to repalace my own ABR algorithm in dash.js and I put my algorithm in dash-if-reference-player/app/rules and the related files had been modified(index.html and main.js).But I could not figure out if my algorithm had worked and there is not infomation about which ABR algorithm is using and it seams like if I did not put my algorothm in ,it will still use the default ABR algorithm. Can yo

[2019-04-11 15:11] bbert opened #2976 "About PROTECTION_DESTROYED event"
Does anyone know the interest of the PROTECTION_DESTROYED event?
Is it used by applications and why the manifest url is provided in this event? What it is used for?

[2019-04-14 11:47] zoran1996 opened #2977 "Does custum ABR algorithm must contain a function named getMaxIndex?"
I have integrated my own ABR algorithem through function addABRCustomRule().But when it be called the console require a function named getMaxIndex and I found both algorithems in /rules have that function . So I wander if the man logic should be written in this function or this function is just for a specific use ?

[2019-04-16 08:34] epiclabsDASH commented on #2977
Hi @zoran1996. Yes, your custom ABR rule must have a function called getMaxIndex. That's the interface required by dash.js to any class that wants to be managed as an ABR rule.

If the main logic of your ABR algorithm should be written in this method or not is up to you. That depends on your rule "architecture". Dash.js just requires that there is a getMaxIndex method and that it returns the index

[2019-04-16 08:34] #2977 closed

[2019-04-16 08:51] epiclabsDASH commented on #2972
Hi @zoran1996,

Just for clarification, in dash.js there is not a class that represents The ABR Algorithm. What we have is a set of rules that all together implements the ABR algorithm. When you are adding your custom rules you are not replacing dash.js ABR algorithm, you are just enriching it with new rules.

Does that it means you can not implement your own ABR algorithm from scratch? Of course

[2019-04-16 08:51] #2972 closed

[2019-04-16 09:58] gitperonam commented on #2970
#2978

[2019-04-16 23:17] aneelreddy opened #2980 "While playing live stream with V2.9.3, memory used by browser increases continuously"
I have a live stream, when played increasing the memory used by browser. Looks like player is calling pruning chunks, but of no use.
[dash.log](https://github.com/Dash-Industry-Forum/dash.js/files/3087246/dash.log)

[2019-04-21 03:02] mcassagnes commented on #2964
Have you found a solution? I am sometimes running into this issue as well.

[2019-04-24 20:56] #2970 closed

[2019-04-27 00:03] iamprem commented on #2968
@epiclabsDASH Any update on this issue? I can provide more information if needed.

[2019-04-27 05:52] freakybaba opened #2983 "how can i generate dash.all.min.js it is not found in repository"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [] There are no network errors such as 404s in the browser console when trying to play the stream
- [] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs in t

[2019-04-29 00:13] bknill opened #2984 "preload manifest error"
Hi,

I have tried to get help on [Stackoverflow](https://stackoverflow.com/questions/55755167/dashjs-preload-multiple-videos) with this but no response

I'm trying to preload videos using the example I found [here](http://reference.dashif.org/dash.js/latest/samples/getting-started/pre-load-video.html)

My code

[code]

The error I get is

[code]

The buffer isn't attached to any source, as I wante

[2019-04-29 07:54] nicosang commented on #2983
Hi,

take a look at package.json and the "build" script may help you... ;-)

Nico

[2019-04-29 07:54] #2983 closed

[2019-04-29 08:52] nicosang commented on #2964
Hi @genie88 ,

it seems that your stream does not fulfil [conformance too](http://conformance.dashif.org/)l successfully. I don't know if this is the origin of the issue but it's better to solve this point.

Nico

[2019-04-29 09:53] nicosang commented on #2964
@genie88 , according to the parsing done by dash.js video segments list is defined like this :

segment 0 : start 0 - end 10.48
segment 1 : start 10.48 - end 20.96
segment 2 : start 20.96 - end 31.44

the first weird point is that after the segment 0 has been pushed, the vide buffer is equal to 0 - 14.44....not 0 - 10.48

Nico

[2019-05-04 20:29] enzious commented on #2964
I'm experiencing this same issue. It seems to occur most often on Firefox, might be my imagination.

Maybe this is do to how I'm converting it. Does this look okay for creating the mpd?

[code]

[2019-05-04 20:35] enzious commented on #2964
![image](https://user-images.githubusercontent.com/4645608/57184520-2bbb2680-6e82-11e9-964c-6bffb19ad450.png)

[2019-05-05 04:15] enzious commented on #2964
Issue does not occur at the same segment. It's arbitrary. Making me believe that it is not the MPD/segments.

[2019-05-05 06:28] enzious commented on #2964
I think that it's caused by this line:
https://github.com/Dash-Industry-Forum/dash.js/blob/development/src/streaming/rules/scheduling/NextFragmentRequestRule.js#L76

If you have ranges like this (I don't know how these are generated but it happened to me):
<Range1><.5s gap><Range2>

I think it will delete Frag2 indefinitely due to this strange gap.

The limit in the gap is set here:
https://github

[2019-05-06 05:50] enzious commented on #2964
So far the issue has gone away. Used to happen every time I watched a long video, no longer occurring.

[2019-05-07 02:13] nramds opened #2988 "How to handle BUFFER_EMPTY situation"
I am using dash.js version 2.9.2 to stream mpd from our CDN.

In some of the videos, the BUFFER_EMPTY event fires and the video stalls / freezes.

On pressing forward or rewind the video continues to play.

- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors suc

[2019-05-07 08:57] epiclabsDASH commented on #2988
@nramds, I am not able to reproduce that issue with your stream following your instructions. Dash.js is managing buffer empty situations automatically, it is not required that you do anything in the application side. Could you please share with me browser logs after reproducing the issue?

[2019-05-07 08:58] epiclabsDASH commented on #2984
Verified issue is fixed in #2985.

[2019-05-07 08:58] #2984 closed

[2019-05-07 08:59] #2957 closed

[2019-05-07 09:02] epiclabsDASH commented on #2968
@iamprem, @smithpayel, sorry for the late reply. Could you please check if you can reproduce the issue in nightly version? In #2973 there is a fix regarding the way buffers are managed that could cause this kind of issues (buffers were not always rightly cleared).

[2019-05-07 18:04] nramds commented on #2988
Thanks for your quick response...
Cleared the Cache and restarted the PC and the issue went away...

Not the best thing to have happened as I lost the ability to debug the problem

All the same, can anything be done in the BUFFER_EMPTY event to make the video to continue playing?
I understand that BUFFER_EMPTY situation is auto handled by dash.js, can anything be done manually in this event to for

[2019-05-08 10:04] epiclabsDASH commented on #2988
You can try to reload the video at that time position where it was stalled:

player.initialize(video, 'http://hostname/manifest.mpd#t=[start time as a number]', true);

Anyway, let me know if you get reproducing this again. This kind of problem shouldn't occur and playback stall situations should be handled by dash.js.

[2019-05-08 10:04] #2988 closed

[2019-05-09 10:45] psykropack commented on #2946
Hello there,

@epiclabsDASH Any news on this ?

Many thanks !

kR

[2019-05-11 05:12] iamprem commented on #2968
@epiclabsDASH I've tested with the latest development branch and i could still see the same issue happening.

[2019-05-12 08:46] natvaldev opened #2989 "The player set the start time to be greater than 00:00"
I am creating a static mpd to display a video.
I have numbered segments (600-700) and I wat the play to display the start time at 00:00.

The `SegmentTemplate@startNumber` is set to 600, and I don't have any field that set on any time.
The player display the video beginning from 10:00 to the end, instead of 00:00.

Where does it make those calculations?
How can I tell it to start from 00:00 althou

[2019-05-13 10:15] epiclabsDASH commented on #2989
Hi, I don't think this problem is related with startNumber property but with how your content is packaged. StartNumber is not used by dash.js to report timing, times are reported by the underlying browser media API after reading them from the content itself.

I guess the problem is you content is packaged so its first segment starts at 10:00 time position. What you need to do is declare in the man

[2019-05-15 05:41] junsoopark opened #2991 "There is no @availabilityTimeOffset and @availabilityTimeComplete in the mpd for chunked stream"
It's just a question for a test vector, Low Latency (Single-Rate) (livesim-chunked); https://livesim.dashif.org/livesim-chunked/chunkdur_1/ato_7/testpic4_8s/Manifest300.mpd. I've already issued this problem at below but there is no response so I also make the same issue here. Could you please check this?
https://github.com/Dash-Industry-Forum/dash-live-source-simulator/issues/75

[2019-05-15 13:52] natvaldev commented on #2989
Thanks `presentationTimeOffset` did the trick.
I can't publish it ATM, but I will soon.

Another problem I have is that after a while, the ending time jumps ahead.
For the first few minutes, it display the ending time to be `10:00`,
but after a while it changes to `22:00`.

[2019-05-16 11:14] dsander opened #2992 "Clearkey: "Failed to execute 'generateRequest' on 'MediaKeySession'" when using initDataForKS"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs

[2019-05-18 17:07] epiclabsDASH commented on #2946
Hi @psykropack. I will get back to you soon with a testing url. Sorry for the delay. We have the issue fixed (v3) but need to do some cleaning work before publishing it. Almost ready! I will keep you posted.

[2019-05-20 11:43] tomraut opened #2993 "Live streams jumps randomly to very beginning"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs

[2019-05-20 16:32] PolynomialDivision commented on #2940
On the dash.js meeting it was said that there is only getNextSegment() left for the scheduler.
It was not sounding as the segment time regarding the rules will be fixed in das.js v3. Further, it sounded that just the getNextSegmentByTime(...) will be fixed.

[2019-05-20 20:17] iamprem commented on #2968
For now to fix this problem, i'm ignoring requests that are of type "InitializationSegment" from the abort call: https://github.com/Dash-Industry-Forum/dash.js/blob/78e482c43b7f635fe5a8de6ff81e7723f06fb156/src/streaming/controllers/ScheduleController.js#L601

The hack has to be put in the HTTPLoader's abort method: https://github.com/Dash-Industry-Forum/dash.js/blob/78e482c43b7f635fe5a8de6ff81e772

[2019-05-22 08:38] psykropack commented on #2946
@epiclabsDASH Great !
We are ready to test it :)

Thanks !

kR

[2019-05-22 12:18] wilaw opened #2995 "Implement ACTE bandwidth estimation protocol for low latency"
A technical paper on "Bandwidth Prediction in Low-Latency Chunked Streaming" is being presented at the MMSys2019 conference http://www.mmsys2019.org/program/#noss1 . It describes a new method (called ACTE) for accurate bandwidth estimation with chunk encoded and chunk transferred content. Once the paper is published it will appear here: https://doi.org/10.1145/3304112.3325611 . The authors used da

[2019-05-23 10:17] wilaw opened #2996 "Fix thumbnail sample hostnames to point to a hostname with a valid TLS cert"
The hostname "dash.edgesuite.net" does not have a valid TLS certificate when requested over https. A replacement hostname of "dash.akamaized.net" points at the same origin and has a valid certificate.

The thumbnail samples in the reference player implementation still refer to dash.edgesuite.net:

//dash.edgesuite.net/akamai/bbb_30fps/bbb_with_tiled_thumbnails.mpd
//dash.edgesuite.net/akamai/bbb_3

[2019-05-26 13:54] zutto opened #2997 "regex improvement for DurationMatcher"
So, browsing the code, I came across this small problem with regex results.
https://github.com/Dash-Industry-Forum/dash.js/blob/master/src/dash/parser/matchers/DurationMatcher.js#L69

All of the parseFloats are ran on a strings matched in the regex, instead of the actual floats. Now the parseFloat deals with these just fine, but this probably should be improved.

Demo of the issue, and how parseFl

[2019-05-26 19:18] tomraut commented on #2993
We've added some more logging to PlaybackController.js and its methods updateCurrentTime() and getActualPresentationTime() and found out that seek to very beginning is caused by the fact that currentTime read from videoModel is sometimes as low as year 1970 which makes getActualPresentationTime() to set actualTime to DVRWindow.start initiating that way seek to very beginning of the stream:
[code]

[2019-05-30 08:34] EcemIren commented on #2947
Hi dear,

Could you find any time to look at the problem ? Thanks in advance.

[2019-06-03 15:43] panofr opened #2999 "Fragmented subtitles stop working after first period"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-06-04 09:04] nicosang commented on #2999
Hi @panofr ,

first of all, the title of your issue is not the good one. Indeed, subtitles in your stream are vtt not ttml. I did some tests, so subtitles, in the second period, can be displayed if you start the stream directly in this period (for instance with this url : https://media.axprod.net/TestVectors/v6.1-Clear/MultiPeriod_Manifest.mpd#s=780). So it means the issue is in the TextSourceBuff

[2019-06-04 13:15] panofr commented on #2999
Hi @nicosang ,

thanks you for the fast answer.
I've done a small sample with two periods available here if you want (Sorry I can't put it online for now.
):
https://drive.google.com/file/d/1k_9W7LX9hNIRZXTp5gaF1MEfRtrAUu9n/view?usp=sharing

In the same time I'll try your fix and change the issue's title.

[2019-06-04 14:11] nicosang commented on #2999
many thanks @panofr !
It seems my fix is not good enough.... :-(

Nico

[2019-06-05 07:47] panofr commented on #2999
Hi @nicosang ,
thanks to you for your responsiveness!

I have tried your fix on my side and as you said, I've got the same result.
I hope we can find a solution, let me know if you want more samples or period.

Lionel

[2019-06-06 15:07] nicosang commented on #2999
Hi @panofr ,

I've just updated my PR. Could you, please, take a look at it?
The main problem is that the text source buffer doesn't use timestamp offset as the other types of source buffer. This timestamp offset is used to define the period start time.

@epiclabsDASH, it seems that in the sample page, the multi period with subtitles use case is missing...

Nico

[2019-06-07 10:11] panofr commented on #2999
Hi @nicosang,

that's much better, thanks.
Subtitles are now correctly played even with 3 or more periods.

The only bug that I see with this fix is ​​that when you seek in different period, the subtitles have gone.

### Behavior:
I'm in period A and I seek anywhere else in same period :  **OK**.
I'm in period A and I seek at period B beginning (<25% period): **OK**
I'm in period A and I seek at p

[2019-06-09 20:09] DragoCubed commented on #2884
Is this why playing Netflix in the new (and old) Microsoft Edge has a memory leak? Leaving it paused for 5 seconds makes it go to 500mb and rapidly rises while on Chrome it's 166mb. Going to edge://flags to disable PlayReady DRM means that Netflix content doesn't play, probably because Netflix is using the user agent and expects Edge to have PlayReady.

[2019-06-11 06:31] zoran1996 opened #3001 "How to adjust the buffer length"
1. I want to set a different buffer length but I cant find related metheds.
2. How to check the current buffer length being using?Please tell me something about it .
3. What is the differences between the vaule of Strong,Week,Default in SwitchRequest?
3.  I've write an ABR  algorithem but there is a problem that even the video segment continue been push into buffer but the buffer will stay in a st

[2019-06-11 10:28] nicosang commented on #2999
Hi @panofr ,

thanks for your feedback : you were right, it was good but not sufficient! ;-)

I've just updated my PR. Could you, please, test on your side once again?

Thanks,

Nico

[2019-06-11 12:11] panofr commented on #2999
Hi @nicosang ,

all is working perfectly on my side with your fix now:

1. Live stream with TTML (multi-period): OK
2. VOD stream with TTML normal play: OK
3. VOD stream with TTML seek in different period : OK

Good job,

Lionel

[2019-06-12 21:45] #2999 closed

[2019-06-12 22:16] epiclabsDASH commented on #3001
Hi Zoran

1. In dash.js v3.0 there is one single method to change configuration of the player, MediaPlayer.updateSettings. Using it you can change both stableBufferTime and bufferTimeAtTopQuality. Example:
[code]

- bufferTimeAtToQuality: The time that the internal buffer target will be set to once playing the top quality.
- stableBufferTime: The time that the internal buffer target will be set to

[2019-06-12 22:16] #3001 closed

[2019-06-13 04:09] zoran1996 commented on #3001
Thanks that helps me a lot.

[2019-06-15 04:06] junsoopark commented on #2995
Hi
I've read the paper of ACTE and have a question.
According to ACTE, the bandwidth measurement will be done with each http chunk. With regard this, what I want to know is whether each http chunk is always aligned with each cmaf chunk. That is, do those have same size? If not, could the end of a http chunk be in the middle of a cmaf chunk by some kinds of proxy servers?
In the case of the link be

[2019-06-18 08:56] rnmhdn opened #3004 "offline playing of clearkey protected content"
* Browser name/version: electron v4.1.4
* OS name/version: archlinux

Here is my The that I use for encryption:
[code]
And the command is:
[code]
and my dashjs player code:
[code]

##### Observed behaviour
If I'm connected to internet it works otherwise it doesn't
It works even if I connect to a hotspot with no internet connection.
Also it works without connection on an unprotected video so the pr

[2019-06-19 14:59] epiclabsDASH commented on #2993
Fixed in #3003

[2019-06-19 15:41] #2996 closed

[2019-06-19 15:44] epiclabsDASH commented on #2991
@junsoopark, I think this is a question for dash-live-source-simulator, as you already did. We can't be helpful with it. Thanks

[2019-06-19 15:44] #2991 closed

[2019-06-19 15:45] epiclabsDASH commented on #2980
Duplicated of #2802. Let's follow the progress there. Thanks for reporting

[2019-06-19 15:45] #2980 closed

[2019-06-19 15:46] #2884 closed, assigned to nobody

[2019-06-19 15:50] epiclabsDASH commented on #2968
@iamprem, @smithpayel, could you please check your manifest and see if representations of your video adaptationset are using different id's? I recently saw a problem similar to what you mention and the problem was related with the initialization segments cache mechanism that implements dash.js. If for some reason you use same ids across different renditions (not allowed by DASH IOP) you could have

[2019-06-19 15:58] epiclabsDASH commented on #2976
I guess it is not the most used event. I can imagine it provides the url just to allow the app to have an "easy" way to know for which stream the even was raised for.

@dsparacio, do you remind why this event was added in the past? It could be just to have as much events as possible about what's happening during the playback.

[2019-06-19 16:00] #2964 closed

[2019-06-19 16:04] epiclabsDASH commented on #2947
@EcemIren, could you please try again using our latest version?

http://dashjsv3.surge.sh/samples/dash-if-reference-player/index.html

[2019-06-19 16:05] epiclabsDASH commented on #2946
This should be fixed in dash.js v3 -> #3003 (what a coincidence PR number!)

Url for testing: http://dashjsv3.surge.sh/samples/dash-if-reference-player/index.html

Any feedback will be more than welcome

[2019-06-19 17:24] nicoweilelemental commented on #2946
Hi @epiclabsDASH , all my MediaPackage streams work fine, but I still have problems with my MediaTailor streams after ad replacement: most of the times (but not always) the playback stops at the end of the ad tunnel and doesn't transition back to the live stream. We will investigate on our side also.

$TIME$ with Timeline / FULL
https://564fd68168794875b50e4a43a9e4b8c9.mediatailor.eu-west-1.amazon

[2019-06-19 17:26] epiclabsDASH commented on #2946
Let me also get some debug data and share it with you. I will get back to you shortly.

[2019-06-19 20:09] #2759 closed

[2019-06-19 20:11] epiclabsDASH commented on #2679
Chanof, please, reopen this if you still have a manifest in which we can reproduce the issue. I don't think it is related with a dash.js issue (we are not taking care of the decoding, the browser does), but will take a look.

[2019-06-19 20:11] #2679 closed

[2019-06-19 20:18] epiclabsDASH commented on #2681
Fixed in #3003. I could not reproduce the issue anymore. @KameshDevarakonda, could you please confirm you can neither reproduce it?

Sample page: http://dashjsv3.surge.sh/samples/dash-if-reference-player/index.html

[2019-06-19 20:20] epiclabsDASH commented on #2565
@tomraut, this kind of errors should be fixed with the new segment model implemented in dash.js v3 (#3003). Could you please confirm you can't reproduce the issue with your stream?

Thanks!

[2019-06-19 20:28] epiclabsDASH commented on #2551
Hi @dvdobrovolskiy, @mvirbicianskas. Issue is fixed in dash.js v3 (#3003). It is not a easy to test stream but in the new version end event is raised after "playing" 0.1 seconds (of black screen?) and then playback restart.

Could you please test it using this url http://dashjsv3.surge.sh/samples/dash-if-reference-player/index.html and let me know if you are ok with the result?

[2019-06-19 20:41] epiclabsDASH commented on #2626
Fixed in #3003 (and removed parameter segmentOverlapToleranceTime which is not needed anymore).

@teamshadow2, could you please confirm you can reproduce the issue here? http://dashjsv3.surge.sh/samples/dash-if-reference-player/index.html

[2019-06-19 20:56] epiclabsDASH commented on #2989
Not sure. Looking at your manifest declared duration is 2' 32'', so neither 10:00 nor 22:00 should be valid values. If you share the full stream with me I will do some tests here.

By the way, could you please if you can reproduce the issue here http://dashjsv3.surge.sh/samples/dash-if-reference-player/index.html? It is the demo for dash.js v3 (#3003) that comes with improvement in the segment/tim

[2019-06-19 21:26] epiclabsDASH commented on #2969
Sorry for not coming before. This was fixed in #2971

[2019-06-19 21:26] #2969 closed

[2019-06-19 21:37] KameshDevarakonda commented on #2681
Seems fixed. Can't reproduce stalls anymore.

[2019-06-19 21:56] epiclabsDASH commented on #2946
The only root of issues that I find is there is a small gap (0.4 seconds) between the last ad of the tunnel ad and the content.

[code]

That's the reason behind playback being stalled even though player has enough buffer (after the 0.4 seconds). Anyway, although not smoothly, dash.js should take care of this situation and jump that gap faster than it does (jump happens but after long time).

FYI,

[2019-06-20 05:21] tomraut commented on #2565
@epiclabsDASH I've tested using https://mtvdashvodcloud-a.akamaized.net/video/uutiset/ismvol1/2018-02-08/Kymmenen_Uutiset(874970_ISMUSPWV).ism/Kymmenen_Uutiset(874970_ISMUSPWV).mpd?vbegin=233 and test results are:
- dash.js 2.9.3 + overlapSegmentToleranceTime set to 2.0 => works OK
- dash.js 2.9.3 without overlapSegmentToleranceTime => freezes to first frame
- dash.js v3 without overlapSegmentTole

[2019-06-21 05:21] iamprem commented on #2968
As far as i can tell, each **Representation** under an **AdaptationSet** has unique "id". If that was the case, I should be able to reproduce the issue without having to seek and just by changing the quality. Right?

Pasted couple of sample Representation from the video AdaptationSet for your reference.
[code]

[2019-06-21 07:28] epiclabsDASH commented on #2968
@iamprem, would it be possible sharing that stream with me?

[2019-06-21 08:28] NyuuuuOrz opened #3006 "TVOD Playback does not start in Chrome75 but works fine in Edge"
Hello,
Recently I find that the TVOD(a record for a period of live stream which duration is about 30 minutes) playback with Dash.js 2.9.0/development(3.0.0) will not start on the latest Chrome version(Chrome74/75). However, **the same TVOD content play well on the Edge**. Also, the normal VOD content play well on both Chrome74/75 and Edge.
The network log shows that Dash.js 2.9.0/development playe

[2019-06-21 22:17] #2681 closed

[2019-06-21 22:18] #2565 closed

[2019-06-21 22:18] #2626 closed

[2019-06-21 22:18] #2989 closed

[2019-06-21 23:24] iamprem commented on #2968
@epiclabsDASH The stream is DRM protected and we use in-house solution to vend the certificate and license to the player. So i can't provide access to a stream for you to test. I even tried to spin up a server to just serve license for one sample video, but looks like the license request from the player is session specific and the license obtained from another session of the same video doesn't wor

[2019-06-23 21:56] epiclabsDASH commented on #2968
Ok, let me generate a specific debug version with some extra logs that could help to locate the issue.

Thanks

[2019-06-24 02:32] NyuuuuOrz commented on #3006
Add some more information:
   The same TVOD **can not play** by ShakaPlayer as well on Chrome74/75 but works fine on Edge. However, ShakaPlayer seems to download video and audio fragments regularly while Dash.js only download one audio fragement. There is no error or information in ShakaPlayer's log but the playback just can not start on Chrome74/75 and after 7-8 fragment downloaded the ShakaPlaye

[2019-06-24 10:18] robertbryer opened #3008 "V3 - Live Simulcast streams fragments past availability range"
1. Play http://dashjsv3.surge.sh/samples/dash-if-reference-player/index.html?url=https://a.files.bbci.co.uk/media/live/manifesto/audio/simulcast/dash/uk/dash_full/aks/bbc_radio_one.mpd
2. Playback looks fine for the first ~30 seconds.
3. Player then immediately streams 7 segments ahead of the current point and past the availability range; it will fail with a 404 for this reason.

It looks like thi

[2019-06-25 09:15] #3008 closed

[2019-06-25 18:37] budziq opened #3010 "Seek to 0s in Firefox 67.0~70.0.1 causes playback to stop - also on 3.0.1"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-06-26 22:19] epiclabsDASH commented on #3010
Reproduce here. I am taking a look to see how to fix this.

[2019-06-27 03:30] jimmymic opened #3012 "Error in TimeLineSegmentsGetter.js"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs

[2019-06-27 08:31] PolynomialDivision commented on #2940
There is some interesting Pull Request https://github.com/Dash-Industry-Forum/dash.js/pull/3003.
It's written that using SegmentTimeline `representation metrics are not correctly reported` and `top level application could get erroneous "current bitrate" value`.
is that maybe related to my issue? I'm using SegmentTimeline as well but not for live-streaming. So `representation metrics` are not corre

[2019-06-30 12:41] sergiyshutov commented on #1803
This bug exists in new dash.js version 3 too. When you fix this bug? More than 2 year exist this issue.

[2019-06-30 17:49] aranmohyeddin opened #3013 "How to change the video source."
How to play next video?
I run this function to play a video:
[code]
When The User presses the next button I simply run init(video_number++, k, v) but that is not really nice because the screen flashes. I was wondering if there is a more smooth way of changing the video.

[2019-07-01 18:13] acbegen commented on #2995
ACTE operates on the HTTP chunks as you said. We are not actually using CMAF chunk data (its payload or header). So, regardless of the mapping between the HTTP and CMAF chunks, it is irrelevant to ACTE.
For your specific question, though, I don't think there is ever a guarantee how a middle-box proxy may alter the HTTP chunks. But the correct behavior is that the packager posts a CMAF chunk to the

[2019-07-03 15:00] nicosang commented on #3013
Hi,

the call to create and initialize has to be done only once. Then, when the user selects a new stream, you have to call the setProtectionData if needed and attachSource with the new url....

Nico

[2019-07-04 01:26] Sungjoong-Bae opened #3016 "[ProtectionController] License request failed since 3.0.0"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on https://conformance.dashif.org/
- [] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [] There are no network errors such as 404s in the browser console when trying to play the stream
- [] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs in t

[2019-07-04 06:00] pushkardk opened #3017 "Remove the usage of TextEncoder/TextDecoder or add polyfill for it"
TextEncoder & TextDecoder web APIs are used in DashJS, even in the latest version.
Please remove it or have a fallback to a polyfill so that it works on all the major browsers when the corresponding DashJS snippet gets triggered.

Currently, IE and Edge do not support these APIs and I have a requirement to support them. During certain playbacks, the snippets using these Web APIs get triggered, cau