[2018-02-21 19:13] gwevans commented on #2432
@wilaw Thanks for the insight.

The host never changes, just the URL, so that shouldn't be an issue.

I will look into Shaka, it seems like they support dynamically changing URLs. Thanks for the quick reply.

[2018-02-22 14:37] loguntsov commented on #2428
@epiclabsDASH thank you for your answer.
Yes it was this reason.

[2018-02-23 09:30] mannou440 opened #2434 "Redundant segment download when setQualityfor() is invoked many times"
##### Environment

- [x ] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [ x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [ x] There are no network errors such as 404s in the browser console when trying to play the stream
- [ x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [ x] The issu

[2018-02-23 19:00] cedj commented on #2421
@epiclabsDASH hello, any news about this issue ?

[2018-02-23 21:50] epiclabsDASH commented on #2326
@boris-petrov, issue should be fixed in #2436. Could you please confirm?

[2018-02-23 21:51] #2432 closed

[2018-02-23 21:57] epiclabsDASH commented on #2421
Hi @cedj, no not yet. I need to further investigate this. Currently we are just removing the SourceBuffer after a track reset but, as you @jeffcunat has experienced, this is not enough when there is a codec change. We should compare current and next track codec, and in case there is a difference, recreate the SourceBuffer accordingly.

[2018-02-23 22:11] bbcrddave commented on #2421
This at least partly because the relevant SegmentBaseLoader implementation is selected at start up time and not switched when the mime type changes.

The basic assumption when webm was implemented appears to have been that webm and MP4 audio would never exist together and so would never be switched.

[2018-02-24 12:38] boris-petrov commented on #2326
@epiclabsDASH - I confirm, this pull-request fixes my issue. Thank you for the support!

[2018-02-24 21:04] #2326 closed

[2018-02-24 23:23] cedj commented on #2421
@epiclabsDASH @bbcrddave thank you for the explanation. The problem occurs when I switch from mp4 to mp4 (ex. an other language) too.
If you need a mpd sample, I can send it to you by email.

[2018-02-26 14:37] qchroman opened #2439 "Right way to import from dashjs with MSS support"
Hello,

Sorry, I'm new to using imports instead of using just scripts on the web page. I was wondering what is the correct way to import dash.js along with MSS support. I can do

`import dashjs from 'dashjs'`

just fine, and it gets webpacked later into my bundle and MPEG-DASH assets play just fine. But, when I try to playback MSS the playback doesn't start which makes me believe that MSS module w

[2018-02-26 14:48] nicosang commented on #2439
Hi @qchroman ,

you just have to add :

`require('dashjs/build/es5/src/mss');` or equivalent with import syntax...

Nico

[2018-02-26 14:58] qchroman commented on #2439
(headbang)

Thank you, Nico!

[2018-02-26 14:58] #2439 closed

[2018-02-27 00:11] nweber opened #2441 "Buffering logic does not respect `suggestedPresentationDelay` when `useSuggestedPresentationDelay` is set to `true`"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-02-27 06:35] sandersaares commented on #2441
I believe dash.js behavior as described is correct. `MPD@suggestedPresentationDelay` does not affect segment availability - it is merely a hint to synchronize player startup at a specific point, rather than a player-calculated point.

In the linked manifest, segment availability start time is determined by: `MPD@availabilityStartTime + Period@start + (segmentNumber - startNumber) * duration / time

[2018-02-27 09:01] haozhenxiao commented on #2401
@epiclabsDASH As mentioned above, we've fixed the validation and tested [the stream](https://abr.appeartv.net/1837/1/dash/smptebars_24hours/manifest.mpd?debugdashtime&debugdashplayerlive) with no gaps on v2.6.6, the behaviour is still the same, any suggestions?

[2018-02-27 10:14] bbcrddave opened #2442 "Incorrect typescript definition for QUALITY_CHANGE_* events"
See https://github.com/Dash-Industry-Forum/dash.js/blob/development/index.d.ts#L259.

I'm no typescript expert but, when compared to https://github.com/Dash-Industry-Forum/dash.js/blob/development/src/streaming/MediaPlayerEvents.js#L135, it looks like the string values for `QUALITY_CHANGE_RENDERED`, and `QUALITY_CHANGE_REQUESTED` are the wrong way round?

[2018-02-27 14:28] bbcrddave opened #2445 "Exceptions, errors thrown on manifest reload in latest dev reference player"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-02-27 14:32] epiclabsDASH commented on #2445
Thanks @bbcrddave. Taking a look right now.

[2018-02-27 15:07] epiclabsDASH commented on #2445
Good catch, @bbcrddave. It can not be reproduced in local environment because browser EME behavior when working with HTTP, HTTPS or when using localhost.
I am putting a fix.

[2018-02-27 15:18] nweber commented on #2441
I'm not sure if I agree with this statement.  The specification says..

This indicates that SPD is relevant for the presentation of all segments, not just the starting point of the presentation.

Section 7.2.1 includes..

Now this is all obviously talking about "presentation time" and not "availability time", which is perhaps the sticking point for me.

I just pulled the latest specification (2300

[2018-02-27 15:50] nweber commented on #2441
With that said, revisiting Section 7.2.1..

This, to me, seems to indicate that a combination of AST and SPD directly influences the wall-clock time of each Segment.  Yes, it's the presentation time of a segment, but I would argue from a player stand point that, particularly during live content, the player should not be downloading content that it cannot not present.  If a Segment's presentation i

[2018-02-27 19:26] nweber commented on #2441
Also, after reading some more, I have some thoughts about this..

Section 5.3.9.5.3 indicates...

Where MPD start time is also defined in Section 5.3.9.5.3 as:

And some definitions, for clarity's sake:

Additionally, section 7.2.1 says..

And (a callback from above), 7.2.1 says this about dynamic streams..

This means that a Segment's MPD start time is, by definition, an approximate mapping to th

[2018-02-28 00:11] wilaw commented on #2441
@Nathan - from the DASH IF persecptive, Sander's interpretation is correct. @SuggestedPresentationDelay is intended purely as a guide to the point at which a player should begin playing content in a live stream. That is different to the point at which it fetches content. The difference between the two is the forward buffer duration. I agree with you that the language in the spec is a little ambigu

[2018-02-28 08:53] #2445 closed

[2018-02-28 08:59] bbcrddave commented on #2442
Closed via #2443.

[2018-02-28 08:59] #2442 closed

[2018-02-28 15:57] gwevans opened #2449 "Is there something in dashjs similar to shaka-player's RequestFilters?"
Shaka-player has a requestFilter that listens for any requests being made by the player (either manifest requests or segment requests), which allows you to intercept the call and modify the request before it goes out. Is there something similar for dashjs?

[2018-03-01 08:45] epiclabsDASH commented on #2449
Hi @gwevans,

Yes, you can do something similar with dash.js extending RequestModifier. Take a look at this as an example: https://github.com/Dash-Industry-Forum/dash.js/issues/1471

Thanks

[2018-03-01 08:59] epiclabsDASH commented on #2431
They manage different type of errors, coming form different sources and logic so I don't think there is a situation in which both are fired for the same error. PLAYBACK_ERROR events are errors that come directly from the video element. It is a passthrough of the error events raised by the underlying video element (<video>). They are typically errors related with decoding.

ERROR events are errors

[2018-03-01 10:14] nicosang commented on #2421
Hi @cedj ,

as explained above, I think your issue is not exactly the same. Could you, please, provide us a stream in order to test?

Thanks,
Nico

[2018-03-01 14:24] nicosang commented on #2401
Hi @haozhenxiao ,

your stream seems to not be available now....Have you found the solution? If not, could you please restore access to it?

Thanks,
Nico

[2018-03-01 14:35] grukx commented on #2401
No - just a maintenance upgrade. Back in 5.

[2018-03-01 16:29] nicosang commented on #2401
Hi @dsparacio ,

I have a little question for you according this issue. Could you, please, tell me why, in live segmentTimeline use case, the isMediaFinished function (in DashHandler) always returns false?
We have, in this case, multiple periods. So, in order to switch to next period, we have to detect the end of the current one : according to my comprehension, it is done at the beginning by this

[2018-03-02 10:42] haozhenxiao commented on #2401
#2325

[2018-03-02 11:49] JibberJim commented on #2402
@wilaw I think updating this has regressed the explicit non-caching of the service that we'd talked about before, the service is now not explicitly cacheable again, and IE11 on default settings typically caches it, leading to horrible behaviour for us :(

Can you fix?

[2018-03-02 14:16] #2449 closed

[2018-03-02 14:16] #2431 closed

[2018-03-02 14:53] #1595 closed

[2018-03-02 18:09] iAskStupidQuestions opened #2454 "MPEG-DASH Streaming Vimeo Videos?"
Hello,

 I want to MPEG-DASH stream my Vimeo videos using DASH.js, but do not know how to do it.

 Thanks to [this](https://static1.squarespace.com/static/507db320c4aabcfd22168d32/t/570c17cac6fc080fac19f158/1460410321300/Adaptive+Streaming+at+Vimeo.pdf) document I have learned that Vimeo can generate JSON for DASH streams and segment videos as .m4s on the fly. (Even .m3u8 for HLS). Also MPD format

[2018-03-02 23:01] SushantMongia commented on #2454
Hi,
I’ve answered something similar over here in these links on stackoverflow. Maybe they’ll help you with the semantics.

https://stackoverflow.com/questions/37110482/how-to-serve-dash-video-mpeg-dash-and-hls-over-a-web-sever/42902307#42902307

https://stackoverflow.com/questions/29081439/hls-to-mpeg-dash/43669373#43669373

If not, I’d be happy to share more about the process in detail!
Cheers!

[2018-03-02 23:18] epiclabsDASH commented on #2454
If I were you, I would take a look at Vimeo documentation to get answers about the possibility of getting MPEG-DASH urls of the videos you upload. At least some time ago, it was possible to get HLS urls of any of the uploaded assets (if you have a pro account) using Vimeo API. I am not sure, but probably you can do the same now for MPEG-DASH urls.

Anyway, Vimeo (API) documentation or Vimeo contac

[2018-03-02 23:18] #2454 closed

[2018-03-05 23:06] sergiyshutov commented on #1803
Up. Can you please tell me, when this bug will be fixed? :) I post this bug one year ago _23 Feb 2017_

[2018-03-07 13:47] bbcrddave opened #2458 "TypeError when attempting to play protected media on insecure origin"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-03-07 13:52] bbcrddave commented on #2458
That code introduced in https://github.com/Dash-Industry-Forum/dash.js/pull/2450.

[2018-03-07 23:07] #2458 closed

[2018-03-08 09:51] bbcrddave opened #2460 "Ref player: cannot select source menu items appearing lower than seekbar"
In the reference player, select and play any live source, or an ondemand source skipped til near the end. Now attempt to play an item in, for example, "Axinom Test Content (modern)" submenu, that appears lower on the screen than the seekbar. Notice that the seekbar appears on top of the menu and it is not possible to select any items below the seekbar.

`div#seekbar-play` probably has higher z-ind

[2018-03-09 10:48] epiclabsDASH opened #2461 "Travis/CI Environment - Deployment issues"
Experiencing issues with the CI process implemented in Travis. Starting yesterday, for some reason that Travis is still investigating and that is not exclusively related to dash.js, there is an issue in the process in charge of deploying recent build of dash.js development branch to the nightly folder.

This is causing merges to development branch to break nightly version of Dash.js reference play

[2018-03-09 23:07] dsparacio opened #2463 "Need MAX value, either as bitrate or index, when limiting by portal size."
I may be wrong but I am not able to get the MAX value, either as bitrate or index, when limiting by portal size out of any event or api at this time.

Currently getMaxBitrateAllowed in this scenario returns nothing if not set. (who wrote this stuff!)
I would like expose or include the info from  function getTopQualityIndexFor(type, id) in ABRController.
Either as part of getMaxAllowed or as separa

[2018-03-12 10:18] #2460 closed

[2018-03-12 10:26] #2441 closed

[2018-03-12 10:27] epiclabsDASH commented on #2408
@rabi2017, any update on this?

[2018-03-12 14:57] epiclabsDASH commented on #1921
Closing this issue because inactivity. I tried to reproduce it here and didn't see any issue. @ut0mt8, in case this is still an issue for you (issue was open almost 1 year ago), please reopen it.

[2018-03-12 14:57] #1921 closed

[2018-03-12 15:26] epiclabsDASH commented on #1786
I can't reproduce this issue anymore (using Safari 11.0.3) and testing both with dash.js v2.4.1 and dashjs v2.6.6, so I am closing it.

[2018-03-12 15:26] #1786 closed

[2018-03-12 16:06] epiclabsDASH commented on #1908
Sorry, there is not such an event type in dash.js. The most similar thing is what @twdkeule pointed out, but that's raised only when there are quality changes.

Instead of building your own custom solution we are open to contributions. It will be more than welcome! :)

[2018-03-12 16:06] #1908 closed

[2018-03-12 16:45] epiclabsDASH commented on #1808
I think it was removed because, after adding BolaRule, BufferOccupancyRule doesn't make sense anymore.

In case ABR strategy is set to dynamic (default value) as soon as the buffer level is enough high (> stableBuffer), BolaRule becomes the main rule and then doesn't make sense having BufferOccupancyRule "fixing" the decisions of ThroughtputRule, which is "deactivated" and won't take any decision.

[2018-03-12 16:45] #1808 closed

[2018-03-12 16:55] epiclabsDASH commented on #1739
Closing this issue. @mattjfong, I tested your stream with latest versions of dash.js and I couldn't reproduce any issue. I could reproduce your stream seamlessly without any playback stall.

For your information, in dash.js v2.6.7 we have also implemented a gap detection feature so it is able to continue playing when there are small gaps or small differences between video/audio track lengths.

[2018-03-12 16:55] #1739 closed

[2018-03-14 15:12] epiclabsDASH commented on #1455
Playback issue related with this issue has been "fixed" with the implementation of "jump gaps" feature. Beside other things, it is able to manage playback correctly when there are small length differences in video/audio tracks.

Note: "Jump gaps" is a feature that makes this play but it doesn't fix the root of this issue (lack of implementation of lmsg styp box parsing). For example, when trying t

[2018-03-14 15:12] #1455 closed

[2018-03-14 16:18] nicosang commented on #2421
Hi,

a short summary on this issue :

- issue of @cedj : bug fix with PR #2465
- initial issue : as explained by @bbcrddave , I changed the SegmentBaseLoader cycle life. Unfortunately, the problem is still there after this change. It seems that the switch from mp4 to webm in an already created SourceBuffer is not possible. :-( @bbcrddave , have you ever heard of problem like this? have we to delet

[2018-03-14 16:31] bbcrddave commented on #2421
Yes, unfortunately that is the experience behaviour :disappointed:, so there's not much choice.

[2018-03-14 18:06] epiclabsDASH commented on #2421
This is highly related with #1708. When track switches happen, because there is a stream/period switch or because there is a video/audio track one, we should take into account switch could require re-creating the source buffer.

This is something we are currently doing when there is a stream/period switch although we are being so aggressive and we are reseting mostly everything. Doing in this way

[2018-03-15 01:33] eponymous301 opened #2470 "livestream generated by ffmpeg fails to play except in v2.6.0 (Safari + Chrome)"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-03-15 01:38] eponymous301 commented on #2470
updated sample MPD (copied after I obtained console output in ticket)
[code]

[2018-03-15 06:43] sandersaares commented on #2470
That `t="5810634896"` is approximately 33 hours. Taking availabilityStartTime+33 hours results in a timestamp in **tomorrow**.

The timing in this content appears to be defective - the content of the stream is in the future.

[2018-03-15 11:48] Murmur opened #2471 "Bitrate popup list to show "bitrate (widthXheight)" for video streams"
Dashjs player's controlbar has a bitrate button at the bottom right corner. I have a usecase where all video streams use the same bitrate but resolution differs. It would help and be nice to see video resolution WIDTHxHEIGHT values. It also would help understand popup list as bitrates may not say anything to some of the end users.
[code]

[2018-03-15 13:05] sandersaares commented on #2471
IOP 3.9.2 mentions an `AdaptationSet/Label` element. Perhaps this might play a role in the selection UI, as well?

[2018-03-15 17:38] Murmur commented on #2471
I read the reference 23009-1 PDF about the Label field but did not find anything. Maybe this is a recent addition so not found in an old pdf document. Label field should be put `AdaptationSet/Representation@Label` to be usefull.

`See ISO/IEC 23009-1  [4], clause 5.3.7.2 Table 9.
This element enables to provide a textual description of the
content. This element should be used if content author exp

[2018-03-15 21:22] eponymous301 commented on #2470
Hmm, not sure where that t value comes from. Perhaps OS X is supplying a timestamp counting from last system boot and ffmpeg is passing along.

I will try pulling out the -copyts parameter from my ffmpeg command line and see if that improves things. (I did try using presentationTimeOffset attribute in <SegmentTemplate> to compensate for starting "t" but that did not help)

[2018-03-15 21:33] eponymous301 commented on #2470
Removing '-copyts' from ffmpeg command line makes the stream playable. Not quite a bug in ffmpeg dash encoder I think, although it really should output a warning.

Controls show a nonsense number for total duration though (-14:-8) , I imagine this has already been filed as a separate bug but I'll take a look.

<img width="137" alt="screen shot 2018-03-15 at 2 27 58 pm" src="https://user-images.git

[2018-03-15 21:33] #2470 closed

[2018-03-16 22:45] MinervaArcher commented on #1634
I'm having a similar issue--I need to display captions and subtitles outside the Dash mediaPlayer, in a custom UI element. However, when I try to track changes on `element.textTracks` using oncuechange, I'm encountering a couple issues.

1. The selected track won't fire `cuechange` events unless `playerattachTTMLRenderingDiv()` is called. Because my project is using a custom element to display cap

[2018-03-18 10:20] chrisss404 opened #2477 "Schedule is stalling when request is abandoned by AbandonRequestsRule"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [ ] The issue occu

[2018-03-19 04:10] subhranshudas opened #2478 "DRM: Playing Encrypted Media with latest dash.js player complete media playing working example."
Hi All,
I am trying to setup up dash.js to play DRM content (both Widevine & PlayReady). Went through the github samples found `https://github.com/Dash-Industry-Forum/dash.js/blob/master/samples/protection/getLicense.html` This shows what config to pass and how to use the protectionController to initialize.
Can we get a full working example from manifest URL to the video actually playing. This wil

[2018-03-19 05:10] sandersaares commented on #2478
There is a newer version of the guide you linked above at https://github.com/Axinom/drm-quick-start - perhaps this is of some help.

[2018-03-19 08:10] bbcrddave commented on #2478
DRM flow is documented, with diagram fairly similar to yours, at https://www.w3.org/TR/encrypted-media/#introduction.

[2018-03-19 09:45] epiclabsDASH commented on #2478
Right took a look at url provided by @sandersaares, and it includes a very good example of how to play DRM protected streams: https://github.com/Axinom/drm-quick-start/blob/master/Website/Index.html.

@subhranshudas, as you will see, playing DRM protected streams in dash.js is quite simple. You just need to call setProtectionData to set keysystems information (ex: license server url) before attach

[2018-03-19 10:54] bbcrddave commented on #2477
The test is correct because https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/abort states that when a request is aborted, the status is set to 0 and the readystate to 4.

Firefox seems to have had a bug around this area where it failed to set the status correctly on abort: https://bugzilla.mozilla.org/show_bug.cgi?id=1400748. This was fixed in FF58. You state that you are using FF52

[2018-03-19 16:42] nicosang commented on #2477
Hi,

@chrisss404, could you, please, give us the precise Firefox ESR version that you use? I did some tests with version 52.7.2 (64 bits), I was not able to reproduce it. AbrController asked to abort xhr (status = 200), then in onAbort callback status was equal to 0.

So, I'm not sure a workaround is needed...

Nico

[2018-03-19 17:32] fvalleeHbbTV opened #2480 "playback failures in mpd w/ SegmentTimeline (was ok in 2.6.5)"
##### Environment
- [ ] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [ X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X ] There are no network errors such as 404s in the browser console when trying to play the stream
- [X ] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [ X] The issue

[2018-03-19 17:52] subhranshudas commented on #2478
@sandersaares @jeoliva thank you for the references. I went through the [https://github.com/Axinom/drm-quick-start](url) and when i tried going through the [https://github.com/Axinom/drm-quick-start#sample-scenario-2-creating-your-own-license-tokens](url)
i was unable to create an evaluation account [https://github.com/Axinom/drm-quick-start/issues/14](url)

Though i am waiting on being able to se

[2018-03-19 19:13] subhranshudas commented on #1940
@bbert @epiclabsDASH
any thing on how to provide the
` audioRobustness: "SW_SECURE_CRYPTO",
   videoRobustness: "SW_SECURE_DECODE"`

from the perspective of the client app which will consume `dash.js`. I mean what would be the best possible way to provide these robustness levels according to the key system, along with all others key system's specific data.

If i understanding it correctly from wha

[2018-03-19 20:55] chrisss404 commented on #2477
@bbcrddave thanks for pointing out the firefox bug, I was not aware of it.

@nicosang hmm interesting, I can observe the described behaviour every time a request is abandoned. Maybe the OS is causing the issue, since I am using the exact same browser version as you, see values from about:support.

Additional remark: I think an exception should be thrown if status != 0, since dashjs is not able to

[2018-03-20 09:13] nicosang commented on #2477
Hi @chrisss404 and @bbcrddave ,

the main question, according to me, is why do we need to test status code to trigger LOADING_ABANDONED event. I wrote this part of code, but I don't remember why it was necessary to test status code.... :-(

[2018-03-20 09:21] bbcrddave commented on #2477
Presumably because if the request has actually completed (status 200/readyState 4) when abort is called, you don't want to mark it as abandoned because that would cause the same request to be made again at a lower quality?

[2018-03-20 13:27] nicosang commented on #2477
I'm not sure, it could really happen.....and if it is true, should we call the onloadend callback : currently, when the abort function is called, onloadend, onerror and onprogress callbacks are deconnected.
So, we can maybe modify line 189 of XHRLoader.js like this :
`                config.abort(request, xhr);
`
and the abort function of FragmentLoader.js like this :
`                abort: funct

[2018-03-20 14:06] fvalleeHbbTV commented on #2480
Seems the regression is related to "More accurate way of syncing fragmentRequests and bufferedRanges "
https://github.com/Dash-Industry-Forum/dash.js/commit/5bec3dfe4bffe3948501b0bc58ea6088d8528d0c

[2018-03-20 14:54] TobbeEdgeware opened #2482 "Improvement o start-over TV playback"
A new start-over TV mode has been added to DASH Live-Source Simulator.

It lets the user specify a relative time interval where the stopTime may be either in the past or the future.

A number of test URLs for this are available in:

https://github.com/Dash-Industry-Forum/dash-live-source-simulator/wiki/Live-channel-and-start-over-of-programs

The confinement to a fixed time interval is achieved by

[2018-03-20 16:21] dsparacio commented on #2480
Stream to test with!  https://cbsentallaccess.akamaized.net/intl_vms/2018/03/13/1184650819959/1371676_dash/stream.mpd

Works in 2.6.5, fails immediately in 2.6.6, 2.6.7 and nightly @ 2.6.8

[2018-03-20 21:46] chrisss404 commented on #2477
Hi Nico,

I don't have enough time right now, however I can do some tests on thursday.

When I look at your suggestion, I don't think that you can assume that the request has completed successfully for `xhr.status === 200 && xhr.readyState === 4` in case the buggy firefox version is in use. Additionally, if you look at AbandonRequestsRule's shouldAbandon function you can see that it is not very li

[2018-03-20 21:54] subhranshudas commented on #2478
Any inputs guys?
Also what if some specific request body is to be requested by the DRM service is there a provision to provide for that in dash.js?
My DRM service is expecting a XML in the request body. Is there any option to pass a request body in the config of `protectionController.setProtectionData()`

[2018-03-21 00:11] subhranshudas opened #2483 "dash.js MSS streaming support on IE11 on Windows 7?"
I am trying to play `http://reference.dashif.org/dash.js/nightly/samples/smooth-streaming/mss.html` on IE11, Windows 7. I always get the media player not initialized error.

But when i play that on IE11, Windows 8 then it plays.

So is the minimum to play `dash.js` MSS is Windows 8 for IE 11 also?

Surprisingly, when i try to play `https://demo.castlabs.com` MSS streaming on the same platform (Win

[2018-03-21 06:28] bbcrddave commented on #2483
See https://github.com/Dash-Industry-Forum/dash.js/issues/2142#issuecomment-324748472.

[2018-03-21 08:28] nicosang commented on #2477
Hi @chrisss404,

we can wait your feedback about your test and then, create a PR with the best solution to fix this bug.

Nico

[2018-03-21 09:22] bbcrddave commented on #2480
Both these streams have no content at time 0 for the video adaptationset. At least in the CBS stream, seeking to somewhere where there is content (i.e. 0.0834167500834168s onwards) it works. Perhaps that's what used to happen automagically and that is now broken. Seems like a regression to me.

[2018-03-21 10:12] epiclabsDASH commented on #2480
Thanks for the sample streams. I am going to take a look.

[2018-03-21 10:16] epiclabsDASH commented on #2483
Just to clarify and complement what is described in #2142, in the case of https://demo.castlabs.com it works in Windows 7 because, although it lacks MSE support, Castlabs playback product has a fallback to Silverlight.

[2018-03-21 10:16] #2483 closed

[2018-03-21 10:22] epiclabsDASH commented on #2478
Regarding your previous question, you don't have to provide pssh data as part of the configuration. That is done in the Protection sample but just because its goal is showing how to use Protection module separately and without any media associated.

In your case, you are setting dash.js player to play a DRM protected stream so configuration is much more simpler (extracted from the Axinom sample):

[2018-03-21 15:37] subhranshudas commented on #2483
@bbcrddave @epiclabsDASH got it!!! thank you guys...this community is awesome :)

[2018-03-21 16:05] subhranshudas commented on #2478
@epiclabsDASH if i understand what you have mentioned in [https://github.com/Dash-Industry-Forum/dash.js/issues/2478#issuecomment-374890813](url) to play encrypted content for both DASH or MSS, we need to (just to be extra clear)-
1) Initialize the media player
2) Use player.setProtectionData() to pass an object which will contain information for both Widevine & PlayReady.
In that information we w

[2018-03-21 16:13] subhranshudas commented on #2478
My DRM's request shape (almost!) This is what my service expects as Request. So when i see those tags in the request body XML, i am not sure how dash.js HTTP request will contain those.  Currently i have 1 use case for MSS with PlayReady.

`
Request POST /playready/rightsmanager.asmx HTTP/1.1
Accept */*
Referer http://www.xyz.com/xxx/Flash/SLPlayerSmooth.xap
Accept-Language en-US
Content-Length 80

[2018-03-21 20:14] subhranshudas commented on #2478
@epiclabsDASH @bbert
My DRM's request shape (almost!) This is what my service expects as Request. So when i see those tags in the request body XML, i am not sure how dash.js HTTP request will contain those.
**Currently i have 1 use case for MSS with PlayReady. The earlier player was built in Silverlight and it supports the MSS with PlayReady streams.**

`
Request POST /playready/rightsmanager.asmx

[2018-03-22 03:00] subhranshudas commented on #2478
@epiclabsDASH @bbert i think i might pass the extra tags info in the `player.setProtectionData()` and try to pick it up in the `ProtectionController` and do a customized `xhr.send()` based on some conditions. This is what i feel would be the cleanest approach. (speaking only for the XML in request body in the MSS case)

[2018-03-22 14:11] vladimir-kazakov opened #2484 "Add support for PlayReady Hardware DRM"
The PlayReady DRM uses [2 key systems](https://docs.microsoft.com/en-us/windows/uwp/audio-video-camera/playready-encrypted-media-extension): `com.microsoft.playready` (Software DRM) and `com.microsoft.playready.hardware` (Hardware DRM). Currently, dash.js supports only Software DRM. Trying to use Hardware DRM results in the following error in the console:

[code]

I assume this happens because das

[2018-03-22 14:55] epiclabsDASH commented on #2480
Both problems are related with timing issues regarding what time position dash.js is trying to play (0s position in the case of CBS stream) and what is the first timestamp in the first chunk (0.0834 in CBS stream). Before "segment overlap time tolerance" was configurable, it worked fine because tolerance was so high (segmentDuration / 2) although it caused playback stall issues during seeking oper

[2018-03-23 03:43] subhranshudas commented on #2478
@epiclabsDASH was thinking of another approach in terms of interceptors, does `dash.js` has that kind of support yet? I can write one, but i want to keep it localized to `protection` module without changing the source code of `protection` more from a middleware point of view. Yet to discover a `dash.js` interface which does this.

[2018-03-23 08:49] chrisss404 commented on #2477
##### Code adaptations in XHRLoader

                abort: function (request, xhr) {
                    if (request) {
                        if (xhr.status === 0 || (xhr.status === 200 && xhr.readyState !== 4)) {
                            eventBus.trigger(Events.LOADING_ABANDONED, {request: request, mediaType: request.mediaType, sender: instance});
                            console.log("[F

[2018-03-24 04:34] khullah commented on #1421
@dsparacio any improvements? I'm thinking about using XHR to preload two videos (I need them synced up, but each one loads on its own pace, so I need to preload them as far as I can). Maybe buffer size can be customized?

[2018-03-24 07:56] NyuuuuOrz opened #2486 "Failed to play encrypted media on IE11 and Edge on Windows 10 (Version 10.0.16299.248)"
Recently when I test the dash.js player on **the new Windows 10 operation system(Version
10.0.16299.248)**, I found that it could not play the playready encrypted media on IE11 and Edge with a Video Element Error: MEDIA_ERR_SRC_NOT_SUPPORTED . However, when I test the **same media source** on some old version of Windows 10 operation system, such as **Version 10.0.14393.351** and **Version 10.0.150

[2018-03-24 08:05] epiclabsDASH commented on #1421
Since v2.6.7 dash.js supports preloading streams (#2274). There is also an example that shows how to use this feature: https://github.com/Dash-Industry-Forum/dash.js/blob/development/samples/getting-started-basic-embed/pre-load-video.html

[2018-03-24 15:11] khullah commented on #1421
Wow, thanks Jesús! Will take a look a that, cheers

On Sat, Mar 24, 2018, 05:05 Jesús Oliva, <notifications@github.com> wrote:

[2018-03-26 01:54] iamprem opened #2487 "Dependency on non-licensed library round10"
I see addition of round10 library as a dependency in this commit: https://github.com/Dash-Industry-Forum/dash.js/commit/d03e8710c8187b32ec80156f36d353ac9a7d60c5#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

I think it is unnecessary to take dependency on a library that doesn't have any license details in its git repo: https://github.com/jhohlfeld/round10

[2018-03-26 07:32] epiclabsDASH commented on #2486
@NyuuuuOrz, can you reproduce this same issue with other players (ex: shaka-player)? I will try to get the same combination of operating system and browser version to test.

[2018-03-26 09:02] #2477 closed

[2018-03-26 09:36] bbcrddave opened #2489 "Subtitles not displayed on IE11 from v2.6.4 onwards"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-03-26 09:38] bbcrddave commented on #2486
It looks like there are (at least) two distinct issues here. I've opened a new issue to focus on the fragmented text sourcebuffer append failure: #2489.

[2018-03-26 09:44] #2487 closed

[2018-03-26 10:22] VincentFTS opened #2490 "No way to disable video track download when using Audio tag"
##### Environment
- [X] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occu

[2018-03-26 11:35] NyuuuuOrz commented on #2486
@epiclabsDASH. Sure. Just a moment ago, I tried to use shaka-player demo to play the following two Axinom encrypted test contents:

- https://media.axprod.net/TestVectors/v7-MultiDRM-SingleKey/Manifest.mpd

- https://media.axprod.net/TestVectors/v7-MultiDRM-MultiKey/Manifest.mpd

And it has the same phenomenon as dash.js player. Both of the contents **fail** to play on IE11 but work well on Edge.

[2018-03-26 12:31] NyuuuuOrz commented on #2486
@epiclabsDASH  Also some additional information about my Win10 system: **Windows 10 Professional Edition**, the newest version which is shown as **Windows 10 Version 1709** from Microsoft official website. 10.0.16299.248 is the **Software Licensing Service Version**.

[2018-03-26 15:34] dsander opened #2493 "Audio stream switching not working in Safari 11"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-03-26 21:24] matthew-mahony opened #2495 "How to generate the the .mpd for thumbnails"
I'm investigating the thumbnail support of the DASH player, and I'm wondering how the AdaptationSet for the images is added to the .mpd file.  Does a tool like mp4box automatically generate the .mpd and the section for the images?  Or were the .mpd files for the samples with the thumbnails created manually?

Thanks,

Matt

[2018-03-26 21:36] epiclabsDASH commented on #2461
Issue moved to https://github.com/travis-ci/travis-ci/issues/9391

[2018-03-26 21:38] epiclabsDASH commented on #2495
I don't think there is a tool yet that generates the thumbnails and adds the corresponding adaptationSet to the mpd file. At least the examples that we have were hand-made. Adding @wilaw, probably he has more information regarding this.

[2018-03-26 21:41] epiclabsDASH commented on #2493
I am testing audio track switch feature with some sample content we have and everything worked fine, so, @dsander, could you please share the stream url with me? (Slack, user: joliva) I would like to take a look and see what's happening there. Thanks!

[2018-03-27 07:32] makisp opened #2496 "Volume change listener"
Hello, is there a method for listening for volume changing?
Couldn't find anything in MediaPlayerEvents.

[2018-03-27 07:32] wilaw commented on #2495
I created the existing samples manually as the proposed format was brand new and no tools existed.
I suggest filing a bug https://github.com/gpac/gpac/issues with mp4box and asking them to add thumbnail capability to their excellent toolset for mpd generation.

[2018-03-27 07:36] wilaw commented on #2495
Also, it would be a cool tool (if someone wants to create it), where you can paste in an existing .mpd and it would automatically create thumbs (assuming non-encrypted content), give you back the modified .mpd and also a .zip file containing the referenced tiled thumb images. This would allow thumbs to be easily added to legacy content.

[2018-03-27 08:24] epiclabsDASH commented on #2496
No, there is nothing. The only solution right now for that is adding an event listener for the event `'volumechange'` to the underlying video element (`MediaPlayer.getVideoElement()`).

[2018-03-27 08:28] jiuyuetianjiuyuetian opened #2497 "Thoughput History - Index used in getSampleSize"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [] There are no network errors such as 404s in the browser console when trying to play the stream
- [] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs i

[2018-03-27 08:30] makisp commented on #2496
Thanks, i'll try it!

[2018-03-27 08:38] FengXuas opened #2498 "How to create MPD files"
##### Environment

- [X] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occ

[2018-03-27 08:42] epiclabsDASH commented on #2498
@FengXuas, we would need you to share more information about your problem. Could you please share browser logs after reproducing the issue?

[2018-03-27 09:11] epiclabsDASH commented on #2497
@jiuyuetianjiuyuetian original message:

[2018-03-27 09:21] FengXuas commented on #2498
Thank you for your replay. I submit 4 pictures which show the video stopped in Figure 4.
I also submit three files, including MPD file, Browser log,FFMPEG code. If you have any requirements,you can contact me, thank you!
[Brose log.txt](https://github.com/Dash-Industry-Forum/dash.js/files/1851290/Brose.log.txt)
[FFMPEG_Create_dash.txt](https://github.com/Dash-Industry-Forum/dash.js/files/1851291/F

[2018-03-27 09:35] #2496 closed

[2018-03-27 11:07] #2497 closed

[2018-03-27 11:19] sandersaares commented on #2486
I hear this may be a Windows defect: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/14593018/

[2018-03-27 15:47] fvalleeHbbTV commented on #1361
FYI I'm interested in #period support !

[2018-03-28 03:05] NyuuuuOrz commented on #2486
@sandersaares Thanks a lot, I also think it may be the reason but it need to be fully proved.

Someone mentioned that the problem may caused by the mixture of encrypted and unencrypted fragments, but after I change my media streams to fully encrypted, the problem still occur.

I noticed that the last reply (on Mar 15, 2018) of the issue https://developer.microsoft.com/en-us/microsoft-edge/platform

[2018-03-28 06:24] sandersaares commented on #2486
I am told that latest Insider Preview of Windows should already have this fixed.

[2018-03-28 15:20] niteeshbhat opened #2500 "Unable to play xlink period - static MPD"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-03-28 15:47] bbcrddave commented on #2500
Dashjs doesn't (currently) support actuate onRequest so the xlink href returned (that provides the second period) in the first remote entity is never resolved.

I presume this is because it isn't really clear when the resolution should occur - I note the IOP simply states it should be done "sufficiently early".

[2018-03-28 16:28] waqarz commented on #2500
In DASH section 5.5.2

@xlink:actuate | Defines the desired timing of dereferencing a remote element entity   from within a MPD as defined in W3C XLINK. The following attribute values are   allowed in this part of ISO/IEC 23009:   3)   onLoad:   an application should dereference the remote element entity immediately on   loading the MPD.   4)   onRequest (default): according to W3C Xlink, an appli

[2018-03-28 16:30] Gontran-Molotov opened #2501 "Race condition between TimeSyncController/ManifestUpdater"
##### Observed behavior

When playing a live stream, a race condition may occur between TimeSyncController and ManifestUpdater. Every time a new manifest is downloaded, TimeSyncController sends a request to the time servers. Simultaneouly, ManifestUpdater starts a timer with the value of `minimumUpdatePeriod` as delay. This timer will call onRefreshTimer() to download the next manifest, _only_ if

[2018-03-28 22:17] subhranshudas commented on #2478
Had found about
[code]

[2018-03-29 00:16] subhranshudas commented on #2478
@bbcrddave @bbert @nicosang @sandersaares any inputs as in why the above code is never called in place and what happened to providing customData to the challenge w.r.t.
[https://github.com/Dash-Industry-Forum/dash.js/issues/1944](url)
[https://github.com/Dash-Industry-Forum/dash.js/issues/876](url)

[2018-03-29 00:24] subhranshudas commented on #876
@greg80303 can you please point me to the code in dash.js which does this. I am facing a similar issue and tried lot of things, but i get 500 probably because i am trying to insert inside the challenge after it has been generated.[https://github.com/Dash-Industry-Forum/dash.js/issues/2478](url)

[2018-03-29 02:59] subhranshudas commented on #2478
As per [https://docs.microsoft.com/en-us/previous-versions/windows/apps/dn457361%28v%3dieb.10%29](url) passing cdmData should take care of creating the <CustomData> but based on the below comments on in the dash.js source code  (Protection.js)-

[code]

seems like the 3 params createSession() is called on ly if its IE11, Windows 8.1 so what about IE Edge, Windows 10 & IE 11, Windows 10

[2018-03-29 05:09] aleian84 commented on #1944
@subhranshudas not here in dashjs but I was able to use custom data for hasplayerjs using smooth streaming on Edge browser. The solution was to install my application (website) on the environment enabled to get the license from my license server, because the request for the license must start from an enabled environment. From the browser you can check the environment enabled debugging the website

[2018-03-29 07:41] bbert commented on #876
Custom data insertion is already supported in dash.js.
But as far as I know custom data are supported only by MS-prefixed PlayReady CDM, that can be used through ProtectionModel_3Feb2014.
MS-prefixed PlayReady CDM is available on IE11 and Edge, but on Edge since both EME versions (3Feb2014 and 21Jan2015) are available, the ProtectionModel_21Jan2015 is used by default.
However, at application level

[2018-03-29 07:42] bbert commented on #2478
Custom data insertion is already supported in dash.js.
But as far as I know custom data are supported only by MS-prefixed PlayReady CDM, that can be used through ProtectionModel_3Feb2014.
MS-prefixed PlayReady CDM is available on IE11 and Edge, but on Edge since both EME versions (3Feb2014 and 21Jan2015) are available, the ProtectionModel_21Jan2015 is used by default.
However, at application level

[2018-03-29 13:50] luna2216 opened #2502 "Change sound track error when playing Axinom test vector on Edge."
##### Environment

- [ ] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-03-29 16:15] subhranshudas commented on #2478
Hi @bbert thanks a lot for the reply. I tried  doing
[code]
before player is created. But i still get the 21st Jan Model!!!

Trying out more before i post the current update.

[2018-03-29 17:18] chakrikodali commented on #1839
@djmaxisauce @Josniii I believe dash.js provides interface for keysystems to solve exact usecase. So that users can generate request and response based on license server requirements. I didnt use it yet. will be doing it in a week or so.

[2018-03-30 01:25] subhranshudas commented on #2478
@bbert
Following is what i found---

After using the below hack as suggested, for **IE Edge on Windows 10** ( _for_ IE 11 on Windows 10 it picks up the `ProtectionModel_3Feb2014`),
[code]
in the client layer,
the below scenarios happen-

[code]

So to test the playback i tried 2 things --

1. Explicitly return the `ProtectionModel_3Feb2014`, after which i got the playback.
2. Change the order of t

[2018-03-30 02:39] NyuuuuOrz commented on #2486
It seems that the Windows Insider Preview is only available for their program members. I am trying to apply and I will test the content as soon as I download it.

[2018-03-30 09:28] #2495 closed

[2018-03-30 09:39] #2489 closed

[2018-03-30 10:32] epiclabsDASH commented on #2498
@FengXuas, dash.js is not compatible with that mpd (SegmentList and indexRange per segment). Try with this slightly modified version:

`ffmpeg -i input.mp4  -codec copy -f dash -min_seg_duration 30 -use_template 1 -use_timeline 1 -init_seg_name '$RepresentationID$-init.m4s' -media_seg_name '$RepresentationID$-$Time$.m4s' output.mpd
`

[2018-03-31 06:02] aadvarm opened #2506 "Questions on addABRCustomRule() function"
Im trying to customize ABR rules, but im very new to JS.

In the prebuilt example dash-if-reference client, clicking the use custom abr toggle invokes

toggleUseCustomABRRules function in the app/main.js,  which seems to call
player.addABRCustomRules function 2 times , ( DownloadRatioRule, ThroughputRule)

Q1. The function description says the rule will be applied on the next stream, does it mean

[2018-04-01 20:58] subhranshudas opened #2507 "Option to customize license request message for Widevine"
Hi All,
Looking for the option in dash.js to customize the license request message as per own Widevine license server contract before the xhr.send()
Do we have any such option/interface in dash.js without modifying the dash.js source code.

Something similar to CDM Data for Playready license [https://github.com/Dash-Industry-Forum/dash.js/issues/2478](url)

For now the license request in modified

[2018-04-03 07:22] JPStrydom opened #2508 "Testing DashJS with Enzyme and Jest in React"
I'm trying to write Jest tests for a React component which contains a DashJS media player. I'm using Enzyme's `mount` method to try and test the component, but it seems that the DashJS media player fails to mount properly.

In my `componentDidMount` method, I have the following code:

        this.videoManager = dashjs.MediaPlayer().create();
        this.videoManager.initialize(this.videoPlayer,

[2018-04-03 12:02] #2501 closed

[2018-04-03 13:12] fvalleeHbbTV opened #2511 "DurationMatcher to use moment.js to parse ISO8601 Periods"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-04-04 08:43] epiclabsDASH commented on #2461
Fixed following recommendations of Travis team. There is an issue in Travis when opening FTP connections in sudo-enabled jobs. For some reason our jobs are sudo enabled by default so I disabled this feature explicitly.

[2018-04-04 08:43] #2461 closed

[2018-04-04 08:44] bbcrddave commented on #2511
The problem is that using calendar times (years, months) in durations requires some reference to make sense of these values. Even moment can't make sense of this sort of duration without combining it with a reference as suggested in the PR.

The ISO spec is very clear that months have varying lengths (with a note stating some applications simply regarding a month as thirty days), and a year is sim

[2018-04-04 09:42] nicosang commented on #2508
Hi @JPStrydom ,

as asked on StackOverflow, could you, please, give us the value of videoUrl?

Thanks,
Nico

[2018-04-04 12:31] JPStrydom commented on #2508
In both the tests and live versions of the app I've been using the dashJS test url (`videoUrl="https://dash.akamaized.net/envivio/EnvivioDash3/manifest.mpd"`). The live version works, but the tests fails with the above mentioned error. When debugging the tests, I can see that the url is indeed defined and that the `videoPlayer` is correctly referenced.

[2018-04-04 15:38] JPStrydom commented on #2508
No only once. Upon debugging, it fails the first time it tries to call the `initialize` method. Apparently it has to do with the fact that I'm using JSDOM to render my tests. But I still haven's seen a workaround as of yet,

[2018-04-04 15:55] nicosang commented on #2508
it could be the function supportsMediaSource in Capabilities file that could be the origin of the issue. This function is called in initialize function. If JSDOM window object does not support mediasource, it returns false, and your test will failed.

You can use, like it is done in unit test of streaming.MediaPlayerSpec, a CapabilitiesMock which has to mock all the functions of Capabilities file.

[2018-04-04 16:10] nicosang commented on #2502
@luna2216 and @epiclabsDASH , I reproduced it in Edge. Something was not clear for me....between point 1 and point 2, we have to load again the stream. So steps to reproduce are :

1-push on load button, play with sound track en, then switch to en-ET
2-push on load button again, play with sound track en-AU, then switch to en/en-ET

Now, we have to find origin of the issue.... ;-)

[2018-04-04 19:43] epiclabsDASH commented on #2506
Hi @aadvarm, let me answer your questions:

Q1. It means rules will be applied on next video load. This is, as soon as you attach a new source to the MediaPlayer and playback starts.

Q2. No, there is no API method that returns the list of active ABR rules. Anyway, that should be easy to track. The rules that are active are the ones you added before loading the stream.

There are no more examples

[2018-04-04 21:16] epiclabsDASH commented on #2511
I don't think the calculation done with moment.js is more correct than the simplified one in dash.js. Dash.js is simplifying calculations assuming every month has 30 days and taking as own the note in ISO 8601 spec mentioned by @bbcrddave ("some" apps can take 1 month as 30 days); in your implementation with moment.js you are taking as the reference start time unix epoch which is neither correct (

[2018-04-05 00:24] luna2216 commented on #2502
@nicosang you are right. When I said start play, I meant to push on the load button. Thanks for pointing out.

[2018-04-05 05:14] sandersaares commented on #2511
I agree that there are multiple potentially valid ways to view this, none necessarily more right than the others, leading to conflict. To avoid confusion, IOP should say that units bigger than 1 day (=24 hours) are not to be used. I will file an issue in the IOP tracker for this.

[2018-04-05 07:41] #2511 closed

[2018-04-05 07:50] #2498 closed

[2018-04-05 07:51] #2506 closed

[2018-04-06 10:10] bbcrddave commented on #1630
This wasn't a flattening error, it was a URL resolution error. It was fixed in 2.4 by #1594.

[2018-04-06 10:10] #1630 closed

[2018-04-06 11:50] tecteun opened #2513 "Large video gap on start (~2s) prevents stream from starting"
##### Environment
- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occu

[2018-04-06 11:59] epiclabsDASH commented on #2513
Hi @tecteun. If the issue is related with a gap at the beginning of the stream I guess issue is not related with pruning behavior but with some changes we introduced in 2.6.7 to reduce thresholds when calculating which segment index covers a specific time position. I will do some testing and will get back to you and confirm.

There is a pending change regarding that, so dash.js increases its toler

[2018-04-06 11:59] tecteun commented on #2513
Regarding the pruning algorithm,
According to https://w3c.github.io/media-source/index.html#sourcebuffer-coded-frame-eviction
and following an example here: https://developers.google.com/web/updates/2017/10/quotaexceedederror
pruning should not at all be necessary when appending small enough chunks.

[2018-04-06 12:07] tecteun commented on #2513
Great, if we can set the tolerance for these gaps, that would be a great help!

[2018-04-06 12:07] epiclabsDASH commented on #2513
@tecteun, what do you mean with pruning should not be necessary when appending small enough chunks? In dash.js the fact of appending chunks doesn't affect when pruning is executed (at least a quota exceeded error is raised), pruning is executed at a certain frequency to avoid browser silent pruning mechanism.

[2018-04-06 12:11] tecteun commented on #2513
I say, why not leverage the browser silent pruning.
from the w3c:
sourcebuffer-coded-frame-eviction: This algorithm is run to free up space in this source buffer when new data is appended.
Meaning every time new data is appended, buffer is cleared, depending on the need by the browser.
So the only case where the quotaexceedederror could occur is when using very large chunks.

[2018-04-06 12:24] epiclabsDASH commented on #2513
Yep, that would require much bigger changes than just changing the pruning mechanism. One of the problems of leveraging the browser pruning mechanism is there is not always (never?) an accurate translation between times in browser MediaBuffer and times reported in MPD. Besides other things, this means when browser silently prunes the MediaBuffer we don't have an accurate way to know to which segme

[2018-04-06 16:37] KameshDevarakonda opened #2514 "FR: Download segments from future periods in a static MPD early enough to avoid any buffering at period boundaries"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occu

[2018-04-06 16:50] #2513 closed

[2018-04-06 16:57] epiclabsDASH commented on #1452
Closing issue because lack of activity. Even the sample files are not accessible anymore.

[2018-04-06 16:57] #1452 closed

[2018-04-09 09:02] JPStrydom commented on #2508
Thanks Nico! I'll look into it 👍

[2018-04-09 09:07] nicosang commented on #2508
https://github.com/Dash-Industry-Forum/dash.js/blob/development/test/unit/streaming.MediaPlayerSpec.js
https://github.com/Dash-Industry-Forum/dash.js/blob/development/test/unit/mocks/CapabilitiesMock.js

[2018-04-09 18:20] aj-r opened #2518 "Cannot read property 'startTime' of null"
##### Environment

- [ ] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html - unfortunately it's really hard for me to verify this, since this involves a dynamic MPD on our private network
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] T

[2018-04-09 18:49] aj-r commented on #2518
Here is my MPD file that doesn't work:

[code]

and here's the same MPD about a minute later when it works:

[code]

Throwing these into [DiffChecker](https://www.diffchecker.com/), it looks like the most significant difference is the number of video segments (1 vs. 9).

[2018-04-09 19:18] bbcrddave commented on #2518
I suspect the problem is mainly to do with signalling an availability start time of unix 0. This seems suspicious. If the stream hasn't started, the availabilityStartTime should be in the future. If it did start at unix 0, all segments ever produced should be in the timeline (due to the timeshiftBufferDepth) but they're not.

The player is trying to start some configured multiple of fragment durat

[2018-04-09 20:06] aj-r commented on #2518
Interesting. We were using Unix 0 as a hack to make #t=0 give us the
absolute start of the clip. But now that the #r parameter exists, we no
longer need this hack. I'll try with a proper availabilityStartTime and see
what happens.

On Mon, Apr 9, 2018, 3:18 PM David Evans, <notifications@github.com> wrote:

[2018-04-09 21:11] aj-r commented on #2357
This seems to be fixed when using `#r=0`.

[2018-04-09 21:11] #2357 closed

[2018-04-10 01:09] desmondw opened #2519 "isMediaFinished - no segment found"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-04-10 04:58] sandersaares commented on #2519
According to `SegmentTimeline`, the video tracks in this presentation have 35,2 seconds of data. However, the audio track only has 3.6 seconds of data!

I would say that manifest is malformed, as there is missing audio data to cover the remainder of the 35.2 second duration of the presentation (as indicated by `MPD@mediaPresentationDuration`).

This is not explicitly forbidden by any present spec

[2018-04-10 23:23] #2508 closed, assigned to nobody

[2018-04-11 12:09] #2480 closed

[2018-04-11 12:17] aescarcha commented on #2096
It's easy to do load testing using headless chrome, like:

`chrome --headless  --disable-gpu --remote-debugging-port=9222 http://localhost:3000/samples/getting-started-basic-embed/auto-load-single-video-src.html`

You just need to point it to your video source and spawn as many processes as you want.

What is more complicated is getting the console output or request errors, we'd probably need some

[2018-04-11 17:48] KameshDevarakonda commented on #1708
I was wondering if this feature is being worked on in the near future?

[2018-04-11 21:57] desmondw commented on #2519
As mentioned, the issue was due to there being a partial audio track present.

[2018-04-11 21:57] #2519 closed

[2018-04-12 07:45] jiuyuetianjiuyuetian opened #2521 "Video artifacts after bitrate switch"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [] There are no network errors such as 404s in the browser console when trying to play the stream
- [] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs i

[2018-04-12 09:05] epiclabsDASH commented on #2521
@jiuyuetianjiuyuetian, which browser name/version are you using to reproduce this issue? I never saw this problem with https://dash.akamaized.net/akamai/bbb_30fps/bbb_30fps.mpd

[2018-04-12 09:08] jiuyuetianjiuyuetian opened #2522 "Playback stalling issues with buffer length greater than 0"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [] There are no network errors such as 404s in the browser console when trying to play the stream
- [] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs i

[2018-04-12 09:15] epiclabsDASH commented on #2522
@jiuyuetianjiuyuetian, it is difficult knowing what happens exactly without having more information about the issue (fill in the issue template). Could you please let me know the url of the stream you are using for reproducing this issue, browser name/version and dash.js version?

In case you can't publicly share your stream url, as a first step it would be enough with sharing the mpd content (the

[2018-04-12 09:28] jiuyuetianjiuyuetian commented on #2522
@epiclabsDASH ,stream address is https://dash.akamaized.net/akamai/bbb_30fps/bbb_30fps.mpd。this sttream  is same problem too.our produce stream is inner_nerwork ,MDP file follows:
<?xml version="1.0"?>
<MPD xmlns="urn:mpeg:dash:schema:mpd:2011" minBufferTime="PT1.500S" type="static" mediaPresentationDuration="PT0H23M42.440S" maxSegmentDuration="PT0H0M4.000S" profiles="urn:mpeg:dash:profile:isoff-l

[2018-04-12 09:39] jiuyuetianjiuyuetian commented on #2521
@epiclabsDASH 。dash js version 2.6.6,browser is the latest version Google Chrome

[2018-04-12 10:37] epiclabsDASH commented on #2522
@jiuyuetianjiuyuetian, I am sorry but I can't reproduce that kind of issue here with that sample stream (the Big Buck Bunny one served by Akamai). Could you please let me know if you can reproduce the issue with nightly version of dash.js?

[2018-04-12 12:12] aescarcha commented on #2036
I could not reproduce this issue with the specified commit on a recent Firefox (59) , but a lot of issues popped when using old Firefox 54.

@k-y0u does this still happen to you using a newer firefox version (I tested 57 and it was OK)

[2018-04-12 13:25] epiclabsDASH commented on #1798
Closing Issue.

[2018-04-12 13:25] #1798 closed

[2018-04-12 14:50] padninja opened #2524 "Text is not displayed in Microsoft Edge when seeking to a time that was previously visited"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-04-12 15:39] jakubfrydrych commented on #2522
I have a similar situation. The player will freeze even if the buffer is available for the next minute and a half. All videojs components are updated to the last stable version. Once the player has jammed, these lines appear constantly in the console.

[2205068] getClearRanges for video - Remove buffer out of  2499.002911  -  2599.002911
[2205069] Removing video buffer from: 2599.002911 to 2599.05

[2018-04-12 15:50] epiclabsDASH commented on #2522
@jakubfrydrych, it also happens to you when using the default stream url of dash reference player?

[2018-04-12 17:34] physicsforpoets opened #2525 "Captions being added to DOM multiple times"
##### Environment

- [X] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occ

[2018-04-13 03:58] jiuyuetianjiuyuetian commented on #2522
@epiclabsDASH I use https://dash.akamaized.net/akamai/bbb_30fps/bbb_30fps.mpd   is also  play stop with no reason . A lot of these cases have been encountered recently。
![a2715cfe5fd301d024799eb932ed547](https://user-images.githubusercontent.com/15061030/38716161-de7ccb94-3f11-11e8-95df-02a714ae46c6.png)

[2018-04-13 04:04] jiuyuetianjiuyuetian commented on #2521
Windows，dash js   service is deployed on a virtual machine.
We haven't tried other versions

[2018-04-13 10:05] jiuyuetianjiuyuetian commented on #2522
follows is log when stop,every times log is similar：
 [317983] ScheduleController - video - getNextFragment
core\Debug.js:127 [317984] Getting the request for video time : 324
core\Debug.js:127 [317985] Index for video time 324 is 80
core\Debug.js:127 [317986] SegmentTemplate: 320 / 634.566
core\Debug.js:127 [317987] Getting the next request at index: 81
core\Debug.js:127 [317988] SegmentTemplate:

[2018-04-13 10:18] bbcrddave commented on #2521
Do you see the same result in a non-virtual environment?

[2018-04-13 10:19] bbcrddave commented on #2522
Is this running in a virtual environment as described in #2521? If so, related issue: https://github.com/Dash-Industry-Forum/dash.js/issues/1620

[2018-04-13 10:44] jiuyuetianjiuyuetian commented on #2522
@bbcrddave  yes.But the problem remains unsolved

[2018-04-13 10:48] bbcrddave commented on #2522
Do you see the same result in a non-virtual environment?

[2018-04-13 10:58] jiuyuetianjiuyuetian commented on #2521
@bbcrddave We have not yet tried the environment other than the virtual machine。Next working day I test

[2018-04-13 19:10] padninja commented on #2524
The fix for #2527 only seems to work if you seek back to a point that was not yet visited. When I seek back to a point that was already requested the text is not displayed. If you delete all cues for a track I would think that you would need to delete the corresponding executed fragment requests as well.

[2018-04-13 22:26] ashishchopra778 opened #2528 "How to get the current resolution(width*height) being played and not the index?"
I want to get the resolution (width*height) of the current segment being played. DASH metrics provides the method to get current index and bitrate. I tried using var bitrates = player.getBitrateInfoListFor("video") but to no avail.

Does any such method exist? Any leads shall be highly appreciated.

Thanks in advance.

[2018-04-16 02:13] jiuyuetianjiuyuetian commented on #2522
@bbcrddave ，This problem still exists in the windows environment，
![cd2f81f3274cc14f2b38660728a302e](https://user-images.githubusercontent.com/15061030/38787128-d281d3f8-415e-11e8-8f0b-38bdccbd158d.png)

[2018-04-16 02:27] jiuyuetianjiuyuetian commented on #2522
@bbcrddave
The logs are almost the same before  media stop.
[953062] ScheduleController - audio - getNextFragment - request is https://dash.akamaized.net/akamai/bbb_30fps/bbb_a64k/bbb_a64k_114.m4a
streaming\controllers\SourceBufferController.js:280 --[SourceBufferController.append ]--,append bufffer: MediaSegment 0 113
core\Debug.js:127 [953093] Buffered Range for type: audio : 389.034666  -  457.

[2018-04-16 07:26] bbcrddave commented on #2528
That's odd: `getBitrateInfoList` returns a `BitrateInfo` object which has `width` and `height` fields, so you should be able to match the current playing index with a result from that list. This works great with e.g. https://dash.akamaized.net/akamai/bbb_30fps/bbb_30fps.mpd.

Are those fields not populated for your stream?

[code]

[2018-04-16 08:40] jakubfrydrych commented on #2522
@epiclabsDASH Hi, I have solved the problem by disabling ABRStrategy reconfiguration. Where we used the 'abrBola' direct setting. When I searched for information, I came across the abrDynamic strategy. Is there an automatic combination of the Bola Algorithm ? So there is no need to define abrBola directly? Thx

[2018-04-16 08:51] epiclabsDASH commented on #2522
Yes, that is what abrDynamic is doing (abrDynamic is the ABR strategy used by default). What abrDynamic does is using throughtput strategy when buffer level is below a limit, otherwise it uses bola strategy.

To be more specific, with abrDynamic, dash.js will start using throughput strategy until buffer length is equal or higher to stable buffer time (see MediaPlayer.setStableBufferTime), at which

[2018-04-16 08:51] jiuyuetianjiuyuetian commented on #2522
@jakubfrydrych ,Instead of using the strategy of dash JS, I use a strategy written by myself to get the switchRequest.

[2018-04-16 08:52] epiclabsDASH commented on #2522
@jiuyuetianjiuyuetian, and using dash.js without any modification, do you reproduce the same issues you are describing here?

[2018-04-16 08:58] jiuyuetianjiuyuetian commented on #2522
@epiclabsDASH The native dash JS didn't notice before, because the video playback was changed to circular play recently，so it was found that there was a problem with this playback.I just add a strategy to get a quality，

[2018-04-16 15:11] nicosang commented on #2525
Hi @physicsforpoets ,

I can't access your stream, so it's difficult to investigate....

Nico

[2018-04-16 15:15] physicsforpoets commented on #2525
I'm able to load the manifest in the reference player when accessing the reference player via https and using the Playready license - is this what you attempted (as I commented, video playback isn't working for me because I'm in Chrome and it's Playready, but the metadata loads for me and you can scrub and see the caption issues)

[2018-04-16 15:27] bbcrddave commented on #2525
Here in the UK I get a 403 when attempting to retrieve the manifest ...

[2018-04-16 15:39] Wayne-Morgan opened #2529 "Support for stream with multiple subtitle types"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-04-16 15:44] physicsforpoets commented on #2525
Ah, that would explain it, we geoblock content

[2018-04-16 19:45] epiclabsDASH commented on #2463
@dsparacio, any feedback about #2515?

[2018-04-16 19:48] epiclabsDASH commented on #2486
@NyuuuuOrz, any extra feedback regarding this? I prefer to keep this open until you confirm you can't reproduce your issue in the latest publicly available Insider Preview of Windows, as @sandersaares pointed out.

[2018-04-17 07:30] aescarcha commented on #2524
@padninja Updated in 46d6f2acec6c2369ba5f63de284233d97fcf84ab

[2018-04-17 07:56] aescarcha commented on #2525
@physicsforpoets could you unblock that content, or give us a list of locations where it works so we can use a proxy?

[2018-04-17 09:05] aescarcha commented on #2434
I can reproduce this in latest version using any mpd.

[2018-04-17 14:34] physicsforpoets commented on #2525
@aescarcha I'm working on getting unprotected content, but removing geoblocking will be an issue - I'm trying to find another Dash manifest with TTML captioning to replicate the issue, it shouldn't be specific to our content - let me see what I can figure out today, apologies

[2018-04-18 03:50] jiuyuetianjiuyuetian commented on #2521
The latest try result，If the bitraterate is not frequently changed, video playback will not pause and blurred screen, but if frequent switching rate is, there is a problem of blurred screen and pause.

[2018-04-18 04:03] jiuyuetianjiuyuetian commented on #2521
Add a message to last one,frequent switching rate, Refers to ，for example  bitrate index  0 switch  index 3, or  index 1 switch  4,this case

[2018-04-18 12:13] #2434 closed

[2018-04-18 14:17] Gontran-Molotov opened #2533 "Setting new value for SourceBuffer.timestampOffset may throw errors"
##### Environment
* Dash.js version: 2.6.7
* Browser name/version: Chromecast v2

##### Steps to reproduce
1. play a video
2. attach a new video while the first one is playing

##### Observed behaviour
On video switching, the following error may occur:

[code]

The JavaScript call stack shows that this error occurs when setting a new value for `SourceBuffer.timestampOffset` in `BufferController.up

[2018-04-18 19:51] carlanton opened #2534 "Player freeze with large side-loaded TTML (3.3 MB)"
I've an issue with side-loaded TTML for a ~7 hour long video. Shorter videos works fine, so I assume that it's performance related. The TTML file is 3.3 MB :)

##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser

[2018-04-19 03:33] ahfarmer opened #2535 "TypeError: Cannot read property 'removeEventListener' of null"
##### Environment
- [ ] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [ ] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [ ] The issue occu

[2018-04-19 06:40] jiuyuetianjiuyuetian commented on #2521
i add log in ScheduleController file next interface。
    function onBytesAppended(e) {
        if (e.sender.getStreamProcessor() !== streamProcessor) {
            return;
        }

        isFragmentProcessingInProgress = false;
        log('[ScheduleController.onBytesAppended]   startScheduleTimer(0)');
        startScheduleTimer(0);
    }
the last log when pause ：
56234536] ScheduleController

[2018-04-19 06:47] jiuyuetianjiuyuetian commented on #2521
If buff is too long, it is suspended？The reason for pause should start from another aspect, that is, why not consume buff data.

[2018-04-19 06:57] jiuyuetianjiuyuetian commented on #2521
Buff is too long to cause a pause to download,，The reason for pause should start from another aspect, that is, why not consume buff data.

[2018-04-19 14:52] Gontran-Molotov commented on #2521
I also have the same problem with dash.js v2.6.7 in my app (Electron 1.7.12, Chrome 58.0.3029.110). Seems to occur only with live streams. It does not always happen. Looks random. Here is the result after several seconds of playing. The artifacts come from the top of the video and fill gradually all the picture.

![capture d ecran 2018-04-19 a 16 07 54](https://user-images.githubusercontent.com/25

[2018-04-20 01:30] iameli opened #2537 "How do I disable logging if I'm not directly interacting with the dash MediaPlayer?"
##### Environment
* Dash.js version: 2.6.7
* Browser name/version: any
* OS name/version: Chrome

##### Steps to reproduce
1. Include dashjs on the page or in a Webpack bundle
2. Put a `<video>` tag on the page

##### Observed behaviour
There's a zillion log lines

I know that if I'm directly instantiating a `MediaPlayer` instance I can call `mediaPlayer.getDebug().setLogToBrowserConsole(false)`.

[2018-04-20 05:08] sandersaares commented on #2537
I would look favorably on dash.js emitting less noisy log output in general. Even when I care about dash.js logs as I am interacting with the player or debugging something, the zillion log entries about buffering states makes it very hard to actually find anything useful.

[2018-04-20 07:48] nicosang commented on #2534
Hi @carlanton ,

there is no ttml subtitles in your dash stream, only vtt....could you, please, provide your dash url stream with ttml side-loaded file?

Thanks,
Nico

[2018-04-20 07:58] Gontran-Molotov commented on #2521
@epiclabsDASH Yes, I will give it a try. According to you, what changes/PR in the nightly version could fix this problem?

[2018-04-20 08:45] carlanton commented on #2534
@nicosang - Sorry about that - the manifest now updated and contains ttml again!

[2018-04-20 09:16] bbcrddave commented on #2534
It's getting stuck in `TTMLParser.parse`, generating ISDs for each of the ~26k events. This is time consuming (takes just under five minutes on my fast desktop!), and memory intensive (TTML consumes around 20MB when processed completely).

The parser was obviously designed to have fragmented segments appended. One option would to defer generation of the ISD until the cue becomes active if this is

[2018-04-20 12:30] nicosang commented on #2529
Hi @Wayne-Morgan ,

could you, please, give me a specific url video stream with TTML+VTT subtitles?

Thanks,
Nico

[2018-04-20 14:12] Wayne-Morgan commented on #2529
Hi @nicosang ,

Unfortunately I'm unable to provide access to the streams I have like this.  Next week I'll try to find an open source stream which can be changed to have both types of subtitles.

Thanks,
Wayne.

[2018-04-22 20:59] epiclabsDASH commented on #2537
@iameli, when dash.js is associated with HTML5 video elements it creates the property `_dashjs_player` on them so you can easily get a reference to each dash.js MediaPlayer instance.

For example, in case you have just one video element in your webpage, you will be able to deactivate logs in this way:

`document.getElementsByTagName("video")[0]._dashjs_player.getDebug().setLogToBrowserConsole(fals

[2018-04-22 21:16] epiclabsDASH commented on #2533
Good catch @Gontran-Molotov. In the same way we have queues of operations for adding or removing buffers from a SourceBuffer, we need also a way to queue timestampOffset update operations. We also need a unified way to manage queued operations related with a SourceBuffer. Currently we have different queues for add buffers and for remove buffers.

[2018-04-23 02:54] Brainiarc7 commented on #1346
Hello @greg80303 the [transcoding script](https://github.com/cablelabs/mse-eme/blob/master/create/transcode/ffmpeg_5bitrates_demux.sh) you linked to no longer exists. Dead link.

[2018-04-23 07:46] bbert commented on #651
Please check PR #2539 that should resolve this issue.

[2018-04-23 08:17] jiuyuetianjiuyuetian commented on #2521
@epiclabsDASH  , Unintentional discovery， I disabled   the Hardware-accelerated video decode of   chrome://flags , The video is not Blurred screen。

[2018-04-23 09:50] angusbell opened #2541 "Support for overlapping IMSC1 Image Profile subtitles"
We are trying to test IMSC1 Image Profile subtitles delivered using DASH. We can make simple test streams that can be played in dash.js correctly, but only if they're limited to one subtitle sample per DASH segment.

Does dash.js support multiple subtitle instances in the same segment, in different display regions, possibly overlapping in time?

So for example, a subtitle in the bottom left from 3

[2018-04-23 10:09] jiuyuetianjiuyuetian commented on #2522
I disabled the Hardware-accelerated video decode of chrome://flags  ,last  problem is not appears。

[2018-04-23 11:27] #2537 closed

[2018-04-23 11:29] epiclabsDASH commented on #2521
@Gontran-Molotov, there are changes related with init segment management that could be behind this. I am not 100% sure about that, but would like to have your feedback given I can't reproduce this issue in my environment.

[2018-04-23 13:22] gibbsonn opened #2542 "Is there a way to be notified of the "Must have @mediaPresentationDuratio on MPD..." error?"
When my encoder stops a stream the 3rd party service which is providing the mpd's will send one which which causes this error to occur in dashjs

https://github.com/Dash-Industry-Forum/dash.js/blob/b4b0a844e12a4dbf337efb5f4b44df95854ae096/src/dash/models/DashManifestModel.js#L733

It looks like the error events in dashjs.MediaPlayer.events don't seem to be called for this error. I've tried listeni

[2018-04-23 13:55] aescarcha commented on #1708
@KameshDevarakonda It's being worked on :)

[2018-04-23 16:45] physicsforpoets commented on #2525
I'm now starting to think that this is not an issue with rendering the tracks, but an issue with the imsc library parsing the TTML -

If there are 2 cues active on screen at any given time, the video element's activeCues array contains two VTTCue objects - each of these VTTCue objects contains an ISD object with a 'contents' array that contains ISDContentElements that represent BOTH cues. When usi

[2018-04-24 04:25] physicsforpoets commented on #2525
I've got an updated manifest where you can see the issue occuring:

```http://dash-vod.showtime.com/test/dash/fataccess101_RyanTest2/mobile_master.mpd```

You can see the full contents of each isd being added to the DOM as many times as the length of isd.contents - you can also see the errant behavior by observing a text track's active cues. Additionally you can see 2 cues enter and exit each time

[2018-04-24 10:46] MarcAntoine-Arnaud opened #2546 "Short display duration of TTML"
Hi,

I'm investigate on TTML rendering and "effects" based on that.
I tray to display a text less than 5 frames, the text is not displayed.

Do you have a limitation on you side for that ? I don't see any minimal duration in TTML standard.

you can test it with a subtitle with a content:
[code]

Thanks for any help,
Marc-Antoine

[2018-04-24 11:39] aescarcha commented on #2525
Hi @physicsforpoets , I can't access that mpd either, I get a 403 Forbidden.

[2018-04-24 11:56] physicsforpoets commented on #2525
@aescarcha it's still going to be geoblocked outside of the US, this is just unencrypted so you won't have to deal with license requests or timeouts

[2018-04-24 12:51] bbcrddave opened #2547 "#2527 exposes other issue causing constant rerequesting of valid TTML segments"
It is totally valid to have a segment containing a valid TTML document which contains nothing to display and this is required in order not to have gaps in the timeline.

Unfortunately, #2527 in conjunction with an existing dubious piece of code (https://github.com/Dash-Industry-Forum/dash.js/blob/development/src/streaming/utils/TTMLParser.js#L156) causes the player to continually re-request and di

[2018-04-24 13:04] nigelmegitt commented on #2525
It's probably worth remembering that since the VTTCue is being used by dash.js for timing and as a data carrier for the ISD, it's fine for all the displayed contents of each ISD to be in a single ISD, even if that covers multiple regions. Shaka adopts a completely different approach, effectively transcoding the TTML into VTT and potentially dropping some important information along the way (I can'

[2018-04-24 13:56] bbcrddave commented on #2546
Which browsers have you tried this in? It appears to work great in Firefox, which leads me to believe it may be an implementation-specific issue with TextTrackCues which we use to schedule display.

BTW, I assume you have stripped down the example above but, as it stands, it isn't valid TTML.

[2018-04-24 15:49] physicsforpoets commented on #2525
@nigelmegitt opening up the geoblocking is out of my control, apologies.

I understand Shaka is using a completely different system, I was just checking it as a comparison as it's our current player.

Visually by default, there is no visible issue because the contents of the 2nd VTTCue are visually rendered outside of the player container (do an inspect element on the 2nd <div> inside of the capti

[2018-04-24 15:53] physicsforpoets commented on #2525
Here is the DOM while 2 cues are active at the same time - note the 2 cues are present twice:

[code]

[2018-04-24 15:55] #2547 closed

[2018-04-24 15:58] physicsforpoets commented on #2525
Here is the output of textTracks[0].activeCues while there are 2 cues visible at once - notice there are 2 sets of pop1's and pop2's with the same contents:

[code]

[2018-04-24 16:15] epiclabsDASH commented on #2542
Sorry, @gibbsonn, currently there is no error event that is triggered when that issue happens. I will review this to see which other events we could trigger when exceptions are raised in DashManifestModel.

[2018-04-24 16:25] epiclabsDASH commented on #2518
@aj-r, just curious. How was your test after modifying availabilityStartTime?

[2018-04-24 16:30] nigelmegitt commented on #2525
Thanks @bbcrddave - that answers my https://github.com/Dash-Industry-Forum/dash.js/issues/2525#issuecomment-383922638 earlier.

[2018-04-24 16:33] #2528 closed

[2018-04-24 16:33] nigelmegitt commented on #2541
Yes, this is possible in IMSC. Just put them both in the same document, targeted at different regions. For example something a bit like:

[code]

(assuming you've created your `region` elements appropriately in `/tt/head/layout`)

If you want them separately in two different subtitle streams each independently viewable/hideable, that's another question that I can't answer easily.

[2018-04-24 16:37] #2471 closed

[2018-04-24 16:43] epiclabsDASH commented on #2408
Closing because lack of feedback. @rabi2017, please, feel free to re-open it in case you have more information to share.

[2018-04-24 16:43] #2408 closed

[2018-04-24 16:56] epiclabsDASH commented on #1886
@mar02500, as you pointed out you have to set same value for both keyint and min-keyint. Otherwise you can't guarantee keyframe alignment across all renditions.

[2018-04-24 16:56] #1886 closed

[2018-04-24 17:08] epiclabsDASH commented on #1841
I did many tests in both Chrome & Firefox using multiky and single key DRM streams from Axinom and everything worked fine. The PR #2450 fixes some issues related with multi key support.

Closing this one. @blacktrash, @NatalyMagluy, please, feel free to reopen this issue in case you can reproduce any of the issues described here.

[2018-04-24 17:08] #1841 closed

[2018-04-24 17:11] #1806 closed

[2018-04-24 17:12] epiclabsDASH commented on #1800
Closing this issue. @arnaud-soulard, please, feel free to reopen it in case you can reproduce the issue on latest version of dash.js.

[2018-04-24 17:12] #1800 closed

[2018-04-24 17:16] epiclabsDASH commented on #1787
@blacktrash, I can't reproduce this issue in latest version of dash.js. Could you please confirm? Thanks!

[2018-04-24 20:02] epiclabsDASH commented on #1625
Closing issue. enableBufferOccupancyABR method doesn't exist since a few versions ago.

[2018-04-24 20:02] #1625 closed

[2018-04-24 20:08] epiclabsDASH commented on #1624
Related with #2503 and/or #2457. We detected a couple of race conditions, which are already fixed, related with this.

[2018-04-24 20:08] #1624 closed

[2018-04-24 20:12] epiclabsDASH commented on #1599
Closing issue. Persistent licenses are supported in dash.js thanks to PR #2451.

[2018-04-24 20:12] #1599 closed

[2018-04-24 20:15] epiclabsDASH commented on #1493
Closing issue. It is quite old and there is not enough information to even try to reproduce it in current dash.js version.

[2018-04-24 20:15] #1493 closed

[2018-04-24 23:21] wilaw opened #2550 "Manifest parser as an external module"
[posting on behalf of Shachar at Peer5]

As part of our progress in supporting DASH, we have found the need to upgrade our DASH manifest parser.Instead of upgrading and maintaining our own parser, we'd like to use dash.js's

We tried doing that, and indeed using just the DashParser.js module is easy and returns a valid JS object that we can work with, but unfortunately it is not enough for us, as

[2018-04-25 02:50] jiuyuetianjiuyuetian commented on #2522
@epiclabsDASH ，I have checked your question before, and there is nothing wrong with it.
When the video  palyback   stop  with buff has enough data, chrome:// medi-internals displays the Web  is  play state instead of pause .

[2018-04-25 09:35] blacktrash commented on #1787
@epiclabsDASH - I can't really either (although I managed to get a screenful of artifacts once - that is in latest Safari 11.1), as atm I can't access older Safari etc. Let's close it.
Thanks.

[2018-04-25 09:35] #1787 closed

[2018-04-25 09:59] bbcrddave commented on #2550
Closely related to https://github.com/Dash-Industry-Forum/dash.js/issues/1428.

[2018-04-25 12:48] jakubfrydrych opened #2551 "ScheduleController 'start denied'"
Hi,
I'm trying to play an extra short video, 0.1 seconds duration.
Player does not work and ScheduleController returns logging 'start denied'.
Player end event will not be triggered.

I tried this on the demo page https://videojs.github.io/videojs-contrib-dash/

**Output from console:**
[219] [ScheduleController][ video ] stop
[221] [ScheduleController] Stream is complete
[404] Got enough buffer t

[2018-04-25 13:09] epiclabsDASH commented on #2551
Hi @jakubfrydrych, that issue is not reproducible in latest version of dash.js although I got another one. Independently of implementing a fix, is this a real use case? Videos of 0.1 seconds doesn't seem "usable".

[2018-04-25 15:35] jakubfrydrych commented on #2551
Hi @epiclabsDASH,
how do you think it is not reproducible? I tried it on version 2.6.7 and the result seems the same.

The usecase is such that a number of preroll ads are played, and when the player event ends, player reinitializes with another set of preroll ads. A video with a length of 0.1sec serves to complete full playback, including sending all events.

[2018-04-26 09:39] epiclabsDASH opened #2556 "[MSS] Playing MSS streams doesn't work in dash.js nightly version (v2.6.8)"
##### Observed behaviour
Dash.js nightly version is not able to play Microsoft Smooth Streaming streams. It worked fine in v2.6.7. We need to take a deeper look but seems like the scheduler doesn't start scheduling segments.

We are prioritising the resolution of this issue so it can be included in the release planned for next week.

##### Console output
[code]

[2018-04-26 15:41] mwexpway commented on #651
I tried the proposed correction #2539 but it is not sufficient to resolve the issue about missing segment. Additionnaly to clearing the URL blacklist as in #2539, I also commented the line which add the URL to blacklist :
[code]

[2018-04-26 15:58] bbert commented on #2556
PR #2557 does not resolve completely the issue.
Sometimes MSS streams still do not start, and seeking never works.
It appears that the issue has been introduced after PR #2427.

[2018-04-26 16:11] nicosang commented on #2556
the problem can also happened on dash content like http://demo.unified-streaming.com/video/ateam/ateam.ism/ateam.mpd when a seek command occurs.

[2018-04-26 16:33] epiclabsDASH commented on #2556
Thanks for the comments. @bbert, @nicosang, are you using any specific browser to reproduce the issue? I am trying mss with multiple seekings and can't reproduce the problem. Same for the stream provided by @nicosang. Do I need to follow ay specific sequence of steps to reproduce the issue'

[2018-04-26 16:41] epiclabsDASH commented on #2556
Finally I could reproduce the issue. Taking a look...

[2018-04-27 08:39] angusbell commented on #2541
Thanks for your help. I've managed to get this working now, although in my media the PNG data is embedded in the `mdat ` box rather than being referenced as a separate file. (I did it this way because that's how the sample IMSC Image Profile subtitles were formatted, when I first looked at this.)

[2018-04-27 08:48] #2556 closed

[2018-04-27 08:49] #2541 closed

[2018-05-02 09:46] ChrisMash commented on #651
I'm seeing this issue on a live stream that's been paused for a while (dash 2.6.6)

[2018-05-02 10:16] ChrisMash opened #2559 "Live stream paused until buffer runs out doesn't resume smoothly"
##### Environment
- [] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs

[2018-05-02 12:15] qchroman opened #2560 "Persistent licenses in 2.6.8"
Hello all,

Do I understand correctly that out of the box the player can now handle persistent licenses issued for Widevine DRM protected content and the way it works is you setup the player, you pass the persistent-license as a sessionType and you deliver a persistent license. Then, if you don't refresh the tab, don't closer the browser, but simply do attachSource to load another stream, you can

[2018-05-02 17:18] dsparacio opened #2561 "Allow Hidden Text Track Population"
Some players need ability to style captions a specific way.  Use-case: Dash.js parse captions and push to text track while hidden, our player reads and push to caption div for display while leaving native text track hidden. (Not possible to "pluck" from text track to caption div without flickering )

This is currently not possible with Dash.js because we use text track mode "hIdden" as a state for

[2018-05-02 17:25] dsparacio opened #2562 "Ability to suppress manifest captions"
Question/Investigation ticket

CBS has assets with in manifest segmented captions and sidecar targeting an array of devices.  we want a way to tell dash.js to not render one or the other or a way to just suppress the in manifest captions.   I will be looking at the current API and text system to determine if this is possible.

Possible duplication of:
https://github.com/Dash-Industry-Forum/dash.js

[2018-05-04 16:45] GerardoRS26 opened #2564 "Error with VTT subtitles in chrome."
* Dash.js version: 2.6.0
* Browser name/version: Chrome 66.0.3359.139
* OS name/version: MAC OSX

On demo page there is a bug (the subtitles are not displayed) when i try to play the option :
VOD (Static MPD) -> External VTT subtitle file.

And I have the same issue in my web application.

[2018-05-05 21:28] epiclabsDASH commented on #2546
Closing issue because lack of response. @MarcAntoine-Arnaud, please, feel free to re-open it in case you have more information to share.

[2018-05-05 21:28] #2546 closed

[2018-05-05 21:29] #2524 closed

[2018-05-07 12:29] tomraut opened #2565 "Playback freezes to very first frame and can be started only by seeking on the timeline further"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs

[2018-05-07 15:36] bbert commented on #2560
Hello,

First, as you said, in order to obtain persistent license you need to setup the sessionType when requesting the license.

[code]

See for example "Unified Streaming (Widevine, persistent)" source configuration in dash-if-reference-player sample:
https://github.com/Dash-Industry-Forum/dash.js/blob/dd12ef2532ab827764c22314cf6c26b8fc156520/samples/dash-if-reference-player/app/sources.json#L89

[2018-05-07 17:07] sevagsim commented on #2564
Having the same issue here.  Tested our content against the reference player: https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html and the captions don't appear.

[2018-05-08 09:17] Wayne-Morgan commented on #2529
Sorry, been a bit busy to prepare this.  @craigkhan, can you take a look?

[2018-05-08 09:30] Wayne-Morgan commented on #2562
Hi @dsparacio
Are you able to share these assets?  If so then we won't have to prepare assets for #2529  (@craigkhan).

Thanks.

[2018-05-08 10:05] qchroman commented on #2560
Ah, got it, so, it's not out of the box i.e. you can't just reference the dash.js and expect this to work. You need to do some work to make it happen.

Thank you very much for your response!

[2018-05-08 12:31] qchroman commented on #2560
Works like a charm. Thank you @bbert !

[2018-05-08 12:31] #2560 closed

[2018-05-08 15:47] epiclabsDASH commented on #2565
Related with #2513 and the need of using `mp.setSegmentOverlapToleranceTime` when there are small time gaps at the beginning of a stream.

I am working on a PR that makes dash.js more tolerant to this kind of timing issues. I am going to keep this issue open so we can track its progress.

@tomraut, thanks for reporting!

[2018-05-09 15:07] wilaw opened #2567 "Live stream fails playback under MAC/Safari"
- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs in the latest r

[2018-05-14 12:41] aj-r commented on #2518
I haven't seen this issue since modifying the `availabilityStartTime`.

[2018-05-14 12:41] #2518 closed

[2018-05-15 09:37] Sureshyvn opened #2568 "dash 404 error"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occurs in the latest reference client on http://reference.dashif.org/dash.js/ and not just on my page
* Link

[2018-05-15 10:48] bbcrddave commented on #2568
Duplicate of https://github.com/Dash-Industry-Forum/dash.js/issues/651?

[2018-05-16 10:08] epiclabsDASH commented on #2568
@Sureshyvn, I am closing this issue because it is duplicate of #651. You can follow up the progress of smarter handling of missing segments there. Thanks!

[2018-05-16 10:08] #2568 closed

[2018-05-16 12:42] Sureshyvn commented on #651
Dear @mwexpway
function cb_error(e)
{............................................
in this method there is a parameter 'e'
so what is 'e' here that you are passing???

[2018-05-18 01:04] sevagsim opened #2569 "Multiple `en` captions, visible captions seem to show a combination of the two"
Hello all,

I have content that has multiple English captions (webVTT).  One of the captions is full captions and that one doesn't have any `roles` -- the other one has `roles = ['main']`

Since Dash.JS `2.6.6` it seems the functionality we were relying on has broken where enabling one of the `en` captions displays both during playback.  Our expectation was how things behaved in version `2.6.5` wh

[2018-05-18 12:34] nicosang commented on #2569
Hi @sevagsim ,

are you able to give us access to your stream?

thanks,
Nico

[2018-05-18 16:59] epiclabsDASH commented on #2551
@jakubfrydrych, just trying in [dash reference player](http://reference.dashif.org/dash.js/v2.6.7/samples/dash-if-reference-player/index.html). I don't get any issue when testing your stream.

[2018-05-18 17:26] sevagsim commented on #2569
@nicosang Will try to create an unencrypted one, don't have one yet.

[2018-05-18 23:14] sevagsim commented on #2569
@nicosang I don't know if this will help, but playing around with the dash.js source I tried the following:

[code]

And that stops the fusing together of the 2 `en` tracks.  Is dash.js not treating the `roles` as a separate track? I can't seem to find where the fusing of the cues of the multiple `en` tracks is occurring.

[2018-05-19 14:41] Jeunyoung commented on #2364
I want to use addABRCustomRule api, so I write down MediaPlayer.addABRCustomRule, but my webstorm couldn't find addABRCustomRule....

[2018-05-19 20:28] ut0mt8 opened #2574 "Common Encryption / Clear Key Need help for a new implementation"
**EDIT** : it work both with shaka-player and dashjs in firefox. Not in chrome. Did some chrome specialist can take a look ?

**EDIT2** : implementing sub sample it work now both with shaka-player and dashjs in Chrome. Not in Firefox.... need some help.

**EDIT3** :  it seems to work as I corrected saiz ! yupi.

A bit of context first: (and sorry if this not really a dashjs issue, but the target i

[2018-05-21 10:47] aescarcha commented on #2564
XML subs are broken too, tested with [this stream ](https://vm2.dashif.org/dash/vod/testpic_2s/xml_subs.mpd)

[2018-05-21 14:04] aescarcha commented on #2564
@bbcrddave that one worked for me too on Chrome 66, Mac

[2018-05-21 20:23] subhranshudas opened #2577 "DASH.js shows file type is not supported when playing protected MSS stream in Windows 10 Enterprise Edition but works in Windows 10 Pro"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-05-21 20:36] epiclabsDASH commented on #2486
@NyuuuuOrz, sorry to bother. Any news regarding this?

[2018-05-21 20:37] epiclabsDASH commented on #2577
I guess this is duplicated of #2486. It is a reported issue in Windows (https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/14593018/) that should be fixed in the latest Window Preview version.

[2018-05-21 20:37] #2577 closed

[2018-05-21 20:54] bbcrddave commented on #2577
Error message implies Output Protection error (see https://docs.microsoft.com/en-us/windows/uwp/audio-video-camera/playready-client-sdk)

Almost certainly related to https://github.com/Dash-Industry-Forum/dash.js/issues/1742.

[2018-05-22 00:22] videojsAP opened #2578 "Setting different protection models."
General Question:

Hi. There is a requirement for me to set a different protection model in dashjs. Is there any API in dashjs that we could use to set a different protection model like: ProtectionModel_3Feb2014. https://github.com/Dash-Industry-Forum/dash.js/blob/development/src/streaming/protection/models/ProtectionModel_3Feb2014.js

ProtectionModel.js
ProtectionModel_01b.js
ProtectionModel_21Ja

[2018-05-22 02:27] subhranshudas commented on #2577
@bbcrddave can you please refer which error log you are specifically referring to?

[2018-05-22 02:43] subhranshudas commented on #2577
@epiclabsDASH i think in https://github.com/Dash-Industry-Forum/dash.js/issues/2486 @NyuuuuOrz has mentioned

But in my case in works with Windows 10 Pro, but gives the mentioned error in Windows 10 Enterprise

[2018-05-22 07:11] bbcrddave commented on #2577
From the logs:

`[172432] Video Element Error: MEDIA_ERR_SRC_NOT_SUPPORTED (0xC0262500)`

From the linked document, that error code maps to:

Error | Value | Description
-- | -- | --
ERROR_GRAPHICS_OPM_NOT_SUPPORTED | 0xc0262500 | The graphics driver does not support Output Protection. For example, the monitor is connected through VGA or an appropriate graphics driver for the digital output is not

[2018-05-22 08:58] nicosang commented on #2564
Hi,

if in TextTracks, isChrome is set to false, webVTT subtitles are correctly shown. Something in the way the textTrack is currently created makes a reset of the added cues. The question is do we still need to differenciate textTrack creation between Chrome and other browsers?

Nico

[2018-05-22 11:37] epiclabsDASH commented on #2578
@videojsAP, I am sorry but in dash.js there is no way to change the Protection Model. It is automatically figured it out by dash.js taking a look at which EME APIs are available.

The most you can do, although quite, quite hacky, is modifying video element properties checked by dash.js so you force it to take the decision you want it to take. Knowing that dash.js code to select ProtectionModel is

[2018-05-22 19:53] ut0mt8 commented on #2574
@joeyparrish and @epiclabsDASH I really need your help. Do you have other test tool to validate my work ?

[2018-05-23 01:54] subhranshudas commented on #1742
@pjdicke were you able to put something together on top of dash.js to deal with this.

@bbcrddave is it part of the dash.js backlog and can we be hopeful with a timeline..

[2018-05-23 01:59] subhranshudas commented on #2577
@bbcrddave thanks for the links. Few follow up questions on this -
1) Even if the display device on which the protected content is being tried to play supports HDCP, dash.js will, as of currently, give the same error code?
2) As for,

I tried with other Windows 10 Enterprise machine, it works, the display driver is certainly different.
But i suspect its more of the Output Protection thing. So if t

[2018-05-23 10:53] ticklemycode commented on #1742
@subhranshudas I was able to used dash.js library implement a solution. I'll share what I was able to do later.

[2018-05-23 16:48] konnextv opened #2585 ""Naked" Reference Player without Frameworks"
First of all! Thanks for sharing this awesome piece of code, I am really digging all the opportunities MPEG DASH offers.

I am looking for a version of the reference player without angular etc.
- I already tried removing everything except the player but even with intensive debugging I couldn't find a way to get the player to load without the button in the Example page.

I also looked at the other

[2018-05-23 19:33] epiclabsDASH commented on #2585
@konnextv, Dash.js was designed as a tool for debugging dash.js and MPEG-DASH streams. It was created using AngularJS because that made things easier (variables/document sync) although, as you know, dash.js itself doesn't have any dependency on AngularJS.

If you want to build the reference player from scratch without AngularJS it will take some time although it is totally possible. In case you wo

[2018-05-23 19:33] #2578 closed

[2018-05-23 19:33] epiclabsDASH commented on #2574
@ut0mt8, sorry for the late response. Let me take a look an I will get back to you.

[2018-05-23 19:34] #2564 closed

[2018-05-23 19:36] epiclabsDASH commented on #2561
Done by @dsparacio in #2573

[2018-05-23 19:36] #2561 closed

[2018-05-23 20:14] #2535 closed

[2018-05-23 20:15] #2585 closed

[2018-05-23 21:27] konnextv commented on #2585
@wilaw Thanks for the suggestion. While we are at it, I would suggest you remove the history when replying via e-mail ;)

I already looked at the other examples and it bugged me that the control bars don't work properly in fullscreen in Chrome. Didn't find a way to solve that. Can you maybe try yourself and confirm this?
This could be an issue for everyone.

[2018-05-23 21:34] ut0mt8 commented on #2574
No problem. It is also discuss in shaka-player github https://github.com/google/shaka-player/issues/1444. Sorry for the cross post but this a generic help request and I don't there is a dedicate place to talk about common encryption ?

[2018-05-23 21:53] wilaw opened #2587 "controlbar UI not scaling correctly in samples"
The controlbar UI in these examples

http://reference.dashif.org/dash.js/v2.6.8/samples/thumbnails/thumbnails.html
http://reference.dashif.org/dash.js/v2.6.8/samples/captioning/multi-track-captions.html
http://reference.dashif.org/dash.js/v2.6.8/samples/captioning/ttml-ebutt-sample.html

does not scale correctly in either direct embed mode or fullscreen.  The progress bar has insufficient width an

[2018-05-24 04:30] subhranshudas commented on #1742
@ticklemycode so you have a solution on top of dash.js??
A PR for dash.js ?? or something else...

[2018-05-24 07:32] aescarcha commented on #2463
@jeoliva should we close this issue?

[2018-05-24 14:17] ticklemycode commented on #1742
No PR, just using the what dash.js API provides to make it automatic for us.

Overall we found that listening to the `onKeyStatusesChange` looking for `output-restricted` property then switching to the highest SD bitrate available worked. I think the assumption we had to make was that `output-restricted : true` meant that HDCP policy was active. It's been a little over a year since I worked on tha

[2018-05-24 15:34] robertbryer opened #2588 "Bad downloading behaviour on Safari 11.1 after seek"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-05-25 01:41] NyuuuuOrz opened #2589 "Playback freezed after a seek operation while playing live stream(10s DVRWindow) on LG Smart TV"
Hello,
Recently I am using the dash.js player to test some dash-format sources on _**LG Smart TV**_ platform. Our LG Smart TV runs webOS 3.6 operation system and it has its own browser. According to the introduction of webOS SDK, its browser support the _‘**Media Source Extensions Editor's Draft 10 December 2013**’_ so I integrate dash.js into an webOS APP to test some dash-format sources.
After s

[2018-05-25 08:32] foliovision opened #2591 "Are there new streaming bugs since Dash.js v2.3.0?"
##### Environment

- [unfortunately the tool is broken] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.

[2018-05-25 08:41] foliovision commented on #2591
The last Dash.js version version here it doesn't fail is 2.4.1.

[2018-05-25 08:48] bbcrddave commented on #2591
Looks like a duplicate of https://github.com/Dash-Industry-Forum/dash.js/issues/1945

[2018-05-25 09:49] foliovision commented on #2591
In that ticket it says:

Here's what's in:

[code]

So indeed, the `id` attributes are repeated in the `<Period>`.

I fixed that and now it works, thank you!

Martin

[2018-05-25 09:49] #2591 closed

[2018-05-25 09:57] #2567 closed

[2018-05-25 13:32] daemon1981 opened #2593 "Player is blocked at the end of the Multi-Resolution Multi-Rate video"
##### Description
It happens that the player is blocked at the end of the video when user has seeked. It happens about 1 out of 3 tries.
It seems to happen when resolution/rate changes during the seek.

##### Environment
Bug can be reproduced on [DashJS Reference Client 2.6.8](http://reference.dashif.org/dash.js/v2.6.8/samples/dash-if-reference-player/index.html) with Multi-Resolution Multi-Rate v

[2018-05-25 20:26] videojsAP opened #2594 "PlayReady Streams for MSS works on IE and Not on Edge"
I'm using dashjs (2.6.8) for playing Playready content on MSS. The content is playing on IE but not playing on Microsoft edge. I have made slight modifications for dashjs code to pick feb 2014 model for edge and the playback worked on Microsoft edge. I would like to know if there is a way to pickup protection model Feb 2014 for Microsoft edge without making any changes to dashjs code. The reason w

[2018-05-28 12:13] aescarcha commented on #2588
I can reproduce this since 2.6.7

[2018-05-28 15:13] ut0mt8 commented on #2574
@epiclabsDASH can you take a look. Interop between browser is a nightmare...

[2018-05-30 04:55] sevagsim commented on #2569
Hi @nicosang - I will close this issue for now and reopen when I have better repro steps.

[2018-05-30 04:55] #2569 closed

[2018-05-30 07:37] epiclabsDASH commented on #2550
@shacharz, I am fully ok with this feature suggestion, that will be useful for many tools/projects related with MPEG-DASH streams (myself needed something like this many times when building monitoring tools for MPEG-DASH streams, for example).

Given said this, we are planning some important refactor changes for dash.js 3.0. Many of them are related with the way segments are retrieved from the man

[2018-05-30 11:22] yogevNisim opened #2596 "Add zoom option"
I would like to have an option to make a zoom on the video. The idea is to do it on the client side.

[2018-05-30 11:24] yogevNisim opened #2597 "Add frame by frame play option"
Allow user to play a video in a frame by frame speed

[2018-05-30 12:05] epiclabsDASH commented on #2597
I am sorry but Media Source Extensions (browser API used by dash.js to decode and render video) doesn't offer methods to control video at a frame level.

The most similar thing you can do is to reduce playbackrate ([mediaPlayer.setPlaybackRate()](http://cdn.dashjs.org/latest/jsdoc/module-MediaPlayer.html#setPlaybackRate__anchor)) to slow down playback speed.

[2018-05-30 12:05] #2597 closed

[2018-05-30 12:13] epiclabsDASH commented on #2596
@yogevNisim, I don't think dash.js should offer this kind of feature itself. Dash.js is the playback engine, and any UI effect should be implemented using the "tools" of the browser thought for that purpose. For example, CSS or CSS transformations.

As a reference, take a look at this example (found it in Google doing a quick search, didn't test it myself): https://hacks.mozilla.org/2011/01/zoomin

[2018-05-30 12:13] #2596 closed

[2018-05-30 15:14] epiclabsDASH opened #2599 "Subtitles position is wrong in Ref Player when going to Fullscreen"
##### Environment

- [X] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occ

[2018-05-30 15:15] #2587 closed

[2018-05-30 15:16] wilaw opened #2600 "Low latency catch-up feature using playback rate"
When playing low latency live streams with small target buffers (in the realm of 3s or less) , there are inevitable perturbations in segment delivery which can offer exceed the buffer duration. Even as the player restarts as quickly as possible, as the stream progresses the live latency increases by the sum total of all rebuffers that have occurred, causing unacceptable latency within a short peri

[2018-05-30 15:35] wilaw opened #2601 "Improve logging"
The current dash.js framework produces a flood of log information. It can be turned off entirely or consumed in totality - there is no intermediate level. To make logging more useful in resolving issues, the following feature changes are requested:

Action: Modify logging system to be level based. It will use the following levels:
- debug: what we have today. Everything.
- info: key events (ex: se

[2018-05-30 16:01] robertbryer commented on #2588
I believe this is related to #2189 , and fast switch replacement of a segment with a higher quality is causing buffer from the next segment to be silently dropped by Safari. This is cleaving the contiguous buffer, giving us a buffer length of 0, causing us to keep downloading segments without increasing buffer length. We should either disable fast switch of segments on Safari browsers or make sure

[2018-05-30 18:38] padninja opened #2602 "Add an option to display time units as absolute for dynamic MPD with limited DVR window"
Hello,

This is a feature request to add an option to display current time and duration in absolute time units instead of relative time units when playing a dynamic MPD with a limited DVR window. So, for example, if a live stream has been running for 5 minutes with a 3 minute DVR window and I am currently watching minute 3:30, I would like the current time to read 3:30 and the duration to read 5:0

[2018-05-31 19:20] friday commented on #1746
The events seem to be working well now in my tests, but tracks are converted from `hidden` to `showing` (or regenerated if I understood your comments correctly). Seems to happen in mostly in Firefox in our case, but this could be coincidental.

Ex: https://jsfiddle.net/g0uxL0kq/1/

![screen shot 2018-05-31 at 20 43 35](https://user-images.githubusercontent.com/515120/40801528-6ce1c566-6513-11e8-80

[2018-05-31 19:36] Alexufo opened #2603 "Uncaught element is not video or audio DOM typeю v.2.7.0"
I have a problem with initialization dash.js player v.2.7.0

Alll works fine but when I switch from from 2.6.8 to .2.7.0

I got

`Uncaught element is not video or audio DOM type!   ideoModel.js:116`

My code.
[code]
This is actual on Opera 53.0.2907.68  and Firefox 62.0a1
When I come back from 2.7.0 to 2.6.8 problem is absent.

[2018-05-31 21:15] epiclabsDASH commented on #2603
Related with #2494 although I can't reproduce the error myself. I will try again replicating exactly the same app. Thanks for reporting.

[2018-05-31 21:45] epiclabsDASH commented on #2602
@padninja, that sounds a bit confusing to me. In the scenario that you describe, showing current time as 3:30 sounds like a reasonably requirement (current time relative to stream start time) but don't see the reason behind showing 5:00 as the duration. That's not the duration of the stream but for how long the stream was running. In this case I would still understand the duration as 3:00.

By the

[2018-06-01 09:29] nigelmegitt commented on #2602
I also have found the timings confusing in this case. An analogy would be my PVR, which allows me to record something and play it back simultaneously, and during playback pause, rewind etc. During recording the end time keeps increasing, by 1 second per second, until the recording is complete, when the end time remains static (being the duration of the recording). This approach could make sense fo

[2018-06-01 12:38] ut0mt8 commented on #2574
OK I will open a new issue on a specific problem with clear key on dashjs.

[2018-06-01 12:38] #2574 closed

[2018-06-01 13:29] padninja commented on #2602
Sorry for the confusion. I guess duration wasn't the right term. For a DVR window I basically want the control bar to show the start and end times of the DVR window as the stream progresses. The start and end time would be relative to the stream start time. Also, the current playback position within that DVR window would be relative to the start as well.  Maybe duration of the window could be disp

[2018-06-01 14:13] ut0mt8 opened #2606 "DRM Common encryption clear key problem"
##### Environment
- [X] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occu

[2018-06-01 14:15] ut0mt8 commented on #2606
Another bug is I never achieved to make working clear key with direct key on the javascript :

[code]

[2018-06-01 15:49] epiclabsDASH opened #2607 "BUFFER_EMPTY not being fired in some situations"
Issue coming from: https://groups.google.com/forum/#!topic/dashjs/qgOZKAlprbQ

Looking at source code, seems there is a possibility of don't triggering BUFFER_EMPTY events when  there are rebuffering situations. We are checking if we are suffering rebuffering in the following situations:
- When a buffer is remove from the SourceBuffer.
- When there are playback progression or time update events.

[2018-06-01 16:36] ut0mt8 commented on #2606
Argh base64 base64url mess... so specificaly on Chrome (?) the key on the dashjs need to be base64url encoded !

[2018-06-01 16:37] ut0mt8 commented on #2606
so let's close it but we should update some doc somewhere...

[2018-06-01 16:37] #2606 closed

[2018-06-02 09:20] Alexufo commented on #2603
I attach isolated html page.
[c.zip](https://github.com/Dash-Industry-Forum/dash.js/files/2064835/c.zip)

[2018-06-02 09:59] bbcrddave commented on #2603
Interesting - case is retained for XHTML docs (see https://developer.mozilla.org/en-US/docs/Web/API/Element/tagName), so a `toUpperCase` or similar solution would be needed in order to handle this case.

[2018-06-03 14:01] dvdobrovolskiy commented on #2551
Got this in 2.7.0

[834306] [StreamController][onPlaybackStarted]
dash.all.min.js?ver=1.0:18 [834306] [ScheduleController][ video ] start denied
dash.all.min.js?ver=1.0:18 [834306] Native video element event: waiting
dash.all.min.js?ver=1.0:18 [838716] Native video element event: pause
dash.all.min.js?ver=1.0:18 [838717] [StreamController][onPlaybackPaused]
dash.all.min.js?ver=1.0:18 [879981] Nati

[2018-06-03 15:02] dvdobrovolskiy opened #2609 "La is null"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-06-03 18:31] epiclabsDASH commented on #2609
@dvdobrovolskiy, I am sorry but I can't find any line in dash.js source code that matches with `var c=La.getValue()`. Are you sure that error is raised by dash.js and not by your app?

[2018-06-03 18:47] epiclabsDASH commented on #2609
That stream also doesn't pass the tests done by DASH-IF Conformance tool (http://vm1.dashif.org/conformance/current/webfe/conformancetest.php). Seems there are some timing inconsistencies.

[2018-06-03 19:48] dvdobrovolskiy commented on #2609
Let me check with original stream from dashif.org

Yes, pretty sure, console mentioned dash.all.min.js:23:15153
Here peace of dash.all.min.js
var c=La.getValue(),d=Ma.getAdaptationForType(c,0,b).Representation,e=a;

[2018-06-03 20:57] epiclabsDASH commented on #2609
@dvdobrovolskiy, could you please check the same in the reference player and let me know if it also fails there (and in which line)?
Dash Reference Player: http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

[2018-06-03 21:08] epiclabsDASH commented on #2609
Could you please also paste here the lines you are putting in your webapp to initialize dash.js and attach the url? Thanks!

[2018-06-04 12:30] aescarcha commented on #2593
I can reproduce this on 2.6.8, but I don't see it happenng in 2.7 or nightly, @daemon1981 could you see if you reproduce it in the newer versions?

[2018-06-04 14:10] aescarcha commented on #2593
I've found an issue and I think it may be related, `PlaybackController.reset` is removing the `wallclockTimeIntervalId` before the interval is cleared, this causes several `WALLCLOCK_TIME_UPDATED` events to be fired if you press _Load_ multiple times.

Opening a PR for that

https://github.com/Dash-Industry-Forum/dash.js/blob/development/src/streaming/controllers/PlaybackController.js#L225

[2018-06-04 16:18] epiclabsDASH commented on #2599
For some reason I can't reproduce it anymore.

[2018-06-04 16:18] #2599 closed

[2018-06-04 16:23] #2603 closed

[2018-06-04 19:47] epiclabsDASH opened #2615 "Reorganization of samples"
In the latest f2f meeting we agreed on re-structuring/Re-layout samples page of dash.js. Samples should be easily browsable and focused on specific features. Should be split in sections, each one focused on one specific feature. Section examples:
  * Getting Started
  * Captioning samples.
  * DRM samples.
  * Low Latency samples.
  * Thumbnails samples.
  * Multi Period
  * Live
  * VOD
  * Audio

[2018-06-04 19:52] epiclabsDASH opened #2616 "Fix Functional Tests"
Functional tests are currently disabled because they are resulting in lot of false negatives (report bugs that don't exist) due to some operations ending up in timeout errors.

In the latest f2f meeting we agreed on taking the following actions with the goal of reactivating functional tests:
  * Remove parts of functional tests that cause false positives (seeking timeouts).
  * Evaluate use of hea

[2018-06-04 20:04] epiclabsDASH commented on #265
Closing as prefetching is already supported by dash.js.

[2018-06-04 20:04] #265 closed

[2018-06-04 20:07] epiclabsDASH commented on #516
Closing issue. DRM reported errors have been improved in dash.js reference player. @greg80303, in case you still think improvements are not enough, feel free to reopen this issue and explain what would you expect.

[2018-06-04 20:07] #516 closed

[2018-06-04 20:08] epiclabsDASH commented on #800
@waqarz, still this issue makes sense? Sorry, I don't understand what do you mean by fp precision.

[2018-06-04 20:13] epiclabsDASH commented on #1017
Already done. Performance measurements are done using performance.now(). Thanks!

[2018-06-04 20:13] #1017 closed

[2018-06-04 20:15] #1092 closed

[2018-06-04 20:21] epiclabsDASH commented on #1266
Already implemented. Thanks!

[2018-06-04 20:21] #1266 closed

[2018-06-04 20:26] epiclabsDASH commented on #1366
Fixed in latest versions of dash.js. Thanks!

[2018-06-04 20:26] #1366 closed

[2018-06-04 20:30] epiclabsDASH commented on #1426
Closing this issue as prefetching feature is already available in dash.js. Thanks!

[2018-06-04 20:30] #1426 closed

[2018-06-04 20:30] wilaw commented on #2615
You might also consider

- Listening/subscribing to events
- Use of the controlbar UI
- Console logging samples
- QoE monitoring and data extraction
- MS Smooth playback

[2018-06-04 20:31] epiclabsDASH commented on #1442
Closing issue because lack of feedback.

[2018-06-04 20:31] #1442 closed

[2018-06-04 20:33] epiclabsDASH commented on #1474
Already implemented and available since dash.js 2.6.8.

[2018-06-04 20:33] #1474 closed

[2018-06-04 20:34] epiclabsDASH commented on #1473
This issue is already fixed (since dash.js v.2.6.6). Thanks!

[2018-06-04 20:34] #1473 closed

[2018-06-04 20:36] epiclabsDASH commented on #1606
Closing because lack of feedback.

[2018-06-04 20:36] #1606 closed

[2018-06-04 20:38] #1671 closed

[2018-06-04 20:40] epiclabsDASH commented on #2607
Closing issue. Let's follow this in #1717

[2018-06-04 20:40] #2607 closed

[2018-06-04 20:43] epiclabsDASH commented on #1784
Closing issue. This was fixed with he new buffer management mechanism included in dash.js v2.6.6

[2018-06-04 20:43] #1784 closed

[2018-06-04 20:46] epiclabsDASH commented on #2490
Already implemented. Thanks!

[2018-06-04 20:46] #2490 closed

[2018-06-04 20:46] epiclabsDASH commented on #2486
Closing because lack of feedback. @NyuuuuOrz, please, feel free to reopen it in case you have something to share.

[2018-06-04 20:46] #2486 closed

[2018-06-05 14:53] daemon1981 commented on #2593
Thanks a lot for trying to debug this issue. Unfortunately I've got the same issue from your branch `aescarcha:fixPlaybackControllerReset`.

Here below a screenshot of the bug :

![image](https://user-images.githubusercontent.com/1859487/40983695-75cc126e-68e0-11e8-83bb-f094c7e14777.png)

The video stops one second before the end.

Here is the console.log outputs constantly repeating:
[code]

[2018-06-05 16:11] #2616 closed

[2018-06-05 18:55] dprestegard opened #2620 "Subtitle selection bug related to AdaptationSet @id with 2.6.1+"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-06-05 21:13] epiclabsDASH commented on #2601
Implemented in PR #2613 and merged.

[2018-06-05 21:13] #2601 closed

[2018-06-06 07:50] fvalleeHbbTV opened #2621 "Support for no enabled audio track(s)"
This is related to the feature request "Support for playing multi-tracks simultaneously" #1972

** AudioTrackList object represents a dynamic list of zero or more audio tracks, of which zero or more can be enabled at a time. Each audio track is represented by an AudioTrack object.**

Current implementation supports 1..1 enabled audio track  (the MediaPlayer API setCurrentTrack(track) requires a va

[2018-06-06 12:01] aescarcha commented on #2593
Should be fixed in https://github.com/Dash-Industry-Forum/dash.js/pull/2622, could you check?

[2018-06-06 13:29] nicosang commented on #2620
Hi @dprestegard ,

could you please take a look at my PR #2610 ? Does it solve your issue?

Thanks,

Nico

[2018-06-06 19:20] videojsAP opened #2625 "General Question"
Hi,
I'm trying to include dashjs through require for playing MSS content.

  var videojs = require('video.js');
  window.videojs = videojs;
  window.dashjs = require('../../custom_dash-changes/dash.all.debug');
  require('../../custom_dash-changes/dash.mss.debug');
  require('videojs-contrib-dash');

Looks like dash.all.debug is not loaded properly. Can someone please explain what  is wrong?

 **E

[2018-06-06 20:48] dprestegard commented on #2620
hi @nicosang yes it does! Any chance we can get this in a 2.7.1 release?

[2018-06-06 20:51] epiclabsDASH commented on #2620
@dprestegard, this will be part of the next release, planned for June 27th.

Thanks!

[2018-06-06 20:59] #2533 closed

[2018-06-07 03:26] luna2216 opened #2626 "Play not started when using indexRange after 2.6.5"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occu

[2018-06-07 07:11] bbcrddave commented on #2626
Very similar to https://github.com/Dash-Industry-Forum/dash.js/issues/2513.

Use `player.setSegmentOverlapToleranceTime(x);` (where x is >= to the start time of the first segment) in your application before you call `attachSource`. Or fix the media so it starts at zero.

[2018-06-07 07:40] mlprs commented on #2589
I see a similar issue, do you have any updates?

[2018-06-07 07:57] nicosang commented on #2625
Hi @videojsAP ,

the mss module, as you may know, is not included in dash.all. Can you use a line to test require for mss module :

`require('dashjs/build/es5/src/mss');`

Nico

[2018-06-07 08:42] luna2216 commented on #2626
@bbcrddave

I can see how that work.
But first it's hard to decide the value of x, also it could hurt the performance of seek.

It doesn't make sense to me that you should start getting request at time 0 when you know the start time of first segment is not 0.
Other way to fix this is in DashHandler.getSegmentRequestForTime:
https://github.com/Dash-Industry-Forum/dash.js/blob/640da2828fd212c38fcc92

[2018-06-07 14:02] qchroman opened #2627 "Audio only on IE/Edge w/ PlayReady"
Hello all,

I found an issue with audio only PR protected MPEG-DASH assets.

Following line inside ProtectionModel_3Feb2014.js causes IE/Edge to throw an error saying it can't get the length of undefined.

[code]

Made a quick fix

[code]

Which fixed the issue. Hope this helps.

[2018-06-07 15:02] #2600 closed

[2018-06-07 15:03] epiclabsDASH commented on #2627
Thanks!

[2018-06-07 15:10] epiclabsDASH commented on #2627
@qchroman, should be fixed in #2628. Thanks for reporting it.

[2018-06-07 15:16] epiclabsDASH commented on #2621
Thanks for adding it. It is not easy to manage because deactivating a track completely implies changes in the underlying SourceBuffer (otherwise playback will stall because lack of buffer). We are evaluating which changes we would need to apply and will keep you updated.

[2018-06-07 17:05] panofr opened #2629 "Subtitles in multiperiod throws "Error creating fragmentedText source buffer"."
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-06-07 17:09] qchroman commented on #2627
coolio! Thank you for the quick update.

[2018-06-07 17:09] #2627 closed

[2018-06-07 19:39] Ismael opened #2630 "Dash should cancel the chunk download if it won't be timely"
##### Environment
- [X] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occu

[2018-06-07 19:45] Ismael opened #2631 "Dash will sometimes download multiple chunks at the same time"
##### Environment
- [X] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occu

[2018-06-07 19:46] Ismael opened #2632 "Dash doesn't adapt to low bandwidth"
##### Environment
- [X] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occu

[2018-06-07 19:53] epiclabsDASH commented on #2632
Thanks for reporting @Ismael. This is currently one of my lines of research. I will keep you updated about the progress.

Thanks!

[2018-06-07 19:58] epiclabsDASH commented on #2630
@Ismael, this is part of ABR algorithm of dash.js. Specifically, AbandonRequestRule is taking care of this. I will check this as part of the research I am doing for improving the ABR algorithm. I am going to close this one and keep just one issue open to track the progress related with ABR algorithm changes (#2632).

Thanks!

[2018-06-07 19:58] #2630 closed

[2018-06-07 20:03] epiclabsDASH commented on #2631
@Ismael, could you please provide browser logs and a screenshot of browser network traces?

The way dash.js does requests is sequential, it doesn't schedule a request until the previous one was signaled as completed so what you are reporting sounds weird to me. Any info you provide will be helpful to isolate the issue.

Thanks!

[2018-06-07 20:13] Ismael commented on #2631
Here you go:
[browser.log](https://github.com/Dash-Industry-Forum/dash.js/files/2081954/browser.log)
[reference.dashif.org.har.zip](https://github.com/Dash-Industry-Forum/dash.js/files/2081958/reference.dashif.org.har.zip)

[2018-06-07 20:17] Ismael commented on #2631
Another one with my own content. I cannot publicly provide the link, but I can personally give you one to test if you wish, @epiclabsDASH .

[browser.log](https://github.com/Dash-Industry-Forum/dash.js/files/2081964/browser.log)
[reference.dashif.org.har.zip](https://github.com/Dash-Industry-Forum/dash.js/files/2081965/reference.dashif.org.har.zip)

[2018-06-08 06:28] fixverizonrrror1 commented on #2050
Any issues while using the Verizon smartphone? Are you unable to solve that issue? No need to worry about that just pick your phone and call [Fix Verizon Error Code and Messages](http://verizonsupportnumbers.com/fix-verizon-error-code-and-messages/) for the help and support. The number is Toll-free +1-888-725-1638. Anyone can call to solve the issues.

[2018-06-08 12:16] epiclabsDASH commented on #2631
Thanks for the info @Ismael. I can't reproduce the issue here so needs to do more testing (tested here in Linux/Chrome 67. Will test it on Chrome 66). Just curious. Are you configuring dash.js in any special way? I guess you are activating low latency, anything else?

If you can paste here the few lines you have used to integrate dash.js in your webapp that would be great.

Thanks

[2018-06-08 17:41] Ismael opened #2634 "Reference Player: Expose player to window"
It'd be nice if you would expose the player instance to window. That would allow us to test the API directly with the reference player.

[code]

[2018-06-08 17:51] Ismael commented on #2631
Just updated to Chrome 67 and I still see this issue happening.
Only weird change is that C67 shows the file size at start (a few bytes) and at end. C66 showed the file size increasing as the download went by.

[2018-06-10 23:05] friday commented on #1746
I removed my previous comment regarding `dash.setTextTrack()` always setting the track mode to `showing`. I guess that's what it's supposed to do. I haven't read this is the docs, but dash.js seems to load all tracks initially. So we can just listen to the [`addtrack`](https://developer.mozilla.org/en-US/docs/Web/Events/addtrack) event, and set the track's mode to `hidden`. Then they will stay tha

[2018-06-11 09:47] anettehalbestunde opened #2637 "Switch the video element for dash player (detach / attach to another video element) 2.6.4+"
We provide some kind of popout feature where the video element within a website is removed and a new video element in a new browser window should be used as replay view.
Back in DASH 2.5 (should have worked up to 2.6.3) this was no problem calling reset() and then attachView and attachSource for the new video element in the other browser window. Then changes to the attachView Method were introduce

[2018-06-11 13:13] jebj opened #2639 "Multi-period dynamic content failed to play second period"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-06-11 13:52] nicosang commented on #2629
bug fixed by PR #2633.

[2018-06-11 13:52] #2629 closed

[2018-06-12 09:01] waqarz commented on #800
@epiclabsDASH this was related to the precision and rounding issues of floating point arithmetic, if there are no such observed issues we can close this.

[2018-06-12 09:14] epiclabsDASH commented on #800
Yep, I think those possible issues were also mitigated by changes introduced by @nicosang in #2281.

Thanks

[2018-06-12 09:14] #800 closed

[2018-06-12 09:17] ShanePhelan opened #2640 "Player making lots of requests for audio segments"
##### Environment
- [X] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [] The issue occur

[2018-06-12 11:09] yogevNisim opened #2641 "Question about ultra low latency"
Hey, in my project we have a live stream produced using dashcast (after some modifications) for ultra low latency.

We see in the network that the player always request one segment before the live edge.
Why is that happening? if the segment is ready in the server side i would like it to be requested and received by the client. how do you suggest to modify the code in order to fix this. meanwhile i

[2018-06-12 12:49] mwexpway commented on #651
The e in the function definition is a parameter.
This function is a callback, called by the DASH.js which defines the argument value for e.

DASH js is not well documented.
I based the code on first answer to question here:
https://stackoverflow.com/questions/35631329/dash-js-trapping-404-errors-from-mpeg-dash-player

[2018-06-12 13:58] yogevNisim opened #2642 "Low latency current segment download"
The idea is to loose dependency on the last received segment for calculating the next one i would like to suggest adding an option for live streams that will always use the time server to get the current segment. This will prevent the user from depending on the last segment and will improve the live stream

[2018-06-12 14:00] yogevNisim commented on #651
I'm having the same problem here for 2.7.0.

Is there any solution for that?

[2018-06-12 14:01] epiclabsDASH commented on #2641
Ho @yogevNisim. Let me investigate this. That shouldn't happen. Thanks

[2018-06-12 14:01] epiclabsDASH commented on #2642
@yogevNisim, we are re-thinking the way time->segment index conversion is done. Will take your feedback into account. Thanks.

[2018-06-12 14:42] yogevNisim commented on #2641
After further investigation i can see that the error occurred after receiving 404 for a segment (even that after that the segment is found and received) - looks similar to issue #651

[2018-06-12 14:51] yogevNisim commented on #2641
After some testing i can see that when using the "+1" i'm getting to the live edge but then if a file is missing the player is stuck and not recovering gracefully - looks similar to issue #651

[2018-06-12 16:20] amitmiz commented on #2642
+1
My suggetion is to add some sort of livemode ala youtube live - when you in this mode it will request the segments based on current wall time and remote time server. However as soon as the user seeks to a none live time it will return back to how dash js currnently works (seekTarget and then incremaneting the segments index one by one)

`player.setLiveEdgeModeEnabled(boolean) => will activate t

[2018-06-13 09:06] anettehalbestunde commented on #2637
A tiny [example](http://temp.finalstage.org/dash-2637.html) where the behavior is shown. Code as follows:
[code]
Calling switchTo('videoElement1id') and then switchTo('videoElement2id') fails.
I cannot switch from one video element to another one w/o creating a new MediaPlayer instance.
While creating a new one isn't that nice because several instances attached to the player's event bus listening

[2018-06-13 15:32] amitmiz commented on #651
after investigation I made on my live stream, the player seems to stop because of the following scenario
[code]

idk if this is what everyone here expirencing but it seems that this is what causing the player to halt at least for me
@yogevNisim

[2018-06-13 22:15] yogevNisim commented on #651
@amitmiz yes, that seems to be the same problem here.

@DASHAdmin any solution found for that?

[2018-06-14 09:53] fvalleeHbbTV opened #2644 "dash.js 2.6.8+ : playback regression after changes in BufferController::appendToBuffer"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
Test cannot pass conformance due to unknown
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [] The issue observed is not mentioned on https://github.com/Dash-Industry-

[2018-06-14 12:42] fvalleeHbbTV commented on #2644
"Removed the buffer append queue control from BufferController" is fixing the issue. Thanks a lot

[2018-06-14 12:42] #2644 closed

[2018-06-14 13:55] aescarcha commented on #2631
Hi @Ismael I've been trying to reproduce this for a while and I can't, only difference I see is that I'm using Mac, maybe it's OS related?

[2018-06-14 21:28] Ismael commented on #2631
I've seen it in Linux and Windows.
Try adding latency in the network emulation. 1Mbps with 100ms should be
enough.

On Thu, 14 Jun 2018 at 10:56, Álvaro Escarcha <notifications@github.com>
wrote:

[2018-06-15 07:49] bbcrddave commented on #2631
This looks like a duplicate of https://github.com/Dash-Industry-Forum/dash.js/pull/2598?

[2018-06-15 08:16] aescarcha commented on #2631
I finally managed to reproduce it in 2.7.0, @bbcrddave I think you're right and that it's already fixed in nightly. @Ismael can you reproduce the issue in [nightly](http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html)?

[2018-06-15 10:31] aescarcha commented on #2637
It works for me up to 2.6.7, can you confirm that it doesn't work for you on 2.6.6?

[2018-06-15 10:39] foliovision opened #2647 "Some seek operations fail to complete"
##### Environment
- [?] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html

Not sure, it says:

[ Check symbol ] XLink resolving
[ Red cross symbol ] MPD validation
[ Red cross symbol ] MPD validation
[ exclamation mark symbol] mpd error log

But there are no details provided.

- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no

[2018-06-15 14:17] #2637 closed

[2018-06-15 14:19] #2632 closed

[2018-06-18 09:08] fvalleeHbbTV opened #2650 "MPD Anchors "#t=" not supporting milliseconds"
Media Fragments URI 1.0 specifies the usage of the "#t=" temporal clipping with:
 "Normal Play Time can either be specified as seconds, with an optional fractional part to indicate miliseconds," https://www.w3.org/TR/media-frags/#valid-uri-temporal (4.2.1 Temporal Dimension)

Currently dash.js is not supporting the milliseconds part, i.e if the URL contains #t=28.8 playback will start at 28s.

In

[2018-06-18 13:52] #2650 closed

[2018-06-19 07:37] fvalleeHbbTV commented on #2650
thanks a lot!

[2018-06-19 22:07] amitmiz opened #2653 "Question about availabilityTimeOffset"
As the specs says , the purpose of availabilityTimeOffset is to allow the client download a segment before its compete,
however I cant understand how the code is actucally implementing this,

I have question about the function **calcSegmentAvailabilityRange**

[code]
It seems to reduce the availabilityTimeOffset from the end time
however, isn't the end result should be that the client actually can

[2018-06-19 22:31] #2653 closed

[2018-06-20 11:15] amitmiz opened #2654 "availabilityTimeComplete false"
Hi wanted to know if there is plan to support availabilityTimeComplete set to false to enable fetching of not yet ready segs ?
As I see , currently there isn't special treatment in the code for this.

[2018-06-20 13:42] fvalleeHbbTV commented on #2647
@foliovision you can click on the "mpd error log" to check the result of the conformance (well it took me long time to find this is clickable).

 Start XLink resolving
=====================
IOException: Server returned HTTP response code: 451 for URL: https://cdn.foliovision.com/dash/linedraw.mpd
Validation not successful!

Not sure what's the meaning of this.
Not sure if this is related, but I no

[2018-06-20 14:54] #1708 closed

[2018-06-20 14:58] #2588 closed

[2018-06-20 14:59] #2593 closed

[2018-06-20 15:39] foliovision commented on #2647
Thank you for noticing it's fixed: https://cdn.foliovision.com/dash/linedraw.mpd?test=1

However the DASH Validator seems to report the same issue. But this time I can click to the "mpd error log" and I see:

[code]

That suggests following tags are incorrect - frameRate and duration attribute must be integer values.

[code]

[code]

So I prepared a new XML: https://cdn.foliovision.com/dash/linedr

[2018-06-20 18:33] KameshDevarakonda opened #2655 "Regression in nightly - Periods being skipped (ShakaPackager generated content - static MPD)"
##### Environment
- [] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html - minor violations
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
-

[2018-06-21 14:44] qchroman opened #2658 "No support of persistency on Edge"
Good day ladies and gentlemen!

Noticed one interesting thing, for some reason, there is no persistency on Edge although same setup works great on IE.

I've been testing with this page - https://test.playready.microsoft.com/Tool/PlayerHAS.

First, I have tested by opening the above page in Edge directly and entering the following to make two tests:

First gives a persistent license and further pag

[2018-06-21 21:22] epiclabsDASH commented on #2654
Hi @amitmiz. That's supported since dash.js v2.7.0 as part of its Low Latency playback support.

[2018-06-21 21:22] #2654 closed

[2018-06-21 21:36] epiclabsDASH commented on #2642
@yogevNisim, we have implemented some improvements in #2652 that affects this issue. There was a "lack of truncation issue" that was causing issues in time/remote time server sync and added extra delay. Could you please check if the problem you are experiencing is mitigated there?

[2018-06-21 21:36] #2641 closed

[2018-06-22 08:47] bbcrddave opened #2659 "Caption selection broken in nightly in reference player"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-06-22 09:34] bbcrddave opened #2660 "Log contains misleading stalled events"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-06-22 09:35] nicosang commented on #2659
Hi @bbcrddave ,

I have fixed this issue in a branch, I will provide a PR soon as possible....The origin is the fact that id parameter is optional in dash manifest.

Nico

[2018-06-22 10:52] jaltez opened #2661 "Canvas drawImage() behaviour with encrypted dash"
I am trying to use the dom video element to paint a texture inside a html canvas. When using a regular video file there's no issue, but when using dash the output is empty so it's not drawing anything.

Here's a jsFiddle example using external sources: https://jsfiddle.net/jaltez/y2feah9u/

Is an inherent icompatibility or there is any workaround?

##### Environment

- [] The MPD passes the DASH-I

[2018-06-22 11:04] bbcrddave commented on #2661
Presumably the mp4 file is not Widevine-protected whereas the DASH sample is? Unecrypted DASH streams should work fine - I swapped the encrypted sample for `https://dash.akamaized.net/akamai/bbb_30fps/bbb_30fps.mpd` and it works for me.

[2018-06-22 11:11] foliovision commented on #2647
I was able to fix the issue by providing more correct segment lengths. All the segments are 6006 ms long, with exception of the last one which is shorter, only about 3000 ms. I think we followed a recommendation to use the average segment duration. Perhaps that worked with Dash JS 2.3, but since version 2.6 it was not reliable enough.

So Dash JS could be more resilient to issues like this.

[2018-06-22 12:05] jaltez commented on #2661
Yes, that's the thing, unencrypted sources work perfectly, what's not clear is if encrypted ones are not working due to implementation, as some security block or a bug.

[2018-06-23 08:24] amitmiz opened #2664 "low latency in the realm of 0 < X < 1s"
Wanted to ask if such low live latncy is supported - becuase on my setup, the minimum latency I could get is 1secs even though the stream infrastructure supports lower latnecy than 1 sec,

I think the issue caused by the fact that dash js doesnt support such use case and wanted to make sure.

for example
During my invastigations I saw the function ```decideSegmentListRangeForTemplate```
which take

[2018-06-25 09:22] anettehalbestunde commented on #2637
You were right - the problem appeared with 2.6.7.
Confirm your fix working, thanks.

[2018-06-25 10:01] nicosang commented on #2659
fixed by #2663.

[2018-06-25 13:21] bbcrddave opened #2667 "Required segments needlessly abandoned and redownloaded in live stream on Firefox - stalls playback"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-06-25 14:02] bbcrddave commented on #2667
Looking at this with full logging turned on (note you have to tick "Verbose" in Chrome console :angry: ), this is because of `onPlaybackSeeking for audio, call fragmentModel.abortRequests in order to seek quicker`.

I don't think this should be happening at start up of a live stream, since a seek will always occur?

I also note that this is not just in Firefox - Chrome does it too (which makes sen

[2018-06-25 15:39] matthew-mahony opened #2670 "Cannot read property 'startTime' of null when loading a new live stream"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-06-25 20:19] epheat opened #2671 "Reload video at higher quality when looping"
I'm running into a problem with variable bitrate streaming and looping video. When the video first starts, it will be at a low-ish quality, and increase in quality as the video plays, depending on internet connection (this is the intended behavior). However, once the video loops, the player will reuse the cached low-quality version of the video.

My question is this: is it possible to allow the pl

[2018-06-25 21:23] epiclabsDASH commented on #2664
@amitmiz, I don't think that's possible. I have detected some "stability issues" in browsers when playing buffer goes below 0.5 seconds (they are detected and reported by the player as a buffer stall), a situation that is going to become normal when using latencies below 1 second.

Something could be done in the browser side (Chrome, Firefox, etc) to improve this behaviour but, honestly, you shoul

[2018-06-25 21:23] #2664 closed

[2018-06-26 15:00] #2620 closed

[2018-06-26 20:42] epiclabsDASH commented on #2671
Hi @epheat,

I don't think that should happen. It is true that dash.js keeps a cache with the latest downloaded segments (bufferToKeep, latest 20 seconds by default) but that's just during stream playback. As soon as video is reloaded (looping generally implies reloading the stream), cache is emptied.

The only caveat that comes to my mind is in the case you are implementing loop using a seeking o

[2018-06-26 20:45] epiclabsDASH commented on #2615
@aescarcha, thanks for the PR. It covers most we need. A few extra samples that cover: Audio only, use of the control bar and Console logging samples will be also required. Thanks!

[2018-06-26 20:46] #2642 closed

[2018-06-26 20:47] epiclabsDASH commented on #2640
I think this could be related with #2668. @ShanePhelan, could you please check if issue is still happening in nightly build? Thanks!

[2018-06-26 20:47] #2631 closed

[2018-06-26 20:48] epiclabsDASH commented on #2631
Closing issue. @Ismael, please, feel free to reopen it in case you have some feedback to share.

[2018-06-26 20:49] epiclabsDASH commented on #2625
Closing because lack of feedback. @videojsAP, please, feel free to reopen it in case you have something to share. Thanks!

[2018-06-26 20:49] #2625 closed

[2018-06-26 21:13] epheat commented on #2671
Yes, the assets we are using are shorter than 20 seconds. However, we haven't implemented any sort of special looping logic, we are just attaching the MediaPlayer to a video tag with the loop property set to true.

[2018-06-26 22:03] wilaw commented on #2671
Shouldn't the browser cache the segments independently of the player? On the second and subsequent passes, are the segments being pulled from browser cache?

[2018-06-27 06:55] aescarcha commented on #2615
@epiclabsDASH Audio only is [already there](https://reference.dashif.org/dash.js/nightly/samples/audio-only/index.html), by use of the controlbar you mean attaching the custom control bar to Dash, right?

[2018-06-27 15:10] bbcrddave commented on #2661
If you could get access to the pixels, that would seem to defeat the object of the DRM. So I can only assume that this is the intended behaviour.

Regardless, this isn't a dash.js issue so I am closing. Please feel free to reopen if you believe differently.

[2018-06-27 15:10] #2661 closed

[2018-06-27 17:34] epheat commented on #2671
When the video loops, the logging for the MediaPlayer does say 'Native video element event: seeked'. So, I suppose it does fall under the case that @epiclabsDASH mentioned in his first comment.

[2018-06-27 21:22] chanof opened #2679 "Representations are not adapted to screen on Safari/Explorer"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occu

[2018-06-29 17:48] KameshDevarakonda opened #2681 "[Possibly regression] Stream stalls (and resumes after several seconds) at period transition"
##### Environment

- [] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html - minor violations
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
-

[2018-07-02 05:50] jakubvojacek opened #2682 "DRM license wrapping in JSON"
We are planning to move from shaka player to dashjs for live content due to missing support of what shaka team calls "encoder drift" (https://github.com/google/shaka-player/issues/999).

However, we are using widevine and license & response wrapping (for shaka it's nicely described here https://shaka-player-demo.appspot.com/docs/api/tutorial-license-wrapping.html). Basically, we need to send authe

[2018-07-02 06:48] aescarcha commented on #2681
Hi @KameshDevarakonda, I was trying to reproduce this. but I get 404s on all chunks, did you remove the stream?

[2018-07-02 08:17] epiclabsDASH commented on #2671
Apart from the browser cache there is a cache mechanism based on what we already have in the SourceBuffer. We quite limited its use in the latest refactor that affected buffer management, and we are using it just for the few seconds behind playback position (20 seconds by default. Related with pruning logic).

Will, using browser cache as the cache mechanism fully makes sense. The main reason behi

[2018-07-03 12:03] zhaozhaomumu1314 opened #2684 "The custom rule doesn't work!"
Hi, guys!
I add BBA-0 algorithm in custom rule and the modifications in index.html, main.js etc, but it doesn't work !
Hope the enthusiastic one can show the whole process! Best wishes~

[2018-07-04 07:12] sara3988 opened #2686 "Type definition missing for new latency related API methods"
Type definitions missing in [index.d.ts](https://github.com/Dash-Industry-Forum/dash.js/blob/development/build/typings/index.d.ts) for `setLowLatencyEnabled` and `getLowLatencyEnabled` methods.

[2018-07-04 07:34] nicosang commented on #2686
Hi @sara3988 ,

the fix is in the PR #2677.....

Nico

[2018-07-04 07:49] epiclabsDASH commented on #2684
Hi @zhaozhaomumu1314,

What do you mean with it it "doesn't work"? rule not executed? rule not interpreted properly? rule results not taken into account?

Is there any possibility you can share rule code or an environment in which we can test it?

Any information you can provide will help us to guide you.

[2018-07-04 07:53] epiclabsDASH commented on #2686
As pointed by @nicosang, fixed in #2667 that is already merged.

[2018-07-04 07:53] #2686 closed

[2018-07-04 07:54] epiclabsDASH commented on #2682
@jakubvojacek, we are taking a look and will come back to you shortly with the best way of achieving this (license wrapping in json) in dash.js. Thanks for the patience.

[2018-07-04 08:11] sara3988 commented on #2686
Thanks! Just wondering if `setCatchUpPlaybackRate` and `getCatchUpPlaybackRate` is also fixed with some other PR?

[2018-07-04 08:15] jakubvojacek commented on #2682
@epiclabsDASH thank you, will stay tuned 👍

[2018-07-04 14:41] boris-petrov opened #2687 "[2.8.0] DataView: expected ArrayBuffer, got Uint8Array"
This is a regression from 2.7.0:

[code]

I don't have exact lines, I could get them if needed. The error under Firefox is the one in the title, under Chrome is `TypeError: First argument to DataView constructor must be an ArrayBuffer`.

In [this](https://github.com/Dash-Industry-Forum/dash.js/issues/2326) issue there is more information about our usecase (we use Clearkey encryption e.g.) - it has

[2018-07-05 09:11] nicosang commented on #2687
Hi @boris-petrov ,

I 'd like to help you but I can't reproduce the issue with streams in dash.js reference page. Is it possible that you give us acces to one of your stream?

Nico

[2018-07-05 09:21] boris-petrov commented on #2687
@nicosang - thanks for the answer! Can you try with the ones I've attached in [this comment in the other thread that I linked](https://github.com/Dash-Industry-Forum/dash.js/issues/2326#issuecomment-353101409) please? They are the same as the ones we use (they are autogenerated with ffmpeg for test purposes).

[2018-07-05 09:43] nicosang commented on #2687
@boris-petrov , could you, please, also share dash.js log messages? I don't have the same behavior that the one you described...

Thanks,

[2018-07-05 15:04] unifiedstreaming opened #2689 "Fragmented WebVTT and Sidecar WebVTT are displayed double in Chrome/Firefox, broken on Edge"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-07-05 16:17] fvalleeHbbTV opened #2690 "2.8.0: playback stalled and downloading same segment in infinite loop"
##### Environment

- [X] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
(the validator complains about profiles="urn:dvb:dash:profile:dvb-dash:2014,urn:dvb:dash:profile:dvb-dash:isoff-ext-live:2014")
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the

[2018-07-06 08:39] fvalleeHbbTV commented on #2690
about
https://github.com/Dash-Industry-Forum/dash.js/commit/0f92a6fcc5a387363d1fad22b94ef34d7fd9722f

I guess the following error is related:

Uncaught TypeError: Cannot read property 'length' of null
    at checkBufferGapsAfterAppend (<anonymous>:36053:78)
    at Object.afterSuccess (<anonymous>:36007:21)
    at executeCallback (<anonymous>:36095:17)
    at SourceBuffer.updateEndHandler (<anonymo

[2018-07-06 13:43] nicosang commented on #2687
one more question for you @boris-petrov : do you use the call to setProtectionData function?

[2018-07-06 13:50] boris-petrov commented on #2687
@nicosang - no, we don't use that particular function. We do exactly what I've written [in this comment from the other thread](https://github.com/Dash-Industry-Forum/dash.js/issues/2326#issuecomment-350182467). As for the log messages - I'll do that most likely on Monday. Thanks for the support!

[2018-07-06 18:09] RolandLeFranc commented on #2658
**Microsoft Edge as all Windows 10 applications has support for persistent licenses.**

A test using the PlayReady public test server available here http://test.playready.microsoft.com/Tool/PlayerHAS can demonstrate it.

If you experience a particular player systematically requesting a new license when trying to play back content for which a previous license has already been acquired, it could be

[2018-07-06 19:32] qchroman commented on #2658
@RolandLeFranc, that's exactly why I opened this ticket.

Seeing that MS test player supports persistency and it is a hasplayer which is based on the dash.js player, I thought I would open an issue here asking dash.js community about what I may be missing in my setup and/or what is required for the dash.js to support persistency on Edge.

[2018-07-06 19:35] qchroman commented on #2658
@RolandLeFranc, also, thank you for being responsive about this, I really appreciate your help on this question.

[2018-07-06 23:24] wilaw opened #2693 "Enable synchronization through tighter rate control"
There are many solutions coming to market which use synchronized playback between clients as a differentiating factor. For betting and gambling applications, having tight sync between clients is a legal requirements to avoid giving an advantage to a subset of users who may be ahead of others. We would like dash.js to be able to offer a simple syncrhonization feature

Goal: synch clients to within

[2018-07-09 07:59] bbert commented on #2658
Hi,
AFAIK Edge support persistence license but only with PlayReady CDM which is available through MS-prefixed EME API, that is through ProtectionModel_3Feb2014.
MS-prefixed PlayReady CDM is available on IE11 and Edge, but on Edge since both EME versions (3Feb2014 and 21Jan2015) are available, the ProtectionModel_21Jan2015 is used by default.
You can have a look at issue #2478 where I described how

[2018-07-09 09:53] fvalleeHbbTV commented on #2690
@aescarcha thanks I will test asap!

[2018-07-09 11:02] boris-petrov commented on #2687
@nicosang - here are the logs:

[code]

Actually, now that I see, there is another error before the one I've specified in this issue thread - `Failed to retrieve clearkeys from ProtectionData`. Any ideas why that me and what may have changed between `2.7.0` and `2.8.0`?

[2018-07-09 11:12] bbcrddave commented on #2687
Looks to me like that is caused by the `debug.warn` call - there's no `warn` method on `debug` - a `getLogger` or similar is needed I imagine.

[2018-07-09 11:51] boris-petrov commented on #2687
So I am to understand that this indeed is a bug, right? Not some wrongdoing on my side?

[2018-07-09 11:57] nicosang commented on #2687
There is indeed a small bug in the logger of KeySystemW3CClearKey. I'm fixing it....

[2018-07-09 12:33] qchroman commented on #2658
That's interesting. I will try this today and let you know my results. I thought that unprefixed EME is something newer that should have been implemented by all and should also support persistency through sessionType.

So, If I understand this correctly, if Edge will decide to move away from prefixed API, the persistency will be lost for it? They would need to implement

[2018-07-09 13:02] qchroman commented on #2658
Alrighty, doing

[code]

didn't help. The dash.js was still selecting the 2015 model because of this inside the protection.js:

[code]

The first if was failing because the onencrypted and mediaKeys were null. After changing to this

[code]

I did get the playback on Edge and persistency was there. But, after removing your hack and leaving my code as mentioned above, the player was failing with "O

[2018-07-09 15:06] nicosang commented on #2687
@boris-petrov , could you, please, take a look at my PR? Does it fully fix your issue?

thanks,
Nico

[2018-07-09 15:38] sevagsim opened #2696 "Regression: Text tracks not enabling when using dashjs 2.8.0 with videojs (no issues found with dashjs 2.7.0)"
Hey all,

The following file has 4 text tracks on it, 2 english and 2 spanish.  I can't enable the 1st `en` caption track when using dashjs 2.8.0 with videojs.

**Repro steps:**

1. Visit http://videojs.github.io/videojs-contrib-dash/
2. Load https://d2xk91j6i9s5cq.cloudfront.net/test/multi_subtitle_dash/02/presentation-static.mpd
3. Select first `en` text track

**Expected**

Captions should show

[2018-07-09 15:47] fvalleeHbbTV opened #2697 "feature request: public API to retrieve the timeline offset (a.k.a startDate)"
As far as I know there is no easy way to retrieve the timeline offset (i.e. for a live stream the date and time corresponding to the zero time in the media timeline. This is needed by applications to use the currentTime).

It would be nice to have a public API matching the behavior of the HTMLMediaElement getStartDate() method (from W3C drafts)
https://www.w3.org/TR/2018/SPSD-html5-20180327/single

[2018-07-09 16:08] ldayananda commented on #2696
From my investigation on the video.js side, I noticed that dash.js does not add captions to tracks that are not enabled:

https://github.com/Dash-Industry-Forum/dash.js/blob/a9e4ba9bfeeea95385c6e4a4a4b6b47dfed51511/src/streaming/text/TextSourceBuffer.js#L413

Since we don't enable a track on player load(we do not know which track should be enabled and default to all being disabled on load) the cap

[2018-07-09 20:52] swenkeratmicrosoft commented on #2658
Both prefixed and unprefixed fully support persistent licenses.  There is no need to force one or the other for your scenario.

The root cause is actually a bug (or intentional feature?) in dash.js in ProtectionModel_21Jan2015.

After creating the key session, the dasj.hs code for this protection model immediately, explicitly, and invariably starts license acquisition.  This means it will acquire

[2018-07-10 00:37] KameshDevarakonda commented on #2681
Sorry..I was on vacation. Here is another example stream:

https://truman-qa.sandbox.google.com/ondemand/dash/content/2480496/vid/tosr2-clear/ATL/streams/93123a9a-f2ff-493a-8685-55371246309e/manifest.mpd

This stream will expire in 24 hours. I will try to see if I can bring up a stream with longer expiration time.

[2018-07-10 06:39] boris-petrov commented on #2687
@nicosang - yes, this branch fixes the issue.

[2018-07-10 08:17] bbert commented on #2658
In ProtectionModel_21Jan2015, indeed we create a key session and then start license acquisition since no MediaKeySession id is provided.
The way to take benefit of persistent license, according to EME spec, would consist in setting MediaKeySystemConfiguration with sessionTypes set to 'persistent-license'. Then once license has been acquired a first time, the MediaKeySession has to be recorded at a

[2018-07-10 09:28] nicosang commented on #2696
Hi @aescarcha, @sevagsim and @ldayananda ,

could you, please, take a look at my PR #2691 ? I pushed one more commit in order to fix this issue. The main idea is to create textTracks for fragmented and not fragmented subtitles in the initialize function of TextSourceBuffer. ScheduleController will not send init request if the subtitles are disabled. So, subtitle file will be downloaded only when t

[2018-07-10 10:02] nicosang commented on #2529
Hi @Wayne-Morgan ,

could you, please, take a look at PR #2691 ? Can you tell me if it solves your issue?

thanks,
Nico

[2018-07-10 14:21] aescarcha commented on #2681
Are you sure it's 24 hours? I get a 404 in [this chunk](https://truman-nightly.sandbox.google.com/segments/redirect/c/init.mp4?orig=https%3A%2F%2Fr2---atl14s48.googlevideo.com%2Fvideoplayback%3Fid%3D83a3a47b850239b6%26itag%3D340%26source%3Ddclk_video_ads%26cmbypass%3Dyes%26ratebypass%3Dyes%26clen%3D240744%26mime%3Daudio%2Fmp4%26acao%3Dyes%26ctier%3DL%26gir%3Dyes%26lmt%3D1531109035920523%26xtags%3D

[2018-07-10 14:56] aescarcha commented on #2696
Hi @nicosang

I can confirm your last commit fixes the issue, tested using videoJS too :) cheers

[2018-07-10 15:14] sevagsim commented on #2696
@nicosang I found a bug with this implementation.  Trying to produce easy repro steps

[2018-07-10 15:29] jlm123hi opened #2700 "Feature Request: Load the Message Data for EventStream Events"
Currently, dash.js supports the surfacing of EventStream events. But currently, the messageData field of the Event is never populated.

I think it should be populated with the payload that comes in between the <Event></Event> tags. It seems like  the edit would need to be made around line 800 of DashManifestModel.js in the GetEventsForPeriod function.

Thanks!

[2018-07-10 15:48] sevagsim commented on #2696
@nicosang The easiest way I was able to reproduce this issue was with a DASH encrypted manifest file which I cannot share.  But I created a sample manifest file with only TextTracks and no video that is not encrypted that has the same issue as the encrypted manifest.  This way you can see what is happening.

The previous manifest that I posted in this issue doesn't have this issue.

But the follow

[2018-07-10 17:16] KameshDevarakonda commented on #2681
You can use following command to generate the stream (whenever you get 404s). It seems like I overestimated how long they will be live. I apologize for that.

curl -X POST -d "" "https://truman-qa.sandbox.google.com/ondemand/dash/content/2480496/vid/tosr2-clear/streams" | python -mjson.tool

In the json response,  "stream_manifest" field gives the MPD link.

[2018-07-10 18:18] swenkeratmicrosoft commented on #2658
Similar to Widevine, you do need to reopen the MediaKeySession using the ID of the MediaKeySession on which you originally acquired a license.  If you do so but either the Load method fails or playback fails to start, can you send me a link to a public webpage that reproduces the problem?  I'll be happy to dig in further to see why the acquired persistent license is not being used for playback.  (

[2018-07-11 07:40] bbert commented on #2658
Please check and try this branch: https://github.com/Orange-OpenSource/dash.js/tree/playready-persistence
Using sample dash-if-reference-player, it tries to reload a MediaKeySession with ID of the session with which the license has been originally acquired.
But then we get an "InvalidAccessError"
Steps to reproduce:
1- load a stream with PlayReady license
2- stop the stream
3- reload the stream (w

[2018-07-11 08:13] richardngn opened #2702 "The player does not end properly after replaying the same video"
##### Environment

- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occ

[2018-07-11 08:15] nicosang commented on #2696
thanks @aescarcha and @sevagsim for your feedbacks.
@sevagsim, I take a look at it.

Nico

[2018-07-11 08:42] jakubvojacek commented on #2682
@epiclabsDASH any update on the feature request above? Do you need some examples of what I mean?

Thank you

[2018-07-11 09:44] nicosang commented on #2696
@sevagsim ,

this first issue I see in your sample stream is that you have many representations with the same id. According to the ISOIEC_23009-1_2012 spec, you can have the same id if `the Representation is functionally identically to another Representation`. In the initCache class, we use streamId and representationId to store init datas....So when you select the second 'en' track, no request is

[2018-07-11 10:09] fvalleeHbbTV opened #2704 "[2.8.0] TypeError: Cannot read property 'getStreamInfo' of undefined"
I've a tricky case of a (local) dynamic stream where periods are added dynamically by the server when the manifest is updated and I get the following exception :

    at compareCodecs
    at Object.isCompatibleWithStream
    at onStreamCanLoadNext

The problem occurs because the manifest duration is infinity but the manifest contains only 2 periods.
(In DashAdapter.js  convertPeriodToStreamInfo se

[2018-07-11 10:17] bbcrddave commented on #2704
Can you share examples of the manifest in its various states (before and after update etc)?

[2018-07-11 11:53] fvalleeHbbTV commented on #2704
[2704.mpd.zip](https://github.com/Dash-Industry-Forum/dash.js/files/2184270/2704.mpd.zip)

Looks like the mpd is not valid ("If MPD is of type "dynamic" publishTime shall be defined") but I don't think it's impacting. The issue occurs when the first period is playing and dash.js tries to preload the 2nd period (at this point the manifest contains only 2 periods but I assume that's enough to play).

[2018-07-11 13:31] fvalleeHbbTV commented on #2704
Yes I confirm #2705 is fixing the issue. Thanks a lot!
Fabien

[2018-07-11 13:31] #2704 closed

[2018-07-11 14:10] acrilexstudio opened #2707 "Old Symantec certificate in use for the CDN"
Hi!

The SSL certificate used on the CDN (https://cdn.dashjs.org) is still an old one issued by Symantec. As [Google announced a while ago](https://security.googleblog.com/2018/03/distrust-of-symantec-pki-immediate.html), the CA will be distrusted in completely in Chrome 70 (it throws a warning since Chrome 66).

Thanks!

[2018-07-11 14:40] sevagsim commented on #2696
@nicosang We are using different `id` in the `<AdaptationSets />` that wrap the `<Representation />` though.

[code]

Isn't the spec specific to a particular `<AdaptationSet />` ?

[2018-07-11 14:48] bbcrddave commented on #2696
No. The specification is very clear that `Representation@id` is unique _per `Period`_:

`The identifier shall be unique within a Period unless the Representation is functionally identically to another Representation in the same Period.`

[2018-07-11 14:55] nicosang commented on #2696
The problem is that id attribute of AdaptationSet is optionnal, so we can't use it to store init segments in InitCache class.

[2018-07-11 14:59] sevagsim commented on #2696
@nicosang @bbcrddave Thank you for your responses.  I agree we should be using different IDs in the `<Representation />`

[2018-07-11 17:29] swenkeratmicrosoft commented on #2658
If you're already reproducing the problem, do you not already have a website that directly does so, i.e. I visit http://foo.bla/myrepro.html and get InvalidAccessError?  This would definitely accelerate my investigation.

Thanks,

-Sam Wenker with the Microsoft PlayReady team

[2018-07-11 19:58] swenkeratmicrosoft commented on #2658
Ok, I'm having trouble reproducing the InvalidAccessError.

Here are the steps I performed.
1. Stand up the sample player using the branch bbert referenced in his last post.
2. Run sample player.  Show Options and set DRM KeySystem to com.microsoft.playready.
3. Uncheck "loop".
4. Set content file and license URL to a protected piece of content and a license acquisition URL that yiels a persistent

[2018-07-12 06:44] jakubvojacek opened #2708 "Live MPD unplayable with empty segment timeline for text track"
- [x] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [x] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [x] There are no network errors such as 404s in the browser console when trying to play the stream
- [x] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [x] The issue occurs in the latest r

[2018-07-12 08:31] bbcrddave commented on #2708
It passes the validator, but I don't think this is valid - you state there is an empty `SegmentTimeline`, but that element is not included here, only a `SegmentTemplate` with no `@duration`.

The spec is clear that `If the Representation contains more than one Media Segment, then either the attribute @duration or the element SegmentTimeline shall be present`. Neither of those things is true. Addit

[2018-07-12 08:49] nicosang commented on #2708
Hi @jakubvojacek and @bbcrddave ,

I rather agree with David. However, the issue seems to be solved by adding a small test of availabilityWindow. @jakubvojacek could you, please, test it on your side?

thanks,

Nico

[2018-07-12 09:34] pedosb commented on #967
If anyone is still interested in this topic, there is a recently published article/project that provides an opensource DASH player which does not decode the video [1,2].

[1] https://dl.acm.org/citation.cfm?id=3208135
[2] https://github.com/uccmisl/dashc

[2018-07-12 14:24] aescarcha commented on #2681
Hi @KameshDevarakonda I think there's something wrong with the MPD, dash reports that the first period ends at 30.03, but in the MPD it says 30.139. I made it run just by correcting that.

[2018-07-12 15:06] nicosang commented on #2700
Hi @jlm123hi ,

have you a sample stream to provide in order to help us to implement this feature?

Nico

[2018-07-12 18:20] jlm123hi commented on #2700
Here @nicosang, I modified the default MPD from the reference player to add the EventStreams.

`https://storage.googleapis.com/josephmarques-test/bbb_30fps.mpd`

[2018-07-12 22:55] KameshDevarakonda commented on #2681
In the first period all representations are not of equal duration.

Audio representation with ID 6 has 30.139s duration where as 7 & 8 have 30.093s.
All video representations have 30.03s duration.

We report max duration of all representations as period duration in our MPD.

Shouldn't the player be able to jump small gaps when small gaps option is checked?

[2018-07-12 23:49] hengshaochen opened #2711 "Tile-player with adaptive bitrate control (want to use one player to play tiles video)"
Hi there,

I want to use "one" dash.js media player to play tile video with adaptive bit-rate control (DASH). I have read https://github.com/Dash-Industry-Forum/dash.js/issues/2352 and https://github.com/Dash-Industry-Forum/dash.js/issues/2045 . I follow my understanding to do the following steps:

I have 9 tiles and each tile have only 1 adaptationSet. Therefore, I put viewpoint in each adaptatio

[2018-07-13 01:46] luna2216 opened #2712 "activeEvents could be removed in EventController"
https://github.com/Dash-Industry-Forum/dash.js/blob/a9e4ba9bfeeea95385c6e4a4a4b6b47dfed51511/src/streaming/controllers/EventController.js#L205-L207

Why are we saving the activeEvents. Seems the only thing we do with activeEvents is remove the event after the duration.

https://github.com/Dash-Industry-Forum/dash.js/blob/a9e4ba9bfeeea95385c6e4a4a4b6b47dfed51511/src/streaming/controllers/EventContr

[2018-07-13 07:33] bbcrddave commented on #2700
This seems to have been an oversight in the original implementation. I had some code lying about from some enhanced event handling which was never merged so I've created PR #2713.

@jlm123hi please could you confirm the proposed change fixes the reported issue?

[2018-07-13 08:23] bbcrddave commented on #2712
I suspect that the idea was that, in order to be able to do something useful when the event ends, a reference to any active event needs to be kept around. Currently `removeEvents` just prints a message, but in future perhaps we may wish to perform other actions such as dispatching JS events for example.

Alternatively, it could be useful to expose this via some getter so applications could query t

[2018-07-13 09:11] bbert commented on #2658
Hi,

you can test the branch https://github.com/Orange-OpenSource/dash.js/tree/playready-persistence here: http://orange-opensource.github.io/dash.js/samples/dash-if-reference-player/index.html

I have also published a screen capture illustrating the InvalidAccessError: http://orange-opensource.github.io/dash.js/edge-persistence.mp4

I have used the smoth streaming test stream SuperSpeedway (http:

[2018-07-13 14:22] jlm123hi commented on #2700
It fixes it perfectly, thank you!

[2018-07-13 16:03] aescarcha commented on #2681
It's able to jump small gaps, but that's probably not working in the period transition. It's designed to jump gaps if the segment is a bit shorter than reported.

[2018-07-13 18:42] swenkeratmicrosoft commented on #2658
The  MediaKeySessionType being passed to MediaKeys.createSession is "temporary" (or is not being passed - it defaults to "temporary" if not specified).

For more information:
http://www.w3.org/TR/encrypted-media/#dom-mediakeysessiontype

Try changing the code to pass "persistent-license" to MediaKeys.createSession.  Does that resolve the issue?

Thanks,
-Sam Wenker with the Microsoft PlayReady tea

[2018-07-14 04:47] luna2216 commented on #2712
@bbcrddave
Currently my problem is this is consuming too much memory when playing channels with event and making Chromecast crash.

[2018-07-14 08:07] jakubvojacek commented on #2708
@nicosang thank you for the PR. I will try to talk to shaka packager team to fix this issue on their side.

[2018-07-14 08:07] #2708 closed

[2018-07-16 09:55] bbert commented on #2658
I have already tested, I forgot to mention this, but when we try to create session with 'persistent-license' session types, then we get a "Not supported error".

I have update the sample (http://orange-opensource.github.io/dash.js/samples/dash-if-reference-player/index.html) so that you can test. Please use stream from the list "Smooth Steraming > Super Speedway + PlayReady DRM"

[2018-07-17 07:42] bbert commented on #2658
!?! Where this "com.microsoft.playready.recommendation" key system is officialy documented?
I haven't found any reference to this key system string on the web!
How can we know about this?

I tried and then yes it works with dash.js. You can check here: http://orange-opensource.github.io/dash.js/samples/dash-if-reference-player/index.html

Why this CDM implementation is not used by default in Edge

[2018-07-17 09:35] bbert commented on #2658
BTW, how can we support CustomData with non-prefixed EME versions on Edge?
There was an issue on this topic (#876), but the solution at that time was similar, i.e. using MS-prefixed version of EME.

[2018-07-17 12:01] jakubvojacek commented on #2682
To clarify, this is how should the license request look like, for example:
[code]
and this is how the license response looks like
[code]

Do you think something like this would be possible?

Thank you

[2018-07-17 18:09] #2687 closed

[2018-07-17 18:57] swenkeratmicrosoft commented on #2658
Regarding documentation: To be honest, I was not aware that this keysystem string was undocumented.  :)  I will investigate why that is the case and what plans for documentation exist.

Regarding the default key system string: Short answer: backward compatibility.   Long answer: There are a large number of existing websites that use the com.microsoft.playready key system string and have javascript

[2018-07-18 07:06] bbert commented on #2658
Can you provide the implementation differences regarding EME spec between the two key systems?

As you may know, most of websites already use some polyfills to manage different EME implementations in the different browsers. For example we have to use polyfill for the same key system com.microsoft.playready to handle EME differences between IE11 and Edge.
So in my opinion, it would be more relevant

[2018-07-18 07:08] bbert commented on #2658
Thanks for your answer regarding CustomData, I do agree with the recommendation to pass this custom data to the licenser server using other means.

[2018-07-18 10:20] #2700 closed

[2018-07-18 10:51] qchroman commented on #2658
Good morning, gentleman!

First of all, I want to thank you for working on this issue, for valuable comments and for digging so deep that undocumented features were revealed :)

I wanted to understand what are next steps for dash.js team. @bbert , are you going to update the player to allow saving and loading the session as you did for Widevine, or do you have something else in mind?

Thank you.

[2018-07-18 11:41] bbert commented on #2658
Waiting for documentation to deeply understand the differences between the key systems.

But I would say that the solution would simply consist, in ProtectionModel_21Jan2015, in requesting key system access with system string 'com.microsoft.playready.recommendation' when key system is PlayReady.
But the question is: how to ensure backward compatibility with browsers that support ProtectionModel_21

[2018-07-18 20:15] swenkeratmicrosoft commented on #2658
Regarding public documentation:  The Microsoft PlayReady team is working with the Microsoft Edge team to add documentation for the com.microsoft.playready.recommendation key system string.  While I don't have a specific timeframe for when this documentation will become available, it will be found on the following site when it does.  It is expected that both a blog post and more detailed documentat

[2018-07-19 09:43] bbert commented on #2658
Hello @swenkeratmicrosoft,
Thanks for your feedback.

Another question: is the uuid for 'com.microsoft.playready.recommendation' key system the same as for the   'com.microsoft.playready' key system?

While thinking how to manage the two key systems in dash.js, the solution that I retained is (in ProtectionModel_21Jan2015) to request access to key system  'com.microsoft.playready.recommendation':

[2018-07-19 13:39] fvalleeHbbTV opened #2715 "PlaybackController seeking after playback started on slow devices causing glitch"
##### Environment

- [X] The MPD passes the DASH-IF Conformance Tool on http://dashif.org/conformance.html
- [X] The stream has correct Access-Control-Allow-Origin headers (CORS)
- [X] There are no network errors such as 404s in the browser console when trying to play the stream
- [X] The issue observed is not mentioned on https://github.com/Dash-Industry-Forum/dash.js/wiki/FAQ
- [X] The issue occ

[2018-07-19 15:00] nicosang commented on #2702
Hi @richardngn ,

the main issue in the dash.js end detection is that datas are still pushed in sourceBuffer after the call to endOfStream. By doing it, native ended event will never be sent. I think that it could be interesting to test isBufferingCompleted in ScheduleController before requesting any new segment.

I will provide a new PR in order to test this idea.

Nico

[2018-07-19 19:15] swenkeratmicrosoft commented on #2658
I'm afraid I don't know what you mean by "uuid" for a key system - e.g. I don't see anything in the EME spec regarding a uuid.  Could you provide more information?

Regarding additional test content:  The PlayReady Test Server allows you to acquire a license for *any* correctly-formatted content as long as you know the content key.  Here's a sample license acquisition URL.

http://test.playready.m

[2018-07-20 07:48] fvalleeHbbTV commented on #2715
Hi @nicosang
I also think the seek can be skipped if 0. I will do more tests and provide feedback. Thanks!
Fabien

[2018-07-20 14:02] #2715 closed

[2018-07-20 14:09] bbert commented on #2658
for uuid and schemeIdUri please check this page: https://dashif.org/identifiers/protection/

[2018-07-20 15:03] nicosang commented on #2670
Hi @matthew-mahony ,

is this issue still occur with last development version? The PR #2672 added a test on request definition in setLiveEdgeSeekTarget function. I'm not sure that it fixes your issue but the startTime of null error will not happen.

Nico

[2018-07-20 22:01] swenkeratmicrosoft commented on #2658
Ah, you meant the Dash Industry Forum identifier.  :)
Yes, everything from that standpoint is the same for 'com.microsoft.playready.recommendation' versus 'com.microsoft.playready'.

-Sam Wenker with the Microsoft PlayReady team

[2018-07-23 09:50] richardngn commented on #2702
Hi @nicosang

Seems like your PR fixed the issue, I failed to reproduce the bug using your code.
Thank you very much.

Richard

[2018-07-23 14:06] Laci86 commented on #1050
Hi, does 2.8 suffer from this still? We've seen reports that playback suddenly stops on Samsung Tizen TVs with the error code: SOURCE_NOT_SUPPORTED.
Sry can't provide MPD example file.

[2018-07-25 22:30] #2639 closed

[2018-07-27 15:58] dovelive opened #2721 "Specific dash drm stream can't be played with dash.js meanwhile shakaplayer plays it."
I have a specific dash drm stream which was made with wowza and shaka extension.
We built a extension module for Wowza regarding the following article.
https://www.wowza.com/docs/how-to-test-mpeg-dash-webm-encryption-using-shaka-player
It was simply encrypted with clear key.

It can be played with shaka player as well as jwplayer.
However it can't be played with dash.js.

So I just want to know if

[2018-07-28 00:57] dovelive commented on #2249
Hi. @Murmur

I have a question on this issue.
Is that possible to play the encrypted drm stream using dash.js and clearkey only?
For example, I made the test html based on your example html code.

Here is the code.
[code]

However it does not work and gives me the error below.
[code]
I tried to change some parameters, but I couldn't play that stream using dash.js.
So I am wondering if that error i

[2018-07-30 10:32] Murmur commented on #2249
Please see this bug report it may be a bug in a current Dashjs player release.
https://github.com/Dash-Industry-Forum/dash.js/issues/2687

[2018-07-30 10:52] Murmur commented on #2687
Please see this example player, I can use laurl for ClearkeyDRM system but kid:key option does not work. I have used a latest and nightly dash.js script. Is this fix still missing from the nightly build?

https://m.dtv.fi/dash/index_clearkey2b.html?video=21

mpd=https://m.dtv.fi/dash/dasherh264v2/drm/manifest_clearkey.mpd
kid=QyFWeBI0EjQSNBI0EjQSNA==
key=EjQSNBI0EjQSNBI0EjQSNA==

[2018-07-30 12:10] dovelive commented on #2249
It seems so.
It works with the laUrl, but not working with clearkey kid/key pair.

[2018-07-31 07:49] bbcrddave commented on #2721
As noted above, the keyid and key provided in the OP's example are invalid because they are not base64url encoded.

Once the protection data is fixed up and the fix from #2326 is mirrored in the other half of the `if (keySystem)` statement in `selectKeySystem`, the content plays.

This may or may not be the right solution - it may be preferable to pass the pssh to the CDM, in which case the fix co

[2018-07-31 08:18] dovelive commented on #2721
Hi. @bbcrddave

I've changed the keyid to base64 encoded string, but it still not worked.
Would you like to commit or upload the patch that you are going to apply for fixing this issue?

[2018-07-31 09:10] bbcrddave commented on #2721
The key also needs to be base64url encoded (ie the `+` needs to be replaced with a `-`).

I'm not proposing a PR because I think some more discussion, with people who understand this area of the code better, about what the best way to fix this is probably needed. @epiclabsDASH authored #2436  so I think he might be the best person to start with.

[2018-08-01 22:57] epiclabsDASH opened #2723 "Minimum latency when using streams with audio tracks"
In low latency mode, when playing streams that have audio tracks, there is no way of getting live latencies below 2-2.5 seconds. That's due to the behaviour of fetch API and ReadableStreamDefaultReader, that raises download data events just when one of those things happen:
- There is enough data in the buffer. The meaning of "enough" bytes depends on the browser implementation.
- There is no enoug

[2018-08-02 08:41] karlg-arris commented on #2658
@swenkeratmicrosoft

There is also a key system available on some devices  - 'com.microsoft.playready.hardware' that enables SL3000 support.

Is there a similar update there (e.g. 'com.microsoft.playready.hardwarerecommendation' )  so that latest EME and SL3000 can be supported?

[2018-08-02 16:34] waqarz opened #2724 "Need to update DASH event API and documentation"
Following up on email discussion at https://groups.google.com/forum/#!topic/dashjs/5-Np_mQjlQ8

1. API being used for DASH event listing is: MediaPlayer.on and MediaPlayer.off, but the API documentation of these at http://cdn.dashjs.org/latest/jsdoc/module-MediaPlayer.html does not document this functionality. Rather, the type string is prescribed to be "MediaPlayerEvents".

2. Ideally, MediaPlaye

[2018-08-02 19:14] swenkeratmicrosoft commented on #2658
Yes.  For com.microsoft.playready.recommendation, you can request Hardware DRM (i.e. SL3000) as follows.

In any MediaKeySystemMediaCapability for a video codec for which you desire Hardware DRM (SL3000), simply specify robustness="3000", and the EME API in Edge will respond per spec based on whether it's supported for that codec.

https://www.w3.org/TR/encrypted-media/#dom-mediakeysystemmediacapa